Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit bddcd2136bd9e25be9bb36103742b1aa95aa51b4
  website/content/docs/waypoint-hcl/syntax/index.mdx
Labels: website

backport of commit bddcd2136bd9e25be9bb36103742b1aa95aa51b4
  website/content/docs/waypoint-hcl/syntax/index.mdx
Labels: website

Fixed Stanzas example
  website/content/docs/waypoint-hcl/syntax/index.mdx
Labels: website

backport of commit b7f0cd81f0ff2cd521b0513e7e9a333c2e3d9159
  .changelog/4363.txt
  internal/serverinstall/nomad.go
Labels: core

install: Fix advertise address returned during Nomad install.
  .changelog/4363.txt
  internal/serverinstall/nomad.go
Labels: core

install/docker: Set Docker socket for runner during server install to Docker.
  internal/runnerinstall/docker.go
  internal/serverinstall/docker.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

docs: Spelling fixes.
  internal/serverinstall/docker.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

core/server: only queue init ops for active projects
  pkg/server/singleprocess/service_project.go
Labels: none

Move Use Cases to top level nav
  website/data/docs-nav-data.json
Labels: website

fix path for use cases links
  website/data/docs-nav-data.json
Labels: website

move use case content directory up one level
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/use-cases/waypoint-gh-actions.mdx
Labels: website

Update builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer.go
Labels: plugin

update changelog type for PR 4246
  .changelog/4246.txt
Labels: none

Move Use Cases to top level nav
  website/data/docs-nav-data.json
Labels: website

fix path for use cases links
  website/data/docs-nav-data.json
Labels: website

move use case content directory up one level
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/use-cases/waypoint-gh-actions.mdx
Labels: website

Better vault configsourcer error handling
  builtin/tfc/config_sourcer.go
Labels: plugin

Clarifing nexted if logic
  internal/appconfig/watcher.go
Labels: core

Removing redundant empty test
  builtin/tfc/config_sourcer_test.go
Labels: plugin

Updating mdx
  embedJson/gen/configsourcer-terraform-cloud.json
  website/content/partials/components/configsourcer-terraform-cloud.mdx
Labels: website

backport of commit 8327888b1a1d4a7a6c817018aad45a0ad9bdcd4c
  website/content/docs/pipelines/index.mdx
Labels: website

Update index.mdx
  website/content/docs/pipelines/index.mdx
Labels: website

backport of commit 8327888b1a1d4a7a6c817018aad45a0ad9bdcd4c
  website/content/docs/pipelines/index.mdx
Labels: website

Update website/content/docs/pipelines/index.mdx
  website/content/docs/pipelines/index.mdx
Labels: website

backport of commit 1d9629153739bf220327d2ec6adcfdb9bb4fb87c
  website/content/docs/pipelines/index.mdx
Labels: website

backport of commit 1d9629153739bf220327d2ec6adcfdb9bb4fb87c
  website/content/docs/pipelines/index.mdx
Labels: website

Fixing job heartbeat test
  pkg/serverstate/statetest/test_job.go
Labels: none

docs: Scoped config sources.
  website/content/docs/app-config/dynamic.mdx
Labels: website

backport of commit 0f0ee6ed761592f881c18429ffa6fd73c52b4447
  website/content/docs/app-config/dynamic.mdx
Labels: website

backport of commit 0f0ee6ed761592f881c18429ffa6fd73c52b4447
  website/content/docs/app-config/dynamic.mdx
Labels: website

backport of commit 6aa9bfadb4454e9d83394acd01b17869f58ad168
  website/content/docs/app-config/dynamic.mdx
Labels: website

docs: Scoped config source docs fix.
  website/content/docs/app-config/dynamic.mdx
Labels: website

backport of commit 6aa9bfadb4454e9d83394acd01b17869f58ad168
  website/content/docs/app-config/dynamic.mdx
Labels: website

docs: AWS plugin top-level READMEs.
  builtin/aws/alb/README.md
  builtin/aws/ami/README.md
  builtin/aws/ec2/README.md
  builtin/aws/ecr/README.md
  builtin/aws/ecr/pull/README.md
  builtin/aws/ecs/README.md
  builtin/aws/lambda/README.md
  builtin/aws/lambda/function_url/README.md
  builtin/aws/ssm/README.md
Labels: plugin, plugin/aws

docs: AWS plugin metadata.
  builtin/aws/alb/metadata.hcl
  builtin/aws/ami/metadata.hcl
  builtin/aws/ec2/metadata.hcl
  builtin/aws/ecr/metadata.hcl
  builtin/aws/ecr/pull/metadata.hcl
  builtin/aws/ecs/metadata.hcl
  builtin/aws/lambda/metadata.hcl
  builtin/aws/ssm/metadata.hcl
Labels: plugin, plugin/aws

backport of commit c6127005574e5b1106a2042c95422e95ea9e5a65
  .changelog/4382.txt
  internal/server/boltdbstate/config_source.go
Labels: core

Update config_source.go
  internal/server/boltdbstate/config_source.go
Labels: core

bolt: Fix pre-v0.10.4 config sources.
  .changelog/4382.txt
  internal/server/boltdbstate/config_source.go
Labels: core

backport of commit abb4ca542561b355f957d4b0d30b8c3a4dda7c83
  internal/server/boltdbstate/config_source.go
Labels: core

docs: Fix relative path links for integrations.
  builtin/aws/alb/README.md
  builtin/aws/ami/README.md
  builtin/aws/ec2/README.md
  builtin/aws/ecr/README.md
  builtin/aws/ecr/pull/README.md
  builtin/aws/ecs/README.md
  builtin/aws/lambda/README.md
  builtin/aws/lambda/function_url/README.md
Labels: plugin, plugin/aws

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
