Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/cli: colorize flags in help text and nested subcommands
  internal/cli/help.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update internal/cli/help.go
  internal/cli/help.go
Labels: core

backport of commit 0226a8b78c29196a380b8527a9ef5e224fad4bb0
  internal/cli/help.go
Labels: core

Update internal/cli/project_list.go
  internal/cli/project_list.go
Labels: core

Update internal/cli/project_list.go
  internal/cli/project_list.go
Labels: core

Update internal/cli/project_list.go
  internal/cli/project_list.go
Labels: core

Update internal/cli/project_apply.go
  internal/cli/project_apply.go
Labels: core

Update internal/cli/project_apply.go
  internal/cli/project_apply.go
Labels: core

Include libseccomp-static and pkgconfig for building wp/server with img
  Dockerfile
Labels: none

Build img without embedded runc
  Dockerfile
Labels: none

Remove libraries since no longer building runc
  Dockerfile
Labels: none

Dockerfile: Move `make` install and bindata above copy for caching
  Dockerfile
Labels: none

Look at job allocations rather than from an evaluation
  internal/serverinstall/nomad.go
Labels: core

Add extra output when verifying server connection after upgrades
  internal/cli/server_upgrade.go
Labels: core

Reduce connection timeout and improve help text for conenct failures
  internal/cli/server_upgrade.go
Labels: core

Dockerfile: Ensure userid is 100 for waypoint server user
  Dockerfile
Labels: none

Simplify note in Dockerfile about userid
  Dockerfile
Labels: none

Add note about URL service re-registering new url on server upgrade
  website/content/docs/upgrading/index.mdx
Labels: website

Remove note about nomad not moving over db from alloc
  website/content/docs/upgrading/index.mdx
Labels: website

Increase connect verify timeout to 3 minutes
  internal/cli/server_upgrade.go
Labels: core

Update snapshot flag
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
Labels: core

Update uninstall and upgrade cli docs
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

serverconfig: store platform in server config
  internal/cli/context_list.go
  internal/cli/install.go
  internal/server/proto/server.proto
  internal/serverconfig/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

backport of commit 3c9c7816fd25ac8a7199e667350a20f6204a0dc3
  internal/cli/context_list.go
  internal/cli/install.go
  internal/server/proto/server.proto
  internal/serverconfig/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

internal/server: generate proto from platform server config
  internal/server/gen/mocks/is_exec_stream_request__start__target.go
  internal/server/gen/server.pb.go
Labels: core

Add comment to sever platform config
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

serverconfig: store platform in server config
  internal/cli/context_list.go
  internal/cli/install.go
  internal/server/proto/server.proto
  internal/serverconfig/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

Add comment to sever platform config
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

Regenerate server proto
  internal/server/gen/server.pb.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

Add a generic build target for waypoint server container
  Makefile
Labels: none

backport of commit 59f2b379cfb3a85f4b9953ea0ba796fae3b90a05
  internal/cli/install.go
Labels: core

more specific error msgs on install
  internal/cli/install.go
Labels: core

Bump go.mod to pickup plugin-sdk needs
  go.mod
  go.sum
Labels: none

internal/server/singleprocess: Add API endpoint to assist in exec method finding
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/state/instance_exec.go
Labels: core

internel/server/{proto,gen}: Add job data and exec assist API
  internal/server/gen/mocks/is_exec_stream_request__start__target.go
  internal/server/gen/mocks/is_find_exec_instance_request__scope.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server/execclient: Fix tty bug
  internal/server/execclient/client.go
Labels: core

internal/runner: Add exec operation that delegates to app.Exec
  internal/runner/operation.go
  internal/runner/operation_exec.go
Labels: core

internal/core: better logging in the right places
  internal/core/app_exec.go
  internal/core/app_exec_test.go
Labels: core
