Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

basic set behavior for 'context set -workspace'
  internal/cli/base.go
  internal/cli/context_create.go
  internal/cli/context_inspect.go
  internal/cli/context_set.go
  internal/cli/main.go
  internal/cli/status.go
  internal/clicontext/config.go
  internal/runner/operation_up.go
Labels: core

Add test for workspace method
  internal/cli/base.go
  internal/cli/base_test.go
  internal/cli/context_set.go
Labels: core

add changelog
  .changelog/2353.txt
Labels: none

generated web docs
  internal/cli/base.go
  internal/cli/base_test.go
  website/content/commands/context-set.mdx
  website/content/partials/commands/context-set_desc.mdx
  website/content/partials/commands/context-set_more.mdx
Labels: core, website

update status command to load the correct workspace
  internal/cli/context_set.go
  internal/cli/status.go
  website/data/commands-nav-data.json
Labels: core, website

output server address in context -set message
  internal/cli/context_set.go
Labels: core

Erroring on-demand runner when config receive functions exit early
  internal/runner/runner.go
Labels: core

add workspace sub commands
  internal/cli/main.go
  internal/cli/workspace_inspect.go
  internal/cli/workspace_list.go
Labels: core

gen website
  website/content/commands/workspace-inspect.mdx
  website/content/commands/workspace-list.mdx
  website/content/partials/commands/workspace-inspect_desc.mdx
  website/content/partials/commands/workspace-inspect_more.mdx
  website/content/partials/commands/workspace-list_desc.mdx
  website/content/partials/commands/workspace-list_more.mdx
  website/data/commands-nav-data.json
Labels: website

doc changes
  internal/cli/main.go
  internal/cli/workspace_inspect.go
  internal/cli/workspace_list.go
  website/content/commands/workspace-inspect.mdx
  website/content/commands/workspace-list.mdx
Labels: core, website

changelog entry
  .changelog/2385.txt
Labels: none

Upgrade ember-truth-helpers to 3.0
  ui/package.json
  ui/yarn.lock
Labels: ui

Turn DOM rendering on in Safari
  ui/app/utils/browser.ts
  ui/app/utils/create-terminal.ts
Labels: ui

ui: ensure ember-cli-flash doesn’t clobber pds-flash-messages
  ui/config/environment.js
  ui/tests/unit/services/pds-flash-messages-test.ts
Labels: ui

ui: upgrade ember-inflector to ^4.0.2
  ui/package.json
  ui/yarn.lock
Labels: ui

Turn DOM rendering on in Safari (#2408)
  ui/app/utils/browser.ts
  ui/app/utils/create-terminal.ts
Labels: ui

Upgrade ember-truth-helpers to 3.0 (#2407)
  ui/package.json
  ui/yarn.lock
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 8ee6621e
  internal/server/gen/bindata_ui.go
Labels: core

Use proper background color for toggle input
  ui/app/styles/components/x-toggle.scss
Labels: ui

Changelog
  .changelog/2410.txt
Labels: none

format
  internal/serverinstall/nomad.go
Labels: core

IT WORKS except for IP problem
  internal/serverinstall/nomad.go
Labels: core

it works wip
  internal/cli/server_upgrade.go
  internal/serverinstall/nomad.go
Labels: core

more checks
  internal/serverinstall/nomad.go
Labels: core

move install
  internal/serverinstall/nomad.go
Labels: core

put server install back
  internal/serverinstall/server_install.go
Labels: core

add command combo linting
  internal/serverinstall/nomad.go
Labels: core

update website desc
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

undo rename
  internal/serverinstall/server_install.go
Labels: core

wip merge
  internal/serverinstall/nomad.go
Labels: core

wip csi
  internal/serverinstall/nomad.go
Labels: core

changelog
  .changelog/2282.txt
Labels: none

upgrade website mdx
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

add csi
  go.mod
  go.sum
  internal/serverinstall/nomad.go
Labels: core

changes
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

destroy volume on uninstall
  internal/serverinstall/nomad.go
Labels: core

fix text overflow with long words
  ui/app/styles/components/notifications.scss
Labels: ui

Changelog
  .changelog/2411.txt
Labels: none

Use proper background color for toggle input (#2410)
  .changelog/2410.txt
  ui/app/styles/components/x-toggle.scss
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 785473cd
  internal/server/gen/bindata_ui.go
Labels: core
