Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit c1da0f9be9095697987a182eb72b67acf114e035
  website/components/footer/index.jsx
  website/components/footer/style.module.css
Labels: website

internal: config sync operation, runner, client support
  internal/client/operation.go
  internal/runner/operation.go
  internal/runner/operation_config.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

backport of commit ff8d984bb20e9227081e49f8b19925ae874141db
  internal/cli/config_get.go
Labels: core

Fixes #813: Improve error handling for config get command
  internal/cli/config_get.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

internal/cli: config sync command
  internal/cli/config_sync.go
  internal/cli/main.go
Labels: core

backport of commit fd8a1a4c2c1e298bfda15a37b17e13b34e3d34ca
  internal/cli/server_config_set.go
Labels: core

internal/cli: server config set doesn't require waypoint.hcl
  internal/cli/server_config_set.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

Update internal/ceb/app_config.go
  internal/ceb/app_config.go
Labels: core

Update builtin/k8s/config_sourcer.go
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

internal/ceb: add NOTE to comment so easier to find
  internal/ceb/ceb_test.go
Labels: core

Fix dev version to be current released 0.1.5
  internal/version/version.go
Labels: core

backport of commit f7467e1fdb25274cb823d806c1eb89c57bed9a74
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Fix bug with setting task_role_name
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Implement a status alert banner (#569)
  website/components/footer/index.jsx
  website/components/footer/style.module.css
  website/lib/hooks/useWaypointServiceStatus.js
  website/pages/_app.js
  website/public/img/status-degraded.svg
  website/public/img/status-normal.svg
Labels: website

internal/ceb: setpgid must not be set with pty
  internal/ceb/exec.go
Labels: core

internal/ceb: better logging, replace TODO with logging
  internal/ceb/exec.go
Labels: core

internal/ceb: term exec child process when client closes exec stream
  internal/ceb/child_exec.go
  internal/ceb/exec.go
Labels: core

internal/cli: make -raw print all variables
  internal/cli/config_get.go
Labels: core

internal/sever: remove finished TODO
  internal/server/singleprocess/service_entrypoint.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

send "EOF" event for stdin through exec session when stdin is closed
  go.mod
  go.sum
  internal/ceb/exec.go
  internal/server/execclient/client.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
Labels: core

backport of commit 60f9ea21cc6a39f7c34aa711c0f42086a1538259
  internal/cli/config_get.go
  website/content/commands/config-get.mdx
Labels: core, website

Ensure raw flag output behaves like json flag for config get
  internal/cli/config_get.go
  website/content/commands/config-get.mdx
Labels: core, website

update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/cli: make -raw print all variables
  internal/cli/config_get.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

backport of commit 9fed98c8e90fd69a754eda253170968e0721f238
  internal/cli/config_get.go
Labels: core

internal/cli: fix linter issue with Sprintf inside Fprintln
  internal/cli/config_get.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Merge pull request #830 from hashicorp/b-exec-no-tty
  go.mod
  go.sum
  internal/ceb/exec.go
  internal/server/execclient/client.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Use shared Terminal component; replace global styles package
  website/components/animated-steps-list/AnimatedStepsList.module.css
  website/components/animated-terminal/framed-terminal/index.jsx
  website/components/features/Features.module.css
  website/components/terminal/Terminal.module.css
  website/components/terminal/index.jsx
  website/package-lock.json
  website/package.json
  website/pages/home/index.jsx
  website/pages/style.css
Labels: website

undo mktg-assets change
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

Use shared Terminal component
  website/components/animated-steps-list/AnimatedStepsList.module.css
  website/components/animated-terminal/framed-terminal/index.jsx
  website/components/features/Features.module.css
  website/components/terminal/Terminal.module.css
  website/components/terminal/index.jsx
  website/package-lock.json
  website/package.json
  website/pages/home/index.jsx
  website/pages/style.css
Labels: website

rm some style changes
  website/pages/style.css
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
