Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Release v0.9.0
  CHANGELOG.md
  internal/version/version.go
Labels: core

backport of commit 830c6c674b3c81030e010401b41fdc11555e86fc
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

make the steps more explicit
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 830c6c674b3c81030e010401b41fdc11555e86fc
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

make gen/website-mdx
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 208368298ebcf6b1fede82bdbaad64f4f83fe287
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 208368298ebcf6b1fede82bdbaad64f4f83fe287
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 3b33489dd096a46c64ceb10a526eb08db5821d88
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

Update website/content/docs/upgrading/version-guides/0.9.0.mdx
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 3b33489dd096a46c64ceb10a526eb08db5821d88
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 96668d0e956f704ce6f09bbeb3a38c873362458f
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

pr feedback
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit 96668d0e956f704ce6f09bbeb3a38c873362458f
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Revert "Backport of upgrade guide for 0.9 into release/0.8.x"
  website/content/docs/upgrading/version-guides/0.9.0.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit 7f90058c4504e336b817c732c1aef5007d3897e4
  website/content/partials/components/builder-pack.mdx
Labels: website

fix typo
  website/content/partials/components/builder-pack.mdx
Labels: website

backport of commit 7f90058c4504e336b817c732c1aef5007d3897e4
  website/content/partials/components/builder-pack.mdx
Labels: website

fix(`k8s`): ResourceConfig
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update Nomad task plugin to deploy a batch job. Update restart policy for non-default values.
  .changelog/3468.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit 22909bcfcfb69c8fcc3b983409686a56a4d61c55
  .changelog/3468.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit 80e036757e479e5f6a679bebeb29a59060ba93e3
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

Logging.
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit c6274dedfcfb5058d673aa28298a0a1962ee7c73
  builtin/pack/builder.go
  website/content/partials/components/builder-pack.mdx
Labels: plugin, plugin/pack, website

backport of commit c6274dedfcfb5058d673aa28298a0a1962ee7c73
  builtin/pack/builder.go
  website/content/partials/components/builder-pack.mdx
Labels: plugin, plugin/pack, website

this is grammatically incorrect but what our tool enforces
  builtin/pack/builder.go
  website/content/partials/components/builder-pack.mdx
Labels: plugin, plugin/pack, website

Fix website parameter label (#3507)
  internal/cli/app_docs.go
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/task-docker.mdx
Labels: core, website

backport of commit cb76a75f1d63f3753027c0c60d12e967dd7f2445
  .changelog/3466.txt
  CHANGELOG.md
Labels: none

update changelog to include deprecation for 0.9
  .changelog/3466.txt
  CHANGELOG.md
Labels: none

backport of commit c2dda16578bf39f8af71a56339d7f6cfe7a348b7
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

add deprecation notice for multi-app configs
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

backport of commit c2dda16578bf39f8af71a56339d7f6cfe7a348b7
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website

core/install: Add --nomad-csi-volume-name flag to install
  internal/runnerinstall/nomad.go
  internal/serverinstall/nomad.go
Labels: core

backport of commit 02b641dd595c048672d5e7c51ce3f9481f1ab544
  internal/runnerinstall/nomad.go
  internal/serverinstall/nomad.go
Labels: core

backport of commit fe47d8b1ec3790a7f5da225a40b0fdc9072ff48a
  .changelog/3546.txt
Labels: none

Add improvement changelog
  .changelog/3546.txt
Labels: none

Update website
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

backport of commit 34678c67f56ad7bee814a9df553e08229aec9285
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

backport of commit b879815b6d3c546b76ea345db0ff797bd368a562
  internal/runnerinstall/nomad.go
Labels: core

maint: Update nomad default runner name
  internal/runnerinstall/nomad.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
