Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

make terminal object optional
  ui/app/components/render-terminal/index.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

Update message styling logic
  ui/app/components/operation-logs/index.ts
Labels: ui

Changelog
  .changelog/2356.txt
Labels: none

move context and context inspect lower in CLI navigation
  website/data/commands-nav-data.json
Labels: website

Add platform and category display hint to k8s release resources
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

ui/mirage: remove `setExtension` TODOs
  ui/mirage/models/application.ts
  ui/mirage/models/build.ts
  ui/mirage/models/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/workspace.ts
Labels: ui

Add empty states
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
Labels: ui

UI: Application & Operation logs using XTerm.js terminal (#2356)
  .changelog/2356.txt
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
  ui/app/components/render-terminal/index.hbs
  ui/app/components/render-terminal/index.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/terminal.scss
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/app/utils/create-terminal.ts
  ui/app/utils/terminal-theme.ts
  ui/ember-cli-build.js
  ui/package.json
  ui/tests/integration/components/render-terminal-test.ts
  ui/yarn.lock
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit cf3cc0b6
  internal/server/gen/bindata_ui.go
Labels: core

is this the modern equivalent of /classic?
  .circleci/config.yml
Labels: none

First pass working! Needs bit more wiring still though.
  go.mod
  go.sum
  internal/cli/server_run.go
  internal/server/grpc.go
  internal/server/server.go
  internal/telemetry/telemetry.go
Labels: core

another dart
  .circleci/config.yml
Labels: none

Fix letsencrypt expiration (#2394)
  .circleci/config.yml
Labels: none

internal/cli: detect waypoint ui address that is a hostname
  internal/cli/login.go
Labels: core

internal/cli: k8s bootstrap detects hostname-based LBs
  internal/cli/k8s_bootstrap.go
Labels: core

move project-apply down
  website/data/commands-nav-data.json
Labels: website

ui: upgrade some deps to get away from ember-cli-babel 6
  ui/package.json
  ui/yarn.lock
Labels: ui

ui/deployment: add extra assertion to resource test
  ui/tests/acceptance/deployment-resource-list-test.ts
Labels: ui

ui/mirage: tweak status-report traits
  ui/mirage/factories/project.ts
  ui/mirage/factories/status-report.ts
Labels: ui

ui: add `@route` to `<ResourceTable>`
  ui/app/components/resources-table.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
Labels: ui

ui/mirage: add release resources
  ui/mirage/factories/project.ts
  ui/mirage/factories/resource.ts
  ui/mirage/factories/status-report.ts
Labels: ui

ui: add `@withMargin` to `<ResourcesTable>`
  ui/app/components/resources-table.hbs
  ui/app/styles/components/resources-table.scss
Labels: ui

ui: add release resources
  .changelog/2386.txt
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/app/release/resource.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/app/release/resource.hbs
  ui/tests/acceptance/release-resource-detail-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

ui: (wip) added component for docker image/tag - added beginning HTMLElements for overview table component - no tests
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/container-image-tag/index.ts
  ui/app/components/status-report-indicator.hbs
  ui/app/styles/_variables.scss
  ui/app/styles/components/_index.scss
  ui/app/styles/components/container-image-tag.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/translations/en-us.yaml
Labels: ui

ui: added tests for MetaTable+ContainerImageTag
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/container-image-tag/index.ts
  ui/app/components/meta-table/index.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/tests/integration/components/container-image-tag-test.ts
  ui/tests/integration/components/meta-table-test.ts
Labels: ui

ui: account for duplicate image key
  ui/app/components/container-image-tag/index.ts
Labels: ui

ui: updated where image/tag is being pulled from
  internal/server/gen/server.pb.go
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/container-image-tag/index.ts
  ui/app/components/meta-table/index.hbs
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: core, ui

ui: added metadata overview table component
  ui/app/components/meta-table/index.hbs
  ui/app/components/meta-table/index.ts
Labels: ui

ui: added changelog
  .changelog/2352.txt
Labels: none

ui: fixed small bug
  ui/app/templates/workspace/projects/project/app/deployment.hbs
Labels: ui

ui: fix failing tests from previous commit
  ui/app/components/container-image-tag/index.ts
  ui/tests/integration/components/container-image-tag-test.ts
  ui/tests/integration/components/meta-table-test.ts
Labels: ui

Fix a few minor kubernetes f-k8-papercuts
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Add changelog entry
  .changelog/2399.txt
Labels: none

Minor CLI papercuts
  internal/cli/base_init.go
  internal/cli/deployment_list.go
  internal/cli/status.go
Labels: core

WIP
  go.mod
  go.sum
  internal/cli/server_run.go
  internal/server/server.go
  internal/telemetry/telemetry.go
Labels: core

ui: upgrade ember-concurrency to 2.x
  ui/app/components/actions/up.ts
  ui/app/services/poll-model.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

Exhaustively search resources for image fields
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/container-image-tag/index.ts
Labels: ui

Decorate the location of an image better to improve ODR handling
  builtin/aws/ecr/mapper.go
  builtin/docker/kaniko.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/pull/builder.go
  builtin/docker/registry.go
  builtin/pack/builder.go
  builtin/pack/mapper.go
Labels: plugin, plugin/aws, plugin/docker, plugin/pack

Apply suggestions from code review
  .changelog/2399.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Website regen
  website/content/commands/deployment-list.mdx
Labels: website
