Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

wip
  internal/client/job.go
  internal/plugin/plugin.go
  internal/server/http.go
  pkg/server/singleprocess/service_job.go
Labels: core

wip
  internal/server/http_sanitize.go
  internal/server/http_sanitize_test.go
Labels: core

rm random changes
  internal/client/job.go
  internal/plugin/plugin.go
  pkg/server/singleprocess/service_job.go
Labels: core

DEMO: adding new failing test
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
Labels: none

mini bug
  pkg/server/singleprocess/service_job.go
Labels: none

pr feedback: Simplify hclStep, make step label required for now
  internal/config/pipeline.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_step.hcl
Labels: core

add debug logs
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_job.go
Labels: core

internal/core: Add ConfigSync for pipeline configs
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/testdata/pipelines/pipelines_many.hcl
  internal/core/pipeline.go
  internal/core/pipeline_config.go
  internal/core/project.go
Labels: core

Base files for adding install command for k8s, ecs and nomad.
  go.mod
  go.sum
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/runner_install.go
  internal/installutil/adoption.go
  internal/installutil/aws/ecs.go
  internal/installutil/helm/helm.go
  internal/installutil/nomad/nomad.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/runnerinstall/runnerinstall_test.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/partials/commands/runner-install_desc.mdx
  website/content/partials/commands/runner-install_more.mdx
Labels: core, website

Go mod tidy. AWS ECS install refactor for server & runner for DRYness.
  go.mod
  internal/installutil/aws/ecs.go
  internal/runnerinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

Changelog.
  .changelog/3335.txt
Labels: none

Docs.
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
Labels: website

Update server install for k8s to use Helm.
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

Add missing constant.
  internal/installutil/helm/helm.go
Labels: core

Update server uninstall for k8s to use Helm.
  internal/serverinstall/k8s.go
Labels: core

Docs for k8s install.
  website/content/commands/install.mdx
Labels: website

Docs for k8s install.
  website/content/commands/server-install.mdx
Labels: website

feat(aws-lambda): storage
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/plugin.proto
  go.mod
Labels: plugin, plugin/aws

chore: docs
  builtin/aws/lambda/platform.go
  website/content/partials/components/platform-aws-lambda.mdx
Labels: plugin, plugin/aws, website

changelog
  .changelog/3213.txt
Labels: none

replace sleep and for iterator w/ context deadline
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

chore: rename to storagemb; tests + docs
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
  website/content/partials/components/platform-aws-lambda.mdx
Labels: plugin, plugin/aws, website

changelog: improvement
  .changelog/3213.txt
Labels: none

chore: use grpc status and codes
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

undo protobuf change
  builtin/aws/lambda/plugin.proto
Labels: plugin, plugin/aws

chore: go mod tidy
  go.mod
Labels: none

backport of commit fe39405c3e23dddfb46ae46bb1c18a1814afed59
  builtin/aws/lambda/platform.go
  website/content/partials/components/platform-aws-lambda.mdx
Labels: plugin, plugin/aws, website

backport of commit be3943ea08d9fe1ed3c6b07f444482a766a29622
  builtin/aws/lambda/plugin.proto
Labels: plugin, plugin/aws

feat(aws-lambda): `static_environment`
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

chore: website mdx
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website

backport of commit 7c9fcbff4988e98119f1fce5ab575ad5bf599a0b
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website

backport of commit 46313eb1954b4dca0f7dd03e78ab666cb297d161
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

feat(aws-lambda): storage
  builtin/aws/lambda/plugin.proto
Labels: plugin, plugin/aws

chore(lambda): update doc summary
  builtin/aws/lambda/platform.go
  website/content/partials/components/platform-aws-lambda.mdx
Labels: plugin, plugin/aws, website

Make the log tests consumable
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_runner_test.go
  pkg/server/singleprocess/testing.go
  pkg/server/testing.go
  pkg/serverhandler/handlertest/test_service_entrypoint.go
  pkg/serverhandler/handlertest/test_service_logs.go
Labels: none

serverhandler: tweak docs
  pkg/serverhandler/handlertest/doc.go
Labels: none

Refactored k8s server upgrade to use helm & removed some now-unused functions.
  internal/serverinstall/k8s.go
Labels: core

internal/config: Panic on nil conifg when generating Pipeline Protos
  internal/config/pipeline.go
Labels: core

pr feedback: No dynamic funcs for pipeline configs
  internal/config/pipeline.go
Labels: core

internal/config: Set project owner on pipeline
  internal/config/pipeline.go
Labels: core
