Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Add /ui README update
  ui/README.md
Labels: ui

hack hack hack
  builtin/k8s/platform.go
  go.mod
  go.sum
Labels: plugin, plugin/k8s

derp revoked this token
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

internal/runner: unit test that reconnection works for config stream
  internal/runner/runner_test.go
Labels: core

internal/runner: block on adoption, test case for server down on start
  internal/runner/runner.go
  internal/runner/runner_test.go
Labels: core

internal/runner: test the server going down during adoption
  internal/runner/runner.go
  internal/runner/runner_test.go
Labels: core

changelog
  .changelog/3087.txt
Labels: none

internal/runner: typo
  internal/runner/config.go
Labels: core

update to use new tfe sdk and list options with env vars and not putting token directly into repo
  builtin/aws/ecs/platform.go
  builtin/k8s/platform.go
  go.mod
  go.sum
Labels: plugin, plugin/aws, plugin/k8s

Update ui/README.md
  ui/README.md
Labels: ui

remove some cruft
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update instructions
  ui/README.md
Labels: ui

Add /ui README update (#3085)
  ui/README.md
Labels: ui

internal/cli: Fix typo in job states
  internal/cli/job_inspect.go
  internal/cli/job_list.go
Labels: core

ui: added ember-cli-sass to project for design-system-component rendering
  ui/app/styles/_layout.scss
  ui/app/styles/app.scss
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: added ember-cli-sass to project for design-system-component rendering (#3089)
  ui/app/styles/_layout.scss
  ui/app/styles/app.scss
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui

correctly parse subnets
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

refactor
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

nothing relevant. Just checking I can push against this repo
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

builtin/vault clarify `key` value format difference
  builtin/vault/config_sourcer.go
Labels: plugin

gen/website-mdx
  website/content/partials/components/configsourcer-vault.mdx
Labels: website

update example snippet
  builtin/vault/config_sourcer.go
  website/content/partials/components/configsourcer-vault.mdx
Labels: plugin, website

yarn add @hashicorp/design-system-components
  ui/yarn.lock
Labels: ui

Slight improvement to color contrast a11y issue on dark background
  ui/app/styles/components/card.scss
  ui/app/templates/auth/index.hbs
Labels: ui

Swap out Hds::LinkTo::Standalone on new page
  ui/app/styles/_layout.scss
  ui/app/styles/components/card.scss
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

Swap in Hds::IconTile
  ui/app/styles/_layout.scss
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

Tweak to a11y fix on /auth
  ui/app/styles/_layout.scss
  ui/app/styles/components/card.scss
Labels: ui

Bump ember-flight-icons
  ui/package.json
  ui/yarn.lock
Labels: ui

Bump ember-flight-icons
  ui/package.json
  ui/yarn.lock
Labels: ui

add tfc values to platform config
  builtin/aws/ecs/platform.go
  builtin/k8s/platform.go
Labels: plugin, plugin/aws, plugin/k8s

Bump ember-flight-icons
  ui/package.json
  ui/yarn.lock
Labels: ui

Swap `Hds::Button` for `button`
  ui/app/components/login-token/index.hbs
  ui/app/templates/auth/token.hbs
Labels: ui

Swap Hds::Badge for `class="badge badge--version"`
  ui/app/components/app-item/deployment.hbs
Labels: ui

Swap `Hds::LinkTo::Standalone` for `Pds::CtaLink`
  ui/app/styles/pages/auth-page.scss
  ui/app/templates/auth/index.hbs
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

cli: Fix panic in `waypoint plugin` cli
  internal/cli/plugin.go
Labels: core

backport of commit ab2286bcb1420d7886ea922d9df097cdd65f762c
  internal/cli/plugin.go
Labels: core

Add Changelog
  .changelog/3095.txt
Labels: none

backport of commit 832dc6941ead061b03df09a3cdd055ef5dc9b175
  .changelog/3095.txt
Labels: none

Autogen website
  website/content/commands/plugin.mdx
Labels: website

backport of commit 10cdad26bbd71e95ca57dc24c421a10def456fab
  website/content/commands/plugin.mdx
Labels: website
