Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/server/state: fix flaky AppOperation test
  internal/server/singleprocess/state/app_operation_test.go
Labels: core

Refactor flake and overlay
  flake.nix
  nix/go-changelog.nix
  nix/go-mockery.nix
  nix/go-protobuf-json.nix
  nix/go-protobuf.nix
  nix/go-tools.nix
  nix/overlay.nix
  nix/waypoint.nix
Labels: none

internal/server: support job dependencies that can fail
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_assigned.go
  internal/server/singleprocess/state/job_test.go
Labels: core

ui: improve docker reference parsing
  .changelog/2518.txt
  ui/app/components/container-image-tag/index.ts
  ui/app/components/git-commit.hbs
  ui/app/components/image-ref.hbs
  ui/app/components/image-ref.ts
  ui/app/components/resource-detail.ts
  ui/app/components/status-report-meta-table/index.hbs
  ui/app/styles/_variables.scss
  ui/app/styles/components/image-ref.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/resource-detail.scss
  ui/app/utils/image-refs.ts
  ui/mirage/factories/resource.ts
  ui/package.json
  ui/tests/integration/components/container-image-tag-test.ts
  ui/tests/integration/components/status-report-meta-table-test.ts
  ui/translations/en-us.yaml
  ui/types/docker-parse-image.d.ts
  ui/yarn.lock
Labels: ui

backport of commit 8da3d07d4b9dd220666744da628c9914aa58b38e
  .changelog/2518.txt
  ui/app/components/container-image-tag/index.ts
  ui/app/components/git-commit.hbs
  ui/app/components/image-ref.hbs
  ui/app/components/image-ref.ts
  ui/app/components/resource-detail.ts
  ui/app/components/status-report-meta-table/index.hbs
  ui/app/styles/_variables.scss
  ui/app/styles/components/image-ref.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/resource-detail.scss
  ui/app/utils/image-refs.ts
  ui/mirage/factories/resource.ts
  ui/package.json
  ui/tests/integration/components/container-image-tag-test.ts
  ui/tests/integration/components/status-report-meta-table-test.ts
  ui/translations/en-us.yaml
  ui/types/docker-parse-image.d.ts
  ui/yarn.lock
Labels: ui

dry up code
  internal/cli/status.go
Labels: core

backport of commit 7c2d714d6034fe0d4ef089d0dc977436fd3aac8f
  internal/cli/status.go
Labels: core

backport of commit 409ecfcd63574ff4f5091590f39fd82390be6de5
  .changelog/2564.txt
Labels: none

changelog
  .changelog/2564.txt
Labels: none

ui: use `UI.ListDeployments` and `UI.ListReleases`
  .changelog/2562.txt
  ui/app/components/status-report-bar/index.ts
  ui/app/components/status-report-meta-table/index.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/services/api.ts
  ui/mirage/config.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/release.ts
Labels: ui

backport of commit 44b0e3f92bc87f8cbd9ebf8f1bd7f01313fe7cd7
  .changelog/2562.txt
  ui/app/components/status-report-bar/index.ts
  ui/app/components/status-report-meta-table/index.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/services/api.ts
  ui/mirage/config.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/release.ts
Labels: ui

WIP
  ui/app/components/oidc-auth-buttons/index.hbs
  ui/app/controllers/auth/oidc/oidc-redirect.ts
  ui/app/router.js
  ui/app/routes/auth/index.ts
  ui/app/routes/auth/oidc/index.ts
  ui/app/routes/auth/oidc/oidc-redirect.ts
  ui/app/templates/auth/index.hbs
Labels: ui

list OIDC Auth methods
  ui/app/routes/auth/index.ts
Labels: ui

WIP
  ui/app/routes/auth/index.ts
Labels: ui

half-work
  builtin/nomad/nomad.go
  builtin/nomad/task.go
  internal/serverinstall/nomad.go
Labels: core, plugin, plugin/nomad

backport of commit a1718e9bd24465ae129d23bfb3fe6f463a35e1b1
  internal/serverinstall/ecs.go
Labels: core

fix copy-pasta
  internal/serverinstall/ecs.go
Labels: core

backport of commit d90d55e3955ff9fed0faab79a488cf27bbe9cab2
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Add doc for implementing Resource Manager for plugin authors
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit d90d55e3955ff9fed0faab79a488cf27bbe9cab2
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit 36cf5b8a860e0181d4afc7b2a1f9b3ab209e283a
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
Labels: website

Fix typo
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
Labels: website

backport of commit 36cf5b8a860e0181d4afc7b2a1f9b3ab209e283a
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
Labels: website

internal/server: change ODR launching to use job dependencies
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
Labels: core

internal/server/state: job error cascade should recurse to grandchild
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

internal/server: schedule stop task job
  internal/runner/accept.go
  internal/runner/operation_task.go
  internal/server/gen/mocks/is_job__stop_task_launch_op__state.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_job.go
Labels: core

builtin/docker: StopTask
  builtin/docker/task.go
  internal/runner/operation_task.go
Labels: core, plugin, plugin/docker

builtin/docker: make StopTask more robust
  builtin/docker/task.go
Labels: plugin, plugin/docker

builtin/k8s: no stop task
  builtin/k8s/task.go
Labels: plugin, plugin/k8s

builtin/k8s: fmt
  builtin/k8s/task.go
Labels: plugin, plugin/k8s

backport of commit cca73151dff99c384bd9fb140cc0c0e60b03bbf1
  .changelog/2564.txt
Labels: none

Update 2564.txt
  .changelog/2564.txt
Labels: none

set state exit when a runner recv config exits
  internal/runner/config.go
Labels: core

changelog
  .changelog/2571.txt
Labels: none

backport of commit 64ac0fd323e34ee39c462f51a84d60346f1ada7a
  internal/cli/login.go
Labels: core

Add a flag to choose the waypoint kubernetes namespace
  internal/cli/login.go
Labels: core

internal/server/state: job creation happens in dependency order
  internal/pkg/graph/dfs.go
  internal/pkg/graph/dijkstra.go
  internal/pkg/graph/dijkstra_test.go
  internal/pkg/graph/graph.go
  internal/pkg/graph/kahn.go
  internal/pkg/graph/path.go
  internal/pkg/graph/path_test.go
  internal/pkg/graph/tarjan.go
  internal/pkg/graph/vertex.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

changelog
  .changelog/2575.txt
Labels: none

backport of commit 0e251bffbb36141f018bde961f5fd20f8b96b2c0
  .changelog/2575.txt
Labels: none

Docs
  website/content/commands/login.mdx
Labels: website
