Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

fix image reference format
  .circleci/config.yml
Labels: none

backport of commit 1954245037fb6b4fd0cf41c376cf835af9cf6a2a
  .circleci/config.yml
Labels: none

backport of commit 1954245037fb6b4fd0cf41c376cf835af9cf6a2a
  .circleci/config.yml
Labels: none

backport of commit 45d854007f02ada635498388174f3d1de341d7db
  website/package-lock.json
Labels: website

adds engines to package-lock
  website/package-lock.json
Labels: website

backport of commit 45d854007f02ada635498388174f3d1de341d7db
  website/package-lock.json
Labels: website

backport of commit 9953a0ef56231eb6eba5972ae770ce78fadb8494
  website/package-lock.json
  website/package.json
Labels: website

upgrades to latest docs-page
  website/package-lock.json
  website/package.json
Labels: website

backport of commit 9953a0ef56231eb6eba5972ae770ce78fadb8494
  website/package-lock.json
  website/package.json
Labels: website

ui: de-lint `mirage/.../config-variable.ts`
  ui/mirage/factories/config-variable.ts
Labels: ui

ui: de-lint `mirage/.../status-report.ts`
  ui/mirage/services/status-report.ts
Labels: ui

ui: de-lint `ember-cli-build.js`
  ui/ember-cli-build.js
Labels: ui

ui/ci: add frontend-lint to workflow
  .circleci/config.yml
Labels: none

internal/pkg/cert
  go.mod
  internal/pkg/cert/cert.go
  internal/pkg/cert/cert_test.go
  internal/pkg/cert/doc.go
  internal/pkg/cert/testdata/tls.crt
  internal/pkg/cert/testdata/tls.key
  internal/pkg/cert/testdata/tls2.crt
  internal/pkg/cert/testdata/tls2.key
  internal/pkg/cert/testing.go
Labels: core

internal/cli: server run automatically reloads if TLS files change
  internal/cli/server_run.go
Labels: core

website
  website/content/commands/server-run.mdx
Labels: website

changelog
  .changelog/2346.txt
Labels: none

internal/server: log whether our scheme was forwarded or not
  internal/server/http_log.go
Labels: core

internal/server: log kubeprobe http requests at trace level
  internal/server/http_log.go
Labels: core

changelog
  .changelog/2348.txt
Labels: none

ui: fix frontend-lint config
  .circleci/config.yml
Labels: none

ui: upgrade ember from 3.24.4 to 3.24.5
  ui/package.json
  ui/yarn.lock
Labels: ui

internal/server: config resolution needs to account for workspaces
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/config_test.go
  internal/server/sort/config.go
Labels: core

add navigation link
  website/data/commands-nav-data.json
Labels: website

Revert "add navigation link"
  website/data/commands-nav-data.json
Labels: website

internal/cli: remove hyphen from flags
  internal/cli/login.go
  website/content/commands/login.mdx
Labels: core, website

Add waypoint up button
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

add gating logic
  ui/app/helpers/project-is-remote-uppable.ts
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

wip! Add `up` action to the app controller
  ui/app/controllers/workspace/projects/project/app.ts
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

fixup! wip! Add `up` action to the app controller
  ui/app/controllers/workspace/projects/project/app.ts
Labels: ui

Move “Up” logic into <UpButton />
  ui/app/components/up-button.hbs
  ui/app/components/up-button.ts
  ui/app/controllers/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/up-button.scss
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

Update label
  ui/app/components/actions/up.hbs
Labels: ui

Refactor: UpButton > Actions::Up
  ui/app/components/actions/up.hbs
  ui/app/components/actions/up.ts
  ui/app/helpers/project-is-remote-uppable.ts
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

Update logic and increase button size
  ui/app/components/actions/up.hbs
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

Changelog
  .changelog/2331.txt
Labels: none

Add project to model interface
  ui/app/routes/workspace/projects/project/app.ts
Labels: ui

waypoint up in the browser (#2331)
  .changelog/2331.txt
  ui/app/components/actions/up.hbs
  ui/app/components/actions/up.ts
  ui/app/helpers/project-is-remote-uppable.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/up-button.scss
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

ui: dedupe ember-cli-babel
  ui/package.json
  ui/yarn.lock
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 102b8a1b
  internal/server/gen/bindata_ui.go
Labels: core

backport of commit feee5c04860d84007490cd69f6a230aae92f5c78
  website/package-lock.json
Labels: website
