Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

more details
  website/content/docs/upgrading/index.mdx
Labels: website

wip
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

backport of commit a27e7e102fb6ebefafc9d98f100cfc06fe718cf2
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: plugin, plugin/aws, website

Add a caveat about the need for a public ip on ecs tasks
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: plugin, plugin/aws, website

it works wip
  internal/cli/server_upgrade.go
  internal/serverinstall/nomad.go
Labels: core

backport of commit dfe12bedd83df12f97a8f0c77989aebfd62196b1
  ui/app/services/flash-messages.ts
Labels: ui

ui: fix `flashMessages.error` regression
  ui/app/services/flash-messages.ts
Labels: ui

ui: Update HCL field to codemirror (#2168)
  .changelog/2168.txt
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/code-editor-field.hbs
  ui/app/modifiers/code-mirror.ts
  ui/app/modifiers/utils/register-waypoint-hcl-mode.ts
  ui/app/styles/app.scss
  ui/app/styles/components/code-editor-field.scss
  ui/package.json
  ui/tests/integration/modifiers/code-mirror-test.ts
  ui/yarn.lock
Labels: ui

docs: add details about remote runners on server upgrade (#2200)
  website/content/docs/upgrading/index.mdx
Labels: website

ui: add if statement to releases in app card
  ui/app/components/app-card/release.hbs
Labels: ui

add byte parsing for complex hcl types
  internal/config/variables/testdata/complex.wpvars
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
Labels: core

backport of commit 0ae7270e01b6f693e4eb8210e146ad64f7018849
  internal/config/variables/testdata/complex.wpvars
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
Labels: core

go fmt
  internal/config/variables/variables.go
Labels: core

backport of commit 09a4174e0822ab363243170ed1dca82c5beee001
  internal/config/variables/variables.go
Labels: core

changelog
  .changelog/2217.txt
Labels: none

backport of commit 373fd644c16b81d7ab8c807686866b89119bf956
  .changelog/2217.txt
Labels: none

backport of commit 9cf062a2741b19faa7af52723bc0db08ddee6644
  ui/types/ember/router-service.d.ts
  ui/types/global.d.ts
Labels: ui

ui: fix types for router service
  ui/types/ember/router-service.d.ts
  ui/types/global.d.ts
Labels: ui

ui: first draft of unimplemented release indicator - placed indication in all locations that have release info - design tbd, two examples are tried
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/release.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

builtdin/k8s add Ingress support to releaser
  .gitignore
  builtin/k8s/plugin.pb.go
  builtin/k8s/plugin.proto
  builtin/k8s/release.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Don't fail destroy if deploy already gone
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

improve tests and toggle accessibility
  ui/app/components/project-config-variables/list-item.hbs
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Fix label on project settings too
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/styles/components/x-toggle.scss
Labels: ui

Update ui/mirage/factories/config-variable.ts
  ui/mirage/factories/config-variable.ts
Labels: ui

Initialize flash messages in config var test
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Tweak config vars mirage handlers some more
  ui/mirage/services/config.ts
Labels: ui

clean up types
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
Labels: ui

ui/mirage: get config var tests back to green
  ui/mirage/services/config.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Tweak ConfigVars mirage handlers
  ui/mirage/models/config-variable.ts
Labels: ui

Clean up template
  ui/app/components/project-config-variables/list-item.hbs
Labels: ui

Add translations for dropdown actions
  ui/app/components/project-config-variables/list-item.hbs
  ui/translations/en-us.yaml
Labels: ui

ui: de-lint `header/index.ts`
  ui/app/components/header/index.ts
Labels: ui

ui: de-lint `context-create/index.ts`
  ui/app/components/context-create/index.ts
Labels: ui

ui: de-lint `copyable-code/index.ts`
  ui/app/components/copyable-code/index.ts
Labels: ui

ui: de-lint `latest-release-url/index.ts`
  ui/app/components/latest-release-url/index.ts
Labels: ui

clean up types
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
Labels: ui

ui: de-lint `<LogStream>`
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
Labels: ui

backport of commit 7b6d6c62403c1305b128265be488ee2fbe94113c
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
Labels: ui

Ignore node_modules directory
  ui/.template-lintrc.js
Labels: ui

use proper class on input field
  ui/app/components/project-config-variables/list-item.hbs
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
