Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update roadmap.mdx
  website/content/docs/roadmap.mdx
Labels: website

make gen/website-mdx
  website/content/docs/roadmap.mdx
Labels: website

Apply suggestions from code review
  website/content/docs/roadmap.mdx
Labels: website

Apply suggestions from code review
  website/content/docs/roadmap.mdx
Labels: website

expand pipelines section
  website/content/docs/pipelines/index.mdx
  website/content/docs/roadmap.mdx
Labels: website

fix link to be short-link
  website/content/docs/roadmap.mdx
Labels: website

pluralize pipeline header
  website/content/docs/roadmap.mdx
Labels: website

make sentence less specific
  website/content/docs/roadmap.mdx
Labels: website

new sentence altogether
  website/content/docs/roadmap.mdx
Labels: website

this is the format on stable-website; matching
  website/content/docs/glossary.mdx
  website/content/docs/internals/architecture.mdx
  website/content/docs/internals/execution.mdx
  website/content/docs/internals/index.mdx
  website/content/docs/roadmap.mdx
  website/content/docs/troubleshooting.mdx
Labels: website

backport of commit cc04594e655aa7dab689cf46def519da6efe5864
  builtin/aws/ecs/task.go
Labels: plugin, plugin/aws

Remove unnecessary select statement.
  builtin/aws/ecs/task.go
Labels: plugin, plugin/aws

externalize service_release
  pkg/server/singleprocess/service_release.go
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release v0.10.2
  CHANGELOG.md
  internal/version/version.go
Labels: core

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

more externaliztion for service_runner
  pkg/server/singleprocess/service_runner.go
Labels: none

externalize service_snapshot
  pkg/server/singleprocess/service_snapshot.go
Labels: none

statetest: Ensure a pipeline run message exists in database before job
  pkg/serverstate/statetest/test_job.go
Labels: none

backport of commit 07ff4f57efe38218871b99068070076b081aaef1
  pkg/serverstate/statetest/test_job.go
Labels: none

boltdb/pipeline_run: Change how initial sequence num is set
  internal/server/boltdbstate/pipeline_run.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core

backport of commit 1ce21b6e321383ce5e39b437a7035a218d7cc284
  internal/server/boltdbstate/pipeline_run.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core

Don't atomic add sequence
  internal/server/boltdbstate/pipeline_run.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core

backport of commit 241268f8337c0c5bda8072ba693f0b1b010fc84c
  internal/server/boltdbstate/pipeline_run.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core

Null plugin
  builtin/null/builder.go
  builtin/null/null.go
  builtin/null/platform.go
  builtin/null/releaser.go
Labels: plugin

Update build-interface.mdx
  website/content/docs/extending-waypoint/creating-plugins/build-interface.mdx
Labels: website

externalize status_report
  pkg/server/singleprocess/service_status_report.go
Labels: none

externalize service_trigger
  pkg/server/singleprocess/service_trigger.go
Labels: none

update to next 12.3
  website/package-lock.json
  website/package.json
  website/scripts/website-build.sh
Labels: website

backport of commit 801cb88ac93471e0f2c1982168e712f11886eac5
  builtin/vault/internal/auth/aws/aws.go
  go.mod
  go.sum
Labels: plugin

Upgrade Vault API and SDK deps to latest.
  builtin/vault/internal/auth/aws/aws.go
  go.mod
  go.sum
Labels: plugin

Update Makefile to add commit to version # of the CEB.
  Makefile
Labels: none

externalize service_ui_deploy errors
  pkg/server/singleprocess/service_ui_deploy.go
Labels: none

externalize service_ui_project
  pkg/server/singleprocess/service_ui_project.go
Labels: none

externalize service_ui_release
  pkg/server/singleprocess/service_ui_release.go
Labels: none

externalize service_user
  pkg/server/singleprocess/service_user.go
Labels: none

externalize service_waypointhcl
  pkg/server/singleprocess/service_waypointhcl.go
Labels: none

externalize service_workspace
  pkg/server/singleprocess/service_workspace.go
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
