Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update horizon
  go.mod
  go.sum
Labels: none

internal/server: add additional logging to test
  internal/server/singleprocess/service_runner_test.go
Labels: core

Remove jfrog references
  Dockerfile
Labels: none

Update hzn fix tests
  go.mod
  go.sum
Labels: none

Update horizon
  go.mod
  go.sum
Labels: none

Fix typo in from-project flag doc string
  internal/cli/init.go
Labels: core

backport of commit 6fe510aef27bdd7cd5913cbf1914eaad2f4f448e
  internal/cli/init.go
Labels: core

Update website version
  website/data/version.js
Labels: website

Generate CLI docs
  internal/cli/init.go
  website/content/commands/init.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

Update website for release
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: website

Add ember-cli-flash addon
  ui/package.json
  ui/tests/helpers/flash-message.js
  ui/tests/test-helper.js
  ui/yarn.lock
Labels: ui

ui: update static-assets
  internal/server/gen/bindata_ui.go
Labels: core

Release v0.2.4
  CHANGELOG.md
  internal/version/version.go
Labels: core

Update website for release
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: website

Generate CLI docs
  internal/cli/init.go
  website/content/commands/init.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

Update website version
  website/data/version.js
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

release v0.2.4
  CHANGELOG.md
Labels: none

website: stub in <NestedNode> authoring component
  website/components/nested-node/index.jsx
  website/components/nested-node/style.module.css
  website/pages/docs/[[...page]].jsx
Labels: website

website: edit <NestedNode> color for a11y #949494 is the lightest gray we can provide against a pure white bg
  website/components/nested-node/style.module.css
Labels: website

Add Notifications components, service and render in application
  ui/app/components/notifications/index.hbs
  ui/app/components/notifications/index.ts
  ui/app/components/notifications/notification/index.hbs
  ui/app/components/notifications/notification/index.ts
  ui/app/services/flash-messages.ts
  ui/app/styles/_notifications.scss
  ui/app/styles/app.scss
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/ember-cli-build.js
  ui/package.json
  ui/tsconfig.json
  ui/yarn.lock
Labels: ui

Remove system notifications teardown for now
  ui/app/services/flash-messages.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit e5dae43e
  internal/server/gen/bindata_ui.go
Labels: core

Introduce go-changelog to Waypoint
  .changelog/README.md
  .changelog/changelog.tmpl
  .changelog/note.tmpl
  .github/workflows/changelog-checker.yml
Labels: none

Add changelog-build cmd binary install notes
  .changelog/README.md
Labels: none

Makefile: Add gen/changelog make target
  Makefile
Labels: none

builtin/docker/pull: don't pull at all if no CEB and no registry
  builtin/docker/plugin.proto
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

internal/core: send HasRegistry bool with whether a registry is config
  internal/core/app_build.go
  internal/core/app_build_test.go
Labels: core

go.mod
  go.mod
  go.sum
Labels: none

builtin/docker/pull: comments
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

builtin/docker/pull: update docs
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

builtin/docker/pull: pull-out args to struct
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

builtin/docker: args must not be pointer
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

add changlog entry
  .changelog/1198.txt
Labels: none

internal/ceb: Add ability to signal process about config changes
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
Labels: core

internal/cli, builtin/aws/ecs: Add ability to render nested fields, demo with ECS logging
  builtin/aws/ecs/platform.go
  internal/cli/app_docs.go
Labels: core, plugin, plugin/aws

website/content: Update website
  website/content/partials/components/builder-aws-ami.mdx
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/builder-terraform-cloud.mdx
  website/content/partials/components/configsourcer-aws-ssm.mdx
  website/content/partials/components/configsourcer-terraform-cloud.mdx
  website/content/partials/components/configsourcer-vault.mdx
  website/content/partials/components/platform-aws-ec2.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-azure-container-instance.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/platform-terraform-cloud.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/registry-terraform-cloud.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/content/partials/components/releasemanager-terraform-cloud.mdx
  website/content/partials/funcs.mdx
Labels: website

builtin/docker/pull: remove space in docs
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

website: stub in <NestedNode> authoring component (#1214)
  website/components/nested-node/index.jsx
  website/components/nested-node/style.module.css
  website/pages/docs/[[...page]].jsx
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
