Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

use GetApplication() method
  pkg/server/singleprocess/service_ui_deploy.go
Labels: none

Update generated website Makefile
  website/Makefile
Labels: website

Update generated scripts (website-start.sh)
  website/scripts/website-start.sh
Labels: website

Update generated scripts (website-build.sh)
  website/scripts/website-build.sh
Labels: website

Update generated scripts (should-build.sh)
  website/scripts/should-build.sh
Labels: website

Fix panic when setting odr env vars
  internal/cli/runner_profile_set.go
Labels: core

backport of commit 5ab77b981983372b4a81f8fadf7d40e523bca67a
  internal/cli/runner_profile_set.go
Labels: core

changelog
  .changelog/3995.txt
Labels: none

backport of commit 2fec5cc98f935f88ce4e01a82643e07c14c107af
  .changelog/3995.txt
Labels: none

Fix panic when omitting the -plugin-type flag
  internal/cli/runner_profile_set.go
Labels: core

changelog
  .changelog/3996.txt
Labels: none

core/server: auto init projects with `Remote` data source
  pkg/server/singleprocess/service_project.go
Labels: none

Bump nvmrc and update docs
  website/.nvmrc
  website/README.md
Labels: website

core/server: fix typo in populateDataSource error
  pkg/server/singleprocess/service_job.go
Labels: none

Upgrade next version
  website/package-lock.json
  website/package.json
Labels: website

Upgrade next version (#4002)
  website/package-lock.json
  website/package.json
Labels: website

docs: fix build_args summary (array vs map)
  builtin/docker/builder.go
  embedJson/gen/builder-docker.json
  website/content/partials/components/builder-docker.mdx
Labels: plugin, plugin/docker, website

backport of commit 1bcbee8d20919b0139562454ec35d1e05d5cfb05
  builtin/docker/builder.go
  embedJson/gen/builder-docker.json
  website/content/partials/components/builder-docker.mdx
Labels: plugin, plugin/docker, website

backport of commit 1bcbee8d20919b0139562454ec35d1e05d5cfb05
  builtin/docker/builder.go
  embedJson/gen/builder-docker.json
  website/content/partials/components/builder-docker.mdx
Labels: plugin, plugin/docker, website

backport of commit d91f9ec7a1f8fc341854bde33158936b91c46c7b
  internal/cli/logs.go
  internal/client/operation.go
  pkg/server/singleprocess/service_logs.go
Labels: core

logstream: Respect workspace if requested on logs
  internal/cli/logs.go
  internal/client/operation.go
  pkg/server/singleprocess/service_logs.go
Labels: core

backport of commit e49c5952bcc07f5a4558da3c3625e95d7c403b99
  .changelog/4009.txt
Labels: none

Add changelog
  .changelog/4009.txt
Labels: none

cli: Update docstring for deploy sequence
  internal/cli/logs.go
  website/content/commands/logs.mdx
Labels: core, website

backport of commit 1396da88d2d818bb4a136f3cd72e04f47ca4b3f0
  internal/cli/logs.go
  website/content/commands/logs.mdx
Labels: core, website

cli: Fix panic when no flag specified for `waypoint runner profile set`
  internal/cli/runner_profile_set.go
Labels: core

backport of commit 102a1bc29a375715bb29f9eb46c6bbdf48f9b9f3
  internal/cli/runner_profile_set.go
Labels: core

fix: broken links in developer
  website/content/docs/getting-started.mdx
  website/content/docs/waypoint-hcl/syntax/expressions.mdx
  website/content/docs/waypoint-hcl/syntax/index.mdx
  website/content/docs/waypoint-hcl/syntax/json.mdx
  website/content/plugins/aws-ecs.mdx
Labels: website

Add changelog
  .changelog/4013.txt
Labels: none

backport of commit d41d989c79f2a915d96d7dd1fb524c20c3ecd427
  .changelog/4013.txt
Labels: none

Update generated scripts (website-start.sh)
  website/scripts/website-start.sh
Labels: website

Update generated website Makefile
  website/Makefile
Labels: website

Update generated scripts (website-build.sh)
  website/scripts/website-build.sh
Labels: website

updates redirects for developer
  website/redirects.js
Labels: website

updates reference in README
  website/README.md
Labels: website

backport of commit eb665e3bc9c8359c906905358b20228cfc04bae8
  internal/cli/task_cancel.go
Labels: core

cli: Fix panic in task cancel when no task id given as arg
  internal/cli/task_cancel.go
Labels: core

Add changelog
  .changelog/4019.txt
Labels: none

backport of commit b33774c75319feb84bbf44a96cd1a8abe48cb414
  .changelog/4019.txt
Labels: none

Update website/redirects.js
  website/redirects.js
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
