Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Adds details to Getting Started
  website/content/docs/getting-started.mdx
  website/public/img/getting-started/admin-ui.png
Labels: website

Fix Learn URLs for SEO
  website/content/docs/index.mdx
  website/content/plugins/aws-ecs.mdx
  website/content/plugins/azure-container-instances.mdx
  website/content/plugins/docker.mdx
  website/data/downloads.js
Labels: website

Fix robots.txt to disallow indexing of all paths
  ui/public/robots.txt
Labels: ui

Fix robots.txt to disallow indexing of all paths (#453)
  ui/public/robots.txt
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 361b66d7
  internal/server/gen/bindata_ui.go
Labels: core

ui: fix a11y audit with shared svg patterns file
  ui/app/templates/application.hbs
  ui/app/templates/components/svg-patterns.hbs
  ui/public/images/icons/logo-pack-color.svg
Labels: ui

ui: fix deployment mocks
  ui/mirage/services/deployment.ts
Labels: ui

ui: first-class kubernetes svg to fix a11y
  ui/app/helpers/icon-for-component.ts
  ui/app/templates/components/svg-patterns.hbs
  ui/public/images/icons/logo-kubernetes-color-alt.svg
Labels: ui

ui: ensure svg-patterns are hidden
  ui/app/styles/app.scss
  ui/app/templates/components/svg-patterns.hbs
Labels: ui

ui: do not poll in testing mode, fix builds url
  ui/app/services/poll-model.ts
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-tests.ts
  ui/tests/acceptance/releases-list-tests.ts
Labels: ui

ui: add test login helper
  ui/tests/helpers/login.ts
Labels: ui

Adds details to Getting Started (#451)
  website/content/docs/getting-started.mdx
  website/public/img/getting-started/admin-ui.png
Labels: website

Fix path to GitHub actions docs
  website/content/docs/index.mdx
Labels: website

Fix Learn URLs for SEO (#452)
  website/content/docs/index.mdx
  website/content/plugins/aws-ecs.mdx
  website/content/plugins/azure-container-instances.mdx
  website/content/plugins/docker.mdx
  website/data/downloads.js
Labels: website

Final timing adjustments to terminal
  website/components/animated-steps-list/index.jsx
  website/components/animated-steps-list/steps-list/StepsList.module.css
Labels: website

Final timing adjustments to terminal (#457)
  website/components/animated-steps-list/index.jsx
  website/components/animated-steps-list/steps-list/StepsList.module.css
Labels: website

internal/pkg/epinject: use a struct so we can manually set readers/fileinfo
  internal/pkg/epinject/epinject.go
  internal/pkg/epinject/epinject_test.go
Labels: core

builtin: set epinject file directly so the permissions are correct
  builtin/docker/builder.go
  builtin/docker/pull/builder.go
  builtin/pack/builder.go
Labels: plugin, plugin/docker, plugin/pack

internal/server/execclient: use containerd/console for windows
  internal/server/execclient/client.go
  internal/server/execclient/sigwinch.go
  internal/server/execclient/sigwinch_windows.go
Labels: core

internal/ceb: use pty directly
  internal/ceb/exec.go
Labels: core

remove this old conversion file
  internal/server/ptypes/window_size.go
Labels: core

go.mod
  go.mod
  go.sum
Labels: none

go.mod
  go.mod
  go.sum
Labels: none

Add Make task for Windows
  Makefile
Labels: none

Work round problem with Create Symlink for context on Windows
  go.mod
  internal/clicontext/storage.go
Labels: core

Check if error from os.Remove is file not exist
  internal/clicontext/storage.go
Labels: core

Flip downloads to Waypoint Releases
  website/data/version.js
  website/pages/downloads/index.jsx
Labels: website

Added quick start links to readme.
  README.md
Labels: none

Update HSM version w/ Waypoint itself
  website/package-lock.json
  website/package.json
Labels: website

Update HSM version w/ Waypoint itself (#461)
  website/package-lock.json
  website/package.json
Labels: website

Adds waypoint logo to the nav
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

Adds waypoint logo to the nav (#462)
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

Drop old subnav override styling
  website/pages/style.css
Labels: website

Drop old subnav override styling (#463)
  website/pages/style.css
Labels: website

Do not include local state db for buildpacks on Windows
  builtin/pack/builder.go
Labels: plugin, plugin/pack

Change check to remove data.db whenever there is a local job regardless of platform
  builtin/pack/builder.go
Labels: plugin, plugin/pack

Fix URL of Azure Container Instance to match plugin
  website/content/docs/lifecycle/deploy.mdx
  website/content/plugins/azure-container-instance.mdx
  website/data/plugins-navigation.js
Labels: website

Fix URL of Azure Container Instance to match plugin (#456)
  website/content/docs/lifecycle/deploy.mdx
  website/content/plugins/azure-container-instance.mdx
  website/data/plugins-navigation.js
Labels: website

Flip downloads to Waypoint Releases (#385)
  website/data/version.js
  website/pages/downloads/index.jsx
Labels: website

ui: very basic tests for builds/deploys/releases
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/deployments-list-tests.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/acceptance/releases-list-tests.ts
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
