Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Updates to install doc
  website/content/docs/server/install.mdx
Labels: website

backport of commit 6b5e2d05ec723489ea2a7f3d6f498b8a71bdaeda
  website/content/docs/server/install.mdx
Labels: website

backport of commit e3a8730186bc892d62b6b09e1a6e769d61d6273f
  website/content/docs/server/install.mdx
Labels: website

Fix typo
  website/content/docs/server/install.mdx
Labels: website

add authentication route and store attempted transition
  ui/app/routes/application.ts
  ui/config/environment.js
  ui/types/ember-simple-auth/services/session.d.ts
Labels: ui

ui: add workspace selector to app page (without options)
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

ui: plumb in workspaces
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/services/api.ts
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

Maintain the current page (operation) when navigating between projects
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

move login helper to beforeEach hook
  ui/tests/acceptance/build-detail-test.ts
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/acceptance/percy-test.ts
  ui/tests/acceptance/release-detail-test.ts
  ui/tests/acceptance/release-resource-detail-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/helpers/login.ts
  ui/types/ember-simple-auth/services/session.d.ts
Labels: ui

Better error message if no subnets are found.
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 6cfafd29c99c5b2dabebd76ddbe917832f57592b
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

use the platform name in the installation message
  internal/cli/install.go
Labels: core

ui: extract `<WorkspaceSwitcher>`
  ui/app/components/workspace-switcher.hbs
  ui/app/components/workspace-switcher.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/workspace-switcher.scss
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

UI: Use ember simple auth for Authentication (#2619)
  ui/app/authenticators/token.ts
  ui/app/components/actions/invite.ts
  ui/app/components/header/index.ts
  ui/app/components/login-invite/index.ts
  ui/app/components/login-token/index.ts
  ui/app/components/logout/index.ts
  ui/app/initializers/migrate-session.ts
  ui/app/routes/application.ts
  ui/app/services/api.ts
  ui/app/services/session.ts
  ui/config/environment.js
  ui/package.json
  ui/tests/acceptance/build-detail-test.ts
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/acceptance/percy-test.ts
  ui/tests/acceptance/release-detail-test.ts
  ui/tests/acceptance/release-resource-detail-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/helpers/login.ts
  ui/types/ember-simple-auth/authenticators/base.d.ts
  ui/types/ember-simple-auth/services/session.d.ts
  ui/yarn.lock
Labels: ui

Typo fix
  website/content/docs/server/install.mdx
Labels: website

backport of commit 7a769636fb8a3bca97bdb220d7e92c27fa17d340
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

backport of commit 237fd29b2f2b9d3c27bbc696c6277dc395b1f6d3
  website/content/docs/server/install.mdx
Labels: website

backport of commit cf31ed2dadd5081f2892d56a167dba49b3d63a78
  internal/serverinstall/k8s.go
Labels: core

Do not error on existing cluster roles, and clean up rbac on uninstall
  internal/serverinstall/k8s.go
Labels: core

backport of commit 52fb623c202c15fafb4ed899a417c80e58d331a0
  .changelog/2654.txt
Labels: none

Changelog
  .changelog/2654.txt
Labels: none

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

backport of commit 1ec3a972f2ba4a3924fd05fb610eee147b29f0b6
  website/content/docs/server/install.mdx
Labels: website

backport of commit cacd1270c174afc027e89848d614f5f0147c052d
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

backport of commit d8c1be9bc62c64303e79a8f08c9782ee4534b604
  website/content/docs/server/install.mdx
Labels: website

backport of commit 6bfdf625dd0e81fc61b40cb697ffaccc1384f4b5
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

backport of commit ab1422a214a5f27d9bc5a17c460d7daa21a31f14
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

backport of commit 66941478fb04be83a089c99d05cfff7619a92056
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/install.mdx
  website/content/docs/server/install.mdx
Labels: website

backport of commit 00de0da5b5c544259f982d4ad2cbb8d8ae6289d9
  website/content/docs/server/install.mdx
Labels: website

Update website/content/docs/server/run/index.mdx
  website/content/docs/server/run/index.mdx
Labels: website

backport of commit 7e314b4ce2aabb3bbcb1e628d8c1eba47b6cd00c
  website/content/docs/server/run/index.mdx
Labels: website

Generate TaskInfo message for Nomad plugin proto
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
Labels: plugin, plugin/nomad

backport of commit 3eff16abaf51b1eedf5cb720988646d35ca8cd99
  internal/serverinstall/nomad.go
Labels: core
