Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit ec7894fb3defe95bc548b3cd4d7e6f185b1eb831
  .changelog/1317.txt
Labels: none

changelog: add changelog entry
  .changelog/1317.txt
Labels: none

backport of commit e4264d7f4c7711072c4d3f9d71361ffa474dd17f
  internal/cli/server_bootstrap.go
Labels: core

internal/cli: server bootstrap should not spin up local runner
  internal/cli/server_bootstrap.go
Labels: core

changelog
  .changelog/1320.txt
Labels: none

backport of commit 4da4a254d9916eb60414c7fe0d1c4344f7a4edb5
  .changelog/1320.txt
Labels: none

delete generated tests for routes that were removed
  ui/tests/unit/routes/workspace/projects/project/app/settings-test.ts
  ui/tests/unit/routes/workspace/projects/project/apps/new-test.ts
Labels: ui

make format
  internal/serverinstall/nomad.go
Labels: core

Add fallback flag
  internal/serverinstall/nomad.go
Labels: core

Update nomad.go
  internal/serverinstall/nomad.go
Labels: core

backport of commit 3214176db2b26737eb85db60cb57114cdebcd363
  internal/serverinstall/nomad.go
Labels: core

backport of commit 5dc03dcfdcd14cc629bc34d6d1493f9f23ddbf72
  internal/serverinstall/nomad.go
Labels: core

backport of commit 2564990aaf24ccdcf8d8912c80e519424b4d503f
  internal/serverinstall/nomad.go
Labels: core

backport of commit ae5ae1523ce97a2d04e12034878072f6f8c88b53
  .changelog/1106.txt
Labels: none

Add CHANGELOG
  .changelog/1106.txt
Labels: none

serverinstall/nomad: Introduce auth soft fail flag for server installs
  internal/serverinstall/nomad.go
Labels: core

backport of commit 33d2babfbdbacfbe656f7725b916919056c7328b
  internal/serverinstall/nomad.go
Labels: core

backport of commit ff8831f62723e7fc2a8903e618263d92bc0a6479
  .changelog/1106.txt
Labels: none

Delete extra whitespace in changelog txt
  .changelog/1106.txt
Labels: none

show usage example on 'waypoint context use' command
  internal/cli/context_use.go
Labels: core

backport of commit 1809a37a578fc8e75e3d933c154b77a71b8bdbe1
  internal/cli/context_use.go
Labels: core

backport of commit c0090c4501565a765bab1ed8ad002fdcb299648c
  .changelog/1325.txt
Labels: none

add changelog file
  .changelog/1325.txt
Labels: none

backport of commit de6f744dfb13e09535c3de62d13ddcf743f2f111
  .changelog/1317.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

address PR comments, improve changelog
  .changelog/1317.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 9bbd51fdff6e15ac9b6fd2e39e29eddbbdb75300
  internal/cli/uninstall.go
  internal/serverinstall/nomad.go
Labels: core

remove purge flag to match other uninstall defaults
  internal/cli/uninstall.go
  internal/serverinstall/nomad.go
Labels: core

backport of commit a6627c0535903518421ea6658f62242d08bfc5bf
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

docs gen
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

backport of commit a726bbb8208e80ff451c1aff3443b9299339f766
  .changelog/1326.txt
Labels: none

changelog
  .changelog/1326.txt
Labels: none

mock versionInfo API
  ui/mirage/config.ts
  ui/mirage/services/version-info.ts
Labels: ui

cmd/waypoint-entrypoint: default log level to DEBUG, env var to change
  cmd/waypoint-entrypoint/main.go
  internal/ceb/ceb.go
  internal/ceb/config.go
  internal/ceb/config_test.go
  internal/ceb/log.go
  internal/ceb/testing.go
Labels: core

backport of commit 282297960a5441976d2557e4e1c5a799f584b65f
  cmd/waypoint-entrypoint/main.go
  internal/ceb/ceb.go
  internal/ceb/config.go
  internal/ceb/config_test.go
  internal/ceb/log.go
  internal/ceb/testing.go
Labels: core

changelog
  .changelog/1330.txt
Labels: none

backport of commit 160c558425aaa2381a5dc98d2287da4d3804fb07
  .changelog/1330.txt
Labels: none

backport of commit 559784955b0fa90aa0b802802638456093f51cb3
  internal/ceb/config.go
Labels: core

internal/ceb: process app env
  internal/ceb/config.go
Labels: core

backport of commit cebac9af76213b82438829865ecfd557d0b0933e
  website/content/docs/entrypoint/index.mdx
  website/content/docs/troubleshooting.mdx
Labels: website

website: docs
  website/content/docs/entrypoint/index.mdx
  website/content/docs/troubleshooting.mdx
Labels: website
