Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Remove else branch
  internal/core/app_status_report.go
Labels: core

Use target id for associating report with deploy or releease op
  internal/server/proto/server.proto
Labels: core

Remove extra TODO
  internal/core/app_status_report.go
Labels: core

Simplify artifact preload check
  internal/core/app_status_report.go
Labels: core

Clarify resource order
  internal/server/proto/server.proto
Labels: core

Decouple status report from deployments and releases
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
  internal/runner/operation_status_report.go
  internal/server/ptypes/component.go
Labels: core

Fix doc comment
  internal/core/app_status_report.go
Labels: core

Build out app status report func
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/core/app_status_report.go
  internal/runner/operation_up.go
Labels: core

Fixup doc comments
  internal/server/singleprocess/service_status_report_test.go
  internal/server/singleprocess/state/status_report.go
Labels: core

Simplify StatusReport in server proto
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

Move defer to after unimpl check
  internal/core/app_status_report.go
Labels: core

proto gen
  internal/server/gen/mocks/is_status_report__target_id.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
Labels: core

Remove physical_state from listing status report api
  internal/server/proto/server.proto
  internal/server/singleprocess/service_status_report.go
Labels: core

proto gen
  internal/server/gen/server.pb.go
Labels: core

Remove comment about preload and status reports
  internal/server/proto/server.proto
Labels: core

Properly load HCL context variables prior to status report
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/core/app_status_report.go
Labels: core

Simplify status report UI output in cli
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/core/app_status_report.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
Labels: core

Return nothing for Hooks and Labels in app status report
  internal/core/app_status_report.go
Labels: core

Update app status report to include sdk proto StatusReport
  internal/core/app_status_report.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
Labels: core

Attempt to return status report proto and component
  internal/core/app_status_report.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
Labels: core

Ensure deployTarget not nil for querying artifact
  internal/core/app_status_report.go
Labels: core

Simplify how target args is assigned
  internal/core/app_status_report.go
Labels: core

Update StatusReport health with single repeated instance of report
  internal/core/app_status_report.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
Labels: core

Ensure returning message is a pb.StatusReport to prevent crash on convert
  internal/core/app_status_report.go
Labels: core

Add changelog entry
  .changelog/1488.txt
Labels: none

Include generated plugin report and overall status in message
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
  internal/runner/operation_status_report.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

Simplify status report component creator
  internal/core/app_status_report.go
Labels: core

Remove old comment
  internal/core/app_status_report.go
Labels: core

Update Status Report job to handle both deployments and releases
  builtin/docker/platform.go
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/core/app.go
  internal/core/app_exec_test.go
  internal/core/app_release.go
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
  internal/server/gen/mocks/is_job__status_report_op__target.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_status_report_test.go
  internal/server/singleprocess/state/status_report.go
  internal/server/singleprocess/state/status_report_test.go
Labels: core, plugin, plugin/docker

Remove temp UI sleep fixes
  builtin/docker/platform.go
Labels: plugin, plugin/docker

plugin/docker: Report on deploy status
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Adding a sleep to (hopefully) replicate a race condition loss
  internal/server/singleprocess/service_runner.go
Labels: core

Applying the minimal fix.
  internal/server/singleprocess/service_runner.go
Labels: core

Removing race condition inducer
  internal/server/singleprocess/service_runner.go
Labels: core

changelog
  .changelog/1538.txt
Labels: none

Switching to .Equals() for time comparison.
  internal/server/singleprocess/service_runner.go
Labels: core

Generate API Bndings for health checks
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

Upgrade to ember-cli-mirage ^2.2.0
  ui/package.json
  ui/yarn.lock
Labels: ui

Add TestContext.server to type declarations
  ui/types/global.d.ts
Labels: ui

Use Mirage’s DB/ORM/Factory in tests and dev
  ui/mirage/helpers/protobufs.ts
  ui/mirage/scenarios/default.ts
  ui/mirage/serializers/application.ts
  ui/mirage/services/build.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/project.ts
  ui/mirage/services/release.ts
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/acceptance/releases-list-test.ts
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
