Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Update website/content/docs/getting-started.mdx
  website/content/docs/getting-started.mdx
Labels: website

Update website/content/docs/getting-started.mdx
  website/content/docs/getting-started.mdx
Labels: website

Update getting-started.mdx
  website/content/docs/getting-started.mdx
Labels: website

ui: Update API definitions to include everything for ExpediteStatusReport
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit f7aa0408
  internal/server/gen/bindata_ui.go
Labels: core

internal/server: Respect TOS flag for using URL service
  internal/server/singleprocess/service.go
Labels: core

backport of commit b755ee89cfb8d95d50c99b86de0ee55fa226c413
  internal/serverinstall/ecs.go
Labels: core

Improve ECS Server uninstall
  internal/serverinstall/ecs.go
Labels: core

Clarify method doc
  internal/server/singleprocess/service.go
Labels: core

backport of commit feda837527a6ae79817f7049eb5be6f37c4046d9
  internal/serverinstall/ecs.go
Labels: core

don't tag access points or ELB listeners
  internal/serverinstall/ecs.go
Labels: core

Status report protobuf tweaks
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
Labels: core

plugin/docker: handling missing container
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Converting plugin -> server declared resources with mapstructure
  internal/core/app_deploy.go
Labels: core

Copying everything from the sdk status report to the server status report
  internal/core/app_status_report.go
Labels: core

changelog
  .changelog/1984.txt
Labels: none

backport of commit 02eb800e071231cd25d42178057de678b5cda0ab
  .changelog/1984.txt
Labels: none

Updating plugin sdk
  go.mod
  go.sum
Labels: none

add platform flag to build
  builtin/docker/builder.go
  website/content/partials/components/builder-docker.mdx
Labels: plugin, plugin/docker, website

changelog
  .changelog/1949.txt
Labels: none

wording changes
  .changelog/1949.txt
  builtin/docker/builder.go
Labels: plugin, plugin/docker

update website docs
  website/content/partials/components/builder-docker.mdx
Labels: website

Updating plugin sdk
  go.sum
Labels: none

internal/server: Introduce target field for filtering status reports
  internal/server/proto/server.proto
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_status_report_test.go
Labels: core

proto gen
  internal/server/gen/mocks/is_list_status_reports_request__target.go
  internal/server/gen/server.pb.go
  internal/server/singleprocess/service_status_report_test.go
Labels: core

test: Ensure all status reports are returned in the default case
  internal/server/singleprocess/service_status_report_test.go
Labels: core

Updating test with field name changes
  internal/core/app_deploy_test.go
Labels: core

Reorder imports
  internal/core/app_deploy.go
Labels: core

Rolling back protobuf changes
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
Labels: core

Wiring declared resources into the release func
  internal/core/app_release.go
Labels: core

Using declared resources in the k8s releaser
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Updating plugin sdk
  go.mod
  go.sum
Labels: none

gen/ts: preload git data on operations
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

Add further instructions to readme
  ui/README.md
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit a3be5040
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit f3281a23
  internal/server/gen/bindata_ui.go
Labels: core

initial move of gcp to use resource mgr
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/google/cloudrun/plugin.proto
  go.mod
  go.sum
  internal/cli/destroy.go
Labels: core, plugin, plugin/google

website: bump to global style update releases
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

website: backfill missing type styles
  website/components/animated-steps-list/steps-list/step/index.jsx
  website/components/homepage-hero/index.jsx
  website/components/homepage-section/index.jsx
  website/components/info-grid/index.jsx
  website/components/longform-page/index.jsx
  website/components/waypoint-diagram/index.jsx
  website/pages/404.jsx
Labels: website

website: patch issues on community page
  website/pages/community/index.jsx
  website/pages/community/style.module.css
Labels: website
