Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

removes NestedNode
  website/pages/docs/[[...page]].jsx
Labels: website

updates scripts
  website/package-lock.json
  website/package.json
Labels: website

update package.json and README for ui dev set up
  ui/README.md
  ui/package.json
Labels: ui

add chrome back to the required list
  ui/README.md
Labels: ui

Transition to new project route after creation
  ui/app/controllers/workspace/projects/new.ts
Labels: ui

Create model in new project route, add breadcrumbs
  ui/app/routes/workspace/projects/new.ts
  ui/app/templates/workspace/projects/new.hbs
Labels: ui

Add project git settings toggle
  ui/app/controllers/workspace/projects/new.ts
  ui/app/templates/workspace/projects/new.hbs
Labels: ui

remove app-settings form and route
  ui/app/components/app-form/app-settings.hbs
  ui/app/components/app-form/app-settings.ts
  ui/app/routes/workspace/projects/project/apps/new.ts
  ui/app/templates/workspace/projects/project/apps/new.hbs
Labels: ui

Add app-settings form component
  ui/app/components/app-form/app-settings.hbs
  ui/app/components/app-form/app-settings.ts
Labels: ui

Pass application and projects models to settings form
  ui/app/components/app-form/app-settings.hbs
  ui/app/components/app-form/app-settings.ts
  ui/app/routes/workspace/projects/project/app/settings.ts
  ui/app/templates/workspace/projects/project/app/settings.hbs
Labels: ui

Add link to app settings route
  ui/app/routes/workspace/projects/project/app/settings.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/settings.hbs
Labels: ui

Enabled/disabled app git settings
  ui/app/components/app-form/app-settings.hbs
  ui/app/components/app-form/app-settings.ts
Labels: ui

Add new project route
  ui/app/router.js
  ui/app/routes/workspace/projects/new.ts
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/tests/unit/routes/workspace/projects/new-test.ts
Labels: ui

Update settings link to use tabs navigation
  ui/app/templates/workspace/projects/project/app.hbs
  ui/translations/en-us.yaml
Labels: ui

Add apps/new and app/settings routes
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/settings.ts
  ui/app/routes/workspace/projects/project/apps/new.ts
  ui/app/templates/workspace/projects/project/app/settings.hbs
  ui/app/templates/workspace/projects/project/apps/new.hbs
  ui/tests/unit/routes/workspace/projects/project/app/settings-test.ts
  ui/tests/unit/routes/workspace/projects/project/apps/new-test.ts
Labels: ui

Create new project
  ui/app/controllers/workspace/projects/new.ts
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/tests/unit/controllers/workspace/projects/new-test.ts
Labels: ui

Update post-creation transition and poll project model to wait for apps
  ui/app/components/app-form/project-settings.ts
  ui/app/routes/workspace/projects/project.ts
Labels: ui

Add changelog entry
  .changelog/1220.txt
Labels: none

Update form, add success/error message, and reset controller state on exit
  ui/app/controllers/workspace/projects/new.ts
  ui/app/routes/workspace/projects/new.ts
  ui/app/templates/workspace/projects/new.hbs
Labels: ui

internal/config: appendContext didn't preserve parent trees
  internal/config/eval_context.go
Labels: core

internal/core: default releaser needs access to same vars as deploy
  internal/core/app_deploy.go
  internal/core/app_release.go
Labels: core

changelog
  .changelog/1254.txt
Labels: none

internal/config: typos
  internal/config/eval_context.go
Labels: core

Added "timestamp" HCL function
  .changelog/1255.txt
  internal/cli/app_docs.go
  internal/config/eval_context.go
  internal/config/funcs/datetime.go
  internal/config/funcs/datetime_test.go
Labels: core

backport of commit 5d9c09162562a9caab73fdcfd813e2765e99dbc5
  .changelog/1256.txt
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

verify Route53 type A record exists, else create new
  .changelog/1256.txt
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

website: clarify automating execution with the new git stuff
  website/content/docs/automating-execution/index.mdx
Labels: website

Use intl strings & form submit for new project
  ui/app/controllers/workspace/projects/new.ts
  ui/app/templates/workspace/projects/new.hbs
  ui/translations/en-us.yaml
Labels: ui

use Pds::CtaLink component for button link
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

style: update gray brand colors
  website/components/animated-steps-list/steps-indicator/StepsIndicator.module.css
  website/components/branded-cta/branded-cta.module.css
  website/components/features/Features.module.css
  website/components/footer/style.module.css
  website/components/homepage-section/HomepageSection.module.css
  website/package-lock.json
  website/package.json
Labels: website

style: update brand colors
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/info-grid/InfoGrid.module.css
  website/components/longform-page/LongformPage.module.css
  website/components/waypoint-diagram/img/code-to-deployment.svg
  website/components/waypoint-diagram/img/code.svg
  website/components/waypoint-diagram/img/logos/and-more.svg
  website/components/waypoint-diagram/img/logos/nomad.svg
  website/components/waypoint-diagram/img/platform.svg
  website/package-lock.json
  website/package.json
  website/pages/downloads/img/waypoint-logo.svg
  website/pages/home/img/step-logos/and-more.svg
  website/pages/home/img/step-logos/nomad.svg
  website/pages/home/img/step-logos/terraform.svg
  website/pages/home/img/why-waypoint/deployment-confidence.svg
  website/pages/home/img/why-waypoint/ecosystem-extensibility.svg
  website/pages/home/img/why-waypoint/workflow-consistency.svg
  website/public/img/hero-left.svg
  website/public/img/hero-right.svg
  website/public/img/mobile-hero-pattern.svg
Labels: website

add hcl file form
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/translations/en-us.yaml
Labels: ui

nicer hcl input
  ui/app/components/app-form/project-settings.hbs
  ui/app/styles/_pds-form.scss
Labels: ui

Add changelog entry
  .changelog/1253.txt
Labels: none

Add format constants to make things less confusing
  ui/app/components/app-form/project-settings.ts
Labels: ui

more intl strings
  ui/app/components/app-form/project-settings.hbs
  ui/translations/en-us.yaml
Labels: ui

chore: upgrades react-components
  website/components/animated-terminal/framed-terminal/index.jsx
  website/package-lock.json
  website/package.json
  website/pages/downloads/index.jsx
  website/pages/home/index.jsx
Labels: website

style: remove placeholder `link-color` variable
  website/components/longform-page/LongformPage.module.css
  website/pages/community/style.module.css
  website/pages/style.css
Labels: website

style: update svg background color
  website/components/waypoint-diagram/img/logos/nomad.svg
  website/pages/home/img/step-logos/nomad.svg
Labels: website

Update the StackMenu to the latest
  website/package-lock.json
  website/package.json
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
