Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

pr feedback: remove initial expire time from run job
  pkg/server/singleprocess/service_job.go
Labels: none

Add proper URL
  .changelog/3466.txt
  internal/config/validate.go
Labels: core

Update go mod tidy
  go.mod
Labels: none

pr feedback: Queue reserved step ops in RunPipeline service func
  internal/runner/operation_pipeline_step.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

Update internal/plugin/invoke.go
  internal/plugin/invoke.go
Labels: core

Remove trailing whitespace to pacify the linter
  internal/plugin/invoke.go
Labels: core

Allow calling state from handler tests
  pkg/server/singleprocess/handler_test.go
  pkg/serverhandler/handlertest/handlertest.go
  pkg/serverhandler/handlertest/test_service_artifact.go
  pkg/serverhandler/handlertest/test_service_auth_method.go
  pkg/serverhandler/handlertest/test_service_auth_oidc.go
  pkg/serverhandler/handlertest/test_service_build.go
  pkg/serverhandler/handlertest/test_service_config.go
  pkg/serverhandler/handlertest/test_service_deploy.go
  pkg/serverhandler/handlertest/test_service_instance.go
  pkg/serverhandler/handlertest/test_service_job.go
  pkg/serverhandler/handlertest/test_service_logs.go
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
  pkg/serverhandler/handlertest/test_service_project.go
  pkg/serverhandler/handlertest/test_service_release.go
  pkg/serverhandler/handlertest/test_service_status_report.go
  pkg/serverhandler/handlertest/test_service_trigger.go
  pkg/serverhandler/handlertest/test_service_ui_deploy.go
  pkg/serverhandler/handlertest/test_service_ui_project.go
  pkg/serverhandler/handlertest/test_service_ui_release.go
  pkg/serverhandler/handlertest/test_service_user.go
  pkg/serverhandler/handlertest/test_service_waypointhcl.go
  pkg/serverhandler/handlertest/test_service_workspace.go
Labels: none

Helpers for returning errors to clients
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/hcerr/doc.go
  pkg/server/hcerr/hcerr.go
  pkg/server/hcerr/hcerr_test.go
  pkg/server/proto/server.proto
Labels: none

Better doc comment explaining args
  pkg/server/hcerr/hcerr.go
Labels: none

Pacifying the linter
  pkg/server/hcerr/hcerr.go
Labels: none

Using the error helpers
  pkg/server/singleprocess/service_ondemand_runner.go
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_user.go
Labels: none

More detailed tests
  pkg/server/hcerr/hcerr_test.go
Labels: none

Interpreting new externalized errors in the CLI
  internal/clierrors/humanize.go
Labels: core

Not double-logging err
  pkg/server/singleprocess/service_ondemand_runner.go
Labels: none

Initial implementation of deleting a runner profile.
  internal/cli/main.go
  internal/cli/runner_profile_delete.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/ondemand_runner.go
  pkg/server/singleprocess/service_ondemand_runner.go
  website/data/commands-nav-data.json
Labels: core, website

Runner profile delete docs.
  website/content/commands/runner-profile-delete.mdx
Labels: website

Change output message from name to id for correctness.
  internal/cli/runner_profile_delete.go
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
Labels: core

Changelog.
  .changelog/3474.txt
Labels: none

internal/server: Ensure k8s task plugin properly sets install profile
  builtin/k8s/platform.go
  builtin/k8s/task.go
  internal/plugin/invoke.go
  internal/serverinstall/k8s.go
Labels: core, plugin, plugin/k8s

serverinstall/k8s: Set resource limits and requests to unbounded
  internal/serverinstall/k8s.go
Labels: core

Add the Changelog
  .changelog/3475.txt
Labels: none

pkg/serverstate: PipelineGet
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/serverstate: PipelinePut
  internal/server/boltdbstate/pipeline.go
  pkg/server/ptypes/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/server/ptypes: pipeline validation
  internal/pkg/validationext/map.go
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: core

pkg/serverstate: PipelineDelete
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/server/ptypes: validate step graph
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: none

internal/server: boltdb state should reuse pipeline validation
  internal/server/boltdbstate/pipeline.go
Labels: core

proto
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

pkg/server: UpsertPipeline API
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

pkg/server: implement task override and skipping
  pkg/server/singleprocess/service_job.go
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

internal/runner: pipeline step execution initial impl
  internal/runner/operation.go
  internal/runner/operation_pipeline_step.go
Labels: core

cli: job knows about about pipeline steps
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/client/job.go
Labels: core

internal/runner: stream child step UI events to the job UI
  internal/runner/operation_pipeline_step.go
Labels: core

extract internal/jobstreamui
  internal/client/job.go
  internal/jobstreamui/ui.go
Labels: core

internal/jobstream: log unknowns
  internal/jobstreamui/ui.go
  internal/runner/operation_pipeline_step.go
Labels: core

builtin/docker: don't error if error is nil!
  builtin/docker/task.go
Labels: plugin, plugin/docker

internal/config: Introduce Pipelines and Steps for parsing configs
  internal/config/config.go
  internal/config/operation.go
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline.hcl
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_step.hcl
  internal/core/project.go
Labels: core

internal/config: Validate pipeline stanzas
  internal/config/pipeline.go
  internal/config/plugin.go
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_no_step.hcl
  internal/config/validate.go
  internal/config/validate_test.go
Labels: core

internal/config: Update Pipeline to have multi-step stanzas
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
Labels: core

internal/config: Update StepLabels to return all labels for all steps
  internal/config/pipeline.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
