Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

website: add http header to prevent tip indexing
  website/.gitignore
  website/next.config.js
  website/package.json
Labels: website

website: add http header to prevent tip indexing (#916)
  website/.gitignore
  website/next.config.js
  website/package.json
Labels: website

Fixes https://github.com/hashicorp/waypoint/issues/687
  builtin/docker/platform.go
Labels: plugin, plugin/docker

backport of commit 0d334c190dd4571f07a2fb5aac69dcca8514a733
  builtin/docker/platform.go
Labels: plugin, plugin/docker

website: add explicit match for root path header - workaround based on this current bug: https://github.com/vercel/next.js/issues/14930
  website/next.config.js
Labels: website

website: add explicit match for root path header (#919)
  website/next.config.js
Labels: website

backport of commit fb67c5f5af927d490547fb485c367a26f2a48af1
  internal/cli/server_config_set.go
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot.go
  internal/clisnapshot/snapshot_test.go
Labels: core

move cli snapshot commands to separate package
  internal/cli/server_config_set.go
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot.go
  internal/clisnapshot/snapshot_test.go
Labels: core

remove superfluous test
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot_test.go
Labels: core

backport of commit 46ec52017cc8c2690683452445d6913293a3c7fd
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot_test.go
Labels: core

add defer close in test; docs; remove unused config
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot.go
  internal/clisnapshot/snapshot_test.go
Labels: core

backport of commit 649095e95d81df7a4538b07014dff2076c734294
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot.go
  internal/clisnapshot/snapshot_test.go
Labels: core

backport of commit bd5386ec8fba81f5f1ba905830c6f2af57506249
  internal/clisnapshot/snapshot.go
Labels: core

gofmt
  internal/clisnapshot/snapshot.go
Labels: core

Add server_apitoken state get/set for server
  internal/server/singleprocess/state/server_apitoken.go
Labels: core

Store API Token in state to prevent re-registering guest account
  internal/server/singleprocess/service_url.go
Labels: core

godocs
  internal/clisnapshot/snapshot.go
Labels: core

backport of commit 7b86ecb5ef885032c2d6cbd55a8ddd2fa5335904
  internal/clisnapshot/snapshot.go
Labels: core

Add more explicit key name
  internal/server/singleprocess/state/server_apitoken.go
Labels: core

Rename to URL Token
  internal/server/singleprocess/service_url.go
  internal/server/singleprocess/state/server_apitoken.go
  internal/server/singleprocess/state/server_urltoken.go
Labels: core

Set URL Token if stored in data store
  internal/server/singleprocess/service_url.go
Labels: core

add docker-compose to shell.nix
  shell.nix
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

backport of commit dee1dd374a14f743ed4b41553433d75146c637f6
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

backport of commit dee1dd374a14f743ed4b41553433d75146c637f6
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

Update docs example for multiple app stanza
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

builtin/aws/ecs: properly clamp the service name. Closes #873
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 79c027e8ffb68d309fa40cdb9c6d495aeb717f8c
  .circleci/config.yml
  CHANGELOG.md
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/install.go
  internal/cli/option.go
  internal/cli/runner_agent.go
  internal/server/singleprocess/service_url.go
  internal/server/singleprocess/state/server_urltoken.go
  internal/serverconfig/config.go
  internal/serverconfig/config_test.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  shell.nix
  website/.gitignore
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: core, website

builtin/aws/ecs: also clamp roleName
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 1ac44a1788bc8e4bff4612a5e39a55f03b010a37
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

builtin/aws/ecs: also clamp lbName
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 68c046a2074f16d63552dfcadcce5745c4a15197
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

shell.nix: stuff needed on NixOS for website build
  shell.nix
Labels: none

backport of commit a4daa08bbfb142b3bad94420cbb3a36f354573bb
  internal/serverinstall/k8s.go
Labels: core

k8s install: Return error creating service/statefulset.
  internal/serverinstall/k8s.go
Labels: core

builtin/pack: support specifying buildpacks
  builtin/pack/builder.go
Labels: plugin, plugin/pack

Add API type definition generation instrcutions
  ui/README.md
Labels: ui

Add a generic build target for waypoint server container
  Makefile
Labels: none

Add instructions to run a local build
  ui/README.md
Labels: ui

update install command to use dev tag
  ui/README.md
Labels: ui
