Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

more status cleanups
  internal/serverinstall/ecs.go
Labels: core

state/status_report: Increase max records for status reports
  internal/server/singleprocess/state/status_report.go
Labels: core

make cpu and memory part of the config
  internal/serverinstall/ecs.go
Labels: core

remove dead code
  internal/serverinstall/ecs.go
Labels: core

ui/mirage: sort builds/deployments/releases
  ui/app/helpers/icon-for-component.ts
  ui/mirage/factories/build.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/release.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/generation.ts
  ui/mirage/scenarios/default.ts
  ui/mirage/services/build.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/release.ts
Labels: ui

ui/deployments: auto-fix controller linting issues
  ui/app/controllers/workspace/projects/project/app/deployments.ts
  ui/app/templates/workspace/projects/project/app/deployments.hbs
Labels: ui

update some step group things after feedback
  internal/serverinstall/ecs.go
Labels: core

Update internal/serverinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

Apply suggestions from code review
  internal/serverinstall/ecs.go
Labels: core

update changelog entry
  .changelog/1564.txt
Labels: none

Add plugin changelogs for k8s, docker, and nomad
  .changelog/1487.txt
  .changelog/1547.txt
  .changelog/1554.txt
Labels: none

Add support for installing Waypoint server to AWS ECS (#1564)
  .changelog/1564.txt
  internal/serverinstall/ecs.go
  internal/serverinstall/serverinstall.go
Labels: core

Typo
  internal/core/operation.go
Labels: core

ui: added mutable deployments support to dashboard
  .changelog/1549.txt
  ui/app/components/app-item/deployment.hbs
  ui/app/controllers/workspace/projects/project/app/deployments.ts
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/mirage/factories/project.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

ui: add ...attributes to <Card>
  ui/app/components/card.hbs
Labels: ui

ui: update <StatusBadge>
  ui/app/components/status-badge/index.hbs
  ui/app/components/status-badge/index.ts
  ui/app/styles/_status-badge.scss
  ui/tests/integration/components/status-badge-test.ts
  ui/translations/en-us.yaml
Labels: ui

ui: temp fix for deployment detail h1 violation
  ui/app/templates/workspace/projects/project/app/deployment.hbs
Labels: ui

ui: fix empty-state color contrast violation
  ui/app/styles/_page.scss
Labels: ui

ui: auto-fix linting issues in deployment route
  ui/app/routes/workspace/projects/project/app/deployment.ts
Labels: ui

ui: auto-fix linting issues in api service
  ui/app/services/api.ts
Labels: ui

ui: force <Pds::Icon> to center align
  ui/app/styles/app.scss
Labels: ui

ui/mirage: add status-report and friends
  ui/mirage/config.ts
  ui/mirage/factories/health.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/status-report.ts
  ui/mirage/factories/status.ts
  ui/mirage/models/application.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/health.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status-report.ts
  ui/mirage/models/workspace.ts
  ui/mirage/services/status-report.ts
Labels: ui

ui/mirage: add a stub GetJobStream handler
  ui/mirage/config.ts
  ui/mirage/services/job.ts
Labels: ui

ui: add status reports to deployment list items
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/services/api.ts
  ui/app/styles/_app-card.scss
  ui/app/styles/_app-item.scss
  ui/tests/acceptance/deployments-list-test.ts
Labels: ui

Add .changelog/1559.txt
  .changelog/1559.txt
Labels: none

ui: add status report to deployment detail page
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/tests/acceptance/deployment-detail-test.ts
Labels: ui

website: Update components docs
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: website

website: Update CLI docs
  website/content/commands/context-inspect.mdx
  website/content/commands/context.mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/commands/context-inspect_desc.mdx
  website/content/partials/commands/context-inspect_more.mdx
Labels: website

Add new pages to nav
  website/data/commands-nav-data.json
Labels: website

Add . in doc string
  internal/cli/server_upgrade.go
Labels: core

Typo fix
  builtin/pack/builder.go
Labels: plugin, plugin/pack

Generate docs from feedback
  builtin/pack/builder.go
  website/content/commands/install.mdx
  website/content/commands/server-upgrade.mdx
Labels: plugin, plugin/pack, website

Format pack ignore text
  builtin/pack/builder.go
  website/content/commands/install.mdx
Labels: plugin, plugin/pack, website

Format pack builder text
  website/content/partials/components/builder-pack.mdx
Labels: website

ui: update static-assets
  internal/server/gen/bindata_ui.go
Labels: core

Release v0.4.0
  CHANGELOG.md
  internal/version/version.go
  website/data/version.js
Labels: core, website

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit 94a9a7e9
  internal/server/gen/bindata_ui.go
Labels: core

ui: Use kubernetes icon for kubernetes-apply
  ui/app/helpers/icon-for-component.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
