Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit 5a3e46b5cf7003b4d2044db4d029095c267d52d5
  internal/runner/operation_deploy.go
  internal/runner/operation_release.go
Labels: core

maint: Remove explicit status report operation from deploy/release CLI
  internal/cli/deployment_create.go
  internal/cli/release_create.go
Labels: core

backport of commit ab250b894e8c55b3da328686f8efd065eb652946
  internal/cli/deployment_create.go
  internal/cli/release_create.go
Labels: core

Add changelog
  .changelog/4099.txt
Labels: none

backport of commit 37da8d1a656b7c38da6e40b6a0291fb264c48e7d
  .changelog/4099.txt
Labels: none

backport of commit 1b2c378137ad6a98900b78ca60b5a8a57f1c1af2
  internal/cli/job_list.go
  internal/server/boltdbstate/job.go
Labels: core

add filter for those with jobs pre-pipelines
  internal/cli/job_list.go
  internal/server/boltdbstate/job.go
Labels: core

changelog
  .changelog/4100.txt
Labels: none

backport of commit b5a27d878f2f59130c0ff00fdea8476b28dba2e5
  .changelog/4100.txt
Labels: none

server: Add new endpoint for getting default ODR profile
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

cli: Show default profile if no argument supplied to inspect cmd
  internal/cli/runner_profile_inspect.go
  pkg/server/singleprocess/service_ondemand_runner.go
Labels: core

Add test to get default profile
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
Labels: none

Add changelog
  .changelog/4078.txt
Labels: none

test: Ensure created profile is set to default
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
Labels: none

server: Introduce rpc for getting latest pipeline run
  pkg/server/proto/server.proto
Labels: none

proto gen
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
Labels: none

server: Introduce API for getting latest pipeline run by pipeline id
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_pipeline_run_test.go
Labels: none

website auto-gen
  website/content/commands/pipeline-get-run.mdx
  website/content/partials/commands/pipeline-get-run_desc.mdx
  website/content/partials/commands/pipeline-get-run_more.mdx
  website/data/commands-nav-data.json
Labels: website

Add changelog
  .changelog/4042.txt
Labels: none

Show stepname from job
  internal/cli/pipeline_get_run.go
Labels: core

cli: Add new cli command `waypoint pipeline get-run`
  internal/cli/main.go
  internal/cli/pipeline_get_run.go
Labels: core

Fix test comment
  pkg/server/singleprocess/service_pipeline_run_test.go
Labels: none

Update changelog
  .changelog/4042.txt
Labels: none

maint: remove stale website files
  website/content/commands/pipeline-get-run.mdx
  website/content/partials/commands/pipeline-get-run_desc.mdx
  website/content/partials/commands/pipeline-get-run_more.mdx
Labels: website

maint: Remove cli/pipeline_run, auto-gen website
  internal/cli/main.go
  internal/cli/pipeline_get_run.go
  website/content/commands/pipeline-run.mdx
  website/data/commands-nav-data.json
Labels: core, website

cli/pipeline_run: Add reattach to replay or reattach to a pipeline run
  internal/cli/pipeline_run.go
Labels: core

test: Create jobs to attach to a pipeline run, ensure they exist on Get
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: none

maint: Automatically assume reattach if -run is used
  internal/cli/pipeline_run.go
Labels: core

backport: Remove hcerr/hclog externalize work
  pkg/server/singleprocess/service_pipeline_run.go
Labels: none

use 2 oci proxy servers
  builtin/docker/pull/kaniko.go
Labels: plugin, plugin/docker

backport of commit 5d018721954f86e932483408720416d5746f0dc5
  builtin/docker/pull/kaniko.go
Labels: plugin, plugin/docker

backport of commit 4e6cf20e5e666166c6e12bf984770a25e3291edf
  internal/pkg/epinject/ociregistry/server.go
Labels: core

fix adding entrypoint with docker-pull
  internal/pkg/epinject/ociregistry/server.go
Labels: core

cli: Only echo conf file on fmt change
  internal/cli/fmt.go
Labels: core

backport of commit 1a28cf1c687ae3c8092a0f6014ab4d7a3546ebd2
  internal/cli/fmt.go
Labels: core

backport of commit 5161a81be705499c60081c368baf70247fa741c5
  .changelog/4111.txt
Labels: none

Add changelog
  .changelog/4111.txt
Labels: none

backport of commit d4b1258422a714ce9887cad058ae11e0e01fad87
  internal/config/app.go
Labels: core

internal/config: Return err if no scoped use stanza found
  internal/config/app.go
Labels: core

Add changelog
  .changelog/4112.txt
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
