Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/config: Panic on nil conifg when generating Pipeline Protos
  internal/config/pipeline.go
Labels: core

test: Update pipeline proto func test to operate on genericConfig
  internal/config/pipeline_test.go
Labels: core

server: RunPipeline
  pkg/server/ptypes/job.go
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

maint: move task state logging into trace
  internal/server/boltdbstate/task.go
Labels: core

pkg/server: add PipelienSteps
  pkg/server/ptypes/pipeline.go
Labels: none

proto
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

proto
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
Labels: none

pkg/server: job queue with ODR respects job dependencies
  pkg/server/singleprocess/service_job.go
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

server: return job ids and map for run pipeline
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

internal/cli: Add a list cli for Pipelines per project
  internal/cli/pipeline_list.go
Labels: core

internal/server: Introduce ListPipelines API func
  internal/server/boltdbstate/pipeline.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
  pkg/serverstate/serverstate.go
Labels: core

internal/{cli,api}: Add Pipeline commands for run, list, and config sync
  internal/cli/main.go
  internal/cli/pipeline_list.go
  internal/cli/pipeline_run.go
  pkg/server/proto/server.proto
Labels: core

proto
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

internal/jobstream: extracted for streaming job info
  internal/jobstream/doc.go
  internal/jobstream/option.go
  internal/jobstream/stream.go
  internal/jobstream/stream_test.go
Labels: core

internal/client: convert to jobstream package
  internal/client/job.go
Labels: core

Add rpc func doc for GetPipeline
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

server/pipeline: Include root step name in get pipeline response
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

server/proto: Update config sync pipeline response with a value
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

internal/cli: Add `waypoint pipeline inspect <pipeline-id>`
  internal/cli/main.go
  internal/cli/pipeline_inspect.go
  internal/cli/pipeline_list.go
  internal/cli/pipeline_run.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

remove jobstreamui package
  internal/jobstream/stream.go
  internal/jobstream/ui.go
  internal/runner/operation_pipeline_step.go
Labels: core

avoid import cycles
  internal/jobstream/test/doc.go
  internal/jobstream/test/stream_test.go
Labels: core

internal/{server,cli}: Update `waypoint config sync` to sync pipeline configs
  internal/cli/config_sync.go
  internal/cli/pipeline_list.go
  internal/client/operation.go
  internal/config/pipeline.go
  internal/core/pipeline.go
  internal/core/pipeline_config.go
  internal/core/project.go
  internal/jobstream/stream.go
  internal/runner/operation_config.go
  internal/server/boltdbstate/pipeline.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/serverstate/statetest/test_pipeline.go
  website/content/commands/config-sync.mdx
  website/content/commands/pipeline-inspect.mdx
  website/content/commands/pipeline-list.mdx
  website/content/commands/pipeline-run.mdx
  website/content/partials/commands/pipeline-inspect_desc.mdx
  website/content/partials/commands/pipeline-inspect_more.mdx
  website/content/partials/commands/pipeline-list_desc.mdx
  website/content/partials/commands/pipeline-list_more.mdx
  website/content/partials/commands/pipeline-run_desc.mdx
  website/content/partials/commands/pipeline-run_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

cli: Improve UX of config sync
  internal/cli/config_sync.go
Labels: core

Add changelog
  .changelog/3410.txt
Labels: none

internal/cli: Implement `get-stream` for job CLI
  internal/cli/job_get_stream.go
Labels: core

internal/core: Look up pipelines by Owner and Name
  internal/cli/config_sync.go
  internal/core/pipeline.go
  internal/core/pipeline_config.go
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

Show more job operations in task list
  internal/cli/task_list.go
Labels: core

internal/cli: Add `waypoint pipeline run` for running pipelines
  internal/cli/pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

internal/core: Look up pipeline id on upsert on server
  internal/core/pipeline_config.go
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

internal: Update func doc comments
  internal/core/pipeline.go
  internal/core/project.go
  internal/runner/operation_config.go
Labels: core

Fix test comment
  pkg/serverstate/statetest/test_pipeline.go
Labels: none

internal/cli: Add pipeline id flag for running by id instead of name
  internal/cli/pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

server/ptype: Validate that image is required for a step op
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: none

test: Use sever package to ref TestRunner
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

Fix panic if pipeline-id flag is used but no argument supplied to cli
  internal/cli/pipeline_run.go
Labels: core

Include UI for stream client, and stream download event
  internal/cli/pipeline_run.go
  internal/jobstream/stream.go
Labels: core

internal/cli: Ensure workspace ref is set for job template
  internal/cli/pipeline_run.go
Labels: core

Add some test hcl configs for exec step tests
  internal/config/testdata/pipelines/pipeline_exec_step.hcl
  internal/config/testdata/pipelines/pipeline_exec_step_many.hcl
Labels: core

internal/config: Evaluate step exec plugin for PipelineProto
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

internal/cli: Add step name before job stream output
  internal/cli/pipeline_run.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
