Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

exit early with warning msg if no artifacts found
  internal/cli/artifact_list.go
Labels: core

default to -project value; fixed -remote usage
  internal/cli/base.go
  internal/cli/option.go
Labels: core

rebase + make gen/website-mdx
  website/content/commands/runner-profile-inspect.mdx
  website/content/commands/runner-profile-list.mdx
Labels: website

fmt
  builtin/docker/platform.go
Labels: plugin, plugin/docker

lint
  internal/cli/base.go
Labels: core

Clamp header depth to 6
  internal/cli/app_docs.go
Labels: core

Clamp header depth to 6 (#2462)
  internal/cli/app_docs.go
Labels: core

website
  website/content/docs/kubernetes/container-build.mdx
  website/content/docs/kubernetes/external-build.mdx
  website/data/docs-nav-data.json
Labels: website

website
  website/content/docs/kubernetes/install.mdx
Labels: website

website: helm
  website/content/docs/kubernetes/container-build.mdx
  website/content/docs/kubernetes/helm-deploy.mdx
  website/data/docs-nav-data.json
Labels: website

website
  website/content/docs/kubernetes/helm-deploy.mdx
Labels: website

Update website/content/docs/kubernetes/container-build.mdx
  website/content/docs/kubernetes/container-build.mdx
Labels: website

Update website/content/docs/kubernetes/container-build.mdx
  website/content/docs/kubernetes/container-build.mdx
Labels: website

Update website/content/docs/kubernetes/external-build.mdx
  website/content/docs/kubernetes/external-build.mdx
Labels: website

website: feedback
  website/content/docs/kubernetes/helm-deploy.mdx
Labels: website

Refactoring config to have a single container definition
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Allowing the declaration of sidecars in the k8s plugin
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

changelog
  .changelog/2428.txt
Labels: none

Using the official docker parser
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Changelog tweak
  .changelog/2428.txt
Labels: none

website
  website/content/partials/components/platform-kubernetes.mdx
Labels: website

move crashloop check
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Fixing up config for sidecars
  builtin/k8s/platform.go
  go.mod
  go.sum
  internal/cli/app_docs.go
  website/content/partials/components/platform-kubernetes.mdx
Labels: core, plugin, plugin/k8s, website

Resources apply to containers.
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Add Edge to supported browsers (#2453)
  ui/config/targets.js
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit e5b1d964
  internal/server/gen/bindata_ui.go
Labels: core

Rerun website-mdx with header limit
  website/content/partials/components/platform-kubernetes.mdx
Labels: website

Fix bug in processing ServicePort overlay
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Fixing changelog prefix
  .changelog/2444.txt
Labels: none

Pointerifying structs to match our convention
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update server run website docs
  website/content/commands/server-run.mdx
Labels: website

Allow debugging of docs generation
  internal/cli/app_docs.go
  internal/plugin/debug.go
  internal/runner/operation.go
Labels: core

Actually adding the debug attchment code
  internal/cli/app_docs.go
Labels: core

website: document runner variables
  website/content/docs/runner/config.mdx
Labels: website

respond to feedback
  .changelog/2428.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
