Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Sort imports
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Godoc comment
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

More function comments
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Using status.Errorf everywhere
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Fixing missing pointer deref in log
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Add missing error print
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

First pass at incorporating changes from #1935
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/ecs/plugin.proto
Labels: plugin, plugin/aws

Gracefully handle ECS service being deleted out-of-band
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

ui: updates to flight icon
  ui/app/components/operation-status-indicator.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
Labels: ui

run flight-icon codemod
  ui/app/components/actions/context.hbs
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/invite.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/git-commit.hbs
  ui/app/components/header/index.hbs
  ui/app/components/latest-release-url/index.hbs
  ui/app/components/log-stream/index.hbs
  ui/app/components/logout/index.hbs
  ui/app/components/operation-logs/index.hbs
  ui/app/components/project-input-variables/list.hbs
  ui/app/components/version-info/index.hbs
  ui/app/templates/error.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
Labels: ui

Upgrading plugin SDK version to latest for the 0.5.x branch.
  go.mod
  go.sum
  internal/plugin/factory.go
Labels: core

backport of commit e06e28ab119a1930b9b8b53d5de1df164ef1061e
  website/content/docs/upgrading/index.mdx
Labels: website

backport of commit e06e28ab119a1930b9b8b53d5de1df164ef1061e
  website/content/docs/upgrading/index.mdx
Labels: website

update docs
  website/content/docs/upgrading/index.mdx
Labels: website

ui: fixed the waypoint hcl mode util
  ui/app/components/code-editor-field.hbs
  ui/app/modifiers/code-mirror.ts
  ui/app/modifiers/utils/register-waypoint-hcl-mode.ts
  ui/app/modifiers/utils/waypointHclMode.ts
Labels: ui

Add config vars route
  ui/app/router.js
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/app/templates/workspace/projects/project/settings/config-variables.hbs
Labels: ui

Properly name and move input variables route
  ui/app/router.js
  ui/app/routes/workspace/projects/project/settings/input-variables.ts
  ui/app/routes/workspace/projects/project/settings/variables.ts
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/app/templates/workspace/projects/project/settings/input-variables.hbs
Labels: ui

changelog
  .changelog/1915.txt
Labels: none

Refactor variables lists css and class names to make them reusable
  ui/app/components/project-input-variables/list-item.hbs
  ui/app/components/project-input-variables/list.hbs
  ui/app/styles/app.scss
  ui/app/styles/components/variables-list.scss
  ui/tests/integration/components/project-input-variables-list-test.ts
Labels: ui

Add mocks, update tests
  ui/mirage/config.ts
  ui/mirage/factories/config-variable.ts
  ui/mirage/models/config-variable.ts
  ui/mirage/services/config.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Add config var list, list-item & form
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.hbs
  ui/app/components/project-config-variables/list.ts
  ui/app/components/project-input-variables/list-item.ts
  ui/app/templates/workspace/projects/project/settings/config-variables.hbs
  ui/translations/en-us.yaml
Labels: ui

Add api service to post variables back to server
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
  ui/app/components/project-input-variables/list-item.ts
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
  ui/app/templates/workspace/projects/project/settings/config-variables.hbs
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Fetch Project Config Variables
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
  ui/app/templates/workspace/projects/project/settings/config-variables.hbs
Labels: ui

Mocks and Testing
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
  ui/mirage/config.ts
  ui/mirage/services/config.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Add Variable deletion
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
Labels: ui

Add Dynamic variables in mocks
  ui/mirage/factories/config-variable.ts
  ui/mirage/models/config-variable.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Add proper cancel method
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.hbs
  ui/app/components/project-config-variables/list.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Display dynamic variable source
  ui/app/components/project-config-variables/list-item.hbs
Labels: ui

Update tests
  ui/mirage/models/config-variable.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

Update table headers
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list.hbs
  ui/app/styles/components/variables-list.scss
  ui/tests/integration/components/project-config-variables-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

Temporarily exclude .x-toggle-btn
  ui/tests/helpers/a11y.ts
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
