Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

ui: Fixed git settings input field repeat bug + cleanup
  ui/app/components/app-form/project-settings.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/integration/components/app-form/project-settings-test.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit ba7508aa
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit 5809229a
  internal/server/gen/bindata_ui.go
Labels: core

nix: convert to flakes
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlay.nix
  nix/sources.json
  nix/sources.nix
  nix/waypoint.nix
  shell.nix
Labels: none

proto
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

proto
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server: convert to new auth token format
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

internal/server: DecodeToken API
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

proto
  internal/server/auth.go
  internal/server/gen/mocks/is_token__kind.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/auth.go
Labels: core

proto
  internal/server/gen/mocks/is_ref__user__ref.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

ensure everything builds with token changes
  internal/cli/install.go
  internal/cli/token.go
  internal/core/app_deploy.go
Labels: core

internal/server: invite tokens use new format
  internal/server/singleprocess/auth.go
Labels: core

internal/server: implement all new token endpoints
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

ui: Added coverage of cli-generated project editing on dashboard
  ui/app/components/app-form/project-settings.ts
  ui/tests/integration/components/app-form/project-settings-test.ts
Labels: ui

backport of commit 40dd529d29153eefcb9ec9c3295760c8070118b7
  ui/app/components/app-form/project-settings.ts
  ui/tests/integration/components/app-form/project-settings-test.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 6c7d5dca
  internal/server/gen/bindata_ui.go
Labels: core

Update internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth.go
Labels: core

internal/server: Add Peek and Complete state funcs to AppOperations
  internal/server/proto/server.proto
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
Labels: core

Proto gen
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
Labels: core

Fix PollComplete by properly obtaining id to mark record complete
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
Labels: core

Add note about status report proto var numbering
  internal/server/proto/server.proto
Labels: core

Ensure poll option is non-nil before setting record
  internal/server/singleprocess/state/app_operation.go
Labels: core

builtin/k8s: Fix ‘ports’ configurability
  .changelog/1650.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Adding generated time to ALB releaser status report
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

ui: display status report indicators on releases
  .changelog/1657.txt
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/release.hbs
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/mirage/factories/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status-report.ts
  ui/tests/acceptance/release-detail-test-test.ts
  ui/tests/acceptance/releases-list-test.ts
Labels: ui

backport of commit 7f18573bc7335ff40cdd7447804f93ce2ab9280c
  .changelog/1657.txt
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/release.hbs
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/mirage/factories/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status-report.ts
  ui/tests/acceptance/release-detail-test-test.ts
  ui/tests/acceptance/releases-list-test.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 5e1b6859
  internal/server/gen/bindata_ui.go
Labels: core

Dockerfile: Add note about our custom img build process
  Dockerfile
Labels: none

backport of commit 6073c0274250a0ce426fb2e3765b8d778f8166a0
  Dockerfile
Labels: none

Update ALB Releaser to use Resource Manager
  .changelog/1648.txt
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/plugin.proto
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

rebase main
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

Pinning alpine versions when docker building.
  Dockerfile
Labels: none

update status text
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

Dockerfile: Remove SSH key injection from circle-ci and dockerfile build
  .circleci/config.yml
  Dockerfile
Labels: none

backport of commit 7b15ef2e8b766c428e078e2adf5dc1f5510f472f
  .circleci/config.yml
  Dockerfile
Labels: none

backport of commit d7e6bce0470fb8acbb80a102fe8b940b5c9deb26
  .circleci/config.yml
Labels: none

Remove ssh and secret from docker build image step
  .circleci/config.yml
Labels: none

backport of commit d555f510d3ed072e5d60985c6bc28aae44ab99d1
  Dockerfile
  Makefile
Labels: none

Remove openssh and other ssh settings from Dockerfile
  Dockerfile
  Makefile
Labels: none

backport of commit 9c0bf3a1f94c6dbf2bc9f1bac7134ae2b80de01a
  Dockerfile
Labels: none
