Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Get the latest changes from plugin SDK for setting destroyed/declared resources.
  go.mod
  go.sum
Labels: none

Remove PR template
  ui/pull_request_template.md
Labels: ui

Fix output message for invalid platform error on runner install.
  internal/cli/runner_install.go
Labels: core

backport of commit 0f0af79e7d4d0bb55f516640eeee8bc5b6b8acf9
  internal/cli/runner_install.go
Labels: core

backport of commit 4dbec8355def00b2d74a7431f2d4f2f5a4106838
  internal/runnerinstall/ecs.go
Labels: core

Error on ECS runner install if the region or cluster name isn't specified.
  internal/runnerinstall/ecs.go
Labels: core

When auth'ing via oauth2, pass the waypoint token as well via grpc
  internal/ceb/server.go
  pkg/serverclient/client.go
  pkg/serverclient/client_test.go
Labels: core

Move passing waypoint-token not in Authorization header
  internal/ceb/server.go
  internal/cli/install.go
  internal/client/project.go
  internal/runner/accept.go
  internal/runner/runner.go
  pkg/server/auth.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_runner.go
  pkg/server/testing.go
  pkg/serverclient/client.go
  pkg/serverclient/client_test.go
  pkg/tokenutil/decode.go
  pkg/tokenutil/grpc.go
  pkg/tokenutil/oauth.go
Labels: core

backport of commit c9074c9ce5eeddce3207ad1c18aa1c6b5a5fb653
  internal/runnerinstall/ecs.go
Labels: core

Group required fields together for ecs runner install.
  internal/runnerinstall/ecs.go
Labels: core

Check error directly after return of ProjectDelete in test.
  internal/server/boltdbstate/project_test.go
Labels: core

chore: changelog
  .changelog/3676.txt
Labels: none

Use the active key id for signing adopted runner tokens
  pkg/server/singleprocess/service_runner.go
Labels: none

cli: Only display hint text if more than 1 default profile name
  internal/cli/server_upgrade.go
Labels: core

backport of commit 8f2cb6777e07d8232050ae14827b016621c4507a
  internal/cli/server_upgrade.go
Labels: core

cli: Add note about why upgrade hint exists
  internal/cli/server_upgrade.go
Labels: core

backport of commit 39e1a744b190c8bf69c81676b9edb81a5e1c0e2f
  internal/cli/server_upgrade.go
Labels: core

Add Changelog
  .changelog/3688.txt
Labels: none

backport of commit 74165b0f45116b49cd1fdd6844ae138c0fa76550
  .changelog/3688.txt
Labels: none

backport of commit 65b34fa27b9cd0c40106b77829fa4450f2f638dd
  internal/ceb/config.go
Labels: core

ceb/config: Move reconnect log from Error to Warn
  internal/ceb/config.go
Labels: core

test-e2e: Include `stderr` output on CLI failures
  test-e2e/docker_smoke_test.go
Labels: none

Consolidate declarations of vars in boltdb project delete.
  internal/server/boltdbstate/project.go
Labels: core

ignore unavailable errors
  pkg/inlinekeepalive/client.go
Labels: none

Refactor OnDemandRunnerConfigProvider to installutil package.
  internal/cli/runner_install.go
  internal/cli/server_upgrade.go
  internal/installutil/odr.go
  internal/serverinstall/serverinstall.go
Labels: core

Update install CLI to use refactored default ODR profile interface from installutil package.
  internal/cli/install.go
Labels: core

Fix ECS default runner profile plugin type name.
  internal/serverinstall/ecs.go
Labels: core

Update ECS runner install to use a default runner profile configuration.
  internal/runnerinstall/ecs.go
Labels: core

Update Docker runner install to use a default runner profile configuration.
  internal/runnerinstall/docker.go
Labels: core

Update K8s runner install to use a default runner profile configuration.
  internal/runnerinstall/k8s.go
Labels: core

Update Nomad runner install to use a default runner profile configuration.
  internal/runnerinstall/nomad.go
Labels: core

Changelog.
  .changelog/3699.txt
Labels: none

Simplify setting subnets config for default ECS runner install profile.
  internal/runnerinstall/ecs.go
Labels: core

Set subnet and sg info on runner profile created during runner install for ECS.
  internal/runnerinstall/ecs.go
Labels: core

Update ECS task launcher subnet and sg id config label as required.
  builtin/aws/ecs/task.go
  website/content/partials/components/task-aws-ecs.mdx
Labels: plugin, plugin/aws, website

Changelog.
  .changelog/3701.txt
Labels: none

backport of commit 4002bff0a9b40bd8334f83efec35d3a4ffa067ee
  internal/cli/runner_profile_set.go
Labels: core

bug: do not reset runner profile default if flag not specified
  internal/cli/runner_profile_set.go
Labels: core

backport of commit 2295ab1e63a6b65c793e7762a8727d499d16d74e
  .changelog/3702.txt
Labels: none

changelog
  .changelog/3702.txt
Labels: none
