Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update internal/server/proto/server.proto
  internal/server/proto/server.proto
Labels: core

Update internal/server/proto/server.proto
  internal/server/proto/server.proto
Labels: core

address PR comments
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

Update internal/cli/server_upgrade.go
  internal/cli/server_upgrade.go
Labels: core

Update internal/serverinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

Remove initWriter helper and use os.Create directly
  internal/cli/server_upgrade.go
Labels: core

Update error string
  internal/cli/server_upgrade.go
Labels: core

Add note and move ui output
  internal/cli/server_upgrade.go
Labels: core

Only update server context on server address change
  internal/cli/server_upgrade.go
Labels: core

Website StackMenu updates for 1/14 (#971)
  website/package-lock.json
  website/package.json
Labels: website

Set a default server image in serverinstall
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

Always pull on latest server image to ensure latest
  internal/serverinstall/docker.go
Labels: core

format help
  internal/cli/uninstall.go
Labels: core

closer parity with upgrade naming
  internal/cli/uninstall.go
Labels: core

Update internal/cli/server_upgrade.go
  internal/cli/server_upgrade.go
Labels: core

Update internal/serverinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Format stepgroup Update method for readability
  internal/serverinstall/docker.go
Labels: core

update troubleshooting docs for uninstall
  website/content/docs/troubleshooting.mdx
Labels: website

Update Dockerfile to point to new img branch with img pull fixes
  Dockerfile
Labels: none

builtin/docker: support img for docker-pull
  builtin/docker/auth.go
  builtin/docker/builder.go
  builtin/docker/img.go
  builtin/docker/pull/builder.go
  builtin/docker/registry_img.go
Labels: plugin, plugin/docker

Submit patch to kubernetes to upgrade waypoint server pod container image
  internal/serverinstall/k8s.go
  website/content/docs/upgrading/index.mdx
Labels: core, website

backport of commit a2ac8f4ef1fb362db88ac132f4f9ac03d7e54467
  internal/cli/server_run.go
Labels: core

use random serial number per cert
  internal/cli/server_run.go
Labels: core

internal/server/execclient: Properly route stderr
  internal/server/execclient/client.go
Labels: core

internal/server/singleprocess: Handle race between exit and cancel
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/state/instance_exec.go
Labels: core

internal/ceb: Add Virtual instance type
  internal/ceb/app_config.go
  internal/ceb/ceb.go
  internal/ceb/exec.go
  internal/ceb/plugin.go
  internal/ceb/virtual.go
  internal/ceb/virtual_test.go
Labels: core

Update internal/cli/uninstall.go
  internal/cli/uninstall.go
Labels: core

set default snapshot to var instead of timestamping help text
  internal/cli/uninstall.go
Labels: core

Update snapshot-name to show default
  internal/cli/server_upgrade.go
Labels: core

gofmt
  internal/cli/uninstall.go
Labels: core

Add space for help text between new lines
  internal/cli/server_upgrade.go
Labels: core

internal/cli: setting base for server uninstall
  internal/cli/main.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

base docker uninstall; partial uninstall cmd base
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
