Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

updates redirects
  website/redirects.js
Labels: website

updates additional website files
  website/Makefile
  website/package-lock.json
  website/package.json
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website

backport of commit efeae6c754dcede1ebc8bf4a85c016d82b774d74
  builtin/consul/config_sourcer.go
Labels: plugin

refactor: start Consul blocking query in goroutine.
  builtin/consul/config_sourcer.go
Labels: plugin

backport of commit 56ca26b82bec38f5264fe894d4c5d52df4b2b799
  builtin/consul/config_sourcer.go
Labels: plugin

chore: simplify error handling for checking cache in Consul plugin.
  builtin/consul/config_sourcer.go
Labels: plugin

backport of commit ff3a948c6a1ce93a5a4a421a71b629cc41ed0b16
  builtin/consul/config_sourcer.go
Labels: plugin

chore: remove single-use helper function for TLS config formatting.
  builtin/consul/config_sourcer.go
Labels: plugin

chore: return error with status code for Consul plugin config check.
  builtin/consul/config_sourcer.go
Labels: plugin

backport of commit c7379271d8f9e398a5e861a22dde432fddb8d389
  builtin/consul/config_sourcer.go
Labels: plugin

Fix typo
  website/content/docs/runner/index.mdx
Labels: website

Add deployment diagram
  website/content/docs/runner/index.mdx
  website/public/img/waypoint-runner.jpg
Labels: website

Tweak copy and images
  website/content/docs/runner/index.mdx
  website/public/img/oss_cli_and_remote_runners@2x.jpg
  website/public/img/oss_runner_no_control_plane@2x.jpg
  website/public/img/waypoint-runner.jpg
Labels: website

server: Introduce rpc for getting latest pipeline run
  pkg/server/proto/server.proto
Labels: none

backport of commit 6ff2a0a942cc57ff736278d116f82b7f004e69ca
  pkg/server/proto/server.proto
Labels: none

server: Introduce API for getting latest pipeline run by pipeline id
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_pipeline_run_test.go
Labels: none

proto gen
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
Labels: none

website auto-gen
  website/content/commands/pipeline-get-run.mdx
  website/content/partials/commands/pipeline-get-run_desc.mdx
  website/content/partials/commands/pipeline-get-run_more.mdx
  website/data/commands-nav-data.json
Labels: website

Fix test comment
  pkg/server/singleprocess/service_pipeline_run_test.go
Labels: none

Show stepname from job
  internal/cli/pipeline_get_run.go
Labels: core

Add changelog
  .changelog/4042.txt
Labels: none

cli: Add new cli command `waypoint pipeline get-run`
  internal/cli/main.go
  internal/cli/pipeline_get_run.go
Labels: core

test: Create jobs to attach to a pipeline run, ensure they exist on Get
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: none

cli/pipeline_run: Add reattach to replay or reattach to a pipeline run
  internal/cli/pipeline_run.go
Labels: core

maint: Remove cli/pipeline_run, auto-gen website
  internal/cli/main.go
  internal/cli/pipeline_get_run.go
  website/content/commands/pipeline-run.mdx
  website/data/commands-nav-data.json
Labels: core, website

Update changelog
  .changelog/4042.txt
Labels: none

maint: remove stale website files
  website/content/commands/pipeline-get-run.mdx
  website/content/partials/commands/pipeline-get-run_desc.mdx
  website/content/partials/commands/pipeline-get-run_more.mdx
Labels: website

maint: Automatically assume reattach if -run is used
  internal/cli/pipeline_run.go
Labels: core

fix formatting
  website/content/docs/runner/index.mdx
Labels: website

Add comments to pipeline run proto message
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

backport of commit a0118e1ddb689e447048f8a53ad1667c1de8b4d0
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

backport of commit e900731397749f0d5af86a9911d0550ab2f5a66a
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_pipeline.go
Labels: core

pipeline: Properly determine when pipeline run is complete
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_pipeline.go
Labels: core

Add changelog
  .changelog/4053.txt
Labels: none

backport of commit f10ccb3d0caccd4306290c5d0eaac7234455c76c
  .changelog/4053.txt
Labels: none

Update generated website Makefile
  website/Makefile
Labels: website

Update generated scripts (website-start.sh)
  website/scripts/website-start.sh
Labels: website

Update generated scripts (website-build.sh)
  website/scripts/website-build.sh
Labels: website

feat: add support for approle auth method to Vault config sourcer plugin.
  .changelog/4057.txt
  builtin/vault/auth.go
  builtin/vault/config_sourcer.go
  builtin/vault/internal/auth/approle/approle.go
  embedJson/gen/configsourcer-vault.json
  website/content/partials/components/configsourcer-vault.mdx
Labels: plugin, website

backport of commit 488eb7c66601f70ecb1bb35486f0133cb5500355
  .changelog/4057.txt
  builtin/vault/auth.go
  builtin/vault/config_sourcer.go
  builtin/vault/internal/auth/approle/approle.go
  embedJson/gen/configsourcer-vault.json
  website/content/partials/components/configsourcer-vault.mdx
Labels: plugin, website
