Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

DRY up the Spinners & Loaders (#546)
  website/pages/home/index.jsx
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

website: add docker-pull
  website/content/partials/components/builder-docker.mdx
  website/content/plugins/docker.mdx
Labels: website

update contributing to mention UI related issues
  .github/CONTRIBUTING.md
Labels: none

website: add notes about status.hashicorp.com
  website/components/footer/index.jsx
  website/content/docs/url.mdx
Labels: website

website: add notes about status.hashicorp.com (#550)
  website/components/footer/index.jsx
  website/content/docs/url.mdx
Labels: website

update contributing to mention UI related issues (#549)
  .github/CONTRIBUTING.md
Labels: none

internal/cli: validate config on init properly
  internal/cli/base_init.go
  internal/cli/init.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update CHANGELOG
  CHANGELOG.md
Labels: none

ui: update static-assets
  internal/server/gen/bindata_ui.go
Labels: core

Release v0.1.2
  internal/version/version.go
Labels: core

Bump website downloads to 0.1.2
  website/data/version.js
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Create event.yml
  .github/workflows/event.yml
Labels: none

Create backport.yml
  .github/workflows/backport.yml
Labels: none

first commit
  README.md
Labels: none

Adds a no-cache header
  website/pages/downloads/index.jsx
Labels: website

Bump website downloads to 0.1.2 (#554)
  website/data/version.js
  website/pages/downloads/index.jsx
Labels: website

Disable cache on local fetch for downloads page
  website/components/downloader/release-information/index.jsx
Labels: website

website: add release notifications page
  website/content/docs/upgrading/release-notifications.mdx
  website/data/docs-navigation.js
  website/public/img/discuss-subscribe.png
Labels: website

website: make github-action screenshot smaller
  website/public/img/github-action.png
Labels: website

workflow file for backport-assistant
  .github/workflows/backport.yml
Labels: none

Switch all releases to build time fetch
  website/components/downloader/release-information/index.jsx
  website/pages/downloads/index.jsx
Labels: website

Adds no-cache to the fetchAll request
  website/pages/downloads/index.jsx
Labels: website

Remove superfluous map
  website/pages/downloads/index.jsx
Labels: website

Switch all releases to build time fetch (#559)
  website/components/downloader/release-information/index.jsx
  website/pages/downloads/index.jsx
Labels: website

Simplify our releases requests into a single request
  website/pages/downloads/index.jsx
Labels: website

Simplify our releases requests into a single request (#564)
  website/pages/downloads/index.jsx
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/serverinstall: bindata
  internal/serverinstall/datagen/bindata.go
Labels: core

internal/cli: k8s install uses stepgroups
  internal/cli/install.go
Labels: core

internal/cli: install Docker uses stepgroups
  internal/cli/install.go
  internal/serverinstall/docker.go
Labels: core

backport of commit a4374a591ef083e24831aa814aa00d9c28c7b5d3
  website/lib/hooks/useWaypointServiceStatus.js
  website/pages/_app.js
Labels: website

Implement a status alert banner
  website/lib/hooks/useWaypointServiceStatus.js
  website/pages/_app.js
Labels: website

internal/cli: convert Nomad to stepgroups
  internal/cli/install.go
  internal/serverinstall/nomad.go
Labels: core

builtin/nomad: destroy works
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update to Go 1.15.3
  .circleci/config.yml
  nix/default.nix
Labels: none
