Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

tsting multi-arch
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  .circleci/config.yml
Labels: none

no message
  Dockerfile
Labels: none

no message
  Dockerfile
Labels: none

no message
  Dockerfile
Labels: none

no message
  Dockerfile
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit a77ab493
  internal/server/gen/bindata_ui.go
Labels: core

internal/config: make `workspace.name` available globally
  internal/config/app.go
  internal/config/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/eval_context.go
  internal/config/plugin_test.go
  internal/config/testing.go
  internal/config/validate_test.go
Labels: core

refactor: add workspace to config.Config
  internal/config/app.go
  internal/config/app_test.go
  internal/config/config.go
  internal/core/project.go
Labels: core

feat(internal/config): add workspace variable
  .changelog/1419.txt
  internal/config/app.go
  internal/config/app_test.go
  internal/config/eval_context.go
  internal/core/project.go
Labels: core

internal/runner: set the workspace for config loading
  internal/core/project.go
  internal/runner/operation.go
Labels: core

internal/cli: use new config loading
  internal/cli/base_init.go
  internal/cli/project_apply.go
Labels: core

Bump plugin-sdk to pickup step group fixes
  go.mod
  go.sum
Labels: none

website: add page on workspace variable
  website/content/docs/waypoint-hcl/variables/workspace.mdx
  website/data/docs-nav-data.json
Labels: website

website: update readme (#1370)
  website/README.md
Labels: website

website: support hidden pages in nav-data (#1416)
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

website: add missing items to sidebar
  website/data/commands-nav-data.json
Labels: website

website: update readme (#1370)
  website/README.md
Labels: website

website: support hidden pages in nav-data (#1416)
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

website: add missing items to sidebar
  website/data/commands-nav-data.json
Labels: website

website: backport missing website work (#1496)
  website/README.md
  website/data/commands-nav-data.json
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

ci: add backporting of docs to latest release branch
  .github/workflows/backport.yml
Labels: none

Bump ember-a11y-testing to ^4.0.7
  ui/package.json
  ui/yarn.lock
Labels: ui

Use setupGlobalA11yHooks approach to a11y auditing
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/helpers/a11y.ts
  ui/tests/test-helper.js
Labels: ui

Add missing titles to icon-only buttons and links
  ui/app/components/actions/invite.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/copyable-code/index.hbs
Labels: ui

Exclude a11y audits on a handful of components (temporarily)
  ui/tests/helpers/a11y.ts
Labels: ui

Introduce <main> element
  ui/app/templates/application.hbs
Labels: ui

Make success and warning text contrast to AA level
  ui/app/styles/app.scss
Labels: ui

Allow scrollable code samples to be focused
  ui/app/components/context-create/index.hbs
  ui/app/templates/onboarding/install/linux/ubuntu.hbs
Labels: ui

Very minor typo in a comment
  internal/server/proto/server.proto
Labels: core

Make command for a linux binary
  Makefile
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
