Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Remove extra else-statement
  internal/server/singleprocess/service_task.go
Labels: core

test: Fix typo in job tests
  pkg/server/singleprocess/service_job_test.go
Labels: none

Better test id name
  internal/server/singleprocess/service_task_test.go
Labels: core

test feedback: Check task id on upsert, add more info to task delete
  internal/server/singleprocess/service_task_test.go
Labels: core

test: clarify test name
  internal/server/singleprocess/service_task_test.go
Labels: core

pr feedback: update cli output and add require error
  internal/cli/task_list.go
  internal/server/singleprocess/service_task_test.go
  website/content/commands/task-list.mdx
Labels: core, website

cli: Reverse task array in place, save an allocation
  internal/cli/task_list.go
Labels: core

Add extra checks to check job id for job list
  internal/server/singleprocess/service_task_test.go
Labels: core

Move Task API funcs into the internal section and gen protos
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

fixup: A fixup from rebasing off main.
  internal/cli/job_inspect.go
Labels: core

Remove DeleteTask endpoint
  internal/server/singleprocess/service_task.go
  internal/server/singleprocess/service_task_test.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: core

server: Add a Task state machine to track lifecycle of task jobs
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

service: Update Task service func to use handler abstraction
  internal/server/singleprocess/service_task.go
Labels: core

Move task service funcs to new pkg folder
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_task_test.go
Labels: none

internal: Don't include app if not set on job
  internal/runner/operation_poll.go
Labels: core

Add Changelog
  .changelog/3158.txt
Labels: none

Lower case app name in job id too
  internal/runner/operation_poll.go
Labels: core

internal: Update Application Status Report Polling with better id
  pkg/server/singleprocess/poll_application.go
Labels: none

Test getting and setting all odr config fields
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: none

Fix poll_test params for building singleton id
  pkg/server/singleprocess/poll_test.go
Labels: none

Include a doc comment about why we set a singleton ID for poll handlers
  internal/runner/operation_poll.go
  pkg/server/singleprocess/poll_application.go
Labels: core

cli: Detail exactly why command failed for source-get
  internal/cli/config_source_get.go
Labels: core

bug: Append to string for app, rather than overwrite.
  internal/runner/operation_poll.go
Labels: core

clean up TODOs; add comments; remove unused codepath
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/core/operation.go
  pkg/server/proto/server.proto
Labels: core

add website doc
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

fix table output; add sha256 encoding
  internal/cli/artifact_build.go
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
  internal/config/variables/testdata/valid.hcl
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/core/project.go
  internal/runner/operation.go
  pkg/server/proto/server.proto
Labels: core

Streamline where sensitive is set; tests passing
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/core/app_deploy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/runner/operation.go
Labels: core

add variable output to build/deploy/release/up
  internal/cli/artifact_build.go
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
Labels: core

xx and brian comments pt2
  internal/config/variables/variables.go
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: core, website

changelog
  .changelog/3138.txt
Labels: none

unexport things that don't need to be
  internal/config/variables/formatter/formatter.go
  internal/config/variables/variables.go
Labels: core

doc
  internal/runner/operation.go
Labels: core

rip out and replace things
  internal/cli/artifact_build.go
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/core/app_build.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_status_report.go
  internal/core/project.go
  internal/runner/operation.go
  pkg/server/proto/server.proto
Labels: core

add event test
  internal/runner/operation.go
  pkg/server/singleprocess/service_job_test.go
Labels: core

add sensitive to base variable msg for server values
  pkg/server/proto/server.proto
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

save final values on job; update cli outputs
  internal/cli/artifact_build.go
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
  internal/config/variables/variables.go
  internal/runner/operation.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_runner.go
Labels: core

xx and brian feedback pt1
  internal/cli/artifact_build.go
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
Labels: core

variable formatter helper pkg; add logging
  internal/cli/up.go
  internal/config/variables/formatter/formatter.go
  internal/config/variables/variables.go
  internal/runner/operation.go
  pkg/server/proto/server.proto
Labels: core

Update internal/cli/up.go
  internal/cli/up.go
Labels: core

pr feedback + make format
  internal/cli/up.go
  pkg/server/proto/server.proto
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
