Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

support backporting into release branches via labels
  .github/workflows/backport.yml
Labels: none

internal/server/state: snapshot/restore should use db-agnostic format
  internal/pkg/protowriter/protowriter.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/snapshot.go
Labels: core

internal/server/proto: trailers for snapshot
  internal/server/gen/mocks/is_snapshot__trailer__checksum.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: calculate checksum and add as a trailer
  internal/server/singleprocess/state/snapshot.go
Labels: core

internal/server/state: validate checksum on restore
  internal/pkg/protowriter/protowriter.go
  internal/server/singleprocess/state/snapshot.go
Labels: core

internal/server: do not forget to close gzip reader
  internal/server/singleprocess/state/snapshot.go
Labels: core

internal/server/state: during snapshot restore, txn should be smaller
  internal/server/singleprocess/state/snapshot.go
Labels: core

builtin/aws/ecr: Use a stepgroup in the output to provide better info
  builtin/aws/ecr/registry.go
Labels: plugin, plugin/aws

internal/server/proto: restore
  internal/server/gen/mocks/is_restore_snapshot_request__event.go
  internal/server/gen/mocks/waypoint__restore_snapshot_client.go
  internal/server/gen/mocks/waypoint__restore_snapshot_server.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: RestoreSnapshot impl, no tests yet
  internal/server/singleprocess/service_snapshot.go
  internal/server/singleprocess/state/snapshot.go
Labels: core

go mod tidy
  go.mod
Labels: none

internal/server: snapshot/restore unit test
  internal/server/singleprocess/service_snapshot.go
  internal/server/singleprocess/service_snapshot_test.go
  internal/server/singleprocess/state/snapshot.go
Labels: core

internal/server: option on restore to exit the server
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_snapshot.go
Labels: core

Update ECS plugin to not assign public ip on ec2_cluster
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 0895c6b784fcd4650bcfe599a535a529a2502b84
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Updated if comparison for style
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 38f275e5b44756c4a82742804d171c0922cfc916
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update build.mdx
  website/content/docs/lifecycle/build.mdx
Labels: website

backport of commit 7287475788029840b24f5f3abefbb2ec69dac94b
  website/content/docs/lifecycle/build.mdx
Labels: website

Fix typo of kubernetes
  website/content/docs/lifecycle/deploy.mdx
Labels: website

backport of commit c1a3e9ba4c8d46b404bafd991d60727a728c354b
  website/content/docs/lifecycle/deploy.mdx
Labels: website

Use Dockerhub Mirror.
  .circleci/config.yml
  Dockerfile
Labels: none

Missed a few.
  .circleci/config.yml
Labels: none

Return release early if no load balancer defined
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

Update comment
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

Add config option for disabling the load balancer
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Conditionally create ALB
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Conditionally delete load balancer
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

internal/server: typo
  internal/server/singleprocess/service_snapshot.go
Labels: core

internal/config2: initial top-level loading with path vars
  internal/config2/config.go
  internal/config2/config_test.go
  internal/config2/eval_context.go
  internal/config2/plugin.go
  internal/config2/testdata/compare/project.hcl
  internal/config2/testdata/compare/project_path_project.hcl
  internal/config2/testdata/compare/project_pwd.hcl
Labels: core

internal/serverconfig: move server config to a dedicated package
  internal/cli/install.go
  internal/clicontext/config.go
  internal/config2/app.go
  internal/config2/stages.go
  internal/serverclient/client.go
  internal/serverconfig/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/nomad.go
Labels: core

internal: move server config to internal/serverconfig
  internal/cli/server_run.go
  internal/config/config.go
  internal/config/server.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_config_test.go
  internal/server/singleprocess/testing.go
  internal/serverconfig/config.go
Labels: core

internal/config2: minimal app loading
  go.mod
  internal/config2/app.go
  internal/config2/app_test.go
  internal/config2/config.go
  internal/config2/testdata/compare/app.hcl
  internal/config2/testdata/compare/app_labels.hcl
  internal/config2/testdata/compare/app_path_relative.hcl
Labels: core

internal/config2: Plugins plus tests
  internal/config2/app.go
  internal/config2/plugin.go
  internal/config2/plugin_test.go
  internal/config2/plugin_use.go
  internal/config2/stages.go
  internal/config2/testdata/plugins/explicit.hcl
  internal/config2/testdata/plugins/implicit.hcl
  internal/config2/testdata/plugins/implicit_registry.hcl
  internal/config2/testdata/plugins/mix.hcl
  internal/config2/testdata/plugins/none.hcl
Labels: core

internal/config2: more tests
  internal/config2/app_test.go
  internal/config2/testdata/compare/build_registry.hcl
Labels: core

internal/core: convert to new deferred loading
  internal/config2/app.go
  internal/config2/path.go
  internal/config2/plugin.go
  internal/config2/stages.go
  internal/config2/testing.go
  internal/core/app.go
  internal/core/app_authenticate.go
  internal/core/app_authenticate_test.go
  internal/core/app_build.go
  internal/core/app_build_test.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_deploy_destroy_test.go
  internal/core/app_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_release_destroy_test.go
  internal/core/component_creator.go
  internal/core/hook.go
  internal/core/operation.go
  internal/core/project.go
  internal/core/project_test.go
  internal/core/testing_project.go
Labels: core

internal/plugin: convert to config2
  internal/plugin/discover.go
  internal/plugin/discover_test.go
Labels: core

intenral/config2: support stage decoding
  internal/config2/app.go
  internal/config2/app_test.go
  internal/config2/config.go
  internal/config2/eval_context.go
  internal/config2/operation.go
  internal/config2/stages.go
  internal/config2/testdata/compare/build.hcl
  internal/config2/testing.go
  internal/config2/validate.go
Labels: core

internal/runner: convert to config2
  internal/core/app.go
  internal/core/project.go
  internal/runner/operation.go
  internal/runner/operation_auth.go
  internal/runner/operation_docs.go
Labels: core

internal/cli: lint
  internal/cli/base.go
Labels: core
