Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit 0ad32f7bb29dc19f25738ad5de4012046c4e8037
  internal/cli/base.go
Labels: core

Add beginning of end to end test for Waypoint
  test/.gitignore
  test/README.md
  test/run-test.sh
  test/smoke_test.go
  test/util.go
Labels: none

Ignore waypoint-examples dir
  test/.gitignore
Labels: none

Add initial docker end to end smoke test
  test/docker_smoke_test.go
  test/smoke_test.go
  test/util.go
Labels: none

Move dir to test-e2e
  test-e2e/.gitignore
  test-e2e/README.md
  test-e2e/docker_smoke_test.go
  test-e2e/run-test.sh
  test-e2e/util.go
Labels: none

Set waypoint binary through env var
  test-e2e/docker_smoke_test.go
  test-e2e/run-test.sh
  test-e2e/util.go
Labels: none

Just return result
  test-e2e/util.go
Labels: none

Add more comments to plan out shell runner
  test-e2e/run-test.sh
Labels: none

Add var for configuring server image
  test-e2e/docker_smoke_test.go
  test-e2e/run-test.sh
Labels: none

Add image var for upgrades
  test-e2e/docker_smoke_test.go
Labels: none

Add note about exporting var
  test-e2e/run-test.sh
Labels: none

Use vars for server image
  test-e2e/docker_smoke_test.go
Labels: none

Move config vars to util for other platform tests
  test-e2e/docker_smoke_test.go
  test-e2e/util.go
Labels: none

Update README
  test-e2e/README.md
Labels: none

Update test files
  test-e2e/docker_smoke_test.go
  test-e2e/util.go
Labels: none

Enhance shell runner and add future work TODOs
  test-e2e/run-test.sh
Labels: none

Add todo in readme
  test-e2e/README.md
Labels: none

internal/server: add waypoint_hcl field to Project
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/runner: load server-side waypoint.hcl if it exists
  internal/runner/accept_test.go
  internal/runner/operation.go
Labels: core

internal/runner: on error, we still have to wait for the stream to close
  internal/runner/accept.go
Labels: core

internal/runner: more helpful error if a waypoint.hcl is not found, test
  internal/runner/accept_test.go
  internal/runner/operation.go
Labels: core

internal/server/state: project waypoint.hcl max size
  internal/server/singleprocess/state/project.go
Labels: core

internal/runner: slightly more detailed error message
  internal/runner/operation.go
Labels: core

internal/cli: -waypoint-hcl flag
  internal/cli/project_apply.go
Labels: core

internal/runner: drop trace level logging
  internal/runner/operation.go
Labels: core

internal/runner: error if rpc to send error fails
  internal/runner/accept.go
Labels: core

internal/cli: validate syntax of -waypoint-hcl flag
  internal/cli/project_apply.go
Labels: core

backport of commit 556df5e8d5c2eaaeee766ca79771cb76ee39088b
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
Labels: core

internal/server/state: project put should not modify applications
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit 11f8bcf5
  internal/server/gen/bindata_ui.go
Labels: core

Update CLI docs for '-k8s-context' flag
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

backport of commit 494d329deca964e2249acc4c575053434dc98d90
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

serverinstall/k8s: Allow using k8s context
  internal/serverinstall/k8s.go
Labels: core

backport of commit a9952b0745f2c3c96ea4e4adc77e2d12d2b76363
  internal/serverinstall/k8s.go
Labels: core

internal/server/state: test multiple apps on ProjectPut
  internal/server/singleprocess/state/project_test.go
Labels: core

backport of commit 119c6108b6a23e3b58878fe8aa694c352c04acaf
  internal/server/singleprocess/state/project_test.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add error if no default context and restarted server already bootstrapped
  internal/cli/install.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

Allow for configurable repo location with waypoint-examples
  test-e2e/docker_smoke_test.go
  test-e2e/run-test.sh
  test-e2e/util.go
Labels: none
