Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/config: config stanza at project level allowed
  internal/config/app.go
  internal/config/app_config.go
  internal/config/app_test.go
  internal/config/config.go
  internal/config/testdata/compare/config_env_merge.hcl
Labels: core

internal/cli: new config var style
  internal/cli/config_get.go
  internal/cli/config_set.go
Labels: core

internal/server: fix test for new config var
  internal/server/singleprocess/service_config_test.go
Labels: core

internal/server: send deployment info to entrypoint
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_entrypoint_test.go
Labels: core

builtin/vault: initial minimal implementation
  builtin/vault/config_sourcer.go
  builtin/vault/config_sourcer_test.go
  builtin/vault/freeport/README.md
  builtin/vault/freeport/ephemeral_fallback.go
  builtin/vault/freeport/ephemeral_linux.go
  builtin/vault/freeport/ephemeral_linux_test.go
  builtin/vault/freeport/freeport.go
  builtin/vault/freeport/freeport_test.go
  builtin/vault/testvault/testvault.go
  builtin/vault/testvault/testvault_test.go
Labels: plugin

internal/config: if genericConfig is nil, no vars
  internal/config/app_config.go
Labels: core

builtin/vault: handle dynamic secrets
  builtin/vault/config_sourcer.go
  builtin/vault/config_sourcer_test.go
Labels: plugin

internal/core: log variables that are synced
  internal/core/app_config.go
Labels: core

update go.mod
  builtin/vault/config_sourcer_test.go
  go.mod
  go.sum
Labels: plugin

internal/ceb: verify stop is called when unused
  internal/ceb/app_config.go
  internal/ceb/app_config_test.go
Labels: core

internal/ceb: tests for dynamic reads
  internal/ceb/app_config.go
  internal/ceb/app_config_test.go
  internal/ceb/ceb.go
  internal/ceb/ceb_test.go
  internal/ceb/config_test.go
  internal/server/gen/server.pb.json.go
  internal/server/server.go
Labels: core

internal/ceb: starting to work on core logic to read dynamic configs
  internal/ceb/ceb.go
  internal/ceb/config.go
  internal/ceb/config_test.go
  internal/ceb/init.go
  internal/ceb/plugin.go
  internal/plugin/plugin.go
Labels: core

internal/ceb: wire it all up, tests passing again
  internal/ceb/app_config.go
  internal/ceb/ceb_test.go
  internal/ceb/config.go
  internal/server/proto/server.pb.json.go
  internal/server/server.go
Labels: core

internal/ceb: track config changes in dynamic sources and call Stop
  internal/ceb/app_config.go
Labels: core

go tidy
  go.sum
Labels: none

go.mod
  go.mod
  go.sum
Labels: none

builtin/vault: skip tests if vault is not installed
  builtin/vault/testvault/testvault.go
Labels: plugin

fmt
  builtin/vault/config_sourcer_test.go
  internal/ceb/app_config.go
Labels: core, plugin

go.mod
  go.mod
  go.sum
Labels: none

builtin/k8s: config sourcer
  builtin/k8s/api.go
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

internal/ceb: hardcode in our vault/k8s sourcers
  internal/ceb/ceb.go
Labels: core

internal/config: allows config blocks
  internal/config/testdata/validate/valid.hcl
  internal/config/validate.go
Labels: core

Check if the string is empty, either way the path is joined.
  builtin/docker/builder.go
Labels: plugin, plugin/docker

builtin/k8s: fix nil panic
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

internal/ceb: make ctx available to config sources
  internal/ceb/app_config.go
Labels: core

Update status text
  website/components/footer/index.jsx
Labels: website

backport of commit 21293d42ee8142e7e604cb1dab16c9fd504792ff
  website/components/footer/index.jsx
Labels: website

Auto-scroll logs, support un-pinning on scroll
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
  ui/app/styles/_app-card.scss
  ui/app/styles/_page.scss
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui

patch waypoint to work with AR
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
Labels: plugin, plugin/google

backport of commit 94d231b8e008e8d53928b40cd35dde3393f00cda
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
Labels: plugin, plugin/google

backport of commit daa5c0abf14fcc7224a52865bfd41193b2e0a39d
  builtin/google/cloudrun/validation_test.go
Labels: plugin, plugin/google

complete image url
  builtin/google/cloudrun/validation_test.go
Labels: plugin, plugin/google

builtin/aws/ecs: Add nil checks
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit d03436ab30e01d9495c57e9fb9fcafb37b811f09
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
Labels: core

Add more descriptive output to `waypoint destroy`
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

backport version and label regex updates
  .github/workflows/backport.yml
Labels: none

builtin/k8s: add jitter to refresh sleep
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

Pin status banner to viewport bottom
  website/components/footer/index.jsx
  website/components/footer/style.module.css
Labels: website
