Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit 2ff83a6254353ba433813753c4a92bd26080b188
  website/data/docs-nav-data.json
Labels: website

backport of commit 2ff83a6254353ba433813753c4a92bd26080b188
  website/data/docs-nav-data.json
Labels: website

update 2048 repo links
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 3ec44a78ade97940767bb67754695dbf1ebd80f1
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 3ec44a78ade97940767bb67754695dbf1ebd80f1
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit d5ba851bed812ac6c237dfdda487e5b837104da6
  website/public/img/use-cases/hcp-hashistack-quickstart/hvn.png
Labels: website

backport of commit d5ba851bed812ac6c237dfdda487e5b837104da6
  website/public/img/use-cases/hcp-hashistack-quickstart/hvn.png
Labels: website

add hvn image
  website/public/img/use-cases/hcp-hashistack-quickstart/hvn.png
Labels: website

Fix crash created by passing a nil err
  pkg/server/hcerr/hcerr.go
  pkg/server/hcerr/user_error.go
  pkg/server/singleprocess/service_job.go
Labels: none

Language adjustment for external plugins
  website/content/docs/plugins.mdx
Labels: website

Link to plugin docs page
  website/content/docs/lifecycle/deploy.mdx
Labels: website

Update website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/build.mdx
Labels: website

Update website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/blue-green-deployment.mdx
Labels: website

fix vercel parsing error
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 093da697aac6db0cc068ca93b867afa26632dbaa
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 093da697aac6db0cc068ca93b867afa26632dbaa
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

Docs Recontextualization & URL Adjustments for Plugins -> Integrations Library (#4494)
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/index.mdx
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/deploy.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/plugins.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/runner/profiles.mdx
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/waypoint-hcl/use.mdx
  website/content/docs/waypoint-hcl/variables/artifact.mdx
  website/content/docs/waypoint-hcl/variables/deploy.mdx
Labels: website

test: fixup a few more context-cancelled failure tests
  pkg/serverstate/statetest/test_job.go
Labels: none

indent description
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 4fe4c3a6305316a358c2324fd705a3b709300abf
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 4fe4c3a6305316a358c2324fd705a3b709300abf
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit f7bf10f9111f7824a7f9315c675cc86b5bb0faae
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit f7bf10f9111f7824a7f9315c675cc86b5bb0faae
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

format
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 21a81c2eed6a13fa88421516931cba0c64d88f55
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 21a81c2eed6a13fa88421516931cba0c64d88f55
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

indent first line
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 8f0932936b5390b1660c6ab04231c59981d108f5
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 8f0932936b5390b1660c6ab04231c59981d108f5
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

update indentation for description
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

api: Enable API via grpc-gateway on HTTP Server
  internal/server/http.go
Labels: core

Add basepath to server.swagger.json
  pkg/server/gen/server.swagger.json
  pkg/server/proto/swagger.json
  pkg/server/server.go
Labels: none

Dry up grpc dial options
  pkg/serverclient/client.go
Labels: none

Remove base path from gateway.yml routes
  pkg/server/proto/gateway.yml
Labels: none

Generate updated swagger specification
  pkg/server/gen/server.swagger.json
Labels: none

backport of commit aa2bcb0c1148a39f9fe9e55378c0840c68c88065
  .changelog/4497.txt
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

ecs: Update target group destroyer to wait for listener.
  .changelog/4497.txt
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Bubble error up when unable to start grpc-gateway
  internal/server/http.go
  internal/server/server.go
Labels: core

fix: ECS ALB ARN error format.
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 9df752e2b67a0dcbba8a9d2ffb5646de24e8571d
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws
