Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

test: Update pipeline proto func test to operate on genericConfig
  internal/config/pipeline_test.go
Labels: core

proto: pipeline data model
  pkg/server/gen/mocks/is_pipeline__owner.go
  pkg/server/gen/mocks/is_pipeline__step__kind.go
  pkg/server/gen/mocks/is_ref__pipeline__ref.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

pkg/serverstate: PipelinePut
  internal/server/boltdbstate/pipeline.go
  pkg/server/ptypes/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/serverstate: PipelineGet
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/server: UpsertPipeline API
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

pkg/server/ptypes: pipeline validation
  internal/pkg/validationext/map.go
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: core

internal/server: boltdb state should reuse pipeline validation
  internal/server/boltdbstate/pipeline.go
Labels: core

pkg/serverstate: PipelineDelete
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/server/ptypes: validate step graph
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: none

proto
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

internal/config: pipeline stanza label is Name
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

internal/runner: pipeline step execution initial impl
  internal/runner/operation.go
  internal/runner/operation_pipeline_step.go
Labels: core

pkg/server: implement task override and skipping
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
Labels: none

todo: Clean up some TODO comments
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

builtin/docker: don't error if error is nil!
  builtin/docker/task.go
Labels: plugin, plugin/docker

extract internal/jobstreamui
  internal/client/job.go
  internal/jobstreamui/ui.go
Labels: core

pr feedback: remove unused references to pipelines
  internal/config/plugin.go
  internal/core/project.go
Labels: core

internal/config: Update Pipeline to have multi-step stanzas
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
Labels: core

internal/runner: stream child step UI events to the job UI
  internal/runner/operation_pipeline_step.go
Labels: core

internal/config: Validate pipeline stanzas
  internal/config/pipeline.go
  internal/config/plugin.go
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_no_step.hcl
  internal/config/validate.go
  internal/config/validate_test.go
Labels: core

internal/config: Update StepLabels to return all labels for all steps
  internal/config/pipeline.go
Labels: core

internal/config: Introduce Pipelines and Steps for parsing configs
  internal/config/config.go
  internal/config/operation.go
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline.hcl
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_step.hcl
  internal/core/project.go
Labels: core

internal/jobstream: log unknowns
  internal/jobstreamui/ui.go
  internal/runner/operation_pipeline_step.go
Labels: core

cli: job knows about about pipeline steps
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/client/job.go
Labels: core

pr feedback: Simplify hclStep, make step label required for now
  internal/config/pipeline.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_step.hcl
Labels: core

internal/config: Configure step plugins in pipeline, not in operation
  internal/config/operation.go
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

internal/core: Add ConfigSync for pipeline configs
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/testdata/pipelines/pipelines_many.hcl
  internal/core/pipeline.go
  internal/core/pipeline_config.go
  internal/core/project.go
Labels: core

internal/config: Introduce `hclStep` for raw Step
  internal/config/pipeline.go
  internal/config/stages.go
Labels: core

internal/config: Move hclStep into config pipeline
  internal/config/pipeline.go
  internal/config/stages.go
Labels: core

internal/config: DependsOn is a slice of step names
  internal/config/pipeline_test.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
Labels: core

internal/config: Set project owner on pipeline
  internal/config/pipeline.go
Labels: core

internal/config: Do a full pipeline and step decode all together
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

Remove workspace and label scoped from Step struct
  internal/config/stages.go
Labels: core

internal/config: Panic on nil conifg when generating Pipeline Protos
  internal/config/pipeline.go
Labels: core

test: Update pipeline proto func test to operate on genericConfig
  internal/config/pipeline_test.go
Labels: core

pr feedback: No dynamic funcs for pipeline configs
  internal/config/pipeline.go
Labels: core

Fix dependabot, was missing "updates:"
  .github/dependabot.yml
Labels: none

proto
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

pkg/server: add PipelienSteps
  pkg/server/ptypes/pipeline.go
Labels: none

pkg/server: job queue with ODR respects job dependencies
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
