Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Slightly increase the breakpoint for the intro
  website/components/homepage/sections/intro/style.module.css
Labels: website

rescale logos
  website/components/homepage/sections/how-it-works/build-and-deploy/logos.svg
Labels: website

Replace react-typical with custom component
  website/components/homepage/sections/how-it-works/build-and-deploy/index.tsx
  website/components/typical/index.jsx
  website/components/typical/style.module.css
  website/package-lock.json
  website/package.json
Labels: website

Animate arrows
  website/components/card/style.module.css
  website/components/footer/index.tsx
  website/components/footer/style.module.css
Labels: website

updates package-lock
  website/package-lock.json
Labels: website

internal/server/logbuffer: fix flaky test
  internal/server/logbuffer/logbuffer_test.go
Labels: core

backport of commit c540e82c7e9c5c1a0fb5e98039341df29fe38acf
  website/package-lock.json
  website/package.json
  website/pages/_app.js
Labels: website

backport of commit c540e82c7e9c5c1a0fb5e98039341df29fe38acf
  website/package-lock.json
  website/package.json
  website/pages/_app.js
Labels: website

Use analytics package instead of direct impl
  website/package-lock.json
  website/package.json
  website/pages/_app.js
Labels: website

backport of commit 290f17d57118c13f21681091577ba81ad0d64b92
  website/package-lock.json
  website/package.json
  website/pages/_app.js
Labels: website

backport of commit 290f17d57118c13f21681091577ba81ad0d64b92
  website/package-lock.json
  website/package.json
  website/pages/_app.js
Labels: website

Impl Fathom analytics
  website/package-lock.json
  website/package.json
  website/pages/_app.js
Labels: website

backport of commit 665cea9fbc92c470c9b903e37e83e81364264dc2
  internal/ceb/ssh/server.go
Labels: core

internal/ceb/ssh: wait on exit until stdout copy is complete
  internal/ceb/ssh/server.go
Labels: core

backport of commit a040a5119e5a698a1428aaebc5a4da388ca758ac
  website/package-lock.json
  website/package.json
Labels: website

backport of commit a040a5119e5a698a1428aaebc5a4da388ca758ac
  website/package-lock.json
  website/package.json
Labels: website

Remove explicit fathom-client dep
  website/package-lock.json
  website/package.json
Labels: website

ui: add missing translation
  ui/translations/en-us.yaml
Labels: ui

backport of commit bf6ac4e953cfe27361be001027a15cb9d3740794
  ui/translations/en-us.yaml
Labels: ui

Increase failure threshold from 5 to 20.
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

update docs
  website/content/partials/components/platform-kubernetes.mdx
Labels: website

Setting FailureThreshold for Liveness and Readiness checks
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

changelog for release
  CHANGELOG.md
Labels: none

Release v0.6.0
  internal/version/version.go
  website/data/version.js
Labels: core, website

backport of commit f96a9985639fd8a994301630d44b4f918b312b25
  internal/serverinstall/k8s.go
Labels: core

Do not set a default value for imagePullSecret
  internal/serverinstall/k8s.go
Labels: core

backport of commit e475676a525206f45c42e29119a3e2110641e831
  internal/server/singleprocess/service_logs_test.go
Labels: core

internal/server: fix flaky test TestServiceGetLogStream_depPlugin
  internal/server/singleprocess/service_logs_test.go
Labels: core

Update "odr config" to "runner profile" when applying project settings
  internal/cli/project_apply.go
Labels: core

backport of commit 2f6d55fd8fcbe77cf98537fbfd0226c99d17925d
  internal/cli/project_apply.go
Labels: core

backport of commit 4003a07388235503a7bbe4f82adc8cc37c65d1a2
  internal/cli/project_inspect.go
Labels: core

Display runner profile in `project inspect`
  internal/cli/project_inspect.go
Labels: core

backport of commit d39de15fa559b735d134d439e4d529321aff1790
  website/content/commands/project-apply.mdx
Labels: website

docs
  website/content/commands/project-apply.mdx
Labels: website

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Increase ECS ODR memory
  internal/serverinstall/ecs.go
Labels: core

backport of commit 18667e9a610d7cac78d8d3d1f69a809cd6f6a4e7
  internal/serverinstall/ecs.go
Labels: core

internal/server: defer instance logs delete
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_logs.go
  internal/server/singleprocess/service_logs_test.go
Labels: core

backport of commit 89ed8b5840e166f24638d0b21d76461a84b95553
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_logs.go
  internal/server/singleprocess/service_logs_test.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
