Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/datasource: support auth, SSH key auth
  internal/datasource/git.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/datasource: switch to go-git for checkout
  internal/datasource/git.go
Labels: core

internal/datasource: we can run tests without `git` binary now
  internal/datasource/git_test.go
Labels: core

go.*
  go.mod
  go.sum
Labels: none

internal/datasource: revert checkout to os/exec and add tests
  internal/datasource/git.go
  internal/datasource/git_test.go
Labels: core

internal/datasource: support git auth config in HCL and overrides
  internal/datasource/git.go
  internal/datasource/git_test.go
Labels: core

internal/datasource: validate the private key specified in HCL files
  internal/datasource/git.go
Labels: core

internal/runner: need to make datadir in working directory
  internal/runner/operation.go
Labels: core

new NomadSpec type
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
Labels: plugin, plugin/nomad

Mappers from Files and Docker to NomadSpec
  builtin/nomad/nomad.go
Labels: plugin, plugin/nomad

Light refactor of Nomad platform to use NomadSpec instead of Docker
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Adding app stanza labels to kubernetes resources
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Update Dockerfile to add img
  Dockerfile
Labels: none

builtin/docker: determine if fallback should be attempted
  builtin/docker/builder.go
  builtin/docker/client/fallback.go
Labels: plugin, plugin/docker

internal/serverinstall: Server upgrades for supported platforms
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_upgrade.go
  internal/server/proto/server.proto
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

Updating waypoint k8s builtin to add app label
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update dockerfile for img
  Dockerfile
Labels: none

builtin/docker: use img if available without Docker
  builtin/docker/builder.go
  builtin/docker/img.go
  internal/serverinstall/docker.go
Labels: core, plugin, plugin/docker

builtin/docker: tweak ux
  builtin/docker/builder.go
  builtin/docker/img.go
Labels: plugin, plugin/docker

Update Dockerfile to use my img fork for now for img inspect
  Dockerfile
Labels: none

Use exec for kubectl set image on upgrades
  internal/serverinstall/k8s.go
Labels: core

internal/pkg/epinject: AlterEntrypointImg
  internal/pkg/epinject/epinject.go
  internal/pkg/epinject/img.go
Labels: core

builtin/docker: inject entrypoint with img
  builtin/docker/builder.go
Labels: plugin, plugin/docker

go.mod
  go.mod
Labels: none

base docker uninstall; partial uninstall cmd base
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
Labels: core

backport of commit 2cad3801f28e5d048e12406a62594dae3f9ed533
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
Labels: core

backport of commit f465c574c8fc1f0b1654e777d48b100ee0d0e668
  internal/cli/main.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

internal/cli: setting base for server uninstall
  internal/cli/main.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

backport of commit ad65ea5173598040842845554d8f04845c873556
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
Labels: core

backport of commit 6a257f0e8b26b7e13097c157efd43257fdc79136
  internal/cli/uninstall.go
Labels: core

add clisnapshot; change confirm to auto-approve
  internal/cli/uninstall.go
Labels: core

base nomad uninstall
  internal/serverinstall/nomad.go
Labels: core

go fmt
  internal/cli/uninstall.go
Labels: core

update uninstall to use InstallOpts from rebase
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

backport of commit b1bfa2d1781f4b01377fbac47366499d8584e720
  internal/cli/uninstall.go
Labels: core

k8s implementation; docker rmi
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
Labels: core

add bool for context deletion; update snapshot flag
  internal/cli/uninstall.go
Labels: core

backport of commit 7f99eb4d1fd74e79cb8397c123661df9a9ca3f91
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

include note to destroy deployments prior to uninstall
  Makefile
  internal/cli/deployment_destroy.go
  internal/cli/uninstall.go
Labels: core

backport of commit 7d1e0747fb1ce917fb6eb86e6983f106549cb7fc
  internal/cli/uninstall.go
Labels: core
