Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update version.js
  website/data/version.js
Labels: website

website: regen plugin docs for 0.1.3
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-kubernetes.mdx
Labels: website

website: update k8s docs
  builtin/k8s/platform.go
  website/content/partials/components/platform-kubernetes.mdx
Labels: plugin, plugin/k8s, website

Updating heading syntax
  website/content/docs/lifecycle/build.mdx
Labels: website

Updated heading syntax
  website/content/docs/lifecycle/deploy.mdx
Labels: website

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

fix deprecated grpc.WithTimeout & clean up else if
  internal/serverclient/client.go
Labels: core

Add auth property for pulling docker image from private registry #646
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Reformat code
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Adding namespace config to k8s deploy/release
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: plugin, plugin/k8s, website

internal/cli: server bootstrap should error on in-process mode
  internal/cli/server_bootstrap.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add upgrade notice
  website/content/docs/upgrading/index.mdx
Labels: website

fix: correct spelling on word
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

builtin/nomad use block for auth config and default datacenter to 'dc1'
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Added example backup commands
  website/content/docs/upgrading/index.mdx
Labels: website

Merge pull request #654 from jbayer/f-add-upgrade-notice
  website/content/docs/upgrading/index.mdx
Labels: website

Implement StopDocker function for stopping Waypoint in Docker
  internal/serverstop/docker.go
Labels: core

Implement CLI command for stopping Waypoint in Docker
  internal/cli/server_docker_stop.go
Labels: core

Introduce `server docker stop` CLI command
  internal/cli/main.go
Labels: core

Update horizon dep
  go.mod
  go.sum
Labels: none

Configuring ServicePort for ECS workloads
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Adding service_port to docs generation
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

allow policy override for nomad sentinel policies
  internal/serverinstall/nomad.go
Labels: core

Add dockerfile docs
  builtin/docker/builder.go
Labels: plugin, plugin/docker

Reference app path
  builtin/docker/builder.go
Labels: plugin, plugin/docker

Add builtin/docker/client
  builtin/aws/ecr/registry.go
  builtin/docker/builder.go
  builtin/docker/client/client.go
  builtin/docker/platform.go
  builtin/docker/pull/builder.go
  builtin/docker/registry.go
  builtin/pack/builder.go
Labels: plugin, plugin/aws, plugin/docker, plugin/pack

builtin/docker: Remove intermediate containers on build
  builtin/docker/builder.go
Labels: plugin, plugin/docker

up version of backport-assistant to handle forked PRs
  .github/workflows/backport.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Allow Nomad sentinel policy override on install
  internal/serverinstall/nomad.go
Labels: core

Make waypoint config set command pipeable
  internal/cli/config_set.go
Labels: core

Append variables from file to command arguments
  internal/cli/config_set.go
Labels: core

make static-assets uses gofmt -s
  Makefile
Labels: none

fmt
  internal/server/gen/bindata_ui.go
Labels: core

add flag to NomadFlags
  internal/serverinstall/nomad.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
