Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

proto gen
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

fmt
  internal/cli/user_inspect.go
Labels: core

Server commands generate docs in a consistent order
  .circleci/config.yml
  internal/cli/app_docs.go
  internal/cli/docs.go
  internal/cli/install.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
Labels: core

changelog
  .changelog/1868.txt
Labels: none

internal/cli: note deprecation on run
  internal/cli/token.go
Labels: core

internal/cli: hide token commands
  internal/cli/main.go
Labels: core

ui: Updated build URLs to use sequence num by default - Still accepts the former URL format with a build ID
  ui/app/components/app-item/build.hbs
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/build-id.ts
  ui/app/routes/workspace/projects/project/app/build.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 55449923
  internal/server/gen/bindata_ui.go
Labels: core

Add CHANGELOG entry
  .changelog/1873.txt
Labels: none

internal/core: Add unimplemented field for a release
  internal/core/app_release.go
  internal/runner/operation_up.go
  internal/server/proto/server.proto
Labels: core

internal/cli: user invite
  internal/cli/main.go
  internal/cli/user_invite.go
Labels: core

add new page to links
  website/data/docs-nav-data.json
Labels: website

pr feedback corrections; add stanza page
  website/content/docs/waypoint-hcl/variable.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/data/docs-nav-data.json
  website/public/img/input-vars-add-variable-dialog.png
  website/public/img/input-vars-empty-settings-tab.png
Labels: website

changelog
  .changelog/1886.txt
Labels: none

internal/cli: auth method set can set access selectors
  internal/cli/auth_method_set_oidc.go
Labels: core

generate website
  Makefile
  website/content/commands/auth-method-set-oidc.mdx
  website/content/commands/user-inspect.mdx
  website/content/commands/user-invite.mdx
  website/content/commands/user-modify.mdx
  website/content/commands/user-token.mdx
  website/content/partials/commands/user-inspect_desc.mdx
  website/content/partials/commands/user-inspect_more.mdx
  website/content/partials/commands/user-invite_desc.mdx
  website/content/partials/commands/user-invite_more.mdx
  website/content/partials/commands/user-modify_desc.mdx
  website/content/partials/commands/user-modify_more.mdx
  website/content/partials/commands/user-token_desc.mdx
  website/content/partials/commands/user-token_more.mdx
Labels: website

minor grammar fixes
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

internal/cli: show user claims in logs
  internal/cli/login.go
Labels: core

internal/server: oidc should verify iss is set
  internal/server/singleprocess/service_auth_oidc.go
Labels: core

internal/cli: warn log the full claims for debugging
  internal/cli/login.go
Labels: core

update log msg and add terminal warn for RollingUpdate
  internal/serverinstall/k8s.go
Labels: core

initial pass at input vars docs
  website/content/docs/waypoint-hcl/variables/index.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

fmt
  internal/auth/oidc/claims_test.go
Labels: core

move check
  internal/serverinstall/k8s.go
Labels: core

proto: claim debugging
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/auth/oidc: claim extraction
  internal/auth/oidc/claims.go
  internal/auth/oidc/claims_test.go
Labels: core

resolve TODOs; add links
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

internal/server: load user claims
  internal/auth/oidc/claims.go
  internal/auth/oidc/claims_test.go
  internal/server/singleprocess/service_auth_oidc.go
  internal/server/singleprocess/service_auth_oidc_test.go
Labels: core

internal/server/ptypes: validate access selector
  internal/server/ptypes/auth_method.go
Labels: core

move tutorial link down after intro
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

Update website/content/docs/waypoint-hcl/variables/input.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

proto
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: oidc auth sends down full set of claims
  internal/server/singleprocess/service_auth_oidc.go
  internal/server/singleprocess/service_auth_oidc_test.go
Labels: core

proto
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: tests for access selector
  internal/server/singleprocess/service_auth_oidc_test.go
Labels: core

proto: add user claims
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: evaluate access selector
  internal/server/singleprocess/service_auth_oidc.go
Labels: core

go mod
  go.mod
  go.sum
Labels: none

internal/server/ptypes: validation for claim mappings
  internal/server/ptypes/auth_method.go
Labels: core

website: add user CLI to nav
  website/data/commands-nav-data.json
Labels: website
