Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Gracefully handle the git binary not existing
  internal/config/funcs/vcs_git.go
Labels: core

Add the ability to spawn ondemand runners as task on job queue
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
Labels: core

Add default ODR config for docker
  internal/serverinstall/docker.go
  internal/serverinstall/serverinstall.go
Labels: core

Raise the pause before queue message
  internal/client/job.go
Labels: core

Add kaniko based docker build mode
  builtin/docker/auth.go
  builtin/docker/builder.go
  builtin/docker/kaniko.go
  builtin/docker/platform.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/registry.go
  builtin/docker/task.go
Labels: plugin, plugin/docker

Add kaniko based pack build mode
  builtin/pack/builder.go
  builtin/pack/mapper.go
  builtin/pack/plugin.pb.go
  builtin/pack/plugin.proto
Labels: plugin, plugin/pack

Add make task for the odr image
  Dockerfile.odr
  Makefile
Labels: none

Use a registered registry type
  internal/core/app_build_test.go
Labels: core

Update Makefile
  Makefile
Labels: none

Apply suggestions from code review
  internal/cli/ondemand_runner_apply.go
  internal/cli/ondemand_runner_list.go
Labels: core

Add changelog entry
  .changelog/2056.txt
Labels: none

Apply suggestions from code review
  internal/cli/ondemand_runner_apply.go
Labels: core

Updating waypoint-plugin-sdk
  go.mod
  go.sum
Labels: none

Correct usage of its and it's.
  ARCHITECTURE.md
  builtin/aws/lambda/ecs.go
  builtin/docker/copy.go
  internal/appconfig/option.go
  internal/cli/base.go
  internal/cli/exec.go
  internal/cli/runner_agent.go
  internal/cli/status.go
  internal/client/project.go
  internal/config/app_config.go
  internal/config/app_config_sort.go
  internal/core/operation.go
  internal/pkg/copy/copy.go
  internal/plugin/invoke.go
  internal/runner/accept.go
  internal/runner/operation_release.go
  internal/server/grpc.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_exec.go
  x/slack/pkg/bot/ui.go
Labels: core, plugin, plugin/aws, plugin/docker

ui: Fixed input vars + git settings overwriting bug
  .changelog/2057.txt
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/project-input-variables/list.ts
  ui/app/services/api.ts
Labels: ui

Error if server context and requested platform flag conflict
  internal/cli/uninstall.go
Labels: core

backport of commit 32e19689d6f884815dfdad7f7d1178ec2c8a4eca
  internal/cli/uninstall.go
Labels: core

internal/config: support labels var for builds
  internal/config/app.go
  internal/config/app_test.go
  internal/config/testdata/compare/build.hcl
  internal/config/testdata/compare/build_use.hcl
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit d507b550
  internal/server/gen/bindata_ui.go
Labels: core

internal/core: process labels for HCL context here, test
  internal/config/app.go
  internal/config/app_test.go
  internal/config/testdata/compare/build.hcl
  internal/config/testdata/compare/build_use.hcl
  internal/core/app_build_test.go
  internal/core/component_creator.go
Labels: core

internal/core: support labels for all operations
  internal/config/app.go
  internal/core/component_creator.go
Labels: core

internal/core: use labels from merge function
  internal/core/component_creator.go
Labels: core

internal/config/funcs: selectormatch
  internal/config/funcs/selector.go
  internal/config/funcs/selector_test.go
  internal/config/funcs/sets.go
Labels: core

ui: Fixed input vars + git settings overwriting bug
  .changelog/2057.txt
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/project-input-variables/list.ts
  ui/app/services/api.ts
Labels: ui

internal/config/funcs: selectorlookup
  internal/config/funcs/selector.go
  internal/config/funcs/selector_test.go
Labels: core

internal/config: docs for new funcs
  internal/config/funcs/doc.go
Labels: core

website: add selector functions
  website/content/partials/funcs.mdx
Labels: website

Various review changes
  Dockerfile.odr
  builtin/docker/auth.go
  builtin/docker/kaniko.go
  builtin/docker/registry.go
  builtin/pack/builder.go
  internal/cli/main.go
  internal/cli/ondemand_runner_list.go
Labels: core, plugin, plugin/docker, plugin/pack

Apply suggestions from code review
  internal/cli/ondemand_runner_apply.go
Labels: core

Add docker/server-only
  Makefile
Labels: none

Use multi-target Dockerfile instead of separate files
  Dockerfile
  Dockerfile.odr
  Makefile
Labels: none

website: document labels variable
  website/content/docs/waypoint-hcl/variables/labels.mdx
  website/data/docs-nav-data.json
Labels: website

go.mod/sum
  go.mod
  go.sum
Labels: none

Uncomment fixed test from go-bexpr update
  internal/config/funcs/selector_test.go
Labels: core

Use a kernel assigned port
  builtin/pack/builder.go
Labels: plugin, plugin/pack

Have the OCI proxy only listen on localhost
  builtin/docker/kaniko.go
  builtin/pack/builder.go
Labels: plugin, plugin/docker, plugin/pack

changelog
  .changelog/2065.txt
Labels: none

Fix insecure registry access, don't upload the entrypoint when disabled
  builtin/docker/kaniko.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/registry.go
Labels: plugin, plugin/docker

Fix insecure registry access, don't upload the entrypoint when disabled
  builtin/pack/builder.go
Labels: plugin, plugin/pack

builtin/docker: use proper full image name resolution
  builtin/docker/platform.go
  builtin/docker/task.go
Labels: plugin, plugin/docker
