Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit 8e6ba21205df1d95cb972a48673cb95c265b734e
  website/data/version.js
Labels: website

internal/core: clearer error if templatedata parsing fails
  internal/core/eval_context.go
Labels: core

move to new docs page component
  website/package-lock.json
  website/package.json
  website/pages/commands/[[...page]].jsx
  website/pages/community/index.jsx
  website/pages/community/style.module.css
  website/pages/docs/[[...page]].jsx
  website/pages/home/index.jsx
  website/pages/home/style.module.css
  website/pages/plugins/[[...page]].jsx
Labels: website

remove temp component
  website/components/temporary_docs-page/components.js
  website/components/temporary_docs-page/index.jsx
  website/components/temporary_docs-page/server.js
Labels: website

builtin/aws/ecs: Only destroy a listener with the deployment TargetGroupArn
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

builtin/aws/ecs: Fix build issues
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Fix plugin guide example
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
Labels: website

backport of commit 62ba549a2fa85a53f35bd33e05e02b573a1f8490
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
Labels: website

backport of commit c56822909514e24bdb5d71dd2ffe593e41b8cd67
  website/content/docs/extending-waypoint/creating-plugins/build-interface.mdx
Labels: website

clarify terminal output section
  website/content/docs/extending-waypoint/creating-plugins/build-interface.mdx
Labels: website

internal/ceb: support child process restarts on config change
  internal/ceb/ceb.go
  internal/ceb/ceb_test.go
  internal/ceb/child_exec.go
  internal/ceb/config.go
  internal/ceb/config_test.go
  internal/ceb/exec.go
  internal/ceb/init.go
  internal/ceb/log.go
  internal/ceb/server.go
Labels: core

internal/ceb: test for unchanged env vars not restarting
  internal/ceb/ceb_test.go
  internal/ceb/config.go
  internal/ceb/config_test.go
Labels: core

backport of commit d3ff5efc77173646bbbb47cc02f3f1ea83b9b8a1
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

update vars for ecs deploy
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

Move status link into footer
  website/components/footer/index.jsx
  website/components/footer/style.module.css
  website/pages/_app.js
  website/public/img/status-degraded.svg
  website/public/img/status-normal.svg
Labels: website

backport of commit 87bacf8d0a667f545430b4a8cabe722e0d45a293
  website/components/footer/index.jsx
  website/components/footer/style.module.css
  website/pages/_app.js
  website/public/img/status-degraded.svg
  website/public/img/status-normal.svg
Labels: website

builtin/aws/ecs: Update verbiage for removing a solo listener
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

builtin/aws/ecs: Use the Releaser
  builtin/aws/ecs/main.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

internal/ceb: clean up initial command start
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
  internal/ceb/config.go
  internal/ceb/init.go
  internal/ceb/server.go
Labels: core

internal/ceb: drain channel rather than using a context + timeout
  internal/ceb/child_exec.go
Labels: core

go.mod
  go.mod
Labels: none

internal/ceb: should start if disabled via no env vars
  internal/ceb/ceb.go
  internal/ceb/ceb_test.go
Labels: core

website: update docs to note we do restart on config change
  website/content/docs/app-config.mdx
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/cli: fix compilation
  internal/cli/app_docs.go
Labels: core

run lint first to limit excessive failures
  .circleci/config.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

nix: move depricated nixpkgs-channels to nixpkgs
  nix/sources.json
Labels: none

statically compile ceb to make injection easier
  Makefile
Labels: none

added check for empty dockerfile string
  builtin/docker/builder.go
Labels: plugin, plugin/docker

builtin/docker: default Dockerfile properly
  builtin/docker/builder.go
Labels: plugin, plugin/docker

internal/config: parse Config block, determine env
  internal/config/app.go
  internal/config/app_config.go
  internal/config/app_test.go
  internal/config/testdata/compare/config_env.hcl
Labels: core

internal/config: configdynamic()
  internal/config/app_config.go
  internal/config/app_test.go
  internal/config/testdata/compare/config_env_dynamic.hcl
Labels: core

internal/server/state: runner configs can't be dynamic
  internal/server/singleprocess/state/config.go
  internal/server/singleprocess/state/config_test.go
Labels: core

internal/sever: config API accepts dynamic values
  internal/server/gen/mocks/is_config_var__value.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/config.go
  internal/server/singleprocess/state/config_test.go
Labels: core

internal/ceb: update to use new config var, static only
  internal/ceb/config.go
  internal/runner/config.go
Labels: core

internal/runner: use new config var type
  internal/runner/config.go
  internal/runner/runner_test.go
Labels: core

internal/config: switch to using the proto value for config vars
  internal/config/app.go
  internal/config/app_config.go
  internal/config/app_test.go
Labels: core

internal/core: sync vars on deploy
  internal/core/app_config.go
  internal/core/app_deploy.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
