Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit 0f91f3e67be1ea8a70cf9c95cd4f087635d85f0e
  internal/runnerinstall/ecs.go
Labels: core

core/install: Add `-k8s-helm-ref` to server installs
  internal/serverinstall/k8s.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

Show the git ref and path when the data source is remote
  internal/cli/project_inspect.go
Labels: core

Indicate that remote deploy-on-change is active
  internal/cli/project_inspect.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

Fix tiny typo on app-config/dynamic docs
  website/content/docs/app-config/dynamic.mdx
Labels: website

cli: Remove extra https in final output for app urls
  internal/cli/pipeline_run.go
Labels: core

backport of commit 3245f1a092f55a6cce7f6a2f769743e15461fb35
  internal/cli/pipeline_run.go
Labels: core

backport of commit 1c1f8014cf9a58c7c4483d763485008cfc0a6117
  .changelog/4208.txt
Labels: none

Add changelog
  .changelog/4208.txt
Labels: none

backport of commit d5fd63e8b8fa1c1dcb334ccf12f5a7d52ccb9301
  internal/cli/deployment_create.go
  internal/cli/pipeline_run.go
  internal/cli/release_create.go
  internal/cli/up.go
Labels: core

cli: Check for scheme on app URLs and append https if missing
  internal/cli/deployment_create.go
  internal/cli/pipeline_run.go
  internal/cli/release_create.go
  internal/cli/up.go
Labels: core

Update changelog
  .changelog/4208.txt
Labels: none

backport of commit 2c8c149b2b0df043dbde38ab698a3661c86ed26e
  .changelog/4208.txt
Labels: none

backport of commit a211495721786c803bd384c64af8f95085b80fed
  internal/cli/project_destroy.go
Labels: core

update project destroy
  internal/cli/project_destroy.go
Labels: core

fix return if no project
  internal/cli/project_destroy.go
Labels: core

backport of commit 01002ce3e1338daf5dc5974d59930a6864ebd722
  internal/cli/project_destroy.go
Labels: core

backport of commit 0a657f084ed44678e22c14b221560a73ff39b17d
  internal/cli/project_destroy.go
Labels: core

enforce -project flag
  internal/cli/project_destroy.go
Labels: core

backport of commit f2105c92826b3062f426d7b9ee8766305b3916b3
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Use case for Waypoint dynamic config w/Vault dynamic secrets.
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit 94422c034ba3551fc9c9fa38ed4e2c33198a7e9d
  internal/cli/project_destroy.go
Labels: core

just delete if no remote source
  internal/cli/project_destroy.go
Labels: core

typo
  internal/runner/accept.go
Labels: core

backport of commit 3acb37c9ea731b21854a2221d7248db6ea9aa93b
  internal/runner/accept.go
Labels: core

backport of commit 761e4ab823046ab798347be5d11dadd23274df4a
  internal/cli/project_destroy.go
Labels: core

fix import order
  internal/cli/project_destroy.go
Labels: core

backport of commit e899dc77f3c2d4c1545cfbd96c6810695f7c39ef
  .changelog/4212.txt
Labels: none

changelog
  .changelog/4212.txt
Labels: none

backport of commit d72083d6fc14e69ca0c4e038cf43f8d22c89d4d4
  internal/cli/project_destroy.go
Labels: core

update notes
  internal/cli/project_destroy.go
Labels: core

backport of commit df106dcfeb33487e91cb7831d46fcc939750c444
  internal/cli/project_destroy.go
Labels: core

update error
  internal/cli/project_destroy.go
Labels: core

Manual backport of app-config/dynamic
  website/content/docs/app-config/dynamic.mdx
Labels: website

Manual backport of app-config/dynamic
  website/content/docs/app-config/dynamic.mdx
Labels: website

Apply suggestions from code review
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

backport of commit 0a0ab771cdccc36da61d44dd1d3a2c9b8fa30a9f
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

Add additional logging to find race condition
  pkg/server/singleprocess/service_runner.go
Labels: none

backport of commit dc21b5191ddc01a9675652c22eda859ca252b5eb
  internal/cli/project_destroy.go
Labels: core

update help string
  internal/cli/project_destroy.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
