Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

auto-updated internal/server/gen/bindata_ui.go from commit a7be62b2
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit 086e0dbf
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit a442606a
  internal/server/gen/bindata_ui.go
Labels: core

UI: Update caniuse-lite to 1.0.30001228
  ui/yarn.lock
Labels: ui

Fix makefile comment
  Makefile
Labels: none

fix indentation
  .github/workflows/backport.yml
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit c9f0d55a
  internal/server/gen/bindata_ui.go
Labels: core

UI: Upgrade @hashicorp/pds-ember to 0.6.0
  ui/package.json
  ui/yarn.lock
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit dc8b0f9f
  internal/server/gen/bindata_ui.go
Labels: core

add missing quote
  .github/workflows/backport.yml
Labels: none

bump backport-assistant image tag
  .github/workflows/backport.yml
Labels: none

Removing the netlify plugin and references from core
  README.md
  builtin/netlify/authenticate.go
  builtin/netlify/netlify.go
  builtin/netlify/platform.go
  builtin/netlify/plugin.pb.go
  builtin/netlify/plugin.proto
  go.mod
  go.sum
  internal/plugin/plugin.go
Labels: core, plugin

Remove netlify icons from the waypoint ui
  ui/app/helpers/icon-for-component.ts
  ui/public/images/icons/logo-netlify-color.svg
Labels: ui

Remove netlify from the website
  website/components/waypoint-diagram/img/logos/netlify.svg
  website/components/waypoint-diagram/index.jsx
  website/content/docs/lifecycle/deploy.mdx
  website/content/partials/components/builder-netlify.mdx
  website/content/partials/components/configsourcer-netlify.mdx
  website/content/partials/components/platform-netlify.mdx
  website/content/partials/components/registry-netlify.mdx
  website/content/partials/components/releasemanager-netlify.mdx
  website/content/plugins/netlify.mdx
  website/data/plugins-nav-data.json
  website/pages/home/img/step-logos/netlify.svg
  website/pages/home/index.jsx
Labels: website

Release note
  .changelog/1525.txt
Labels: none

Use active verbs in changelog
  .changelog/1525.txt
Labels: none

Update builtin/docker/platform.go
  builtin/docker/platform.go
Labels: plugin, plugin/docker

update go.mod
  go.mod
  go.sum
Labels: none

Install the correct version of mockery.
  tools/tools.go
Labels: none

builtin/k8s: use the resource manager
  builtin/k8s/api.go
  builtin/k8s/platform.go
  builtin/k8s/plugin.pb.go
  builtin/k8s/plugin.proto
Labels: plugin, plugin/k8s

changelog
  .changelog/1528.txt
Labels: none

internal/server/state: WorkspaceListByProject
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/state/workspace_test.go
Labels: core

internal/server/state: List workspaces by app
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/state/workspace_test.go
Labels: core

internal/server: ListWorkspaces supports scopes
  internal/server/singleprocess/service_workspace.go
Labels: core

internal/server: proto changes
  internal/server/gen/mocks/is_list_workspaces_request__scope.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

builtin/vault/internal/auth: deprecate errwrap.Wrapf()
  builtin/vault/internal/auth/aws/aws.go
  builtin/vault/internal/auth/gcp/gcp.go
  builtin/vault/internal/auth/kubernetes/kubernetes.go
Labels: plugin

builtin/vault: fix tests
  builtin/vault/internal/auth/kubernetes/kubernetes_test.go
Labels: plugin

update go.mod
  go.mod
Labels: none

Variable proto
  internal/server/proto/server.proto
Labels: core

proto after main rebase
  internal/server/gen/mocks/is_variable__source.go
  internal/server/gen/mocks/is_variable__value.go
  internal/server/proto/server.proto
Labels: core

fix indent
  internal/server/proto/server.proto
Labels: core

add WIP notes for variables
  internal/server/proto/server.proto
Labels: core

proto gen after rebase
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
Labels: core

Generate TS API Bindings for variables and workspaces
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit db001db0
  internal/server/gen/bindata_ui.go
Labels: core

Updated SVGs to utilize Structure Icons component
  ui/app/components/actions/context.hbs
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/invite.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/builds.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/copyable-code/index.hbs
  ui/app/components/header/index.hbs
  ui/app/components/icon-tile.hbs
  ui/app/components/latest-release-url/index.hbs
  ui/app/components/log-stream/index.hbs
  ui/app/components/logout/index.hbs
  ui/app/components/operation-logs/index.hbs
  ui/app/components/version-info/index.hbs
  ui/app/styles/_app-card.scss
  ui/app/styles/_app-item.scss
  ui/app/styles/_breadcrumbs.scss
  ui/app/styles/_button.scss
  ui/app/styles/_code.scss
  ui/app/styles/_header.scss
  ui/app/styles/_icon-tile.scss
  ui/app/styles/_page.scss
  ui/app/templates/auth.hbs
  ui/app/templates/error.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 57d7eb37
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit ab573517
  internal/server/gen/bindata_ui.go
Labels: core

Fix doc comment
  internal/core/app_status_report.go
Labels: core

Add initial status report state, app operation, and service functions
  builtin/docker/main.go
  go.sum
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/client/job.go
  internal/client/operation.go
  internal/core/app.go
  internal/core/app_status_report.go
  internal/runner/operation.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/state/status_report.go
  internal/server/singleprocess/state/status_report_test.go
Labels: core, plugin, plugin/docker
