Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

fix(plugins/k8s): address PR comments
  builtin/k8s/helm/platform.go
  embedJson/gen/platform-helm.json
  website/content/partials/components/platform-helm.mdx
Labels: plugin, plugin/k8s, website

backport of commit 173e7404317eaa5b62a24d0601d168b3e0ada2c6
  builtin/k8s/helm/platform.go
  embedJson/gen/platform-helm.json
  website/content/partials/components/platform-helm.mdx
Labels: plugin, plugin/k8s, website

docs(plugins/docker): add docker-ref
  embedJson/gen/builder-docker-ref.json
  embedJson/gen/configsourcer-docker-ref.json
  embedJson/gen/platform-docker-ref.json
  embedJson/gen/registry-docker-ref.json
  embedJson/gen/releasemanager-docker-ref.json
  embedJson/gen/task-docker-ref.json
  website/content/partials/components/builder-docker-ref.mdx
  website/content/partials/components/configsourcer-docker-ref.mdx
  website/content/partials/components/platform-docker-ref.mdx
  website/content/partials/components/registry-docker-ref.mdx
  website/content/partials/components/releasemanager-docker-ref.mdx
  website/content/partials/components/task-docker-ref.mdx
Labels: website

backport of commit 45ac2a1981829676735738e826ed83007dc031a9
  embedJson/gen/builder-docker-ref.json
  embedJson/gen/configsourcer-docker-ref.json
  embedJson/gen/platform-docker-ref.json
  embedJson/gen/registry-docker-ref.json
  embedJson/gen/releasemanager-docker-ref.json
  embedJson/gen/task-docker-ref.json
  website/content/partials/components/builder-docker-ref.mdx
  website/content/partials/components/configsourcer-docker-ref.mdx
  website/content/partials/components/platform-docker-ref.mdx
  website/content/partials/components/registry-docker-ref.mdx
  website/content/partials/components/releasemanager-docker-ref.mdx
  website/content/partials/components/task-docker-ref.mdx
Labels: website

backport of commit b4594febee0903114ffa40c9219a80073abf8718
  website/content/plugins/docker.mdx
Labels: website

docs(plugins/docker): add builder-docker-ref.mdx
  website/content/plugins/docker.mdx
Labels: website

Update roadmap.mdx
  website/content/docs/resources/roadmap.mdx
Labels: website

Update roadmap.mdx
  website/content/docs/resources/roadmap.mdx
Labels: website

make gen/website-mdx
  website/content/docs/resources/roadmap.mdx
Labels: website

fix: address PR comments
  .changelog/3910.txt
  embedJson/gen/platform-kubernetes.json
  website/content/partials/components/platform-kubernetes.mdx
Labels: website

test(plugins/k8s): provide testdata
  builtin/k8s/task_test.go
  builtin/k8s/testdata/config.hcl
Labels: plugin, plugin/k8s

Log context canceled errors in trace level
  pkg/server/hcerr/hcerr.go
Labels: none

docs: split changelog entry
  .changelog/3910.txt
Labels: none

Add err context to debug when decoding token expiry fails
  internal/cli/base_init.go
Labels: core

Add changelog
  .changelog/3960.txt
Labels: none

backport of commit 97d4850716ed6f0d1f93f4dd4a528f896a401c3e
  .changelog/3963.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad

Update nomad-jobspec plugin to handle periodic jobs.
  .changelog/3963.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad

backport of commit f3663f23eb75f6e5c02e66e4f65ffd3773df9c45
  .changelog/3963.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad

Update Nomad job status check for system jobs.
  .changelog/3963.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad

externalize deploy endpoint
  pkg/server/singleprocess/service_deploy.go
Labels: none

externalize service_exec
  pkg/server/singleprocess/service_exec.go
Labels: none

externalize entrypoint endpoint
  pkg/server/singleprocess/service_entrypoint.go
Labels: none

externalize hostname service
  pkg/server/singleprocess/service_hostname.go
Labels: none

fix typo
  pkg/server/singleprocess/service_deploy.go
Labels: none

Revert "externalize service_exec"
  pkg/server/singleprocess/service_exec.go
Labels: none

externalize service instance
  pkg/server/singleprocess/service_instance.go
Labels: none

externalize job service errors
  pkg/server/singleprocess/service_job.go
Labels: none

externalize service_logs endpoint
  pkg/server/singleprocess/service_logs.go
Labels: none

externalize ondemand_runner service
  pkg/server/singleprocess/service_ondemand_runner.go
Labels: none

externalize service pipeline errors
  pkg/server/singleprocess/service_pipeline.go
Labels: none

backport of commit 6ddbce0e8e7e4c6e816e94e9612216a1e83f50dd
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: none

statetest: Ensure a project record exists prior to pipeline tests
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: none

externalize pipeline service
  pkg/server/singleprocess/service_pipeline_run.go
Labels: none

externalize errors for service_project
  pkg/server/singleprocess/service_project.go
Labels: none

Tests for chaging datasource type
  pkg/serverstate/statetest/test_project.go
Labels: none

backport of commit fdd0a415a793bbb07a97a811019280055fd0a335
  internal/cli/project_apply.go
Labels: core

Fixing panic when setting datasource to local on cli
  internal/cli/project_apply.go
Labels: core

backport of commit 7fb81fcd9acafb13a4757728b1ad93f81df01cb3
  .changelog/3972.txt
Labels: none

changelog
  .changelog/3972.txt
Labels: none

Typo in example code.
  website/content/docs/extending-waypoint/creating-plugins/build-interface.mdx
Labels: website
