Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Add CHANGELOG entry
  .changelog/1372.txt
Labels: none

backport of commit 70b267dc7c42f4166e63b6277945ed58c6c6d3bb
  .changelog/1372.txt
Labels: none

Fix typo in doc string
  internal/cli/server_upgrade.go
Labels: core

backport of commit e5105091d8f38638dfa3a26e82c4aacaeeb3841a
  internal/cli/server_upgrade.go
Labels: core

reset count badge on scroll
  ui/app/components/log-stream/index.ts
Labels: ui

changelog
  .changelog/1373.txt
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit 47a3d647
  internal/server/gen/bindata_ui.go
Labels: core

Updated ssh key fingerprint
  .circleci/config.yml
Labels: none

backport of commit 4adff50e27fb6487597a09bea52ddd6f8488e8c5
  .circleci/config.yml
Labels: none

backport of commit 838e8ebfd902c5616b0f8d77ebc5ee78c4b6e77c
  .circleci/config.yml
Labels: none

Update docker ssh key ref
  .circleci/config.yml
Labels: none

Add ability to reference variables within waypoint.hcl
  go.mod
  go.sum
  internal/config/app_config.go
  internal/config/app_config_sort.go
  internal/config/app_test.go
  internal/config/testdata/compare/config_internal.hcl
  internal/config/testdata/compare/config_internal_dynamic.hcl
  internal/config/testdata/compare/config_reference_loop.hcl
  internal/config/testdata/fmt/terraform.hcl
  internal/pkg/partial/partial.go
  internal/pkg/partial/partial_test.go
Labels: core

Add ability to reference dynamic variables in entrypoint
  internal/appconfig/watcher.go
  internal/appconfig/watcher_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

go mod tidy
  go.sum
Labels: none

Add changelog entry
  .changelog/1382.txt
  go.sum
Labels: none

backport of commit e511994cc1350e0e6a11e6e5c61f607be69627db
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
Labels: none

website: add check for unlinked content
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
Labels: none

website: add check for unlinked content (#1352)
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
Labels: none

Fix crash when referencing partially evaled variable
  internal/config/app_config.go
  internal/config/app_test.go
  internal/config/testdata/compare/config_internal_dynamic.hcl
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit dc4363c3
  internal/server/gen/bindata_ui.go
Labels: core

Makefile: Add target for generating plugin protos
  Makefile
Labels: none

Proto gen
  builtin/aws/alb/plugin.pb.go
  builtin/aws/ami/plugin.pb.go
  builtin/aws/ec2/plugin.pb.go
  builtin/aws/ecr/plugin.pb.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/lambda/plugin.pb.go
  builtin/azure/aci/plugin.pb.go
  builtin/docker/plugin.pb.go
  builtin/exec/plugin.pb.go
  builtin/files/plugin.pb.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/plugin.pb.go
  builtin/netlify/plugin.pb.go
  builtin/nomad/plugin.pb.go
  builtin/pack/plugin.pb.go
Labels: plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack

builtin: Update how plugins are generated
  builtin/aws/alb/main.go
  builtin/aws/ami/main.go
  builtin/aws/ec2/main.go
  builtin/aws/ecr/ecr.go
  builtin/aws/ecs/main.go
  builtin/aws/lambda/lambda.go
  builtin/azure/aci/aci.go
  builtin/docker/main.go
  builtin/exec/main.go
  builtin/files/files.go
  builtin/google/cloudrun/cloudrun.go
  builtin/k8s/apply/plugin.go
  builtin/k8s/k8s.go
  builtin/netlify/netlify.go
  builtin/nomad/nomad.go
  builtin/pack/main.go
Labels: plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack

website: update readme (#1370)
  website/README.md
Labels: website

backport of commit ff0bd8808a6165a5cf5a8b29466aaa709a69e0d6
  .changelog/1389.txt
  builtin/vault/internal/auth/gcp/gcp.go
Labels: plugin

Use Service Account Credentials API to sign JWTs
  .changelog/1389.txt
  builtin/vault/internal/auth/gcp/gcp.go
Labels: plugin

Update .changelog/1317.txt
  .changelog/1317.txt
Labels: none

backport of commit 91d9c41d4c50e3df2b391d5b6300e0caf669693a
  .changelog/1317.txt
Labels: none

backport of commit 2b1f2eead52be133ea3635939be1fdccbc580704
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update builtin/k8s/platform.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 67f11e8f6dfc7d44ede1f8ffaca6fee06e9fa3ae
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update builtin/k8s/platform.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Add test showing partial evaluation of function args
  internal/config/app_test.go
  internal/config/testdata/compare/config_internal_partial.hcl
Labels: core

Validate and fix the ability to escape HCL in the pipeline
  internal/appconfig/watcher_test.go
  internal/config/app_config.go
  internal/config/app_test.go
  internal/config/testdata/compare/config_escape_data.hcl
  internal/config/testdata/compare/config_internal_escape.hcl
  internal/pkg/partial/partial.go
Labels: core

Test var sort and some comments
  internal/appconfig/watcher.go
  internal/config/app_config_sort.go
  internal/config/app_config_sort_test.go
Labels: core

Add `new` as the default label
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Add `new` as the default label
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

style: update gray brand colors
  website/components/animated-steps-list/steps-indicator/StepsIndicator.module.css
  website/components/branded-cta/branded-cta.module.css
  website/components/features/Features.module.css
  website/components/footer/style.module.css
  website/components/homepage-section/HomepageSection.module.css
  website/package-lock.json
  website/package.json
Labels: website

style: update brand colors
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/info-grid/InfoGrid.module.css
  website/components/longform-page/LongformPage.module.css
  website/components/waypoint-diagram/img/code-to-deployment.svg
  website/components/waypoint-diagram/img/code.svg
  website/components/waypoint-diagram/img/logos/and-more.svg
  website/components/waypoint-diagram/img/logos/nomad.svg
  website/components/waypoint-diagram/img/platform.svg
  website/package-lock.json
  website/package.json
  website/pages/downloads/img/waypoint-logo.svg
  website/pages/home/img/step-logos/and-more.svg
  website/pages/home/img/step-logos/nomad.svg
  website/pages/home/img/step-logos/terraform.svg
  website/pages/home/img/why-waypoint/deployment-confidence.svg
  website/pages/home/img/why-waypoint/ecosystem-extensibility.svg
  website/pages/home/img/why-waypoint/workflow-consistency.svg
  website/public/img/hero-left.svg
  website/public/img/hero-right.svg
  website/public/img/mobile-hero-pattern.svg
Labels: website

backport of commit 2dd13f90f3d3f8c2f550d26f76474b30313a7288
  website/components/animated-steps-list/steps-indicator/StepsIndicator.module.css
  website/components/branded-cta/branded-cta.module.css
  website/components/features/Features.module.css
  website/components/footer/style.module.css
  website/components/homepage-section/HomepageSection.module.css
  website/package-lock.json
  website/package.json
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
