Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

maint: Add warning for upgrading with non helm installation
  internal/cli/server_upgrade.go
Labels: core

k8s/task: Return an actual error if pod job exists but has no pods
  builtin/k8s/task.go
Labels: plugin, plugin/k8s

backport of commit bae253b58c98b08720694f89c4e078268a8f491b
  website/content/docs/server/install.mdx
Labels: website

backport of commit bae253b58c98b08720694f89c4e078268a8f491b
  website/content/docs/server/install.mdx
Labels: website

add documentation for ECS server install
  website/content/docs/server/install.mdx
Labels: website

backport of commit ee2bffa0cc264ed0271fb0cd1763a0187192e39d
  internal/cli/install.go
  website/content/docs/server/install.mdx
Labels: core, website

backport of commit ee2bffa0cc264ed0271fb0cd1763a0187192e39d
  internal/cli/install.go
  website/content/docs/server/install.mdx
Labels: core, website

add example output; update string case
  internal/cli/install.go
  website/content/docs/server/install.mdx
Labels: core, website

changelog
  .changelog/3505.txt
Labels: none

Fix k8s install logging.
  internal/serverinstall/k8s.go
Labels: core

Update k8s install to wait for service name waypoint-server based on const.
  internal/serverinstall/k8s.go
Labels: core

Update creation of service account with helm install of a runner with a name.
  internal/runnerinstall/k8s.go
Labels: core

Use const for name of runner in each platform.
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
Labels: core

Fix name of Nomad CSI volume.
  internal/runnerinstall/nomad.go
Labels: core

Revert deletion of check and warning for kind cluster.
  internal/serverinstall/k8s.go
Labels: core

wrap helm in k8s check; fix ecs runner search
  internal/cli/server_upgrade.go
  internal/runnerinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

suggestion for simplified status messages
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

papercut - cli output update
  internal/cli/install.go
Labels: core

fix stuck step groups
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

remove superfluous StepGroup message outputs
  internal/installutil/adoption.go
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

consolidating waypoint-runner naming
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
Labels: core

backport of commit 6bb20f4f1e27f2f5023474f56aa4772101830ee5
  internal/cli/install.go
  website/content/docs/server/install.mdx
  website/content/docs/upgrading/index.mdx
Labels: core, website

typos, general formatting
  internal/cli/install.go
  website/content/docs/server/install.mdx
  website/content/docs/upgrading/index.mdx
Labels: core, website

backport of commit 6bb20f4f1e27f2f5023474f56aa4772101830ee5
  internal/cli/install.go
  website/content/docs/server/install.mdx
  website/content/docs/upgrading/index.mdx
Labels: core, website

Revert removal of upgrade complete message for k8s upgrade.
  internal/serverinstall/k8s.go
Labels: core

Synchronize name of ECS service for Waypoint runner with other platforms.
  internal/runnerinstall/ecs.go
Labels: core

more accurate error message
  internal/runnerinstall/ecs.go
Labels: core

remove default region for ecs installs
  internal/serverinstall/ecs.go
Labels: core

docs gen for updated tag defaults
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

Update changelog.
  .changelog/3335.txt
Labels: none

docs: update go-bindata install cmd
  .github/CONTRIBUTING.md
Labels: none

During kubernetes server upgrade, check existing default runner profile to verify the correctness of the plugin config and warn the user if it is incorrect.
  internal/cli/server_upgrade.go
Labels: core

Update warning to user for incorrect runner profile config.
  internal/cli/server_upgrade.go
Labels: core

Update JSON unmarshal to use pointer to task launcher struct.
  internal/cli/server_upgrade.go
Labels: core

Fix pointer not being supplied to JSON unmarshal.
  internal/cli/server_upgrade.go
Labels: core

Update default runner profile check to warn users about memory and CPU configs for k8s & add changelog.
  internal/cli/server_upgrade.go
Labels: core

Verify that the user's plugin config is in JSON format before attempting to parse for profile upgrade.
  internal/cli/server_upgrade.go
Labels: core

Changelog fix.
  .changelog/3503.txt
Labels: none

Update profile upgrade to inform user about 0.9 change for profile config validation.
  internal/cli/server_upgrade.go
Labels: core

Fix changelog.
  .changelog/3503.txt
  .changelog/3505.txt
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
