Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Configure the server to skip init
  pkg/server/singleprocess/service.go
Labels: none

Runner ids in config requests aren't encoded
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/service_runner.go
Labels: none

Update pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/auth.go
Labels: none

Minor tweaks and revisions
  pkg/server/singleprocess/auth.go
Labels: none

start adding init job action button & operation
  ui/app/components/actions/init.hbs
  ui/app/components/actions/init.ts
  ui/app/components/project-init-error.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/mirage/factories/project.ts
  ui/mirage/services/project.ts
Labels: ui

Update links in ResourcesTableExtended component
  ui/app/components/resources-table-extended.hbs
Labels: ui

Changelog
  .changelog/3172.txt
Labels: none

Fixing `make tools`
  tools/tools.go
Labels: none

Updating to grpc-gateway v2
  go.mod
  go.sum
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server_grpc.pb.go
  tools/tools.go
Labels: none

Update route
  ui/app/components/resources-table-extended.hbs
Labels: ui

ui: enable `skipLibCheck` in `tsconfig.json`
  ui/tsconfig.json
Labels: ui

cli: Spelling fix on Message for job inspect
  internal/cli/job_inspect.go
Labels: core

Clean up
  ui/app/components/resources-table-extended.hbs
Labels: ui

ci: Only notify PR check failures if `website/content` has changes
  .circleci/config.yml
Labels: none

cli: Sort uncomplete jobs as "latest"
  internal/cli/job_list.go
Labels: core

Update links in ResourcesTableExtended component (#3172)
  .changelog/3172.txt
  ui/app/components/resources-table-extended.hbs
Labels: ui

ui/mirage: set version to `[Mirage]` in `VersionInfo` handler
  ui/mirage/services/version-info.ts
Labels: ui

CHANGELOG update
  CHANGELOG.md
Labels: none

Making the job service handler consumable
  pkg/server/logstream/logstream.go
  pkg/server/singleprocess/logstream.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
Labels: none

Release v0.8.0
  CHANGELOG.md
  internal/version/version.go
Labels: core

backport of commit 523239fa19356489511c3b69dc08e8c7f289d880
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

add examples to sensitive vars docs
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit 523239fa19356489511c3b69dc08e8c7f289d880
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit 523239fa19356489511c3b69dc08e8c7f289d880
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit f5eab9207ef5a2ef9c211e4a3cc18a547f641c8a
  website/README.md
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/package-lock.json
Labels: website

backport of commit f5eab9207ef5a2ef9c211e4a3cc18a547f641c8a
  website/README.md
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/package-lock.json
Labels: website

backport of commit f5eab9207ef5a2ef9c211e4a3cc18a547f641c8a
  website/README.md
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/package-lock.json
Labels: website

make gen/website-mdx
  website/README.md
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/package-lock.json
Labels: website

backport of commit 8717584c8b2b2feefaf888d6e60c18efff70136e
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit 8717584c8b2b2feefaf888d6e60c18efff70136e
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

fix spacing
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit 8717584c8b2b2feefaf888d6e60c18efff70136e
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

Implementing ReadComplete in OSS
  pkg/server/singleprocess/logstream.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
Labels: none

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

backport of commit 90a10495c3dbe4c75eefb77bfecdb503603f06da
  website/README.md
  website/package-lock.json
Labels: website

backport of commit 90a10495c3dbe4c75eefb77bfecdb503603f06da
  website/README.md
  website/package-lock.json
Labels: website

backport of commit 90a10495c3dbe4c75eefb77bfecdb503603f06da
  website/README.md
  website/package-lock.json
Labels: website

updates to formatting
  website/README.md
  website/package-lock.json
Labels: website

Fix infinite loop when reading logs from completed job
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/logstream.go
  pkg/server/singleprocess/service_job.go
Labels: core

Pacifying the linter
  pkg/server/singleprocess/logstream.go
Labels: none
