Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit b92cfa724364ee4f04f547a8c4256f3d92442e05
  .changelog/1393.txt
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

remove backport labeling from CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: none

Apply suggestions from code review
  .github/CONTRIBUTING.md
Labels: none

website: remove temp check for hidden pages, covered by docs-page
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
Labels: none

backport of commit 9734a976644594f44bb21fed074cdf5b07a5457f
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
Labels: none

feat(internal/config): add workspace variable
  .changelog/1419.txt
  internal/config/app.go
  internal/config/app_test.go
  internal/config/eval_context.go
  internal/core/project.go
Labels: core

backport of commit be33119e89bb93cf05e2327815c2330ed7af006b
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

platform/k8s: Add docs for Pod configuration
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Fill out security context doc string
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 0d030f8800b6520ffca52bf9b7af10b15a175719
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit b2ee95ea2c85475a82f00ea83cf2f16a2f49432c
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Delete duplicate container from merge conflict
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Makefile: Add target for generating plugin protos
  Makefile
Labels: none

backport of commit f3930f85b3e0edc587cd59231225f3c7664ee650
  .changelog/1346.txt
  builtin/docker/builder.go
Labels: plugin, plugin/docker

apply suggestions from code review
  .changelog/1346.txt
  builtin/docker/builder.go
Labels: plugin, plugin/docker

Only set memory and memory_res to non-zero pointer values
  builtin/aws/ecs/platform.go
  builtin/aws/utils/values.go
Labels: plugin, plugin/aws

plugin/ecs: Allow memory_reservation to be set on the main container
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
Labels: plugin, plugin/aws

Add changelog entry
  .changelog/1415.txt
Labels: none

Only set memory and memory_res to non-zero pointer values
  builtin/aws/ecs/platform.go
  builtin/aws/utils/values.go
Labels: plugin, plugin/aws

k8s: support multiple scratch_path, add Pod Security Context config
  builtin/k8s/deployment.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

k8s: add more options, rename PORT env to WAYPOINT_EXPOSED_PORT
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

changelog: add changelog entry
  .changelog/1317.txt
Labels: none

address PR comments, improve changelog
  .changelog/1317.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

revert rename of PORT to WAYPOINT_EXPOSED_PORT
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update .changelog/1317.txt
  .changelog/1317.txt
Labels: none

Update builtin/k8s/platform.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update builtin/k8s/platform.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

platform/k8s: Add docs for Pod configuration
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Fill out security context doc string
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Delete duplicate container from merge conflict
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

website: bump to stable docs-page, w next-mdx-remote bump
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

backport of commit a96a31dd457a3714e363693c9e4f09435e077b4a
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

Update backport.yml
  .github/workflows/backport.yml
Labels: none

internal/cli: don't use conn if error during accept
  internal/cli/runner_agent.go
Labels: core

backport of commit 732a0d740d6669802181377f3090e2211c7781b8
  internal/cli/runner_agent.go
Labels: core

backport of commit e88e2315d353537d9f86ea9c4f904876047c1803
  .changelog/1426.txt
Labels: none

changelog
  .changelog/1426.txt
Labels: none

Add ability to expose additinal ports for Docker
  builtin/docker/platform.go
Labels: plugin, plugin/docker

backport of commit 67135ff5915c0fb4b52ec58eb5d9a0fbc9151daf
  builtin/docker/platform.go
Labels: plugin, plugin/docker

backport of commit 7549c3ea051faaccbc1daca5f6f2ad04186c2b87
  builtin/docker/platform.go
Labels: plugin, plugin/docker
