Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

fix(docs): add backslash
  builtin/exec/platform.go
Labels: plugin

chore: add `make gen/website-mdx`
  Makefile
Labels: none

chore: run `make gen'/website-mdx`
  website/content/commands/index.mdx
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: website

fix(v0.1.x): platform exec mdx
  builtin/exec/platform.go
  website/content/partials/components/platform-exec.mdx
Labels: plugin, website

fix(v0.2.x): platform exec mdx
  builtin/exec/platform.go
  website/content/partials/components/platform-exec.mdx
Labels: plugin, website

fix(v0.3.x): platform exec mdx (#2752)
  Makefile
  builtin/exec/platform.go
  website/content/commands/index.mdx
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: plugin, website

Intial fix for empty deployUrl check in deployment_create
  internal/cli/deployment_create.go
Labels: core

Addressing feedback
  internal/cli/base.go
  internal/cli/base_test.go
Labels: core

The ODR profile needs to exist before we use it
  internal/cli/base_test.go
Labels: core

Fix comment
  internal/cli/base.go
Labels: core

Better error handling around missing ODR profiles
  internal/server/singleprocess/service_job.go
Labels: core

changelog
  .changelog/2756.txt
Labels: none

Add feature flag to controller
  ui/app/controllers/workspace/projects/project/app/exec.ts
Labels: ui

Add exec component shell
  ui/app/components/exec/index.hbs
  ui/app/components/exec/index.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/templates/workspace/projects/project/app/exec.hbs
Labels: ui

Add basic character handler
  ui/app/components/exec/index.ts
  ui/app/utils/create-terminal.ts
  ui/app/utils/keys.ts
  ui/app/utils/terminal-theme.ts
Labels: ui

WIP
  internal/server/http.go
  ui/app/components/exec/index.ts
  ui/config/environment.js
Labels: core, ui

use serializeBinary to serialize protobuf
  ui/app/components/exec/index.ts
Labels: ui

almost working experiment
  internal/server/http.go
  internal/server/httpapi/exec.go
  ui/app/components/exec/index.ts
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: core, ui

Separate things, set PTY and make it mostly work
  internal/server/httpapi/exec.go
  ui/app/components/exec/index.hbs
  ui/app/components/exec/index.ts
Labels: core, ui

Very WIP
  internal/server/http.go
  ui/app/components/exec/index.ts
Labels: core, ui

cleanup
  ui/app/components/exec/index.ts
Labels: ui

New e2e tests with fancier utils
  test-e2e/cli_smoke.test.go
  test-e2e/docker_smoke_test.go
  test-e2e/e2e_test.go
  test-e2e/k8s_smoke_test.go
  test-e2e/nomad_smoke_test.go
  test-e2e/util.go
Labels: none

uncomment important bit
  test-e2e/cli_smoke.test.go
Labels: none

Fully fleshed out cli e2e tests
  test-e2e/docker_smoke_test.go
  test-e2e/e2e_test.go
  test-e2e/k8s_smoke_test.go
  test-e2e/nomad_smoke_test.go
  test-e2e/util.go
Labels: none

ui: add `mirage/types`, declare `RouteHandler` properly
  ui/mirage/services/build.ts
  ui/mirage/services/config.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/invite-token.ts
  ui/mirage/services/job.ts
  ui/mirage/services/log.ts
  ui/mirage/services/oidc-auth-methods.ts
  ui/mirage/services/project.ts
  ui/mirage/services/pushed-artifact.ts
  ui/mirage/services/release.ts
  ui/mirage/services/status-report.ts
  ui/mirage/services/token.ts
  ui/mirage/services/version-info.ts
  ui/mirage/types/index.d.ts
  ui/mirage/types/route-handler.d.ts
  ui/types/global.d.ts
Labels: ui

ui: make `<JsonViewer>` test more robust
  ui/app/components/json-viewer.hbs
  ui/tests/integration/components/json-viewer-test.ts
Labels: ui

backport of commit 11c25c715065c5e8e00785925ab36c67690da250
  ui/app/components/json-viewer.hbs
  ui/tests/integration/components/json-viewer-test.ts
Labels: ui

ui: make `<RenderTerminal>` test more robust
  ui/tests/integration/components/render-terminal-test.ts
Labels: ui

backport of commit 2e7ce6f0661344c2a9d4ed91dc0e9cf7d0994ea8
  ui/tests/integration/components/render-terminal-test.ts
Labels: ui

ui/mirage: fix lint issue in project factory
  ui/mirage/factories/project.ts
Labels: ui

ui/mirage: fix lint issue in oidc-auth-methods service
  ui/mirage/services/oidc-auth-methods.ts
Labels: ui

ui/mirage: fix lint issue in workspace service
  ui/mirage/services/workspace.ts
Labels: ui

backport of commit d539dad5b4b69c9761b92915455d3bddfd031a8c
  ui/mirage/services/build.ts
  ui/mirage/services/config.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/invite-token.ts
  ui/mirage/services/job.ts
  ui/mirage/services/log.ts
  ui/mirage/services/project.ts
  ui/mirage/services/pushed-artifact.ts
  ui/mirage/services/release.ts
  ui/mirage/services/status-report.ts
  ui/mirage/services/token.ts
  ui/mirage/services/version-info.ts
  ui/mirage/types/index.d.ts
  ui/mirage/types/route-handler.d.ts
  ui/types/global.d.ts
Labels: ui

ui/mirage: add types/schema
  ui/mirage/factories/application.ts
  ui/mirage/factories/auth-method.ts
  ui/mirage/factories/build.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/config-variable.ts
  ui/mirage/factories/deployment.ts
  ui/mirage/factories/generation.ts
  ui/mirage/factories/health.ts
  ui/mirage/factories/job-data-source.ts
  ui/mirage/factories/job-git-basic.ts
  ui/mirage/factories/job-git-ssh.ts
  ui/mirage/factories/job-git.ts
  ui/mirage/factories/project-poll.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/pushed-artifact.ts
  ui/mirage/factories/release.ts
  ui/mirage/factories/resource.ts
  ui/mirage/factories/status-report.ts
  ui/mirage/factories/status.ts
  ui/mirage/factories/variable.ts
  ui/mirage/factories/workspace.ts
  ui/mirage/models/application.ts
  ui/mirage/models/build.ts
  ui/mirage/models/component.ts
  ui/mirage/models/config-variable.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/job-data-source.ts
  ui/mirage/models/job-git-basic.ts
  ui/mirage/models/job-git-ssh.ts
  ui/mirage/models/job-git.ts
  ui/mirage/models/project-poll.ts
  ui/mirage/models/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status.ts
  ui/mirage/models/variable.ts
  ui/mirage/models/workspace.ts
  ui/mirage/types/index.d.ts
  ui/mirage/types/schema.d.ts
Labels: ui

ui/mirage: custom eslint rules
  ui/.eslintrc.js
Labels: ui

ui/mirage: enable tsc
  ui/tsconfig.json
Labels: ui

ui/mirage: use Schema in build service
  ui/mirage/services/build.ts
Labels: ui

reworked check for deployUrl
  internal/cli/deployment_create.go
Labels: core

backport of commit c14007fb9141939560ed2c687e004f13318d7420
  ui/app/templates/workspace/projects/new.hbs
Labels: ui

Resolved issue where checkbox had two labels.
  ui/app/templates/workspace/projects/new.hbs
Labels: ui
