Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/core: empty context wasn't used
  internal/core/component_creator.go
Labels: core

internal/core: load components with no config outside of ops
  internal/config/app.go
  internal/core/app.go
  internal/core/component_creator.go
Labels: core

internal/config/funcs: templatedir
  internal/config/funcs/template.go
Labels: core

internal/config: add template funcs to context
  internal/config/app.go
  internal/config/config.go
  internal/config/eval_context.go
Labels: core

internal/config/funcs: templatefile
  internal/config/funcs/template.go
  internal/config/funcs/template_test.go
Labels: core

internal/config/funcs: templatestring
  internal/config/funcs/template.go
  internal/config/funcs/template_test.go
Labels: core

internal/config/funcs: file functions require absolute path
  internal/config/funcs/filesystem.go
  internal/config/funcs/filesystem_test.go
Labels: core

internal/core: deploy and release have access to templates
  internal/core/app_deploy.go
  internal/core/app_release.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/core: destroys load their details
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
  internal/core/operation.go
Labels: core

internal/core: load default releaser with new deferred config
  internal/core/app.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
Labels: core

backport of commit b921348dc7ef643b2e32ea66f8e72176c387a4c2
  website/content/docs/lifecycle/deploy.mdx
Labels: website

authentication typo
  website/content/docs/lifecycle/deploy.mdx
Labels: website

backport of commit ca3cc5a5e1631002abcf8a4312098bfbda571bbf
  website/content/docs/url.mdx
Labels: website

Lowercase c :scream:
  website/content/docs/url.mdx
Labels: website

Found a couple more with a search
  website/content/docs/automating-execution/gitlab-cicd.mdx
Labels: website

backport of commit 349209538658af5c2e6ed4ccbc0b1b5b8068ab5f
  website/content/docs/automating-execution/gitlab-cicd.mdx
Labels: website

internal/config: Operation.Configure for retaining context for plugin config
  internal/config/app.go
  internal/config/app_test.go
  internal/config/eval_context.go
  internal/config/operation.go
  internal/config/stages.go
  internal/config/testdata/compare/build_use.hcl
Labels: core

internal/core: use config.Operation.Configure for proper hcl context
  internal/core/component_creator.go
Labels: core

internal/config/funcs: remove TF-specific error message
  internal/config/funcs/filesystem.go
  internal/config/funcs/template_test.go
Labels: core

go.mod
  go.mod
  go.sum
Labels: none

builtin/docker: copy Dockerfile is outside build context
  builtin/docker/builder.go
  builtin/docker/copy.go
Labels: plugin, plugin/docker

go.mod
  go.mod
  go.sum
Labels: none

Utilise waypoint orb when using CircleCI.
  website/content/docs/automating-execution/circle-ci.mdx
Labels: website

Add workspace argument example
  website/content/docs/automating-execution/circle-ci.mdx
Labels: website

Remove waypoint version env variable
  website/content/docs/automating-execution/circle-ci.mdx
Labels: website

Tweak intro, add registry link
  website/content/docs/automating-execution/circle-ci.mdx
Labels: website

Bump hsm version (#753)
  website/package-lock.json
  website/package.json
Labels: website

Update builtin/docker/copy.go
  builtin/docker/copy.go
Labels: plugin, plugin/docker

backport of commit d2db6bea5402115db1633c6e51abd724b9ed1e1d
  internal/cli/base.go
Labels: core

enable parallelization of finalErr
  internal/cli/base.go
Labels: core

update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Revert "update CHANGELOG.md"
  CHANGELOG.md
Labels: none

bump ProductDownloader (#754)
  website/package-lock.json
  website/package.json
Labels: website

ui: update static-assets
  internal/server/gen/bindata_ui.go
Labels: core

Release v0.1.5
  CHANGELOG.md
  internal/version/version.go
Labels: core

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update version.js
  website/data/version.js
Labels: website

backport of commit 8e6ba21205df1d95cb972a48673cb95c265b734e
  website/data/version.js
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
