Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/datasource: ToSlash the change path
  internal/datasource/git.go
Labels: core

changelog
  .changelog/1821.txt
Labels: none

proto: add new config
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/datasource: add to hcl config
  internal/datasource/git.go
Labels: core

internal/datasource/git: add IgnoreChangesOutsidePath
  internal/datasource/git.go
  internal/datasource/git_test.go
Labels: core

Update .changelog/1821.txt
  .changelog/1821.txt
Labels: none

backport of commit 432eeebdc743de79b5ebde9f7fdd9ad1d0848cc8
  ui/app/templates/workspace/projects/project/app/exec.hbs
Labels: ui

backport of commit 5654ec96dac8162c16e45364ef12165b7d4c70f2
  ui/app/components/page.hbs
  ui/app/templates/application.hbs
Labels: ui

backport of commit 997cdc33ca3fc36e147b58b919f7d87d71ba3ca9
  ui/.template-lintrc.js
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: de-lint `services/session.ts`
  ui/app/services/session.ts
Labels: ui

backport of commit 1bc588b60e569f124a40070b67b82df3090652b2
  ui/app/services/session.ts
Labels: ui

backport of commit a912a57f364d5f7c7b32b9f3901654b2655a6a6d
  ui/app/services/poll-model.ts
Labels: ui

ui: de-lint `services/poll-model.ts`
  ui/app/services/poll-model.ts
Labels: ui

ui: de-lint `services/api.ts`
  ui/app/services/api.ts
Labels: ui

backport of commit 57e0464f0e9142884521e02abd3c7578968f8ba5
  ui/app/services/api.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 04730b7a
  internal/server/gen/bindata_ui.go
Labels: core

Docker and k8s plugins filling DeclaredResourcesResp with ResourceManager
  builtin/docker/platform.go
  builtin/k8s/platform.go
  internal/core/app_deploy.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, plugin, plugin/docker, plugin/k8s

upgrade plugin sdk
  go.mod
  go.sum
Labels: none

Fixing a test
  internal/core/app_deploy_test.go
Labels: core

Revert order of pb messages.
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

Upgrading waypoint-plugin-sdk
  go.mod
  go.sum
Labels: none

make gen/plugins with plugin-sdk proto version
  builtin/aws/ami/plugin.pb.go
  builtin/aws/ec2/plugin.pb.go
  builtin/aws/ecr/plugin.pb.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/lambda/plugin.pb.go
  builtin/azure/aci/plugin.pb.go
  builtin/docker/plugin.pb.go
  builtin/exec/plugin.pb.go
  builtin/files/plugin.pb.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/k8s/apply/plugin.pb.go
  builtin/nomad/plugin.pb.go
  builtin/pack/plugin.pb.go
Labels: plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack

internal/server/state: CreateJob can create multiple in a single txn
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

internal/server/singleprocess: queueJobMulti to transactionally queue multiple jobs
  internal/server/singleprocess/service_job.go
Labels: core

Initial
  .github/images/birds-eye.png
  ARCHITECTURE.md
Labels: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: none

Add application level Peek and Complete funcs for polling
  internal/server/singleprocess/state/application.go
Labels: core

state/application: Add Peek and Complete wrapper funcs for polling
  internal/server/singleprocess/state/application.go
Labels: core

Add application poll index to project state
  internal/server/singleprocess/poll_application.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/state/application.go
  internal/server/singleprocess/state/project.go
Labels: core

Add note about simplifying projectIndexRecord on Poll
  internal/server/singleprocess/state/project.go
Labels: core

Add poll to application proto
  internal/server/proto/server.proto
Labels: core

Fix linter
  internal/server/singleprocess/state/application.go
Labels: core

Add poll application func
  internal/server/singleprocess/poll_application.go
Labels: core

proto gen
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
Labels: core

Add more logging in peek func
  internal/server/singleprocess/poll_application.go
  internal/server/singleprocess/state/project.go
Labels: core

Enable status report polling after a status report is first generated
  internal/runner/operation_status_report.go
  internal/server/proto/server.proto
  internal/server/singleprocess/poll_test.go
  internal/server/singleprocess/service_project.go
Labels: core

Write out appl poll record
  internal/server/singleprocess/state/project.go
Labels: core

Turn on application poll handler
  internal/server/singleprocess/service.go
Labels: core

Add more comments for appl polling when inserting project record
  internal/server/singleprocess/state/project.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
