Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit 556290a21de9f0ec64dc4a617c741306206dca4b
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

Update website/content/docs/waypoint-hcl/app.mdx
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

backport of commit 01763610843d39f6414ec198ce378563beefc672
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

backport of commit 01763610843d39f6414ec198ce378563beefc672
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

.circleci: add windows build verification
  .circleci/config.yml
Labels: none

internal/ceb: get rid of Windows-specific files
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
  internal/ceb/exec.go
  internal/ceb/windows.go
Labels: core

internal/serverinstall: fix dropped nomad error
  internal/serverinstall/nomad.go
Labels: core

backport of commit 9584cec813fc9e6c0589d9e1bc45a0daf6b47271
  internal/serverinstall/nomad.go
Labels: core

internal/serverinstall: fix dropped kubernetes errors
  internal/serverinstall/k8s.go
Labels: core

Print human readable error message on server uninstall err
  internal/serverinstall/nomad.go
Labels: core

internal/serverinstall: fix dropped nomad error
  internal/serverinstall/nomad.go
Labels: core

internal/serverinstall: fix dropped kubernetes errors
  internal/serverinstall/k8s.go
Labels: core

Print human readable error message on server uninstall err
  internal/serverinstall/nomad.go
Labels: core

Set label name to app over name
  builtin/k8s/deployment.go
Labels: plugin, plugin/k8s

backport of commit b10d105709fdac6e1212d42a89f9a5051de19378
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 6aacbfa23dd0a8c12c2738578d1edd08a403e488
  builtin/k8s/deployment.go
Labels: plugin, plugin/k8s

backport of commit f049fb12534272bc27c01abbcc5e70910cf59221
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Include user defined labels for deployment pod
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Add labels docs for k8s platform
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 64b75b0fce5e7d1acc41da266ed3b13de7a121cc
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Include version label in pod deploy labels
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit fb82ed287ae56afb825b376caccccebec2461895
  builtin/k8s/deployment.go
Labels: plugin, plugin/k8s

Add back name for local release URL
  builtin/k8s/deployment.go
Labels: plugin, plugin/k8s

Add note about app and name labels for k8s deployment
  builtin/k8s/deployment.go
Labels: plugin, plugin/k8s

backport of commit 2c47693f34f4520ae54c90d4df50e299c3b201c9
  builtin/k8s/deployment.go
Labels: plugin, plugin/k8s

backport of commit a5c641b45474e4020fc162287902901e68373d9d
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
Labels: website

typo
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
Labels: website

backport of commit a5c641b45474e4020fc162287902901e68373d9d
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
Labels: website

backport of commit b83370b82b2c3758c60655446712a205832092c5
  website/content/commands/runner-agent.mdx
Labels: website

backport of commit b83370b82b2c3758c60655446712a205832092c5
  website/content/commands/runner-agent.mdx
Labels: website

revert generated docs edit
  website/content/commands/runner-agent.mdx
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

builtin/pack: support specifying buildpacks
  builtin/pack/builder.go
Labels: plugin, plugin/pack

builtin/k8s/release: Allow target_port to be int or string
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

backport of commit 63c4ce1f1531b9de94322673e3ce438ded0f7b87
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Use single-hyphen `-platform` in getting-started
  website/content/docs/getting-started.mdx
Labels: website

backport of commit 5ecbd78d9ee21db5248cb4893f2a7b2dc2aca9e0
  website/content/docs/getting-started.mdx
Labels: website

auto-updated internal/server/gen/bindata_ui.go from commit 6a214899
  internal/server/gen/bindata_ui.go
Labels: core

Update readme with dependency instructions for the gen/ts command
  ui/README.md
Labels: ui

internal/server: fix flaky polling test
  internal/server/singleprocess/poll_test.go
Labels: core
