Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit e1945f9d5cf2cc9e8d1d5af58fbf50ce1ce94343
  website/data/alert-banner.js
Labels: website

Update HashiConf alert-banner expiration
  website/data/alert-banner.js
Labels: website

ui/mirage: add remaining `artifact` plumbing
  ui/mirage/models/artifact.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/pushed-artifact.ts
  ui/mirage/models/release.ts
Labels: ui

backport of commit 3170dc0fe354b59adb6638e0e2c7e1d1c81ed637
  ui/mirage/models/artifact.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/pushed-artifact.ts
  ui/mirage/models/release.ts
Labels: ui

backport of commit 640c69aa630c719b6bc401aa95ed50d138dfc450
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
Labels: website

backport of commit 640c69aa630c719b6bc401aa95ed50d138dfc450
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
Labels: website

Update build Makefile example with install, fix outputname
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
Labels: website

backport of commit 9ac3cb840602f46133fcc86ab334efddb24d0ee7
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
Labels: website

backport of commit 9ac3cb840602f46133fcc86ab334efddb24d0ee7
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
Labels: website

Delete invalid datadir docs
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
Labels: website

backport of commit 8978c63591a664ea26afd0967386f423736f53de
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx.bak
  website/data/docs-nav-data.json
Labels: website

backport of commit 8978c63591a664ea26afd0967386f423736f53de
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx.bak
  website/data/docs-nav-data.json
Labels: website

Add StatusFunc docs to plugin author interface
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx.bak
  website/data/docs-nav-data.json
Labels: website

backport of commit a1d28a5d3474c32963ac7c8075ecdbaa75c8fc6a
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx.bak
Labels: website

backport of commit a1d28a5d3474c32963ac7c8075ecdbaa75c8fc6a
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx.bak
Labels: website

Delete accidental backup file add
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx.bak
Labels: website

backport of commit b469b694f2d45884c831ed2ef561c9fe493b7fd1
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website

backport of commit b469b694f2d45884c831ed2ef561c9fe493b7fd1
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website

Fix typo
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website

backport of commit c8bffdd71004c673a07a9b98c6891ba2d5067c00
  internal/serverinstall/ecs.go
Labels: core

Give ecs ODR role permission to describe ecs tasks
  internal/serverinstall/ecs.go
Labels: core

backport of commit f52e8e635625dccf9381594a5e01f706d8f2c045
  .changelog/2543.txt
Labels: none

Changelog
  .changelog/2543.txt
Labels: none

changelog for 0.6.1
  CHANGELOG.md
Labels: none

Release v0.6.1
  internal/version/version.go
  website/data/version.js
Labels: core, website

backport of commit cbd612c8703a248e7182bbe918e5be0e68216ddc
  .circleci/config.yml
Labels: none

backport of commit cbd612c8703a248e7182bbe918e5be0e68216ddc
  .circleci/config.yml
Labels: none

install the latest npm during algolia index
  .circleci/config.yml
Labels: none

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

update CHANGELOG for release 0.6.1
  CHANGELOG.md
Labels: none

internal/runner: unit test for accept timeout
  internal/runner/accept.go
  internal/runner/accept_test.go
Labels: core

backport of commit 64728eae14bef6bf29f433e6da581a2ddb38294b
  website/content/docs/runner/profiles.mdx
Labels: website

Fix broken docs link
  website/content/docs/runner/profiles.mdx
Labels: website

backport of commit 64728eae14bef6bf29f433e6da581a2ddb38294b
  website/content/docs/runner/profiles.mdx
Labels: website

Fix formatting directive in cli output
  internal/cli/project_inspect.go
  internal/runner/runner.go
Labels: core

backport of commit 1677557435378d68ef135e620962bd0856c43907
  internal/cli/project_inspect.go
  internal/runner/runner.go
Labels: core

fixed it
  internal/cli/deployment_list.go
  internal/cli/status.go
Labels: core

backport of commit 36ccce5ae6e7e3a256b9c2d7680e479a0de3ab47
  internal/cli/deployment_list.go
  internal/cli/status.go
Labels: core

refactoring
  internal/cli/status.go
Labels: core

backport of commit 7642b4ecceb3fd73be29d1857363ca121f63ebbe
  internal/cli/status.go
Labels: core
