Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update .changelog/2645.txt
  .changelog/2645.txt
Labels: none

Updated file name and docs for CHANGELOG_GUIDE
  .changelog/2645.txt
  .changelog/2755.txt
  .github/CHANGELOG_GUIDE.md
Labels: none

internal/{cli,server}: Introduce trigger token type
  internal/cli/user_token.go
  internal/server/proto/server.proto
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

proto gen
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
Labels: core

Website autogen
  website/content/commands/user-token.mdx
Labels: website

Add a note about generating trigger tokens
  internal/server/singleprocess/auth.go
Labels: core

Simplify trigger token auth test
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

Include which user created trigger URL token
  internal/server/proto/server.proto
  internal/server/singleprocess/auth.go
Labels: core

proto gen
  internal/server/gen/server.pb.go
Labels: core

Remove Login message from Trigger token kind
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

Update .changelog/2755.txt
  .changelog/2755.txt
Labels: none

fix: revise Docker workflow based on sync
  website/Dockerfile
  website/Makefile
  website/scripts/website-preview-setup.sh
Labels: website

Fixing typo in tests
  internal/pkg/gitdirty/gitdirty_test.go
Labels: core

Apply suggestions from code review
  ui/app/components/app-item/deployment.hbs
  ui/app/components/resources-table.hbs
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/app/styles/_layout.scss
  ui/app/styles/_variables.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/empty-state.scss
  ui/app/styles/components/navigation/panel-header.scss
  ui/app/styles/components/operation-status-indicator.scss
  ui/app/styles/components/resources-table.scss
  ui/app/styles/components/terminal.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployment/deployment-seq.hbs
  ui/tests/acceptance/deployments-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

Set the assigned runner ID on the job
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/state/job.go
Labels: core

Tests for job runner assignment
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/state/job_test.go
Labels: core

backport of commit f93ff336b41b91ee7ba315ee08a06b878d65ffdd
  website/package-lock.json
  website/package.json
Labels: website

backport of commit f93ff336b41b91ee7ba315ee08a06b878d65ffdd
  website/package-lock.json
  website/package.json
Labels: website

website: bump deps to fix print styles
  website/package-lock.json
  website/package.json
Labels: website

backport of commit 30bc6720e8e5aa5e5cd4e212a72302396fbda206
  website/pages/print.css
Labels: website

website: fix up print styles
  website/pages/print.css
Labels: website

backport of commit 963653458b754f8ed271d867efe53322a8715958
  website/pages/print.css
Labels: website

fix: hashi-stack-menu print selector
  website/pages/print.css
Labels: website

backport of commit 963653458b754f8ed271d867efe53322a8715958
  website/pages/print.css
Labels: website

backport of commit 30bc6720e8e5aa5e5cd4e212a72302396fbda206
  website/pages/print.css
Labels: website

chore: reformat package-lock to avoid check issue
  website/package-lock.json
Labels: website

backport of commit 0493e44445be9b538943d097be782fedd059ec41
  website/package-lock.json
Labels: website

backport of commit 0493e44445be9b538943d097be782fedd059ec41
  website/package-lock.json
Labels: website

ui: fix build logs heading
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/translations/en-us.yaml
Labels: ui

fix: bump to remove need for content sync
  website/content/docs/index.mdx
  website/scripts/website-preview-build.sh
  website/scripts/website-preview-setup.sh
  website/scripts/website-preview-start.sh
Labels: website

fix: target branch for deploy previews
  website/scripts/website-preview-build.sh
Labels: website

fix: remove copy build output step
  website/scripts/website-preview-build.sh
Labels: website

fix: add back copy command, easier to manage in code, not Vercel
  website/scripts/website-preview-build.sh
Labels: website

fix: rename build command to avoid custom Vercel config
  website/package.json
Labels: website

ui: extract `<Table>`
  ui/app/components/resources-table.hbs
  ui/app/components/table.hbs
  ui/app/styles/components/_index.scss
  ui/app/styles/components/table.scss
Labels: ui

docs(telemetry): fix typo in telemetry readme file
  telemetry/README.md
Labels: none

backport of commit 465416dcc268ebfe134f9e016e0db225fac75ed6
  website/package-lock.json
  website/package.json
Labels: website

Update @hashicorp/react-hashi-stack-menu
  website/package-lock.json
  website/package.json
Labels: website

backport of commit 465416dcc268ebfe134f9e016e0db225fac75ed6
  website/package-lock.json
  website/package.json
Labels: website

WIP
  ui/app/components/exec/index.ts
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
