Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

aws/ssm: docs
  builtin/aws/ssm/config_sourcer.go
  builtin/aws/ssm/ssm.go
  internal/plugin/plugin.go
Labels: core, plugin, plugin/aws

website: add AWS SSM
  website/content/partials/components/builder-aws-ssm.mdx
  website/content/partials/components/configsourcer-aws-ssm.mdx
  website/content/partials/components/platform-aws-ssm.mdx
  website/content/partials/components/registry-aws-ssm.mdx
  website/content/partials/components/releasemanager-aws-ssm.mdx
  website/content/plugins/aws-ssm.mdx
  website/data/plugins-navigation.js
Labels: website

don't need to export installer config values
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

internal/ceb: override default hclog logger
  internal/ceb/ceb.go
Labels: core

internal/server: Block on instance deployment becoming available
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/service_instance_test.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Reorder packages
  internal/server/singleprocess/service_instance.go
Labels: core

Update to use `WaitTimeout` instead of `ConnectTimeout`
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

Simplify initializing WaitTimeout
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/service_instance_test.go
Labels: core

Wrap Go error in status
  internal/server/singleprocess/service_instance.go
Labels: core

enable hcl for future; revert nomad-dc flag
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

update docs and reorder flags alphabetically
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

clarify effects of enabling openshift
  internal/serverinstall/k8s.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

i can hcl
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

Add test to wait for listing instances with timeout
  internal/server/singleprocess/service_instance_test.go
Labels: core

make bin doesn't need to build the entrypoint
  Makefile
Labels: none

don't need to export config; simplify var init
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

docs
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

go fmt
  internal/serverinstall/k8s.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

internal/cli: output token directly to stdout
  internal/cli/token.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

rename my personal docker image
  Makefile
Labels: none

internal/ceb: logger should connect when config is ready, not child
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
  internal/ceb/config.go
  internal/ceb/log.go
Labels: core

go.mod
  go.mod
  go.sum
Labels: none

builtin/vault: source configs, auth method loading
  builtin/vault/auth.go
  builtin/vault/auth_test.go
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: source config docs
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: extract auth package from Vault
  builtin/vault/auth.go
  builtin/vault/internal/auth/auth.go
  builtin/vault/internal/auth/aws/aws.go
  builtin/vault/internal/auth/gcp/gcp.go
  builtin/vault/internal/auth/kubernetes/kubernetes.go
  builtin/vault/internal/auth/kubernetes/kubernetes_test.go
Labels: plugin

builtin/vault: add GCP auth method
  builtin/vault/auth.go
  builtin/vault/config_sourcer.go
Labels: plugin

go.mod
  go.mod
  go.sum
Labels: none

builtin/vault: comments
  builtin/vault/auth.go
Labels: plugin

Revert "go.mod"
  go.mod
  go.sum
Labels: none

builtin/vault: fix unused import
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: clarify docs for KV usage
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: source settings for connectivity
  builtin/vault/client.go
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: fix deadlock
  builtin/vault/auth.go
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: extra validation that mount path is set with auth method
  builtin/vault/auth.go
  builtin/vault/config_sourcer.go
Labels: plugin

builtin/vault: timeout the auth method init
  builtin/vault/auth.go
  builtin/vault/config_sourcer.go
Labels: plugin

website: regen
  website/content/partials/components/configsourcer-vault.mdx
Labels: website

query application version info
  ui/app/routes/application.ts
Labels: ui
