Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Add changelog
  .changelog/2081.txt
Labels: none

ociregistry: switch to use the auth aware transport
  builtin/docker/kaniko.go
  builtin/pack/builder.go
  go.mod
  internal/ociregistry/server_test.go
  internal/pkg/epinject/ociregistry/server.go
  internal/pkg/epinject/ociregistry/server_test.go
Labels: core, plugin, plugin/docker, plugin/pack

contrib/severinstall/kind-k8s: Include optional support for k8s ingress
  contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/configs/cluster-ingress-config.yaml
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: none

add alb subnets
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: plugin, plugin/aws, website

gen/website-mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

ui: de-lint `routes/.../settings/variables.ts`
  ui/app/routes/workspace/projects/project/settings/variables.ts
Labels: ui

backport of commit 0af1bad7c3fc66d5a155913294806d5c09761884
  ui/app/routes/workspace/projects/project/settings/variables.ts
Labels: ui

backport of commit 950fd186806f1cb55d6c3d56d2318302c2977ae6
  ui/app/routes/workspace/projects/project/settings/repository.ts
Labels: ui

ui: de-lint `routes/.../settings/repository.ts`
  ui/app/routes/workspace/projects/project/settings/repository.ts
Labels: ui

ui: de-lint `routes/.../settings.ts`
  ui/app/routes/workspace/projects/project/settings.ts
Labels: ui

backport of commit 7df690b9125c182ae431835c206973f860395f4a
  ui/app/routes/workspace/projects/project/settings.ts
Labels: ui

ui: upgrade testem to 3.4.3
  ui/yarn.lock
Labels: ui

backport of commit 3a4f6ca471c55eac99cd0b9c7f87ce35c293e7f8
  ui/yarn.lock
Labels: ui

Install xterm.js
  ui/package.json
  ui/yarn.lock
Labels: ui

WIP: Add log-terminal component and first pass at making it work
  ui/app/components/log-terminal/index.hbs
  ui/app/components/log-terminal/index.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui

Style terminal theme and update terminal width on resize
  ui/app/components/log-terminal/index.hbs
  ui/app/components/log-terminal/index.ts
  ui/app/styles/app.scss
  ui/app/styles/components/terminal.scss
  ui/package.json
  ui/yarn.lock
Labels: ui

Update contrib/serverinstall/kind-k8s/setup-k8s.sh
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: none

Update contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/README.md
Labels: none

Update contrib/serverinstall/kind-k8s/setup-k8s.sh
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: none

Apply suggestions from code review
  internal/cli/status.go
Labels: core

backport of commit 2eab83cf337b84b9800295f183c1bd39b5938a58
  internal/cli/status.go
Labels: core

gen website
  website/content/commands/status.mdx
Labels: website

backport of commit 0ff1f4089842ddc2ec8e29900d081537d7c96dcd
  website/content/commands/status.mdx
Labels: website

Don't include the tag in the repo name
  builtin/docker/kaniko.go
  builtin/pack/builder.go
Labels: plugin, plugin/docker, plugin/pack

builtin/docker: help kaniko detect that docker is in use
  builtin/docker/task.go
Labels: plugin, plugin/docker

website: Reference command files correctly
  website/content/commands/ondemand-runner-apply.mdx
  website/content/commands/ondemand-runner-list.mdx
  website/data/commands-nav-data.json
Labels: website

waypoint release list
  .changelog/2082.txt
  internal/cli/main.go
  internal/cli/release_create.go
  internal/cli/release_list.go
  internal/server/sort/release.go
Labels: core

backport of commit 47c07d8bae06cc3f3a67e762e949b23da0794e49
  .changelog/2082.txt
  internal/cli/main.go
  internal/cli/release_create.go
  internal/cli/release_list.go
  internal/server/sort/release.go
Labels: core

backport of commit d56160c0685ac0d4ef39be05eafd46a9891aa67d
  website/content/docs/projects/git.mdx
  website/content/docs/waypoint-hcl/runner.mdx
Labels: website

small doc update to fix data source paths
  website/content/docs/projects/git.mdx
  website/content/docs/waypoint-hcl/runner.mdx
Labels: website

plugin/nomad: only use non-empty job.StatusDescription for HealthMessage
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

backport of commit 6dbb7c01a7a361a372d249b78106720a25c09d39
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

backport of commit 5e4a236266252f1c1ed0d48d564af7c05b6af289
  .changelog/2093.txt
Labels: none

plugin/nomad: add changelog/2093
  .changelog/2093.txt
Labels: none

Remove clijob/stream
  internal/clijob/stream.go
Labels: core

backport of commit 612ea26af36af3eb14dd15560eaab1625c1d7abc
  internal/clijob/stream.go
Labels: core

Fix link to Input variables tutorial
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit 14f9bd0c1d21e7b779cf3b661e6a265a8f7bc110
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit 14f9bd0c1d21e7b779cf3b661e6a265a8f7bc110
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website

backport of commit d5da6e22e4dd678730e93d7dc5ffa88b48eefe49
  ui/app/routes/workspace/projects/project/index.ts
Labels: ui
