Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit bf2265b96360338f1a017e2ba94c57237cffc1da
  pkg/server/singleprocess/service_pipeline.go
Labels: none

Initial set of externalized errors for artifact service
  pkg/server/singleprocess/service_artifact.go
Labels: none

server: Add explicit RunPipeline test to verify job id order
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

backport of commit 8d626415478ba4d04095d016f10d53424ee75f21
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

backport of commit d23442d7fbd5643e4d4d37051a9c825cef9b94e9
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

server: Add unit test that explicitly tests job id order
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

backport of commit 82836b09f94c3893e9ea342d51d3b820a1b6d573
  internal/cli/runner_install.go
Labels: core

Output warning message if runner install fails with a command to uninstall the runner.
  internal/cli/runner_install.go
Labels: core

Update runner uninstall to not fail if the runner isn't registered to the server.
  internal/cli/runner_uninstall.go
Labels: core

backport of commit 40e4733090227a990f5c871b61857a18b820a3f3
  internal/cli/runner_uninstall.go
Labels: core

backport of commit c58576915b34014a707fce7ec4f0e7ae256b3970
  internal/installutil/aws/ecs.go
  internal/runnerinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

Update ECS runner uninstall.
  internal/installutil/aws/ecs.go
  internal/runnerinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

backport of commit 87985a319b039f556614dd61c65995d879b44cca
  internal/installutil/aws/ecs.go
  internal/runnerinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

Specify different tags for EFS for runner install.
  internal/installutil/aws/ecs.go
  internal/runnerinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

Make UserFromContext public.
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/auth_test.go
  pkg/server/singleprocess/service_user.go
Labels: none

backport of commit 4951ebb30a5b2cb8d9a5c43bfd94408b8a089058
  internal/runnerinstall/ecs.go
Labels: core

Update EFS deletion during ECS runner uninstall to allow AWS 5 minutes to delete the file system's mount targets.
  internal/runnerinstall/ecs.go
Labels: core

Use terminal UI output for runner uninstall failure message.
  internal/cli/runner_uninstall.go
Labels: core

backport of commit 8b817c66ea58c13623d312437cb39a4cb4d34478
  internal/cli/runner_uninstall.go
Labels: core

Fix ECS runner uninstall error message format.
  internal/runnerinstall/ecs.go
Labels: core

backport of commit 737ed5a8d6b9cf3704bcd2b6d9e03fb1abb0f8e2
  internal/runnerinstall/ecs.go
Labels: core

backport of commit 7b8fe4dff15ed6a6b37acb845d18f91fbbbc9fab
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

server: Ensure graph edge flow is ordered properly
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

restore original validation errors
  pkg/server/singleprocess/service_artifact.go
Labels: none

backport of commit fb0bfe364199bc062725fb144aa43d7ccc5ae9e3
  .changelog/3944.txt
Labels: none

Changelog.
  .changelog/3944.txt
Labels: none

update error message
  pkg/server/singleprocess/service_artifact.go
Labels: none

backport of commit d6a9e7158d30782f1db00c2ffb258b317b933a57
  website/content/docs/server/install.mdx
Labels: website

Update k8s server install troubleshooting.
  website/content/docs/resources/troubleshooting.mdx
Labels: website

backport of commit d6a9e7158d30782f1db00c2ffb258b317b933a57
  website/content/docs/server/install.mdx
Labels: website

Server install doc tweaks.
  website/content/docs/server/install.mdx
Labels: website

Doc tweaks from review.
  website/content/docs/server/install.mdx
Labels: website

Helm server install verbiage updates.
  website/content/docs/server/install.mdx
Labels: website

backport of commit a3a14242986bd25a940c5602d5d0dad0dea9ffff
  .changelog/3946.txt
Labels: none

Add changelog
  .changelog/3946.txt
Labels: none

backport of commit ee444a03b381c0ea330de0273090f7a3a3f765fa
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
  website/content/commands/runner-install.mdx
Labels: core, website

Set the imagePullPolicy value for the waypoint-helm chart for k8s server and runner installations.
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
  website/content/commands/runner-install.mdx
Labels: core, website

Changelog.
  .changelog/3948.txt
Labels: none

backport of commit 11d623ecd8b543f357f19f5c2948086d496df776
  .changelog/3948.txt
Labels: none

core/cli: Add string ptr to flag types
  internal/pkg/flag/flag_string_ptr.go
  internal/pkg/flag/flag_string_ptr_test.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
