Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Second approach - require a flag that modifies the user.
  internal/cli/user_modify.go
Labels: core

Remove whitespace
  internal/cli/user_modify.go
Labels: core

docker: Support multi-target builds under kaniko/ODR
  builtin/docker/kaniko.go
Labels: plugin, plugin/docker

ui: push job errors to log output (#2442)
  ui/app/components/operation-logs/index.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 7e2c2327
  internal/server/gen/bindata_ui.go
Labels: core

Update internal/cli/user_modify.go
  internal/cli/user_modify.go
Labels: core

Changelog
  .changelog/2444.txt
Labels: none

wip! docs: add config diagram
  docs/config.dot
Labels: none

ui: add extra options to api.listPushedArtifacts
  ui/app/services/api.ts
Labels: ui

Correctly parse ODR images when using a registry with a port
  go.mod
  internal/serverinstall/serverinstall.go
  internal/serverinstall/serverinstall_test.go
Labels: core

Fix default odr image
  internal/cli/runner_profile_set.go
Labels: core

Add Edge to supported browsers
  ui/config/targets.js
Labels: ui

Check if waypoint-entrypoint is already in the Docker entrypoint
  builtin/docker/builder.go
  internal/pkg/epinject/epinject.go
  internal/pkg/epinject/img.go
  internal/pkg/epinject/ociregistry/server.go
Labels: core, plugin, plugin/docker

changelog
  .changelog/2447.txt
Labels: none

Refactor to check first length and first entry
  internal/pkg/epinject/epinject.go
  internal/pkg/epinject/ociregistry/server.go
Labels: core

small refactor of containsEntrypoint
  internal/pkg/epinject/epinject.go
Labels: core

Remove TODO
  internal/cli/server_run.go
Labels: core

Exporting grpc server telemetry via ocgrpc
  go.mod
  go.sum
  internal/cli/server_run.go
  internal/server/grpc.go
  internal/server/server.go
  internal/telemetry/telemetry.go
Labels: core

Including telemetry sample infra and a documented example
  telemetry/README.md
  telemetry/docker-compose.yaml
  telemetry/images/jeager-traces.png
  telemetry/images/tracez-example.png
  telemetry/oc-agent-config.yaml
  telemetry/oc-collector-config.yaml
Labels: none

First pass working! Needs bit more wiring still though.
  go.mod
  go.sum
  internal/cli/server_run.go
  internal/server/grpc.go
  internal/server/server.go
  internal/telemetry/telemetry.go
Labels: core

simplification (thanks go format!)
  internal/telemetry/telemetry.go
Labels: core

Comment tweak
  internal/telemetry/telemetry.go
Labels: core

website documentation
  website/content/commands/server-run.mdx
Labels: website

Tuning oc-agent config
  telemetry/oc-agent-config.yaml
Labels: none

Changelog
  .changelog/2402.txt
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update internal/server/server.go
  internal/server/server.go
Labels: core

Update .changelog/2402.txt
  .changelog/2402.txt
Labels: none

Update internal/telemetry/telemetry.go
  internal/telemetry/telemetry.go
Labels: core

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update internal/telemetry/telemetry.go
  internal/telemetry/telemetry.go
Labels: core

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update telemetry/README.md
  telemetry/README.md
Labels: none

Update internal/telemetry/telemetry.go
  internal/telemetry/telemetry.go
Labels: core

Update internal/telemetry/telemetry.go
  internal/telemetry/telemetry.go
Labels: core

Update internal/cli/server_run.go
  internal/cli/server_run.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
