Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit 7ed35a238aa5870f1ed03b2430c921fce33eca2a
  internal/server/ptypes/deployment.go
  internal/server/singleprocess/service_deploy.go
Labels: core

internal/server: Add API validation for UpsertDeployment
  internal/server/ptypes/deployment.go
  internal/server/singleprocess/service_deploy.go
Labels: core

Hostname field can be empty
  internal/server/ptypes/hostname.go
Labels: core

backport of commit 41162e8a71d3117c230bc8bd9300af8c97b671e1
  internal/server/ptypes/hostname.go
Labels: core

Add note about validation failing on nil
  internal/server/ptypes/job.go
  internal/server/ptypes/server_config.go
Labels: core

backport of commit 32cf57959aa330ccf3fccc7f5097b28596260c02
  internal/server/ptypes/job.go
  internal/server/ptypes/server_config.go
Labels: core

internal/server: Validate API requests for GetOnDemandRunnerConfig
  internal/server/ptypes/ondemand_runner.go
  internal/server/singleprocess/service_ondemand_runner.go
Labels: core

internal/server: Add API validation for status reports API
  internal/server/ptypes/status_report.go
  internal/server/singleprocess/service_status_report.go
Labels: core

internal/server: Add validation to UI_GetProject endpoint
  internal/server/ptypes/project.go
  internal/server/singleprocess/service_ui_project.go
Labels: core

Add changelog
  .changelog/2273.txt
Labels: none

Target can be blank on list
  internal/server/ptypes/status_report.go
Labels: core

Use struct vars for PathType
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

truncate variable values
  ui/app/styles/components/variables-list.scss
Labels: ui

Add DEBUG=* to yarn build:test in circle
  .circleci/config.yml
Labels: none

Limit Circle to just the frontend tests
  .circleci/config.yml
Labels: none

Reduce frontend workflow even further
  .circleci/config.yml
Labels: none

Set DEBUG=ember-cli-typescript:*
  .circleci/config.yml
Labels: none

Update ember-a11y-testing to 4.2.0
  ui/package.json
  ui/yarn.lock
Labels: ui

backport of commit dfbd818f29af8d8392541bd962dddb8249b9efa8
  internal/pkg/epinject/epinject.go
Labels: core

internal/pkg/epinject: support SSH DOCKER_HOST
  internal/pkg/epinject/epinject.go
Labels: core

changelog
  .changelog/2277.txt
Labels: none

backport of commit 24f2fb0a0884a5bdecb0f7c648e87096b1db61d3
  .changelog/2277.txt
Labels: none

Simplify setting PathType from Waypoint config
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

typo
  internal/cli/status.go
Labels: core

host vol persistence works
  internal/serverinstall/nomad.go
Labels: core

Update internal/serverinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

Update internal/serverinstall/ecs.go
  internal/serverinstall/ecs.go
Labels: core

clean up odr_ references
  builtin/aws/ecs/task.go
  internal/serverinstall/ecs.go
Labels: core, plugin, plugin/aws

document ODR image for runner
  builtin/aws/ecs/task.go
Labels: plugin, plugin/aws

update aws ec2 docs page desc
  website/content/plugins/aws-ec2.mdx
Labels: website

backport of commit ebdc84b3cc3e5d8e7917661bb59dc729f54c9b31
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

ui: Updating empty state messages for projects page
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

move server run flags to shared bitset with install
  internal/cli/base.go
  internal/cli/install.go
  internal/cli/server_run.go
  internal/cli/server_upgrade.go
  internal/serverconfig/config.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-run.mdx
Labels: core, website

add default ecs db path to server docs
  website/content/docs/server/run/maintenance.mdx
Labels: website

Revert "ui: de-lint `notification/index.ts`"
  ui/app/components/notifications/notification/index.ts
Labels: ui

Remove console.log
  ui/app/components/operation-logs/index.ts
  ui/app/routes/application.ts
  ui/app/services/poll-model.ts
Labels: ui

backport of commit dd3d83582fdea7aabed7b75cb9a07742a075591c
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

ui: Reverting CLI instructions. Fixing a11y issue
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

Upgrade ember-cli-babel
  ui/package.json
  ui/yarn.lock
Labels: ui

remove flash from tsconfig
  ui/tsconfig.json
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
