Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

feedback from code review
  website/content/plugins/aws-ecs.mdx
Labels: website

adds redirects for moved paths
  website/redirects.js
Labels: website

fix redirected links
  website/content/docs/getting-started/index.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/platforms/kubernetes/config.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/platforms/kubernetes/kubectl-deploy.mdx
  website/content/docs/projects/git.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/partials/components/platform-helm.mdx
Labels: website

update link to kubernetes page
  builtin/k8s/helm/platform.go
  embedJson/gen/platform-helm.json
Labels: plugin, plugin/k8s

chore: fix link
  website/content/docs/runner/index.mdx
Labels: website

fix another link
  website/content/docs/runner/index.mdx
Labels: website

backport of commit dbda79e34da802b670abd82076cd702c9a958874
  internal/cli/runner_install.go
Labels: core

Update runner install to set new profile as default if it's the first runner profile.
  internal/cli/runner_install.go
Labels: core

backport of commit df111ebe88e3af13b15eea72c12af0ba434a9357
  .changelog/3922.txt
Labels: none

Changelog.
  .changelog/3922.txt
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Release v0.10.1
  CHANGELOG.md
  internal/version/version.go
Labels: core

chore: fix links (#3919)
  website/content/docs/runner/index.mdx
Labels: website

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

update changelog from 0.10.1 release
  CHANGELOG.md
Labels: none

backport of commit 8ec1c9d4c46e1fa9d68c42e70b5ae7914315c405
  .changelog/3929.txt
  ui/app/components/resources-table.hbs
Labels: ui

ui: make `<ResourceTable>` resilient to resources without IDs
  .changelog/3929.txt
  ui/app/components/resources-table.hbs
Labels: ui

Add GitRemote to Remote datasource
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

backport of commit e81ad5444d4e20894bf690a6b8e16304697803f2
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
Labels: website

backport of commit e81ad5444d4e20894bf690a6b8e16304697803f2
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
Labels: website

docs(plugin-interfaces): fix arg
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
Labels: website

make casing consistent with internal usage
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
Labels: website

backport of commit 0d0942196e640a159334099577c67c697e72ae7d
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
Labels: website

backport of commit 0d0942196e640a159334099577c67c697e72ae7d
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
Labels: website

backport of commit a92790c9fd0aa3b50c886f7a0e484cf6fec223e9
  website/content/docs/extending-waypoint/plugin-interfaces/authenticator.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable-notify.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/destroy.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/registry.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/release-manager.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website

docs: general improvements to plugins
  website/content/docs/extending-waypoint/plugin-interfaces/authenticator.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable-notify.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/destroy.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/registry.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/release-manager.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website

backport of commit a92790c9fd0aa3b50c886f7a0e484cf6fec223e9
  website/content/docs/extending-waypoint/plugin-interfaces/authenticator.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable-notify.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/destroy.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/registry.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/release-manager.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website

Update website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
Labels: website

backport of commit 34f256bf96be8fe7671cc0b6775dfa2f936715e4
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
Labels: website

backport of commit 34f256bf96be8fe7671cc0b6775dfa2f936715e4
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
Labels: website

Update k8s runner install to download the latest version of the Helm repo before attempting to install.
  internal/runnerinstall/k8s.go
Labels: core

backport of commit b7d38c93c4075b6729b3b72160d2a8d36de88643
  builtin/k8s/platform.go
  embedJson/gen/platform-kubernetes.json
  website/content/partials/components/platform-kubernetes.mdx
Labels: plugin, plugin/k8s, website

doc: Update scratch_path to emptydir
  builtin/k8s/platform.go
  embedJson/gen/platform-kubernetes.json
  website/content/partials/components/platform-kubernetes.mdx
Labels: plugin, plugin/k8s, website

backport of commit b7d38c93c4075b6729b3b72160d2a8d36de88643
  builtin/k8s/platform.go
  embedJson/gen/platform-kubernetes.json
  website/content/partials/components/platform-kubernetes.mdx
Labels: plugin, plugin/k8s, website

Move global config notice to cli
  internal/cli/config_source_get.go
  internal/cli/config_source_set.go
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
  website/content/partials/commands/config-source-get_more.mdx
  website/content/partials/commands/config-source-set_more.mdx
Labels: core, website

Created UI_GetDeployment method + tests, refactor UI_ListDeployments to use getDeploymentBundle utility method
  .changelog/3856.txt
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_ui_deploy.go
  pkg/serverhandler/handlertest/test_service_ui_deploy.go
Labels: none

Update error message, per PR feedback
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/singleprocess/service_ui_deploy.go
Labels: none

Exit if error on listing runner profiles during runner install.
  internal/cli/runner_install.go
Labels: core

backport of commit 8c368fbdddd5c52cc9d6896ae8ac3ca751bc4038
  internal/cli/runner_install.go
Labels: core

server: Better err message when a cycle is detected
  pkg/server/singleprocess/service_pipeline.go
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
