Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

ui: de-lint `project-input-variables/list-item.ts`
  ui/app/components/project-input-variables/list-item.ts
Labels: ui

ui: de-lint `project-input-variables/list.ts`
  ui/app/components/project-input-variables/list.ts
Labels: ui

backport of commit 2fdc4e88bf19c517576a92fc431c268cdd76f14a
  ui/app/components/project-input-variables/list.ts
Labels: ui

fix typo
  builtin/docker/kaniko.go
Labels: plugin, plugin/docker

fix other occurence
  builtin/pack/builder.go
Labels: plugin, plugin/pack

set default log level to debug on server install
  internal/cli/server_run.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

changelog
  .changelog/2325.txt
Labels: none

typo and docs updates
  internal/cli/status.go
  website/content/docs/server/run/maintenance.mdx
  website/content/plugins/aws-ec2.mdx
Labels: core, website

basic pass fwd of raw string for server run addl flags
  internal/cli/install.go
  internal/cli/server_run.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

pass flags forward to upgrade
  internal/cli/server_upgrade.go
Labels: core

make gen/website-mdx
  internal/cli/install.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-run.mdx
Labels: core, website

internal/cli: fixes from testing
  internal/cli/base_init.go
  internal/cli/k8s_bootstrap.go
Labels: core

documentation for run flags on install cmd
  internal/cli/install.go
  internal/cli/server_upgrade.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/server/run/index.mdx
Labels: core, website

changelog
  .changelog/2328.txt
Labels: none

remove flag
  internal/cli/install.go
  internal/cli/server_upgrade.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

ui: de-lint `status-report-bar/index.ts`
  ui/app/components/status-report-bar/index.ts
Labels: ui

backport of commit cc13f726134731fd230f121bb147bab274bbd5fa
  ui/app/components/status-report-bar/index.ts
Labels: ui

ui: de-lint `version-info/index.ts`
  ui/app/components/version-info/index.ts
Labels: ui

backport of commit 0e3250e5a46b4a647e2e68bfa1640e135fe0b916
  ui/app/components/version-info/index.ts
Labels: ui

add redirect listener
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/ecs/plugin.proto
Labels: plugin, plugin/aws

internal/cli: Adjust spacing in help text
  internal/cli/k8s_bootstrap.go
  website/content/commands/k8s-bootstrap.mdx
Labels: core, website

internal/cli: waypoint login -from-kubernetes
  internal/cli/login.go
  internal/pkg/k8sauth/doc.go
  internal/pkg/k8sauth/k8sauth.go
Labels: core

internal: improved logging, validate login
  internal/cli/base_init.go
  internal/cli/login.go
  internal/serverclient/client.go
Labels: core

internal/cli: secrets are automatically base64 decoded
  internal/cli/login.go
Labels: core

website: gen
  website/content/commands/login.mdx
Labels: website

internal/cli: help
  internal/cli/login.go
  website/content/commands/login.mdx
Labels: core, website

internal/cli: convert k8s bootstrap to k8sauth package
  internal/cli/k8s_bootstrap.go
Labels: core

split secondary flags after -- for install/run
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_upgrade.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/docs/server/run/index.mdx
Labels: core, website

update to work with new subfolder approach
  website/.gitignore
  website/assets/img/new-waypoint-install-ui.png
  website/clean
  website/data/metadata.js
  website/data/version.js
  website/package-lock.json
  website/package.json
  website/public/img/architecture.png
  website/public/img/discuss-subscribe.png
  website/public/img/entrypoint-overview.png
  website/public/img/execution-all.png
  website/public/img/execution-cli-server.png
  website/public/img/execution-local.png
  website/public/img/execution-remote.png
  website/public/img/extending-waypoint/authenticator.png
  website/public/img/extending-waypoint/build.png
  website/public/img/extending-waypoint/components.png
  website/public/img/extending-waypoint/destroy.png
  website/public/img/extending-waypoint/platform.png
  website/public/img/extending-waypoint/release-manager.png
  website/public/img/getting-started/admin-ui.png
  website/public/img/getting-started/web-app.png
  website/public/img/github-action.png
  website/public/img/hero-left.svg
  website/public/img/hero-right.svg
  website/public/img/input-vars-add-variable-dialog.png
  website/public/img/input-vars-empty-settings-tab.png
  website/public/img/logo-fullcolor-rgb.png
  website/public/img/logo-fullcolor-whitebackground-rbg.png
  website/public/img/mobile-hero-pattern.svg
  website/public/img/new-waypoint-install-ui.png
  website/public/img/new-waypoint-project.png
  website/public/img/og-image.png
  website/public/img/project-git.png
  website/public/img/ref-tracking-git.png
  website/public/img/status-degraded.svg
  website/public/img/status-normal.svg
  website/public/img/upgrade-0.2.0/version.png
  website/public/img/waypoint-project-created.png
  website/start
Labels: website

use simplified community page data
  website/data/community-page-data.json
Labels: website

PR comments + fmt
  internal/cli/main.go
  internal/serverinstall/k8s.go
Labels: core

add back should-build script to attempt local preview
  website/scripts/should-build.sh
Labels: website

try using vercel-build command
  website/package.json
Labels: website

update gitignore
  website/.gitignore
Labels: website

Update internal/cli/login.go
  internal/cli/login.go
Labels: core

changelog
  .changelog/2328.txt
Labels: none

log warnings if some things don't work
  internal/core/app_build.go
Labels: core

go.mod
  go.mod
  go.sum
Labels: none

builtin/k8s/helm initial commit (broken)
  builtin/k8s/helm/api.go
  builtin/k8s/helm/auth.go
  builtin/k8s/helm/platform.go
  builtin/k8s/helm/plugin.go
  builtin/k8s/helm/plugin.proto
  builtin/k8s/helm/rest.go
Labels: plugin, plugin/k8s

builtin/k8s: export auth
  builtin/k8s/api.go
  builtin/k8s/config_sourcer.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/k8s/task.go
Labels: plugin, plugin/k8s
