Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

todo: Add notes for including spawned resource name from Run Task job
  internal/cli/task_inspect.go
  internal/runner/operation_task.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

internal/{cli,server}: Filter tasks on Task Job State
  internal/cli/task_inspect.go
  internal/cli/task_list.go
  internal/runner/operation_task.go
  internal/server/boltdbstate/task.go
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_task_test.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_task.go
  website/README.md
  website/content/commands/task-list.mdx
  website/package-lock.json
Labels: core, website

cli: Improve UX around task list and inspect
  internal/cli/task_inspect.go
  internal/cli/task_list.go
Labels: core

internal: Move getting task jobs into single memdb transaction
  internal/server/boltdbstate/task.go
  pkg/server/singleprocess/service_task.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_task.go
Labels: core

cli: Condense task inspect and only make certain strings headers
  internal/cli/task_inspect.go
Labels: core

Add CHANGELOG
  .changelog/3203.txt
Labels: none

maint: Add warning about running Horizon for tests
  Makefile
Labels: none

Rearrange so all test targets are together
  Makefile
Labels: none

backport of commit e9cf6b4fd25ccd60d5c30f05f84db1012546fe8d
  internal/cli/release_create.go
Labels: core

Prevent the release of a running deployment
  internal/cli/release_create.go
Labels: core

changelog
  .changelog/3207.txt
Labels: none

backport of commit 4ec60ac0b9ef40a11179a68fa00fc70165c86a98
  .changelog/3207.txt
Labels: none

make gen/ts
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

chore: changelog
  .changelog/3193.txt
Labels: none

backport of commit 3e88537fc0920a883650cc61fde5eb285191217a
  .changelog/3193.txt
Labels: none

backport of commit eb41392459850a2c88225b65ff098b66b203195f
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

chore: add lambda platform config validation - add tests
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
Labels: plugin, plugin/aws

backport of commit ad8274fa47868d4324e66da18d6ac0326231b15a
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
Labels: plugin, plugin/aws

Apply suggestions from code review
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

chore: explicit errors
  builtin/aws/lambda/platform_test.go
Labels: plugin, plugin/aws

backport of commit 269be1b33f17b289ae2be52caa898c5597f4175b
  builtin/aws/lambda/platform_test.go
Labels: plugin, plugin/aws

Test reading/writing ODR target labels
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: none

More readable test name
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: none

docs: upated waypoint getting started
  website/content/docs/getting-started.mdx
  website/content/docs/getting-started/index.mdx
  website/data/docs-nav-data.json
  website/public/img/getting-started/admin-ui.png
  website/public/img/getting-started/intro-files.png
  website/public/img/getting-started/web-app.png
Labels: website

docs: updated navigation pr dev proposal
  website/content/docs/resources/glossary.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/docs/resources/internals/execution.mdx
  website/content/docs/resources/internals/index.mdx
  website/content/docs/resources/roadmap.mdx
  website/content/docs/resources/troubleshooting.mdx
  website/data/docs-nav-data.json
Labels: website

docs: updated navigation tree
  website/content/docs/platforms/kubernetes/config.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/platforms/kubernetes/install.mdx
  website/content/docs/platforms/kubernetes/kubectl-deploy.mdx
  website/content/docs/platforms/kubernetes/resource-status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: added missing abbrviations
  website/data/docs-nav-data.json
Labels: website

docs: added missing abbrviations
  website/data/docs-nav-data.json
Labels: website

docs: refactored the getting started navigation
  website/content/docs/getting-started/index.smdx
  website/data/docs-nav-data.json
Labels: website

docs: added codetabs for the waypoint examples ref
  website/content/docs/index.mdx
Labels: website

add TESTARGS option to test/boltdbstate step, with doc/example
  Makefile
Labels: none

document how to run these tests
  pkg/serverstate/statetest/doc.go
Labels: none

docs: finalized
  website/content/docs/getting-started/index.mdx
  website/content/docs/getting-started/index.smdx
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/data/docs-nav-data.json
Labels: website

builtin/nomad/jobspec: fix dropped error
  builtin/nomad/jobspec/releaser.go
Labels: plugin, plugin/nomad

Create azure-webapps-node.yml
  azure-webapps-node.yml
Labels: none

backport of commit cca900944bb7d2452dd5901ce1fb22155b5548bf
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Add support Consul & Vault tokens for job submission.
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

backport of commit fb1d7c430cc7c8175feab603528704d0797aa927
  builtin/nomad/auth.go
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Modularized retrieval of Consul/Vault tokens from environment & added basic error checking.
  builtin/nomad/auth.go
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

backport of commit cc8048fe47724774ad0c1183062a6dfec565852b
  .changelog/3222.txt
Labels: none
