Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

cli/serverinstall: Add On-Demand runner config to server install
  internal/serverinstall/nomad.go
Labels: core

Include runner memory and cpu config for ODRs
  internal/serverinstall/nomad.go
Labels: core

backport of commit 2e12a5b4d87888297bd45f7a72a126034190aee8
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
Labels: plugin, plugin/nomad

backport of commit 8bf58b151edddc8e2a6378158c25d257afa25c29
  internal/serverinstall/nomad.go
Labels: core

backport of commit 6cc685ee662ce0b3b4034af7f7a1b5e51174fe1b
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

Add more options to pass through to task launcher
  internal/serverinstall/nomad.go
Labels: core

builtin/nomad: Add TaskLauncher plugin for ODR tasks
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit 5c83f2f5c81f0b12e43ebd9b8b27da230d33f887
  internal/serverinstall/nomad.go
Labels: core

Add TaskLauncher to Nomad plugin
  builtin/nomad/nomad.go
Labels: plugin, plugin/nomad

backport of commit 970b4af80ab384fd11c51b8c4e07e9d4cfc9d05f
  builtin/nomad/nomad.go
Labels: plugin, plugin/nomad

backport of commit 697d76555fb7c953981ad828fd9b5369bc35cbd4
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

Add task launcher docs for Nomad
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

Give ODR arguments and entrypoint commands
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

website autogen
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/task-nomad.mdx
Labels: website

backport of commit c036c5d551ee2a031b242b9f68b7c31d846c9c97
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/task-nomad.mdx
Labels: website

backport of commit a912bd69013b6a133c7577aff96798976ee7cc25
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit a43c2edcac64106c84b20538dcbf0ab981d6dc1e
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/task-nomad.mdx
Labels: website

backport of commit 90bb700a4ee58ea0f88022ecde11d052181e4a6a
  builtin/nomad/task.go
  internal/serverinstall/nomad.go
Labels: core, plugin, plugin/nomad

Add -nomad-host flag for server install and ODR task launcher
  builtin/nomad/task.go
  internal/serverinstall/nomad.go
Labels: core, plugin, plugin/nomad

Add nomad task config defaults
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

website autogen
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/task-nomad.mdx
Labels: website

backport of commit 9fcf3e032ac19362d3de425dcd3d96a3261f3b14
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit 7c3642932d05bf232be1f76c2ae56fd9d325eabe
  internal/serverinstall/nomad.go
Labels: core

Improve nomad task docs
  builtin/nomad/task.go
  website/content/partials/components/task-nomad.mdx
Labels: plugin, plugin/nomad, website

backport of commit 4e9d1ec006e03b29120e5ff079d1bf831430bdd4
  builtin/nomad/task.go
  website/content/partials/components/task-nomad.mdx
Labels: plugin, plugin/nomad, website

Remove TODO, many configs were added
  internal/serverinstall/nomad.go
Labels: core

Use default const values in doc string for website
  builtin/nomad/task.go
  website/content/partials/components/task-nomad.mdx
Labels: plugin, plugin/nomad, website

backport of commit e89b376fb556c04ad033a0b30a693aa4c17b36f0
  builtin/nomad/task.go
  website/content/partials/components/task-nomad.mdx
Labels: plugin, plugin/nomad, website

Fix up case in docs, use default nomad host string for flag doc
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

backport of commit 8bf957331e3eecaffc509da25f2f9cc8959d1cbb
  .changelog/2593.txt
Labels: none

backport of commit 174a7d16d5609d735a71b97f64356f397ca8d532
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

Add changelog
  .changelog/2593.txt
Labels: none

Update ODR task resource vars to be ints instead of string
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit 323194c352e09f11d1b79275c93c4d9533ab3c9c
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

Fix typo in doc string
  internal/serverinstall/nomad.go
  website/content/commands/server-upgrade.mdx
Labels: core, website

backport of commit 4c26ca886eb4a6094f50767d093f89b2bef1e007
  internal/serverinstall/nomad.go
  website/content/commands/server-upgrade.mdx
Labels: core, website

backport of commit dcd09abd8aab1ca5cb2323acfd3fe623e98accac
  website/content/partials/components/task-nomad.mdx
Labels: website

Website autogen
  website/content/partials/components/task-nomad.mdx
Labels: website

builtin/nomad: Register deployed application to Consul
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Fix typo in doc help string
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
