Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/cli: Include default value for a flag for docs
  internal/cli/docs.go
Labels: core

Website autogen pt 2
  website/content/commands/install.mdx
  website/content/commands/server-bootstrap.mdx
  website/content/commands/server-install.mdx
Labels: website

Validating fields that can be used as path tokens
  pkg/server/ptypes/application.go
  pkg/server/ptypes/auth_method.go
  pkg/server/ptypes/ondemand_runner.go
  pkg/server/ptypes/project.go
  pkg/server/ptypes/ref.go
  pkg/server/ptypes/runner.go
  pkg/server/ptypes/workspace.go
  pkg/serverhandler/handlertest/test_service_project.go
Labels: none

Simplify default flag string generation
  internal/cli/docs.go
Labels: core

website autogen: Handle dynamic defalut value of context-create
  internal/cli/docs.go
  website/content/commands/install.mdx
  website/content/commands/server-bootstrap.mdx
  website/content/commands/server-install.mdx
Labels: core, website

Add sentence ending period for doc strings that don't end in .
  internal/cli/docs.go
  website/content/commands/auth-method-set-oidc.mdx
  website/content/commands/config-get.mdx
  website/content/commands/context-inspect.mdx
  website/content/commands/docs.mdx
  website/content/commands/exec.mdx
  website/content/commands/init.mdx
  website/content/commands/install.mdx
  website/content/commands/project-apply.mdx
  website/content/commands/server-bootstrap.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-run.mdx
  website/content/commands/server-upgrade.mdx
  website/content/commands/ui.mdx
Labels: core, website

Adjust how dynamic default is set for create-context flag
  internal/cli/docs.go
  internal/cli/install.go
  internal/cli/server_bootstrap.go
Labels: core

pr feedback: Simplify sentence check
  internal/cli/docs.go
Labels: core

internal/cli: Set concurrency flag in CLI rather than Flag Set
  internal/cli/runner_agent.go
  website/content/commands/runner-agent.mdx
Labels: core, website

backport of commit 4433943c040e8f19f34d0cf895e061d085611ccb
  internal/cli/app_docs.go
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/task-docker.mdx
Labels: core, website

Added ability to identify categories with no required fields
  internal/cli/app_docs.go
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/task-docker.mdx
Labels: core, website

backport of commit 4433943c040e8f19f34d0cf895e061d085611ccb
  internal/cli/app_docs.go
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/task-docker.mdx
Labels: core, website

website: don't use brackets
  internal/cli/install.go
  internal/cli/server_bootstrap.go
  website/content/commands/install.mdx
  website/content/commands/server-bootstrap.mdx
  website/content/commands/server-install.mdx
Labels: core, website

pr-feedback: Adjust default context on server install
  internal/cli/install.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

Ensure current user is authenticated before generating tokens
  pkg/server/singleprocess/auth.go
Labels: none

avoid some uneeded looping
  internal/cli/app_docs.go
Labels: core

backport of commit 2e02935f0870908e824ce765035577e7582d2c72
  internal/cli/app_docs.go
Labels: core

backport of commit 2e02935f0870908e824ce765035577e7582d2c72
  internal/cli/app_docs.go
Labels: core

added changelog
  .changelog/3507.txt
Labels: none

backport of commit 5a4e081b601021351678d94ebd728dbc372c4f17
  .changelog/3507.txt
Labels: none

backport of commit 5a4e081b601021351678d94ebd728dbc372c4f17
  .changelog/3507.txt
Labels: none

docs: Update website
  website/content/commands/runner-install.mdx
  website/content/docs/runner/index.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/waypoint-hcl/app.mdx
  website/content/docs/waypoint-hcl/runner.mdx
  website/content/partials/commands/runner-install_desc.mdx
  website/content/partials/commands/runner-install_more.mdx
  website/data/commands-nav-data.json
Labels: website

refactor: Move common ecs functions to installutils
  internal/installutil/aws/ecs.go
  internal/serverinstall/ecs.go
Labels: core

refactor: Move common nomad function to installutils
  internal/installutil/nomad/nomad.go
  internal/serverinstall/nomad.go
Labels: core

core/runner: Add docker runner installation implementation
  internal/runnerinstall/docker.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/docker.go
Labels: core

core/runner: Add initial runner installation implementation
  internal/cli/install.go
  internal/installutil/adoption.go
  internal/runnerinstall/runnerinstall.go
Labels: core

core/runner: Add ECS Runner installation implementation
  internal/runnerinstall/ecs.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/ecs.go
Labels: core

Update server install for k8s to use Helm.
  internal/installutil/helm/helm.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/k8s.go
  internal/serverinstall/serverinstall.go
Labels: core

core/runner: Add nomad runner install implementation
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/nomad.go
Labels: core

Refactored k8s server upgrade to use helm & removed some now-unused functions.
  internal/serverinstall/k8s.go
Labels: core

core/runner: Add runner install command to Waypoint
  go.mod
  go.sum
  internal/cli/main.go
  internal/cli/runner_install.go
  internal/runnerinstall/runnerinstall_test.go
Labels: core

changelog: Add runner install feature to changelog
  .changelog/3335.txt
Labels: none

maint: update go.mod
  go.mod
  go.sum
Labels: none

core/runner: Add uninstall implementation for nomad runners
  internal/runnerinstall/nomad.go
Labels: core

core/runner: Add kubernetes runner uninstall implementation
  internal/runnerinstall/k8s.go
Labels: core

refactor: Move k8s client creation to installutils
  internal/installutil/k8s/k8s.go
  internal/serverinstall/k8s.go
Labels: core

core/runner: Add image pull when installing runner in docker
  internal/runnerinstall/docker.go
Labels: core

core/install: Add implementation for ECS runner uninstall
  internal/runnerinstall/ecs.go
Labels: core

core/runner: Add docker runner uninstall implementation
  internal/runnerinstall/docker.go
Labels: core

Update Docker runner install example for self-signed cert (default in server install).
  website/content/docs/runner/run-manual.mdx
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
