Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit 867ef57ec8a01e36873e0b9daff464e046b86413
  internal/cli/runner_list.go
  website/content/commands/runner-list.mdx
Labels: core, website

feat(nix): support nix on aarch64-darwin
  flake.lock
Labels: none

only update flake-utils
  flake.lock
Labels: none

Initial changes for Nomad releaser.
  builtin/nomad/nomad.go
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
  builtin/nomad/release.go
  builtin/nomad/releaser.go
  internal/plugin/plugin.go
  ui/app/helpers/icon-for-component.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
Labels: core, plugin, plugin/nomad, ui

gofmt.
  builtin/nomad/releaser.go
Labels: plugin, plugin/nomad

First hacky attempt at getting grpc-gateway to work
  go.mod
  go.sum
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.gw.go
  internal/server/grpc.go
  internal/server/http.go
  internal/server/proto/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

backport of commit b07fca8044b761e38e59436c2895c88d066fa844
  website/content/docs/entrypoint/index.mdx
Labels: website

Add link to the entrypoint download page
  website/content/docs/entrypoint/index.mdx
Labels: website

backport of commit b07fca8044b761e38e59436c2895c88d066fa844
  website/content/docs/entrypoint/index.mdx
Labels: website

Add .vscode/launch.json
  .vscode/launch_template.json
Labels: none

backport of commit c19bae074cd0ad192ba9810471ae6064262e17f5
  internal/server/singleprocess/service_runner.go
Labels: core

internal/server: get rid of preadopt bool, pointless
  internal/server/singleprocess/service_runner.go
Labels: core

Update internal/cli/runner_list.go
  internal/cli/runner_list.go
Labels: core

backport of commit 6200daeca6d5f6f55a0f72aa64c75c923fd2c92e
  internal/cli/runner_list.go
Labels: core

backport of commit 1a64a091058349936c7c0df13f48db22df25676e
  website/content/commands/runner-list.mdx
Labels: website

gen/website-mdx
  website/content/commands/runner-list.mdx
Labels: website

backport of commit 92bd1ee3224963a1c92dc889ed8474fad30d4c13
  internal/server/ptypes/runner.go
  internal/server/singleprocess/service_runner.go
Labels: core

internal/server: add ptypes validation for new runner APIs
  internal/server/ptypes/runner.go
  internal/server/singleprocess/service_runner.go
Labels: core

ui/test: remove redundant `a11yAudit`
  ui/tests/integration/components/workspace-switcher-test.ts
Labels: ui

Add missing space (#2933)
  ui/app/components/resources-table-extended.hbs
Labels: ui

generated changelog for 0.7.1 release
  CHANGELOG.md
Labels: none

Pin the version of kaniko
  Dockerfile
Labels: none

Set Namespace of Nomad client to be the Namespace in the jobspec.
  .changelog/2896.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad

ui: add percy test for applications list
  ui/tests/acceptance/percy-test.ts
Labels: ui

ui: add ember-testing-sprite-embed
  ui/tests/index.html
Labels: ui

ui: add percy test for populated projects view (#2920)
  ui/tests/acceptance/percy-test.ts
Labels: ui

skip ExternalSecurityGroup and ALB Listener Creation when DisableALB true
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

ui: exclude `.flight-sprite-container` from a11y check
  ui/tests/helpers/a11y.ts
Labels: ui

add pr number
  .changelog/2944.txt
Labels: none

allow more time for grpc connection
  internal/serverclient/client.go
Labels: core

changelog for releases repo update
  .changelog/new.txt
Labels: none

changelog for releases repo update
  .changelog/new.txt
Labels: none

add pr number
  .changelog/2944.txt
Labels: none

generated changelog for 0.7.1 release
  CHANGELOG.md
Labels: none

update PR number for properly targeted branch
  .changelog/2945.txt
  CHANGELOG.md
Labels: none

Release v0.7.1
  CHANGELOG.md
  internal/version/version.go
  website/data/version.js
Labels: core, website

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

feat: display warning in IE 11
  website/pages/_document.js
  website/public/ie-custom-properties.js
  website/public/ie-warning.js
Labels: website

fix: Add services to manager options
  website/pages/_app.js
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
