Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit 8328997c9ee4f67998ca24e574005df6934fe654
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

K8s: Don't error/hang if deleting a service that isn't found
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

backport of commit ddfbd1b518ca5a6a71637b71f756543cd682731b
  .changelog/3111.txt
Labels: none

changelog
  .changelog/3111.txt
Labels: none

Updating waypoint-plugin-sdk version
  go.mod
  go.sum
Labels: none

log that no service was found when trying to delete
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

backport of commit 0119dccca2a19a0b242d8d2db9b7aa70d2e38069
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Do not block the client when presented with concurrent step groups
  internal/client/job.go
Labels: core

Update go.mod
  go.mod
  go.sum
Labels: none

gofmt
  builtin/docker/platform.go
  internal/cli/install.go
  internal/cli/login.go
  internal/cli/server_bootstrap.go
  internal/cli/server_upgrade.go
  internal/cli/trigger_apply.go
  internal/server/singleprocess/service_auth_oidc.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_server.go
  internal/server/singleprocess/service_snapshot_test.go
Labels: core, plugin, plugin/docker

Disable fake proto test
  internal/pkg/validationext/struct_test.go
Labels: core

backport of commit e533d9dd520b87b1c5f5bd5d68e89c541792e8a4
  website/content/docs/lifecycle/build.mdx
Labels: website

backport of commit e533d9dd520b87b1c5f5bd5d68e89c541792e8a4
  website/content/docs/lifecycle/build.mdx
Labels: website

backport of commit e533d9dd520b87b1c5f5bd5d68e89c541792e8a4
  website/content/docs/lifecycle/build.mdx
Labels: website

docs: use plain quotes for json
  website/content/docs/lifecycle/build.mdx
Labels: website

backport of commit e533d9dd520b87b1c5f5bd5d68e89c541792e8a4
  website/content/docs/lifecycle/build.mdx
Labels: website

ui: add `opaqueany` to `make gen/ts`
  Makefile
Labels: none

ui: add `opaqueany` to `package.json`
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: regenerate libs from protos
  ui/lib/opaqueany/any_pb.d.ts
  ui/lib/opaqueany/any_pb.js
  ui/lib/opaqueany/package.json
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

ui: update guidance for generating libs from protos
  ui/README.md
Labels: ui

Attempting to download the right arch of protoc
  tools.Dockerfile
Labels: none

the underscore :argh:
  tools.Dockerfile
Labels: none

backport of commit 769db60e96caab279fab7a39013facbfe91682dd
  .release/release-metadata.hcl
Labels: none

[RelAPI Onboarding] Add release API metadata file
  .release/release-metadata.hcl
Labels: none

nix: update all proto tools
  nix/go-protobuf-grpc-gateway.nix
  nix/go-protobuf-grpc.nix
  nix/go-protobuf-json.nix
  nix/go-protobuf.nix
  nix/overlay.nix
  nix/waypoint.nix
Labels: none

go.mod: grpc-gateway is 2.8.0
  go.mod
  go.sum
Labels: none

proto: update messages for re-entrancy
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

internal/server: add notes about future work
  internal/server/singleprocess/service_runner.go
Labels: core

internal/server: more tests for edge cases for reattach
  internal/server/singleprocess/service_runner_test.go
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
Labels: core

internal/server: initial reattach serverside logic and happy test
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
Labels: core

internal/runner: reattach job stream client
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/reattach.go
Labels: core

internal/runner: disable lostcancel for streamCancel
  internal/runner/accept.go
Labels: core

internal/runner: fix cancellation
  internal/runner/accept.go
  internal/runner/reattach.go
Labels: core

internal/runner: move to goto-oriented approach for retry
  internal/runner/accept.go
Labels: core

internal/runner: perform reconnect attempts until a job is acked
  internal/runner/accept.go
Labels: core

changelog
  .changelog/3119.txt
Labels: none

internal/runner: address feedback
  internal/runner/accept.go
  internal/runner/reattach.go
Labels: core

internal/runner: clarificationn on testing
  internal/runner/reattach.go
Labels: core

internal/runner: test more down scenarios
  internal/runner/accept_test.go
Labels: core

add label in proto
  internal/server/singleprocess/state/job.go
  pkg/server/proto/server.proto
Labels: core
