Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update websites from components for release
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: website

Remove outdated docker pull instructions
  website/content/docs/getting-started.mdx
Labels: website

Update CLI docs
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
Labels: website

update to Go 1.16 circle image
  .circleci/config.yml
Labels: none

Update website version for software download
  website/data/version.js
Labels: website

go mod tidy -- changes from Go 1.16
  go.sum
Labels: none

circleci: use same image as builds, upgrade to 1.16
  .circleci/config.yml
Labels: none

circleci: back to circleci images
  .circleci/config.yml
Labels: none

Fix List with WatchSet
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
Labels: core

builtin/k8s: support in-cluster auth
  builtin/k8s/api.go
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

Update plugin-sdk to pickup LogsFunc() detection crash fix
  go.mod
  go.sum
Labels: none

Set the Deployment to the proper state to be seen for logs
  internal/server/singleprocess/service_logs_test.go
Labels: core

unexport InstanceByIdWaiting
  internal/server/singleprocess/state/instance.go
  internal/server/singleprocess/state/instance_exec.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/cli: runner agent can start a liveness TCP server
  internal/cli/runner_agent.go
Labels: core

internal/serverinstall: waypoint runner install for k8s
  internal/serverinstall/k8s.go
  internal/serverinstall/serverinstall.go
Labels: core

Log when InstanceLogs is used, remove unused instance id on GetLogStream
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
Labels: core

internal/serverinstall: k8s uninstall runners
  internal/serverinstall/k8s.go
Labels: core

internal/serverinstall: make liveness port a const
  internal/serverinstall/k8s.go
Labels: core

backport of commit 7460978847cfdfc9b356dab6854741cdeec98128
  internal/serverinstall/k8s.go
Labels: core

serverinstall/k8s: Use k8s client over execing kubectl
  internal/serverinstall/k8s.go
Labels: core

Use ghodss/yaml to parse k8s yaml
  go.mod
  internal/serverinstall/k8s.go
Labels: core

sweep of docs for typos
  internal/server/auth.go
  website/content/docs/intro/index.mdx
  website/content/docs/intro/vs/helm.mdx
  website/content/docs/intro/vs/index.mdx
Labels: core, website

backport of commit 593746a80290e216af2e5ec587f540962916e1fe
  internal/server/auth.go
  website/content/docs/intro/index.mdx
  website/content/docs/intro/vs/helm.mdx
  website/content/docs/intro/vs/index.mdx
Labels: core, website

backport of commit 593746a80290e216af2e5ec587f540962916e1fe
  internal/server/auth.go
  website/content/docs/intro/index.mdx
  website/content/docs/intro/vs/helm.mdx
  website/content/docs/intro/vs/index.mdx
Labels: core, website

backport of commit aa1aa098147706668fbb56f9d8f78d7894b989f3
  website/content/docs/internals/execution.mdx
  website/content/docs/roadmap.mdx
Labels: website

backport of commit aa1aa098147706668fbb56f9d8f78d7894b989f3
  website/content/docs/internals/execution.mdx
  website/content/docs/roadmap.mdx
Labels: website

backport of commit 9a06ed1a0a5367aa1c3734e6e4ab8d9911e2ad2d
  website/content/docs/waypoint-hcl/index.mdx
Labels: website

backport of commit b7cdcc2cd34a765be7526cf27922abffe3b03580
  website/content/commands/runner-agent.mdx
Labels: website

backport of commit c9f124c47ea88f124e5d8ff7d72048a40d77358a
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
Labels: website

backport of commit 9a06ed1a0a5367aa1c3734e6e4ab8d9911e2ad2d
  website/content/docs/waypoint-hcl/index.mdx
Labels: website

typo
  website/content/docs/waypoint-hcl/index.mdx
Labels: website

backport of commit b7cdcc2cd34a765be7526cf27922abffe3b03580
  website/content/commands/runner-agent.mdx
Labels: website

backport of commit c9f124c47ea88f124e5d8ff7d72048a40d77358a
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
Labels: website

fix internals and roadmap typos
  website/content/docs/internals/execution.mdx
  website/content/docs/roadmap.mdx
Labels: website

remove period
  website/content/commands/runner-agent.mdx
Labels: website

add clarity on the Plugin Interfaces docs
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
Labels: website

builtin/k8s: Surface pod failures on deploy
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 6699feb76aef8428407776a85c5f0d60339b63db
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

more typos
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
  website/content/docs/glossary.mdx
  website/content/docs/waypoint-hcl/index.mdx
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
