Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

chore: add docs
  builtin/aws/apprunner/platform.go
Labels: plugin, plugin/aws

refactor(platform): `resourceServiceSummaryGet`
  builtin/aws/apprunner/platform.go
Labels: plugin, plugin/aws

add region to doc example
  builtin/aws/apprunner/platform.go
Labels: plugin, plugin/aws

platform: implement resource manager - `apprunner_service_summary`
  builtin/aws/apprunner/platform.go
  builtin/aws/apprunner/plugin.pb.go
  builtin/aws/apprunner/plugin.proto
Labels: plugin, plugin/aws

refactor: `apprunner_iam_role` -> resource manager
  builtin/aws/apprunner/platform.go
  builtin/aws/apprunner/plugin.pb.go
  builtin/aws/apprunner/plugin.proto
Labels: plugin, plugin/aws

catch `CREATE_FAILED` invalid state
  builtin/aws/apprunner/platform.go
Labels: plugin, plugin/aws

ensure release has `region`
  builtin/aws/apprunner/releaser.go
Labels: plugin, plugin/aws

chore: remove release resource manager - improve output
  builtin/aws/apprunner/releaser.go
Labels: plugin, plugin/aws

chore: platform destroyer; - improve output
  builtin/aws/apprunner/destroyer.go
  builtin/aws/apprunner/platform.go
Labels: plugin, plugin/aws

chore: changelog entry
  .changelog/3941.txt
Labels: none

`make gen/website-mdx`
  embedJson/gen/builder-aws-apprunner.json
  embedJson/gen/configsourcer-aws-apprunner.json
  embedJson/gen/platform-aws-apprunner.json
  embedJson/gen/registry-aws-apprunner.json
  embedJson/gen/releasemanager-aws-apprunner.json
  embedJson/gen/task-aws-apprunner.json
  website/content/partials/components/platform-aws-apprunner.mdx
  website/content/partials/components/releasemanager-aws-apprunner.mdx
Labels: website

Bump ua-parser-js
  ui/package.json
  ui/yarn.lock
Labels: ui

Bump ua-parser-js (#4472)
  ui/package.json
  ui/yarn.lock
Labels: ui

jira - remove `oss` as label
  .github/workflows/jira.yml
Labels: none

update label names for foundations & experiences
  .github/workflows/jira.yml
Labels: none

remove overly-selective search criteria
  .github/workflows/jira.yml
Labels: none

integrations: update integration identifiers (#9)
  .github/workflows/notify-integration-release-manual.yml
Labels: none

website(README): add content-check command (#4474)
  website/README.md
  website/package-lock.json
  website/package.json
Labels: website

chore: update integration org
  .github/workflows/notify-integration-release-manual.yml
Labels: none

chore: `make gen/integrations-hcl`
  builtin/aws/ecs/components/platform/outputs.hcl
  builtin/aws/ecs/components/platform/parameters.hcl
Labels: plugin, plugin/aws

chore: add integrations workflow file
  .github/workflows/notify-integration-release-manual.yml
Labels: none

ci: Add integration check for builtin doc generation
  .circleci/config.yml
Labels: none

testing push
  Makefile
Labels: none

ci: Update SSH key.
  .circleci/config.yml
Labels: none

Include Packer as integration notification
  .github/workflows/notify-integration-release-manual.yml
Labels: none

Recontextualize README for HashiCorp Developer website
  README.md
Labels: none

Include Packer as integration notification (#4483)
  .github/workflows/notify-integration-release-manual.yml
Labels: none

Rename README to all caps for packer/config-sourcer
  builtin/packer/components/config-sourcer/README.md
Labels: plugin

backport of commit bea4314893d5dcb3a01401e4612dc49bc6beabb4
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/service-principal.png
Labels: website

backport of commit bea4314893d5dcb3a01401e4612dc49bc6beabb4
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/service-principal.png
Labels: website

wip hashistack quickstart doc
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/service-principal.png
Labels: website

wip documentation use case hashistack
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp.png
  website/public/img/use-cases/hcp-hashistack-quickstart/vault.png
Labels: website

backport of commit 0c44e7dfe6d4dad606cae31a40dd6b2b8707a7f8
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp.png
  website/public/img/use-cases/hcp-hashistack-quickstart/vault.png
Labels: website

backport of commit 0c44e7dfe6d4dad606cae31a40dd6b2b8707a7f8
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp.png
  website/public/img/use-cases/hcp-hashistack-quickstart/vault.png
Labels: website

Pin to localstack:1.3 in CI
  .circleci/config.yml
Labels: none

Add ProjectListBundles to serverstate
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_project.go
Labels: none

Implement ProjectListBundles for boltdbstate
  internal/server/boltdbstate/project.go
Labels: core

Add UI_ListProjects to server.proto
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
Labels: none

make gen/server
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
Labels: none

Implement UI_ListProjects for singleprocess
  pkg/server/ptypes/project.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/serverhandler/handlertest/test_service_ui_project.go
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
