Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

backport of commit 95f8bf56c6ba8ba631290c0be0bbc0560db51709
  .changelog/1679.txt
Labels: none

changelog
  .changelog/1679.txt
Labels: none

ui: upgrade to ember-source@3.24.4 (latest LTS)
  ui/yarn.lock
Labels: ui

backport of commit dddf34f16a661c7a7f7fb337e88c33463db9c925
  ui/yarn.lock
Labels: ui

Upgrade docker/docker
  go.mod
  go.sum
Labels: none

changelog
  .changelog/1685.txt
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit 79af42f4
  internal/server/gen/bindata_ui.go
Labels: core

backport of commit bda13ed60e5395735176198488dadf7e6c0973e4
  internal/cli/init.go
Labels: core

set default to 30s for runner polling
  internal/cli/init.go
Labels: core

Upgrade HCL to fix panic.
  go.mod
  go.sum
Labels: none

backport of commit 150c2ba36981adfea70223db2b2d5f3c7ad5294a
  go.mod
  go.sum
Labels: none

backport of commit 3cfad80851fba12ee866c0463ac1678aac940a40
  .changelog/1690.txt
Labels: none

changelog
  .changelog/1690.txt
Labels: none

backport of commit a6f97f2d7911608d12a8395a8160e4007f7cd143
  internal/cli/init.go
  internal/server/singleprocess/state/project.go
Labels: core

set default poll interval on server
  internal/cli/init.go
  internal/server/singleprocess/state/project.go
Labels: core

builtin/docker: pass build args into img in correct format
  builtin/docker/builder.go
  builtin/docker/img.go
Labels: plugin, plugin/docker

backport of commit 22ea9bd6a6b99b45d6a8bbdfc368e0e3e73dc67e
  builtin/docker/builder.go
  builtin/docker/img.go
Labels: plugin, plugin/docker

Upgrade docker/docker
  .changelog/1685.txt
  go.mod
  go.sum
Labels: none

backport of commit c30df4a78a6777329855703b1458a36cf1dd8fa4
  internal/server/singleprocess/state/project.go
Labels: core

make it a const
  internal/server/singleprocess/state/project.go
Labels: core

website: upgrade code-block (#1676)
  website/content/partials/components/platform-exec.mdx
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

backport of commit 449904d5389e52b457fe36a04449451fea48550c
  internal/ceb/ceb.go
  internal/cli/main.go
  internal/serverclient/client.go
  internal/util/env.go
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/runner/run-manual.mdx
Labels: core, website

Inspecting boolean env var values.
  internal/ceb/ceb.go
  internal/cli/main.go
  internal/serverclient/client.go
  internal/util/env.go
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/runner/run-manual.mdx
Labels: core, website

Using '1' instead of 'true' for consistency
  website/content/docs/runner/run-manual.mdx
Labels: website

backport of commit 3bab6f7e74ebe9f4cc2b265bae604d1107cca2e6
  website/content/docs/runner/run-manual.mdx
Labels: website

backport of commit 5608e9231c39838ffbb95d00ad9cf2af9496ac20
  .changelog/1699.txt
Labels: none

changelog
  .changelog/1699.txt
Labels: none

backport of commit e0b296de83e424684680c64db4b0f65da1f9d31a
  internal/config/app.go
  internal/config/eval_context.go
Labels: core

add app name variable
  internal/config/app.go
  internal/config/eval_context.go
Labels: core

Updated changelog language per Clint's suggestion
  .changelog/1699.txt
Labels: none

backport of commit c8a2cbd1c19e93e0f9fb5dba38cbf06c9d6e671d
  .changelog/1699.txt
Labels: none

Changing util to env per Brian's suggestion
  internal/ceb/ceb.go
  internal/cli/main.go
  internal/env/env.go
  internal/serverclient/client.go
Labels: core

backport of commit 20ed08faf8daef464855f46b304409eb9e0a77f0
  internal/ceb/ceb.go
  internal/cli/main.go
  internal/env/env.go
  internal/serverclient/client.go
Labels: core

backport of commit c7f0a641415a52aabbf7f895d06f6f751e00307c
  website/content/docs/automating-execution/index.mdx
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/runner/run-manual.mdx
Labels: website

Not being unnecessarily perscriptive about truthiness, per Rae's suggestion
  website/content/docs/automating-execution/index.mdx
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/runner/run-manual.mdx
Labels: website

Tests perbrian's suggestion
  internal/env/env_test.go
Labels: core

backport of commit 7a15570c4d607f9dbeee210bfe25407d997d4a10
  internal/env/env_test.go
Labels: core

Minor tweaks
  internal/env/env_test.go
  website/content/docs/automating-execution/index.mdx
Labels: core, website

backport of commit b73b0fe60a170f323ddb938470889c5f5b1c3cf3
  internal/env/env_test.go
  website/content/docs/automating-execution/index.mdx
Labels: core, website

backport of commit f6206b300d6e70406f8ec29d80c8679dc95f2f4d
  internal/env/env_test.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
