Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

fix more failing tests
  pkg/server/singleprocess/service_entrypoint_test.go
  pkg/server/singleprocess/service_exec_test.go
  pkg/server/singleprocess/service_server_test.go
  pkg/server/singleprocess/service_task_test.go
Labels: none

add ctx to missing boltdbstate methods
  internal/server/boltdbstate/app_operation_test.go
  internal/server/boltdbstate/instance_logs_test.go
  internal/server/boltdbstate/instance_test.go
Labels: core

Cleanup docs about runners.
  website/content/docs/lifecycle/hooks.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/docs/resources/internals/execution.mdx
  website/content/docs/resources/troubleshooting.mdx
  website/content/docs/runner/adoption.mdx
  website/content/docs/runner/config.mdx
  website/content/docs/runner/index.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/runner/profiles.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/upgrading/index.mdx
  website/content/docs/waypoint-hcl/registry.mdx
  website/content/docs/waypoint-hcl/variables/dynamic.mdx
Labels: website

Manually made changes to merge main with stable-website
  website/content/docs/runner/index.mdx
Labels: website

Ran `make gen/website-mdx`
  website/content/docs/runner/index.mdx
Labels: website

backport of commit 59c34cfc44aeaa18f763024a7c9a7d42fa371497
  website/content/docs/runner/index.mdx
Labels: website

Fix casing typo
  website/content/docs/runner/index.mdx
Labels: website

backport of commit 59c34cfc44aeaa18f763024a7c9a7d42fa371497
  website/content/docs/runner/index.mdx
Labels: website

gen website
  website/content/docs/entrypoint/index.mdx
  website/content/docs/lifecycle/index.mdx
Labels: website

ui: bump `ember-source` to 3.28.10
  ui/package.json
  ui/yarn.lock
Labels: ui

backport of commit fa7e87b6
  ui/package.json
  ui/yarn.lock
Labels: ui

backport of commit e9cba716aa17453f341dbf9ee026c050e640b8be
  .changelog/4175.txt
  internal/cli/install.go
  internal/cli/server_upgrade.go
Labels: core

fix: if doing a server upgrade, update the OCI URL.
  .changelog/4175.txt
  internal/cli/install.go
  internal/cli/server_upgrade.go
Labels: core

Add 0.10.3 changelog
  CHANGELOG.md
Labels: none

Add changelog to release/0.10.x
  CHANGELOG.md
Labels: none

Release v0.10.3
  CHANGELOG.md
  internal/version/version.go
Labels: core

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

Use native embed for ceb packaging
  Makefile
  internal/assets/dev.go
  internal/assets/dev_assets.go
  internal/assets/prod_assets.go
Labels: core

Remove static-assets Make target in favor of native embed code
  Makefile
Labels: none

Remove go-bindata from docker image
  Dockerfile
Labels: none

Remove go-bindata from ui asset flow
  internal/server/http.go
  ui/ui-assets.go
Labels: core, ui

Migrate initial config template to native embed
  internal/cli/data/data.go
  internal/cli/datagen/datagen.go
  internal/cli/init.go
  internal/cli/main.go
Labels: core

Update formatting
  ui/ui-assets.go
Labels: ui

Remove call to go-bindata in circle-ci ceb related builds
  .circleci/config.yml
Labels: none

Remove httpfs internal pkg
  internal/pkg/httpfs/bindata_test.go
  internal/pkg/httpfs/copy.go
  internal/pkg/httpfs/copy_test.go
  internal/pkg/httpfs/httpfs.go
  internal/pkg/httpfs/testdata/dir/hello.txt
  internal/pkg/httpfs/testdata/dir/subdir/child.txt
Labels: core

Remove go-bindata from go mod/sum, nix, tools, and documentation.
  .github/CONTRIBUTING.md
  go.mod
  go.sum
  nix/waypoint.nix
  tools/tools.go
Labels: none

Don't docker ignore the ui folder anymore
  .dockerignore
Labels: none

Improve /ui dev instructions
  ui/README.md
Labels: ui

fix: Set entrypoint config for Nomad Docker driver.
  .changelog/4185.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

backport of commit 6cad64ca8d8f56f1eab1f3938b48548931dc434d
  .changelog/4185.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

bugfix: Update Vault config sourcer to not overwrite secret cache.
  .changelog/3988.txt
  builtin/vault/config_sourcer.go
  builtin/vault/internal/auth/aws/aws.go
  go.mod
  go.sum
Labels: plugin

ui: make gen/ts
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

backport of commit 9beff21efc27b8743e7b0e8869d813bc03d25fa7
  internal/cli/runner_uninstall.go
Labels: core

fix: fail on runner uninstall if runner forget fails.
  internal/cli/runner_uninstall.go
Labels: core

fix: End step in SG properly when forgetting runners during runner install.
  internal/cli/runner_uninstall.go
Labels: core

backport of commit 06487d895d2fe78c9db4f8c67cb9161658dae2bd
  internal/cli/runner_uninstall.go
Labels: core

runner/install/helm: Allow runner install to specify helm ref
  internal/installutil/k8s/k8s.go
  internal/runnerinstall/k8s.go
Labels: core

Add changelog
  .changelog/4202.txt
Labels: none

docs: Add new flag to website
  website/content/commands/runner-install.mdx
Labels: website

fix: Account for pagination of results of file system query.
  internal/runnerinstall/ecs.go
Labels: core
