Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

initial addition of GH->Jira workflow
  .github/workflows/jira.yml
Labels: none

Properly validate form of event types
  pkg/server/singleprocess/service_runner.go
Labels: none

change title to denote issue #; not task/bug/story
  .github/workflows/jira.yml
Labels: none

backport of commit d6f00c547c6594e1eebf03ec03712bf1aefe16f8
  website/content/commands/project-destroy.mdx
Labels: website

update docs
  website/content/commands/project-destroy.mdx
Labels: website

add json gen
  embedJson/gen/platform-aws-ecs.json
  embedJson/gen/releasemanager-aws-alb.json
Labels: none

update website mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

update changelog
  .changelog/4230.txt
Labels: none

Testing DeploymentGet
  pkg/serverstate/statetest/test_deployment.go
Labels: none

feat: Enable scoped config sources for CLI, runners, and entrypoint.
  .changelog/4196.txt
  internal/cli/config_source_get.go
  internal/cli/config_source_set.go
  pkg/server/singleprocess/service_entrypoint.go
  pkg/server/singleprocess/service_runner.go
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
Labels: core, website

backport: Revert context passed to state functions for config sources.
  pkg/server/singleprocess/service_entrypoint.go
  pkg/server/singleprocess/service_runner.go
Labels: none

backport of commit ec29dc7066776074b7863eb3a4e0315245f07868
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

docs: Update Vault dynamic secrets use case.
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

backport of commit 2760ead811557aa4de2b02439d43931b547bbb04
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

docs: Update Vault dynamic secrets use case link to examples repo.
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

backport of commit fbc3dbb0f0d08151b49b2a257cf46337fc426054
  internal/runnerinstall/ecs.go
Labels: core

sleep: Update ecs runner install to wait 5 seconds between file system deletion attempts.
  internal/runnerinstall/ecs.go
Labels: core

backport of commit ad6a20b87c01f1ca354a889d8c1c829e0f9decbd
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
Labels: core

const: Introduce new const for ECS runner uninstall.
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
Labels: core

backport of commit dba3b67a9b72748adbd3f1b9202c497d444a328a
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

docfix: Vault use case format.
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

backport of commit a1d5d290debf01a52b66846691cd773b4a16cdd6
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

docs: List items for further reading in Vault use case.
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

Add security groups parameter to alb stanza
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/releaser.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
Labels: plugin, plugin/aws

update docs
  embedJson/gen/platform-aws-ecs.json
  embedJson/gen/releasemanager-aws-alb.json
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
Labels: website

update website docs
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

incorporate pr feedback
  builtin/aws/alb/releaser.go
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
  website/package-lock.json
Labels: plugin, plugin/aws, website

update website mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

update changelog
  .changelog/4230.txt
Labels: none

feat(cli): add socket-path flag to runner install
  internal/runnerinstall/docker.go
Labels: core

generate doc
  website/content/commands/runner-install.mdx
Labels: website

Stub docker builtin
  builtin/docker/README.md
  builtin/docker/components/builder/README.md
  builtin/docker/components/platform/README.md
  builtin/docker/components/registry/README.md
  builtin/docker/components/task/README.md
  builtin/docker/metadata.hcl
Labels: plugin, plugin/docker

Adds notify release action
  .github/workflows/notify-integration-release-manual.yml
Labels: none

Update to matrix strategy
  .github/workflows/notify-integration-release-manual.yml
Labels: none

Add fully stubbed builder to illustrate vars usage
  builtin/docker/components/builder/outputs.hcl
  builtin/docker/components/builder/parameters.hcl
  builtin/docker/metadata.hcl
Labels: plugin, plugin/docker

Stub docker files
  builtin/docker/README.md
  builtin/docker/components/platform/outputs.hcl
  builtin/docker/components/platform/parameters.hcl
  builtin/docker/components/registry/outputs.hcl
  builtin/docker/components/registry/parameters.hcl
  builtin/docker/components/task/outputs.hcl
  builtin/docker/components/task/parameters.hcl
Labels: plugin, plugin/docker

Adds Docker Pull & Ref
  builtin/docker/pull/README.md
  builtin/docker/pull/components/builder/outputs.hcl
  builtin/docker/pull/components/builder/parameters.hcl
  builtin/docker/pull/metadata.hcl
  builtin/docker/ref/README.md
  builtin/docker/ref/components/builder/outputs.hcl
  builtin/docker/ref/components/builder/parameters.hcl
  builtin/docker/ref/metadata.hcl
Labels: plugin, plugin/docker

Adds aws-alb
  builtin/aws/alb/README.md
  builtin/aws/alb/components/release-manager/outputs.hcl
  builtin/aws/alb/components/release-manager/parameters.hcl
  builtin/aws/alb/metadata.hcl
Labels: plugin, plugin/aws

Adds AWS AMI
  builtin/aws/ami/README.md
  builtin/aws/ami/components/builder/outputs.hcl
  builtin/aws/ami/components/builder/parameters.hcl
  builtin/aws/ami/metadata.hcl
Labels: plugin, plugin/aws

Adds AWS EC2
  builtin/aws/ec2/README.md
  builtin/aws/ec2/components/platform/outputs.hcl
  builtin/aws/ec2/components/platform/parameters.hcl
  builtin/aws/ec2/metadata.hcl
Labels: plugin, plugin/aws

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
