Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

auto-updated internal/server/gen/bindata_ui.go from commit 50b0ca72
  internal/server/gen/bindata_ui.go
Labels: core

backport of commit 95e82ed053e43fe47e9cc00aaa8b6a5c6b8c7ef9
  ui/app/styles/_variables.scss
Labels: ui

ui: add missing --badge-text for light mode
  ui/app/styles/_variables.scss
Labels: ui

ui: add missing `key` to builds list
  ui/app/templates/workspace/projects/project/app/builds.hbs
Labels: ui

backport of commit 0b3b8325ffbd7a69d279a8cb801b0011aba7a085
  ui/app/templates/workspace/projects/project/app/builds.hbs
Labels: ui

backport of commit f39b03179f08ce34c52921357b93abf1709b01ed
  ui/app/templates/workspace/projects/project/app/releases.hbs
Labels: ui

ui: add missing `key` to releases list
  ui/app/templates/workspace/projects/project/app/releases.hbs
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 0051c236
  internal/server/gen/bindata_ui.go
Labels: core

Refactored: the #page css element
  ui/app/components/page-header.hbs
  ui/app/components/page.hbs
  ui/app/styles/_layout.scss
  ui/app/styles/_page.scss
  ui/app/styles/_variables.scss
  ui/app/styles/app.scss
  ui/app/styles/components/app-card-item.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/badge.scss
  ui/app/styles/components/button.scss
  ui/app/styles/components/card.scss
  ui/app/styles/components/cli-hint.scss
  ui/app/styles/components/copyable-code.scss
  ui/app/styles/components/empty-state.scss
  ui/app/styles/components/flash.scss
  ui/app/styles/components/icon-tile.scss
  ui/app/styles/components/input.scss
  ui/app/styles/components/navigation/breadcrumbs.scss
  ui/app/styles/components/navigation/footer.scss
  ui/app/styles/components/navigation/header.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/notifications.scss
  ui/app/styles/components/output-pane.scss
  ui/app/styles/components/status-badge.scss
  ui/app/styles/components/structure/pds-form.scss
  ui/app/styles/components/structure/pds-tabnav.scss
  ui/app/styles/components/x-toggle.scss
  ui/app/styles/pages/auth-page.scss
  ui/app/styles/pages/login.scss
  ui/app/styles/pages/onboarding.scss
  ui/app/styles/utilities/animations.scss
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

Removed references to id in favor of seq #
  .changelog/1713.txt
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

backport of commit 475d6eb9b2d11bc5af6789ad5880b944b4ddc0e9
  .changelog/1713.txt
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 71617cb0
  internal/server/gen/bindata_ui.go
Labels: core

ui: upgrade engine.io-client to 3.5.2
  ui/yarn.lock
Labels: ui

backport of commit 361104e0ce4c1852ae66957f060f34f70f0f8a85
  ui/yarn.lock
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit cc8433b2
  internal/server/gen/bindata_ui.go
Labels: core

backport of commit db24a9577ec5ea38f3f3448319e7149d30b41a1c
  internal/server/grpc.go
  internal/server/server.go
Labels: core

Ensuring everything exits cleanly
  internal/server/grpc.go
  internal/server/server.go
Labels: core

Tuning logs
  internal/server/grpc.go
  internal/server/http.go
  internal/server/server.go
Labels: core

backport of commit 075610b222c05d428ab155110b20fe3614f2c799
  internal/server/grpc.go
  internal/server/http.go
  internal/server/server.go
Labels: core

backport of commit 80e3d28df5fcb75539dd624011ca25b2c25625ee
  website/content/docs/waypoint-hcl/variables/index.mdx
Labels: website

website: fix broken link to variable artifact page
  website/content/docs/waypoint-hcl/variables/index.mdx
Labels: website

backport of commit 80e3d28df5fcb75539dd624011ca25b2c25625ee
  website/content/docs/waypoint-hcl/variables/index.mdx
Labels: website

internal/server: proto for User model
  internal/server/gen/mocks/is_user__link__method.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server: basic state methods for users
  internal/server/ptypes/user.go
  internal/server/singleprocess/state/user.go
  internal/server/singleprocess/state/user_test.go
Labels: core

internal/server: authenticator can replace context
  internal/server/auth.go
  internal/server/auth_test.go
Labels: core

internal/server: create default user on first auth with old token
  internal/server/singleprocess/auth.go
Labels: core

internal/server: signup tokens work
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core

internal/server: tokens respect user account system
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  internal/server/singleprocess/state/user.go
Labels: core

internal/server: proto for GetUser request
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server: TestServer should bootstrap and auth
  internal/server/testing.go
Labels: core

internal/server: add test to ensure WithSuperuser works
  internal/server/singleprocess/auth_test.go
Labels: core

internal/server: fix some test failures
  internal/server/auth.go
  internal/server/server_test.go
Labels: core

internal/server: GetUser
  internal/server/singleprocess/service_user.go
Labels: core

internal/server: local mode server acts as if superuser does everything
  internal/client/server.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_user.go
Labels: core

internal/server: proto changes for updateuser
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server: UpdateUser
  internal/server/ptypes/user.go
  internal/server/singleprocess/service_user.go
  internal/server/singleprocess/service_user_test.go
Labels: core

proto: DeleteUser
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server: DeleteUser
  internal/server/ptypes/user.go
  internal/server/singleprocess/service_user.go
Labels: core

internal/server/state: can't delete last user
  internal/server/singleprocess/service_user_test.go
  internal/server/singleprocess/state/user.go
  internal/server/singleprocess/state/user_test.go
Labels: core

internal/server: don't copy locks
  internal/server/singleprocess/service_user_test.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
