Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/cli: detect kind and show warning about additional requirements
  internal/cli/install.go
Labels: core

fix(cli): application configuration url
  internal/cli/main.go
Labels: core

builtin/google/cloudrun: nil check block configs
  builtin/google/cloudrun/platform.go
Labels: plugin, plugin/google

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

builtin/aws: use SharedConfig to load ~/.aws/config
  builtin/aws/alb/releaser.go
  builtin/aws/ami/builder.go
  builtin/aws/ec2/platform.go
  builtin/aws/ecr/registry.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
  builtin/aws/utils/session.go
Labels: plugin, plugin/aws

builtin/aws: fix docs
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Fix typo
  website/content/docs/automating-execution/jenkins.mdx
Labels: website

Improve sentence flow in docs
  website/content/docs/extending-waypoint/index.mdx
Labels: website

Update guide to use simpler command for protocol buffer generation
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/passing-values.mdx
Labels: website

Enable mandatory go formatting check in CI pipeline
  .circleci/config.yml
Labels: none

Add ability to publish to remote docker engines, pull image if not present on docker engine.
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Correct config item name
  builtin/docker/platform.go
Labels: plugin, plugin/docker

replace env var with link
  .circleci/config.yml
Labels: none

gofmt -s
  Makefile
  builtin/azure/aci/platform.go
  builtin/docker/builder.go
  builtin/docker/pull/builder.go
  builtin/exec/mapper.go
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/releaser.go
  builtin/google/cloudrun/validation_test.go
  builtin/pack/builder.go
  internal/assets/dev_assets.go
  internal/cli/context_list.go
  internal/cli/datagen/datagen.go
  internal/config/default_test.go
  internal/pkg/epinject/epinject_test.go
  internal/pkg/httpfs/bindata_test.go
  internal/server/bindata_ui.go
  internal/server/gen/bindata_ui.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
  internal/server/singleprocess/state/config.go
  internal/server/singleprocess/state/hmac.go
  internal/server/singleprocess/state/instance.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_assigned.go
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/runner.go
  internal/server/singleprocess/state/server_config.go
  internal/server/singleprocess/state/workspace.go
  internal/serverinstall/datagen/bindata.go
Labels: core, plugin, plugin/azure, plugin/docker, plugin/google, plugin/pack

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/clicontext: fall back to plain files if symlinks don't work
  internal/clicontext/storage.go
  internal/clicontext/storage_test.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

ui: switch back to public onboarding
  ui/app/routes/onboarding/install/index.ts
  ui/app/templates/onboarding/install.hbs
  ui/app/templates/onboarding/install/homebrew.hbs
  ui/app/templates/onboarding/install/manual.hbs
Labels: ui

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

builtin/aws-ecs: fix crash if subnets are specified
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

builtin/aws: docs
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

ui: remove another beta-binaries link
  ui/app/templates/onboarding/install/homebrew.hbs
Labels: ui

[squash] Use -force instead of -auto-approve flag
  internal/cli/base.go
  internal/cli/destroy.go
Labels: core

internal/server: send instance ID as hzn label
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_hostname.go
Labels: core

internal/ceb: always send version/revision as hzn labels
  internal/ceb/url.go
Labels: core

ui: add onboarding tests
  ui/app/components/context-create/index.hbs
  ui/app/routes/onboarding/index.ts
  ui/app/templates/onboarding/connect.hbs
  ui/app/templates/onboarding/install.hbs
  ui/app/templates/onboarding/start.hbs
  ui/mirage/config.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/helpers/set-ua.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit e9706fbd
  internal/server/gen/bindata_ui.go
Labels: core

ui: remove windows onboarding install for now
  ui/app/routes/onboarding/install/index.ts
  ui/app/templates/onboarding/install/chocolatey.hbs
  ui/tests/acceptance/onboarding-test.ts
Labels: ui

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

static assets
  internal/server/gen/bindata_ui.go
Labels: core

ui: remove choco tab
  internal/server/gen/bindata_ui.go
  ui/app/templates/onboarding/install.hbs
Labels: core, ui

Improved private registry docs
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/deploy.mdx
Labels: website

auto-updated internal/server/gen/bindata_ui.go from commit 7fa616e4
  internal/server/gen/bindata_ui.go
Labels: core

Release v0.1.3
  internal/version/version.go
Labels: core

ui: update static-assets
  internal/server/gen/bindata_ui.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
