Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/cli: fix dropped errors
  internal/cli/install.go
  internal/cli/k8s_bootstrap.go
Labels: core

backport of commit e28e3413018300f04ea83a82abddeecd4eda0a6b
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/consul.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ec2.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ui.png
  website/public/img/use-cases/hcp-hashistack-quickstart/waypoint-runner-install.png
  website/public/img/use-cases/hcp-hashistack-quickstart/wp-runner-install.png
Labels: website

backport of commit e28e3413018300f04ea83a82abddeecd4eda0a6b
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/consul.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ec2.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ui.png
  website/public/img/use-cases/hcp-hashistack-quickstart/waypoint-runner-install.png
  website/public/img/use-cases/hcp-hashistack-quickstart/wp-runner-install.png
Labels: website

update use case hashistack quickstart
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/public/img/use-cases/hcp-hashistack-quickstart/consul.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ec2.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ui.png
  website/public/img/use-cases/hcp-hashistack-quickstart/waypoint-runner-install.png
  website/public/img/use-cases/hcp-hashistack-quickstart/wp-runner-install.png
Labels: website

backport of commit dbf965127d372cf46f65c10d9d23790ee976d8cb
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit dbf965127d372cf46f65c10d9d23790ee976d8cb
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

add game link
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 656708f3be48ed711427c1d3e06a429570f6e784
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

website mdx
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 656708f3be48ed711427c1d3e06a429570f6e784
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

format
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 3ae35f5c6ce0b0968fa8b3975e74691725abc833
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 3ae35f5c6ce0b0968fa8b3975e74691725abc833
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 8de32d35c86bdfcec11fef1ef36c3945e9623d2e
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp-2048.png
Labels: website

add image
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp-2048.png
Labels: website

backport of commit 8de32d35c86bdfcec11fef1ef36c3945e9623d2e
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp-2048.png
Labels: website

backport of commit 35ed667e5437f5392f6620d8771b5d8b92a87471
  website/data/docs-nav-data.json
Labels: website

add to sidebar
  website/data/docs-nav-data.json
Labels: website

backport of commit 35ed667e5437f5392f6620d8771b5d8b92a87471
  website/data/docs-nav-data.json
Labels: website

replace formating characters in description
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 059fa4686c19b597d3ee582fd7550623b6ffe1e8
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit 059fa4686c19b597d3ee582fd7550623b6ffe1e8
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

test: Fixup test job tests when context was previously cancelled
  pkg/serverstate/statetest/test_job.go
Labels: none

lint: Fix linter
  pkg/serverstate/statetest/test_job.go
Labels: none

Use simplified ctx
  pkg/serverstate/statetest/test_job.go
Labels: none

backport of commit e25e45c719e3efd2bd7a4c43a92bb47618806d43
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit e25e45c719e3efd2bd7a4c43a92bb47618806d43
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

replace hashistack with hashicorp stack
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

ui: make gen/ts
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

Adds Function URL & Null descriptions
  builtin/aws/lambda/function_url/metadata.hcl
  builtin/null/metadata.hcl
Labels: plugin, plugin/aws

update null plugin description
  builtin/null/metadata.hcl
Labels: plugin

update lambda function_url description
  builtin/aws/lambda/function_url/metadata.hcl
Labels: plugin, plugin/aws

gen make/website-mdx
  embedJson/gen/configsourcer-packer.json
  embedJson/gen/platform-nomad.json
  website/content/partials/components/configsourcer-packer.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: website

ci: Add integration check for builtin doc generation (#4343)
  .circleci/config.yml
Labels: none

Adjust language & links on plugins page
  website/content/docs/plugins.mdx
Labels: website

Update links to new integrations library
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/index.mdx
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/deploy.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/runner/profiles.mdx
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/waypoint-hcl/use.mdx
  website/content/docs/waypoint-hcl/variables/artifact.mdx
  website/content/docs/waypoint-hcl/variables/deploy.mdx
Labels: website

backport of commit df270f23683ece56b681e5953297e65508ccf672
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

backport of commit df270f23683ece56b681e5953297e65508ccf672
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

some revisions
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
Labels: website

change title
  website/data/docs-nav-data.json
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
