Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/config/funcs: templatedir
  internal/config/funcs/template.go
Labels: core

internal/config/funcs: templatefile
  internal/config/funcs/template.go
  internal/config/funcs/template_test.go
Labels: core

internal/config/funcs: templatestring
  internal/config/funcs/template.go
  internal/config/funcs/template_test.go
Labels: core

internal/config/funcs: file functions require absolute path
  internal/config/funcs/filesystem.go
  internal/config/funcs/filesystem_test.go
Labels: core

internal/cli: disable auth check
  internal/cli/init.go
Labels: core

internal/config: add template funcs to context
  internal/config/app.go
  internal/config/config.go
  internal/config/eval_context.go
Labels: core

internal/ceb: prevent multiple horizon agents from running in the same ceb
  internal/ceb/ceb.go
  internal/ceb/url.go
Labels: core

backport of commit 43f37add29f5684035c2479daac6cad35eab41ec
  internal/ceb/ceb.go
  internal/ceb/url.go
Labels: core

bump ProductDownloader
  website/package-lock.json
  website/package.json
Labels: website

backport of commit 4b81af1f7461ba917ab7047fd6a8259a0365b988
  website/package-lock.json
  website/package.json
Labels: website

internal/core: deploy and release have access to templates
  internal/core/app_deploy.go
  internal/core/app_release.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/core: destroys load their details
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
  internal/core/operation.go
Labels: core

builtin/google/cloudrun: default releaser
  builtin/google/cloudrun/platform.go
Labels: plugin, plugin/google

backport of commit 73dcb41caab1d599e3f1919d9d902d6245875ee7
  builtin/google/cloudrun/platform.go
Labels: plugin, plugin/google

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

builtin/k8s: default releaser should mirror namespace settings
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 4b0b8eef3df1306927a1a9693a215edec067e46f
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

builtin/google-cloud-run: less strict image validation
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
Labels: plugin, plugin/google

backport of commit 17d3d8422a09115ef53bb814bbdf37139f7ecd88
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
Labels: plugin, plugin/google

internal/core: load default releaser with new deferred config
  internal/core/app.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
Labels: core

backport of commit a5ade3a3938169f5f2be6e27b15a3cf3877941e7
  internal/ceb/ceb.go
  internal/ceb/url.go
Labels: core

internal/ceb: mu => urlAgentMu
  internal/ceb/ceb.go
  internal/ceb/url.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/server: don't use monotonic ulids
  internal/server/id.go
Labels: core

backport of commit 4f4fac65f62276df8760306966fff798ae289065
  internal/server/id.go
Labels: core

return error if type is ErrSentinel to signal exit codes
  internal/cli/app_docs.go
  internal/cli/artifact_build.go
  internal/cli/artifact_push.go
  internal/cli/base.go
  internal/cli/deployment_create.go
  internal/core/operation.go
Labels: core

backport of commit 2096390a0f02d8992117a01ceb366a86a05f2568
  internal/cli/app_docs.go
  internal/cli/artifact_build.go
  internal/cli/artifact_push.go
  internal/cli/base.go
  internal/cli/deployment_create.go
  internal/core/operation.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

point to local waypoint-plugin-sdk
  go.mod
  go.sum
Labels: none

internal/core: update TemplateData if available
  internal/core/operation.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/pkg/ctystructure: package to convert maps to cty objects
  internal/pkg/ctystructure/doc.go
  internal/pkg/ctystructure/object.go
  internal/pkg/ctystructure/object_test.go
Labels: core

go.mod
  go.mod
  go.sum
Labels: none

go.mod
  go.mod
  go.sum
Labels: none

internal/core: expose build data as HCL for pushes
  internal/core/app_push.go
  internal/core/eval_context.go
Labels: core

internal/core: more logging
  internal/core/app_push.go
Labels: core

internal/pkg/ctystructure: handle invalids
  internal/pkg/ctystructure/object.go
Labels: core

update waypoint-plugin-sdk
  go.mod
  go.sum
Labels: none

internal/core: push field is artifact
  internal/core/app_push.go
Labels: core

internal/cli: disable auth check
  internal/cli/init.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
