Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

builtin/pack: document remote build requirements
  builtin/pack/builder.go
Labels: plugin, plugin/pack

website: add server upgrade and uninstall docs
  internal/cli/app_docs.go
  website/data/commands-nav-data.json
Labels: core, website

ui bindata
  internal/server/gen/bindata_ui.go
Labels: core

website: update
  builtin/k8s/platform.go
  internal/cli/init.go
  website/content/commands/init.mdx
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/partials/components/platform-kubernetes.mdx
Labels: core, plugin, plugin/k8s, website

internal/runner: use project name specified in job
  internal/config/config.go
  internal/config/validate.go
  internal/runner/operation.go
Labels: core

website: document project is optional
  website/content/docs/waypoint-hcl/index.mdx
Labels: website

ui: remove help text for project name
  ui/app/templates/workspace/projects/new.hbs
  ui/translations/en-us.yaml
Labels: ui

Default git ref to HEAD
  ui/app/components/app-form/project-settings.ts
Labels: ui

rename label to SSH Private Key
  ui/translations/en-us.yaml
Labels: ui

refetch model on route reentry
  ui/app/routes/workspace/projects/project/settings.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit dcc740c7
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit 17ce2561
  internal/server/gen/bindata_ui.go
Labels: core

builtin/pack: output to user if Docker is not available
  builtin/pack/builder.go
Labels: plugin, plugin/pack

remove app settings tab
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/settings.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/settings.hbs
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 27ed9fe6
  internal/server/gen/bindata_ui.go
Labels: core

Update the StackMenu to the latest (#1260)
  website/package-lock.json
  website/package.json
Labels: website

auto-updated internal/server/gen/bindata_ui.go from commit ec4f1671
  internal/server/gen/bindata_ui.go
Labels: core

wrap log output to container width (for secable content)
  ui/app/styles/_page.scss
Labels: ui

Add note about how to enable git between ui and waypoint.hcl config
  website/content/docs/projects/git.mdx
Labels: website

Add troubleshooting information to git doc
  website/content/docs/projects/git.mdx
Labels: website

Fix Git casing
  website/content/docs/projects/git.mdx
Labels: website

Clarify config example for where runner stanza goes
  website/content/docs/projects/git.mdx
Labels: website

Add note about where git settings are in UI
  website/content/docs/projects/git.mdx
Labels: website

Add git ref screenshot
  website/content/docs/projects/git.mdx
  website/public/img/ref-tracking-git.png
Labels: website

Add k8s log troubleshooting example
  website/content/docs/projects/git.mdx
Labels: website

website: Update git project docs
  website/content/docs/projects/git.mdx
Labels: website

Add screenshot for project git settings
  website/content/docs/projects/git.mdx
  website/public/img/project-git.png
Labels: website

Add note about pack builds
  website/content/docs/projects/git.mdx
Labels: website

Update line for where git polling is enabled
  website/content/docs/projects/git.mdx
Labels: website

Fix header
  website/content/docs/projects/git.mdx
Labels: website

Lower server requirement header
  website/content/docs/projects/git.mdx
Labels: website

Reword setup section
  website/content/docs/projects/git.mdx
Labels: website

Add link to setting up a runner manually
  website/content/docs/projects/git.mdx
Labels: website

Add web ui info for creating a new project
  website/content/docs/projects/index.mdx
  website/public/img/new-waypoint-install-ui.png
  website/public/img/new-waypoint-project.png
  website/public/img/waypoint-project-created.png
Labels: website

Add error message on failed builds
  .changelog/1280.txt
  ui/app/components/operation-logs/index.ts
  ui/app/templates/workspace/projects/project/app/build.hbs
Labels: ui

Add error messages to deploys and releases
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

Add ~= 160 char max width
  ui/app/styles/_page.scss
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit fcff7ab0
  internal/server/gen/bindata_ui.go
Labels: core

Add status badges for releases and deployments
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 05e8aca9
  internal/server/gen/bindata_ui.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
