Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/cli: show flags help on snapshot commands
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
Labels: core

Add waypoint-entrypoint to Docker image
  Dockerfile
  Makefile
Labels: none

website: regen CLI docs
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
  website/content/commands/config-sync.mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-restore.mdx
  website/content/commands/server-snapshot.mdx
  website/content/partials/commands/config-source-get_desc.mdx
  website/content/partials/commands/config-source-get_more.mdx
  website/content/partials/commands/config-source-set_desc.mdx
  website/content/partials/commands/config-source-set_more.mdx
  website/content/partials/commands/config-sync_desc.mdx
  website/content/partials/commands/config-sync_more.mdx
  website/content/partials/commands/server-restore_desc.mdx
  website/content/partials/commands/server-restore_more.mdx
  website/content/partials/commands/server-snapshot_desc.mdx
  website/content/partials/commands/server-snapshot_more.mdx
  website/data/commands-navigation.js
Labels: website

website: snapshot/restore docs
  website/content/docs/server/run/maintenance.mdx
Labels: website

Add Connect link to header
  ui/app/components/actions/context.hbs
  ui/app/components/actions/context.ts
  ui/app/components/actions/invite.hbs
  ui/app/components/header/index.hbs
  ui/app/styles/_header.scss
Labels: ui

‘Connect’ -> ‘CLI’
  ui/app/components/actions/context.hbs
  ui/app/styles/_header.scss
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 967377c5
  internal/server/gen/bindata_ui.go
Labels: core

Move version info fetching to component
  ui/app/components/app-footer/index.hbs
  ui/app/components/app-footer/index.js
  ui/app/components/version-info/index.hbs
  ui/app/components/version-info/index.ts
  ui/app/routes/application.ts
  ui/app/styles/_footer.scss
  ui/app/styles/app.scss
  ui/app/templates/application.hbs
Labels: ui

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add flags for build compression
  Makefile
Labels: none

Add footer logo and date
  ui/app/components/app-footer/index.hbs
  ui/app/helpers/current-year.ts
  ui/app/styles/_footer.scss
  ui/public/images/hashicorp.svg
Labels: ui

Footer styling changes (from suggestions)
  ui/app/components/app-footer/index.hbs
  ui/app/styles/_footer.scss
  ui/public/images/hashicorp.svg
Labels: ui

style footer information
  ui/app/components/version-info/index.hbs
  ui/app/styles/_footer.scss
Labels: ui

Add badge if minimum versions not met
  ui/app/components/version-info/index.hbs
  ui/app/styles/_footer.scss
Labels: ui

website: remove config from roadmap
  website/content/docs/roadmap.mdx
Labels: website

builtin/vault: nil check on freeport
  builtin/vault/freeport/freeport.go
Labels: plugin

Update docker-compose.yml from Horizon
  docker-compose.yml
Labels: none

Update README to include how to run tests with go locally
  README.md
Labels: none

Update padding on footer items
  ui/app/styles/_footer.scss
Labels: ui

Update api and entrypoint label
  ui/app/components/version-info/index.hbs
Labels: ui

use rsvp.hash
  ui/app/routes/workspace/projects/project/app.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 25de7546
  internal/server/gen/bindata_ui.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit 539e7d0b
  internal/server/gen/bindata_ui.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

alphabetize flags
  internal/cli/install.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

website: regen
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

backport of commit d22476475d6e486cbbfb9f9b34436a837ed608f2
  website/content/docs/upgrading/version-guides/0.2.0.mdx
  website/content/docs/upgrading/version-guides/index.mdx
  website/data/docs-navigation.js
Labels: website

website: version 0.2.0 upgrade guide
  website/content/docs/upgrading/version-guides/0.2.0.mdx
  website/content/docs/upgrading/version-guides/index.mdx
  website/data/docs-navigation.js
Labels: website

Update website/content/docs/upgrading/version-guides/0.2.0.mdx
  website/content/docs/upgrading/version-guides/0.2.0.mdx
Labels: website

backport of commit 49a6e22b0218126b8711512c4913d17fb8228fb4
  website/content/docs/upgrading/version-guides/0.2.0.mdx
Labels: website

backport of commit b4165b05fdb3783fd550ed5af7c9562ab6798d57
  website/content/docs/upgrading/version-guides/0.2.0.mdx
Labels: website

website: grammar
  website/content/docs/upgrading/version-guides/0.2.0.mdx
Labels: website

local static-assets
  internal/server/gen/bindata_ui.go
Labels: core

ui: update static-assets
  internal/server/gen/bindata_ui.go
Labels: core

Release v0.2.0
  CHANGELOG.md
  internal/version/version.go
  website/data/version.js
Labels: core, website

backport of commit 77b81af32b69bd1eada44ac845b66a364545de04
  website/content/docs/upgrading/version-guides/0.2.0.mdx
  website/public/img/upgrade-0.2.0/version.png
Labels: website

website: UI example
  website/content/docs/upgrading/version-guides/0.2.0.mdx
  website/public/img/upgrade-0.2.0/version.png
Labels: website

Putting source back into Dev Mode
  CHANGELOG.md
Labels: none

bust cache if ui/lib changes
  .circleci/config.yml
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
