Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

backport of commit 2baf0e077154877831d255238d2cdb08aea3974e
  ui/app/helpers/icon-for-component.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 51258f79
  internal/server/gen/bindata_ui.go
Labels: core

Use {{t
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

backport of commit 28571f04f48586a40983c76f893e7bb10eec8188
  ui/app/templates/workspace/projects/index.hbs
Labels: ui

Apply style guide to translations
  ui/translations/en-us.yaml
Labels: ui

backport of commit 28021923d30d88dc2311c63a8d7000d071029ef0
  ui/translations/en-us.yaml
Labels: ui

ignore error if server doesn't have health checks
  internal/cli/deployment_list.go
Labels: core

backport of commit 65d14fd449ede396a672f4f432edfc9708c40215
  internal/cli/deployment_list.go
Labels: core

changelog
  .changelog/1596.txt
Labels: none

backport of commit 61ab591290bf02aa0ffb40f5f823a52c51ba522f
  .changelog/1596.txt
Labels: none

backport of commit 9b4d7004e8a50a73e625dc1f960b8bc366f451d1
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
Labels: ui

Fix dark mode changes
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit a6725010
  internal/server/gen/bindata_ui.go
Labels: core

backport of commit c451c659ee4f7318877fdb7c0f12ffa792c3dde9
  website/content/docs/app-config/files.mdx
  website/content/docs/app-config/index.mdx
  website/content/docs/app-config/internal.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit c451c659ee4f7318877fdb7c0f12ffa792c3dde9
  website/content/docs/app-config/files.mdx
  website/content/docs/app-config/index.mdx
  website/content/docs/app-config/internal.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/data/docs-nav-data.json
Labels: website

website: document configuration files and internal values
  website/content/docs/app-config/files.mdx
  website/content/docs/app-config/index.mdx
  website/content/docs/app-config/internal.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit 9c3a2d2d912ac751477f2aa4ab66757ebec16379
  website/content/docs/app-config/internal.mdx
Labels: website

website: address feedback
  website/content/docs/app-config/internal.mdx
Labels: website

backport of commit 9c3a2d2d912ac751477f2aa4ab66757ebec16379
  website/content/docs/app-config/internal.mdx
Labels: website

nix: update nixpkgs
  nix/sources.json
Labels: none

Add animation to alive state icon
  ui/app/styles/_animations.scss
  ui/app/styles/_status-badge.scss
Labels: ui

ALB Releaser: implement Destroyer
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

add changelog
  .changelog/1611.txt
Labels: none

Pulse opacity
  ui/app/styles/_animations.scss
  ui/app/styles/_status-badge.scss
Labels: ui

chore: updates alert-banner — hashiconf eu (#1565)
  website/data/alert-banner.js
Labels: website

use pulse animation
  ui/app/styles/_status-badge.scss
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit af74a351
  internal/server/gen/bindata_ui.go
Labels: core

Moving vendor to 3rdparty
  .gitmodules
  Makefile
  internal/server/server.go
Labels: core

3rdparty -> thirdparty
  .gitmodules
  Makefile
  internal/server/server.go
Labels: core

website: update alert banner
  website/data/alert-banner.js
Labels: website

backport of commit 3ce7dd51dd6a329f5ce97f3fe8d671525d31f925
  website/data/alert-banner.js
Labels: website

backport of commit 3ce7dd51dd6a329f5ce97f3fe8d671525d31f925
  website/data/alert-banner.js
Labels: website

backport of commit 710ac18b843c81798d4e2a5550f6d2ca96e01dc4
  internal/cli/deployment_list.go
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

CLI list deployments shows health for each entry
  internal/cli/deployment_list.go
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

changelog
  .changelog/1594.txt
Labels: none

backport of commit 63584753bfcb2988f2a670f26a4c164fef2add55
  .changelog/1594.txt
Labels: none

Update internal/server/proto/server.proto
  internal/server/proto/server.proto
Labels: core

backport of commit 93b45dff75a16ab6e28eddf677dc4dfd918d8162
  internal/server/proto/server.proto
Labels: core

backport of commit f2f1355b4294e826c76bb26cdbef1603df5ded99
  internal/cli/deployment_list.go
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
Labels: core

Change TimeGenerated to GeneratedTime to match convention
  internal/cli/deployment_list.go
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
Labels: core
