Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

rename new to create
  ui/app/controllers/workspace/projects/create.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/create.ts
  ui/app/templates/workspace/projects/create.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/translations/en-us.yaml
Labels: ui

rename css
  ui/app/styles/pages/_index.scss
  ui/app/styles/pages/projects/create.scss
Labels: ui

backport of commit 78557b2c80a6625193416fcb57ef612b9e7cf2c1
  internal/cli/deployment_create.go
Labels: core

Adds paragraph to 'deploy' command docs regarding '-release' flag
  internal/cli/deployment_create.go
Labels: core

backport of commit 78557b2c80a6625193416fcb57ef612b9e7cf2c1
  internal/cli/deployment_create.go
Labels: core

Autogen mdx files
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
Labels: website

backport of commit 58af3984501de4caf0c53853ac25df5c055355ef
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
Labels: website

backport of commit 58af3984501de4caf0c53853ac25df5c055355ef
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
Labels: website

Update and fix deprecations
  ui/app/instance-initializers/session-workspace-storage.ts
  ui/app/routes/application.ts
  ui/app/services/session.ts
  ui/ember-cli-build.js
  ui/yarn.lock
Labels: ui

Deduplicate node modules
  ui/yarn.lock
Labels: ui

Upgrade ember-simple-auth to 4.2.1
  ui/package.json
  ui/yarn.lock
Labels: ui

Lint
  ui/app/services/session.ts
Labels: ui

Remove session migration initializer while whe're at it
  ui/app/initializers/migrate-session.ts
Labels: ui

UI: update ember-simple-auth (#3179)
  ui/app/initializers/migrate-session.ts
  ui/app/instance-initializers/session-workspace-storage.ts
  ui/app/routes/application.ts
  ui/app/services/session.ts
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui

server: Drive Task state via server state in the job system
  internal/runner/operation.go
  internal/runner/operation_task.go
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/task.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_task_test.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_task.go
Labels: core

Add support to Nomad install for CSI secrets.
  internal/serverinstall/nomad.go
Labels: core

backport of commit 00878eeb5db93173fb2f6433aaf9e0a52b3ba4b5
  internal/serverinstall/nomad.go
Labels: core

Add support to Nomad install for CSI parameters.
  internal/serverinstall/nomad.go
Labels: core

backport of commit a8775ba61306940c338f9b2bdbd639abf60d37ab
  internal/serverinstall/nomad.go
Labels: core

Remove TODOs.
  internal/serverinstall/nomad.go
Labels: core

backport of commit 8c6272adcf81ae823e64bb692ad474fa458d0b20
  internal/serverinstall/nomad.go
Labels: core

backport of commit a3992c0211777336f82e4fb05e09958a326f7b22
  .changelog/3279.txt
Labels: none

Changelog.
  .changelog/3279.txt
Labels: none

Nomad install docs update.
  website/content/commands/server-install.mdx
Labels: website

backport of commit 0f69fbff848aa90c6d1024adc3df24254b72c10c
  website/content/commands/server-install.mdx
Labels: website

Waypoint install docs update.
  website/content/commands/install.mdx
Labels: website

backport of commit 357a202012e6ec1fadab39dc4031a72f37d30099
  website/content/commands/install.mdx
Labels: website

UI: rename `new` route to `create` (#3271)
  ui/app/controllers/workspace/projects/create.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/create.ts
  ui/app/styles/pages/_index.scss
  ui/app/styles/pages/projects/create.scss
  ui/app/templates/workspace/projects/create.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/tests/unit/controllers/workspace/projects/create-test.ts
  ui/tests/unit/routes/workspace/projects/create-test.ts
  ui/translations/en-us.yaml
Labels: ui

proto: pipeline data model
  pkg/server/gen/mocks/is_pipeline__owner.go
  pkg/server/gen/mocks/is_pipeline__step__kind.go
  pkg/server/gen/mocks/is_ref__pipeline__ref.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

pkg/serverstate: PipelineGet
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/serverstate: PipelineDelete
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/serverstate: PipelinePut
  internal/server/boltdbstate/pipeline.go
  pkg/server/ptypes/pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

pkg/server: UpsertPipeline API
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: none

pkg/server/ptypes: pipeline validation
  internal/pkg/validationext/map.go
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: core

pkg/server/ptypes: validate step graph
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: none

internal/server: boltdb state should reuse pipeline validation
  internal/server/boltdbstate/pipeline.go
Labels: core

internal/server: taskAck and taskComplete in job API
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/task.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_task.go
Labels: core

server: Add Task API rpc endpoints and request response bodies
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: none

internal/server: Introduce API functions for Tasks
  internal/server/singleprocess/service_task.go
  internal/server/singleprocess/service_task_test.go
  pkg/server/ptypes/component.go
  pkg/server/ptypes/task.go
Labels: core

server: Add tests for service tasks
  internal/server/singleprocess/service_task.go
  internal/server/singleprocess/service_task_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core
