Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

internal/cli: convert "up" to use job
  internal/cli/up.go
Labels: core

internal/cli: fall back to legacy "up" if server doesn't support op up
  internal/cli/up.go
  internal/server/singleprocess/service_job.go
Labels: core

backport of commit 86c87d3f1c3264139f537b8413847227990242f0
  builtin/docker/platform.go
Labels: plugin, plugin/docker

builtin/docker: Add Binds for mounting host folders to container
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

website: update next and nextjs-scripts (#1054)
  website/package-lock.json
  website/package.json
Labels: website

website: update next and nextjs-scripts (#1054)
  website/package-lock.json
  website/package.json
Labels: website

Update pds-ember addon
  ui/package.json
  ui/yarn.lock
Labels: ui

Update breadcrumbs styling
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/components/app-breadcrumbs/index.js
  ui/app/styles/_breadcrumbs.scss
Labels: ui

website: update next and nextjs-scripts (#1054)
  website/package-lock.json
  website/package.json
Labels: website

builtin/k8s: Handle secret configs from k8s
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

backport of commit 2ba86e440f781bc7102145b558002ac35eaa6810
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

backport of commit e1f95bef9c75b0e5874254d6f5ec01429c0c2e3a
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

Only decode if secret value is found
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

internal/server: proto for polling
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/runner: Fix race condition around runner shutdown
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/runner.go
  internal/server/singleprocess/service_runner.go
Labels: core

auto-updated internal/server/gen/bindata_ui.go from commit a4ff70a7
  internal/server/gen/bindata_ui.go
Labels: core

Upgrade ember and run ember-cli-update
  ui/.eslintignore
  ui/.eslintrc.js
  ui/.gitignore
  ui/.prettierignore
  ui/.prettierrc.js
  ui/app/app.js
  ui/app/router.js
  ui/config/targets.js
  ui/package.json
  ui/tests/index.html
  ui/tests/test-helper.js
  ui/yarn.lock
Labels: ui

Update ember-cli-page-object to support ember-qunit 5
  ui/package.json
  ui/yarn.lock
Labels: ui

internal/runner: Only use cond.L for clarity
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/runner.go
Labels: core

internal/runner: docs
  internal/runner/runner.go
Labels: core

Drop IE support
  ui/config/targets.js
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit 9aa5f853
  internal/server/gen/bindata_ui.go
Labels: core

Ask for additional meta details in bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/{client,runner}: start a single runner at the start of the CLI
  internal/client/job.go
  internal/client/noop_test.go
  internal/client/project.go
  internal/runner/accept.go
Labels: core

internal/server/state: PollPeek and PollComplete APIs
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
Labels: core

backport of commit cd22f0d325aacb6a97b3d55ddde1c50c55111515
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Consolidate K8S multi-port configuration
  builtin/k8s/config_test.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

backport of commit a8f7d0d7f4e481fd45e1dead2d2ad18f2b8af28b
  builtin/k8s/config_test.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Multi-port service support for Kubernetes
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

internal/client: remove unused argument
  internal/client/job.go
Labels: core

internal/client: cancel => bgCancel
  internal/client/project.go
Labels: core

internal/server: proto
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/runner: prep framework for data-less operation types
  internal/runner/accept.go
  internal/runner/operation.go
  internal/runner/operation_poll.go
Labels: core

internal/datasource: add Changes
  internal/datasource/datasource.go
  internal/datasource/git.go
  internal/datasource/git_test.go
  internal/datasource/local.go
Labels: core

internal/server: proto changes to list by workspace
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: GetProject returns workspaces a project is part of
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
  internal/server/singleprocess/state/workspace.go
Labels: core

internal/server/proto: add has_exec_plugin field Deployment
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server: proto changes
  internal/server/proto/server.proto
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
