Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/server: use waitgroup to ensure background closes
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/service.go
Labels: core

internal/plugin: add CallDynamicFunc to internal/plugin
  internal/plugin/func.go
Labels: core

internal/appconfig: A new package for app config resolution
  internal/appconfig/doc.go
  internal/appconfig/option.go
  internal/appconfig/watcher.go
Labels: core

internal/ceb: update config to use new appconfig package
  internal/ceb/config.go
Labels: core

internal/appconfig: support manual iteration and disabling dynamic
  internal/appconfig/option.go
  internal/appconfig/watcher.go
Labels: core

internal/ceb: switch virtual ceb to appconfig package
  internal/ceb/app_config.go
  internal/ceb/config.go
  internal/ceb/virtual.go
Labels: core

internal/ceb: remove unnecessary if
  internal/ceb/virtual.go
Labels: core

internal/ceb: only wait on iter 0 for config
  internal/ceb/virtual.go
Labels: core

internal/appconfig: remove env logging
  internal/appconfig/watcher.go
Labels: core

backport of commit f42f9b6f3077f33efa76c22ed10497dae3eb3b6d
  internal/serverinstall/k8s.go
Labels: core

serverinstall/k8s: Include option to define storageClassName on install
  internal/serverinstall/k8s.go
Labels: core

backport of commit e3a000853239f3ae657196aca53d8cf469dbaf20
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

Alphabetize config struct
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

check for nil logging opts; remove endpoint
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

code cleanup
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

check for nil logging opts; remove endpoint
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

code cleanup
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Generate Lambda docs, add index page with example
  builtin/aws/alb/releaser.go
  builtin/aws/ecr/registry.go
  website/content/docs/lifecycle/deploy.mdx
  website/content/partials/components/builder-aws-lambda.mdx
  website/content/partials/components/configsourcer-aws-lambda.mdx
  website/content/partials/components/platform-aws-lambda.mdx
  website/content/partials/components/registry-aws-lambda.mdx
  website/content/partials/components/releasemanager-aws-lambda.mdx
  website/content/plugins/aws-lambda.mdx
  website/data/plugins-navigation.js
Labels: plugin, plugin/aws, website

Add missing Region value from Deployment
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

serverinstall/nomad: Set platform as nomad at end of Install
  internal/serverinstall/nomad.go
Labels: core

backport of commit 12c862a337120a4fd94c696750242ddb9e37e48d
  internal/serverinstall/nomad.go
Labels: core

Fix tense and spelling
  builtin/aws/lambda/platform.go
  website/content/partials/components/platform-aws-lambda.mdx
  website/content/plugins/aws-lambda.mdx
Labels: plugin, plugin/aws, website

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/appconfig: tests
  internal/appconfig/option_test.go
  internal/appconfig/watcher_test.go
Labels: core

internal/ceb: only get config vars for virtual if any are defined
  internal/ceb/virtual.go
Labels: core

internal/pkg/condctx
  internal/pkg/condctx/condctx.go
  internal/pkg/condctx/condctx_test.go
Labels: core

internal/appconfig: switch to condctx package
  internal/appconfig/watcher.go
Labels: core

internal/pkg/condctx
  internal/pkg/condctx/condctx.go
Labels: core

backport of commit f0b770851fe5055b90b0fa5ccd06275a25ef0096
  internal/server/singleprocess/state/app_operation.go
Labels: core

internal/server: More descriptive error for unknown application deploys
  internal/server/singleprocess/state/app_operation.go
Labels: core

Remove deploy from message
  internal/server/singleprocess/state/app_operation.go
Labels: core

backport of commit 4ede81681cc45fd90e6f146e804d7bcff59a0113
  internal/server/singleprocess/state/app_operation.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

backport of commit f5f01c2c3b028d188b11a2b9901c9bb4d4952bfb
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

Update website/content/docs/waypoint-hcl/app.mdx
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

backport of commit f5f01c2c3b028d188b11a2b9901c9bb4d4952bfb
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

backport of commit 86311193dc1bc05e66b8525644007576e7eb090b
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

Update website/content/docs/waypoint-hcl/app.mdx
  website/content/docs/waypoint-hcl/app.mdx
Labels: website

backport of commit 86311193dc1bc05e66b8525644007576e7eb090b
  website/content/docs/waypoint-hcl/app.mdx
Labels: website
