Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

ui: de-lint `routes/onboarding/install/index.ts`
  ui/app/routes/onboarding/install/index.ts
Labels: ui

backport of commit 5723c409c209ef2f16ae95ebae9713a97a41964f
  ui/app/routes/workspace/projects/new.ts
Labels: ui

ui: de-lint `routes/.../projects/new.ts`
  ui/app/routes/workspace/projects/new.ts
Labels: ui

ui: de-lint `routes/.../projects/index.ts`
  ui/app/routes/workspace/projects/index.ts
Labels: ui

backport of commit 936384f62ed0e39e71bac0f77bda7abf0b483bab
  ui/app/routes/workspace/projects/index.ts
Labels: ui

Using a const for PlatformName
  builtin/docker/main.go
  builtin/docker/platform.go
  builtin/k8s/k8s.go
  builtin/k8s/platform.go
Labels: plugin, plugin/docker, plugin/k8s

Upgrading plugin sdk
  go.mod
  go.sum
Labels: none

feat: Workspace-scoped polling and project settings
  .changelog/1815.txt
  internal/cli/init.go
  internal/cli/main.go
  internal/cli/project_detail.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/testdata/compare/scoped_settings.hcl
  internal/runner/operation_poll.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

backport of commit 3ee59bab8b608c8ee1418b9c2b38a3b2fd769e11
  .changelog/1958.txt
Labels: none

changelog
  .changelog/1958.txt
Labels: none

feat: add status and status-check, improve StatusReportList
  builtin/k8s/status_report_util.go
  internal/cli/main.go
  internal/cli/status.go
  internal/cli/status_check.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/status_report.go
Labels: core, plugin, plugin/k8s

fix(internal/cli/status_check): correct Snyopsis
  internal/cli/status_check.go
Labels: core

gofmt
  internal/cli/status.go
  internal/cli/status_check.go
  internal/server/singleprocess/state/status_report.go
Labels: core

changelog: add 1959
  .changelog/1959.txt
Labels: none

backport of commit ffabece373f9956633325089a1d50cb6669d8932
  builtin/google/cloudrun/deployment.go
Labels: plugin, plugin/google

make it generic
  builtin/google/cloudrun/deployment.go
Labels: plugin, plugin/google

fix(internal/cli/status): skip if target is missing
  internal/cli/status.go
Labels: core

make it both more specific and more open-ended
  builtin/google/cloudrun/deployment.go
Labels: plugin, plugin/google

backport of commit 114437d493e4454996584e7291d579efd05b070c
  builtin/google/cloudrun/deployment.go
Labels: plugin, plugin/google

fix(internal/cli/status): skip ip CompleteTime is nil
  internal/server/singleprocess/state/status_report.go
Labels: core

plugin/docker: Adding a session when building with buildkit
  builtin/docker/builder.go
  go.mod
  go.sum
Labels: plugin, plugin/docker

Changelog
  .changelog/1937.txt
Labels: none

ui: deserialize b64 strings #1923
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/app-form/project-repository-settings.ts
Labels: ui

ui: handle encoding waypoint and ssh key to base64
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/app-form/project-repository-settings.ts
Labels: ui

gen: ui bindata
  internal/server/gen/bindata_ui.go
Labels: core

ui/tests: account for private key b64 encoding
  ui/tests/integration/components/app-form/project-repository-settings-test.ts
Labels: ui

Allow declared resources to be wired into status funcs
  go.mod
  go.sum
  internal/core/app_status_report.go
Labels: core

docker plugin status func returns enhanced container resource
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Upgrade SDK
  go.mod
Labels: none

Mapstructure is very handy!
  internal/core/app_status_report.go
Labels: core

Redacting env vars from stateJson to not expose secrets
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Update waypoint-plugin-sdk
  go.sum
Labels: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: none

Logging when buildkit requested but docker too old for sessions
  builtin/docker/builder.go
Labels: plugin, plugin/docker

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: none

Update ARCHITECTURE.md
  ARCHITECTURE.md
Labels: none

Better backwards compat
  builtin/docker/platform.go
  go.mod
  go.sum
Labels: plugin, plugin/docker

Stripping leading "/" from docker container name.
  builtin/docker/platform.go
Labels: plugin, plugin/docker

internal/server: entrypoint can advertise exec is disabled
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/state/instance.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
Labels: core

internal/ceb: WAYPOINT_CEB_DISABLE_EXEC
  internal/ceb/ceb.go
  internal/ceb/config.go
  internal/ceb/exec.go
Labels: core
