Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/server/singleprocess/state: Add ability to wait on virtual ceb for instance exec
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
Labels: core

internal/serverconfig: Add grpc metadata const for runner id
  internal/serverconfig/config.go
Labels: core

internal/server{,/singleprocess}: Spawn the exec plugin job on the server side
  internal/server/grpc.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/service_exec_test.go
  internal/server/singleprocess/testing.go
Labels: core

internal/core: detect if a deployment plugin defines an exec func on each deployment
  internal/core/app_deploy.go
Labels: core

internal/{cli,client}: remove CLI triggering of exec plugin
  internal/cli/base.go
  internal/cli/exec.go
  internal/client/project.go
Labels: core

internal/runner: basic poll op
  internal/runner/accept.go
  internal/runner/data.go
  internal/runner/operation_poll.go
Labels: core

internal/runner: setup the overrides properly for data sourcing
  internal/datasource/datasource.go
  internal/datasource/git.go
  internal/datasource/local.go
  internal/runner/operation_poll.go
Labels: core

internal/server/state: PollPeek should return deadline
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
Labels: core

internal/server: add pollqueuer, start it on server start
  internal/runner/operation_poll.go
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/service.go
Labels: core

internal: call Close on server implementation to clean up resources
  internal/cli/server_run.go
  internal/server/singleprocess/testing.go
Labels: core

internal/server: nil check the variable
  internal/server/singleprocess/poll.go
Labels: core

internal/server: tests for poll queuer
  internal/server/singleprocess/poll_test.go
  internal/server/singleprocess/service.go
Labels: core

backport of commit e5a731a5c3280d3eddabbb2ab0f01b9f54a28685
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

builtin/k8s: Introduce Ports map for multi-port applications
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

internal/<many>: move grpcmetadata reading and writing to it's own package
  internal/cli/base.go
  internal/client/project.go
  internal/server/grpc.go
  internal/server/grpcmetadata/grpc.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/service_exec_test.go
  internal/serverconfig/config.go
Labels: core

internal/server/singleprocess/state: Add note about why Abort() isn't called
  internal/server/singleprocess/state/instance_exec.go
Labels: core

internal/server/singleprocess: move the job cancel to a defer
  internal/server/singleprocess/service_exec.go
Labels: core

backport of commit 9d2c09ec28a6382224d8a0a3785347db4341f666
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Add config option for disabling the load balancer
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit f6d5d01bc66e1018710b8155b14f18c29da08826
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Conditionally create ALB
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Conditionally delete load balancer
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit 7d73a1d42eccdc198411b3630a282d5de47dcf91
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit a2d960715b977240096987afe59044aee6e74d6b
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

Return release early if no load balancer defined
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

Update comment
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

backport of commit 97fb8edb2ad0f360fe156cfa892c7bd54d021f6b
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

backport of commit 5cd790f5907b98ff3324b767ea7e1084797dc1d8
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

add doc field for disable_alb
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Simplify initializing Ports map
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 7cb98b82d6742e37dffb844d005ecf2fc6179b74
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

backport of commit 34eff822dc0237eeb4be172bca4d20ddd088fef0
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Add space in err msg
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Ensure NodePort and Port are non-negative values
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

backport of commit 384e2ce8ee0a7c016ccb8786796dfc8207f223e8
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

backport of commit f1f7dc827b553ff09310851c002b6b6a27dcbd7d
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

add logic to determine Deployment's LoadBalancer and target group for pre-existing listeners
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

backport of commit f986f6a4002f6d9a3143d3a93ff7094662d1d74a
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Update k8s releaser to handle Ports array maps
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Add docs field for ports var in k8s releaser
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s
