Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Moving the runner init sequence into job starting.
  internal/cli/artifact_build.go
  internal/cli/artifact_push.go
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/deployment_create.go
  internal/cli/deployment_destroy.go
  internal/cli/deployment_list.go
  internal/cli/destroy.go
  internal/cli/exec.go
  internal/cli/logs.go
  internal/cli/option.go
  internal/cli/release_create.go
  internal/cli/status.go
  internal/cli/up.go
  internal/client/job.go
  internal/client/project.go
  internal/client/runner.go
  internal/client/testing.go
Labels: core

Properly moving remoteOpPreffered to runner client
  internal/cli/base.go
  internal/cli/base_test.go
  internal/client/runner_test.go
Labels: core

Better comments
  internal/client/job.go
Labels: core

Sort imports
  internal/client/job.go
Labels: core

Better comments
  internal/client/job.go
  internal/client/project.go
Labels: core

Logs works now
  internal/cli/exec.go
  internal/cli/logs.go
  internal/client/job.go
  internal/client/operation.go
  internal/client/project.go
  internal/server/grpcmetadata/grpc.go
Labels: core

Fix import order
  internal/client/runner.go
Labels: core

Comment clarification
  internal/client/job.go
Labels: core

Moving the rerlease op function back to where it was
  internal/client/operation.go
Labels: core

Making exec work
  internal/cli/exec.go
  internal/client/operation.go
Labels: core

website mdx for logs and exec
  website/content/commands/exec.mdx
  website/content/commands/logs.mdx
Labels: website

Tests for setupLocalJobSystem
  internal/client/job.go
  internal/client/job_test.go
  internal/server/grpcmetadata/grpc.go
Labels: core

Better error message for failed lambda logs stream
  builtin/aws/lambda/platform_logs.go
Labels: plugin, plugin/aws

Fix imports
  internal/client/operation.go
Labels: core

Warn if dirty vcs is detected on remote ops
  internal/cli/base.go
  internal/cli/base_init.go
  internal/client/job.go
  internal/client/project.go
  internal/config/config.go
  internal/pkg/gitdirty/gitdirty.go
Labels: core

Changelog
  .changelog/2799.txt
Labels: none

website: bump deps to fix print styles (#2549)
  website/package-lock.json
  website/package.json
  website/pages/print.css
Labels: website

feat: demo local redirects
  website/package.json
  website/redirects.js
Labels: website

ui: installed flight icons package
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: updated icons to use flight icons (no styling)
  ui/app/components/actions/context.hbs
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/invite.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/copyable-code/index.hbs
  ui/app/components/git-commit.hbs
  ui/app/components/header/index.hbs
  ui/app/components/icon-tile.hbs
  ui/app/components/image-ref.hbs
  ui/app/components/latest-release-url/index.hbs
  ui/app/components/logout/index.hbs
  ui/app/components/project-config-variables/list.hbs
  ui/app/components/project-init-error.hbs
  ui/app/components/project-input-variables/list.hbs
  ui/app/components/render-terminal/index.hbs
  ui/app/components/resources-table.hbs
  ui/app/components/version-info/index.hbs
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/templates/error.hbs
  ui/app/templates/onboarding/connect.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
Labels: ui

ui: updated styling, OperationStatusIndicator still broken
  ui/app/components/icon-tile.hbs
  ui/app/components/section.hbs
  ui/app/helpers/icon-for-component.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/app/release/resource.ts
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/styles/_layout.scss
  ui/app/styles/components/icon-tile.scss
  ui/app/styles/components/navigation/breadcrumbs.scss
  ui/app/styles/components/output-pane.scss
  ui/app/styles/components/structure/pds-tabnav.scss
  ui/app/styles/components/table.scss
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/tests/integration/components/app-item/build-test.ts
Labels: ui

ui: fixed test and final styling
  ui/app/components/operation-status-indicator.hbs
  ui/tests/integration/components/operation-status-indicator-test.ts
Labels: ui

ui: updated to 2.0 flight icons
  ui/app/components/header/index.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: fixed lint error and added changelog
  .changelog/2681.txt
Labels: none

refactor: consolidate into single start script
  website/package.json
  website/scripts/website-preview-setup.sh
  website/scripts/website-preview-start.sh
Labels: website

refactor: remove token from clone cmd, repo is now public
  website/scripts/website-preview-build.sh
Labels: website

Update internal/client/job.go
  internal/client/job.go
Labels: core

docs: add todo note on approach to reducing build time
  website/scripts/website-preview-build.sh
Labels: website

fix: update env vars to match RFC
  website/scripts/website-preview-build.sh
  website/scripts/website-preview-start.sh
Labels: website

Fix import order
  builtin/aws/lambda/platform_logs.go
Labels: plugin, plugin/aws

Logging the runner type during operations
  internal/cli/runner_agent.go
  internal/client/job.go
  internal/client/runner.go
  internal/runner/runner.go
  internal/server/gen/mocks/is_runner__type.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_runner.go
Labels: core

Renaming proto runner.type -> runner.kind
  internal/client/job.go
  internal/client/runner.go
  internal/runner/runner.go
  internal/server/gen/mocks/is_runner__kind.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_runner.go
Labels: core

changelog
  .changelog/2795.txt
Labels: none

fmt
  internal/client/job.go
  internal/client/runner_test.go
Labels: core

Hiding the runner agent `-odr` flag
  internal/cli/runner_agent.go
Labels: core

Updating tests
  internal/server/singleprocess/service_runner_test.go
Labels: core

More runner comments
  internal/runner/runner.go
Labels: core

Using the `ui` argument rather than the stored one
  internal/client/job.go
Labels: core

Reodering protos, adding comments to deprecated field
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

website-mdx (removing the -odr flag from docs)
  website/content/commands/runner-agent.mdx
Labels: website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
