Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

internal/cli: Add `waypoint pipeline run` for running pipelines
  internal/cli/pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

Show more job operations in task list
  internal/cli/task_list.go
Labels: core

Include UI for stream client, and stream download event
  internal/cli/pipeline_run.go
  internal/jobstream/stream.go
Labels: core

internal/cli: Add pipeline id flag for running by id instead of name
  internal/cli/pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

Fix panic if pipeline-id flag is used but no argument supplied to cli
  internal/cli/pipeline_run.go
Labels: core

test: Use sever package to ref TestRunner
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

server/ptype: Validate that image is required for a step op
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: none

Add some test hcl configs for exec step tests
  internal/config/testdata/pipelines/pipeline_exec_step.hcl
  internal/config/testdata/pipelines/pipeline_exec_step_many.hcl
Labels: core

internal/cli: Ensure workspace ref is set for job template
  internal/cli/pipeline_run.go
Labels: core

internal/config: Evaluate step exec plugin for PipelineProto
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

Add more logging in service runner
  pkg/server/singleprocess/service_runner.go
Labels: none

internal/cli: Add step name before job stream output
  internal/cli/pipeline_run.go
Labels: core

Add note about setting a default step image URL
  internal/config/pipeline.go
Labels: core

internal/server: Add reserved built-in Pipeline Steps
  internal/config/pipeline.go
  internal/runner/operation_pipeline_step.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

Add PipelineStep as possible job operation
  internal/cli/task_inspect.go
  internal/config/pipeline.go
  internal/runner/operation_pipeline_step.go
Labels: core

Extend expire time for queued jobs
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
Labels: none

Fix doc comment
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

internal/server: Set expiry time on runner accept
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
Labels: core

runner: Update pipeline step op to use job queue handler
  internal/runner/operation_pipeline_step.go
Labels: core

Add func method doc
  internal/server/boltdbstate/job.go
Labels: core

pr feedback: remove initial expire time from run job
  pkg/server/singleprocess/service_job.go
Labels: none

pr feedback: Queue reserved step ops in RunPipeline service func
  internal/runner/operation_pipeline_step.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

internal/server: Support reserved pipeline step "deploy"
  internal/config/pipeline.go
  internal/runner/operation_deploy.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

test: Update job test files with new impl state for db
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

internal/jobstream: Show commit message in jobstream
  internal/jobstream/stream.go
Labels: core

config: Update pipeline validation to use new ValidationResult
  internal/config/validate.go
Labels: core

internal/config: Validate pipeline stanzas
  internal/config/plugin.go
  internal/config/validate.go
Labels: core

internal/{server,runner}: Queue a Release job via a pipeline step
  internal/runner/operation_release.go
  pkg/server/singleprocess/service_pipeline.go
Labels: core

internal/{server,config}: Add Release reserved pipeline step
  internal/config/pipeline.go
  pkg/server/gen/mocks/is_ref__artifact__ref.go
  pkg/server/gen/mocks/is_ref__deployment__ref.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

Fix doc comment typo
  internal/config/pipeline.go
Labels: core

internal/runner: Use `target` rather than the Deployment on the job operation
  internal/runner/operation_release.go
Labels: core

internal/{server/runner}: Ensure a Deployment is preloaded for Release
  internal/runner/operation_release.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

fixup: Put back accidental deleted code comment
  internal/runner/operation_release.go
Labels: core

mergeup: Delete code that was accidentally added from rebase
  internal/config/plugin.go
  internal/config/validate.go
Labels: core

internal/server: Implement Up reserved built-in step for pipelines
  internal/config/pipeline.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

rm dup TestJobComplete
  pkg/serverstate/statetest/test_job.go
Labels: none

internal/cli: Warn about mutliple default runner profiles on upgrades
  internal/cli/runner_profile_set.go
  internal/cli/server_upgrade.go
Labels: core

wesite gen: Add spaces to runner profile set help text
  website/content/commands/runner-profile-set.mdx
Labels: website

Add Changelog
  .changelog/3497.txt
Labels: none

cli: Update wording about creating a new default runner profile
  internal/cli/server_upgrade.go
Labels: core
