Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Update to use trigger apply for creation and updating
  internal/cli/main.go
  internal/cli/trigger_apply.go
  internal/cli/trigger_create.go
Labels: core

website autogen
  website/content/commands/trigger-apply.mdx
  website/content/commands/trigger-delete.mdx
  website/content/commands/trigger-inspect.mdx
  website/content/commands/trigger-list.mdx
  website/content/partials/commands/trigger-apply_desc.mdx
  website/content/partials/commands/trigger-apply_more.mdx
  website/content/partials/commands/trigger-delete_desc.mdx
  website/content/partials/commands/trigger-delete_more.mdx
  website/content/partials/commands/trigger-inspect_desc.mdx
  website/content/partials/commands/trigger-inspect_more.mdx
  website/content/partials/commands/trigger-list_desc.mdx
  website/content/partials/commands/trigger-list_more.mdx
Labels: website

Update delete to take id argument
  internal/cli/trigger_delete.go
Labels: core

Update target from diff trigger if exists
  internal/cli/trigger_apply.go
Labels: core

Make sure createTrigger sets id if updating existing trigger cfg
  internal/cli/trigger_apply.go
  website/content/commands/trigger-apply.mdx
Labels: core, website

Show labels as comma separated string
  internal/cli/trigger_inspect.go
Labels: core

Add trigger website docs to nav json
  website/data/commands-nav-data.json
Labels: website

Remove old auto-generated docs page
  website/content/commands/trigger-apply.mdx
Labels: website

Split apart `apply` to `create` and `update`
  internal/cli/main.go
  internal/cli/trigger_apply.go
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-update.mdx
  website/content/partials/commands/trigger-create_desc.mdx
  website/content/partials/commands/trigger-create_more.mdx
  website/content/partials/commands/trigger-update_desc.mdx
  website/content/partials/commands/trigger-update_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

Add more detail to trigger cli doc
  internal/cli/main.go
Labels: core

Update flag name to say id instead of sequence
  internal/cli/trigger_apply.go
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-update.mdx
Labels: core, website

Show trigger ID at end of creation/update for easier scripting
  internal/cli/trigger_apply.go
Labels: core

Update internal/cli/trigger_apply.go
  internal/cli/trigger_apply.go
Labels: core

Update trigger CLI to reference tags over labels
  internal/cli/trigger_apply.go
  internal/cli/trigger_inspect.go
  internal/cli/trigger_list.go
Labels: core

autogen website
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-list.mdx
  website/content/commands/trigger-update.mdx
Labels: website

changelog
  .changelog/2797.txt
Labels: none

add workspace create command
  internal/cli/main.go
  internal/cli/workspace_create.go
Labels: core

Update/changes from feedback
  internal/cli/workspace_create.go
Labels: core

generate website material for workspace create
  website/content/commands/workspace-create.mdx
  website/content/partials/commands/workspace-create_desc.mdx
  website/content/partials/commands/workspace-create_more.mdx
  website/data/commands-nav-data.json
Labels: website

allow hyphens in workspace names
  internal/server/ptypes/workspace.go
  internal/serverstate/statetest/test_workspace.go
Labels: core

ui/mirage: fix `UpsertProject` handler
  ui/mirage/services/project.ts
Labels: ui

Update internal/cli/main.go
  internal/cli/main.go
Labels: core

Fixup CLI doc strings
  internal/cli/trigger_apply.go
  internal/cli/trigger_delete.go
  internal/cli/trigger_inspect.go
  internal/cli/trigger_list.go
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-delete.mdx
  website/content/commands/trigger-inspect.mdx
  website/content/commands/trigger-list.mdx
  website/content/commands/trigger-update.mdx
Labels: core, website

refactor regex to allow hyphen or underscore, but not start or end with them
  internal/server/ptypes/workspace.go
  internal/serverstate/statetest/test_workspace.go
Labels: core

Invoking the configsourcer
  internal/config/variables/variables.go
  internal/runner/operation.go
Labels: core

test for izaak's work
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
Labels: core

ui: removed redudant button styling
  ui/app/styles/_layout.scss
Labels: ui

backport of commit d00d0d07c67213a53881e8e00ea3962f0bda32ea
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_project_test.go
Labels: core

internal/server: Implement service level unit tests for Project
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_project_test.go
Labels: core

ui: upgraded ember-a11y-refocus
  ui/package.json
  ui/yarn.lock
Labels: ui

backport of commit f5f49a54b780f0b82eb3d262d5443a13866d6972
  website/content/plugins/nomad.mdx
Labels: website

backport of commit f5f49a54b780f0b82eb3d262d5443a13866d6972
  website/content/plugins/nomad.mdx
Labels: website

website: Update docs text
  website/content/plugins/nomad.mdx
Labels: website

ui: began refactor of model + polling - this is to account for ember-a11y-refocus firing every time polling occurs
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/services/poll-model.ts
Labels: ui

json diffs for website gen
  website/package-lock.json
Labels: website

nix: update deps, use Go 1.17
  flake.lock
  flake.nix
  nix/overlay.nix
Labels: none

Update to Go 1.17
  .circleci/config.yml
  Dockerfile
Labels: none

Fix Docker build for Go 1.17
  Dockerfile
  go.mod
  go.sum
Labels: none

Update circleci base image to update Docker
  .circleci/config.yml
Labels: none

circle: upgrade Docker version
  .circleci/config.yml
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
