Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

increase image build resource size
  .circleci/config.yml
Labels: none

internal/server: validate exec request has args set
  internal/server/ptypes/exec.go
  internal/server/ptypes/exec_test.go
  internal/server/ptypes/job.go
  internal/server/singleprocess/service_exec.go
Labels: core

internal/cli: exec requires at least one arg
  internal/cli/exec.go
Labels: core

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Updated config.yml
  .circleci/config.yml
Labels: none

Add changelog-build cmd binary install notes
  .changelog/README.md
Labels: none

Makefile: Add gen/changelog make target
  Makefile
Labels: none

backport of commit a435d0dadf1680147908a9b07b9ceb09488bad18
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Revert "Fixes https://github.com/hashicorp/waypoint/issues/687"
  builtin/docker/platform.go
Labels: plugin, plugin/docker

backport of commit f8200a07f37d47d59c441a9835a513359b2ce9f0
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Update builtin/docker/platform.go
  builtin/docker/platform.go
Labels: plugin, plugin/docker

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

builtin/tfc: Add Terraform Cloud dynamic config sourcer
  builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer_test.go
  builtin/tfc/testdata/state-version.json
  builtin/tfc/tfc.go
  internal/plugin/plugin.go
Labels: core, plugin

backport of commit 7cdfc9aa77dfbca479173af94290f76871b4361a
  internal/cli/install.go
Labels: core

Add reminder about ui authentication command
  internal/cli/install.go
Labels: core

Update builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer.go
Labels: plugin

Update builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer.go
Labels: plugin

Update builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer.go
Labels: plugin

cmd/waypoint-entrypoint: dump heap profile on SIGUSR1
  cmd/waypoint-entrypoint/debug.go
  cmd/waypoint-entrypoint/main.go
Labels: none

chore: adds should build script for website (#1187)
  website/scripts/should-build.sh
Labels: website

internal/ceb/virtualceb: fix dropped error
  internal/ceb/virtualceb/ceb.go
Labels: core

internal/ceb: fix dropped errors
  internal/ceb/app_config_test.go
Labels: core

Add auth type toggle
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/app/styles/_pds-form.scss
Labels: ui

Update placeholders and labels to be more detailed
  ui/app/components/app-form/project-settings.hbs
Labels: ui

Set empty git config if non-existent
  ui/app/components/app-form/project-settings.ts
Labels: ui

Update form and post data to server
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/app/templates/workspace/projects/project/settings.hbs
Labels: ui

Update icons package and configuration
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui

Add authentication methods
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
Labels: ui

Install ember-set-helper
  ui/package.json
  ui/yarn.lock
Labels: ui

clean up lib paths
  ui/package.json
  ui/yarn.lock
Labels: ui

refactor settings form mostly using the set helper
  ui/.template-lintrc.js
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

Update git settings and create poll job
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/yarn.lock
Labels: ui

Add project settings route and UI
  ui/app/router.js
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/styles/_pds-form.scss
  ui/app/styles/app.scss
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/config/environment.js
  ui/package.json
  ui/tests/unit/routes/workspace/projects/project/settings-test.ts
  ui/yarn.lock
Labels: ui

Use accessible values for toggle theme
  ui/app/styles/_x-toggle.scss
  ui/app/styles/app.scss
Labels: ui

FIx description and skip verify env var
  builtin/tfc/config_sourcer.go
Labels: plugin

Update toggle size
  ui/app/components/app-form/project-settings.hbs
  ui/app/styles/_x-toggle.scss
Labels: ui

update horizon
  go.mod
  go.sum
Labels: none

Merge pull request #1194 from hashicorp/ceb-debug
  cmd/waypoint-entrypoint/debug.go
  cmd/waypoint-entrypoint/main.go
Labels: none

go.mod: bump to pickup horizon and yamux updates
  go.mod
  go.sum
Labels: none

update horizon
  go.mod
  go.sum
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
