Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

ui: add deployment resources
  ui/app/components/label-list.hbs
  ui/app/components/resource-detail.hbs
  ui/app/components/resource-detail.ts
  ui/app/components/resource-health-indicator.hbs
  ui/app/components/resources-table.hbs
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployment/resource.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/label-list.scss
  ui/app/styles/components/resource-detail.scss
  ui/app/styles/components/resources-table.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployment/resource.hbs
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

ui/resource: 'age' -> 'created'
  ui/app/components/resource-detail.hbs
  ui/translations/en-us.yaml
Labels: ui

ui: add `<Section>`
  ui/app/components/section.hbs
  ui/app/components/section.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/section.scss
  ui/tests/integration/components/section-test.ts
  ui/translations/en-us.yaml
Labels: ui

ui: upgrade conflicting express type declarations
  ui/yarn.lock
Labels: ui

Add ember-did-resize modifier
  ui/package.json
  ui/yarn.lock
Labels: ui

Add theme to utils
  ui/app/utils/terminal-theme.ts
Labels: ui

Add xterm css
  ui/ember-cli-build.js
Labels: ui

install xterm.js
  ui/package.json
  ui/yarn.lock
Labels: ui

Style scrollbars
  ui/app/components/terminal/index.hbs
  ui/app/styles/components/terminal.scss
Labels: ui

Clean up
  ui/app/components/operation-logs/index.ts
Labels: ui

Remove debug log level
  ui/app/utils/terminal.ts
Labels: ui

Parse and render logs properly
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
  ui/app/components/terminal/index.hbs
  ui/app/components/terminal/index.ts
  ui/app/utils/terminal.ts
  ui/ember-cli-build.js
  ui/package.json
Labels: ui

Add basic terminal component
  ui/app/components/terminal/index.hbs
  ui/app/components/terminal/index.ts
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui

Add dark theme support
  ui/app/utils/terminal-theme.ts
  ui/app/utils/terminal.ts
Labels: ui

migrate the application logs to the new component too
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
Labels: ui

Add folowLogs button
  ui/app/components/terminal/index.hbs
  ui/app/components/terminal/index.ts
  ui/app/styles/components/terminal.scss
Labels: ui

Add basic css
  ui/app/components/terminal/index.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/terminal.scss
Labels: ui

add guard on terminal disposal
  ui/app/components/terminal/index.ts
Labels: ui

Add terminal util
  ui/app/utils/terminal.ts
Labels: ui

Add rendering test for terminal component
  ui/tests/integration/components/terminal-test.ts
Labels: ui

internal/config/funcs: git-commits-changes testdata
  internal/config/funcs/testdata/git-commits-changes/A
  internal/config/funcs/testdata/git-commits-changes/DOTgit/COMMIT_EDITMSG
  internal/config/funcs/testdata/git-commits-changes/DOTgit/HEAD
  internal/config/funcs/testdata/git-commits-changes/DOTgit/config
  internal/config/funcs/testdata/git-commits-changes/DOTgit/description
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/applypatch-msg.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/commit-msg.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/fsmonitor-watchman.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/post-update.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-applypatch.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-commit.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-merge-commit.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-push.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-rebase.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-receive.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/prepare-commit-msg.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/update.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/index
  internal/config/funcs/testdata/git-commits-changes/DOTgit/info/exclude
  internal/config/funcs/testdata/git-commits-changes/DOTgit/logs/HEAD
  internal/config/funcs/testdata/git-commits-changes/DOTgit/logs/refs/heads/master
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/38/0afd697abe993b89bfa08d8dd8724d6a513ba1
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/45/9023a450b8e8aa344d230839d41e2f115d3d28
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/7c/178d1296d8b87e83382c324aeb32e2def2a5af
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/8b/137891791fe96927ad78e64b0aad7bded08bdc
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/b1/a2dcd337f590a185a20f013721e7410764bab4
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
  internal/config/funcs/testdata/git-commits-changes/DOTgit/refs/heads/master
  internal/config/funcs/testdata/git-commits-changes/untracked_file
Labels: core

internal/config/funcs: change a file in a test fixture
  internal/config/funcs/testdata/git-commits-changes/A
  internal/config/funcs/testdata/git-commits-changes/DOTgit/index
  internal/config/funcs/testdata/git-commits-changes/untracked_file
Labels: core

internal/config/funcs: test refpretty
  internal/config/funcs/vcs_git.go
  internal/config/funcs/vcs_git_test.go
Labels: core

Address linting errors
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.ts
  ui/app/components/terminal/index.ts
Labels: ui

internal/config/funcs: fallback to go-git if git not available
  internal/config/funcs/vcs_git.go
  internal/config/funcs/vcs_git_test.go
Labels: core

internal/datasource: don't hide git error
  internal/datasource/git.go
Labels: core

changelog
  .changelog/2371.txt
Labels: none

internal/config: fix unknown val deref
  internal/config/funcs/vcs_git_test.go
Labels: core

builtin/docker: if host is docker.io, use index.docker.io for registry
  builtin/docker/kaniko.go
Labels: plugin, plugin/docker

builtin/pack: index.docker.io detection
  builtin/pack/builder.go
Labels: plugin, plugin/pack

backport of commit b97f2e487c6c13e92a7087e01e23869758db11ff
  website/content/docs/runner/config.mdx
Labels: website

Update runner config page
  website/content/docs/runner/config.mdx
Labels: website

internal/core: add project/app to JobInfo
  internal/core/app.go
  internal/core/project.go
Labels: core

builtin/k8s/helm: default ns to default if not set
  builtin/k8s/helm/platform.go
Labels: plugin, plugin/k8s

ui/deployments: fix header
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

ui: fix resources-table border-color bug
  ui/app/styles/components/resources-table.scss
Labels: ui

ui: fixed config variable mocking
  ui/mirage/models/config-variable.ts
Labels: ui

mv utils/terminal > utils/create-terminal
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.ts
  ui/app/utils/create-terminal.ts
  ui/tests/integration/components/terminal-test.ts
Labels: ui

mv components/terminal > components/render-terminal
  ui/app/components/log-stream/index.hbs
  ui/app/components/operation-logs/index.hbs
  ui/app/components/render-terminal/index.hbs
  ui/app/components/render-terminal/index.ts
  ui/tests/integration/components/render-terminal-test.ts
Labels: ui

Update tests and use optional dom rendering to assert content
  ui/app/components/render-terminal/index.hbs
  ui/app/components/render-terminal/index.ts
  ui/app/utils/create-terminal.ts
  ui/tests/integration/components/render-terminal-test.ts
Labels: ui
