Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

Remove unused docs folder
  docs/images/d4m-k8s.png
Labels: none

Remove test apps from Waypoint repo
  test-apps/aci/go.mod
  test-apps/aci/main.go
  test-apps/aci/waypoint.hcl
  test-apps/cloudrun/Gemfile
  test-apps/cloudrun/Gemfile.lock
  test-apps/cloudrun/Procfile
  test-apps/cloudrun/app.rb
  test-apps/cloudrun/go.mod
  test-apps/cloudrun/waypoint.hcl
  test-apps/docker/Gemfile
  test-apps/docker/Gemfile.lock
  test-apps/docker/Procfile
  test-apps/docker/app.rb
  test-apps/docker/waypoint.hcl
  test-apps/wpmini/Gemfile
  test-apps/wpmini/Gemfile.lock
  test-apps/wpmini/Procfile
  test-apps/wpmini/app.rb
  test-apps/wpmini/waypoint.hcl
Labels: none

website: note about using local Docker registry
  website/content/plugins/nomad.mdx
Labels: website

backport of commit a8be006757211fc988e98c19a6f1d429ba05f47d
  .changelog/1840.txt
Labels: none

ui: add changelog entry for #1840
  .changelog/1840.txt
Labels: none

ui: add `aws-ecr` to `icon-for-component`
  ui/app/helpers/icon-for-component.ts
Labels: ui

backport of commit 747941b7cca5ba58c11de28e5fae5a847b572321
  ui/app/components/operation-status-indicator.hbs
Labels: ui

ui: add extra data-test info to `<OperationStatusIndicator>`
  ui/app/components/operation-status-indicator.hbs
Labels: ui

ui: add `@matchTypography` to `<OperationStatusIndicator>`
  ui/app/components/operation-status-indicator.hbs
  ui/app/styles/components/operation-status-indicator.scss
Labels: ui

ui: fix capitalization of initialisms (i.e. AWS)
  ui/app/helpers/component-name.ts
Labels: ui

backport of commit 9bcc237bfe6e1900e4e9929e7434bf4447afae27
  ui/app/helpers/component-name.ts
Labels: ui

backport of commit 7d4e12622e3ede7f024d70ca1f731fd15d360750
  ui/app/components/operation-status-indicator.hbs
  ui/app/styles/components/operation-status-indicator.scss
Labels: ui

backport of commit 11c08b6fc49bef657082444ecf19c88f63b059a6
  ui/app/helpers/icon-for-component.ts
Labels: ui

backport of commit 58e15f5f937550dffee9bffe7202ce0dd05cbb5f
  ui/app/styles/components/badge.scss
Labels: ui

ui: consolidate into single `build_status` translation
  ui/app/components/app-card/build.hbs
  ui/app/components/app-item/build.hbs
  ui/translations/en-us.yaml
Labels: ui

backport of commit b0c4eca4129b7f78cb42a7af7fae5f436e09a166
  ui/app/components/app-item/build.hbs
  ui/tests/integration/components/app-item/build-test.ts
  ui/translations/en-us.yaml
Labels: ui

backport of commit 7748b334305184bf3f29c46c51ce7eccf497943e
  ui/mirage/config.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/pushed-artifact.ts
  ui/mirage/factories/status.ts
  ui/mirage/models/pushed-artifact.ts
  ui/mirage/services/pushed-artifact.ts
Labels: ui

backport of commit f36048c1d6e6c0742b1bdca0fe73feb689e40cd5
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/templates/workspace/projects/project/app/build.hbs
Labels: ui

ui: add `.badge--info`
  ui/app/styles/components/badge.scss
Labels: ui

ui/mirage: add pushed artifacts
  ui/mirage/config.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/pushed-artifact.ts
  ui/mirage/factories/status.ts
  ui/mirage/models/pushed-artifact.ts
  ui/mirage/services/pushed-artifact.ts
Labels: ui

backport of commit 1fe0f6ded47d7ff65c04972f759ac84c157e5168
  ui/app/components/app-card/build.hbs
  ui/app/components/app-item/build.hbs
  ui/translations/en-us.yaml
Labels: ui

ui: incorporate push status into `<AppCard::Build>`
  ui/app/components/app-card/build.hbs
  ui/translations/en-us.yaml
Labels: ui

ui: incorporate push status into `<AppItem::Build>`
  ui/app/components/app-item/build.hbs
  ui/tests/integration/components/app-item/build-test.ts
  ui/translations/en-us.yaml
Labels: ui

ui: load pushed artifacts in app route
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/services/api.ts
Labels: ui

backport of commit bced2cabdb6eeca577d02ec5cbbae1e0f52293b7
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/services/api.ts
Labels: ui

backport of commit 8e8b5d5f27457323c87d58ada641ed6c3b1de8e0
  ui/app/components/app-card/build.hbs
  ui/translations/en-us.yaml
Labels: ui

ui: incorporate push status into build detail page
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/templates/workspace/projects/project/app/build.hbs
Labels: ui

backport of commit 46726c33d0c1df10378c7206bab5a41516058890
  internal/serverinstall/nomad.go
Labels: core

Bug: allow nomad runner and server memory to be configurable
  internal/serverinstall/nomad.go
Labels: core

changelog
  .changelog/1895.txt
Labels: none

backport of commit 48379d9a9683ab5ea827abdc39eac0d9b424304d
  .changelog/1895.txt
Labels: none

ui/mirage: introduce job models and factories
  ui/mirage/factories/job.ts
  ui/mirage/models/application.ts
  ui/mirage/models/job.ts
  ui/mirage/models/workspace.ts
Labels: ui

ui/tests/a11y: exclude .empty-state (for now)
  ui/tests/helpers/a11y.ts
Labels: ui

ui/mirage: add queueJob handler
  ui/mirage/config.ts
  ui/mirage/services/job.ts
Labels: ui

ui: add up button
  ui/app/components/up-button.hbs
  ui/app/components/up-button.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/styles/app.scss
  ui/app/styles/components/up-button.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/tests/acceptance/up-test.ts
Labels: ui

Update contrib/waypoint-local/README.md
  contrib/waypoint-local/README.md
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit f95e34b2
  internal/server/gen/bindata_ui.go
Labels: core

internal/server: disallow deleting the default user
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/state/user.go
  internal/server/singleprocess/state/user_test.go
Labels: core

backport of commit 4d5937bcc52b8c14d6c9bdc42aa0382061b13363
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/routes/workspace/projects/new.ts
  ui/app/routes/workspace/projects/project.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/services/breadcrumbs.ts
Labels: ui

ui: refactor breadcrumbs
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/routes/workspace/projects/new.ts
  ui/app/routes/workspace/projects/project.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/services/breadcrumbs.ts
Labels: ui
