Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Remove last usages of preload, fixing -V flag
  internal/cli/deployment_list.go
Labels: core

Better error message for backward incompat
  internal/cli/deployment_list.go
Labels: core

Helpful error when running `waypoint status` against an old version
  internal/cli/status.go
Labels: core

Also mentioning updated release checks
  .changelog/2024.txt
Labels: none

update nix flake
  flake.lock
Labels: none

Add commit information if available
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/git-commit.hbs
  ui/app/helpers/truncate-commit.ts
  ui/app/styles/app.scss
  ui/app/styles/components/git-commit.scss
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

cli/status: Add headers to summary section header titles
  internal/cli/status.go
Labels: core

Add ability to copy commit sha by clicking
  ui/app/components/git-commit.hbs
  ui/app/styles/app.scss
  ui/app/styles/components/git-commit.scss
  ui/app/styles/mixins/_index.scss
  ui/app/styles/mixins/button-reset.scss
Labels: ui

Changelog
  .changelog/2025.txt
Labels: none

ui: Address PR comments about template
  ui/app/components/status-report-bar/index.hbs
  ui/app/components/status-report-bar/index.ts
  ui/tests/integration/components/status-report-bar-test.ts
Labels: ui

auto-updated internal/server/gen/bindata_ui.go from commit dd8397ef
  internal/server/gen/bindata_ui.go
Labels: core

nix: add doctl and kubectl
  nix/waypoint.nix
Labels: none

auto-updated internal/server/gen/bindata_ui.go from commit 26cff9b7
  internal/server/gen/bindata_ui.go
Labels: core

Final messages
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Brian had a great idea to avoid the loop label
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

website: document redirect URL for OIDC config
  website/content/docs/server/auth/oidc.mdx
Labels: website

Grouping all the early returns next to each other
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Grouping early exits near the top in release
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Bump github.com/buildpacks/pack to v0.20.0
  go.mod
  go.sum
Labels: none

tests: Ensure ListStatusReports checks id against proper target report
  internal/server/singleprocess/service_status_report_test.go
Labels: core

go mod tidy
  go.mod
  go.sum
Labels: none

resolve TODO for docs link
  internal/config/variables/variables.go
Labels: core

Update gRPC
  go.mod
  go.sum
Labels: none

tweaks with everyone's suggestions
  .changelog/2024.txt
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

collect all unset vars for error msg
  internal/config/variables/variables.go
Labels: core

Update builtin/k8s/platform.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Update builtin/k8s/releaser.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Add new CLI option for Nomad server install to create Consul service.
  internal/serverinstall/nomad.go
  website/content/commands/server-install.mdx
Labels: core, website

changelog
  .changelog/2033.txt
Labels: none

make gen/website-mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: website

backport of commit 96b83576b2d9166eff2f00c08081486d254695be
  go.mod
  go.sum
Labels: none

Upgrade argmapper to v0.2.1
  go.mod
  go.sum
Labels: none

add subjects to hcl diags
  internal/config/variables/variables.go
Labels: core

now with filenames!
  internal/config/variables/variables.go
Labels: core

Change layout of status-row
  ui/app/components/status-report-bar/index.hbs
  ui/app/styles/_layout.scss
Labels: ui

Add changelog
  .changelog/2036.txt
Labels: none

ui: first steps with percy
  ui/package.json
  ui/tests/acceptance/deployments-list-test.ts
  ui/yarn.lock
Labels: ui

Added Percy to CI testing
  .circleci/config.yml
  ui/package.json
Labels: ui

Created separate Percy test with consistent mock data
  ui/mirage/factories/deployment.ts
  ui/mirage/factories/status.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/percy-test.ts
Labels: ui

Add Scenario and project mocks
  ui/mirage/scenarios/percy.ts
  ui/tests/acceptance/percy-test.ts
Labels: ui

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
