Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

nix: go 1.15.7
  nix/default.nix
Labels: none

internal/serverinstall: Server upgrades for supported platforms
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_upgrade.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

Use exec for kubectl set image on upgrades
  internal/serverinstall/k8s.go
Labels: core

Remove unused flags
  internal/serverinstall/k8s.go
Labels: core

Reorganize Upgrade k8s func
  internal/serverinstall/k8s.go
Labels: core

Replace removed cli flag with actual value
  internal/serverinstall/k8s.go
Labels: core

Add pod deletion in the case of OnDelete update strategy
  internal/serverinstall/k8s.go
Labels: core

Add note about RollingUpdates for k8s upgrades
  internal/serverinstall/k8s.go
Labels: core

Improve RollingUpdate upgrade note for k8s
  internal/serverinstall/k8s.go
Labels: core

Add extra warnings around server snapshots before upgrades
  internal/cli/server_upgrade.go
Labels: core

Align upgrade help text
  internal/cli/server_upgrade.go
Labels: core

Delete extra spaces
  internal/cli/server_upgrade.go
Labels: core

Remove unused func;
  internal/cli/server_upgrade.go
Labels: core

Update comment about obtaining waypoint container in docker
  internal/serverinstall/docker.go
Labels: core

Remove old TODO
  internal/serverinstall/docker.go
Labels: core

Use vars for setting listen ports
  internal/serverinstall/docker.go
Labels: core

Move upgrade func next to install func in dockerr platform
  internal/serverinstall/docker.go
Labels: core

Update todo
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

Add docs for upgrade command guide
  website/content/docs/upgrading/index.mdx
Labels: website

Add more content to server upgrade command page
  website/content/docs/upgrading/index.mdx
Labels: website

Fix layout format
  website/content/commands/install.mdx
Labels: website

Generate website command docs
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-run.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/commands/server-upgrade_desc.mdx
  website/content/partials/commands/server-upgrade_more.mdx
Labels: website

Remove TODO
  internal/cli/server_upgrade.go
Labels: core

Use default serverName and serviceName
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

Update internal/cli/server_upgrade.go
  internal/cli/server_upgrade.go
Labels: core

Update internal/serverinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

Remove initWriter helper and use os.Create directly
  internal/cli/server_upgrade.go
Labels: core

Update error string
  internal/cli/server_upgrade.go
Labels: core

Add note and move ui output
  internal/cli/server_upgrade.go
Labels: core

Only update server context on server address change
  internal/cli/server_upgrade.go
Labels: core

Set a default server image in serverinstall
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

Always pull on latest server image to ensure latest
  internal/serverinstall/docker.go
Labels: core

Update internal/cli/server_upgrade.go
  internal/cli/server_upgrade.go
Labels: core

Update internal/serverinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website

Update website/content/docs/upgrading/index.mdx
  website/content/docs/upgrading/index.mdx
Labels: website
