Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

Fix test comment
  pkg/serverstate/statetest/test_pipeline.go
Labels: none

internal: Update func doc comments
  internal/core/pipeline.go
  internal/core/project.go
  internal/runner/operation_config.go
Labels: core

internal/core: Look up pipeline id on upsert on server
  internal/core/pipeline_config.go
  internal/server/boltdbstate/pipeline.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core

internal/cli: Add `waypoint pipeline run` for running pipelines
  internal/cli/pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

Show more job operations in task list
  internal/cli/task_list.go
Labels: core

Fix panic if pipeline-id flag is used but no argument supplied to cli
  internal/cli/pipeline_run.go
Labels: core

Include UI for stream client, and stream download event
  internal/cli/pipeline_run.go
  internal/jobstream/stream.go
Labels: core

internal/cli: Add pipeline id flag for running by id instead of name
  internal/cli/pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

server/ptype: Validate that image is required for a step op
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_test.go
Labels: none

test: Use sever package to ref TestRunner
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

internal/cli: Ensure workspace ref is set for job template
  internal/cli/pipeline_run.go
Labels: core

internal/config: Evaluate step exec plugin for PipelineProto
  internal/config/pipeline.go
  internal/config/pipeline_test.go
Labels: core

Add some test hcl configs for exec step tests
  internal/config/testdata/pipelines/pipeline_exec_step.hcl
  internal/config/testdata/pipelines/pipeline_exec_step_many.hcl
Labels: core

Add more logging in service runner
  pkg/server/singleprocess/service_runner.go
Labels: none

internal/server: Add reserved built-in Pipeline Steps
  internal/config/pipeline.go
  internal/runner/operation_pipeline_step.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

internal/cli: Add step name before job stream output
  internal/cli/pipeline_run.go
Labels: core

Add note about setting a default step image URL
  internal/config/pipeline.go
Labels: core

Add PipelineStep as possible job operation
  internal/cli/task_inspect.go
  internal/config/pipeline.go
  internal/runner/operation_pipeline_step.go
Labels: core

Fix doc comment
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: none

internal/server: Set expiry time on runner accept
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
Labels: core

Extend expire time for queued jobs
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
Labels: none

runner: Update pipeline step op to use job queue handler
  internal/runner/operation_pipeline_step.go
Labels: core

Add func method doc
  internal/server/boltdbstate/job.go
Labels: core

pr feedback: remove initial expire time from run job
  pkg/server/singleprocess/service_job.go
Labels: none

pr feedback: Queue reserved step ops in RunPipeline service func
  internal/runner/operation_pipeline_step.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

test: Update job test files with new impl state for db
  pkg/serverhandler/handlertest/test_service_job.go
Labels: none

Add project deprecation warning
  ui/app/styles/pages/_index.scss
  ui/app/templates/workspace/projects/index.hbs
  ui/translations/en-us.yaml
Labels: ui

internal/server: Support reserved pipeline step "deploy"
  internal/config/pipeline.go
  internal/runner/operation_deploy.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core

internal/jobstream: Show commit message in jobstream
  internal/jobstream/stream.go
Labels: core

pulled out the restart functionality to its own function: TestJobHeartbeatOnRestart instead of being inside TestJobHeartbeat
  pkg/serverstate/statetest/test_job.go
Labels: none

added changelog
  .changelog/3477.txt
Labels: none

rm changelog
  .changelog/3477.txt
Labels: none

Test serverstate deploy filtering
  pkg/serverstate/statetest/test_deployment.go
Labels: none

More error wrapping around ops
  internal/core/app_build.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_status_report.go
Labels: core

Add changelog
  .changelog/3385.txt
Labels: none

update language w input support
  internal/cli/destroy.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  website/content/commands/destroy.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

including other generated docs
  website/content/partials/commands/runner-profile-delete_desc.mdx
  website/content/partials/commands/runner-profile-delete_more.mdx
Labels: website

update runner profile delete docs
  website/content/docs/runner/profiles.mdx
Labels: website

builtin/docker: Do not require `resources` for task launch config
  builtin/docker/task.go
Labels: plugin, plugin/docker

Add changelog
  .changelog/3486.txt
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
