Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

godocs
  internal/clisnapshot/snapshot.go
Labels: core

run docs command to try to get uninstall/upgrade docs
  website/content/commands/exec.mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: website

sidebar commands
  website/data/commands-navigation.js
Labels: website

cli/main: Add -version flag for CLI version
  internal/cli/main.go
Labels: core

backport of commit 513e3774b9923c9234f2b0a9a942486fa46c3b76
  internal/cli/main.go
Labels: core

internal/{ceb,cli,core,runner}: Plumb (optionally dynamic) config via env to the exec plugin
  internal/ceb/virtual.go
  internal/cli/runner_agent.go
  internal/core/app_exec.go
  internal/runner/operation_exec.go
  internal/runner/runner.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

go.mod: update plugin-sdk
  go.mod
  go.sum
Labels: none

internal/core: test fix
  internal/core/app_exec_test.go
Labels: core

internal/server/state: JobCreate supports singleton jobs
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

Multi-port service support for Kubernetes
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Consolidate K8S multi-port configuration
  builtin/k8s/config_test.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

Rollback on timeout or cancel
  builtin/k8s/platform.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
Labels: core, plugin, plugin/k8s

probably ready for PR
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

reset timeout
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

Add destroy script
  contrib/serverinstall/kind-k8s/destroy-k8s.sh
Labels: none

contrib/serverinstall: Add local registry for waypoint up
  contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/configs/cluster-config.yaml
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

internal/server: proto
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

internal/server/state: JobCreate supports singleton jobs
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

check args length before getting index
  internal/cli/hostname_delete.go
Labels: core

Update CHANGELOG
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Move comments to draft PR.
  internal/core/app_deploy.go
Labels: core

builtin/aws/ecs: Add additional bounds check
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

Reorganize docker PlatformConfig var defs
  builtin/docker/platform.go
Labels: plugin, plugin/docker

backport of commit 8c5f2861d7fc7bfcbba652779cd56c7e6a3b376e
  builtin/docker/platform.go
Labels: plugin, plugin/docker

backport of commit 33d570fd85648cb5ba7f8d7382bc8424d1c2288b
  builtin/docker/platform.go
Labels: plugin, plugin/docker

builtin/docker: Allow for labeling deploy container
  builtin/docker/platform.go
Labels: plugin, plugin/docker

chore: upgrade nextjs-scripts & next
  website/package-lock.json
  website/package.json
Labels: website

backport of commit afb40fcd9ce4e9dd8d29dc506fc70977e012497f
  builtin/docker/platform.go
Labels: plugin, plugin/docker

builtin/docker: Allow deploy container to connect to networks
  builtin/docker/platform.go
Labels: plugin, plugin/docker

internal/server: proto changes for workspace to track projects
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/server/state: new workspace layout, store on disk
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/state/workspace_test.go
Labels: core

internal/server: set data ref for project on runner download
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
Labels: core

internal/server/state: API to update data ref for project in a workspace
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/workspace.go
Labels: core

internal/server: proto for UpOp
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

internal/runner: fix build errors
  internal/runner/operation.go
  internal/runner/operation_up.go
Labels: core

internal/client: Up
  internal/client/operation.go
Labels: core

internal/runner: UpOp
  internal/runner/operation.go
  internal/runner/operation_up.go
Labels: core

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
