Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*

use serializeBinary to serialize protobuf
  ui/app/components/exec/index.ts
Labels: ui

Very WIP
  internal/server/http.go
  ui/app/components/exec/index.ts
Labels: core, ui

add struct for deferred cleanup
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

First tests working!
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
  internal/plugin/plugin.go
Labels: core

vcs util: the beginning
  internal/pkg/vcsutil/doc.go
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

first test for remoteHasDiff
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

check for dirty on file change
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

make format
  internal/pkg/vcsutil/doc.go
Labels: core

make format
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

add tests for getRemoteName
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

add func to check specific file for diff
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

make format
  internal/pkg/vcsutil/vcs_util.go
Labels: core

remove redundant WIP tests; refine remoteHasDiff test
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

doc some funcs; rename a couple things
  internal/pkg/vcsutil/vcs_util.go
Labels: core

Fix tests
  internal/pkg/vcsutil/vcs_util.go
Labels: core

rearrange test funcs; use t.TempDir for auto-cleanup
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

More guardrails around git not being installed
  internal/pkg/vcsutil/doc.go
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
  internal/plugin/plugin.go
Labels: core

Fixing imports
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

rename function, add docs
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

Allowing cross-protocol remote detection
  internal/pkg/vcsutil/vcs_util.go
  internal/pkg/vcsutil/vcs_util_test.go
Labels: core

Use new session service
  ui/app/components/exec/index.ts
Labels: ui

Remove query param flag
  ui/app/controllers/workspace/projects/project/app/exec.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/templates/workspace/projects/project/app/exec.hbs
Labels: ui

Udpate types and clean up
  ui/app/components/exec/index.ts
Labels: ui

serverstate: lengthen timeouts to give state implementations more leyway
  internal/serverstate/statetest/test_application.go
Labels: core

Added changelog
  .changelog/2645.txt
Labels: none

Commit origins, add DOTgitignore
  internal/pkg/gitdirty/gitdirty_test.go
  internal/pkg/gitdirty/testdata/clean/DOTgit/index
  internal/pkg/gitdirty/testdata/clean/DOTgitignore
  internal/pkg/gitdirty/testdata/commited-unpushed-change/DOTgitignore
  internal/pkg/gitdirty/testdata/from-DOTgit.sh
  internal/pkg/gitdirty/testdata/git-commits/A
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/COMMIT_EDITMSG
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/HEAD
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/config
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/description
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/applypatch-msg.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/commit-msg.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/fsmonitor-watchman.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/post-update.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/pre-applypatch.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/pre-commit.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/pre-merge-commit.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/pre-push.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/pre-rebase.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/pre-receive.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/prepare-commit-msg.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/hooks/update.sample
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/index
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/info/exclude
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/logs/HEAD
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/logs/refs/heads/master
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/objects/38/0afd697abe993b89bfa08d8dd8724d6a513ba1
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/objects/45/9023a450b8e8aa344d230839d41e2f115d3d28
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/objects/7c/178d1296d8b87e83382c324aeb32e2def2a5af
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/objects/8b/137891791fe96927ad78e64b0aad7bded08bdc
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/objects/b1/a2dcd337f590a185a20f013721e7410764bab4
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
  internal/pkg/gitdirty/testdata/git-commits/DOTgit/refs/heads/master
  internal/pkg/gitdirty/testdata/multiple-remotes/DOTgitignore
  internal/pkg/gitdirty/testdata/to-DOTgit.sh
  internal/pkg/gitdirty/testdata/uncommited-change/DOTgitignore
Labels: core

Add new UpsertWorkspace rpc and types
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_workspace.go
Labels: core

workspacePut with copy/paste/edit tests from user
  internal/server/ptypes/workspace.go
  internal/server/singleprocess/service_workspace.go
  internal/server/singleprocess/service_workspace_test.go
  internal/server/singleprocess/state/workspace.go
  internal/serverstate/serverstate.go
  internal/serverstate/statetest/test_workspace.go
Labels: core

Refactor, update tests
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/ptypes/workspace.go
  internal/server/singleprocess/service_workspace.go
  internal/server/singleprocess/service_workspace_test.go
  internal/server/singleprocess/state/workspace.go
  internal/serverstate/statetest/test_workspace.go
Labels: core

change log
  .changelog/2758.txt
Labels: none

remove changelog; API isn't documented/public
  .changelog/2758.txt
Labels: none

update regular expression for workspace names
  internal/server/ptypes/workspace.go
  internal/server/singleprocess/service_workspace_test.go
  internal/server/singleprocess/state/workspace.go
  internal/serverstate/statetest/test_workspace.go
Labels: core

move check for existing workspace into workspacePut, from WorkspacePut
  internal/server/singleprocess/state/workspace.go
Labels: core

update/change service validation
  internal/server/ptypes/workspace.go
  internal/server/singleprocess/service_workspace.go
Labels: core

rename test
  internal/server/singleprocess/service_workspace_test.go
Labels: core

ui: set `Project.remote_enabled` appropriately
  ui/app/services/api.ts
  ui/tests/unit/services/api-test.ts
Labels: ui

ui: teach @typescript-eslint about _ignoredArgs
  ui/.eslintrc.js
Labels: ui

backport of commit 98abc59e711f9dd711955e17a77c9476ccc699ed
  ui/.eslintrc.js
Labels: ui

backport of commit 1b4ab151b0b6e001e4fe1d94036eda7a5167c28c
  ui/app/services/api.ts
  ui/tests/unit/services/api-test.ts
Labels: ui

Using regex.MustCompile to force a panic.
  internal/pkg/gitdirty/gitdirty.go
Labels: core
