Repository hashicorp/waypoint, changes with the labels that .github/labeler.yml gives for each.
All labels: core, plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, ui, website

contrib: add waypoint-grpc
  contrib/waypoint-grpc/README.md
  contrib/waypoint-grpc/waypoint-grpc.sh
Labels: none

use preserveSymlinks to fix /lib imports
  ui/tsconfig.json
Labels: ui

backport of commit 07b7c2a286336ce7dc41adc11450a674305cf65d
  website/data/alert-banner.js
Labels: website

Update alert banner for HashiConf
  website/data/alert-banner.js
Labels: website

backport of commit 07b7c2a286336ce7dc41adc11450a674305cf65d
  website/data/alert-banner.js
Labels: website

Closer expiration date
  website/data/alert-banner.js
Labels: website

backport of commit 904ae546f09d088826f18c284b00b6288a7ad4b0
  website/data/alert-banner.js
Labels: website

backport of commit 904ae546f09d088826f18c284b00b6288a7ad4b0
  website/data/alert-banner.js
Labels: website

Remove unnecessary backticks
  website/data/alert-banner.js
Labels: website

backport of commit 2804ce32f301260b87c772f30ba548b0e1103d98
  website/data/alert-banner.js
Labels: website

backport of commit 2804ce32f301260b87c772f30ba548b0e1103d98
  website/data/alert-banner.js
Labels: website

use preserveSymlinks to fix /lib imports (#2508)
  ui/tsconfig.json
Labels: ui

backport of commit c6beb9c488df3f574fa228aed1829dbbab39f4e9
  internal/cli/base.go
Labels: core

Close the local runner on exit.
  internal/cli/base.go
Labels: core

backport of commit 294491227d839a716ef5b523b0c83462e36b41a9
  .changelog/2513.txt
Labels: none

changelog
  .changelog/2513.txt
Labels: none

website: Update alert banner for HashiConf (#2509)
  website/data/alert-banner.js
Labels: website

remove ember-in-viewport
  ui/package.json
  ui/yarn.lock
Labels: ui

Add feature flag to controller
  ui/app/controllers/workspace/projects/project/app/exec.ts
Labels: ui

Add exec component shell
  ui/app/components/exec/index.hbs
  ui/app/components/exec/index.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/templates/workspace/projects/project/app/exec.hbs
Labels: ui

Add basic character handler
  ui/app/components/exec/index.ts
  ui/app/utils/create-terminal.ts
  ui/app/utils/keys.ts
  ui/app/utils/terminal-theme.ts
Labels: ui

Adjust timer interval
  website/components/homepage/terminal/index.tsx
Labels: website

backport of commit 652f5bb798ba4667c5a661e43912014828f85f14
  website/components/homepage/terminal/index.tsx
Labels: website

backport of commit 652f5bb798ba4667c5a661e43912014828f85f14
  website/components/homepage/terminal/index.tsx
Labels: website

remove ember-in-viewport (#2519)
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: adding ember-changeset packages
  ui/package.json
  ui/yarn.lock
Labels: ui

ui: starting to add changeset (in-progress)
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list-item.ts
  ui/mirage/factories/project.ts
Labels: ui

ui/config-vars: create changset when isCreating=true
  ui/app/components/project-config-variables/list-item.ts
Labels: ui

ui: updated parameters for saveVariableSettings
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
Labels: ui

ui: fixing config variable list display
  ui/app/components/project-config-variables/list-item.hbs
Labels: ui

ui: cleanup
  ui/app/components/project-config-variables/list-item.ts
Labels: ui

use changeset helpers in form, update tests
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list-item.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

ui: Fixing typescript error
  ui/app/components/project-config-variables/list-item.ts
Labels: ui

ui: Fixing more typescript errors
  ui/app/components/project-config-variables/list.ts
Labels: ui

Re-run yarn to stablize de-duping
  ui/yarn.lock
Labels: ui

Add ember-asset-size action
  .github/workflows/ember-assets.yml
Labels: none

use working-directory
  .github/workflows/ember-assets.yml
Labels: none

Require refProject to be set for commands that require an app target.
  internal/cli/base.go
Labels: core

ui: addressed comments on pr from @jgwhite
  ui/app/components/project-config-variables/list-item.ts
Labels: ui

changelog
  .changelog/2525.txt
Labels: none

.github/labeler.yml:

core:
  - internal/**/*

plugin:
  - builtin/**/*

plugin/aws:
  - builtin/aws/**/*

plugin/azure:
  - builtin/azure/**/*

plugin/docker:
  - builtin/docker/**/*

plugin/google:
  - builtin/google/**/*

plugin/k8s:
  - builtin/k8s/**/*

plugin/nomad:
  - builtin/nomad/**/*

plugin/pack:
  - builtin/pack/**/*

ui:
  - ui/**/*

website:
  - website/**/*
