Repository hashicorp/waypoint, pull requests merged in 2020-11, with the labels that each got.

#740 Fix doc typo
  website/content/docs/waypoint-hcl/index.mdx
Labels: website, website/cherrypick

#737 Fix typo: production.mdx
  website/content/docs/server/run/production.mdx
Labels: website, website/cherrypick

#746 Use ProductDownloader component, remove duplicate code
  website/components/downloader/cards/index.jsx
  website/components/downloader/cards/style.module.css
  website/components/downloader/dropdown/index.jsx
  website/components/downloader/dropdown/style.module.css
  website/components/downloader/logos/fastly.svg
  website/components/downloader/release-information/index.jsx
  website/components/downloader/release-information/style.module.css
  website/components/downloader/utils/downloader.js
  website/data/downloads.js
  website/package-lock.json
  website/package.json
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/style.css
Labels: website, website/cherrypick

#723 Snapshot/Restore APIs
  go.mod
  go.sum
  internal/pkg/protowriter/protowriter.go
  internal/server/gen/mocks/is_create_snapshot_response__event.go
  internal/server/gen/mocks/is_create_snapshot_response__type.go
  internal/server/gen/mocks/is_restore_snapshot_request__event.go
  internal/server/gen/mocks/is_snapshot__trailer__checksum.go
  internal/server/gen/mocks/waypoint__create_snapshot_client.go
  internal/server/gen/mocks/waypoint__create_snapshot_server.go
  internal/server/gen/mocks/waypoint__restore_snapshot_client.go
  internal/server/gen/mocks/waypoint__restore_snapshot_server.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_snapshot.go
  internal/server/singleprocess/service_snapshot_test.go
  internal/server/singleprocess/state/snapshot.go
  internal/server/singleprocess/state/snapshot_test.go
  internal/server/singleprocess/state/state.go
  internal/server/singleprocess/state/testing.go
Labels: core

#749 Fix doc typo
  website/content/docs/workspaces.mdx
Labels: website

#750 Backport of Fix doc typo
  website/content/docs/workspaces.mdx
Labels: website

#755 builtin/google/cloudrun: default releaser
  builtin/google/cloudrun/platform.go
Labels: backport/0.1.x, plugin, plugin/google

#724 Update ECS plugin to not assign public ip on ec2_cluster
  builtin/aws/ecs/platform.go
Labels: backport/0.1.x, plugin, plugin/aws

#752 internal/ceb: prevent multiple horizon agents from running in the same ceb
  internal/ceb/ceb.go
  internal/ceb/url.go
Labels: backport/0.1.x, core

#715 k8s/install: Add OpenShift support
  go.sum
  internal/cli/install.go
  internal/serverinstall/config.go
  internal/serverinstall/data/k8s-install/app.yaml
  internal/serverinstall/datagen/bindata.go
  internal/serverinstall/datagen/datagen.go
  internal/serverinstall/k8s.go
Labels: core

#766 internal/server: don't use monotonic ulids
  internal/server/id.go
Labels: backport/0.1.x, core

#760 builtin/google-cloud-run: less strict image validation
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
Labels: backport/0.1.x, plugin, plugin/google

#759 builtin/k8s: default releaser should mirror namespace settings
  builtin/k8s/platform.go
Labels: backport/0.1.x, plugin, plugin/k8s

#771 Doc nits
  website/content/docs/automating-execution/gitlab-cicd.mdx
  website/content/docs/lifecycle/deploy.mdx
  website/content/docs/url.mdx
Labels: website, website/cherrypick

#753 [Website] Bump HSM version for design tweaks
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#768 internal/core: return error if type is ErrSentinel to signal exit codes
  internal/cli/app_docs.go
  internal/cli/artifact_build.go
  internal/cli/artifact_push.go
  internal/cli/base.go
  internal/cli/deployment_create.go
  internal/core/operation.go
Labels: backport/0.1.x, core

#754 Upgrade ProductDownloader
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#777 website: release 0.1.5
  website/data/version.js
Labels: backport/0.1.x, website, website/cherrypick

#787 Fix plugin guide example
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
Labels: website, website/cherrypick

#713 internal/{cli, config/funcs}: Wire up ability to gen func docs
  internal/cli/app_docs.go
  internal/config/funcs/doc.go
  website/content/partials/funcs.mdx
Labels: core, website

#792 update vars for ecs deploy
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website, website/cherrypick

#791 internal/ceb: support child process restarts on config change
  internal/ceb/ceb.go
  internal/ceb/ceb_test.go
  internal/ceb/child_exec.go
  internal/ceb/config.go
  internal/ceb/config_test.go
  internal/ceb/exec.go
  internal/ceb/init.go
  internal/ceb/log.go
  internal/ceb/server.go
  website/content/docs/app-config.mdx
Labels: core, website

#757 Templating Functions & HCL Variables for Artifacts, Deploys
  builtin/docker/builder.go
  builtin/docker/copy.go
  go.mod
  go.sum
  internal/cli/init.go
  internal/config/app.go
  internal/config/app_test.go
  internal/config/config.go
  internal/config/eval_context.go
  internal/config/funcs/filesystem.go
  internal/config/funcs/filesystem_test.go
  internal/config/funcs/template.go
  internal/config/funcs/template_test.go
  internal/config/operation.go
  internal/config/stages.go
  internal/config/testdata/compare/build_use.hcl
  internal/core/app.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/component_creator.go
  internal/core/eval_context.go
  internal/core/operation.go
  internal/pkg/ctystructure/doc.go
  internal/pkg/ctystructure/object.go
  internal/pkg/ctystructure/object_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, plugin, plugin/docker

#788 clarify terminal output section
  website/content/docs/extending-waypoint/creating-plugins/build-interface.mdx
Labels: website, website/cherrypick

#804 Fix waypoint to work with Artifact Registry
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
Labels: backport/0.1.x, plugin, plugin/google

#807 Add more descriptive output to `waypoint destroy`
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
Labels: backport/0.1.x, core

#815 Fixes #813: Improve error handling for config get command
  internal/cli/config_get.go
Labels: backport/0.1.x, core

#818 internal/cli: server config set doesn't require waypoint.hcl
  internal/cli/server_config_set.go
Labels: backport/0.1.x, core

#822 Fix dev version to be current released 0.1.5
  internal/version/version.go
Labels: bug, core

#569 Implement a status alert banner
  website/components/footer/index.jsx
  website/components/footer/style.module.css
  website/lib/hooks/useWaypointServiceStatus.js
  website/pages/_app.js
  website/public/img/status-degraded.svg
  website/public/img/status-normal.svg
Labels: backport/website, website

#827 internal/ceb: fix exec failing on main, cleanup force closed exec sessions
  internal/ceb/child_exec.go
  internal/ceb/exec.go
  internal/server/singleprocess/service_entrypoint.go
Labels: core

#828 waypoint config get: Make -raw print all variables
  internal/cli/config_get.go
Labels: core

#824 Fix ECS task role name bug (issue #790)
  builtin/aws/ecs/platform.go
Labels: backport/0.1.x, plugin, plugin/aws

#832 Backport of "internal/cli: make -raw print all variables"
  internal/cli/config_get.go
Labels: core

#829 Docs update for `config get raw`
  internal/cli/config_get.go
  website/content/commands/config-get.mdx
Labels: backport/0.1.x, core, website

#834 internal/cli: fix linter issue with Sprintf inside Fprintln
  internal/cli/config_get.go
Labels: backport/0.1.x, core

#830 send "EOF" event for stdin through exec session when stdin is closed
  go.mod
  go.sum
  internal/ceb/exec.go
  internal/server/execclient/client.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
Labels: backport/0.1.x, core

#839 docs/troubleshooting: Include extra help for troubleshooting deployments
  website/content/docs/troubleshooting.mdx
Labels: backport/website, website

#817 Add `config sync` CLI
  internal/cli/config_sync.go
  internal/cli/main.go
  internal/client/operation.go
  internal/runner/operation.go
  internal/runner/operation_config.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

#841 #745 environment variables to be used instead of 'region' property for aws-ecr registry
  builtin/aws/ecr/registry.go
Labels: backport/0.1.x, plugin, plugin/aws

#843 Backport: Allows environment variables to be used instead of 'region' property …
  builtin/aws/ecr/registry.go
Labels: plugin, plugin/aws

#773 Utilise waypoint orb when using CircleCI
  website/content/docs/automating-execution/circle-ci.mdx
Labels: backport/website, website

#847 docs/ui: Include link to run Waypoint server locally for development
  ui/README.md
Labels: documentation, ui

#850 Add Service Account Field to Cloud Run
  CHANGELOG.md
  builtin/google/cloudrun/deployment.go
  builtin/google/cloudrun/platform.go
Labels: backport/0.1.x, plugin, plugin/google

#845 contrib/serverinstall: Automate setup of kind+k8s with metallb
  contrib/serverinstall/kind-k8s/.gitignore
  contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/configs/cluster-config.yaml
  contrib/serverinstall/kind-k8s/configs/example-nodejs.yaml
  contrib/serverinstall/kind-k8s/configs/metallb-config-template.yaml
  contrib/serverinstall/kind-k8s/configs/metallb-config.yaml
  contrib/serverinstall/kind-k8s/setup-k8s.sh
  website/content/docs/index.mdx
Labels: contrib, enhancement, website

#858 Docs for path vars, template functions, and artifact/deploy variables
  internal/cli/app_docs.go
  website/content/docs/waypoint-hcl/functions/all.mdx
  website/content/docs/waypoint-hcl/functions/index.mdx
  website/content/docs/waypoint-hcl/functions/template.mdx
  website/content/docs/waypoint-hcl/index.mdx
  website/content/docs/waypoint-hcl/variables/artifact.mdx
  website/content/docs/waypoint-hcl/variables/deploy.mdx
  website/content/docs/waypoint-hcl/variables/entrypoint.mdx
  website/content/docs/waypoint-hcl/variables/index.mdx
  website/content/docs/waypoint-hcl/variables/path.mdx
  website/content/partials/funcs.mdx
  website/data/docs-navigation.js
Labels: core, website

#855 Stream entrypoint logs, distinguish app vs system logs, colorize
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
  internal/ceb/config.go
  internal/ceb/log.go
  internal/ceb/server.go
  internal/ceb/url.go
  internal/cli/logs.go
  internal/client/operation.go
  internal/pkg/gatedwriter/writer.go
  internal/pkg/gatedwriter/writer_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

#849 config sync: CLI for setting/reading config source config
  internal/cli/config_source_get.go
  internal/cli/config_source_set.go
  internal/cli/main.go
Labels: core

#860 Fix path for server proto when using go generate
  internal/server/server.go
Labels: core
