Repository hashicorp/waypoint, pull requests merged in 2020-12, with the labels that each got.

#848 Component cleanup
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/invite.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/builds.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/card.hbs
  ui/app/components/card/header.hbs
  ui/app/components/copyable-code/index.hbs
  ui/app/components/empty-state.hbs
  ui/app/components/external-link.hbs
  ui/app/components/header/index.hbs
  ui/app/components/icon-tile.hbs
  ui/app/components/logout/index.hbs
  ui/app/components/page-header.hbs
  ui/app/components/svg-patterns.hbs
Labels: ui

#859 ui: bump to latest version of ts/js clients
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

#803 Auto-scroll UI client log components
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
  ui/app/styles/_app-card.scss
  ui/app/styles/_page.scss
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui

#867 internal/config: support waypoint.hcl.json for HCL-flavored JSON syntax
  internal/cli/base_init.go
  internal/config/path.go
  internal/runner/operation.go
Labels: core

#866 website: waypoint.hcl syntax reference
  website/content/docs/waypoint-hcl/functions/template.mdx
  website/content/docs/waypoint-hcl/index.mdx
  website/content/docs/waypoint-hcl/syntax/expressions.mdx
  website/content/docs/waypoint-hcl/syntax/index.mdx
  website/content/docs/waypoint-hcl/syntax/json.mdx
  website/data/docs-navigation.js
Labels: website

#865 website: add robots.txt for deploys from master
  website/.gitignore
  website/package.json
Labels: website

#868 Config Sourcer Plugin Docs
  builtin/k8s/config_sourcer.go
  builtin/k8s/k8s.go
  builtin/vault/config_sourcer.go
  builtin/vault/vault.go
  go.mod
  go.sum
  internal/cli/app_docs.go
  internal/plugin/plugin.go
  website/content/partials/components/builder-vault.mdx
  website/content/partials/components/configsourcer-aws-alb.mdx
  website/content/partials/components/configsourcer-aws-ami.mdx
  website/content/partials/components/configsourcer-aws-ec2.mdx
  website/content/partials/components/configsourcer-aws-ecr.mdx
  website/content/partials/components/configsourcer-aws-ecs.mdx
  website/content/partials/components/configsourcer-azure-container-instance.mdx
  website/content/partials/components/configsourcer-docker-pull.mdx
  website/content/partials/components/configsourcer-docker.mdx
  website/content/partials/components/configsourcer-exec.mdx
  website/content/partials/components/configsourcer-files.mdx
  website/content/partials/components/configsourcer-google-cloud-run.mdx
  website/content/partials/components/configsourcer-kubernetes.mdx
  website/content/partials/components/configsourcer-netlify.mdx
  website/content/partials/components/configsourcer-nomad.mdx
  website/content/partials/components/configsourcer-pack.mdx
  website/content/partials/components/configsourcer-vault.mdx
  website/content/partials/components/platform-vault.mdx
  website/content/partials/components/registry-vault.mdx
  website/content/partials/components/releasemanager-vault.mdx
  website/content/plugins/kubernetes.mdx
  website/content/plugins/vault.mdx
  website/data/plugins-navigation.js
Labels: core, plugin, plugin/k8s, website

#871 Fix typo in ECS debug logging
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#875 Fix grammar typo in intro
  website/content/docs/intro/index.mdx
Labels: backport/website, website

#874 internal/ceb: exec sessions should get all config vars
  internal/ceb/config.go
  internal/ceb/exec.go
Labels: core

#872 Config Sync Docs
  internal/cli/config_source_get.go
  internal/cli/config_source_set.go
  website/content/docs/app-config.mdx
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/app-config/index.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/data/docs-navigation.js
Labels: core, website

#878 internal/server: fix send-after-close possibility in exec
  internal/ceb/exec.go
  internal/server/singleprocess/service_entrypoint.go
Labels: core

#880 AWS SSM (Parameter Store) Config Source Plugin
  builtin/aws/ssm/config_sourcer.go
  builtin/aws/ssm/ssm.go
  go.mod
  go.sum
  internal/ceb/ceb.go
  internal/plugin/plugin.go
  website/content/partials/components/builder-aws-ssm.mdx
  website/content/partials/components/configsourcer-aws-ssm.mdx
  website/content/partials/components/platform-aws-ssm.mdx
  website/content/partials/components/registry-aws-ssm.mdx
  website/content/partials/components/releasemanager-aws-ssm.mdx
  website/content/plugins/aws-ssm.mdx
  website/data/plugins-navigation.js
Labels: core, plugin, plugin/aws, website

#870 Add CLI commands to access snapshot functionality
  internal/cli/main.go
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
Labels: core

#881 internal/server: Block on instance deployment becoming available
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/service_instance_test.go
Labels: core

#882 internal/server: refactor install into one package
  internal/cli/install.go
  internal/serverinstall/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

#885 internal/cli: output token directly to stdout
  internal/cli/token.go
Labels: core

#883 Vault Config Source Auth Methods
  builtin/vault/auth.go
  builtin/vault/auth_test.go
  builtin/vault/client.go
  builtin/vault/config_sourcer.go
  builtin/vault/internal/auth/auth.go
  builtin/vault/internal/auth/aws/aws.go
  builtin/vault/internal/auth/gcp/gcp.go
  builtin/vault/internal/auth/kubernetes/kubernetes.go
  builtin/vault/internal/auth/kubernetes/kubernetes_test.go
  go.mod
  go.sum
  website/content/partials/components/configsourcer-vault.mdx
Labels: plugin, website

#886 internal/ceb: logger should connect when config is ready, not child
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
  internal/ceb/config.go
  internal/ceb/log.go
Labels: core

#864 Add Connect item to UI header
  ui/app/components/actions/context.hbs
  ui/app/components/actions/context.ts
  ui/app/components/actions/invite.hbs
  ui/app/components/header/index.hbs
  ui/app/styles/_header.scss
Labels: ui

#888 Snapshot/Restore Docs
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
  website/content/commands/config-sync.mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-restore.mdx
  website/content/commands/server-snapshot.mdx
  website/content/docs/server/run/maintenance.mdx
  website/content/partials/commands/config-source-get_desc.mdx
  website/content/partials/commands/config-source-get_more.mdx
  website/content/partials/commands/config-source-set_desc.mdx
  website/content/partials/commands/config-source-set_more.mdx
  website/content/partials/commands/config-sync_desc.mdx
  website/content/partials/commands/config-sync_more.mdx
  website/content/partials/commands/server-restore_desc.mdx
  website/content/partials/commands/server-restore_more.mdx
  website/content/partials/commands/server-snapshot_desc.mdx
  website/content/partials/commands/server-snapshot_more.mdx
  website/data/commands-navigation.js
Labels: website

#892 builtin/vault: nil check on freeport
  builtin/vault/freeport/freeport.go
Labels: plugin

#869 UI Versioning and information
  ui/app/components/app-footer/index.hbs
  ui/app/components/app-footer/index.js
  ui/app/components/version-info/index.hbs
  ui/app/components/version-info/index.ts
  ui/app/helpers/current-year.ts
  ui/app/styles/_footer.scss
  ui/app/styles/app.scss
  ui/app/templates/application.hbs
  ui/public/images/hashicorp.svg
Labels: ui

#896 Resolve polling flash in UI
  ui/app/routes/workspace/projects/project/app.ts
Labels: ui

#897 cli{docs}: alphabetize install flags
  internal/cli/install.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

#904 builtin/exec: Respect `dir` if defined for deploy command
  builtin/exec/platform.go
Labels: backport/0.1.x, plugin

#906 CircleCI config, dependency update
  .circleci/config.yml
  website/package-lock.json
  website/package.json
Labels: backport/website, website

#909 update website dependencies
  website/package-lock.json
  website/package.json
Labels: backport/website, website

#912 Flag to install runner, support installing runner with Docker
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/install.go
  internal/cli/option.go
  internal/cli/runner_agent.go
  internal/serverconfig/config.go
  internal/serverconfig/config_test.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core

#913 cli: match k8s image pull policy to k8s defaults
  internal/serverinstall/k8s.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/docs/upgrading/index.mdx
Labels: backport/0.2.x, backport/website, core, website

#916 website: add http header to prevent tip indexing
  website/.gitignore
  website/next.config.js
  website/package.json
Labels: website

#919 website: add explicit match for root path header
  website/next.config.js
Labels: website

#921 Refactor snapshot cli commands
  internal/cli/server_config_set.go
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/clisnapshot/snapshot.go
  internal/clisnapshot/snapshot_test.go
Labels: backport/0.2.x, core

#922 internal/server: Store URL Token in state to prevent re-registering guest account
  internal/server/singleprocess/service_url.go
  internal/server/singleprocess/state/server_urltoken.go
Labels: bug, core

#931 builtin/aws/ecs: properly clamp the service name. Closes #873
  builtin/aws/ecs/platform.go
Labels: backport/0.2.x, bug, plugin, plugin/aws, plugin/ecs
