Repository hashicorp/waypoint, pull requests merged in 2020-10, with the labels that each got.

#470 Bump website version to 0.1.1
  website/data/version.js
Labels: website

#469 Fix Scenario Typo
  website/content/docs/lifecycle/build.mdx
Labels: website

#476 Mention docker pull hashicorp/waypoint
  website/content/docs/getting-started.mdx
  website/content/docs/troubleshooting.mdx
Labels: documentation

#477 website: mark the action-waypoint action as experimental
  website/content/docs/automating-execution/github-actions.mdx
Labels: website

#478 website: Fix typo on homepage
  website/pages/home/index.jsx
Labels: website

#475 B add docs links
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/creating-plugins/example-application.mdx
  website/content/docs/extending-waypoint/creating-plugins/main.mdx
  website/content/docs/extending-waypoint/creating-plugins/testing.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/authenticator.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable-notify.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/destroy.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/registry.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/release-manager.mdx
Labels: website

#454 ui: Testing Improvements
  ui/app/helpers/icon-for-component.ts
  ui/app/services/poll-model.ts
  ui/app/styles/app.scss
  ui/app/templates/application.hbs
  ui/app/templates/components/svg-patterns.hbs
  ui/mirage/services/deployment.ts
  ui/public/images/icons/logo-kubernetes-color-alt.svg
  ui/public/images/icons/logo-pack-color.svg
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/helpers/login.ts
Labels: ui

#485 Update paas.mdx
  website/content/docs/intro/vs/paas.mdx
Labels: website

#486 Fix "edit this page" documentation link
  website/pages/commands/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
  website/pages/plugins/[[...page]].jsx
Labels: website

#484 Fix plugin example link
  website/content/docs/extending-waypoint/creating-plugins/testing.mdx
Labels: website

#480 Rename Cloud Foundry Paketo -> Paketo
  website/content/docs/lifecycle/build.mdx
Labels: website

#493 Fix typo on getting-started.mdx
  website/content/docs/getting-started.mdx
Labels: website

#496 docs: fix service typo
  internal/cli/install.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

#492 Docs: Add GitLab CI/CD exec integration
  website/content/docs/automating-execution/gitlab-cicd.mdx
  website/content/docs/index.mdx
  website/data/docs-navigation.js
Labels: website

#497 website: add additional release tools to homepage
  website/pages/home/img/step-logos/gitlab.svg
  website/pages/home/index.jsx
Labels: website

#495 website: replace internal beta release urls
  website/content/docs/automating-execution/circle-ci.mdx
Labels: website

#481 builtin/azure/aci: fix dropped error
  builtin/azure/aci/deployment.go
Labels: plugin, plugin/azure

#499 [Website] Add .NET logo to homepage
  website/pages/home/img/step-logos/dotnet.svg
  website/pages/home/index.jsx
Labels: website

#502 Use latest puma/ruby in demo Terminal
  website/pages/home/index.jsx
Labels: website

#506 [Website] Add GitLab to CI/CD + VCS section on Homepage
  website/pages/home/index.jsx
Labels: website

#508 internal/cli: config commands should reuse main -app flag
  internal/cli/config_get.go
  internal/cli/config_set.go
Labels: core

#512 Add back docs blue theme
  website/components/temporary_docs-page/index.jsx
Labels: website

#517 Fix typo in parenthetical
  website/content/docs/lifecycle/deploy.mdx
Labels: website

#514 Handle case where there is only one ECS cluster with a given name
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#540 Fix index out of range error in autocomplete
  internal/cli/main.go
Labels: core

#539 builtin/docker/builder: Add dockerfile variable to BuilderConfig
  builtin/docker/builder.go
Labels: plugin, plugin/docker

#524 Add `make format` command and run it on the codebase
  Makefile
  builtin/aws/alb/releaser.go
  builtin/aws/ec2/platform.go
  builtin/google/cloudrun/platform_test.go
  builtin/netlify/platform.go
  internal/cli/artifact_build.go
  internal/cli/artifact_list.go
  internal/cli/artifact_push.go
  internal/cli/base.go
  internal/cli/build_list.go
  internal/cli/context_clear.go
  internal/cli/context_create.go
  internal/cli/context_delete.go
  internal/cli/context_list.go
  internal/cli/context_rename.go
  internal/cli/context_use.go
  internal/cli/context_verify.go
  internal/cli/datagen/datagen.go
  internal/cli/deployment_destroy.go
  internal/cli/deployment_list.go
  internal/cli/destroy.go
  internal/cli/exec.go
  internal/cli/hostname_delete.go
  internal/cli/hostname_list.go
  internal/cli/hostname_register.go
  internal/cli/init.go
  internal/cli/logs.go
  internal/cli/main.go
  internal/cli/option.go
  internal/cli/plugin.go
  internal/cli/runner_agent.go
  internal/cli/server_bootstrap.go
  internal/cli/server_config_set.go
  internal/cli/token.go
  internal/cli/ui.go
  internal/client/app.go
  internal/client/operation.go
  internal/client/project.go
  internal/config/funcs/encoding.go
  internal/config/funcs/filesystem.go
  internal/core/app_build.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/operation.go
  internal/core/project.go
  internal/datasource/datasource.go
  internal/datasource/git.go
  internal/datasource/git_test.go
  internal/datasource/local.go
  internal/runner/data.go
  internal/runner/operation.go
  internal/runner/operation_docs.go
  internal/runner/operation_release.go
  internal/runner/runner.go
  internal/server/component/component.go
  internal/server/logviewer/logviewer.go
  internal/server/server_test.go
  internal/serverinstall/datagen/bindata.go
Labels: core, plugin, plugin/aws, plugin/google

#543 website: set up public build logs for vercel
  website/vercel.json
Labels: website

#545 builtin/docker-pull: support registry auth from docker config files
  builtin/docker/pull/builder.go
Labels: plugin, plugin/docker

#547 internal/cli: show https:// on ui address on install
  internal/cli/install.go
Labels: core

#546 DRY up the Spinners & Loaders
  website/pages/home/index.jsx
Labels: website

#521 Fix broken links in docs/lifecycle/deploy
  website/content/docs/lifecycle/deploy.mdx
Labels: website

#544 internal/ceb: do not block child process startup on URL service conn
  internal/ceb/config.go
  internal/ceb/url.go
Labels: core

#550 website: add notes about status.hashicorp.com
  website/components/footer/index.jsx
  website/content/docs/url.mdx
Labels: website

#553 internal/cli: validate config on init properly
  internal/cli/base_init.go
  internal/cli/init.go
Labels: core

#554 Bump website downloads to 0.1.2
  website/data/version.js
  website/pages/downloads/index.jsx
Labels: website

#559 Switch all releases to build time fetch
  website/components/downloader/release-information/index.jsx
  website/pages/downloads/index.jsx
Labels: website

#564 Simplify our releases requests into a single request
  website/pages/downloads/index.jsx
Labels: website

#435 install/k8s: add statefulset and endpoint test
  internal/cli/install.go
Labels: core

#557 Website: Release notifications
  website/content/docs/upgrading/release-notifications.mdx
  website/data/docs-navigation.js
  website/public/img/discuss-subscribe.png
  website/public/img/github-action.png
Labels: website

#571 builtin/nomad: destroy works
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

#570 internal/serverinstall: convert installation methods to use stepgroups
  internal/cli/install.go
  internal/serverinstall/docker.go
  internal/serverinstall/nomad.go
Labels: core

#576 aws-ecs: fix `cpu` parameter for EC2 launch type
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#577 fix: updated waypoint link as current link points to a dead website
  website/README.md
Labels: website

#582 Fixed some typos
  builtin/README.md
  website/README.md
Labels: plugin, website

#580 fix(documentation)
  website/content/docs/server/index.mdx
Labels: website

#588 website: drop link to github actions demo
  website/content/docs/automating-execution/github-actions.mdx
Labels: website

#581 Add support for environment variables with pack build
  builtin/pack/builder.go
Labels: plugin, plugin/pack

#591 website: troubleshooting plugin installation
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/creating-plugins/testing.mdx
  website/content/docs/plugins.mdx
Labels: website

#592 Replace Deprecated AWS session.New
  builtin/aws/alb/releaser.go
  builtin/aws/ami/builder.go
  builtin/aws/ec2/platform.go
  builtin/aws/ecr/registry.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws

#600 Added private registry docs
  website/content/docs/lifecycle/build.mdx
Labels: website

#596 docs: fix k8s example using count instead of replicas
  website/content/partials/components/platform-kubernetes.mdx
Labels: website

#602 Fix plugin godoc copy paste
  builtin/aws/ec2/platform.go
  builtin/aws/ecr/registry.go
  builtin/aws/ecs/releaser.go
  builtin/docker/platform.go
  builtin/k8s/k8s.go
  builtin/k8s/releaser.go
  builtin/netlify/platform.go
Labels: plugin, plugin/aws, plugin/docker, plugin/k8s

#603 internal/pkg/flag: string slice defaults only if no flags given
  internal/pkg/flag/flag_string_slice.go
Labels: core

#605 Check for active ECS cluster
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#613 Fix deploy docker command doc
  builtin/docker/platform.go
  website/content/partials/components/platform-docker.mdx
Labels: plugin, plugin/docker, website

#619 fix(cli): application configuration url
  internal/cli/main.go
Labels: core

#620 builtin/google/cloudrun: nil check block configs
  builtin/google/cloudrun/platform.go
Labels: plugin, plugin/google

#575 docs: fix string example for aws-ecs memory
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website

#622 Fix typo in docs
  website/content/docs/automating-execution/jenkins.mdx
Labels: website

#626 Improve sentence flow in docs
  website/content/docs/extending-waypoint/index.mdx
Labels: website

#615 install/k8s: detect kind and show warning about additional requirements
  internal/cli/install.go
Labels: core

#633 internal/clicontext: fall back to plain files if symlinks don't work
  internal/clicontext/storage.go
  internal/clicontext/storage_test.go
Labels: core

#637 builtin/aws-ecs: fix crash if subnets are specified
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#621 builtin/aws: use SharedConfig to load ~/.aws/config
  builtin/aws/alb/releaser.go
  builtin/aws/ami/builder.go
  builtin/aws/ec2/platform.go
  builtin/aws/ecr/registry.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
  builtin/aws/utils/session.go
Labels: plugin, plugin/aws

#607 Delete ECS ALB listener if there is a single target group on destroy
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#583 Updated options for ECS deploys
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#638 internal/server: send instance ID as hzn label
  internal/ceb/url.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_hostname.go
Labels: core

#635 ui: switch back to public onboarding
  ui/app/components/context-create/index.hbs
  ui/app/routes/onboarding/index.ts
  ui/app/routes/onboarding/install/index.ts
  ui/app/templates/onboarding/connect.hbs
  ui/app/templates/onboarding/install.hbs
  ui/app/templates/onboarding/install/homebrew.hbs
  ui/app/templates/onboarding/install/manual.hbs
  ui/app/templates/onboarding/start.hbs
  ui/mirage/config.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/helpers/set-ua.ts
Labels: ui

#639 ui: remove windows onboarding install for now
  ui/app/routes/onboarding/install/index.ts
  ui/app/templates/onboarding/install/chocolatey.hbs
  ui/tests/acceptance/onboarding-test.ts
Labels: ui

#640 Improved private registry docs
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/deploy.mdx
Labels: website

#648 Adding namespace config to k8s deploy/release
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: plugin, plugin/k8s, website

#644 fix deprecated grpc.WithTimeout & clean up else if
  internal/serverclient/client.go
Labels: core

#651 internal/cli: server bootstrap should error on in-process mode
  internal/cli/server_bootstrap.go
Labels: core

#647 Add auth property for pulling docker image from private registry #646
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

#558 Website: Add action for automerging docs updates into stable-website
  .github/workflows/backport.yml
Labels: website

#654 Add upgrade docs notice
  website/content/docs/upgrading/index.mdx
Labels: website

#667 builtin/docker: Remove intermediate containers on build
  builtin/docker/builder.go
Labels: plugin, plugin/docker

#665 Add dockerfile docs
  builtin/docker/builder.go
Labels: plugin, plugin/docker

#661 Allow configuration of container listening port on ECS
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#656 builtin/nomad: use block for auth config and default datacenter to 'dc1'
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

#664 Add builtin/docker/client
  builtin/aws/ecr/registry.go
  builtin/docker/builder.go
  builtin/docker/client/client.go
  builtin/docker/platform.go
  builtin/docker/pull/builder.go
  builtin/docker/registry.go
  builtin/pack/builder.go
Labels: plugin, plugin/aws, plugin/docker, plugin/pack

#671 Allow Nomad sentinel policy override on install
  internal/serverinstall/nomad.go
Labels: core

#694 Fix typo in docs
  website/content/partials/components/platform-kubernetes.mdx
Labels: website, website/cherrypick

#696 Change Docker Image used by GitLab CI/CD
  website/content/docs/automating-execution/gitlab-cicd.mdx
Labels: website, website/cherrypick

#702 Fix clone script snippet
  website/content/docs/extending-waypoint/creating-plugins/index.mdx
Labels: website, website/cherrypick

#674 Make waypoint config set command pipeable
  internal/cli/config_set.go
Labels: core

#703 internal/cli: fix precedence on conn info to context => env => flags
  internal/cli/base_init.go
Labels: core

#699 internal/datasource: local data should return pwd
  internal/datasource/local.go
  internal/runner/accept.go
Labels: core

#707 internal/plugin: support plugins in $HOME/.config/waypoint/plugins
  internal/plugin/discover.go
Labels: core

#700 internal/serverinstall: for docker, download server image if it doesn't exist
  internal/serverinstall/docker.go
Labels: core

#708 website: update CLI docs
  website/content/commands/artifact-build.mdx
  website/content/commands/artifact-list-builds.mdx
  website/content/commands/artifact-list.mdx
  website/content/commands/artifact-push.mdx
  website/content/commands/build.mdx
  website/content/commands/config-get.mdx
  website/content/commands/config-set.mdx
  website/content/commands/context-clear.mdx
  website/content/commands/context-create.mdx
  website/content/commands/context-delete.mdx
  website/content/commands/context-list.mdx
  website/content/commands/context-rename.mdx
  website/content/commands/context-use.mdx
  website/content/commands/context-verify.mdx
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
  website/content/commands/deployment-destroy.mdx
  website/content/commands/deployment-list.mdx
  website/content/commands/destroy.mdx
  website/content/commands/docs.mdx
  website/content/commands/exec.mdx
  website/content/commands/hostname-delete.mdx
  website/content/commands/hostname-list.mdx
  website/content/commands/hostname-register.mdx
  website/content/commands/init.mdx
  website/content/commands/install.mdx
  website/content/commands/logs.mdx
  website/content/commands/release.mdx
  website/content/commands/runner-agent.mdx
  website/content/commands/server-bootstrap.mdx
  website/content/commands/server-config-set.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-run.mdx
  website/content/commands/token-exchange.mdx
  website/content/commands/token-invite.mdx
  website/content/commands/token-new.mdx
  website/content/commands/ui.mdx
  website/content/commands/up.mdx
  website/content/commands/version.mdx
Labels: website, website/cherrypick

#692 Update ECS plugin for execution and task roles
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#729 Update build.mdx
  website/content/docs/lifecycle/build.mdx
Labels: website, website/cherrypick

#731 Fix typo of kubernetes
  website/content/docs/lifecycle/deploy.mdx
Labels: website, website/cherrypick
