Repository hashicorp/waypoint, pull requests merged in 2021-05, with the labels that each got.

#1401 Properly validate the ECS ALB options. Fixes #1070
  .changelog/1401.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  builtin/aws/utils/validations.go
Labels: backport/0.3.x, plugin, plugin/aws

#1403 Add ability to request an internal ALB for ECS
  .changelog/1403.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
Labels: backport/0.3.x, plugin, plugin/aws

#1404 Change the AWS log level to match the waypoint log level. Fixes #1319
  .changelog/1404.txt
  builtin/aws/alb/releaser.go
  builtin/aws/ami/builder.go
  builtin/aws/ec2/platform.go
  builtin/aws/ecr/registry.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
  builtin/aws/lambda/ecs.go
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_logs.go
  builtin/aws/utils/session.go
Labels: backport/0.3.x, plugin, plugin/aws

#1410 cli: give helpful error msg on context commands
  internal/cli/context_create.go
  internal/cli/context_delete.go
  internal/cli/context_rename.go
  internal/cli/context_verify.go
Labels: backport/0.3.x, cli, pr/no-changelog

#1413 github/contributing: updates to onboarding docs
  .github/CONTRIBUTING.md
Labels: contrib, pr/no-changelog

#1415 plugin/ecs: Allow memory_reservation to be set on the main container
  .changelog/1415.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  builtin/aws/utils/values.go
Labels: plugin, plugin/aws

#1317 feat(builtin/k8s): Kubernetes improvements
  .changelog/1317.txt
  builtin/k8s/deployment.go
  builtin/k8s/platform.go
Labels: backport/0.3.x, plugin, plugin/k8s

#1423 Manual Backport of #1317 K8S Improvements
  .changelog/1317.txt
  builtin/k8s/deployment.go
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s, pr/no-changelog

#1422 Backport 1415
  .changelog/1415.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  builtin/aws/utils/values.go
Labels: plugin, plugin/aws, pr/no-changelog

#1424 Update backport.yml
  .github/workflows/backport.yml
Labels: pr/no-changelog

#1420 Makefile: Add target for generating plugin protos
  Makefile
Labels: backport/0.3.x, pr/no-changelog

#1426 internal/cli: don't use conn if error during accept
  .changelog/1426.txt
  internal/cli/runner_agent.go
Labels: backport/0.3.x, core

#1389 Update internal GCP Auth to use new SignJWT endpoint
  .changelog/1389.txt
  builtin/vault/internal/auth/gcp/gcp.go
Labels: backport/0.3.x, plugin

#1402 Remove old bindata_ui.go file
  internal/server/bindata_ui.go
Labels: backport/0.3.x, core, pr/no-changelog

#1346 docker: support build args
  .changelog/1346.txt
  builtin/docker/builder.go
  builtin/docker/img.go
Labels: backport/0.3.x, plugin, plugin/docker

#1416 website: support hidden pages in nav-data
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: backport/website, pr/no-changelog, website

#1414 Add ability to expose additinal ports for Docker
  .changelog/1414.txt
  builtin/docker/platform.go
Labels: backport/0.3.x, plugin, plugin/docker

#1393 builtin/k8s: Allow to configure Service annotations
  .changelog/1393.txt
  builtin/k8s/releaser.go
Labels: backport/0.3.x, plugin, plugin/k8s

#1443 Be more explicit about what settings are being set. Fixes #686
  .changelog/1443.txt
  internal/cli/server_config_set.go
Labels: backport/0.3.x, core

#1446 cli/up: Only print inplace deploy message if generation id exists
  internal/cli/up.go
Labels: bug, core, pr/no-changelog

#1123 feat: Additional configuration for Google Cloud Run
  .changelog/1123.txt
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/validation.go
  builtin/google/cloudrun/validation_test.go
  website/content/partials/components/platform-google-cloud-run.mdx
Labels: backport/0.3.x, plugin, plugin/google, website

#1447 Poll EC2 AutoScaling activity to check for failures and cancellations
  .changelog/1447.txt
  builtin/aws/ec2/platform.go
Labels: backport/0.3.x, plugin, plugin/aws

#1450 Bump waypoint-plugin-sdk to pickup fix. Fixes #1377
  .changelog/1450.txt
  go.mod
  go.sum
Labels: backport/0.3.x

#1454 Retry actions that reference across AWS services. Fixes #1396
  .changelog/1454.txt
  builtin/aws/ecs/platform.go
Labels: backport/0.3.x, plugin, plugin/aws

#1453 Add ignore field to pack. Fixes #1258
  .changelog/1453.txt
  builtin/pack/builder.go
  go.mod
  go.sum
Labels: backport/0.3.x, plugin, plugin/pack

#1457 Bump pack to v0.18.1 to pick up DOCKER_HOST fix
  .changelog/1457.txt
  builtin/docker/platform.go
  builtin/pack/builder.go
  go.mod
  go.sum
  internal/pkg/epinject/epinject.go
  internal/serverinstall/docker.go
Labels: backport/0.3.x, core, plugin, plugin/docker, plugin/pack

#1458 Add context inspect (and better context help)
  .changelog/1458.txt
  internal/cli/base.go
  internal/cli/context_help.go
  internal/cli/context_inspect.go
  internal/cli/main.go
  internal/serverconfig/config.go
Labels: backport/0.3.x, core

#1459 Backport of Bump pack to v0.18.1 to pick up DOCKER_HOST fix into release/0.3.x
  .changelog/1457.txt
  builtin/docker/platform.go
  builtin/pack/builder.go
  go.mod
  go.sum
  internal/pkg/epinject/epinject.go
  internal/serverinstall/docker.go
Labels: core, plugin, plugin/docker, plugin/pack

#1461 Default the platform on upgrade to the one in the context
  .changelog/1461.txt
  internal/cli/server_upgrade.go
Labels: backport/0.3.x, core

#1412 UI: status checks
  ui/app/components/app-card/build.hbs
  ui/app/components/status-badge/index.hbs
  ui/app/components/status-badge/index.ts
  ui/app/styles/_status-badge.scss
  ui/app/styles/app.scss
  ui/package.json
  ui/tests/integration/components/status-badge-test.ts
  ui/translations/en-us.yaml
  ui/yarn.lock
Labels: pr/no-changelog, ui

#1441 Fix the order of known log entries returned by the GetLogStream api
  .changelog/1441.txt
  internal/server/logbuffer/logbuffer.go
  internal/server/logbuffer/merge.go
  internal/server/logbuffer/merge_test.go
  internal/server/singleprocess/service_logs.go
  internal/server/singleprocess/service_logs_test.go
Labels: core

#1470 revert mockery version to v1.1.2
  internal/server/gen/mocks/is_config_get_request__scope.go
  internal/server/gen/mocks/is_config_source__scope.go
  internal/server/gen/mocks/is_config_var__scope.go
  internal/server/gen/mocks/is_config_var__value.go
  internal/server/gen/mocks/is_create_snapshot_response__event.go
  internal/server/gen/mocks/is_entrypoint_exec_request__event.go
  internal/server/gen/mocks/is_entrypoint_exec_response__event.go
  internal/server/gen/mocks/is_exec_stream_request__event.go
  internal/server/gen/mocks/is_exec_stream_request__start__target.go
  internal/server/gen/mocks/is_exec_stream_response__event.go
  internal/server/gen/mocks/is_get_config_source_request__scope.go
  internal/server/gen/mocks/is_get_job_stream_response__event.go
  internal/server/gen/mocks/is_get_job_stream_response__terminal__event__event.go
  internal/server/gen/mocks/is_get_log_stream_request__scope.go
  internal/server/gen/mocks/is_hostname__target__target.go
  internal/server/gen/mocks/is_job__data_source__ref__ref.go
  internal/server/gen/mocks/is_job__data_source__source.go
  internal/server/gen/mocks/is_job__destroy_op__target.go
  internal/server/gen/mocks/is_job__git__auth.go
  internal/server/gen/mocks/is_job__operation.go
  internal/server/gen/mocks/is_list_instances_request__scope.go
  internal/server/gen/mocks/is_ref__operation__target.go
  internal/server/gen/mocks/is_ref__runner__target.go
  internal/server/gen/mocks/is_restore_snapshot_request__event.go
  internal/server/gen/mocks/is_runner_config_request__event.go
  internal/server/gen/mocks/is_runner_job_stream_request__event.go
  internal/server/gen/mocks/is_runner_job_stream_response__event.go
  internal/server/gen/mocks/is_snapshot__trailer__checksum.go
  internal/server/gen/mocks/is_status_filter__filter__filter.go
  internal/server/gen/mocks/waypoint__create_snapshot_client.go
  internal/server/gen/mocks/waypoint__create_snapshot_server.go
  internal/server/gen/mocks/waypoint__entrypoint_config_client.go
  internal/server/gen/mocks/waypoint__entrypoint_config_server.go
  internal/server/gen/mocks/waypoint__entrypoint_exec_stream_client.go
  internal/server/gen/mocks/waypoint__entrypoint_exec_stream_server.go
  internal/server/gen/mocks/waypoint__entrypoint_log_stream_client.go
  internal/server/gen/mocks/waypoint__entrypoint_log_stream_server.go
  internal/server/gen/mocks/waypoint__get_job_stream_client.go
  internal/server/gen/mocks/waypoint__get_job_stream_server.go
  internal/server/gen/mocks/waypoint__get_log_stream_client.go
  internal/server/gen/mocks/waypoint__get_log_stream_server.go
  internal/server/gen/mocks/waypoint__restore_snapshot_client.go
  internal/server/gen/mocks/waypoint__restore_snapshot_server.go
  internal/server/gen/mocks/waypoint__runner_config_client.go
  internal/server/gen/mocks/waypoint__runner_config_server.go
  internal/server/gen/mocks/waypoint__runner_job_stream_client.go
  internal/server/gen/mocks/waypoint__runner_job_stream_server.go
  internal/server/gen/mocks/waypoint__start_exec_stream_client.go
  internal/server/gen/mocks/waypoint__start_exec_stream_server.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
Labels: core, pr/no-changelog

#1471 internal/cli: add project help text
  internal/cli/main.go
Labels: backport/0.3.x, cli, pr/no-changelog

#1483 Updates banner for HashiConf EU
  website/data/alert-banner.js
  website/pages/_app.js
Labels: backport/website, pr/no-changelog, website

#1481 Dockerfile: Remove `img` from `apk add` in `imgbase` stage
  Dockerfile
Labels: backport/0.3.x, bug, pr/no-changelog

#1496 website: backport missing website work
  website/README.md
  website/data/commands-nav-data.json
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

#1499 UI: Fix most a11y violations, modernize a11y testing setup
  ui/app/components/actions/invite.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/context-create/index.hbs
  ui/app/components/copyable-code/index.hbs
  ui/app/styles/app.scss
  ui/app/templates/application.hbs
  ui/app/templates/onboarding/install/linux/ubuntu.hbs
  ui/package.json
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/helpers/a11y.ts
  ui/tests/test-helper.js
  ui/yarn.lock
Labels: pr/no-changelog, ui

#1473 proto: update protobufs to latest versions
  go.mod
  go.sum
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  nix/default.nix
  shell.nix
Labels: core, pr/no-changelog

#1498 ci: add backporting of docs to latest release branch
  .github/workflows/backport.yml
Labels: pr/no-changelog

#1504 Very minor typo in a comment
  internal/server/proto/server.proto
Labels: core, pr/no-changelog

#1505 Make command for a linux binary
  Makefile
Labels: pr/no-changelog

#1507 UI: Update caniuse-lite to 1.0.30001228
  ui/yarn.lock
Labels: dependencies, pr/no-changelog, ui

#1519 UI: Upgrade @hashicorp/pds-ember to 0.6.0
  ui/package.json
  ui/yarn.lock
Labels: backport/0.3.x, bug, pr/no-changelog, ui

#1523 ci: backporting fixes
  .github/workflows/backport.yml
Labels: pr/no-changelog

#1477 Convert Docker to use new SDK Resource Manager
  builtin/docker/platform.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  go.mod
  go.sum
Labels: plugin, plugin/docker, pr/no-changelog

#1526 Install the correct version of mockery.
  tools/tools.go
Labels: pr/no-changelog

#1529 ListWorkspaces API supports filtering by project/app
  internal/server/gen/mocks/is_list_workspaces_request__scope.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_workspace.go
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/state/workspace_test.go
Labels: core, pr/no-changelog

#1530 builtin/vault/internal/auth: deprecate errwrap.Wrapf()
  builtin/vault/internal/auth/aws/aws.go
  builtin/vault/internal/auth/gcp/gcp.go
  builtin/vault/internal/auth/kubernetes/kubernetes.go
Labels: plugin, pr/no-changelog

#1509 internal/server: Variables added to the proto for project and job
  internal/server/gen/mocks/is_variable__source.go
  internal/server/gen/mocks/is_variable__value.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core, pr/no-changelog

#1528 builtin/k8s: use the resource manager
  .changelog/1528.txt
  builtin/k8s/api.go
  builtin/k8s/platform.go
  builtin/k8s/plugin.pb.go
  builtin/k8s/plugin.proto
Labels: plugin, plugin/k8s

#1535 Generate TS API Bindings for variables and workspaces
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: pr/no-changelog, ui

#1525 Remove netlify plugin
  .changelog/1525.txt
  README.md
  builtin/netlify/authenticate.go
  builtin/netlify/netlify.go
  builtin/netlify/platform.go
  builtin/netlify/plugin.pb.go
  builtin/netlify/plugin.proto
  go.mod
  go.sum
  internal/plugin/plugin.go
  ui/app/helpers/icon-for-component.ts
  ui/public/images/icons/logo-netlify-color.svg
  website/components/waypoint-diagram/img/logos/netlify.svg
  website/components/waypoint-diagram/index.jsx
  website/content/docs/lifecycle/deploy.mdx
  website/content/partials/components/builder-netlify.mdx
  website/content/partials/components/configsourcer-netlify.mdx
  website/content/partials/components/platform-netlify.mdx
  website/content/partials/components/registry-netlify.mdx
  website/content/partials/components/releasemanager-netlify.mdx
  website/content/plugins/netlify.mdx
  website/data/plugins-nav-data.json
  website/pages/home/img/step-logos/netlify.svg
  website/pages/home/index.jsx
Labels: core, plugin, plugin/netlify, ui, website

#1534 UI: Updated SVGs to utilize Structure Icons component
  ui/app/components/actions/context.hbs
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/invite.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/builds.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/copyable-code/index.hbs
  ui/app/components/header/index.hbs
  ui/app/components/icon-tile.hbs
  ui/app/components/latest-release-url/index.hbs
  ui/app/components/log-stream/index.hbs
  ui/app/components/logout/index.hbs
  ui/app/components/operation-logs/index.hbs
  ui/app/components/version-info/index.hbs
  ui/app/styles/_app-card.scss
  ui/app/styles/_app-item.scss
  ui/app/styles/_breadcrumbs.scss
  ui/app/styles/_button.scss
  ui/app/styles/_code.scss
  ui/app/styles/_header.scss
  ui/app/styles/_icon-tile.scss
  ui/app/styles/_page.scss
  ui/app/templates/auth.hbs
  ui/app/templates/error.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/package.json
  ui/yarn.lock
Labels: pr/no-changelog, ui

#1488 Feature: Implement core handling of component.Status
  .changelog/1488.txt
  builtin/docker/main.go
  builtin/docker/platform.go
  go.sum
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/client/job.go
  internal/client/operation.go
  internal/core/app_exec_test.go
  internal/core/app_release.go
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
  internal/runner/operation.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
  internal/server/gen/mocks/is_job__status_report_op__target.go
  internal/server/gen/mocks/is_status_report__target_id.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_status_report_test.go
  internal/server/singleprocess/state/status_report.go
  internal/server/singleprocess/state/status_report_test.go
Labels: core, plugin, plugin/docker

#1533 UI: Use Mirage’s DB/ORM/Factory in tests and dev
  ui/mirage/factories/application.ts
  ui/mirage/factories/build.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/release.ts
  ui/mirage/factories/status.ts
  ui/mirage/factories/workspace.ts
  ui/mirage/helpers/protobufs.ts
  ui/mirage/models/application.ts
  ui/mirage/models/build.ts
  ui/mirage/models/component.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status.ts
  ui/mirage/models/workspace.ts
  ui/mirage/scenarios/default.ts
  ui/mirage/serializers/application.ts
  ui/mirage/services/build.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/project.ts
  ui/mirage/services/release.ts
  ui/package.json
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/types/global.d.ts
  ui/yarn.lock
Labels: pr/no-changelog, ui

#1539 Generate API Bindings for health checks
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: pr/no-changelog, ui

#1538 Fixes job cancellation bug hidden behind race condition
  .changelog/1538.txt
  internal/server/singleprocess/service_runner.go
Labels: core

#1544 UI: Fixed misaligned icons
  ui/app/styles/_code.scss
  ui/app/styles/_page.scss
Labels: pr/no-changelog, ui

#1543 ui/mirage: make request logging clearer
  ui/mirage/utils.ts
Labels: pr/no-changelog, ui

#1542 ui/mirage: improve reporting of unhandled requests
  ui/mirage/config.ts
  ui/mirage/helpers/fail-unhandled-request.ts
Labels: pr/no-changelog, ui

#1550 server: Add API call for getting latest status report
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, pr/no-changelog

#1487 plugin/docker: Report on deploy status
  builtin/docker/platform.go
Labels: plugin, plugin/docker, pr/no-changelog

#1547 plugin/k8s: Add StatusFunc to Deploy and Release
  builtin/k8s/platform.go
  builtin/k8s/release.go
  builtin/k8s/releaser.go
  builtin/k8s/status_report_util.go
  go.mod
  go.sum
Labels: plugin, plugin/k8s, pr/no-changelog

#1551 UI: Fixed logo alignment on authentication screen
  ui/app/styles/_page.scss
Labels: pr/no-changelog, ui

#1552 Add `getLatestStatusReport` to the API client
  ui/lib/waypoint-client/ServerServiceClientPb.ts
Labels: pr/no-changelog, ui

#1554 plugin/nomad: Report on deployment status
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad, pr/no-changelog
