Repository hashicorp/waypoint, pull requests merged in 2021-06, with the labels that each got.

#1558 builtin/nomad: update docs for auth block
  builtin/nomad/platform.go
Labels: backport/0.3.x, plugin, plugin/nomad, pr/no-changelog

#1555 cli: Show last status report on latest deployment for list
  internal/cli/deployment_list.go
Labels: core, pr/no-changelog

#1490 docker: support build context
  .changelog/1490.txt
  builtin/docker/builder.go
Labels: plugin, plugin/docker

#1563 internal/server: increase test delta tolerance to 1 second from 0.1
  internal/server/singleprocess/service_exec_test.go
Labels: core, pr/no-changelog

#1561 builtin/{docker/k8s/nomad}: Add advisory message on non-ready reports
  builtin/docker/platform.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/nomad/platform.go
Labels: plugin, plugin/docker, plugin/k8s, plugin/nomad, pr/no-changelog

#1566 internal/server: Add overall health message for report on UI
  builtin/docker/platform.go
  builtin/nomad/platform.go
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, plugin, plugin/docker, plugin/nomad, pr/no-changelog

#1545 rotate algolia api key
  website/.env
Labels: backport/website, pr/no-changelog

#1570 Bug: adding release or deployment ID to the status report
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
Labels: bug, core, pr/no-changelog

#1569 ui: make gen/ts for StatusReport.health
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: pr/no-changelog, ui

#1475 Pack Plugin support for non-default process types.
  builtin/pack/builder.go
Labels: plugin, plugin/pack

#1578 state/status_report: Increase max records for status reports
  internal/server/singleprocess/state/status_report.go
Labels: core, pr/no-changelog

#1576 Changelog entry for PR #1475
  .changelog/1475.txt
Labels: pr/no-changelog

#1567 Feature: status reporting for ALB releases
  .changelog/1567.txt
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/plugin.proto
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

#1564 Add support for installing Waypoint server to AWS ECS
  .changelog/1564.txt
  internal/serverinstall/ecs.go
  internal/serverinstall/serverinstall.go
Labels: core

#1549 ui: mutable deployments
  .changelog/1549.txt
  ui/app/components/app-item/deployment.hbs
  ui/app/controllers/workspace/projects/project/app/deployments.ts
  ui/app/helpers/icon-for-component.ts
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/mirage/factories/build.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/release.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/generation.ts
  ui/mirage/scenarios/default.ts
  ui/mirage/services/build.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/release.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

#1559 ui: display status reports on deployments
  .changelog/1559.txt
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/card.hbs
  ui/app/components/status-badge/index.hbs
  ui/app/components/status-badge/index.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/services/api.ts
  ui/app/styles/_app-card.scss
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
  ui/app/styles/_status-badge.scss
  ui/app/styles/app.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/mirage/config.ts
  ui/mirage/factories/health.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/status-report.ts
  ui/mirage/factories/status.ts
  ui/mirage/models/application.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/health.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status-report.ts
  ui/mirage/models/workspace.ts
  ui/mirage/services/job.ts
  ui/mirage/services/status-report.ts
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/integration/components/status-badge-test.ts
  ui/translations/en-us.yaml
Labels: ui

#1583 website: Update CLI and component docs
  builtin/pack/builder.go
  internal/cli/server_upgrade.go
  website/content/commands/context-inspect.mdx
  website/content/commands/context.mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/commands/context-inspect_desc.mdx
  website/content/partials/commands/context-inspect_more.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/data/commands-nav-data.json
Labels: core, plugin, plugin/pack, pr/no-changelog, website

#1591 Very minor typo
  internal/core/operation.go
Labels: core, pr/no-changelog

#1593 ui: Use kubernetes icon for kubernetes-apply
  ui/app/helpers/icon-for-component.ts
  ui/mirage/factories/component.ts
  ui/mirage/factories/deployment.ts
Labels: pr/no-changelog, ui

#1597 ui: Fix dark mode elements
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
Labels: pr/no-changelog, ui

#1596 cli: ignore error if server doesn't have health checks
  .changelog/1596.txt
  internal/cli/deployment_list.go
Labels: backport/0.4.x, cli, core

#1603 website: document configuration files and internal values
  website/content/docs/app-config/files.mdx
  website/content/docs/app-config/index.mdx
  website/content/docs/app-config/internal.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/data/docs-nav-data.json
Labels: backport/website, pr/no-changelog, website

#1565 chore: updates alert-banner — hashiconf eu
  website/data/alert-banner.js
Labels: backport/website, pr/no-changelog, website

#1610 Add animation to alive state icon
  ui/app/styles/_animations.scss
  ui/app/styles/_status-badge.scss
Labels: pr/no-changelog, ui

#1624 website: update alert banner
  website/data/alert-banner.js
Labels: backport/0.4.x, pr/no-changelog, website

#1604 internal/server: Refactor how server queues poll jobs
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/poll_project.go
  internal/server/singleprocess/service.go
Labels: backport/0.4.x, core, pr/no-changelog

#1628 cli: Fix incorrect command help output
  .changelog/1628.txt
  internal/cli/hostname_list.go
Labels: backport/0.4.x, core

#1631 Upgrade bolt to bbolt
  go.mod
  go.sum
  internal/cli/server_run.go
  internal/client/server.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/application.go
  internal/server/singleprocess/state/config.go
  internal/server/singleprocess/state/config_source.go
  internal/server/singleprocess/state/db.go
  internal/server/singleprocess/state/hmac.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/server_config.go
  internal/server/singleprocess/state/server_id.go
  internal/server/singleprocess/state/server_urltoken.go
  internal/server/singleprocess/state/snapshot.go
  internal/server/singleprocess/state/state.go
  internal/server/singleprocess/state/testing.go
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/testing.go
Labels: core, pr/no-changelog

#1594 Feature: CLI list deployments shows health for each entry
  .changelog/1594.txt
  builtin/docker/platform.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/nomad/platform.go
  go.mod
  go.sum
  internal/cli/deployment_list.go
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: backport/0.4.x, core, core/sdk, plugin, plugin/docker, plugin/k8s, plugin/nomad

#1619 UI tests in ci
  .circleci/config.yml
  ui/package.json
  ui/tests/helpers/a11y.ts
Labels: pr/no-changelog, ui

#1623 ui: Fixed git settings input field repeat bug + cleanup
  ui/app/components/app-form/project-settings.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/integration/components/app-form/project-settings-test.ts
Labels: pr/no-changelog, ui

#1640 nix: convert to flakes
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlay.nix
  nix/sources.json
  nix/sources.nix
  nix/waypoint.nix
  shell.nix
Labels: pr/no-changelog

#1646 ui: Added coverage of cli-generated project editing on dashboard
  ui/app/components/app-form/project-settings.ts
  ui/tests/integration/components/app-form/project-settings-test.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1644 New token protos, format, APIs
  internal/cli/install.go
  internal/cli/token.go
  internal/core/app_deploy.go
  internal/server/auth.go
  internal/server/gen/mocks/is_ref__user__ref.go
  internal/server/gen/mocks/is_token__kind.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core, pr/no-changelog

#1650 builtin/k8s: Fix ‘ports’ configurability
  .changelog/1650.txt
  builtin/k8s/platform.go
Labels: bug, plugin, plugin/k8s, regression

#1652 plugin/aws/alb bug: adding generated time to ALB releaser status report
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws, pr/no-changelog

#1657 ui: display status report indicators on releases
  .changelog/1657.txt
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/release.hbs
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/mirage/factories/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status-report.ts
  ui/tests/acceptance/release-detail-test-test.ts
  ui/tests/acceptance/releases-list-test.ts
Labels: backport/0.4.x, ui

#1661 Dockerfile: Add note about our custom img build process
  Dockerfile
Labels: backport/0.4.x, pr/no-changelog

#1663 Pinning alpine versions when docker building.
  Dockerfile
Labels: pr/no-changelog

#1648 Update ALB Releaser to use Resource Manager
  .changelog/1648.txt
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/plugin.proto
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

#1664 Dockerfile: Remove SSH key injection from circle-ci and dockerfile build
  .circleci/config.yml
  Dockerfile
  Makefile
Labels: pr/no-changelog

#1669 Fix issue with parsing string slices from command line input
  .changelog/1669.txt
  internal/pkg/flag/flag_string_slice.go
  internal/pkg/flag/flag_string_slice_test.go
Labels: backport/0.4.x, core

#1672 ui/tests: specify `include` in global a11y setup
  ui/tests/helpers/a11y.ts
Labels: pr/no-changelog, ui

#1677 ui/tests: permit aXe to check iframes
  ui/tests/helpers/a11y.ts
Labels: pr/no-changelog, ui

#1678 docs: fix gitops runner config, enable -> enabled
  website/content/docs/projects/git.mdx
Labels: backport/website, pr/no-changelog, website

#1683 ui: upgrade to ember-source@3.24.4 (latest LTS)
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1679 config/funcs: template functions to return valid ArgError values
  .changelog/1679.txt
  internal/config/funcs/template.go
  internal/config/funcs/template_test.go
Labels: backport/0.4.x, core

#1689 Upgrade HCL to fix panic.
  go.mod
  go.sum
Labels: backport/0.4.x, pr/no-changelog

#1685 Upgrade docker/docker
  .changelog/1685.txt
  go.mod
  go.sum
Labels: backport/0.4.x, core

#1693 builtin/docker: pass build args into img in correct format
  builtin/docker/builder.go
  builtin/docker/img.go
Labels: backport/0.4.x, plugin, plugin/docker, pr/no-changelog

#1690 cli: set default to 30s for runner polling
  .changelog/1690.txt
  internal/server/singleprocess/state/project.go
Labels: backport/0.4.x, core

#1676 website: upgrade code-block
  website/content/partials/components/platform-exec.mdx
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: backport/website, pr/no-changelog, website

#1671 Docs: Remove `buildargs` required parameter
  builtin/docker/builder.go
  website/content/commands/hostname-list.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/builder-docker.mdx
Labels: backport/0.4.x, backport/website, plugin, plugin/docker, pr/no-changelog, website

#1705 UI: Update API Bindings
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/mirage/services/invite-token.ts
  ui/mirage/services/token.ts
  ui/tests/acceptance/onboarding-test.ts
Labels: pr/no-changelog, ui

#1715 ui: Fix template lint violations
  ui/app/components/actions/context.hbs
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/invite.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/context-create/index.hbs
  ui/app/components/log-stream/index.hbs
  ui/app/components/login-invite/index.hbs
  ui/app/components/login-invite/index.ts
  ui/app/components/login-token/index.hbs
  ui/app/components/login-token/index.ts
  ui/app/components/operation-logs/index.hbs
  ui/app/helpers/ansi-to-html.ts
  ui/app/templates/onboarding/connect.hbs
  ui/app/templates/onboarding/install.hbs
  ui/app/templates/onboarding/start.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/builds.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/app/releases.hbs
Labels: backport/0.4.x, pr/no-changelog, ui

#1708 Bug: remove Operation flags from runner-agent command.
  .changelog/1708.txt
  internal/cli/runner_agent.go
  website/content/commands/runner-agent.mdx
Labels: backport/0.4.x, cli, core, core/runner, website

#1724 ui: add `lib` to `.eslintignore`
  ui/.eslintignore
Labels: backport/0.4.x, pr/no-changelog

#1714 website: upgrade react-head
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/_document.js
  website/pages/downloads/index.jsx
Labels: backport/website, pr/no-changelog, website

#1729 add default auth to mirage scenario for mocks mode
  ui/mirage/helpers/login.ts
  ui/mirage/scenarios/default.ts
Labels: pr/no-changelog, ui

#1731 ui: fix submit button in token login form
  ui/app/components/login-token/index.hbs
Labels: backport/0.4.x, pr/no-changelog, ui

#1734 ui: fix some linting issues in typescript declaration files
  ui/types/global.d.ts
  ui/types/waypoint/index.d.ts
Labels: pr/no-changelog, ui

#1666 Refactor the #page css element
  ui/app/components/page-header.hbs
  ui/app/components/page.hbs
  ui/app/styles/_layout.scss
  ui/app/styles/_page.scss
  ui/app/styles/_variables.scss
  ui/app/styles/app.scss
  ui/app/styles/components/app-card-item.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/badge.scss
  ui/app/styles/components/button.scss
  ui/app/styles/components/card.scss
  ui/app/styles/components/cli-hint.scss
  ui/app/styles/components/copyable-code.scss
  ui/app/styles/components/empty-state.scss
  ui/app/styles/components/flash.scss
  ui/app/styles/components/icon-tile.scss
  ui/app/styles/components/input.scss
  ui/app/styles/components/navigation/breadcrumbs.scss
  ui/app/styles/components/navigation/footer.scss
  ui/app/styles/components/navigation/header.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/notifications.scss
  ui/app/styles/components/output-pane.scss
  ui/app/styles/components/status-badge.scss
  ui/app/styles/components/structure/pds-form.scss
  ui/app/styles/components/structure/pds-tabnav.scss
  ui/app/styles/components/x-toggle.scss
  ui/app/styles/pages/auth-page.scss
  ui/app/styles/pages/login.scss
  ui/app/styles/pages/onboarding.scss
  ui/app/styles/utilities/animations.scss
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: pr/no-changelog, ui

#1730 Allow users to provide k8s namespace for uninstall
  .changelog/1730.txt
  internal/serverinstall/k8s.go
Labels: core, core/install

#1699 Inspecting boolean env var values.
  .changelog/1699.txt
  internal/ceb/ceb.go
  internal/cli/main.go
  internal/env/env.go
  internal/env/env_test.go
  internal/serverclient/client.go
  website/content/docs/automating-execution/index.mdx
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/runner/run-manual.mdx
Labels: backport/0.4.x, core, website

#1710 Not embedding hclConfig as a pointer.
  .changelog/1710.txt
  internal/config/config.go
Labels: backport/0.4.x, cli, core

#1732 Runner: Listen for context cancellation and exit liveness listener
  .changelog/1732.txt
  internal/cli/runner_agent.go
Labels: backport/0.4.x, core, core/runner

#1735 Server/client: Add keepalive to RPC connections
  .changelog/1735.txt
  internal/server/grpc.go
  internal/serverclient/client.go
Labels: core
