Repository hashicorp/waypoint, pull requests merged in 2021-02, with the labels that each got.

#1044 Fix panic from `waypoint hostname delete` with no hostname specified
  internal/cli/hostname_delete.go
Labels: core

#1045 Remove outdated docker pull instructions
  website/content/docs/getting-started.mdx
Labels: website

#1048 Website release 0.2.1
  Makefile
  builtin/aws/ami/builder.go
  internal/cli/deployment_destroy.go
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_config_set.go
  internal/cli/server_run.go
  internal/cli/server_upgrade.go
  internal/cli/snapshot_backup.go
  internal/cli/snapshot_restore.go
  internal/cli/uninstall.go
  internal/clisnapshot/snapshot.go
  internal/clisnapshot/snapshot_test.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-config-set.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-restore.mdx
  website/content/commands/server-run.mdx
  website/content/commands/server-snapshot.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/server/run/index.mdx
  website/content/docs/server/run/production.mdx
  website/content/docs/troubleshooting.mdx
  website/content/docs/upgrading/index.mdx
  website/content/partials/commands/server-uninstall_desc.mdx
  website/content/partials/commands/server-uninstall_more.mdx
  website/content/partials/commands/server-upgrade_desc.mdx
  website/content/partials/commands/server-upgrade_more.mdx
  website/content/partials/components/builder-aws-ami.mdx
  website/data/commands-navigation.js
  website/data/version.js
Labels: core, plugin, plugin/aws, website

#1046 cli/exec: Fail back to old search if FindExecInstance unimplemented
  internal/cli/exec.go
Labels: core

#1049 cli/main: Add -version flag for CLI version
  internal/cli/main.go
Labels: backport/0.2.x, core

#1058 contrib/serverinstall: Setup local registry for kind
  contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/configs/cluster-config.yaml
  contrib/serverinstall/kind-k8s/destroy-k8s.sh
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: contrib

#1039 WaypointHclFmt API
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_waypointhcl.go
  internal/server/singleprocess/service_waypointhcl_test.go
Labels: core

#1037 Add a `waypoint fmt` command
  go.mod
  go.sum
  internal/cli/fmt.go
  internal/cli/main.go
  internal/cli/version.go
  internal/config/fmt.go
  internal/config/fmt_test.go
  internal/config/testdata/fmt/general.hcl
  internal/config/testdata/fmt/general.hcl.out
  internal/config/testdata/fmt/terraform.hcl
  internal/config/testdata/fmt/terraform.hcl.out
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_waypointhcl.go
  internal/server/singleprocess/service_waypointhcl_test.go
Labels: core

#1062 Backport: check args length before getting index
  CHANGELOG.md
  internal/cli/hostname_delete.go
Labels: core

#1061 Singleton jobs
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

#1060 Persist workspace information in DB, add projects
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/state/workspace_test.go
Labels: core

#1059 Implement "up" as a job operation type
  internal/cli/up.go
  internal/client/operation.go
  internal/runner/operation.go
  internal/runner/operation_up.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

#1066 internal/cli: fall back to legacy "up" if server doesn't support op up
  internal/cli/up.go
  internal/server/singleprocess/service_job.go
Labels: core

#1065 builtin/docker: Add Binds, Labels and Networks config options
  builtin/docker/platform.go
Labels: backport/0.2.x, plugin, plugin/docker

#1054 website: update next and nextjs-scripts
  website/package-lock.json
  website/package.json
Labels: website

#1071 UI: upgrade pds-addon to 0.4.2
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/components/app-breadcrumbs/index.js
  ui/app/styles/_breadcrumbs.scss
  ui/package.json
  ui/yarn.lock
Labels: ui

#1072 Upgrade ember to 3.24
  ui/.eslintignore
  ui/.eslintrc.js
  ui/.gitignore
  ui/.prettierignore
  ui/.prettierrc.js
  ui/app/app.js
  ui/app/router.js
  ui/config/targets.js
  ui/package.json
  ui/tests/index.html
  ui/tests/test-helper.js
  ui/yarn.lock
Labels: ui

#1075 Drop Internet Explorer support
  ui/config/targets.js
Labels: ui

#1074 internal/runner: Fix race condition around runner shutdown
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/runner.go
  internal/server/singleprocess/service_runner.go
Labels: core

#1073 builtin/k8s: Handle secret configs from k8s
  builtin/k8s/config_sourcer.go
Labels: backport/0.2.x, plugin, plugin/k8s

#1078 internal/{client,runner}: start a single runner at the start of the CLI
  internal/client/job.go
  internal/client/noop_test.go
  internal/client/project.go
  internal/runner/accept.go
Labels: core

#1082 rebase and fixup 693
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
Labels: backport/0.2.x, plugin, plugin/aws

#1085 builtin/aws/ecs: 856 rebase to use
  builtin/aws/ecs/platform.go
Labels: backport/0.2.x, plugin, plugin/aws

#1087 builtin/aws/ecs: fix listener deletion check
  builtin/aws/ecs/platform.go
Labels: backport/0.2.x, plugin, plugin/aws

#1089 Pr/857 rebase and fixup
  builtin/aws/ecs/platform.go
Labels: backport/0.2.x, plugin, plugin/aws

#941 k8s install: Return error creating service/statefulset.
  internal/serverinstall/k8s.go
Labels: backport/0.2.x, core

#1080 Move exec plugin launching to the server
  internal/cli/base.go
  internal/cli/exec.go
  internal/client/project.go
  internal/core/app_deploy.go
  internal/server/gen/server.pb.go
  internal/server/grpcmetadata/grpc.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/service_exec_test.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
  internal/server/singleprocess/testing.go
Labels: core

#1052 Add support for AWS Lambda
  builtin/aws/alb/main.go
  builtin/aws/alb/mapper.go
  builtin/aws/ecr/mapper.go
  builtin/aws/ecr/plugin.go
  builtin/aws/ecr/registry.go
  builtin/aws/lambda/deployment.go
  builtin/aws/lambda/ecs.go
  builtin/aws/lambda/lambda.go
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
  builtin/aws/lambda/plugin.pb.go
  builtin/aws/lambda/plugin.proto
  builtin/aws/utils/public_ips.go
  builtin/aws/utils/subnets.go
  cmd/waypoint-entrypoint/main.go
  go.mod
  go.sum
  internal/ceb/ssh/doc.go
  internal/ceb/ssh/keys.go
  internal/ceb/ssh/server.go
  internal/ceb/ssh/server_test.go
  internal/ceb/virtual.go
  internal/cli/runner_agent.go
  internal/core/app_exec.go
  internal/core/app_exec_test.go
  internal/plugin/plugin.go
  internal/runner/config.go
  internal/runner/operation_exec.go
  internal/runner/runner.go
  internal/server/execclient/client.go
Labels: core, plugin, plugin/aws

#1093 Queue Project Job Op
  internal/core/project.go
  internal/runner/accept.go
  internal/runner/operation.go
  internal/runner/operation_queue_project.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

#1092 builtin/k8s/{platform,releaser}: Support multi-port application configs
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  ci/sinatra/waypoint.hcl
Labels: backport/0.2.x, plugin, plugin/k8s

#1095 Bump react-section-header
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: backport/website, website

#1047 Fix empty gitreftag response (#978)
  internal/config/funcs/vcs_git.go
Labels: backport/0.2.x, core

#1100 website: Update docs from components for release
  website/content/commands/exec.mdx
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/getting-started.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/data/version.js
Labels: backport/website, website

#1101 Backport of #1100 into stable-website
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/docs/getting-started.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/data/version.js
Labels: website

#1103 builtin/k8s: support in-cluster auth
  builtin/k8s/api.go
  builtin/k8s/config_sourcer.go
Labels: plugin, plugin/k8s

#1104 K8S install/uninstall runner support
  internal/cli/runner_agent.go
  internal/serverinstall/k8s.go
  internal/serverinstall/serverinstall.go
Labels: core

#1097 Add support for Logs plugin, implement AWS Lambda
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_logs.go
  go.mod
  go.sum
  internal/ceb/virtual.go
  internal/core/app_deploy.go
  internal/core/app_logs.go
  internal/runner/operation.go
  internal/runner/operation_logs.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/logviewer/logviewer.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_logs.go
  internal/server/singleprocess/service_logs_test.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
  internal/server/singleprocess/state/instance.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_logs.go
  internal/server/singleprocess/state/instance_logs_test.go
Labels: core, plugin, plugin/aws

#1105 serverinstall/k8s: Use k8s client over execing kubectl
  go.mod
  internal/serverinstall/k8s.go
Labels: backport/0.2.x, core

#1110 builtin/k8s: Surface pod failures on deploy
  builtin/k8s/platform.go
Labels: backport/0.2.x, plugin, plugin/k8s

#1114 internal/ceb/ssh: fix dropped test error
  internal/ceb/ssh/server_test.go
Labels: core

#918 Fixes https://github.com/hashicorp/waypoint/issues/687
  builtin/docker/platform.go
Labels: backport/0.2.x, plugin, plugin/docker

#1118 Fix windows builds by making ceb buildable on windows
  builtin/aws/lambda/ecs.go
  builtin/aws/lambda/platform.go
  cmd/waypoint-entrypoint/main.go
  internal/ceb/child_exec.go
  internal/ceb/exec.go
  internal/ceb/exec_util.go
  internal/ceb/windows.go
  internal/ssh/keys.go
Labels: core, plugin, plugin/aws

#1119 builtin/aws/ecr: use the ecr mapper
  builtin/aws/ecr/ecr.go
Labels: plugin, plugin/aws

#1121 Backport of serverinstall/k8s: Use k8s client over execing kubectl into release/0.2.x
  go.mod
  go.sum
  internal/serverinstall/k8s.go
Labels: core

#1116 builtin/docker: Introduce Resources map for configuring cpu, memory
  builtin/docker/platform.go
  go.mod
Labels: backport/0.2.x, plugin, plugin/docker

#1128 Add missing Region value from Deployment
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws

#1129 serverinstall/nomad: Set platform as nomad at end of Install
  builtin/nomad/platform.go
  internal/serverinstall/nomad.go
Labels: backport/0.2.x, bug, core, plugin, plugin/nomad

#1126 serverinstall/k8s: Include option to define storageClassName on install
  internal/serverinstall/k8s.go
Labels: backport/0.2.x, core

#1127 Generate Lambda docs, add index page with example
  builtin/aws/alb/releaser.go
  builtin/aws/ecr/registry.go
  builtin/aws/lambda/platform.go
  website/content/docs/lifecycle/deploy.mdx
  website/content/partials/components/builder-aws-lambda.mdx
  website/content/partials/components/configsourcer-aws-lambda.mdx
  website/content/partials/components/platform-aws-lambda.mdx
  website/content/partials/components/registry-aws-lambda.mdx
  website/content/partials/components/releasemanager-aws-lambda.mdx
  website/content/plugins/aws-lambda.mdx
  website/data/plugins-navigation.js
Labels: plugin, plugin/aws, website

#1124 Extract app config loading (incl. dynamic config) to standalone package: internal/appconfig
  internal/appconfig/doc.go
  internal/appconfig/option.go
  internal/appconfig/option_test.go
  internal/appconfig/watcher.go
  internal/appconfig/watcher_test.go
  internal/ceb/config.go
  internal/ceb/virtual.go
  internal/pkg/condctx/condctx.go
  internal/pkg/condctx/condctx_test.go
  internal/plugin/func.go
Labels: core

#1133 internal/server: More descriptive error for unknown application deploys
  internal/server/singleprocess/state/app_operation.go
Labels: backport/0.2.x, core

#1120 check for nil logging opts; remove endpoint
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: bug, plugin, plugin/aws, website

#1135 backport of plugin/aws-ecs: handle nil logging case
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: plugin, plugin/aws, website

#1136 readme: Add logo with white background
  README.md
  website/public/img/logo-fullcolor-whitebackground-rbg.png
Labels: website

#1138 Backport/0.2.3 website updates
  builtin/aws/ecs/platform.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/data/version.js
Labels: plugin, plugin/aws, website

#1137 docs gen for 0.2.3 release
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/partials/components/platform-docker.mdx
  website/data/version.js
Labels: website

#1139 Extract Virtual CEB into package `internal/ceb/virtualceb`
  internal/ceb/ceb.go
  internal/ceb/exec.go
  internal/ceb/execwriter/execwriter.go
  internal/ceb/plugin.go
  internal/ceb/virtualceb/ceb.go
  internal/ceb/virtualceb/ceb_test.go
  internal/ceb/virtualceb/doc.go
  internal/core/app_exec.go
  internal/core/app_logs.go
  internal/plugin/plugin.go
Labels: core

#1140 Honor the ALB config's port, but use the correct auto-calculated port
  builtin/aws/alb/releaser.go
Labels: backport/0.2.x, plugin, plugin/aws

#1109 Polling Support
  internal/cli/project_apply.go
  internal/cli/server_run.go
  internal/core/project.go
  internal/datasource/datasource.go
  internal/datasource/git.go
  internal/datasource/git_test.go
  internal/datasource/local.go
  internal/runner/accept.go
  internal/runner/data.go
  internal/runner/operation.go
  internal/runner/operation_poll.go
  internal/runner/operation_queue_project.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/poll_test.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
  internal/server/singleprocess/state/workspace.go
  internal/server/singleprocess/testing.go
  internal/serverinstall/k8s.go
Labels: core

#1143 Add Windows build verification to CI
  .circleci/config.yml
  internal/ceb/ceb.go
  internal/ceb/child_exec.go
  internal/ceb/exec.go
  internal/ceb/windows.go
Labels: core

#1142 internal/serverinstall: fix dropped errors
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: backport/0.2.x, core

#1145 Backport of internal/serverinstall: fix dropped errors into release/0.2.x
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

#929 Update docs example for multiple app stanza
  website/content/docs/waypoint-hcl/app.mdx
Labels: backport/0.2.x, backport/website, website

#1146 builtin/k8s: Include user defined labels on deploy and add name/version labels
  builtin/k8s/deployment.go
  builtin/k8s/platform.go
Labels: backport/0.2.x, plugin, plugin/k8s

#943 builtin/pack: support specifying buildpacks
  builtin/pack/builder.go
Labels: plugin, plugin/pack

#1151 Backport of builtin/pack: support specifying buildpacks into release/0.2.x
  builtin/pack/builder.go
Labels: plugin, plugin/pack

#1149 docs: collection of typo fixes
  internal/server/auth.go
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
  website/content/docs/glossary.mdx
  website/content/docs/internals/execution.mdx
  website/content/docs/intro/index.mdx
  website/content/docs/intro/vs/helm.mdx
  website/content/docs/intro/vs/index.mdx
  website/content/docs/roadmap.mdx
  website/content/docs/waypoint-hcl/index.mdx
Labels: backport/0.2.x, backport/website, core, website
