Repository hashicorp/waypoint, pull requests merged in 2021-08, with the labels that each got.

#1973 Allow disabling exec only for the entrypoint
  .changelog/1973.txt
  internal/ceb/ceb.go
  internal/ceb/config.go
  internal/ceb/exec.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/state/instance.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/entrypoint/index.mdx
  website/content/docs/exec.mdx
Labels: core, website

#1975 Backport of ui: handle incoming base64 strings from grpc-web into release/0.4.x
  .changelog/1967.txt
  internal/server/gen/bindata_ui.go
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/tests/integration/components/app-form/project-settings-test.ts
Labels: core, ui

#1946 internal/server: Add endpoint to queue a status report job on demand
  internal/server/gen/mocks/is_expedite_status_report_request__target.go
  internal/server/gen/mocks/is_expedite_status_report_request__target_id.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_status_report_test.go
Labels: core, pr/no-changelog

#1937 plugin/docker: Adding a session when building with buildkit
  .changelog/1937.txt
  builtin/docker/builder.go
  go.mod
  go.sum
Labels: plugin, plugin/docker

#1978 -auto-approve
  website/content/docs/getting-started.mdx
Labels: pr/no-changelog, website

#1980 internal/server: add data source to operations
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
Labels: core, pr/no-changelog

#1982 ui: Update API definitions to include everything for ExpediteStatusReport
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: pr/no-changelog, ui

#1977 docs: broken link and caitalization consistency
  internal/cli/auth_method_set_oidc.go
  internal/cli/project_apply.go
  website/content/docs/server/auth.mdx
Labels: core, documentation, pr/no-changelog, website

#1983 internal/server: Respect TOS flag for using URL service
  internal/server/singleprocess/service.go
Labels: core, pr/no-changelog

#1991 Add further instructions to readme
  ui/README.md
Labels: ui, pr/no-changelog

#1989 gen/ts: preload git data on operations
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui, pr/no-changelog

#1984 Improve ECS Server uninstall
  .changelog/1984.txt
  internal/serverinstall/ecs.go
Labels: core, core/install, backport/0.4.x

#1986 internal/server: Introduce target field for filtering status reports
  internal/server/gen/mocks/is_list_status_reports_request__target.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_status_report_test.go
Labels: pr/no-changelog, core/api

#1925 Upgrade global styles
  website/components/animated-steps-list/steps-list/step/index.jsx
  website/components/homepage-hero/index.jsx
  website/components/homepage-section/index.jsx
  website/components/info-grid/index.jsx
  website/components/longform-page/index.jsx
  website/components/waypoint-diagram/index.jsx
  website/package-lock.json
  website/package.json
  website/pages/404.jsx
  website/pages/_app.js
  website/pages/community/index.jsx
  website/pages/community/style.module.css
  website/pages/print.css
  website/pages/style.css
Labels: website

#1987 Wiring declared resources into release functions, with k8s reference impl
  builtin/k8s/releaser.go
  go.mod
  go.sum
  internal/core/app_release.go
Labels: core, plugin, plugin/k8s, pr/no-changelog

#1885 web: migrate to web platform- packages
  website/.eslintrc.js
  website/.stylelintrc.js
  website/components/animated-steps-list/steps-list/step/index.jsx
  website/components/homepage-hero/index.jsx
  website/components/homepage-section/index.jsx
  website/components/info-grid/index.jsx
  website/components/longform-page/index.jsx
  website/components/subnav/index.jsx
  website/components/waypoint-diagram/index.jsx
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/404.jsx
  website/pages/_app.js
  website/pages/_error.jsx
  website/pages/community/index.jsx
  website/pages/community/style.module.css
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/print.css
  website/pages/style.css
  website/prettier.config.js
Labels: website, backport/website, pr/no-changelog

#1968 website: upgrade consent-manager
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog

#1998 internal/server: Ensure ExpediteStatusReport sets a default workspace
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_status_report_test.go
Labels: core, pr/no-changelog

#1949 Improvement: Plugin/Docker: Enables image build for specified platform
  .changelog/1949.txt
  builtin/docker/builder.go
  website/content/partials/components/builder-docker.mdx
Labels: website, plugin, plugin/docker

#2001 Fix for auto-backporting: max out pagination limits
  .github/workflows/backport.yml
Labels: pr/no-changelog

#1995 cli/project_apply: Return error if polling requested but no data source
  internal/cli/project_apply.go
Labels: core, pr/no-changelog

#1994 UI bundle apis for deployments and releases
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_ui_deploy.go
  internal/server/singleprocess/service_ui_deploy_test.go
  internal/server/singleprocess/service_ui_release.go
  internal/server/singleprocess/service_ui_release_test.go
Labels: core, pr/no-changelog

#2006 ui: Use new user token command for auth page
  .changelog/2006.txt
  ui/app/components/login-token/index.hbs
Labels: ui

#2005 plugin/google: several improvements related to resource management
  .changelog/2005.txt
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/google/cloudrun/plugin.proto
  go.mod
  go.sum
  internal/cli/destroy.go
  website/content/partials/components/platform-google-cloud-run.mdx
Labels: core, website, plugin, plugin/google

#1966 feature: waypoint status CLI
  .changelog/1966.txt
  internal/cli/deployment_list.go
  internal/cli/filter_status.go
  internal/cli/main.go
  internal/cli/status.go
  internal/core/app_release.go
  internal/server/singleprocess/service_ui_deploy.go
  internal/server/singleprocess/service_ui_deploy_test.go
  internal/server/singleprocess/service_ui_release.go
  internal/server/singleprocess/service_ui_release_test.go
  website/content/commands/artifact-list.mdx
  website/content/commands/status.mdx
  website/content/partials/commands/status_desc.mdx
  website/content/partials/commands/status_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

#1971 ARCHITECTURE.md
  .github/images/birds-eye.png
  .github/images/generic-api-call.png
  .github/images/job-states.png
  .github/images/job-stream-lifecycle.png
  .github/images/log-buffer.png
  .github/images/log-chunk.png
  .github/images/log-write.png
  ARCHITECTURE.md
Labels: pr/no-changelog

#2007 website: quote input var label example with docker
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website, pr/no-changelog

#1970 Update docker plugin to use new resource features
  builtin/docker/platform.go
  builtin/google/cloudrun/platform.go
  go.mod
  go.sum
  internal/cli/status.go
  internal/core/app_deploy.go
  internal/core/app_deploy_test.go
  internal/core/app_status_report.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
Labels: core, plugin, plugin/google, plugin/docker, pr/no-changelog

#2009 cli/token: Add deprecation warning to token help output
  internal/cli/main.go
  internal/cli/token.go
  internal/cli/user_token.go
Labels: core, pr/no-changelog

#2015 cli/status: Handle case where CLI has no default server context loaded
  internal/cli/status.go
Labels: core, pr/no-changelog

#2016 Add note about local mode
  internal/cli/status.go
Labels: core, pr/no-changelog

#2018 update waypoint-plugin-sdk
  go.mod
  go.sum
Labels: pr/no-changelog

#2013 Adding `-git-path` flag to `waypoint project apply`
  .changelog/2013.txt
  internal/cli/project_apply.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  website/content/commands/project-apply.mdx
Labels: core, website

#2012 UI: Git configuration - Add help text and switch placeholder to https protocol
  ui/app/components/app-form/project-repository-settings.hbs
Labels: ui, pr/no-changelog

#2020 ui: Add note about compiling static assets for UI changes
  ui/README.md
Labels: ui, pr/no-changelog

#2021 update sdk
  go.mod
  go.sum
Labels: pr/no-changelog

#2022 tests: Ensure turnoff test only looks for app status poll job by id
  internal/server/singleprocess/poll_test.go
Labels: core, pr/no-changelog, tests

#2025 Display commit information if available
  .changelog/2025.txt
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/git-commit.hbs
  ui/app/helpers/truncate-commit.ts
  ui/app/styles/app.scss
  ui/app/styles/components/git-commit.scss
  ui/app/styles/mixins/_index.scss
  ui/app/styles/mixins/button-reset.scss
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

#2008 `deployment list` command uses new UI API
  ci/integration.sh
  internal/cli/deployment_list.go
  internal/cli/status.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_ui_deploy.go
  internal/server/sort/deploy.go
Labels: core, pr/no-changelog

#2029 tests: Ensure ListStatusReports checks id against proper target report
  internal/server/singleprocess/service_status_report_test.go
Labels: core, pr/no-changelog, tests

#2028 website: document redirect URL for OIDC config
  website/content/docs/server/auth/oidc.mdx
Labels: website, pr/no-changelog

#2032 Update gRPC
  go.mod
  go.sum
Labels: pr/no-changelog

#2031 resolve TODO for docs link
  internal/config/variables/variables.go
Labels: core, pr/no-changelog

#2024 plugin/k8s: use resource manager status funcs and complete resource model
  .changelog/2024.txt
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/k8s/status_report_util.go
Labels: plugin, plugin/k8s

#2033 Feature/nomad consul service opt in
  .changelog/2033.txt
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website

#2034 Upgrade argmapper to v0.2.1
  go.mod
  go.sum
Labels: pr/no-changelog, backport/0.5.x

#2038 builtin/docker: Close UX loop for generating status reports
  builtin/docker/platform.go
Labels: plugin, plugin/docker, pr/no-changelog, backport/0.5.x

#2041 ui: Cleaned up linting errors
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/context-create/index.ts
  ui/app/components/project-input-variables/list-item.ts
  ui/app/components/status-report-bar/index.ts
Labels: ui, pr/no-changelog

#2039 Build poll jobs for the latest deployment and release
  .changelog/2039.txt
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/poll_application.go
  internal/server/singleprocess/poll_test.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/application.go
Labels: core

#2047 cli/status: fix broken output when no generated time is set
  .changelog/2047.txt
  internal/cli/status.go
Labels: core, backport/0.5.x

#2048 plugin/aws/alb: Set generated time for the Releaser status report
  .changelog/2048.txt
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws, pr/no-changelog, backport/0.5.x

#2036 UI: Change layout of status-row
  .changelog/2036.txt
  ui/app/components/status-report-bar/index.hbs
  ui/app/styles/_layout.scss
Labels: ui

#2053 ui: Fix tab styles for dark mode
  .changelog/2053.txt
  ui/app/styles/components/structure/pds-tabnav.scss
Labels: ui

#2049 Update docker and k8s plugins to use the new StatusReport helper func.
  builtin/docker/platform.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  go.mod
  go.sum
  internal/cli/status.go
Labels: core, plugin, plugin/docker, plugin/k8s, pr/no-changelog

#2052 cli/uninstall: Add more validation to requested platform for uninstall
  .changelog/2052.txt
  internal/cli/install.go
  internal/cli/uninstall.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
Labels: core, website, backport/0.5.x

#2062 Correct usage of its and it's.
  ARCHITECTURE.md
  builtin/aws/lambda/ecs.go
  builtin/docker/copy.go
  internal/appconfig/option.go
  internal/cli/base.go
  internal/cli/exec.go
  internal/cli/runner_agent.go
  internal/cli/status.go
  internal/client/project.go
  internal/config/app_config.go
  internal/config/app_config_sort.go
  internal/core/operation.go
  internal/pkg/copy/copy.go
  internal/plugin/invoke.go
  internal/runner/accept.go
  internal/runner/operation_release.go
  internal/server/grpc.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_exec.go
  x/slack/pkg/bot/ui.go
Labels: core, plugin, plugin/docker, plugin/aws, pr/no-changelog

#2057 ui: Fixed input vars + git settings overwriting bug
  .changelog/2057.txt
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/project-input-variables/list.ts
  ui/app/services/api.ts
Labels: ui, backport/0.5.x

#2064 Backport of ui: Fixed input vars + git settings overwriting bug into release/0.5.x
  .changelog/2057.txt
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/project-input-variables/list.ts
  ui/app/services/api.ts
Labels: ui

#2068 docs typos and fixups
  builtin/docker/builder.go
  website/content/docs/projects/index.mdx
  website/content/docs/projects/remote.mdx
  website/content/docs/waypoint-hcl/index.mdx
  website/content/docs/waypoint-hcl/runner.mdx
  website/content/partials/components/builder-docker.mdx
Labels: website, plugin, plugin/docker, backport/website, pr/no-changelog

#2054 fix destroy non-latest deployments in ECS
  .changelog/2054.txt
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#2080 waypoint on-demand runner inspect and small copy changes
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/ondemand_runner_inspect.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_job.go
Labels: core, pr/no-changelog

#2085 ui: upgrade testem to 3.4.3
  ui/yarn.lock
Labels: ui, pr/no-changelog, backport/0.5.x

#2086 ui: de-lint project setting routes
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/routes/workspace/projects/project/settings/repository.ts
  ui/app/routes/workspace/projects/project/settings/variables.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2083 contrib/severinstall/kind-k8s: Include optional support for k8s ingress
  contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/configs/cluster-ingress-config.yaml
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: contrib, pr/no-changelog

#2065 waypoint.hcl: "labels" variable and selector functions
  .changelog/2065.txt
  go.mod
  go.sum
  internal/config/app.go
  internal/config/app_test.go
  internal/config/funcs/doc.go
  internal/config/funcs/selector.go
  internal/config/funcs/selector_test.go
  internal/config/funcs/sets.go
  internal/core/app_build_test.go
  internal/core/component_creator.go
  website/content/docs/waypoint-hcl/variables/labels.mdx
  website/content/partials/funcs.mdx
  website/data/docs-nav-data.json
Labels: core, website

#2091 website: Reference command files correctly
  website/content/commands/ondemand-runner-apply.mdx
  website/content/commands/ondemand-runner-list.mdx
  website/data/commands-nav-data.json
Labels: website, pr/no-changelog

#2094 Fix link to Input variables tutorial
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website, backport/website, pr/no-changelog, backport/0.5.x

#2092 Small doc update to fix data source paths
  website/content/docs/projects/git.mdx
  website/content/docs/waypoint-hcl/runner.mdx
Labels: website, pr/no-changelog, backport/0.5.x

#2103 docs/ui: Add documentation for `waypoint release list`
  website/content/commands/release-list.mdx
  website/content/partials/commands/release-list_desc.mdx
  website/content/partials/commands/release-list_more.mdx
  website/data/commands-nav-data.json
Labels: website, pr/no-changelog, backport/0.5.x

#2102 docs/plugin Update GCP documentation
  builtin/google/cloudrun/platform.go
  website/content/partials/components/platform-google-cloud-run.mdx
Labels: website, plugin, plugin/google, backport/website, pr/no-changelog, plugin/google/cloudrun

#2096 ui: de-lint project routes
  ui/app/routes/workspace/projects/project.ts
  ui/app/routes/workspace/projects/project/index.ts
  ui/app/routes/workspace/projects/project/settings.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2093 plugin/nomad: only use non-empty `job.StatusDescription` for `HealthMessage`
  .changelog/2093.txt
  builtin/nomad/platform.go
Labels: bug, plugin, plugin/nomad, backport/0.5.x

#2117 Add `Entrypoint` to TaskLaunchInfo
  builtin/docker/task.go
  go.mod
  go.sum
  internal/runner/operation_task.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, plugin, plugin/docker, pr/no-changelog

#2055 cli/project: Add project inspect command
  .changelog/2055.txt
  internal/cli/main.go
  internal/cli/project_inspect.go
  internal/cliformat/format.go
  website/content/commands/project-inspect.mdx
  website/content/partials/commands/project-inspect_desc.mdx
  website/content/partials/commands/project-inspect_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, backport/0.5.x

#2119 ui: de-lint remaining routes
  ui/app/routes/workspace/projects/project/app/builds.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/routes/workspace/projects/project/app/index.ts
  ui/app/routes/workspace/projects/project/app/logs.ts
  ui/app/routes/workspace/projects/project/app/releases.ts
  ui/app/routes/workspace/projects/project/apps.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2121 ui: bugfix and de-lint `ApiService`
  ui/app/services/api.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2081 cli/status: Add a '-refresh' flag to regenerate project applications status on request
  .changelog/2081.txt
  internal/cli/base.go
  internal/cli/option.go
  internal/cli/status.go
  website/content/commands/status.mdx
Labels: core, website

#2177 cli/odr: Fix panic if requested runner id not found
  internal/cli/ondemand_runner_apply.go
  internal/cli/runner_agent.go
  website/content/commands/runner-agent.mdx
  website/content/commands/runner-on-demand-set.mdx
Labels: core, website, pr/no-changelog

#2169 Expand config var scoping capabilities: by workspace, label selector, runner by project/app, etc.
  internal/ceb/app_config_test.go
  internal/cli/config_get.go
  internal/cli/config_set.go
  internal/config/app.go
  internal/config/app_config.go
  internal/config/config.go
  internal/runner/runner_test.go
  internal/server/gen/mocks/is_config_var__target__app_scope.go
  internal/server/gen/mocks/is_config_var__unused_scope.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_config_test.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_entrypoint_test.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/state/config.go
  internal/server/singleprocess/state/config_test.go
  internal/server/singleprocess/state/state.go
  internal/server/sort/config.go
Labels: core, pr/no-changelog

#2174 ui: fix ember-cli-flash types
  ui/app/services/flash-messages.ts
  ui/tests/integration/components/project-input-variables-list-test.ts
  ui/tsconfig.json
Labels: ui, pr/no-changelog, backport/0.5.x

#2179 ui: generate API bindings for ODR and UI endpoints and messages
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/mirage/models/health.ts
  ui/mirage/models/status-report.ts
  ui/mirage/services/status-report.ts
Labels: ui, pr/no-changelog

#2178 ui: de-lint `project-repository-settings.ts`
  ui/app/components/app-form/project-repository-settings.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2181 `make gen/ts` on 0.5.x
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/mirage/models/health.ts
  ui/mirage/models/status-report.ts
  ui/mirage/services/status-report.ts
Labels: ui, pr/no-changelog
