Repository hashicorp/waypoint, pull requests merged in 2021-12, with the labels that each got.

#2783 ui: set `Project.remote_enabled` appropriately
  ui/.eslintrc.js
  ui/app/services/api.ts
  ui/tests/unit/services/api-test.ts
Labels: bug, ui, pr/no-changelog, backport/0.6.x

#2773 ui: added sidebar/panel ui to deployments tab
  .changelog/2773.txt
  ui/app/components/app-item/deployment.hbs
  ui/app/components/operation-status-indicator.hbs
  ui/app/components/operation-status-indicator/deployment.hbs
  ui/app/components/resources-table.hbs
  ui/app/controllers/workspace/projects/project/app/deployment.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/deployment-id.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployment/deployment-seq.ts
  ui/app/routes/workspace/projects/project/app/deployment/deployment-seq/resource.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/app/styles/_layout.scss
  ui/app/styles/_variables.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/navigation/panel-header.scss
  ui/app/styles/components/operation-status-indicator.scss
  ui/app/styles/components/resources-table.scss
  ui/app/styles/components/structure/pds-tabnav.scss
  ui/app/styles/components/terminal.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployment/deployment-seq.hbs
  ui/app/templates/workspace/projects/project/app/deployment/deployment-seq/resource.hbs
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/package.json
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/unit/controllers/workspace/projects/project/app/deployments-test.ts
  ui/translations/en-us.yaml
  ui/yarn.lock
Labels: ui

#2792 Set the assigned runner ID on the job
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core, pr/no-changelog

#2798 ui: fix build logs heading
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/translations/en-us.yaml
Labels: ui, pr/no-changelog

#2802 ui: extract `<Table>`
  ui/app/components/resources-table.hbs
  ui/app/components/table.hbs
  ui/app/styles/components/_index.scss
  ui/app/styles/components/table.scss
Labels: ui, pr/no-changelog, backport/0.6.x

#2810 website: Upgrade <HashiStackMenu /> to latest
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog

#2779 Refactor: moving job initialization work into the client package
  builtin/aws/lambda/platform_logs.go
  internal/cli/artifact_build.go
  internal/cli/artifact_push.go
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/base_test.go
  internal/cli/deployment_create.go
  internal/cli/deployment_destroy.go
  internal/cli/deployment_list.go
  internal/cli/destroy.go
  internal/cli/exec.go
  internal/cli/logs.go
  internal/cli/option.go
  internal/cli/release_create.go
  internal/cli/status.go
  internal/cli/up.go
  internal/client/job.go
  internal/client/job_test.go
  internal/client/operation.go
  internal/client/project.go
  internal/client/runner.go
  internal/client/runner_test.go
  internal/client/testing.go
  internal/server/grpcmetadata/grpc.go
  website/content/commands/exec.mdx
  website/content/commands/logs.mdx
Labels: core, website, plugin, plugin/aws, pr/no-changelog

#2821 update alert banner content
  website/data/alert-banner.js
Labels: website, backport/website

#2795 Display the runner type during CLI operations
  .changelog/2795.txt
  internal/cli/runner_agent.go
  internal/client/job.go
  internal/client/runner.go
  internal/client/runner_test.go
  internal/runner/runner.go
  internal/server/gen/mocks/is_runner__kind.go
  internal/server/gen/mocks/is_runner__type.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  website/content/commands/runner-agent.mdx
Labels: core, website, core/cli

#2799 CLI: emit dirty vcs warning for remote operations.
  .changelog/2799.txt
  internal/cli/base.go
  internal/cli/base_init.go
  internal/client/job.go
  internal/client/project.go
  internal/config/config.go
  internal/pkg/gitdirty/gitdirty.go
Labels: core

#2828 rename func to new name
  internal/client/job.go
  internal/pkg/gitdirty/gitdirty_test.go
  website/package-lock.json
Labels: core, website, pr/no-changelog

#2807 feature: Add Trigger URL CLI for managing and creating trigger URL state
  internal/cli/main.go
  internal/cli/trigger_apply.go
  internal/cli/trigger_delete.go
  internal/cli/trigger_inspect.go
  internal/cli/trigger_list.go
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-delete.mdx
  website/content/commands/trigger-inspect.mdx
  website/content/commands/trigger-list.mdx
  website/content/commands/trigger-update.mdx
  website/content/partials/commands/trigger-apply_desc.mdx
  website/content/partials/commands/trigger-apply_more.mdx
  website/content/partials/commands/trigger-create_desc.mdx
  website/content/partials/commands/trigger-create_more.mdx
  website/content/partials/commands/trigger-delete_desc.mdx
  website/content/partials/commands/trigger-delete_more.mdx
  website/content/partials/commands/trigger-inspect_desc.mdx
  website/content/partials/commands/trigger-inspect_more.mdx
  website/content/partials/commands/trigger-list_desc.mdx
  website/content/partials/commands/trigger-list_more.mdx
  website/content/partials/commands/trigger-update_desc.mdx
  website/content/partials/commands/trigger-update_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, pr/no-changelog

#2797 Add Workspace Create command
  .changelog/2797.txt
  internal/cli/main.go
  internal/cli/workspace_create.go
  website/content/commands/workspace-create.mdx
  website/content/partials/commands/workspace-create_desc.mdx
  website/content/partials/commands/workspace-create_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, cli

#2794 feature: Introduce trigger URL state store with corresponding service API and state package funcs
  internal/cli/main.go
  internal/cli/trigger_apply.go
  internal/cli/trigger_delete.go
  internal/cli/trigger_inspect.go
  internal/cli/trigger_list.go
  internal/server/gen/mocks/is_trigger__operation.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/component.go
  internal/server/ptypes/status_report.go
  internal/server/ptypes/trigger.go
  internal/server/singleprocess/service_ondemand_runner_test.go
  internal/server/singleprocess/service_trigger.go
  internal/server/singleprocess/service_trigger_test.go
  internal/server/singleprocess/state/trigger.go
  internal/serverstate/serverstate.go
  internal/serverstate/statetest/test_trigger.go
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-delete.mdx
  website/content/commands/trigger-inspect.mdx
  website/content/commands/trigger-list.mdx
  website/content/commands/trigger-update.mdx
  website/content/partials/commands/trigger-apply_desc.mdx
  website/content/partials/commands/trigger-apply_more.mdx
  website/content/partials/commands/trigger-create_desc.mdx
  website/content/partials/commands/trigger-create_more.mdx
  website/content/partials/commands/trigger-delete_desc.mdx
  website/content/partials/commands/trigger-delete_more.mdx
  website/content/partials/commands/trigger-inspect_desc.mdx
  website/content/partials/commands/trigger-inspect_more.mdx
  website/content/partials/commands/trigger-list_desc.mdx
  website/content/partials/commands/trigger-list_more.mdx
  website/content/partials/commands/trigger-update_desc.mdx
  website/content/partials/commands/trigger-update_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, pr/no-changelog

#2830 Allow hyphens in workspace names
  internal/server/ptypes/workspace.go
  internal/serverstate/statetest/test_workspace.go
Labels: core, pr/no-changelog

#2832 ui/mirage: fix `UpsertProject` handler
  ui/mirage/services/project.ts
Labels: ui, pr/no-changelog

#2833 internal/server: Implement service level unit tests for Project
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_project_test.go
Labels: core, pr/no-changelog, backport/0.6.x

#2839 Update to Go 1.17
  .circleci/config.yml
  Dockerfile
Labels: pr/no-changelog

#2834 ui: fix workspace switcher issues on deployment master-detail pages
  ui/app/components/workspace-switcher.hbs
  ui/app/controllers/workspace/projects/project/app.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/tests/acceptance/workspaces-test.ts
Labels: ui, pr/no-changelog

#2836 website: Update Nomad-related text
  website/content/plugins/nomad.mdx
Labels: website, backport/website, pr/no-changelog

#2841 website: Disable alert banner
  website/data/alert-banner.js
Labels: website, backport/website, pr/no-changelog

#2846 ran 'make format' after upgrading to go 1.17.5
  builtin/vault/freeport/ephemeral_fallback.go
  builtin/vault/freeport/ephemeral_linux.go
  builtin/vault/freeport/ephemeral_linux_test.go
  internal/assets/dev_assets.go
  internal/server/execclient/sigwinch.go
  internal/server/execclient/sigwinch_windows.go
  tools/tools.go
Labels: core, plugin, pr/no-changelog

#2793 ui: timeline component added to details pages
  .changelog/2793.txt
  ui/app/components/section.hbs
  ui/app/components/timeline.hbs
  ui/app/components/timeline.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/deployment/deployment-seq.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/services/api.ts
  ui/app/styles/_layout.scss
  ui/app/styles/_variables.scss
  ui/app/styles/components/_index.scss
  ui/app/styles/components/image-ref.scss
  ui/app/styles/components/timeline.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployment/deployment-seq.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/tests/integration/components/timeline-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2851 cli: cleanup unused code path
  internal/cli/base.go
  test-e2e/util.go
Labels: core, pr/no-changelog

#2849 Add Exec Terminal to the browser UI
  .changelog/2849.txt
  ui/app/components/exec/index.hbs
  ui/app/components/exec/index.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/utils/create-terminal.ts
  ui/app/utils/exec-websocket-addon.ts
  ui/app/utils/keys.ts
  ui/app/utils/terminal-theme.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

#2856 ui/exec: add alternative to `apiAddress`
  ui/app/components/exec/index.ts
Labels: ui, pr/no-changelog

#2858 ci: improve `publish-static-assets` change detection
  .circleci/config.yml
Labels: pr/no-changelog

#2815 CLI: Warn if project from flags mismatches project from config
  .changelog/2815.txt
  internal/cli/base.go
Labels: core

#2829 fix: redirect website `/home` to `/`
  website/redirects.js
Labels: website, pr/no-changelog

#2859 website: Upgrade <Subnav /> & <ProductDownloadsPage />
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog
