Repository hashicorp/waypoint, pull requests merged in 2021-07, with the labels that each got.

#1738 ui: auto-fix linting issues in ui/app/components
  ui/app/components/actions/context.ts
  ui/app/components/actions/deploy.ts
  ui/app/components/actions/invite.ts
  ui/app/components/actions/release.ts
  ui/app/components/app-footer/index.js
  ui/app/components/app-form/project-settings.ts
  ui/app/components/context-create/index.ts
  ui/app/components/log-stream/index.ts
  ui/app/components/login-invite/index.ts
  ui/app/components/operation-logs/index.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1748 ui: reduce the impact of our app’s CSS on QUnit’s runner UI
  ui/app/styles/components/input.scss
Labels: pr/no-changelog, ui

#1745 Adjusted font size of view all button in card headers
  ui/app/styles/components/card.scss
Labels: backport/0.4.x, pr/no-changelog, ui

#1709 add app name variable
  .changelog/1709.txt
  internal/config/app.go
Labels: backport/0.4.x, core

#1723 builtin/nomad: fix dropped error
  .changelog/1723.txt
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad

#1754 Fix a formatting error in a release note
  .changelog/1723.txt
Labels: pr/no-changelog

#1755 Run update docs command
  builtin/pack/builder.go
  website/content/partials/components/builder-pack.mdx
Labels: backport/0.4.x, plugin, plugin/pack, pr/no-changelog, website

#1756 Ran `go run ./tools/gendocs`
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: backport/0.4.x, pr/no-changelog, website

#1759 Update changelog for 0.4.1 release
  CHANGELOG.md
Labels: backport/0.4.x, pr/no-changelog

#1766 ui/mirage: add stub GetLogStream handler
  ui/mirage/config.ts
  ui/mirage/services/log.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1768 ui: `yarn lint:js --fix` remaining files
  ui/app/helpers/strip-ansi.ts
  ui/app/routes/onboarding/install/index.ts
  ui/app/routes/workspace/projects/project/app/logs.ts
  ui/app/services/api.ts
  ui/app/services/breadcrumbs.js
  ui/config/environment.js
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/unit/controllers/workspace/projects/new-test.ts
  ui/tests/unit/controllers/workspace/projects/project/app/deployments-test.ts
  ui/tests/unit/routes/workspace/projects/new-test.ts
  ui/tests/unit/routes/workspace/projects/project/settings-test.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1771 ui: add `key` to build and release lists
  ui/app/templates/workspace/projects/project/app/builds.hbs
  ui/app/templates/workspace/projects/project/app/releases.hbs
Labels: backport/0.4.x, pr/no-changelog, ui

#1770 ui: add missing `--badge-text` for light mode
  ui/app/styles/_variables.scss
Labels: backport/0.4.x, pr/no-changelog, ui

#1775 Backport of Refactor the #page css element into release/0.4.x
  ui/app/components/page-header.hbs
  ui/app/components/page.hbs
  ui/app/styles/_layout.scss
  ui/app/styles/_page.scss
  ui/app/styles/_variables.scss
  ui/app/styles/app.scss
  ui/app/styles/components/app-card-item.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/badge.scss
  ui/app/styles/components/button.scss
  ui/app/styles/components/card.scss
  ui/app/styles/components/cli-hint.scss
  ui/app/styles/components/copyable-code.scss
  ui/app/styles/components/empty-state.scss
  ui/app/styles/components/flash.scss
  ui/app/styles/components/icon-tile.scss
  ui/app/styles/components/input.scss
  ui/app/styles/components/navigation/breadcrumbs.scss
  ui/app/styles/components/navigation/footer.scss
  ui/app/styles/components/navigation/header.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/notifications.scss
  ui/app/styles/components/output-pane.scss
  ui/app/styles/components/status-badge.scss
  ui/app/styles/components/structure/pds-form.scss
  ui/app/styles/components/structure/pds-tabnav.scss
  ui/app/styles/components/x-toggle.scss
  ui/app/styles/pages/auth-page.scss
  ui/app/styles/pages/login.scss
  ui/app/styles/pages/onboarding.scss
  ui/app/styles/utilities/animations.scss
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

#1713 Removed references to id in favor of seq #
  .changelog/1713.txt
  ui/app/components/actions/deploy.hbs
  ui/app/components/actions/release.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: backport/0.4.x, ui

#1780 ui: upgrade engine.io-client to 3.5.2
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1783 website: fix broken link to variable artifact page
  website/content/docs/waypoint-hcl/variables/index.mdx
Labels: backport/0.4.x, backport/website, pr/no-changelog, website

#1787 ui: bump y18n@^4.0.0 to 4.0.3
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1788 ui: upgrade glob-parent@^5.0.0 to 5.1.2
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1600 ui: Apply consistent copywriting to English translations
  ui/app/templates/workspace/projects/index.hbs
  ui/translations/en-us.yaml
Labels: backport/0.4.x, pr/no-changelog, ui

#1668 ui: Refine status indicators
  .changelog/1668.txt
  ui/app/components/app-card.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/builds.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/operation-status-indicator.hbs
  ui/app/components/status-badge/index.hbs
  ui/app/components/status-badge/index.ts
  ui/app/components/status-report-indicator.hbs
  ui/app/helpers/downcase.ts
  ui/app/styles/app.scss
  ui/app/styles/components/app-card.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/card.scss
  ui/app/styles/components/operation-status-indicator.scss
  ui/app/styles/components/status-badge.scss
  ui/app/styles/components/status-report-indicator.scss
  ui/app/styles/components/tooltip.scss
  ui/app/styles/utilities/focus-ring.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/mirage/factories/status.ts
  ui/package.json
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/release-detail-test-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/integration/components/operation-status-indicator-test.ts
  ui/tests/integration/components/status-badge-test.ts
  ui/tests/integration/components/status-report-indicator-test.ts
  ui/translations/en-us.yaml
Labels: backport/0.4.x, ui

#1793 Backport of ui: Refine status indicators into release/0.4.x
  .changelog/1668.txt
  ui/app/components/app-card.hbs
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/builds.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/operation-status-indicator.hbs
  ui/app/components/status-badge/index.hbs
  ui/app/components/status-badge/index.ts
  ui/app/components/status-report-indicator.hbs
  ui/app/helpers/downcase.ts
  ui/app/styles/app.scss
  ui/app/styles/components/app-card.scss
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/card.scss
  ui/app/styles/components/operation-status-indicator.scss
  ui/app/styles/components/status-badge.scss
  ui/app/styles/components/status-report-indicator.scss
  ui/app/styles/components/tooltip.scss
  ui/app/styles/utilities/focus-ring.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/mirage/factories/status.ts
  ui/package.json
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/release-detail-test-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/integration/components/operation-status-indicator-test.ts
  ui/tests/integration/components/status-badge-test.ts
  ui/tests/integration/components/status-report-indicator-test.ts
  ui/translations/en-us.yaml
Labels: ui

#1752 User account system
  internal/client/server.go
  internal/server/auth.go
  internal/server/auth_test.go
  internal/server/gen/mocks/is_user__link__method.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/user.go
  internal/server/server_test.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_user.go
  internal/server/singleprocess/service_user_test.go
  internal/server/singleprocess/state/user.go
  internal/server/singleprocess/state/user_test.go
  internal/server/testing.go
Labels: core, pr/no-changelog

#1387 feat: add deployment URL
  .changelog/1387.txt
  go.mod
  go.sum
  internal/cli/deployment_create.go
  internal/cli/deployment_list.go
  internal/core/app_deploy.go
  internal/core/operation.go
  internal/runner/accept.go
  internal/runner/operation_deploy.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_deploy.go
Labels: core

#1761 Managing grpc and http server agents manually
  .changelog/1761.txt
  go.mod
  internal/server/grpc.go
  internal/server/http.go
  internal/server/server.go
Labels: backport/0.4.x, bug, core

#1804 test: Increase timeout due to slow circle-ci
  internal/server/singleprocess/service_logs_test.go
Labels: backport/0.4.x, core, pr/no-changelog, tests

#1803 Fix the exec/platform and pack/builder docs
  builtin/exec/platform.go
  builtin/pack/builder.go
  website/content/commands/index.mdx
  website/content/partials/components/builder-pack.mdx
Labels: plugin, plugin/pack, pr/no-changelog, website

#1805 Adding make command to generate and format website mdx files
  Makefile
Labels: pr/no-changelog

#1800 cli: friendlier error handling on input variable panic
  internal/config/app_config.go
Labels: cli, core, pr/no-changelog

#1809 ui: bump testem to 3.4.2
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1808 ui: bump node-fetch to 2.6.1
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1807 ui: bump ws to 7.4.6
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1739 feat(ui): show deployment URL if available
  .changelog/1739.txt
  ui/app/components/app-item/deployment.hbs
  ui/lib/api-common-protos/google/api/annotations_pb.js
  ui/lib/api-common-protos/google/api/auth_pb.js
  ui/lib/api-common-protos/google/api/backend_pb.js
  ui/lib/api-common-protos/google/api/billing_pb.js
  ui/lib/api-common-protos/google/api/client_pb.js
  ui/lib/api-common-protos/google/api/config_change_pb.js
  ui/lib/api-common-protos/google/api/consumer_pb.js
  ui/lib/api-common-protos/google/api/context_pb.js
  ui/lib/api-common-protos/google/api/control_pb.js
  ui/lib/api-common-protos/google/api/distribution_pb.js
  ui/lib/api-common-protos/google/api/documentation_pb.js
  ui/lib/api-common-protos/google/api/endpoint_pb.js
  ui/lib/api-common-protos/google/api/field_behavior_pb.js
  ui/lib/api-common-protos/google/api/http_pb.js
  ui/lib/api-common-protos/google/api/httpbody_pb.js
  ui/lib/api-common-protos/google/api/label_pb.js
  ui/lib/api-common-protos/google/api/launch_stage_pb.js
  ui/lib/api-common-protos/google/api/log_pb.js
  ui/lib/api-common-protos/google/api/logging_pb.js
  ui/lib/api-common-protos/google/api/metric_pb.js
  ui/lib/api-common-protos/google/api/monitored_resource_pb.js
  ui/lib/api-common-protos/google/api/monitoring_pb.js
  ui/lib/api-common-protos/google/api/quota_pb.js
  ui/lib/api-common-protos/google/api/resource_pb.js
  ui/lib/api-common-protos/google/api/service_pb.js
  ui/lib/api-common-protos/google/api/source_info_pb.js
  ui/lib/api-common-protos/google/api/system_parameter_pb.js
  ui/lib/api-common-protos/google/api/usage_pb.js
  ui/lib/api-common-protos/google/longrunning/operations_pb.js
  ui/lib/api-common-protos/google/rpc/code_pb.js
  ui/lib/api-common-protos/google/rpc/error_details_pb.js
  ui/lib/api-common-protos/google/rpc/status_pb.js
  ui/lib/api-common-protos/google/type/calendar_period_pb.js
  ui/lib/api-common-protos/google/type/color_pb.js
  ui/lib/api-common-protos/google/type/date_pb.js
  ui/lib/api-common-protos/google/type/dayofweek_pb.js
  ui/lib/api-common-protos/google/type/expr_pb.js
  ui/lib/api-common-protos/google/type/fraction_pb.js
  ui/lib/api-common-protos/google/type/latlng_pb.js
  ui/lib/api-common-protos/google/type/money_pb.js
  ui/lib/api-common-protos/google/type/month_pb.js
  ui/lib/api-common-protos/google/type/postal_address_pb.js
  ui/lib/api-common-protos/google/type/quaternion_pb.js
  ui/lib/api-common-protos/google/type/timeofday_pb.js
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/translations/en-us.yaml
Labels: ui

#1812 Backport of ui: bump ws to 7.4.6 into release/0.4.x
  ui/yarn.lock
Labels: ui

#1658 UI: project input variables
  .changelog/1658.txt
  ui/app/components/app-footer/index.hbs
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/page-header.hbs
  ui/app/components/project-input-variables/list-item.hbs
  ui/app/components/project-input-variables/list-item.ts
  ui/app/components/project-input-variables/list.hbs
  ui/app/components/project-input-variables/list.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/routes/workspace/projects/project/settings/repository.ts
  ui/app/routes/workspace/projects/project/settings/variables.ts
  ui/app/styles/app.scss
  ui/app/styles/components/_project-input-variables.scss
  ui/app/styles/components/input.scss
  ui/app/styles/components/navigation/footer.scss
  ui/app/styles/components/structure/pds-form.scss
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/app/templates/workspace/projects/project/settings/repository.hbs
  ui/app/templates/workspace/projects/project/settings/variables.hbs
  ui/mirage/config.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/variable.ts
  ui/mirage/models/project.ts
  ui/mirage/models/variable.ts
  ui/mirage/services/project.ts
  ui/package.json
  ui/tests/integration/components/app-form/project-repository-settings-test.ts
  ui/tests/integration/components/project-input-variables-list-test.ts
  ui/translations/en-us.yaml
  ui/yarn.lock
Labels: ui

#1751 Backport of Adjusted font size of view all button in card headers into release/0.4.x
  ui/app/styles/components/card.scss
Labels: ui

#1819 internal/server: generic poll queuer tests
  .changelog/1819.txt
  internal/server/singleprocess/mocks/poll_handler.go
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/poll_test.go
  internal/server/singleprocess/service.go
Labels: backport/0.4.x, core

#1817 core: fix error handling to check for nil value
  internal/config/variables/testdata/no_default.hcl
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
Labels: core, pr/no-changelog

#1818 remove duplicate svg path used in svgJar
  ui/ember-cli-build.js
Labels: pr/no-changelog, ui

#1829 [Website] Bump hashi-stack-menu
  website/package-lock.json
  website/package.json
Labels: backport/0.4.x, pr/no-changelog, website

#1822 internal/server: harden git path validation
  .changelog/1822.txt
  internal/server/ptypes/job.go
  internal/server/ptypes/job_test.go
Labels: backport/0.4.x, core

#1828 Fix release URL links
  .changelog/1828.txt
  ui/app/components/app-card/release.hbs
Labels: backport/0.4.x, ui

#1836 Add enforce-protocol helper
  .changelog/1836.txt
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/latest-release-url/index.hbs
  ui/app/helpers/enforce-protocol.ts
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/tests/integration/helpers/enforce-protocol-test.ts
Labels: backport/0.4.x, ui

#1825 website: regenerate screenshots
  ui/mirage/factories/project.ts
  ui/mirage/factories/release.ts
  ui/mirage/scenarios/default.ts
  ui/mirage/services/version-info.ts
  website/pages/home/img/waypoint_ui@3x.png
  website/public/img/getting-started/admin-ui.png
  website/public/img/new-waypoint-install-ui.png
  website/public/img/new-waypoint-project.png
  website/public/img/project-git.png
  website/public/img/ref-tracking-git.png
  website/public/img/waypoint-project-created.png
Labels: backport/0.4.x, pr/no-changelog, ui, website

#1839 ui: Add fallback when status report is unavailable
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/operation-status-indicator.hbs
  ui/app/components/status-report-indicator.hbs
  ui/translations/en-us.yaml
Labels: backport/0.4.x, pr/no-changelog, ui

#1716 Feature: plugin debugging
  .changelog/1716.txt
  go.mod
  go.sum
  internal/cli/plugin.go
  internal/client/server.go
  internal/plugin/factory.go
  internal/runner/operation.go
Labels: backport/0.4.x, core, enhancement

#1837 Backport of Add enforce-protocol helper into release/0.4.x
  .changelog/1836.txt
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/latest-release-url/index.hbs
  ui/app/helpers/enforce-protocol.ts
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/tests/integration/helpers/enforce-protocol-test.ts
Labels: ui

#1849 internal/cli: detect flags after positional args and error
  .changelog/1849.txt
  internal/cli/base.go
  internal/cli/base_test.go
Labels: backport/0.4.x, core

#1852 internal/server: restrict username valid characters
  internal/server/ptypes/user.go
  internal/server/singleprocess/state/user.go
Labels: core, pr/no-changelog

#1838 Backport of website: regenerate screenshots into release/0.4.x
  ui/mirage/factories/project.ts
  ui/mirage/factories/release.ts
  ui/mirage/scenarios/default.ts
  ui/mirage/services/version-info.ts
  website/pages/home/img/waypoint_ui@3x.png
  website/public/img/getting-started/admin-ui.png
  website/public/img/new-waypoint-install-ui.png
  website/public/img/new-waypoint-project.png
  website/public/img/project-git.png
  website/public/img/ref-tracking-git.png
  website/public/img/waypoint-project-created.png
Labels: ui, website

#1851 ui: remove spurious comment in deployment template
  ui/app/templates/workspace/projects/project/app/deployment.hbs
Labels: backport/0.4.x, pr/no-changelog, ui

#1830 Adds ability to launch one-off tasks with TaskLauncher
  Makefile
  builtin/docker/main.go
  builtin/docker/platform.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/task.go
  go.mod
  go.sum
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_exec.go
  internal/core/app_logs.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_status_report.go
  internal/plugin/arg.go
  internal/plugin/discover.go
  internal/plugin/discover_test.go
  internal/plugin/factory.go
  internal/plugin/invoke.go
  internal/plugin/plugin.go
  internal/runner/accept.go
  internal/runner/config.go
  internal/runner/operation.go
  internal/runner/operation_task.go
  internal/runner/operation_task_test.go
  internal/runner/runner.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core, plugin, plugin/docker, pr/no-changelog

#1831 OIDC Authentication
  .changelog/1831.txt
  .changelog/1848.txt
  go.mod
  go.sum
  internal/auth/oidc/cli.go
  internal/auth/oidc/doc.go
  internal/auth/oidc/provider.go
  internal/auth/oidc/provider_test.go
  internal/cli/auth_method_delete.go
  internal/cli/auth_method_inspect.go
  internal/cli/auth_method_list.go
  internal/cli/auth_method_set_oidc.go
  internal/cli/base.go
  internal/cli/login.go
  internal/cli/main.go
  internal/cli/option.go
  internal/clicontext/config.go
  internal/clicontext/config_test.go
  internal/server/gen/mocks/is_auth_method__method.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/auth_method.go
  internal/server/ptypes/user.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_auth_method.go
  internal/server/singleprocess/service_auth_method_test.go
  internal/server/singleprocess/service_auth_oidc.go
  internal/server/singleprocess/service_auth_oidc_test.go
  internal/server/singleprocess/service_user.go
  internal/server/singleprocess/state/auth_method.go
  internal/server/singleprocess/state/auth_method_test.go
  internal/server/singleprocess/state/user.go
  internal/server/singleprocess/state/user_test.go
Labels: core

#1737 Declared resources wiring for deployments + server resource awareness protos
  go.mod
  go.sum
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_deploy_test.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core, pr/no-changelog

#1816 Verify no mdx changes during circleCI runs
  .circleci/config.yml
  internal/cli/app_docs.go
  internal/cli/docs.go
  internal/cli/install.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  website/content/commands/artifact-build.mdx
  website/content/commands/artifact-push.mdx
  website/content/commands/auth-method-delete.mdx
  website/content/commands/auth-method-inspect.mdx
  website/content/commands/auth-method-list.mdx
  website/content/commands/auth-method-set-oidc.mdx
  website/content/commands/build.mdx
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
  website/content/commands/deployment-destroy.mdx
  website/content/commands/deployment-list.mdx
  website/content/commands/destroy.mdx
  website/content/commands/docs.mdx
  website/content/commands/install.mdx
  website/content/commands/login.mdx
  website/content/commands/plugin.mdx
  website/content/commands/release.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/commands/up.mdx
  website/content/partials/commands/auth-method-delete_desc.mdx
  website/content/partials/commands/auth-method-delete_more.mdx
  website/content/partials/commands/auth-method-inspect_desc.mdx
  website/content/partials/commands/auth-method-inspect_more.mdx
  website/content/partials/commands/auth-method-list_desc.mdx
  website/content/partials/commands/auth-method-list_more.mdx
  website/content/partials/commands/auth-method-set-oidc_desc.mdx
  website/content/partials/commands/auth-method-set-oidc_more.mdx
  website/content/partials/commands/login_desc.mdx
  website/content/partials/commands/login_more.mdx
  website/data/commands-nav-data.json
Labels: core, pr/no-changelog, release-eng, website

#1864 "waypoint user" CLI
  .changelog/1864.txt
  internal/cli/main.go
  internal/cli/token.go
  internal/cli/user_inspect.go
  internal/cli/user_invite.go
  internal/cli/user_modify.go
  internal/cli/user_token.go
Labels: core

#1867 internal/clicontext: parse 127.0.0.1:1234 correctly for server addr
  internal/clicontext/config.go
  internal/clicontext/config_test.go
Labels: core, pr/no-changelog

#1868 Add logging for log streaming, potentially fix infinite loop case.
  .changelog/1868.txt
  internal/server/singleprocess/service_logs.go
Labels: backport/0.4.x, core

#1863 UI: Default URLS for details pages use sequence #
  .changelog/1863.txt
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/build-id.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/deployment-id.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release-id.ts
  ui/app/routes/workspace/projects/project/app/release.ts
Labels: backport/0.4.x, ui

#1871 cli: hint at which waypoint configuration file is missing in error msg
  internal/cli/base_init.go
Labels: backport/0.4.x, core, pr/no-changelog

#1873 internal/core: Add unimplemented field for a release
  .changelog/1873.txt
  internal/core/app_release.go
  internal/runner/operation_up.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: backport/0.4.x, core

#1877 Backport of internal/core: Add unimplemented field for a release into release/0.4.x
  .changelog/1873.txt
  internal/core/app_release.go
  internal/runner/operation_up.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/server.go
Labels: core

#1883 ui/readme: add note about protoc-gen-grpc-web
  ui/README.md
Labels: backport/0.4.x, pr/no-changelog, ui

#1878 OIDC Claim Mapping and Access Control
  Makefile
  go.mod
  go.sum
  internal/auth/oidc/claims.go
  internal/auth/oidc/claims_test.go
  internal/cli/auth_method_set_oidc.go
  internal/cli/login.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/ptypes/auth_method.go
  internal/server/singleprocess/service_auth_oidc.go
  internal/server/singleprocess/service_auth_oidc_test.go
  website/content/commands/auth-method-set-oidc.mdx
  website/content/commands/user-inspect.mdx
  website/content/commands/user-invite.mdx
  website/content/commands/user-modify.mdx
  website/content/commands/user-token.mdx
  website/content/partials/commands/user-inspect_desc.mdx
  website/content/partials/commands/user-inspect_more.mdx
  website/content/partials/commands/user-invite_desc.mdx
  website/content/partials/commands/user-invite_more.mdx
  website/content/partials/commands/user-modify_desc.mdx
  website/content/partials/commands/user-modify_more.mdx
  website/content/partials/commands/user-token_desc.mdx
  website/content/partials/commands/user-token_more.mdx
  website/data/commands-nav-data.json
Labels: core, pr/no-changelog, website

#1846 website: docs for input variables
  website/content/docs/waypoint-hcl/variable.mdx
  website/content/docs/waypoint-hcl/variables/index.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/data/docs-nav-data.json
  website/public/img/input-vars-add-variable-dialog.png
  website/public/img/input-vars-empty-settings-tab.png
Labels: pr/no-changelog, website

#1886 serverinstall/k8s: update log msg and add terminal warn for RollingUpdate
  .changelog/1886.txt
  internal/serverinstall/k8s.go
Labels: backport/0.4.x, core

#1888 Remove unused docs folder
  docs/images/d4m-k8s.png
Labels: pr/no-changelog

#1889 Remove test apps from Waypoint repo
  test-apps/aci/go.mod
  test-apps/aci/main.go
  test-apps/aci/waypoint.hcl
  test-apps/cloudrun/Gemfile
  test-apps/cloudrun/Gemfile.lock
  test-apps/cloudrun/Procfile
  test-apps/cloudrun/app.rb
  test-apps/cloudrun/go.mod
  test-apps/cloudrun/waypoint.hcl
  test-apps/docker/Gemfile
  test-apps/docker/Gemfile.lock
  test-apps/docker/Procfile
  test-apps/docker/app.rb
  test-apps/docker/waypoint.hcl
  test-apps/wpmini/Gemfile
  test-apps/wpmini/Gemfile.lock
  test-apps/wpmini/Procfile
  test-apps/wpmini/app.rb
  test-apps/wpmini/waypoint.hcl
Labels: pr/no-changelog

#1887 contrib/waypoint-local: Add setup scripts for running locally
  contrib/waypoint-local/README.md
  contrib/waypoint-local/setup-waypoint-local.sh
  contrib/waypoint-local/shutdown-waypoint.sh
Labels: contrib, pr/no-changelog

#1895 Bug: allow nomad runner and server memory to be configurable
  .changelog/1895.txt
  internal/serverinstall/nomad.go
Labels: backport/0.4.x, bug, core

#1872 AWS ECS: validate memory + cpu pairs
  .changelog/1872.txt
  builtin/aws/ecs/platform.go
  builtin/aws/utils/validations.go
  builtin/aws/utils/validations_test.go
  internal/serverinstall/ecs.go
Labels: backport/0.4.x, core, plugin, plugin/aws

#1900 internal/server: disallow deleting the default user
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/state/user.go
  internal/server/singleprocess/state/user_test.go
Labels: core, pr/no-changelog

#1893 ui: refactor breadcrumbs
  ui/app/components/app-breadcrumbs/index.hbs
  ui/app/routes/workspace/projects/new.ts
  ui/app/routes/workspace/projects/project.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/services/breadcrumbs.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1903 ui/tests: fix linting issues
  ui/tests/helpers/flash-message.js
  ui/tests/helpers/login.ts
  ui/tests/helpers/set-ua.ts
  ui/tests/integration/helpers/enforce-protocol-test.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1904 ui/mirage: de-lint
  ui/mirage/config.ts
  ui/mirage/factories/variable.ts
  ui/mirage/helpers/login.ts
  ui/mirage/services/build.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/invite-token.ts
  ui/mirage/services/project.ts
  ui/mirage/services/pushed-artifact.ts
  ui/mirage/services/release.ts
  ui/mirage/services/status-report.ts
  ui/mirage/services/token.ts
  ui/mirage/services/version-info.ts
  ui/mirage/utils.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1906 Backport of ui/mirage: de-lint into release/0.4.x
  ui/mirage/config.ts
  ui/mirage/helpers/login.ts
  ui/mirage/services/build.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/invite-token.ts
  ui/mirage/services/project.ts
  ui/mirage/services/pushed-artifact.ts
  ui/mirage/services/release.ts
  ui/mirage/services/status-report.ts
  ui/mirage/services/token.ts
  ui/mirage/services/version-info.ts
  ui/mirage/utils.ts
Labels: ui

#1894 Generate API bindings for OIDC protos
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: pr/no-changelog, ui

#1902 ui: upgrade ember-template-lint to 3.5.0
  ui/.template-lintrc.js
  ui/app/components/page.hbs
  ui/app/components/project-input-variables/list-item.hbs
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/package.json
  ui/yarn.lock
Labels: backport/0.4.x, pr/no-changelog, ui

#1842 Backport of Feature: plugin debugging into release/0.4.x
  .changelog/1716.txt
  go.mod
  go.sum
  internal/cli/plugin.go
  internal/client/server.go
  internal/plugin/factory.go
  internal/runner/operation.go
Labels: core

#1912 ui: de-lint config files
  ui/.eslintrc.js
  ui/config/targets.js
  ui/ember-cli-build.js
Labels: backport/0.4.x, pr/no-changelog, ui

#1916 ui: Add dynamic page titles
  .changelog/1916.txt
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/builds.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/app/releases.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/package.json
  ui/yarn.lock
Labels: backport/0.4.x, ui

#1922 internal/plugin: fix muliple imports
  internal/plugin/plugin.go
Labels: core, pr/no-changelog

#1907 Backport of ui: upgrade ember-template-lint to 3.5.0 into release/0.4.x
  ui/.template-lintrc.js
  ui/app/components/page.hbs
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui

#1924 Fix docs typo
  website/content/docs/server/run/maintenance.mdx
Labels: backport/website, pr/no-changelog, website

#1926 ui: de-lint services
  ui/app/services/api.ts
  ui/app/services/poll-model.ts
  ui/app/services/session.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1821 Git polling with a subpath specified should ignore git changes outside that path
  .changelog/1821.txt
  internal/datasource/datasource.go
  internal/datasource/git.go
  internal/datasource/git_test.go
  internal/datasource/local.go
  internal/runner/operation_poll.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

#1931 plugins: make gen/plugins with updated protoc version
  builtin/aws/ami/plugin.pb.go
  builtin/aws/ec2/plugin.pb.go
  builtin/aws/ecr/plugin.pb.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/lambda/plugin.pb.go
  builtin/azure/aci/plugin.pb.go
  builtin/docker/plugin.pb.go
  builtin/exec/plugin.pb.go
  builtin/files/plugin.pb.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/k8s/apply/plugin.pb.go
  builtin/nomad/plugin.pb.go
  builtin/pack/plugin.pb.go
Labels: plugin, plugin/aws, plugin/azure, plugin/docker, plugin/google, plugin/k8s, plugin/nomad, plugin/pack, pr/no-changelog

#1932 Internal function to queue multiple jobs transactionally
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core, pr/no-changelog

#1930 OIDC Documentation
  website/content/docs/automating-execution/index.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/server/auth.mdx
  website/content/docs/server/auth/oidc.mdx
  website/content/docs/troubleshooting.mdx
  website/data/docs-nav-data.json
Labels: pr/no-changelog, website

#1938 Update K8s Releaser to use resource manager
  .changelog/1938.txt
  builtin/k8s/plugin.pb.go
  builtin/k8s/plugin.proto
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

#1801 feature: Queue status reports on continuous interval for applications
  .changelog/1801.txt
  internal/cli/project_apply.go
  internal/core/app_release.go
  internal/runner/accept.go
  internal/runner/operation.go
  internal/runner/operation_status_report.go
  internal/runner/operation_up.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/mocks/poll_handler.go
  internal/server/singleprocess/poll.go
  internal/server/singleprocess/poll_application.go
  internal/server/singleprocess/poll_project.go
  internal/server/singleprocess/poll_test.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/state/application.go
  internal/server/singleprocess/state/application_test.go
  internal/server/singleprocess/state/project.go
  website/content/commands/project-apply.mdx
Labels: core, core/server, website

#1919 Feature/aws ecs/additional security groups
  .changelog/1919.txt
  builtin/aws/ecs/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: backport/0.4.x, plugin, plugin/aws, website

#1936 ui: redirect from `:id` to `seq/:seq` for all detail routes
  ui/app/routes/workspace/projects/project/app/build-id.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/deployment-id.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release-id.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/tests/acceptance/build-detail-test.ts
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/release-detail-test.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1941 builtin/nomad: add resource manager to nomad platform
  .changelog/1941.txt
  builtin/nomad/platform.go
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
  website/content/partials/components/platform-nomad-jobspec.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: plugin, plugin/nomad, website

#1955 ui: de-lint base routes
  ui/app/routes/application.ts
  ui/app/routes/workspace.ts
  ui/app/routes/workspaces.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1956 ui: de-lint onboarding routes
  ui/app/routes/onboarding/index.ts
  ui/app/routes/onboarding/install/index.ts
  ui/app/routes/onboarding/install/linux/index.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1957 ui: de-lint projects routes
  ui/app/routes/workspace/projects/index.ts
  ui/app/routes/workspace/projects/new.ts
Labels: backport/0.4.x, pr/no-changelog, ui

#1908 plugin/docker+k8s: using resource manager to fill in declared resources
  builtin/docker/main.go
  builtin/docker/platform.go
  builtin/k8s/k8s.go
  builtin/k8s/platform.go
  go.mod
  go.sum
  internal/core/app_deploy.go
  internal/core/app_deploy_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, plugin, plugin/docker, plugin/k8s, pr/no-changelog

#1948 internal/server: invite tokens for other users are allowed
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
Labels: core, pr/no-changelog

#1958 plugin/gcp: a bit more helpful error msg
  .changelog/1958.txt
  builtin/google/cloudrun/deployment.go
Labels: backport/0.4.x, plugin, plugin/google
