Repository hashicorp/waypoint, pull requests merged in 2021-04, with the labels that each got.

#1252 update package.json and README for ui dev set up
  ui/README.md
  ui/package.json
Labels: pr/no-changelog, ui

#1254 Make all deploy variables available in the DefaultReleaser setup
  .changelog/1254.txt
  internal/config/eval_context.go
  internal/core/app_deploy.go
  internal/core/app_release.go
Labels: core

#1255 Added "timestamp" HCL function
  .changelog/1255.txt
  internal/cli/app_docs.go
  internal/config/eval_context.go
  internal/config/funcs/datetime.go
  internal/config/funcs/datetime_test.go
Labels: core

#1220 UI: Create new project from UI with Git settings
  .changelog/1220.txt
  ui/app/components/app-form/project-settings.ts
  ui/app/controllers/workspace/projects/new.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/new.ts
  ui/app/routes/workspace/projects/project.ts
  ui/app/routes/workspace/projects/project/app/settings.ts
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/settings.hbs
  ui/tests/unit/controllers/workspace/projects/new-test.ts
  ui/tests/unit/routes/workspace/projects/new-test.ts
  ui/tests/unit/routes/workspace/projects/project/app/settings-test.ts
  ui/tests/unit/routes/workspace/projects/project/apps/new-test.ts
  ui/translations/en-us.yaml
Labels: ui

#1253 UI: hcl config input from project settings
  .changelog/1253.txt
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/app/styles/_pds-form.scss
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/translations/en-us.yaml
Labels: ui

#1244 Style: Update brand colors
  website/components/animated-terminal/framed-terminal/index.jsx
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/info-grid/InfoGrid.module.css
  website/components/longform-page/LongformPage.module.css
  website/components/waypoint-diagram/img/code-to-deployment.svg
  website/components/waypoint-diagram/img/code.svg
  website/components/waypoint-diagram/img/logos/and-more.svg
  website/components/waypoint-diagram/img/logos/nomad.svg
  website/components/waypoint-diagram/img/platform.svg
  website/package-lock.json
  website/package.json
  website/pages/community/style.module.css
  website/pages/downloads/img/waypoint-logo.svg
  website/pages/downloads/index.jsx
  website/pages/home/img/step-logos/and-more.svg
  website/pages/home/img/step-logos/nomad.svg
  website/pages/home/img/step-logos/terraform.svg
  website/pages/home/img/why-waypoint/deployment-confidence.svg
  website/pages/home/img/why-waypoint/ecosystem-extensibility.svg
  website/pages/home/img/why-waypoint/workflow-consistency.svg
  website/pages/home/index.jsx
  website/pages/style.css
  website/public/img/hero-left.svg
  website/public/img/hero-right.svg
  website/public/img/mobile-hero-pattern.svg
Labels: pr/no-changelog, website

#1261 Update pack docs for Dockerless, add TFC docs
  builtin/pack/builder.go
  internal/cli/app_docs.go
  website/content/commands/artifact-build.mdx
  website/content/commands/artifact-list-builds.mdx
  website/content/commands/artifact-list.mdx
  website/content/commands/artifact-push.mdx
  website/content/commands/build.mdx
  website/content/commands/config-get.mdx
  website/content/commands/config-set.mdx
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
  website/content/commands/config-sync.mdx
  website/content/commands/context-clear.mdx
  website/content/commands/context-create.mdx
  website/content/commands/context-delete.mdx
  website/content/commands/context-list.mdx
  website/content/commands/context-rename.mdx
  website/content/commands/context-use.mdx
  website/content/commands/context-verify.mdx
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
  website/content/commands/deployment-destroy.mdx
  website/content/commands/deployment-list.mdx
  website/content/commands/destroy.mdx
  website/content/commands/docs.mdx
  website/content/commands/exec.mdx
  website/content/commands/fmt.mdx
  website/content/commands/hostname-delete.mdx
  website/content/commands/hostname-list.mdx
  website/content/commands/hostname-register.mdx
  website/content/commands/init.mdx
  website/content/commands/install.mdx
  website/content/commands/logs.mdx
  website/content/commands/plugin.mdx
  website/content/commands/project-apply.mdx
  website/content/commands/project-list.mdx
  website/content/commands/release.mdx
  website/content/commands/runner-agent.mdx
  website/content/commands/server-bootstrap.mdx
  website/content/commands/server-config-set.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-restore.mdx
  website/content/commands/server-run.mdx
  website/content/commands/server-snapshot.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/commands/token-exchange.mdx
  website/content/commands/token-invite.mdx
  website/content/commands/token-new.mdx
  website/content/commands/ui.mdx
  website/content/commands/up.mdx
  website/content/commands/version.mdx
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/funcs.mdx
  website/content/plugins/terraform-cloud.mdx
  website/data/commands-nav-data.json
  website/data/plugins-nav-data.json
Labels: core, plugin, plugin/pack, pr/no-changelog, website

#1274 rename label to SSH Private Key
  ui/translations/en-us.yaml
Labels: pr/no-changelog, ui

#1273 Default git ref to HEAD
  ui/app/components/app-form/project-settings.ts
Labels: pr/no-changelog, ui

#1272 Project name is optional for remote operations (and does not need to match, either)
  internal/config/config.go
  internal/config/validate.go
  internal/runner/operation.go
  ui/app/templates/workspace/projects/new.hbs
  ui/translations/en-us.yaml
  website/content/docs/waypoint-hcl/index.mdx
Labels: core, pr/no-changelog, ui, website

#1276 builtin/pack: output to user if Docker is not available
  builtin/pack/builder.go
Labels: plugin, plugin/pack, pr/no-changelog

#1275 refetch model on route reentry
  ui/app/routes/workspace/projects/project/settings.ts
Labels: pr/no-changelog, ui

#1260 Update the StackMenu to the latest
  website/package-lock.json
  website/package.json
Labels: backport/website, website

#1278 remove app settings tab
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/settings.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/settings.hbs
Labels: pr/no-changelog, ui

#1259 website: Update git project docs
  website/content/docs/projects/git.mdx
  website/content/docs/projects/index.mdx
  website/public/img/new-waypoint-install-ui.png
  website/public/img/new-waypoint-project.png
  website/public/img/project-git.png
  website/public/img/ref-tracking-git.png
  website/public/img/waypoint-project-created.png
Labels: documentation, pr/no-changelog, website

#1281 wrap log output to container width (for breakable content)
  ui/app/styles/_page.scss
Labels: pr/no-changelog, ui

#1280 Add error message on failed builds
  .changelog/1280.txt
  ui/app/components/operation-logs/index.ts
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
Labels: ui

#1282 Add status badges for releases and deployments
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/release.hbs
Labels: pr/no-changelog, ui

#1283 Add support for non-authenticated git settings
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/translations/en-us.yaml
Labels: pr/no-changelog, ui

#1284 Quickfix for input contrast in dark mode
  ui/app/styles/_input.scss
  ui/app/styles/app.scss
Labels: pr/no-changelog, ui

#1285 Website: Fix doc typos
  internal/cli/deployment_create.go
  internal/cli/fmt.go
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
  website/content/commands/fmt.mdx
  website/content/docs/projects/index.mdx
  website/content/docs/waypoint-hcl/app.mdx
  website/content/docs/waypoint-hcl/runner.mdx
Labels: core, pr/no-changelog, website

#1288 internal/cli: config get/set support -runner for runner config
  internal/cli/config_get.go
  internal/cli/config_set.go
Labels: core, pr/no-changelog

#1291 aws/ecr: registry supports Dockerless
  builtin/aws/ecr/registry.go
Labels: plugin, plugin/aws, pr/no-changelog

#1292 Retry lambda function creation
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws, pr/no-changelog

#1293 Update runner stanza with 'enabled' instead of 'enable'
  website/content/docs/waypoint-hcl/runner.mdx
Labels: documentation, website

#1294 internal/pkg/epinject: preserve CMD when injecting with img
  Dockerfile
  internal/pkg/epinject/img.go
Labels: core, pr/no-changelog

#1289 Update website for 0.3.0
  website/README.md
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/partials/components/configsourcer-vault.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
Labels: pr/no-changelog, website

#1300 Fixes #1295: Use namespace config option when deploying nomad job
  .changelog/1300.txt
  builtin/nomad/platform.go
Labels: backport/0.3.x, plugin, plugin/nomad

#1303 CHANGELOG: Add github URLs for each issue
  CHANGELOG.md
Labels: pr/no-changelog

#1313 internal/core: render all output variables for destroy phases
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
Labels: core, pr/no-changelog

#1312 Fix hidden Checkbox being partially visible
  .changelog/1312.txt
  ui/package.json
  ui/yarn.lock
Labels: ui

#1320 internal/cli: server bootstrap should not spin up local runner
  .changelog/1320.txt
  internal/cli/server_bootstrap.go
Labels: backport/0.3.x, core

#1106 Auth soft fail
  .changelog/1106.txt
  internal/serverinstall/nomad.go
Labels: backport/0.3.x, core

#1326 Make `purge` default behavior for Nomad uninstall; remove flag
  .changelog/1326.txt
  internal/cli/uninstall.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: backport/0.3.x, cli, core, website

#1330 cmd/waypoint-entrypoint: default log level to DEBUG, env var to change
  .changelog/1330.txt
  cmd/waypoint-entrypoint/main.go
  internal/ceb/ceb.go
  internal/ceb/config.go
  internal/ceb/config_test.go
  internal/ceb/log.go
  internal/ceb/testing.go
  website/content/docs/entrypoint/index.mdx
  website/content/docs/troubleshooting.mdx
Labels: backport/0.3.x, core, website

#1333 Makefile: Add target for generating server proto
  Makefile
Labels: pr/no-changelog

#1336 add docs and fmt to commands nav data
  website/data/commands-nav-data.json
Labels: backport/0.3.x, backport/website, documentation, pr/no-changelog, website

#1341 Link to changelog guide
  .github/CONTRIBUTING.md
Labels: pr/no-changelog

#1340 add some documentation about autocomplete install and uninstall
  website/content/commands/index.mdx
Labels: backport/0.3.x, backport/website, documentation, pr/no-changelog, website

#1335 Project settings polish
  .changelog/1335.txt
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/page-header.hbs
  ui/app/styles/_input.scss
  ui/app/styles/_page.scss
  ui/app/styles/_pds-form.scss
  ui/app/styles/app.scss
  ui/app/templates/onboarding/install.hbs
  ui/app/templates/onboarding/install/linux.hbs
  ui/app/templates/onboarding/install_release.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/new.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/translations/en-us.yaml
Labels: backport/0.3.x, ui

#1350 internal: update error message for data source not set
  internal/server/singleprocess/service_job.go
Labels: backport/0.3.x, core, pr/no-changelog

#1331 UI tests cleanup
  ui/mirage/config.ts
  ui/mirage/services/version-info.ts
  ui/tests/unit/routes/workspace/projects/project/app/settings-test.ts
  ui/tests/unit/routes/workspace/projects/project/apps/new-test.ts
Labels: pr/no-changelog, ui

#1354 Website: Fix TODO in runner config docs page preview text
  website/content/docs/runner/config.mdx
Labels: backport/0.3.x, backport/website, pr/no-changelog, website

#1358 plugin/nomad: Ensure Namespace is set if not set by user
  builtin/nomad/platform.go
Labels: backport/0.3.x, bug, plugin, plugin/nomad, pr/no-changelog

#1357 plugin/kubernetes-apply: Apply a directory of YAML or JSON files
  builtin/k8s/apply/platform.go
  builtin/k8s/apply/plugin.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/apply/plugin.proto
  internal/plugin/plugin.go
Labels: core, plugin, plugin/k8s

#1299 Nomad Jobspec Plugin
  .changelog/1299.txt
  builtin/nomad/jobspec/platform.go
  builtin/nomad/jobspec/plugin.go
  builtin/nomad/monitor.go
  builtin/nomad/platform.go
  internal/plugin/plugin.go
Labels: core, plugin, plugin/nomad

#1298 Introduce Generations for Mutable Deployments
  .changelog/1298.txt
  .changelog/1299.txt
  builtin/k8s/apply/platform.go
  builtin/k8s/apply/plugin.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/apply/plugin.proto
  builtin/nomad/jobspec/platform.go
  builtin/nomad/jobspec/plugin.go
  builtin/nomad/monitor.go
  builtin/nomad/platform.go
  go.mod
  go.sum
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
  internal/cli/up.go
  internal/core/app_deploy.go
  internal/core/app_deploy_test.go
  internal/core/operation.go
  internal/plugin/plugin.go
  internal/runner/operation_release.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/deployment.go
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
  internal/server/singleprocess/state/ulid.go
Labels: core, plugin, plugin/k8s, plugin/nomad

#1360 Jsonnet Function Family for HCL
  .changelog/1360.txt
  go.mod
  go.sum
  internal/cli/app_docs.go
  internal/config/eval_context.go
  internal/config/funcs/doc.go
  internal/config/funcs/filesystem_test.go
  internal/config/funcs/jsonnet.go
  internal/config/funcs/jsonnet_test.go
  internal/config/funcs/testdata/jsonnet/dir/computed-fields.json.out
  internal/config/funcs/testdata/jsonnet/dir/computed-fields.jsonnet
  internal/config/funcs/testdata/jsonnet/dir/conditionals.json.out
  internal/config/funcs/testdata/jsonnet/dir/conditionals.jsonnet
  internal/config/funcs/testdata/jsonnet/dir/library-ext.libsonnet
  internal/config/funcs/testdata/jsonnet/dir/top-level-ext.json.out
  internal/config/funcs/testdata/jsonnet/dir/top-level-ext.jsonnet
  internal/config/funcs/testdata/jsonnet/garnish.txt
  internal/config/funcs/testdata/jsonnet/hello.jsonnet
  internal/config/funcs/testdata/jsonnet/hello.jsonnet.out
  internal/config/funcs/testdata/jsonnet/imports.jsonnet
  internal/config/funcs/testdata/jsonnet/imports.jsonnet.out
  internal/config/funcs/testdata/jsonnet/library-ext.libsonnet
  internal/config/funcs/testdata/jsonnet/library-tla.libsonnet
  internal/config/funcs/testdata/jsonnet/martinis.libsonnet
  internal/config/funcs/testdata/jsonnet/top-level-ext.jsonnet
  internal/config/funcs/testdata/jsonnet/top-level-ext.jsonnet.out
  internal/config/funcs/testdata/jsonnet/top-level-tla.jsonnet
  internal/config/funcs/testdata/jsonnet/top-level-tla.jsonnet.out
Labels: core

#1318 {serverinstall/builtin}/nomad: Provide config values for memory and CPU
  .changelog/1318.txt
  builtin/nomad/platform.go
  internal/serverinstall/nomad.go
Labels: backport/0.3.x, core, plugin, plugin/nomad

#1364 internal/cli: version shows Waypoint server version
  .changelog/1364.txt
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/init.go
  internal/cli/main.go
  internal/cli/version.go
  internal/client/project.go
  internal/client/server.go
  internal/serverclient/client.go
  internal/version/version.go
Labels: backport/0.3.x, core

#1366 cli/{deploy,release}: Account for inplace deploys for release
  internal/cli/deployment_create.go
  internal/cli/releases_create.go
Labels: bug, core, pr/no-changelog

#1372 cli/upgrade: Check for required upgrade flags and print better message
  .changelog/1372.txt
  internal/cli/server_upgrade.go
Labels: backport/0.3.x, core

#1373 reset count badge on scroll
  .changelog/1373.txt
  ui/app/components/log-stream/index.ts
Labels: ui

#1375 Updated ssh key fingerprint
  .circleci/config.yml
Labels: backport/0.3.x, pr/no-changelog

#1380 Update docker ssh fingerprint reference
  .circleci/config.yml
Labels: backport/0.3.x, pr/no-changelog

#1352 website: add check for unlinked content
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
Labels: backport/website, pr/no-changelog, website

#1370 website: update readme
  website/README.md
Labels: backport/website, pr/no-changelog, website

#1382 Add ability to reference waypoint.hcl variables between eachother
  .changelog/1382.txt
  go.mod
  go.sum
  internal/appconfig/watcher.go
  internal/appconfig/watcher_test.go
  internal/ceb/config.go
  internal/config/app_config.go
  internal/config/app_config_sort.go
  internal/config/app_config_sort_test.go
  internal/config/app_test.go
  internal/config/testdata/compare/config_escape_data.hcl
  internal/config/testdata/compare/config_internal.hcl
  internal/config/testdata/compare/config_internal_dynamic.hcl
  internal/config/testdata/compare/config_internal_escape.hcl
  internal/config/testdata/compare/config_internal_partial.hcl
  internal/config/testdata/compare/config_reference_loop.hcl
  internal/config/testdata/fmt/terraform.hcl
  internal/pkg/partial/partial.go
  internal/pkg/partial/partial_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core
