Repository hashicorp/waypoint, pull requests merged in 2021-11, with the labels that each got.

#2627 Update registry plugin to include info about remote runners
  website/content/docs/waypoint-hcl/registry.mdx
Labels: website, backport/website, pr/no-changelog

#2623 Extract state package test suite
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
  internal/server/singleprocess/state/state_test.go
  internal/server/singleprocess/state/testing.go
  internal/server/singleprocess/state/user.go
  internal/serverstate/job.go
  internal/serverstate/statetest/doc.go
  internal/serverstate/statetest/statetest.go
  internal/serverstate/statetest/test_application.go
  internal/serverstate/statetest/test_config.go
  internal/serverstate/statetest/test_config_source.go
  internal/serverstate/statetest/test_hmac.go
  internal/serverstate/statetest/test_job.go
  internal/serverstate/statetest/test_project.go
  internal/serverstate/statetest/test_runner.go
  internal/serverstate/statetest/test_runner_ondemand.go
  internal/serverstate/statetest/test_server_config.go
  internal/serverstate/statetest/test_snapshot.go
  internal/serverstate/statetest/test_user.go
  internal/serverstate/statetest/test_workspace.go
  internal/serverstate/user.go
Labels: core, pr/no-changelog

#2606 ui: 0.7 CSS changes, details page updates
  .changelog/2606.txt
  ui/app/components/git-commit.hbs
  ui/app/components/panel-header.hbs
  ui/app/components/section.hbs
  ui/app/components/section.ts
  ui/app/components/status-report-meta-table/index.hbs
  ui/app/routes/workspace/projects/project/app/index.ts
  ui/app/styles/_layout.scss
  ui/app/styles/_variables.scss
  ui/app/styles/components/_index.scss
  ui/app/styles/components/badge.scss
  ui/app/styles/components/git-commit.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/navigation/panel-header.scss
  ui/app/styles/components/section.scss
  ui/app/styles/components/structure/pds-tabnav.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/builds.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/app/releases.hbs
  ui/tests/integration/components/panel-header-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2597 serverinstall/nomad: Automatically setup Consul service on install
  .changelog/2597.txt
  internal/cli/install.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, backport/0.6.x

#2634 internal/core: log variable value source
  internal/core/project.go
Labels: core, pr/no-changelog

#2648 Better error message if no subnets are found.
  builtin/aws/ecs/platform.go
Labels: enhancement, plugin, plugin/aws, plugin/ecs, pr/no-changelog, backport/0.6.x

#2619 UI: Use ember simple auth for Authentication
  ui/app/authenticators/token.ts
  ui/app/components/actions/invite.ts
  ui/app/components/header/index.ts
  ui/app/components/login-invite/index.ts
  ui/app/components/login-token/index.ts
  ui/app/components/logout/index.ts
  ui/app/initializers/migrate-session.ts
  ui/app/routes/application.ts
  ui/app/services/api.ts
  ui/app/services/session.ts
  ui/config/environment.js
  ui/package.json
  ui/tests/acceptance/build-detail-test.ts
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/onboarding-test.ts
  ui/tests/acceptance/percy-test.ts
  ui/tests/acceptance/release-detail-test.ts
  ui/tests/acceptance/release-resource-detail-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/helpers/login.ts
  ui/types/ember-simple-auth/authenticators/base.d.ts
  ui/types/ember-simple-auth/services/session.d.ts
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2650 Use the platform name in the installation message
  internal/cli/install.go
Labels: core, pr/no-changelog

#2551 Fix formatting directive in cli output
  internal/cli/project_inspect.go
  internal/runner/runner.go
Labels: core, pr/no-changelog, backport/0.6.x

#2550 Fix broken docs link
  website/content/docs/runner/profiles.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#2635 website: Add docs for waypoint install command
  website/content/docs/server/install.mdx
  website/content/docs/server/run/index.mdx
  website/data/docs-nav-data.json
Labels: website, pr/no-changelog, backport/0.6.x

#2593 Feature: Nomad On-Demand Runner Support
  .changelog/2593.txt
  builtin/nomad/nomad.go
  builtin/nomad/platform.go
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
  builtin/nomad/task.go
  internal/cli/install.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/task-nomad.mdx
Labels: core, website, plugin, plugin/nomad, backport/0.6.x

#2661 Backport/nomad/odr/fix
  .changelog/2593.txt
  builtin/nomad/nomad.go
  builtin/nomad/platform.go
  builtin/nomad/plugin.pb.go
  builtin/nomad/plugin.proto
  builtin/nomad/task.go
  internal/cli/install.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/task-nomad.mdx
Labels: core, website, plugin, plugin/nomad, pr/no-changelog

#2663 cli: use %d to format int
  internal/cli/install.go
Labels: core, pr/no-changelog, backport/0.6.x

#2665 chore: bump `react-subnav`
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog

#2675 ui: address some ember-simple-auth type warnings
  ui/app/components/actions/invite.ts
  ui/app/components/header/index.ts
  ui/app/components/login-invite/index.ts
  ui/app/components/login-token/index.ts
  ui/app/components/logout/index.ts
  ui/app/routes/application.ts
  ui/app/services/api.ts
  ui/types/ember-simple-auth/services/session.d.ts
  ui/types/ember-simple-auth/test-support.d.ts
Labels: ui, pr/no-changelog

#2673 Fix issue where you can't disable Project polling
  .changelog/2673.txt
  internal/cli/project_apply.go
  internal/pkg/flag/flag_bool_ptr.go
  internal/pkg/flag/flag_bool_ptr_test.go
Labels: core, core/cli

#2632 ui: removed unused components and styling
  ui/app/components/app-card/build.hbs
  ui/app/components/app-card/builds.hbs
  ui/app/components/app-card/deployment.hbs
  ui/app/components/app-card/deployments.hbs
  ui/app/components/app-card/release.hbs
  ui/app/components/app-card/releases.hbs
  ui/app/components/status-report-bar/index.hbs
  ui/app/components/status-report-bar/index.ts
  ui/app/styles/_layout.scss
  ui/app/styles/components/app-card-item.scss
  ui/app/styles/components/app-card.scss
  ui/tests/integration/components/status-report-bar-test.ts
Labels: ui, pr/no-changelog

#2672 Backport of cli/server: use filter flags; update UI_ListReleasesRequest
  .changelog/2672.txt
  internal/cli/deployment_list.go
  internal/cli/release_list.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_ui_release.go
Labels: core

#2654 Do not error on existing cluster roles, and clean up rbac on uninstall
  .changelog/2654.txt
  internal/serverinstall/k8s.go
Labels: core, backport/0.6.x

#2678 Add CHANGELOG for release
  CHANGELOG.md
Labels: pr/no-changelog, backport/0.6.x

#2682 website: document workspace/label scoping for app config
  website/content/docs/app-config/scope.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, pr/no-changelog

#2687 website: docs for labels
  website/content/docs/lifecycle/labels.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, pr/no-changelog

#2692 support arm64 for the entrypoint, inject properly
  .changelog/2692.txt
  .gitignore
  Makefile
  builtin/docker/builder.go
  builtin/docker/kaniko.go
  builtin/pack/builder.go
  internal/assets/.gitignore
  internal/assets/ceb.go
Labels: core, plugin, plugin/docker, plugin/pack, backport/0.6.x

#2696 Handle both unauthenticated error messages
  .changelog/2696.txt
  ui/app/routes/application.ts
  ui/tests/acceptance/auth-test.ts
Labels: ui

#2694 ui: add git commit mock data to mirage
  ui/mirage/factories/build.ts
  ui/mirage/factories/deployment.ts
  ui/mirage/models/build.ts
  ui/mirage/models/deployment.ts
  ui/mirage/services/deployment.ts
Labels: ui, pr/no-changelog

#2688 UI/OIDC auth
  .changelog/2688.txt
  internal/auth/oidc/provider.go
  ui/app/authenticators/oidc.ts
  ui/app/authenticators/token.ts
  ui/app/components/oidc-auth-buttons/index.hbs
  ui/app/components/oidc-auth-buttons/index.ts
  ui/app/router.js
  ui/app/routes/auth/index.ts
  ui/app/routes/auth/oidc-callback.ts
  ui/app/styles/pages/auth-page.scss
  ui/app/templates/auth/index.hbs
  ui/app/templates/auth/oidc-callback-loading.hbs
  ui/app/templates/auth/oidc-callback.hbs
  ui/app/templates/auth/token.hbs
  ui/mirage/config.ts
  ui/mirage/factories/auth-method.ts
  ui/mirage/models/auth-method.ts
  ui/mirage/services/oidc-auth-methods.ts
  ui/tests/acceptance/auth-test.ts
  ui/translations/en-us.yaml
  ui/types/ember-simple-auth/authenticators/oauth2-implicit-grant.d.ts
  website/content/docs/server/auth/oidc.mdx
Labels: core, website, ui

#2344 feat(website): versioned docs 📄
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/commands/[[...page]].jsx
  website/pages/docs/[[...page]].jsx
  website/pages/plugins/[[...page]].jsx
Labels: website, backport/website, pr/no-changelog

#2699 Introduce workspace and label scoping into the waypoint.hcl file
  .changelog/2699.txt
  internal/config/app.go
  internal/config/app_test.go
  internal/config/plugin.go
  internal/config/stages.go
  internal/config/testdata/compare/build_registry_scoped.hcl
  internal/config/testdata/compare/build_scoped.hcl
  internal/config/testdata/validate/build_no_use.hcl
  internal/config/testdata/validate/build_scoped.hcl
  internal/config/validate.go
  internal/config/validate_test.go
  internal/core/app_build.go
  internal/core/component_creator.go
  website/content/docs/lifecycle/scope.mdx
  website/data/docs-nav-data.json
Labels: core, website

#2698 serverinstall/nomad: Spend more time looking at waypoint-runner allocation on install to ensure start up
  .changelog/2698.txt
  builtin/pack/builder.go
  internal/serverinstall/nomad.go
Labels: core, plugin, plugin/pack, backport/0.6.x

#2707 feat(404): helper text for notfound docs
  website/pages/404.jsx
Labels: website, backport/website, pr/no-changelog

#2713 docs, serverinstall: updates to docs & naming of runner install
  .changelog/2713.txt
  internal/serverinstall/nomad.go
  website/content/docs/runner/profiles.mdx
Labels: core, website, backport/website

#2702 ui: add all operation info to OperationStatusIndicator
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/operation-status-indicator.hbs
  ui/app/components/operation-status-indicator/build.hbs
  ui/app/components/operation-status-indicator/deployment.hbs
  ui/app/components/operation-status-indicator/release.hbs
  ui/app/styles/components/app-item.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/operation-status-indicator.scss
  ui/app/styles/components/status-report-indicator.scss
  ui/app/templates/workspace/projects/project/app/build.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/tests/integration/components/operation-status-indicator-test.ts
Labels: ui, pr/no-changelog

#2709 UI: fix flaky auth test
  ui/tests/acceptance/auth-test.ts
Labels: ui, pr/no-changelog

#2715 ui/ci: reuse ember-build-test output in ember-test step
  .circleci/config.yml
  ui/package.json
Labels: ui, pr/no-changelog

#2724 Rename `make bin/cli-only` to `make bin/no-ceb`
  Makefile
Labels: pr/no-changelog

#2674 ui: workspace switcher
  .changelog/2674.txt
  ui/app/components/workspace-switcher.hbs
  ui/app/components/workspace-switcher.ts
  ui/app/controllers/workspace/projects/project/app.ts
  ui/app/helpers/array-concat.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/services/api.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/workspace-switcher.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/mirage/config.ts
  ui/mirage/factories/project.ts
  ui/mirage/models/application.ts
  ui/mirage/models/workspace.ts
  ui/mirage/services/workspace.ts
  ui/tests/acceptance/workspaces-test.ts
  ui/tests/integration/components/workspace-switcher-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2726 .../statetest: Test that list returns multiple projects
  internal/serverstate/statetest/test_project.go
Labels: core, pr/no-changelog

#2731 ui: use node 14
  .circleci/config.yml
  ui/README.md
  ui/package.json
Labels: ui, pr/no-changelog, backport/0.6.x

#2725 ui: upgrade to ember-a11y-testing@4.3.0
  ui/package.json
  ui/tests/helpers/a11y.ts
  ui/tests/integration/components/app-item/build-test.ts
  ui/tests/integration/components/operation-status-indicator-test.ts
  ui/tests/integration/components/panel-header-test.ts
  ui/tests/integration/components/status-report-indicator-test.ts
  ui/tests/integration/modifiers/code-mirror-test.ts
  ui/yarn.lock
Labels: ui, pr/no-changelog, ui/a11y

#2734 Typo fix
  website/content/docs/server/install.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#2684 Feature: app destroy for ECS
  .changelog/2684.txt
  builtin/aws/ecs/platform.go
  internal/serverinstall/ecs.go
Labels: core, plugin, plugin/aws, backport/0.6.x

#2743 docs: Remove section about resource and health tracking
  website/content/docs/roadmap.mdx
Labels: website, backport/website, pr/no-changelog

#2742 ui: start lab boilerplate
  ui/app/router.js
  ui/app/templates/lab.hbs
  ui/app/templates/lab/index.hbs
  ui/app/templates/lab/runner-profiles.hbs
Labels: ui, pr/no-changelog

#2741 internal/runner: support jobs with waypoint.hcl specified on API
  internal/cli/k8s_bootstrap.go
  internal/cli/project_apply.go
  internal/cli/runner_profile_set.go
  internal/runner/accept_test.go
  internal/runner/operation.go
  internal/runner/operation_task.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/ondemand_runner.go
  internal/server/ptypes/project.go
  internal/server/ptypes/project_test.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core, pr/no-changelog

#2746 list runners api
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/runner.go
  internal/serverstate/serverstate.go
  internal/serverstate/statetest/test_runner.go
Labels: core, pr/no-changelog

#2747 Websocket endpoint for exec stream
  go.mod
  go.sum
  internal/server/http.go
  internal/server/httpapi/doc.go
  internal/server/httpapi/exec.go
  internal/server/httpapi/exec_test.go
Labels: core, pr/no-changelog

#2752 fix(v0.3.x): platform exec mdx
  Makefile
  builtin/exec/platform.go
  website/content/commands/index.mdx
  website/content/commands/install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: website, plugin

#2751 statetest: Make the timing of the watchset tests more forgiving
  internal/serverstate/statetest/statetest.go
  internal/serverstate/statetest/test_project.go
Labels: core, pr/no-changelog

#2754 CLI end-to-end tests
  test-e2e/cli_smoke.test.go
  test-e2e/docker_smoke_test.go
  test-e2e/e2e_test.go
  test-e2e/k8s_smoke_test.go
  test-e2e/nomad_smoke_test.go
  test-e2e/util.go
Labels: pr/no-changelog

#2761 ui: add `mirage/types`, declare `RouteHandler` properly
  ui/mirage/services/build.ts
  ui/mirage/services/config.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/invite-token.ts
  ui/mirage/services/job.ts
  ui/mirage/services/log.ts
  ui/mirage/services/oidc-auth-methods.ts
  ui/mirage/services/project.ts
  ui/mirage/services/pushed-artifact.ts
  ui/mirage/services/release.ts
  ui/mirage/services/status-report.ts
  ui/mirage/services/token.ts
  ui/mirage/services/version-info.ts
  ui/mirage/types/index.d.ts
  ui/mirage/types/route-handler.d.ts
  ui/types/global.d.ts
Labels: ui, pr/no-changelog, backport/0.6.x

#2763 ui: make `<RenderTerminal>` test more robust
  ui/tests/integration/components/render-terminal-test.ts
Labels: ui, pr/no-changelog, backport/0.6.x

#2765 ui: fix a few small linting issues
  ui/mirage/factories/project.ts
  ui/mirage/services/oidc-auth-methods.ts
  ui/mirage/services/workspace.ts
Labels: ui, pr/no-changelog, backport/0.6.x

#2764 Backport of ui: add `mirage/types`, declare `RouteHandler` properly into release/0.6.x
  ui/mirage/services/build.ts
  ui/mirage/services/config.ts
  ui/mirage/services/deployment.ts
  ui/mirage/services/invite-token.ts
  ui/mirage/services/job.ts
  ui/mirage/services/log.ts
  ui/mirage/services/project.ts
  ui/mirage/services/pushed-artifact.ts
  ui/mirage/services/release.ts
  ui/mirage/services/status-report.ts
  ui/mirage/services/token.ts
  ui/mirage/services/version-info.ts
  ui/mirage/types/index.d.ts
  ui/mirage/types/route-handler.d.ts
  ui/types/global.d.ts
Labels: ui

#2762 ui: make `<JsonViewer>` test more robust
  ui/app/components/json-viewer.hbs
  ui/tests/integration/components/json-viewer-test.ts
Labels: ui, pr/no-changelog, backport/0.6.x

#2749 Auto local/remote detection
  internal/cli/base.go
  internal/cli/base_test.go
  internal/server/gen/server.pb.go
  internal/server/server_test.go
  internal/server/testing.go
Labels: core, pr/no-changelog

#2769 Resolved issue where checkbox had two labels.
  ui/app/styles/pages/_index.scss
  ui/app/styles/pages/projects/new.scss
  ui/app/templates/workspace/projects/new.hbs
Labels: ui, pr/no-changelog, ui/a11y, backport/0.6.x

#2750 run make gen/ts
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/mirage/models/project.ts
Labels: ui, pr/no-changelog

#2776 ui/lab: add runners page
  ui/app/router.js
  ui/app/routes/lab/runners.ts
  ui/app/styles/app.scss
  ui/app/styles/lab.scss
  ui/app/templates/lab.hbs
  ui/app/templates/lab/index.hbs
  ui/app/templates/lab/runners.hbs
Labels: ui, pr/no-changelog

#2771 Replace -remote flag with -local
  .changelog/2771.txt
  internal/cli/base.go
  website/content/commands/artifact-build.mdx
  website/content/commands/artifact-push.mdx
  website/content/commands/build.mdx
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
  website/content/commands/deployment-destroy.mdx
  website/content/commands/destroy.mdx
  website/content/commands/docs.mdx
  website/content/commands/release.mdx
  website/content/commands/status.mdx
  website/content/commands/up.mdx
Labels: core, website

#2732 make install: make sure go/bin directory exists
  Makefile
Labels: waiting-reply, pr/no-changelog

#2781 serverstate: lengthen timeouts to give state implementations more leyway
  internal/serverstate/statetest/test_application.go
Labels: core, pr/no-changelog

#2758 Add UpsertWorkspace GRPC endpoint
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/workspace.go
  internal/server/singleprocess/service_workspace.go
  internal/server/singleprocess/service_workspace_test.go
  internal/server/singleprocess/state/workspace.go
  internal/serverstate/serverstate.go
  internal/serverstate/statetest/test_workspace.go
Labels: core, pr/no-changelog

#2755 Fix for empty deployUrl check in deployment_create
  .changelog/2755.txt
  .github/CHANGELOG_GUIDE.md
  internal/cli/deployment_create.go
Labels: core

#2782 internal/{cli,server}: Introduce trigger token type
  internal/cli/user_token.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  website/content/commands/user-token.mdx
Labels: core, website, pr/no-changelog
