Repository hashicorp/waypoint, pull requests merged in 2021-03, with the labels that each got.

#1157 Use single-hyphen `-platform` in getting-started
  website/content/docs/getting-started.mdx
Labels: backport/website, website

#1162 Update api protos and ts definitions
  internal/server/gen/server.pb.go
  ui/lib/api-common-protos/google/api/annotations_pb.js
  ui/lib/api-common-protos/google/api/auth_pb.js
  ui/lib/api-common-protos/google/api/backend_pb.js
  ui/lib/api-common-protos/google/api/billing_pb.js
  ui/lib/api-common-protos/google/api/client_pb.js
  ui/lib/api-common-protos/google/api/config_change_pb.js
  ui/lib/api-common-protos/google/api/consumer_pb.js
  ui/lib/api-common-protos/google/api/context_pb.js
  ui/lib/api-common-protos/google/api/control_pb.js
  ui/lib/api-common-protos/google/api/distribution_pb.js
  ui/lib/api-common-protos/google/api/documentation_pb.js
  ui/lib/api-common-protos/google/api/endpoint_pb.js
  ui/lib/api-common-protos/google/api/field_behavior_pb.js
  ui/lib/api-common-protos/google/api/http_pb.js
  ui/lib/api-common-protos/google/api/httpbody_pb.js
  ui/lib/api-common-protos/google/api/label_pb.js
  ui/lib/api-common-protos/google/api/launch_stage_pb.js
  ui/lib/api-common-protos/google/api/log_pb.js
  ui/lib/api-common-protos/google/api/logging_pb.js
  ui/lib/api-common-protos/google/api/metric_pb.js
  ui/lib/api-common-protos/google/api/monitored_resource_pb.js
  ui/lib/api-common-protos/google/api/monitoring_pb.js
  ui/lib/api-common-protos/google/api/quota_pb.js
  ui/lib/api-common-protos/google/api/resource_pb.js
  ui/lib/api-common-protos/google/api/service_pb.js
  ui/lib/api-common-protos/google/api/source_info_pb.js
  ui/lib/api-common-protos/google/api/system_parameter_pb.js
  ui/lib/api-common-protos/google/api/usage_pb.js
  ui/lib/api-common-protos/google/longrunning/operations_pb.js
  ui/lib/api-common-protos/google/rpc/code_pb.js
  ui/lib/api-common-protos/google/rpc/error_details_pb.js
  ui/lib/api-common-protos/google/rpc/status_pb.js
  ui/lib/api-common-protos/google/type/calendar_period_pb.js
  ui/lib/api-common-protos/google/type/color_pb.js
  ui/lib/api-common-protos/google/type/date_pb.js
  ui/lib/api-common-protos/google/type/dayofweek_pb.js
  ui/lib/api-common-protos/google/type/expr_pb.js
  ui/lib/api-common-protos/google/type/fraction_pb.js
  ui/lib/api-common-protos/google/type/latlng_pb.js
  ui/lib/api-common-protos/google/type/money_pb.js
  ui/lib/api-common-protos/google/type/month_pb.js
  ui/lib/api-common-protos/google/type/postal_address_pb.js
  ui/lib/api-common-protos/google/type/quaternion_pb.js
  ui/lib/api-common-protos/google/type/timeofday_pb.js
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: core, ui

#1166 internal/server: fix flaky polling test
  internal/server/singleprocess/poll_test.go
Labels: core

#1165 Update readme with dependency instructions for the gen/ts command
  ui/README.md
Labels: ui

#1168 internal/server: backoff on URL service not available
  go.mod
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_url.go
Labels: core

#1167 Kubernetes Runner Management
  internal/serverinstall/k8s.go
  nix/sources.json
  shell.nix
Labels: core

#1171 internal/serverinstall: runner support in nomad
  internal/serverinstall/nomad.go
Labels: core

#1169 API Input Validation Foundations
  go.mod
  internal/cli/project_apply.go
  internal/pkg/validationext/doc.go
  internal/pkg/validationext/error.go
  internal/pkg/validationext/error_test.go
  internal/pkg/validationext/rule_cidrblock.go
  internal/pkg/validationext/rule_cidrblock_test.go
  internal/pkg/validationext/rule_duration.go
  internal/pkg/validationext/rule_duration_test.go
  internal/pkg/validationext/rule_version.go
  internal/pkg/validationext/rule_version_test.go
  internal/pkg/validationext/struct.go
  internal/pkg/validationext/struct_test.go
  internal/server/ptypes/job.go
  internal/server/ptypes/project.go
  internal/server/ptypes/project_test.go
  internal/server/ptypes/ref.go
  internal/server/ptypes/workspace.go
  internal/server/ptypes/workspace_test.go
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_workspace.go
  shell.nix
Labels: core

#1161 Runner upgrade/uninstall machinery, default runner install to true
  internal/cli/install.go
  internal/cli/runner_agent.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  internal/runner/accept.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  nix/sources.json
  shell.nix
Labels: core

#1172 internal/datasource: Git polling respects Ref configuration
  internal/datasource/git.go
  internal/datasource/git_test.go
Labels: core

#1154 builtin/k8s/release: Allow target_port to be int or string
  builtin/k8s/releaser.go
Labels: backport/0.2.x, plugin, plugin/k8s

#1178 Fix a couple minor bugs in SSH auth with Git
  internal/datasource/git.go
Labels: core

#722 Update -from-project to handle local projects
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/init.go
Labels: backport/0.2.x, core

#1180 Backport of Update -from-project to handle local projects #722
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/init.go
Labels: core

#1181 Docs: dockerless builds, runners, polling, server stored waypoint.hcl, more
  builtin/docker/builder.go
  website/content/commands/fmt.mdx
  website/content/commands/init.mdx
  website/content/commands/install.mdx
  website/content/commands/project-apply.mdx
  website/content/commands/project-list.mdx
  website/content/commands/runner-agent.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/app-config/index.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/projects/git.mdx
  website/content/docs/projects/index.mdx
  website/content/docs/projects/remote.mdx
  website/content/docs/runner/index.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/waypoint-hcl/index.mdx
  website/content/docs/waypoint-hcl/runner.mdx
  website/content/partials/commands/fmt_desc.mdx
  website/content/partials/commands/fmt_more.mdx
  website/content/partials/commands/project-apply_desc.mdx
  website/content/partials/commands/project-apply_more.mdx
  website/content/partials/commands/project-list_desc.mdx
  website/content/partials/commands/project-list_more.mdx
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/registry-aws-ecr.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
  website/data/commands-navigation.js
  website/data/docs-navigation.js
Labels: plugin, plugin/docker, website

#1184 builtin/k8s: Include name field for service port release
  builtin/k8s/releaser.go
Labels: backport/0.2.x, plugin, plugin/k8s

#1188 Validate in CLI and serverside that exec gets at least one arg
  internal/cli/exec.go
  internal/server/ptypes/exec.go
  internal/server/ptypes/exec_test.go
  internal/server/ptypes/job.go
  internal/server/singleprocess/service_exec.go
Labels: core

#1189 Revert "Fixes https://github.com/hashicorp/waypoint/issues/687"
  builtin/docker/platform.go
Labels: backport/0.2.x, plugin, plugin/docker, regression

#1187 chore: adds should build script for website
  website/scripts/should-build.sh
Labels: backport/website, website

#960 Add reminder about ui authentication command after install
  internal/cli/install.go
Labels: backport/0.2.x, core

#1196 internal/ceb: fix dropped errors
  internal/ceb/app_config_test.go
  internal/ceb/virtualceb/ceb.go
Labels: core

#1183 Allow poll settings to be configured in `runner` stanza
  internal/cli/init.go
  internal/config/config.go
  internal/datasource/git.go
  website/content/docs/waypoint-hcl/runner.mdx
Labels: core, website

#1194 cmd/waypoint-entrypoint: dump heap profile on SIGUSR1
  cmd/waypoint-entrypoint/debug.go
  cmd/waypoint-entrypoint/main.go
Labels: backport/0.2.x

#1200 update horizon
  go.mod
  go.sum
Labels: backport/0.2.x

#1191 builtin/tfc: Add Terraform Cloud dynamic config sourcer
  builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer_test.go
  builtin/tfc/testdata/state-version.json
  builtin/tfc/tfc.go
  internal/plugin/plugin.go
Labels: core, plugin

#1186 website(style): Update gray brand colors
  website/components/animated-steps-list/steps-indicator/StepsIndicator.module.css
  website/components/branded-cta/branded-cta.module.css
  website/components/features/Features.module.css
  website/components/footer/style.module.css
  website/components/homepage-section/HomepageSection.module.css
  website/package-lock.json
  website/package.json
Labels: website

#1207 Fix typo in from-project flag doc string
  internal/cli/init.go
Labels: backport/0.2.x, core

#1212 Bkprt/stable website/0.2.4
  internal/cli/init.go
  website/content/commands/init.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/data/version.js
Labels: core, website

#1206 UI: flash messages
  ui/app/components/notifications/index.hbs
  ui/app/components/notifications/index.ts
  ui/app/components/notifications/notification/index.hbs
  ui/app/components/notifications/notification/index.ts
  ui/app/services/flash-messages.ts
  ui/app/styles/_notifications.scss
  ui/app/styles/app.scss
  ui/app/templates/application.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/ember-cli-build.js
  ui/package.json
  ui/tests/helpers/flash-message.js
  ui/tests/test-helper.js
  ui/tsconfig.json
  ui/yarn.lock
Labels: ui

#1179 Introduce go-changelog to Waypoint
  .changelog/README.md
  .changelog/changelog.tmpl
  .changelog/note.tmpl
  .github/workflows/changelog-checker.yml
  Makefile
Labels: pr/no-changelog

#1215 Backport of Introduce go-changelog to Waypoint #1179
  .changelog/README.md
  .changelog/changelog.tmpl
  .changelog/note.tmpl
  .github/workflows/changelog-checker.yml
  Makefile
Labels: pr/no-changelog

#1198 Expose `HasRegistry` bool to builder plugins, Docker doesn't pull if it doesn't have to
  .changelog/1198.txt
  builtin/docker/plugin.proto
  builtin/docker/pull/builder.go
  go.mod
  go.sum
  internal/core/app_build.go
  internal/core/app_build_test.go
Labels: core, plugin, plugin/docker

#1214 website: stub in <NestedNode> authoring component
  website/components/nested-node/index.jsx
  website/components/nested-node/style.module.css
  website/pages/docs/[[...page]].jsx
Labels: website

#1193 internal/server/singleprocess/state: Add ability to prune jobs and deployments
  .changelog/1193.txt
  internal/server/singleprocess/prune.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/deployment.go
  internal/server/singleprocess/state/deployment_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
  internal/server/singleprocess/state/prune.go
  internal/server/singleprocess/state/prune_test.go
  internal/server/singleprocess/state/state.go
Labels: core

#1218 Improve CHANGELOG Readme
  .changelog/README.md
Labels: backport/0.2.x, pr/no-changelog

#1213 Add ability to have nested fields in docs
  .changelog/1213.txt
  builtin/aws/ecs/platform.go
  builtin/docker/pull/builder.go
  internal/cli/app_docs.go
  website/content/partials/components/builder-aws-ami.mdx
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-pack.mdx
  website/content/partials/components/builder-terraform-cloud.mdx
  website/content/partials/components/configsourcer-aws-ssm.mdx
  website/content/partials/components/configsourcer-terraform-cloud.mdx
  website/content/partials/components/configsourcer-vault.mdx
  website/content/partials/components/platform-aws-ec2.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-azure-container-instance.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/platform-terraform-cloud.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/registry-terraform-cloud.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/content/partials/components/releasemanager-terraform-cloud.mdx
  website/content/partials/funcs.mdx
Labels: core, plugin, plugin/aws, plugin/docker, website

#1225 builtin/aws/alb: clamp alb name per aws limits
  .changelog/1225.txt
  builtin/aws/alb/releaser.go
  builtin/aws/ecs/platform.go
  builtin/aws/lambda/ecs.go
  builtin/aws/lambda/platform.go
Labels: backport/0.2.x, plugin, plugin/aws

#1230 Specify number of deployments to retain when pruning during release
  .changelog/1230.txt
  internal/cli/releases_create.go
  internal/cli/up.go
  internal/runner/operation_release.go
  internal/runner/operation_up.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  website/content/docs/lifecycle/release.mdx
Labels: core, website

#1232 cli/destroy: Require confirmation to destroy all resources for app
  .changelog/1232.txt
  internal/cli/destroy.go
Labels: core

#1236 Changelog generation changes
  .changelog/note.tmpl
  .github/CHANGELOG_GUIDE.md
  Makefile
Labels: pr/no-changelog

#1229 internal/core: fix dropped test error
  internal/core/app_exec_test.go
Labels: core, pr/no-changelog

#1182 remove excessive border decoration on links
  ui/app/styles/app.scss
Labels: ui

#1057 UI: git settings
  .changelog/1057.txt
  ui/.template-lintrc.js
  ui/app/components/app-form/project-settings.hbs
  ui/app/components/app-form/project-settings.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/project/settings.ts
  ui/app/styles/_pds-form.scss
  ui/app/styles/_x-toggle.scss
  ui/app/styles/app.scss
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/config/environment.js
  ui/package.json
  ui/tests/unit/routes/workspace/projects/project/settings-test.ts
  ui/translations/en-us.yaml
  ui/yarn.lock
Labels: ui

#1249 waypoint/internal/server/singleprocess: fix dropped test error
  internal/server/singleprocess/service_logs_test.go
Labels: core, pr/no-changelog

#1246 Add option for initial probe delay, timeout, and failure threshholds
  .changelog/1246.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s
