Repository hashicorp/waypoint, pull requests merged in 2021-01, with the labels that each got.

#945 Update UI readme
  ui/README.md
Labels: ui

#947 update install command to use dev tag
  ui/README.md
Labels: ui

#950 Don't block server startup on URL service
  internal/pkg/grpcready/grpcready.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_hostname.go
  internal/server/singleprocess/service_url.go
  internal/server/singleprocess/service_url_test.go
Labels: backport/0.2.x, core

#953 internal/ceb: quiet ceb log disconnection messages
  internal/ceb/log.go
Labels: backport/0.2.x, core

#955 builtin: don't use datadir for azure and cloudrun
  builtin/azure/aci/platform.go
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/platform_test.go
Labels: backport/0.2.x, plugin, plugin/azure, plugin/google

#951 internal/cli: flags to set a custom TLS cert for `server run`
  internal/cli/server_run.go
  website/content/docs/server/run/index.mdx
  website/content/docs/server/run/production.mdx
Labels: backport/0.2.x, core, website

#957 add accept-tos flag to server run docs
  website/content/docs/server/run/index.mdx
Labels: backport/website, website

#963 Fix a grammar typo in docs/intro
  website/content/docs/intro/vs/paas.mdx
Labels: backport/website, website

#962 Git datasource auth support (basic and SSH)
  go.mod
  go.sum
  internal/datasource/git.go
  internal/datasource/git_test.go
  internal/datasource/testdata/git-refs/DOTgit/COMMIT_EDITMSG
  internal/datasource/testdata/git-refs/DOTgit/HEAD
  internal/datasource/testdata/git-refs/DOTgit/config
  internal/datasource/testdata/git-refs/DOTgit/description
  internal/datasource/testdata/git-refs/DOTgit/hooks/applypatch-msg.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/commit-msg.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/fsmonitor-watchman.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/post-update.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/pre-applypatch.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/pre-commit.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/pre-merge-commit.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/pre-push.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/pre-rebase.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/pre-receive.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/prepare-commit-msg.sample
  internal/datasource/testdata/git-refs/DOTgit/hooks/update.sample
  internal/datasource/testdata/git-refs/DOTgit/index
  internal/datasource/testdata/git-refs/DOTgit/info/exclude
  internal/datasource/testdata/git-refs/DOTgit/logs/HEAD
  internal/datasource/testdata/git-refs/DOTgit/logs/refs/heads/branch
  internal/datasource/testdata/git-refs/DOTgit/logs/refs/heads/master
  internal/datasource/testdata/git-refs/DOTgit/objects/18/2027df9c3c65cf974c160987ebd15962a96b06
  internal/datasource/testdata/git-refs/DOTgit/objects/29/758b9c967019a414ace75a45801a03a55e39b4
  internal/datasource/testdata/git-refs/DOTgit/objects/42/e94293c5ab5c800ae0bb60708e23f146d70c7d
  internal/datasource/testdata/git-refs/DOTgit/objects/4a/ed7379b057021cc200ee8c150879020acd743d
  internal/datasource/testdata/git-refs/DOTgit/objects/7d/b72f5c8eb6c409f47d96faacfdb8aadbf9f87e
  internal/datasource/testdata/git-refs/DOTgit/objects/84/ef3038ec2f2b024cd51f761f11d7dc499e443f
  internal/datasource/testdata/git-refs/DOTgit/objects/a8/984eddc90167fe12f93de968e32572b6afbb8d
  internal/datasource/testdata/git-refs/DOTgit/objects/bf/bdd5f16faec01461577200aaee11edf520f008
  internal/datasource/testdata/git-refs/DOTgit/objects/cb/02c8bd5cd7014843b3cda411c8460661773ae7
  internal/datasource/testdata/git-refs/DOTgit/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
  internal/datasource/testdata/git-refs/DOTgit/objects/f6/2bfd42648501e188eeae8f0ebc381eeae9c54b
  internal/datasource/testdata/git-refs/DOTgit/refs/heads/branch
  internal/datasource/testdata/git-refs/DOTgit/refs/heads/master
  internal/datasource/testdata/git-refs/two
  internal/datasource/testdata/git-refs/waypoint.hcl
  internal/runner/operation.go
  internal/server/gen/mocks/is_job__git__auth.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
Labels: core

#975 Add instance types and instance targeting
  internal/cli/exec.go
  internal/server/execclient/client.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_entrypoint_test.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/service_exec_test.go
  internal/server/singleprocess/state/instance.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
Labels: core

#971 Website StackMenu updates for 1/14
  website/package-lock.json
  website/package.json
Labels: backport/website, website

#974 Daemonless, unprivileged Docker registry implementation
  Dockerfile
  builtin/docker/builder.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/registry.go
  builtin/docker/registry_docker.go
  builtin/docker/registry_img.go
  internal/runner/ui.go
Labels: core, plugin, plugin/docker

#970 Support daemonless, unprivileged Docker builds with `img`
  Dockerfile
  builtin/docker/builder.go
  builtin/docker/client/fallback.go
  builtin/docker/img.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/registry.go
  builtin/docker/registry_docker.go
  builtin/docker/registry_img.go
  go.mod
  internal/pkg/epinject/epinject.go
  internal/pkg/epinject/img.go
  internal/runner/ui.go
  internal/serverinstall/docker.go
Labels: core, plugin, plugin/docker

#980 use random serial number per cert
  internal/cli/server_run.go
Labels: backport/0.2.x, core

#979 builtin/docker-pull: support daemonless image pulls
  Dockerfile
  builtin/docker/auth.go
  builtin/docker/builder.go
  builtin/docker/img.go
  builtin/docker/pull/builder.go
  builtin/docker/registry_img.go
Labels: plugin, plugin/docker

#972 feature: Uninstall server for all platforms
  Makefile
  internal/cli/deployment_destroy.go
  internal/cli/main.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-config-set.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-restore.mdx
  website/content/commands/server-snapshot.mdx
  website/content/commands/server-uninstall.mdx
  website/content/docs/troubleshooting.mdx
  website/content/partials/commands/server-uninstall_desc.mdx
  website/content/partials/commands/server-uninstall_more.mdx
Labels: backport/0.2.x, core, website

#984 Backport feature: uninstall onto release/0.2.x
  Makefile
  internal/cli/deployment_destroy.go
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-config-set.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-restore.mdx
  website/content/commands/server-snapshot.mdx
  website/content/commands/server-uninstall.mdx
  website/content/docs/troubleshooting.mdx
  website/content/partials/commands/server-uninstall_desc.mdx
  website/content/partials/commands/server-uninstall_more.mdx
Labels: core, website

#989 internal/client: use given context so it can be cancelled
  internal/client/project.go
Labels: backport/0.2.x, core

#990 internal/cli: make -platform required and do platform check earlier
  internal/cli/uninstall.go
Labels: backport/0.2.x, core

#982 feature: Add CEB Virtual instance type
  internal/ceb/app_config.go
  internal/ceb/ceb.go
  internal/ceb/exec.go
  internal/ceb/plugin.go
  internal/ceb/virtual.go
  internal/ceb/virtual_test.go
  internal/server/execclient/client.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/state/instance_exec.go
Labels: core

#994 internal/cli: colorize flags in help text and nested subcommands
  internal/cli/help.go
Labels: backport/0.2.x, core

#997 Include libseccomp-static and pkgconfig for building wp/server with img
  Dockerfile
Labels: bug

#996 `waypoint project` CLI
  internal/cli/main.go
  internal/cli/project_apply.go
  internal/cli/project_list.go
Labels: core

#1000 serverconfig: store platform in server config
  internal/cli/context_list.go
  internal/cli/install.go
  internal/server/gen/mocks/is_exec_stream_request__start__target.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/serverconfig/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: backport/0.2.x, core

#1002 Backport/platform config to release/0.2.x
  CHANGELOG.md
  internal/cli/context_list.go
  internal/cli/install.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/serverconfig/config.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

#1004 cli: more specific error msgs on install
  internal/cli/install.go
Labels: backport/0.2.x, core

#1009 serverinstall/docker: Start waypoint server container if stopped
  internal/serverinstall/docker.go
Labels: backport/0.2.x, core

#1010 builtin/aws/ami: require []string for aws-ami filters
  builtin/aws/ami/builder.go
  website/content/partials/components/builder-aws-ami.mdx
Labels: backport/0.2.x, plugin, plugin/aws, website

#1015 Website: update dependencies
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/community/index.jsx
  website/pages/style.css
Labels: website

#976 feature: Waypoint Server Upgrade command for supported server platforms
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/exec.mdx
  website/content/commands/server-run.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/upgrading/index.mdx
  website/content/partials/commands/server-upgrade_desc.mdx
  website/content/partials/commands/server-upgrade_more.mdx
Labels: backport/0.2.x, core, website

#1019 Backport of feature: Waypoint Server Upgrade command for supported server platforms into release/0.2.x
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/exec.mdx
  website/content/commands/server-run.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/upgrading/index.mdx
  website/content/partials/commands/server-upgrade_desc.mdx
  website/content/partials/commands/server-upgrade_more.mdx
Labels: core, website

#1023 internal/{uninstall,upgrade}: Better error message for when server does not implement snapshots
  internal/cli/base.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  internal/clisnapshot/snapshot.go
Labels: backport/0.2.x, core

#1007 Track exact reference to data downloaded for runners
  internal/datasource/datasource.go
  internal/datasource/git.go
  internal/datasource/git_test.go
  internal/datasource/local.go
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/data.go
  internal/server/gen/mocks/is_job__data_source__ref__ref.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core

#1022 ui: bump to latest version of clients
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui

#1020 internal/{ceb,core,server/singleprocess}: Fix exec stream closure
  go.mod
  go.sum
  internal/ceb/virtual.go
  internal/core/app_exec_test.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/service_exec_test.go
Labels: core

#1025 Server-side default waypoint.hcl
  internal/cli/project_apply.go
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/operation.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/project.go
Labels: core

#1027 internal/server/state: project put should not modify applications
  internal/server/singleprocess/state/project.go
  internal/server/singleprocess/state/project_test.go
Labels: backport/0.2.x, core

#1028 serverinstall/k8s: Allow using k8s context
  internal/serverinstall/k8s.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: backport/0.2.x, core, website

#1005 feature: Finish exec plugin support by wiring up support in plugins and runners
  go.mod
  go.sum
  internal/ceb/virtual.go
  internal/cli/exec.go
  internal/client/app.go
  internal/client/job.go
  internal/client/operation.go
  internal/core/app_exec.go
  internal/core/app_exec_test.go
  internal/runner/operation.go
  internal/runner/operation_exec.go
  internal/server/execclient/client.go
  internal/server/gen/mocks/is_find_exec_instance_request__scope.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_exec.go
  internal/server/singleprocess/service_exec_test.go
  internal/server/singleprocess/service_instance.go
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
Labels: core

#1017 internal/install: Attempt to use default context for auth token
  internal/cli/install.go
  internal/serverinstall/docker.go
Labels: backport/0.2.x, core

#1032 Backport of internal/install: Attempt to use default context for auth token into release/0.2.x
  internal/cli/install.go
  internal/serverinstall/docker.go
Labels: core

#1033 Don't require app to exist on QueueJob
  internal/core/project.go
  internal/core/project_test.go
  internal/server/singleprocess/service_job.go
Labels: core

#1035 Server-side waypoint.hcl needs to store the format
  internal/cli/project_apply.go
  internal/config/testing.go
  internal/runner/accept_test.go
  internal/runner/operation.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core

#1026 feature: End to end integration tests for Waypoint
  .circleci/config.yml
  test-e2e/.gitignore
  test-e2e/README.md
  test-e2e/docker_smoke_test.go
  test-e2e/run-test.sh
  test-e2e/util.go
Labels: test-e2e

#1036 internal/server/state: CalculateInstanceExec picks least loaded
  internal/server/singleprocess/state/instance_exec.go
  internal/server/singleprocess/state/instance_exec_test.go
Labels: core

#1021 UI: show destroyed resources
  ui/app/components/app-item/deployment.hbs
  ui/app/controllers/workspace/projects/project/app/deployments.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/app/styles/_app-item.scss
  ui/app/styles/_page.scss
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/tests/unit/controllers/workspace/projects/project/app/deployments-test.ts
Labels: ui

#1040 internal/server: send entrypoint URL config only when we get a token
  internal/ceb/config.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_entrypoint_test.go
  internal/server/singleprocess/service_url.go
  internal/server/singleprocess/testing.go
Labels: backport/0.2.x, core

#1041 builtin/k8s: Allow for defined resource limits for pods
  builtin/k8s/platform.go
Labels: backport/0.2.x, plugin, plugin/k8s
