Repository hashicorp/waypoint, pull requests merged in 2021-09, with the labels that each got.

#2076 ui: Fixed linting errors and updated API definitions
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/operation-logs/index.ts
  ui/app/components/project-input-variables/list-item.ts
  ui/app/components/project-input-variables/list.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2098 Convert ECS platform plugin to use resource manager
  .changelog/2098.txt
  builtin/aws/ecs/main.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/ecs/plugin.proto
  builtin/docker/plugin.pb.go
  builtin/pack/plugin.pb.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: plugin/ecs, backport/0.5.x

#2189 ui: de-lint `notification/index.ts`
  ui/app/components/notifications/notification/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2186 Project, app, workspace, and label scoping for Runner Config
  internal/cli/runner_agent.go
  internal/runner/runner.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
  internal/server/singleprocess/testing.go
Labels: core, pr/no-changelog

#2201 Runners support config files and dynamic config
  .changelog/2201.txt
  internal/appconfig/option.go
  internal/appconfig/watcher.go
  internal/appconfig/watcher_test.go
  internal/ceb/config.go
  internal/runner/config.go
  internal/runner/runner.go
  internal/runner/runner_test.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/state/config.go
  internal/server/singleprocess/state/config_test.go
Labels: core

#2190 ui: add type declarations for router.refresh
  ui/types/global.d.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2168 ui: Update HCL field to codemirror
  .changelog/2168.txt
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/code-editor-field.hbs
  ui/app/modifiers/code-mirror.ts
  ui/app/modifiers/utils/register-waypoint-hcl-mode.ts
  ui/app/styles/app.scss
  ui/app/styles/components/code-editor-field.scss
  ui/package.json
  ui/tests/integration/modifiers/code-mirror-test.ts
  ui/yarn.lock
Labels: ui

#2193 fix(website): `start` script reloads app on save
  website/package.json
Labels: backport/website, pr/no-changelog

#2207 ui: fix `flashMessages.error` regression
  ui/app/services/flash-messages.ts
Labels: bug, ui, pr/no-changelog, backport/0.5.x

#2200 docs: add details about remote runners on server upgrade
  website/content/docs/upgrading/index.mdx
Labels: website, backport/website, pr/no-changelog

#2199 Upgrading plugin SDK version to latest for the 0.5.x branch.
  go.mod
  go.sum
  internal/plugin/factory.go
Labels: core, pr/no-changelog

#2204 server/singleprocess: poll exit logic
  .changelog/2204.txt
  internal/server/singleprocess/poll_application.go
Labels: bug, core, backport/0.5.x

#2218 ui: fix types for router service
  ui/types/ember/router-service.d.ts
  ui/types/global.d.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2223 ui: de-lint `<LogStream>`
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#1915 UI: Project-level Config Variables
  .changelog/1915.txt
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/components/project-config-variables/list-item.hbs
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.hbs
  ui/app/components/project-config-variables/list.ts
  ui/app/components/project-input-variables/list-item.hbs
  ui/app/components/project-input-variables/list-item.ts
  ui/app/components/project-input-variables/list.hbs
  ui/app/router.js
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
  ui/app/routes/workspace/projects/project/settings/input-variables.ts
  ui/app/routes/workspace/projects/project/settings/variables.ts
  ui/app/styles/app.scss
  ui/app/styles/components/_project-input-variables.scss
  ui/app/styles/components/variables-list.scss
  ui/app/styles/components/x-toggle.scss
  ui/app/templates/workspace/projects/project/settings.hbs
  ui/app/templates/workspace/projects/project/settings/config-variables.hbs
  ui/app/templates/workspace/projects/project/settings/input-variables.hbs
  ui/mirage/config.ts
  ui/mirage/factories/config-variable.ts
  ui/mirage/models/config-variable.ts
  ui/mirage/services/config.ts
  ui/tests/helpers/a11y.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
  ui/tests/integration/components/project-input-variables-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2229 ui: de-lint `login-invite/index.ts`
  ui/app/components/login-invite/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2205 Allow separate configuration of ELB subnets
  .changelog/2205.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/ecs/plugin.proto
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website, plugin, plugin/aws, backport/0.5.x

#2124 docs: Remove old upgrade info
  website/content/docs/upgrading/index.mdx
Labels: website, backport/website, pr/no-changelog

#2233 update CONTRIBUTING with how to recognize in-progress issues
  .github/CONTRIBUTING.md
Labels: pr/no-changelog

#2236 add context verify line
  website/content/docs/upgrading/index.mdx
Labels: website, backport/website, pr/no-changelog

#2241 internal/server: peeking a job must close the memdb txn
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core, pr/no-changelog

#2145 Automatically init projects with data sources
  .changelog/2145.txt
  internal/runner/operation.go
  internal/runner/operation_init.go
  internal/runner/operation_init_test.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_ui_project.go
  internal/server/singleprocess/service_ui_project_test.go
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/project-init-error.hbs
  ui/app/components/project-init-running.hbs
  ui/app/components/spinner.hbs
  ui/app/routes/workspace/projects/project.ts
  ui/app/styles/_variables.scss
  ui/app/styles/app.scss
  ui/app/styles/components/project-init-error.scss
  ui/app/styles/components/spinner.scss
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/mirage/config.ts
  ui/mirage/services/project.ts
  ui/translations/en-us.yaml
Labels: core, ui, core/runner, core/server

#2247 ui: de-lint `operation-logs/index.ts`
  ui/app/components/operation-logs/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2246 ui: de-lint another handful of components
  ui/app/components/login-token/index.ts
  ui/app/components/logout/index.ts
  ui/app/components/notifications/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2250 Fix overwriting default project model
  .changelog/2250.txt
  ui/app/components/app-form/project-repository-settings.ts
  ui/tests/integration/components/app-form/project-repository-settings-test.ts
Labels: ui, backport/0.5.x

#2237 Scoped config in waypoint.hcl
  .changelog/2237.txt
  internal/config/app_config.go
  internal/config/app_config_sort.go
  internal/config/app_config_sort_test.go
  internal/config/app_config_test.go
  internal/config/app_test.go
  internal/config/testdata/configvars/app_labels.hcl
  internal/config/testdata/configvars/empty.hcl
  internal/config/testdata/configvars/env_single.hcl
  internal/config/testdata/configvars/file_single.hcl
  internal/config/testdata/configvars/internal.hcl
  internal/config/testdata/configvars/runner.hcl
  internal/config/testdata/configvars/workspace.hcl
Labels: core

#2242 website: update command cli index
  internal/cli/main.go
  website/content/commands/index.mdx
Labels: core, website, backport/website, pr/no-changelog

#2251 Vscode Customization - Status Bar Background
  .gitignore
  .vscode/settings.json
  website/.vscode/settings.json
Labels: pr/no-changelog

#2253 Add API to job stream to detect configuration metadata
  internal/runner/accept.go
  internal/runner/operation.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/state/job.go
Labels: core, pr/no-changelog

#2264 ui: upgrade typescript to 4.4.2
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2254 restructure scss to use index files for imports
  ui/app/styles/app.scss
  ui/app/styles/components/_index.scss
  ui/app/styles/pages/_index.scss
  ui/app/styles/utilities/_index.scss
Labels: ui, pr/no-changelog

#2217 internal/config: file vars not parsing complex HCL types
  .changelog/2217.txt
  internal/config/variables/testdata/complex.wpvars
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
Labels: core, backport/0.5.x

#2269 internal/server: Add API validation for GetDeployment endpoint
  .changelog/2269.txt
  internal/server/ptypes/deployment.go
  internal/server/ptypes/ref.go
  internal/server/singleprocess/service_deploy.go
Labels: core, backport/0.5.x

#2262 Set and get new config scopes from the CLI
  internal/cli/config_get.go
  internal/cli/config_set.go
  website/content/commands/config-get.mdx
  website/content/commands/config-set.mdx
Labels: core, website, pr/no-changelog

#2267 truncate display of long variable values
  ui/app/styles/components/variables-list.scss
Labels: ui, pr/no-changelog

#2277 internal/pkg/epinject: support SSH DOCKER_HOST
  .changelog/2277.txt
  internal/pkg/epinject/epinject.go
Labels: core, backport/0.5.x

#2273 internal/server: Add many validations to authenticated endpoints
  .changelog/2273.txt
  internal/server/ptypes/application.go
  internal/server/ptypes/artifact.go
  internal/server/ptypes/auth_method.go
  internal/server/ptypes/build.go
  internal/server/ptypes/config.go
  internal/server/ptypes/deployment.go
  internal/server/ptypes/hostname.go
  internal/server/ptypes/job.go
  internal/server/ptypes/ondemand_runner.go
  internal/server/ptypes/project.go
  internal/server/ptypes/release.go
  internal/server/ptypes/server_config.go
  internal/server/ptypes/status_report.go
  internal/server/singleprocess/service_artifact.go
  internal/server/singleprocess/service_auth_method.go
  internal/server/singleprocess/service_build.go
  internal/server/singleprocess/service_config.go
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_hostname.go
  internal/server/singleprocess/service_ondemand_runner.go
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_release.go
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/service_ui_project.go
Labels: core

#2289 Backport of internal/server: Add many validations to authenticated endpoints into release/0.5.x
  .changelog/2273.txt
  internal/server/ptypes/application.go
  internal/server/ptypes/artifact.go
  internal/server/ptypes/auth_method.go
  internal/server/ptypes/build.go
  internal/server/ptypes/config.go
  internal/server/ptypes/deployment.go
  internal/server/ptypes/hostname.go
  internal/server/ptypes/job.go
  internal/server/ptypes/project.go
  internal/server/ptypes/release.go
  internal/server/ptypes/server_config.go
  internal/server/ptypes/status_report.go
  internal/server/singleprocess/service_artifact.go
  internal/server/singleprocess/service_auth_method.go
  internal/server/singleprocess/service_build.go
  internal/server/singleprocess/service_config.go
  internal/server/singleprocess/service_deploy.go
  internal/server/singleprocess/service_hostname.go
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_release.go
  internal/server/singleprocess/service_status_report.go
Labels: core, pr/no-changelog

#2220 Feature/ecs task
  builtin/aws/ecr/registry.go
  builtin/aws/ecs/main.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/ecs/plugin.proto
  builtin/aws/ecs/task.go
  builtin/aws/utils/ecs.go
  builtin/pack/builder.go
  internal/server/singleprocess/service_job.go
  internal/serverinstall/ecs.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, plugin, plugin/pack, plugin/aws, pr/no-changelog

#2290 ui: fix for hcl field not showing up when initial value is undefined
  ui/app/modifiers/code-mirror.ts
Labels: ui, pr/no-changelog

#2291 ui: add memory usage ouput to `ember-build-tests` CI job
  .circleci/config.yml
Labels: pr/no-changelog, backport/0.5.x

#2224 ui: de-lint a handful of components
  ui/app/components/context-create/index.ts
  ui/app/components/copyable-code/index.ts
  ui/app/components/header/index.ts
  ui/app/components/latest-release-url/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2293 ui: added test for undefined onInput/value for code-mirror modifier
  ui/tests/integration/modifiers/code-mirror-test.ts
Labels: ui, pr/no-changelog

#2297 Bump the `ember-build-tests` resource class
  .circleci/config.yml
Labels: pr/no-changelog

#2301 Update .gitattributes
  .gitattributes
Labels: pr/no-changelog

#2280 ui: Updating empty state messages for projects page
  ui/app/templates/workspace/projects/index.hbs
Labels: ui, pr/no-changelog, backport/0.5.x

#2303 internal/server/state: peek should return blocked jobs
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
Labels: core, pr/no-changelog

#2306 ui: upgrade typescript-eslint to 4.31.1
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2298 Backport of ui: de-lint a handful of components into release/0.5.x
  ui/app/components/context-create/index.ts
  ui/app/components/copyable-code/index.ts
  ui/app/components/header/index.ts
  ui/app/components/latest-release-url/index.ts
Labels: ui

#2287 skip babel for lib files
  ui/ember-cli-build.js
Labels: ui, pr/no-changelog

#2307 Backport of ui: upgrade typescript-eslint to 4.31.1 into release/0.5.x
  ui/package.json
  ui/yarn.lock
Labels: ui

#2261 builtin/k8s: Introduce Ingress resource support for Kubernetes Releaser
  .changelog/2261.txt
  builtin/k8s/plugin.pb.go
  builtin/k8s/plugin.proto
  builtin/k8s/releaser.go
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: website, plugin, plugin/k8s, backport/0.5.x

#2312 ui: tell vscode to use workspace version of typescript
  .vscode/settings.json
Labels: pr/no-changelog, backport/0.5.x

#2305 ui: updated flash message service file name to avoid collisions
  ui/app/components/app-form/project-repository-settings.ts
  ui/app/components/notifications/index.ts
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
  ui/app/components/project-input-variables/list-item.ts
  ui/app/components/project-input-variables/list.ts
  ui/app/components/status-report-bar/index.ts
  ui/app/controllers/workspace/projects/new.ts
  ui/app/services/pds-flash-messages.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2316 internal/cli: plugin-config instead of project-config
  internal/cli/ondemand_runner_apply.go
  website/content/commands/runner-on-demand-set.mdx
Labels: core, website, pr/no-changelog

#2296 builtin/k8s - Use sequence # in k8s deploy name instead of ID
  .changelog/2296.txt
  .gitignore
  builtin/k8s/platform.go
  go.mod
  go.sum
  internal/core/app_deploy.go
Labels: core, plugin, plugin/k8s

#2319 k8s: Improve CPU and Memory resource setting ergonomics
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s

#2295 Plugin status report implementations can get access to the last report
  internal/core/app_status_report.go
  internal/core/app_status_report_test.go
  internal/server/gen/mocks/is_get_latest_status_report_request__target.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/service_status_report.go
  internal/server/singleprocess/state/app_operation.go
  internal/server/singleprocess/state/app_operation_test.go
  internal/server/singleprocess/state/status_report.go
Labels: core, pr/no-changelog

#2321 Increase resource memory for `ember-build-prod` step
  .circleci/config.yml
Labels: pr/no-changelog

#2320 internal/clicontext: default to gRPC port for login addr
  .changelog/2320.txt
  internal/clicontext/config.go
  internal/clicontext/config_test.go
  internal/serverconfig/config.go
  internal/serverinstall/serverinstall.go
Labels: core

#2323 negotiate, not "negoate"
  builtin/docker/kaniko.go
Labels: plugin, plugin/docker, pr/no-changelog

#2324 fix other occurence of "negoate"
  builtin/pack/builder.go
Labels: plugin, plugin/pack, pr/no-changelog

#2322 ui: de-lint input vars components
  ui/app/components/project-input-variables/list-item.ts
  ui/app/components/project-input-variables/list.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2325 cli, server: set default log level to debug on server install
  .changelog/2325.txt
  internal/cli/server_run.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
Labels: core

#2309 builtin/k8s: Introduce config to autoscale kubernetes deployments
  .changelog/2309.txt
  builtin/k8s/platform.go
  builtin/k8s/plugin.pb.go
  builtin/k8s/plugin.proto
  website/content/partials/components/platform-kubernetes.mdx
Labels: website, plugin, plugin/k8s

#2329 ui: de-lint last two components
  ui/app/components/status-report-bar/index.ts
  ui/app/components/version-info/index.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2327 "waypoint k8s bootstrap" hidden command used by the Helm chart
  internal/cli/base_init.go
  internal/cli/k8s_bootstrap.go
  internal/cli/main.go
  website/content/commands/k8s-bootstrap.mdx
  website/content/partials/commands/k8s-bootstrap_desc.mdx
  website/content/partials/commands/k8s-bootstrap_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, pr/no-changelog

#2332 internal/cli: Adjust spacing in help text
  internal/cli/k8s_bootstrap.go
  website/content/commands/k8s-bootstrap.mdx
Labels: core, website, pr/no-changelog

#2334 waypoint login -from-kubernetes
  internal/cli/base_init.go
  internal/cli/k8s_bootstrap.go
  internal/cli/login.go
  internal/pkg/k8sauth/doc.go
  internal/pkg/k8sauth/k8sauth.go
  internal/serverclient/client.go
  website/content/commands/login.mdx
Labels: core, website, pr/no-changelog

#2338 ui: de-lint remaining items in `app` directory
  ui/app/config/environment.d.ts
  ui/app/controllers/workspace/projects/new.ts
  ui/app/controllers/workspace/projects/project/settings/config-variables.ts
  ui/app/helpers/current-year.ts
  ui/app/helpers/enforce-protocol.ts
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2340 ui/mirage: improve `SetConfig` simulation
  ui/mirage/services/config.ts
Labels: ui, pr/no-changelog, backport/0.5.x

#2328 cli: pass raw string of `server run` flags to install command
  .changelog/2328.txt
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/server_run.go
  internal/cli/server_upgrade.go
  internal/cli/status.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-run.mdx
  website/content/docs/server/run/index.mdx
  website/content/docs/server/run/maintenance.mdx
  website/content/plugins/aws-ec2.mdx
Labels: core, website

#2345 ui: fix remaining linting errors and enable linting in CI
  .circleci/config.yml
  ui/ember-cli-build.js
  ui/mirage/factories/config-variable.ts
  ui/mirage/services/status-report.ts
Labels: ui, pr/no-changelog

#2336 Helm Deployment Plugin
  .changelog/2336.txt
  builtin/k8s/api.go
  builtin/k8s/config_sourcer.go
  builtin/k8s/helm/api.go
  builtin/k8s/helm/platform.go
  builtin/k8s/helm/plugin.go
  builtin/k8s/helm/plugin.pb.go
  builtin/k8s/helm/plugin.proto
  builtin/k8s/helm/rest.go
  builtin/k8s/helm/status.go
  builtin/k8s/internal/k8sstatus/doc.go
  builtin/k8s/internal/k8sstatus/status.go
  builtin/k8s/internal/manifest/doc.go
  builtin/k8s/internal/manifest/manifest.go
  builtin/k8s/internal/manifest/manifest_test.go
  builtin/k8s/internal/manifest/testdata/deployment.yaml
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/k8s/task.go
  go.mod
  go.sum
  internal/plugin/plugin.go
  website/content/partials/components/builder-helm.mdx
  website/content/partials/components/configsourcer-helm.mdx
  website/content/partials/components/platform-helm.mdx
  website/content/partials/components/registry-helm.mdx
  website/content/partials/components/releasemanager-helm.mdx
  website/content/plugins/helm.mdx
  website/data/plugins-nav-data.json
Labels: core, website, plugin, plugin/k8s

#2350 ui: fix frontend-lint config
  .circleci/config.yml
Labels: pr/no-changelog

#2349 ui: upgrade ember from 3.24.4 to 3.24.5
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2351 internal/server: config resolution needs to account for workspaces
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  internal/server/singleprocess/state/config_test.go
  internal/server/sort/config.go
Labels: core, pr/no-changelog

#2331 waypoint up in the browser
  .changelog/2331.txt
  ui/app/components/actions/up.hbs
  ui/app/components/actions/up.ts
  ui/app/helpers/project-is-remote-uppable.ts
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/up-button.scss
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui

#2355 ui: dedupe ember-cli-babel
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2348 internal/server: log kubeprobe http requests at trace level
  .changelog/2348.txt
  internal/server/http_log.go
Labels: core

#2358 Store JSON-encoded plugin proto values on operations
  go.mod
  go.sum
  internal/core/app_build.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_status_report.go
  internal/core/operation.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
Labels: core, pr/no-changelog

#2357 internal/cli: fmt should output the name of the file it modified
  internal/cli/fmt.go
Labels: core, pr/no-changelog

#2346 Server automatically reloads TLS cert files on change
  .changelog/2346.txt
  go.mod
  internal/cli/server_run.go
  internal/pkg/cert/cert.go
  internal/pkg/cert/cert_test.go
  internal/pkg/cert/doc.go
  internal/pkg/cert/testdata/tls.crt
  internal/pkg/cert/testdata/tls.key
  internal/pkg/cert/testdata/tls2.crt
  internal/pkg/cert/testdata/tls2.key
  internal/pkg/cert/testing.go
  website/content/commands/server-run.mdx
Labels: core, website

#2347 Waypoint server: Support insecure HTTP listener
  .changelog/2347.txt
  internal/cli/server_run.go
  internal/server/http.go
  internal/server/http_tls.go
  internal/server/http_tls_test.go
  internal/server/server.go
  internal/serverconfig/config.go
  website/content/commands/server-run.mdx
Labels: core, website

#2335 Log warnings if some things we expect to work actually don't
  internal/core/app_build.go
Labels: core, pr/no-changelog

#2343 website: upgrade dependencies
  .circleci/config.yml
  website/.npmrc
  website/.nvmrc
  website/global.d.ts
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website, backport/website, pr/no-changelog

#2317 ui: Deployment Resources
  .changelog/2317.txt
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/json-viewer.hbs
  ui/app/components/json-viewer.ts
  ui/app/components/label-list.hbs
  ui/app/components/resource-detail.hbs
  ui/app/components/resource-detail.ts
  ui/app/components/resource-health-indicator.hbs
  ui/app/components/resources-table.hbs
  ui/app/components/section.hbs
  ui/app/components/section.ts
  ui/app/helpers/includes.ts
  ui/app/modifiers/code-mirror.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployment/resource.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/json-viewer.scss
  ui/app/styles/components/label-list.scss
  ui/app/styles/components/resource-detail.scss
  ui/app/styles/components/resources-table.scss
  ui/app/styles/components/section.scss
  ui/app/styles/components/status-report-indicator.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployment/resource.hbs
  ui/mirage/factories/project.ts
  ui/mirage/factories/resource.ts
  ui/mirage/factories/status-report.ts
  ui/mirage/models/resource.ts
  ui/mirage/models/status-report.ts
  ui/mirage/models/status.ts
  ui/mirage/utils.ts
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/integration/components/json-viewer-test.ts
  ui/tests/integration/components/section-test.ts
  ui/tests/integration/helpers/includes-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2363 ui: upgrade conflicting express type declarations
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2371 gitrefpretty no longer requires `git`, works in ODR
  .changelog/2371.txt
  internal/config/funcs/testdata/git-commits-changes/A
  internal/config/funcs/testdata/git-commits-changes/DOTgit/COMMIT_EDITMSG
  internal/config/funcs/testdata/git-commits-changes/DOTgit/HEAD
  internal/config/funcs/testdata/git-commits-changes/DOTgit/config
  internal/config/funcs/testdata/git-commits-changes/DOTgit/description
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/applypatch-msg.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/commit-msg.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/fsmonitor-watchman.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/post-update.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-applypatch.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-commit.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-merge-commit.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-push.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-rebase.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/pre-receive.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/prepare-commit-msg.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/hooks/update.sample
  internal/config/funcs/testdata/git-commits-changes/DOTgit/index
  internal/config/funcs/testdata/git-commits-changes/DOTgit/info/exclude
  internal/config/funcs/testdata/git-commits-changes/DOTgit/logs/HEAD
  internal/config/funcs/testdata/git-commits-changes/DOTgit/logs/refs/heads/master
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/38/0afd697abe993b89bfa08d8dd8724d6a513ba1
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/45/9023a450b8e8aa344d230839d41e2f115d3d28
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/7c/178d1296d8b87e83382c324aeb32e2def2a5af
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/8b/137891791fe96927ad78e64b0aad7bded08bdc
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/b1/a2dcd337f590a185a20f013721e7410764bab4
  internal/config/funcs/testdata/git-commits-changes/DOTgit/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
  internal/config/funcs/testdata/git-commits-changes/DOTgit/refs/heads/master
  internal/config/funcs/vcs_git.go
  internal/config/funcs/vcs_git_test.go
Labels: core

#2372 builtin/docker: if host is docker.io, use index.docker.io for registry
  builtin/docker/kaniko.go
Labels: plugin, plugin/docker, pr/no-changelog

#2362 Support specifying custom environment variables for input variable default values
  .changelog/2362.txt
  internal/config/variables/testdata/valid.hcl
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/runner/operation.go
  website/content/docs/waypoint-hcl/variable.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: core, website

#2373 Update runner config page
  website/content/docs/runner/config.mdx
Labels: documentation, website, pr/no-changelog, backport/0.5.x

#2379 ui/deployments: fix header
  ui/app/templates/workspace/projects/project/app.hbs
Labels: ui, pr/no-changelog

#2380 ui: fix resources-table border-color bug
  ui/app/styles/components/resources-table.scss
Labels: ui, pr/no-changelog

#2378 internal/core: add project/app to JobInfo
  internal/core/app.go
  internal/core/project.go
Labels: core, pr/no-changelog

#2384 ui: fixed config variable mocking
  ui/mirage/models/config-variable.ts
Labels: ui, pr/no-changelog

#2388 Add platform and category display hint to k8s release resources
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s, pr/no-changelog

#2389 ui/mirage: remove `setExtension` TODOs
  ui/mirage/models/application.ts
  ui/mirage/models/build.ts
  ui/mirage/models/project.ts
  ui/mirage/models/release.ts
  ui/mirage/models/workspace.ts
Labels: ui, pr/no-changelog

#2356 UI: Application & Operation logs using XTerm.js terminal
  .changelog/2356.txt
  ui/app/components/log-stream/index.hbs
  ui/app/components/log-stream/index.ts
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
  ui/app/components/render-terminal/index.hbs
  ui/app/components/render-terminal/index.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/terminal.scss
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/app/utils/create-terminal.ts
  ui/app/utils/terminal-theme.ts
  ui/ember-cli-build.js
  ui/package.json
  ui/tests/integration/components/render-terminal-test.ts
  ui/yarn.lock
Labels: ui

#2394 Fix letsencrypt expiration
  .circleci/config.yml
Labels: pr/no-changelog

#2395 internal/cli: detect waypoint ui address that is a hostname
  internal/cli/login.go
Labels: core, pr/no-changelog
