Repository hashicorp/waypoint, pull requests merged in 2021-10, with the labels that each got.

#2387 Website: move context and context inspect lower in CLI navigation
  website/data/commands-nav-data.json
Labels: website, pr/no-changelog

#2400 Minor CLI papercuts
  internal/cli/base_init.go
  internal/cli/deployment_list.go
  internal/cli/status.go
  website/content/commands/deployment-list.mdx
Labels: core, website, pr/no-changelog

#2398 Decorate the location of an image better to improve ODR handling
  builtin/aws/ecr/mapper.go
  builtin/docker/kaniko.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/pull/builder.go
  builtin/docker/registry.go
  builtin/pack/builder.go
  builtin/pack/mapper.go
Labels: plugin, plugin/docker, plugin/pack, plugin/aws, pr/no-changelog

#2399 Fix a few minor kubernetes papercuts
  .changelog/2399.txt
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s

#2353 Add `context set` subcommand
  .changelog/2353.txt
  internal/cli/base.go
  internal/cli/base_test.go
  internal/cli/context_create.go
  internal/cli/context_inspect.go
  internal/cli/context_set.go
  internal/cli/main.go
  internal/cli/status.go
  internal/clicontext/config.go
  internal/runner/operation_up.go
  website/content/commands/context-set.mdx
  website/content/partials/commands/context-set_desc.mdx
  website/content/partials/commands/context-set_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

#2386 ui: Release Resources
  .changelog/2386.txt
  ui/app/components/resources-table.hbs
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/app/release/resource.ts
  ui/app/styles/components/resources-table.scss
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/app/templates/workspace/projects/project/app/release/resource.hbs
  ui/mirage/factories/project.ts
  ui/mirage/factories/resource.ts
  ui/mirage/factories/status-report.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/acceptance/release-resource-detail-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2396 ui: upgrade ember-concurrency to 2.x
  ui/app/components/actions/up.ts
  ui/app/services/poll-model.ts
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2409 ui: ensure ember-cli-flash doesn’t clobber pds-flash-messages
  ui/config/environment.js
  ui/tests/unit/services/pds-flash-messages-test.ts
Labels: ui, pr/no-changelog

#2408 Turn xterm DOM rendering on in Safari
  ui/app/utils/browser.ts
  ui/app/utils/create-terminal.ts
Labels: ui, pr/no-changelog

#2407 Upgrade ember-truth-helpers to 3.0
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2410 Use proper background color for toggle input
  .changelog/2410.txt
  ui/app/styles/components/x-toggle.scss
Labels: ui

#2411 fix text overflow in flash notifications with long words
  .changelog/2411.txt
  ui/app/styles/components/notifications.scss
Labels: ui

#2417 ui: remove unused import in test
  ui/tests/unit/services/pds-flash-messages-test.ts
Labels: ui, pr/no-changelog

#2420 Install ember-test-selectors
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2419 ui/mirage: remove TODOs for `any` fields
  ui/mirage/models/deployment.ts
  ui/mirage/models/release.ts
  ui/mirage/models/status-report.ts
Labels: ui, pr/no-changelog

#2352 ui: Add Docker image/tag information and Overview section
  .changelog/2352.txt
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/container-image-tag/index.ts
  ui/app/components/status-report-indicator.hbs
  ui/app/components/status-report-meta-table/index.hbs
  ui/app/components/status-report-meta-table/index.ts
  ui/app/styles/_variables.scss
  ui/app/styles/components/_index.scss
  ui/app/styles/components/container-image-tag.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/templates/workspace/projects/project/app/deployment.hbs
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/mirage/factories/resource.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/integration/components/container-image-tag-test.ts
  ui/tests/integration/components/status-report-meta-table-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2422 website/docs: replace `TF_VAR` with `WP_VAR` in input var docs
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website, backport/website, pr/no-changelog

#2385 Add workspace CLI command, list/inspect subcommands
  .changelog/2385.txt
  internal/cli/main.go
  internal/cli/workspace_inspect.go
  internal/cli/workspace_list.go
  website/content/commands/workspace-inspect.mdx
  website/content/commands/workspace-list.mdx
  website/content/partials/commands/workspace-inspect_desc.mdx
  website/content/partials/commands/workspace-inspect_more.mdx
  website/content/partials/commands/workspace-list_desc.mdx
  website/content/partials/commands/workspace-list_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

#2421 UI: fix config var renaming
  .changelog/2421.txt
  ui/app/components/project-config-variables/list-item.ts
  ui/app/components/project-config-variables/list.ts
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui

#2431 ui: remove unused `pauseTest` import
  ui/tests/integration/components/project-config-variables-list-test.ts
Labels: ui, pr/no-changelog

#2416 Enabling dynamic config files
  .changelog/2416.txt
  builtin/vault/config_sourcer.go
  internal/appconfig/watcher.go
  internal/appconfig/watcher_test.go
Labels: core, plugin

#2432 ui: Use enhanced OCI image lookup on resource detail page
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/container-image-tag/index.ts
  ui/app/components/image-ref.hbs
  ui/app/components/resource-detail.hbs
  ui/app/components/resource-detail.ts
  ui/app/styles/components/_index.scss
  ui/app/styles/components/image-ref.scss
  ui/app/utils/image-refs.ts
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/integration/components/container-image-tag-test.ts
  ui/tests/integration/components/status-report-meta-table-test.ts
Labels: ui, pr/no-changelog

#2426 cli: release cmd tuneups
  .changelog/2426.txt
  internal/cli/release_create.go
  internal/cli/release_list.go
  website/content/commands/release.mdx
Labels: core, website

#1992 plugin/docker: add multi-stage target config
  .changelog/1992.txt
  builtin/docker/builder.go
  builtin/docker/img.go
  website/content/partials/components/builder-docker.mdx
Labels: website, plugin, plugin/docker

#2446 docker: Support multi-target builds under kaniko/ODR
  builtin/docker/kaniko.go
Labels: plugin, plugin/docker, pr/no-changelog

#2451 Correctly parse ODR images when using a registry with a port
  go.mod
  internal/serverinstall/serverinstall.go
  internal/serverinstall/serverinstall_test.go
Labels: core, pr/no-changelog

#2435 Add a warning to nomad server install about ephemeral addresses.
  internal/serverinstall/nomad.go
Labels: documentation, core, pr/no-changelog

#2458 website: upgrade deps to fix search styles
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog

#2463 website: starting Kuberenetes-focused docs section
  website/content/docs/kubernetes/container-build.mdx
  website/content/docs/kubernetes/external-build.mdx
  website/content/docs/kubernetes/helm-deploy.mdx
  website/content/docs/kubernetes/install.mdx
  website/data/docs-nav-data.json
Labels: website, pr/no-changelog

#2402 Server Telemetry
  .changelog/2402.txt
  go.mod
  go.sum
  internal/cli/server_run.go
  internal/server/grpc.go
  internal/server/server.go
  internal/telemetry/datadog.go
  internal/telemetry/opencensus_agent.go
  internal/telemetry/telemetry.go
  telemetry/README.md
  telemetry/docker-compose.yaml
  telemetry/images/jeager-traces.png
  telemetry/images/tracez-example.png
  telemetry/oc-agent-config.yaml
  telemetry/oc-collector-config.yaml
  website/content/commands/server-run.mdx
Labels: core, website, telemetry

#2441 Fix a panic in `waypoint runner profile inspect`
  internal/cli/runner_profile_inspect.go
  internal/server/singleprocess/state/ondemand_runner.go
  internal/server/singleprocess/state/ondemand_runner_test.go
Labels: core, pr/no-changelog, core/runner

#2481 builtin/k8s: Do not preserve old annotations
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s, pr/no-changelog

#2489 Update `project` commands to use `runner profiles` instead of `odr configs`
  .changelog/2489.txt
  internal/cli/project_apply.go
  internal/cli/project_inspect.go
  website/content/commands/project-apply.mdx
Labels: core, website, backport/0.6.x

#2488 internal/server: fix flaky test TestServiceGetLogStream_depPlugin
  internal/server/singleprocess/service_entrypoint.go
  internal/server/singleprocess/service_logs.go
  internal/server/singleprocess/service_logs_test.go
Labels: core, pr/no-changelog, backport/0.6.x

#2507 contrib: add waypoint-grpc
  contrib/waypoint-grpc/README.md
  contrib/waypoint-grpc/waypoint-grpc.sh
Labels: contrib, pr/no-changelog

#2519 remove ember-in-viewport
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2526 cli: set project on cfg
  .changelog/2526.txt
  internal/cli/base.go
Labels: core, backport/0.6.x

#2540 ui/mirage: add remaining `artifact` plumbing
  ui/mirage/models/artifact.ts
  ui/mirage/models/deployment.ts
  ui/mirage/models/pushed-artifact.ts
  ui/mirage/models/release.ts
Labels: ui, pr/no-changelog, backport/0.6.x

#2542 Docs: Plugin Author Improvements, Add StatusFunc() docs
  website/content/docs/extending-waypoint/creating-plugins/compiling.mdx
  website/content/docs/extending-waypoint/creating-plugins/configuration.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
  website/data/docs-nav-data.json
Labels: documentation, website, pr/no-changelog, backport/0.6.x
