Repository hashicorp/waypoint, pull requests merged in 2022-09, with the labels that each got.

#3769 Pipeline Tracking CLI
  builtin/aws/ecs/platform.go
  builtin/azure/aci/platform.go
  internal/cli/pipeline_inspect.go
  internal/cli/pipeline_list.go
  internal/cli/pipeline_run.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_pipeline_run_test.go
  pkg/server/singleprocess/service_pipeline_test.go
  website/content/commands/pipeline-inspect.mdx
  website/content/commands/pipeline-run.mdx
Labels: core, website, plugin, plugin/azure, plugin/aws, cli, pr/no-changelog, core/cli

#3776 Refactor Pipeline proto
  internal/cli/pipeline_inspect.go
  internal/cli/pipeline_list.go
  internal/cli/pipeline_run.go
  internal/config/pipeline.go
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/pipeline.go
  internal/server/boltdbstate/pipeline_run.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_run_test.go
  pkg/server/singleprocess/service_pipeline_test.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core, pr/no-changelog

#3786 ui: make `<ContainerImageTag>` JSON parsing more resilient
  .changelog/3786.txt
  ui/app/components/container-image-tag/index.ts
Labels: ui, backport/0.9.x

#3790 ui: fix micro typo
  ui/app/components/container-image-tag/index.ts
Labels: ui, pr/no-changelog, backport/0.9.x

#3784 core: fix typo in `singleprocess.ListOnDemandRunnerConfigs`
  pkg/server/singleprocess/service_ondemand_runner.go
Labels: pr/no-changelog, backport/0.9.x

#3796 Fix installing runner without specifying labels
  internal/cli/runner_install.go
  pkg/server/ptypes/ondemand_runner.go
Labels: core, pr/no-changelog

#3798 fix protoc version back to 3.17.3
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  tools.Dockerfile
Labels: pr/no-changelog

#3799 ui: bump google-protobuf to 3.21.0
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#3803 Delete runner profiles by name
  .changelog/3803.txt
  internal/cli/runner_profile_delete.go
  internal/server/boltdbstate/ondemand_runner.go
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
  website/content/commands/runner-profile-delete.mdx
Labels: core, website

#3801 ui: `make gen/ts`
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui, pr/no-changelog

#3804 Fix Nomad upgrade of runner
  .changelog/3804.txt
  internal/serverinstall/nomad.go
Labels: core

#3793 Add DataSource.remote as option
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_job.go
Labels: pr/no-changelog

#3810 finish removing invalid required flag on HCL items
  builtin/aws/ecs/task.go
  internal/cli/runner_install.go
  internal/runnerinstall/nomad.go
Labels: core, plugin, plugin/aws, pr/no-changelog

#3806 Fixing panic in ecs task config
  builtin/aws/ecs/task.go
Labels: plugin, plugin/aws, pr/no-changelog

#3812 config: Exec and Pipeline Step params have required fields
  internal/config/pipeline.go
Labels: core, pr/no-changelog

#3814 cli: Warn if local invocation of `waypoint pipeline run`
  internal/cli/pipeline_run.go
Labels: core, pr/no-changelog

#3750 docs: Add runner adoption workflow to website
  website/content/docs/runner/adoption.mdx
  website/data/docs-nav-data.json
Labels: website, pr/no-changelog

#3800 k8s runner profile should use odr img, not server
  .changelog/3800.txt
  internal/cli/runner_install.go
  internal/cli/runner_profile_set.go
  internal/cli/server_upgrade.go
  internal/installutil/odr.go
  internal/runnerinstall/k8s.go
  website/content/commands/runner-install.mdx
Labels: bug, core, website, core/runner

#3797 `WatchTask` for Nomad Task Launcher
  .changelog/3797.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad

#3820 Fix version check on server during ECS upgrade
  .changelog/3820.txt
  internal/serverinstall/ecs.go
Labels: core

#3825 Revert "build(deps): bump helm.sh/helm/v3 from 3.7.0 to 3.9.4"
  go.mod
  go.sum
Labels: pr/no-changelog

#3744 k8s: `server install` bug with helm/bootstrap race condition
  .changelog/3744.txt
  internal/cli/install.go
  internal/serverinstall/k8s.go
Labels: bug, core, backport/0.9.x

#3772 `runner install` fixes
  .changelog/3772.txt
  internal/cli/runner_uninstall.go
  internal/installutil/k8s/k8s.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
Labels: core, backport/0.9.x

#3773 k8s: consolidate down to installutil pkg
  .changelog/3773.txt
  builtin/k8s/helm/platform.go
  internal/installutil/adoption.go
  internal/installutil/helm/helm.go
  internal/installutil/k8s/k8s.go
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, plugin, plugin/k8s

#3626 `project destroy`
  .changelog/3626.txt
  builtin/aws/ecs/platform.go
  go.mod
  go.sum
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/cli/main.go
  internal/cli/project_destroy.go
  internal/cli/task_inspect.go
  internal/cli/task_list.go
  internal/client/operation.go
  internal/core/app_deploy_destroy.go
  internal/core/project.go
  internal/core/testing_project.go
  internal/runner/operation.go
  internal/runner/operation_project_destroy.go
  internal/runner/operation_project_destroy_test.go
  internal/server/boltdbstate/app_operation.go
  internal/server/boltdbstate/app_operation_test.go
  internal/server/boltdbstate/artifact.go
  internal/server/boltdbstate/build.go
  internal/server/boltdbstate/deployment.go
  internal/server/boltdbstate/project.go
  internal/server/boltdbstate/project_test.go
  internal/server/boltdbstate/release.go
  internal/server/boltdbstate/status_report.go
  internal/server/boltdbstate/workspace.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/project.go
  pkg/server/singleprocess/service_project.go
  pkg/serverhandler/handlertest/test_service_project.go
  pkg/serverstate/serverstate.go
  website/content/commands/project-destroy.mdx
  website/content/partials/commands/project-destroy_desc.mdx
  website/content/partials/commands/project-destroy_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, plugin, plugin/aws

#3836 website: Only format content directory with `next-hashicorp` tool
  Makefile
Labels: pr/no-changelog

#3837 serverinstall/k8s: Actually set on-demand runner image with Helm
  internal/serverinstall/k8s.go
Labels: core, pr/no-changelog

#3777 website: Write up documentation for Waypoint Pipelines
  .changelog/3777.txt
  website/content/docs/pipelines/config.mdx
  website/content/docs/pipelines/index.mdx
  website/data/docs-nav-data.json
Labels: website

#3831 Update json.mdx
  website/content/docs/waypoint-hcl/syntax/json.mdx
Labels: documentation, website, pr/no-changelog

#3815 ui: remove `@ember-decorators/component`
  ui/package.json
Labels: ui, pr/no-changelog

#3835 ui: allow dependabot to update all dependencies
  .github/dependabot.yml
Labels: ui, pr/no-changelog

#3840 serverinstall/k8s: Prevent double runner profiles with Helm install
  internal/cli/install.go
  internal/cli/server_upgrade.go
  internal/server/boltdbstate/ondemand_runner.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
Labels: core, pr/no-changelog

#3855 Add values required for the updated Destroy interface
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
Labels: core, pr/no-changelog

#3860 cli: Show noop job operation type in task and job CLIs
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/cli/task_inspect.go
  internal/cli/task_list.go
Labels: core, pr/no-changelog

#3829 WIP: Workspace scoped steps
  internal/cli/pipeline_run.go
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline_step_workspace.hcl
  internal/config/testdata/pipelines/pipeline_step_workspace_nested.hcl
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
  pkg/serverstate/statetest/test_pipeline.go
Labels: core, pr/no-changelog

#3846 Fix deployment Pruning fail on k8s
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/nomad/canary/releaser.go
  builtin/nomad/jobspec/platform.go
  internal/core/app_release_destroy.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core, plugin, plugin/nomad, plugin/k8s, pr/no-changelog

#3861 bug: Show error if inspecting pipeline with no runs
  internal/cli/pipeline_inspect.go
Labels: core, pr/no-changelog

#3863 server: Track embedded step refs for pipelines with noop job
  internal/cli/pipeline_run.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: core, pr/no-changelog

#3867 Update CHANGELOG for release
  CHANGELOG.md
Labels: pr/no-changelog

#3871 Added a test for deleting all project input vars
  pkg/serverstate/statetest/test_project.go
Labels: pr/no-changelog

#3872 Update all error returns in RunnerJobStream to use hcerr.Externalize()
  .changelog/3872.txt
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#3874 Add docs example for workspace-scoped runner config
  website/content/docs/runner/config.mdx
Labels: website, backport/website, pr/no-changelog

#3882 Makefile: Add new target `help` for printing valid Make targets
  Makefile
Labels: pr/no-changelog

#3886 maint: Ensure help is not default make target
  Makefile
Labels: pr/no-changelog

#3875 Cleanup docs about runners
  website/content/docs/internals/architecture.mdx
  website/content/docs/internals/execution.mdx
  website/content/docs/kubernetes/container-build.mdx
  website/content/docs/lifecycle/hooks.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/runner/adoption.mdx
  website/content/docs/runner/config.mdx
  website/content/docs/runner/index.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/runner/profiles.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/troubleshooting.mdx
  website/content/docs/upgrading/index.mdx
  website/content/docs/waypoint-hcl/registry.mdx
  website/content/docs/waypoint-hcl/variables/dynamic.mdx
Labels: website, pr/no-changelog

#3883 Nomad Plugin bug fixes
  .changelog/3883.txt
  builtin/nomad/jobspec/platform.go
  builtin/nomad/task.go
Labels: plugin, plugin/nomad, plugin/nomad-jobspec, ecosystem, backport/0.10.x

#3888 Handle Remote datasources properly
  internal/cli/project_inspect.go
  internal/client/runner.go
Labels: core, pr/no-changelog, backport/0.10.x

#3893 bolt: Cancel WatchJob for TaskCancel
  .changelog/3893.txt
  internal/server/boltdbstate/task.go
  pkg/serverstate/statetest/test_task.go
Labels: core, backport/0.10.x

#3890 Not using the ODR image for the k8s static runner
  .changelog/3890.txt
  internal/cli/runner_install.go
  internal/cli/runner_profile_set.go
  internal/cli/server_upgrade.go
  internal/installutil/odr.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/serverinstall/docker.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall_test.go
  website/content/commands/runner-install.mdx
Labels: core, website, backport/0.10.x

#3894 Setting the k8s runner install odr service account.
  .changelog/3894.txt
  internal/runnerinstall/k8s.go
  internal/runnerinstall/runnerinstall.go
Labels: core, backport/0.10.x

#3161 website: Stage content for Dev Portal
  website/Makefile
  website/README.md
  website/content/docs/getting-started/index.mdx
  website/content/docs/index.mdx
  website/content/docs/platforms/kubernetes/config.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/platforms/kubernetes/install.mdx
  website/content/docs/platforms/kubernetes/kubectl-deploy.mdx
  website/content/docs/platforms/kubernetes/resource-status.mdx
  website/content/docs/resources/glossary.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/docs/resources/internals/execution.mdx
  website/content/docs/resources/internals/index.mdx
  website/content/docs/resources/roadmap.mdx
  website/content/docs/resources/troubleshooting.mdx
  website/content/docs/server/auth/oidc.mdx
  website/content/docs/upgrading/compatibility.mdx
  website/content/docs/waypoint-hcl/syntax/expressions.mdx
  website/content/docs/waypoint-hcl/syntax/index.mdx
  website/content/docs/waypoint-hcl/syntax/json.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/content/plugins/aws-ecs.mdx
  website/data/docs-nav-data.json
  website/public/img/getting-started/intro-files.png
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website, backport/website, pr/no-changelog

#3915 website: adds redirects for moved paths
  builtin/k8s/helm/platform.go
  embedJson/gen/platform-helm.json
  website/content/docs/getting-started/index.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/platforms/kubernetes/config.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/platforms/kubernetes/kubectl-deploy.mdx
  website/content/docs/projects/git.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/partials/components/platform-helm.mdx
  website/redirects.js
Labels: website, plugin, plugin/k8s, pr/no-changelog

#3919 chore: fix links
  website/content/docs/runner/index.mdx
Labels: website, backport/website, pr/no-changelog

#3927 Update CHANGELOG from 0.10.1 release
  CHANGELOG.md
Labels: pr/no-changelog

#3929 ui: make `<ResourceTable>` resilient to resources without IDs
  .changelog/3929.txt
  ui/app/components/resources-table.hbs
Labels: ui, backport/0.10.x

#3931 Add GitRemote to Remote datasource
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: pr/no-changelog

#3876 Docs: Clean up config vars documentation
  internal/cli/config_source_get.go
  internal/cli/config_source_set.go
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/app-config/index.mdx
Labels: core, website, pr/no-changelog

#3922 Runner install default profile
  .changelog/3922.txt
  internal/cli/runner_install.go
Labels: core, core/install, backport/0.10.x

#3940 Initial set of externalized errors for artifact service
  pkg/server/singleprocess/service_artifact.go
Labels: pr/no-changelog, core/server, externalize

#3937 doc: Update scratch_path to emptydir
  builtin/k8s/platform.go
  embedJson/gen/platform-kubernetes.json
  website/content/partials/components/platform-kubernetes.mdx
Labels: website, plugin, plugin/k8s, pr/no-changelog

#3948 Correctly set image pull policy during k8s install
  .changelog/3948.txt
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
  website/content/commands/runner-install.mdx
Labels: core, website, core/install, backport/0.10.x

#3954 A couple of fixes to get Waypoint talking to HCP Waypoint
  internal/ceb/server.go
  pkg/serverclient/client.go
  pkg/tokenutil/decode.go
  pkg/tokenutil/oauth.go
Labels: core, pr/no-changelog

#3946 server: Ensure `RunPipeline` api returns correct order for `AllJobIds` for pipelines with embedded pipeline graphs
  .changelog/3946.txt
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: bug, core/pipeline, backport/0.10.x

#3947 Externalize auth method
  pkg/server/singleprocess/service_auth_method.go
Labels: pr/no-changelog

#3952 Externalize errors in service_auth_oidc
  pkg/server/singleprocess/service_auth_oidc.go
Labels: pr/no-changelog

#3949 Detected deleted projects in long-running EntrypointConfig
  .changelog/3949.txt
  pkg/server/singleprocess/service_entrypoint.go
Labels: backport/0.10.x

#3878 Correct statements made
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/automating-execution/circle-ci.mdx
  website/content/docs/entrypoint/index.mdx
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/projects/git.mdx
  website/content/docs/projects/remote.mdx
Labels: website, pr/no-changelog

#3956 Externalize service_build
  pkg/server/singleprocess/service_build.go
Labels: pr/no-changelog

#3957 externalize service_config
  pkg/server/singleprocess/service_config.go
Labels: pr/no-changelog

#3950 Add more Helm options
  .changelog/3950.txt
  builtin/k8s/helm/platform.go
  embedJson/gen/platform-helm.json
  website/content/partials/components/platform-helm.mdx
Labels: website, plugin, plugin/k8s, plugin/helm, backport/0.10.x

#3968 statetest: Ensure a project record exists prior to pipeline tests
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: pr/no-changelog, tests, backport/0.10.x
