Repository hashicorp/waypoint, pull requests merged in 2022-07, with the labels that each got.

#3516 docs: update go-bindata install cmd
  .github/CONTRIBUTING.md
Labels: pr/no-changelog

#3519 Comprehensive project set/get test
  internal/pkg/jsonpb/decode.go
  internal/pkg/jsonpb/encode.go
  internal/pkg/jsonpb/json.go
  pkg/serverstate/statetest/test_project.go
Labels: core, pr/no-changelog

#3520 Update ODR profile image name for k8s runner install
  internal/installutil/odr.go
  internal/runnerinstall/k8s.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  website/content/commands/runner-install.mdx
Labels: core, website, pr/no-changelog, core/install

#3526 Add flags to Nomad server upgrade command for the bootstrap runner
  internal/serverinstall/nomad.go
  website/content/commands/server-upgrade.mdx
Labels: core, website, pr/no-changelog

#3525 Add network info to ECS initial runner profile
  internal/serverinstall/ecs.go
Labels: core, pr/no-changelog

#3521 Skip service account creation for k8s `runner install` if exists
  internal/runnerinstall/k8s.go
  internal/serverinstall/ecs.go
Labels: core, pr/no-changelog

#3528 changelog 0.9.0
  CHANGELOG.md
Labels: pr/no-changelog

#3492 upgrade guide for 0.9
  website/content/docs/upgrading/version-guides/0.9.0.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, pr/no-changelog

#3531 Revert "Backport of upgrade guide for 0.9 into release/0.8.x"
  website/content/docs/upgrading/version-guides/0.9.0.mdx
  website/data/docs-nav-data.json
Labels: website

#3532 fix typo
  website/content/partials/components/builder-pack.mdx
Labels: website, backport/website, pr/no-changelog

#3468 Update Nomad ODR job to Batch Job
  .changelog/3468.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad, backport/0.9.x

#3538 Fix fix typo
  builtin/pack/builder.go
  website/content/partials/components/builder-pack.mdx
Labels: website, plugin, plugin/pack, backport/website, pr/no-changelog

#3548 update changelog to include deprecation for 0.9
  .changelog/3466.txt
  CHANGELOG.md
Labels: pr/no-changelog, backport/0.9.x

#3559 Fix error check reference.ParseNomrmalizedNamed
  internal/runnerinstall/docker.go
Labels: core, pr/no-changelog, backport/0.9.x

#3563 Makefile: Make architecture for Waypoint server build configurable
  Makefile
Labels: pr/no-changelog

#3522 chore: add hcl `replace`
  .changelog/3522.txt
  pkg/config/funcs/doc.go
  pkg/config/funcs/stdlib.go
  website/content/partials/funcs.mdx
Labels: website, backport/website

#3524 fix(tfc): `ConfigSourcer` refresh_interval
  .changelog/3524.txt
  builtin/tfc/config_sourcer.go
  website/content/partials/components/configsourcer-terraform-cloud.mdx
Labels: website, plugin, backport/website

#3426 Make `make docker/gen/server` work on arm macs
  tools.Dockerfile
Labels: pr/no-changelog

#3565 website: merge main into dev-portal content
  .changelog/3466.txt
  .changelog/3522.txt
  .changelog/3524.txt
  CHANGELOG.md
  Makefile
  builtin/tfc/config_sourcer.go
  internal/runnerinstall/docker.go
  pkg/config/funcs/doc.go
  pkg/config/funcs/stdlib.go
  pkg/server/ptypes/application.go
  pkg/server/ptypes/auth_method.go
  pkg/server/ptypes/ondemand_runner.go
  pkg/server/ptypes/project.go
  pkg/server/ptypes/ref.go
  pkg/server/ptypes/runner.go
  pkg/server/ptypes/workspace.go
  pkg/serverhandler/handlertest/test_service_project.go
  tools.Dockerfile
  website/content/docs/upgrading/version-guides/0.9.0.mdx
  website/content/partials/components/configsourcer-terraform-cloud.mdx
  website/content/partials/funcs.mdx
Labels: core, website, plugin, pr/no-changelog

#3571 Ecs upgrade runner
  internal/cli/server_upgrade.go
  internal/installutil/adoption.go
  internal/installutil/aws/ecs.go
  internal/installutil/odr.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/ecs.go
Labels: core

#3580 updating the waypoint destroy help description
  .changelog/3580.txt
  internal/cli/destroy.go
  website/content/commands/destroy.mdx
Labels: core, website

#3582 EnvVars now represented on the website
  internal/cli/app_docs.go
  website/content/partials/components/configsourcer-terraform-cloud.mdx
  website/content/partials/components/configsourcer-vault.mdx
  website/content/partials/components/platform-azure-container-instance.mdx
  website/content/partials/components/platform-helm.mdx
  website/content/partials/components/platform-kubernetes-apply.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
  website/content/partials/components/platform-nomad-jobspec.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-aws-ecr.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
Labels: core, website, backport/website, pr/no-changelog

#3564 ECS Server Upgrades: stop task and reduce degregistration time
  .changelog/3564.txt
  internal/cli/server_upgrade.go
  internal/installutil/adoption.go
  internal/installutil/aws/ecs.go
  internal/installutil/odr.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/ecs.go
  website/content/commands/server-upgrade.mdx
Labels: core, website, core/install

#3585 docs: fix typos
  website/README.md
Labels: website

#3605 Fix the appening deprecating warning being fatal
  .changelog/3605.txt
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/init.go
  internal/config/app_test.go
  internal/config/validate.go
  internal/config/validate_test.go
  internal/core/project.go
  internal/runner/operation.go
Labels: core, backport/0.9.x

#3607 Fix integration by pinning to an older k3s version
  .circleci/config.yml
Labels: pr/no-changelog

#3604 Update project banner text
  .changelog/3604.txt
  ui/translations/en-us.yaml
Labels: ui

#3598 internal/serverintsall: fix dropped error
  internal/serverinstall/k8s.go
Labels: core, pr/no-changelog

#3608 update 0.9 deprecation upgrade notice
  website/content/docs/upgrading/version-guides/0.9.0.mdx
Labels: website, backport/website, pr/no-changelog

#3614 ui: Fix header spacing on build/release detail pages
  .changelog/3614.txt
  ui/app/components/panel-header.hbs
  ui/app/styles/components/navigation/panel-header.scss
  ui/tests/acceptance/percy-test.ts
Labels: ui

#3615 ui: Make it clearer that remote runners are required for GitOps
  .changelog/3615.txt
  ui/app/components/app-form/project-repository-settings.hbs
  ui/app/styles/components/card.scss
  ui/tests/acceptance/percy-test.ts
  ui/translations/en-us.yaml
Labels: ui

#3616 ui: Move template to correct directory
  ui/pull_request_template.md
Labels: ui, pr/no-changelog

#3546 core/install: Add --nomad-csi-volume-name flag to install
  .changelog/3546.txt
  internal/runnerinstall/nomad.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, backport/0.9.x
