Repository hashicorp/waypoint, pull requests merged in 2022-08, with the labels that each got.

#3627 fix: struct value syntax for WatchTaskStartupTimeoutSeconds
  builtin/k8s/task.go
Labels: plugin, plugin/k8s, backport/0.9.x

#3630 gitignore: Ignore any vscode log files from being committed
  .gitignore
Labels: pr/no-changelog

#3629 fix gen/website-mdx
  website/content/partials/components/task-kubernetes.mdx
Labels: website, backport/website, pr/no-changelog

#3637 Hide dynamic Mirage content from Percy diffs
  ui/README.md
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/operation-status-indicator.hbs
Labels: ui, pr/no-changelog

#3641 use fixed status on release and build mock data
  ui/tests/acceptance/percy-test.ts
Labels: ui, pr/no-changelog

#3640 Update circleci config
  .circleci/config.yml
  internal/runner/accept.go
  internal/server/boltdbstate/instance_test.go
  pkg/serverstate/statetest/test_instance.go
Labels: core, pr/no-changelog

#3647 Improve queue init job error
  pkg/server/singleprocess/service_project.go
Labels: pr/no-changelog, backport/0.9.x

#3602 Destroy Failed Deployments
  .changelog/3602.txt
  internal/cli/deployment_destroy.go
Labels: core

#3500 Server install: Nomad service discovery
  .changelog/3500.txt
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, backport/0.9.x

#3359 Refactor Nomad canary releaser into separate package
  .changelog/3359.txt
  builtin/nomad/canary/plugin.go
  builtin/nomad/canary/plugin.pb.go
  builtin/nomad/canary/plugin.proto
  builtin/nomad/canary/releaser.go
  builtin/nomad/jobspec/platform.go
  builtin/nomad/jobspec/plugin.go
  builtin/nomad/jobspec/plugin.pb.go
  builtin/nomad/jobspec/plugin.proto
  builtin/nomad/platform.go
  builtin/nomad/task.go
  internal/plugin/plugin.go
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
  website/content/partials/components/releasemanager-nomad-jobspec.mdx
Labels: core, website, plugin, plugin/nomad, ecosystem, backport/0.9.x

#3636 Fix VCS Git Dirty Err
  .changelog/3636.txt
  internal/client/job.go
  internal/pkg/gitdirty/gitdirty.go
  internal/pkg/gitdirty/gitdirty_test.go
  internal/pkg/gitdirty/testdata/README.md
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/HEAD
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/config
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/description
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/applypatch-msg.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/commit-msg.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/fsmonitor-watchman.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/post-update.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/pre-applypatch.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/pre-commit.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/pre-merge-commit.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/pre-push.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/pre-rebase.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/pre-receive.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/prepare-commit-msg.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/push-to-checkout.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/hooks/update.sample
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/DOTgit/info/exclude
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/README.md
  internal/pkg/gitdirty/testdata/ssh-remote-no-at/a.txt
Labels: core

#3634 Throttle unallowed runners by delaying before denying them access
  internal/runner/accept.go
  pkg/server/singleprocess/auth.go
Labels: core, pr/no-changelog

#3621 Prevent ALBs from timing out idle grpc streams
  internal/ceb/server.go
  internal/cli/server_run.go
  internal/runner/config.go
  internal/server/grpc.go
  internal/server/httpapi/exec_test.go
  pkg/inlinekeepalive/README.md
  pkg/inlinekeepalive/client.go
  pkg/inlinekeepalive/client_test.go
  pkg/inlinekeepalive/doc.go
  pkg/inlinekeepalive/keepalive.go
  pkg/inlinekeepalive/keepalive_test.go
  pkg/inlinekeepalive/server.go
  pkg/inlinekeepalive/server_test.go
  pkg/inlinekeepalive/testing.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_version.go
  pkg/serverclient/client.go
Labels: core, pr/no-changelog

#3658 Explicitly returning ODR config when setting it in state
  internal/server/boltdbstate/ondemand_runner.go
  pkg/server/singleprocess/service_ondemand_runner.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: core, pr/no-changelog

#3656 Get logs for a specific deployment with `waypoint logs`
  .changelog/3656.txt
  internal/cli/logs.go
  internal/client/operation.go
  website/content/commands/logs.mdx
Labels: core, website

#3657 Base init load fix
  .changelog/3657.txt
  internal/cli/base_init.go
  internal/cli/base_test.go
  internal/cli/testdata/invalid.hcl
  internal/cli/testdata/valid.hcl
Labels: core, core/cli, backport/0.9.x

#3618 Update check for existing docker server install
  internal/serverinstall/docker.go
Labels: core, pr/no-changelog, backport/0.9.x

#3609 Add additional OAuth2 hooks and handling
  internal/ceb/server.go
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_job.go
Labels: core, pr/no-changelog

#3662 Fixing inlinekeepalive early stream exit warning
  pkg/inlinekeepalive/client.go
  pkg/inlinekeepalive/server.go
Labels: pr/no-changelog

#3664 e2e updates
  test-e2e/README.md
  test-e2e/cli_smoke.test.go
  test-e2e/docker_smoke_test.go
  test-e2e/ecs_smoke_test.go
  test-e2e/k8s_smoke_test.go
  test-e2e/nomad_smoke_test.go
  test-e2e/run-test.sh
Labels: pr/no-changelog, tests

#3661 Sanitize server errs
  pkg/server/singleprocess/service_build.go
  pkg/server/singleprocess/service_deploy.go
  pkg/server/singleprocess/service_runner.go
  pkg/server/singleprocess/service_server.go
Labels: pr/no-changelog

#3652 (potential) bug fix: properly queue ODR source job in a task
  pkg/server/singleprocess/service_job.go
  pkg/serverhandler/handlertest/test_service_job.go
Labels: pr/no-changelog

#3670 Move token signing logic into serverstate
  internal/server/boltdbstate/token.go
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/auth_test.go
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_auth_oidc.go
  pkg/server/singleprocess/service_job.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_token.go
Labels: core, pr/no-changelog

#3672 Fixing todos and adding godoc comments
  internal/server/boltdbstate/token.go
Labels: core, pr/no-changelog

#3682 Remove PR template
  ui/pull_request_template.md
Labels: ui, pr/no-changelog

#3688 cli: Only display hint text if more than 0 default profiles on upgrade
  .changelog/3688.txt
  internal/cli/server_upgrade.go
Labels: core, backport/0.9.x

#3684 Use the active key id for signing adopted runner tokens
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#3693 test-e2e/docker: Include `stderr` output on CLI failures
  test-e2e/docker_smoke_test.go
Labels: pr/no-changelog

#3683 Minor runner install fixes
  internal/cli/runner_install.go
  internal/runnerinstall/ecs.go
Labels: core, pr/no-changelog, backport/0.9.x

#3698 inlinekeepalive client: ignore unavailable errors when determining compatibility
  pkg/inlinekeepalive/client.go
Labels: pr/no-changelog

#3701 Set SG and subnet configs during ECS runner install
  .changelog/3701.txt
  builtin/aws/ecs/task.go
  internal/runnerinstall/ecs.go
  website/content/partials/components/task-aws-ecs.mdx
Labels: core, website, plugin, plugin/aws

#3703 internal/core: Ensure proto message is proper type before return
  internal/core/app_build.go
  internal/core/app_deploy.go
  internal/core/app_push.go
  internal/core/app_release.go
Labels: core, pr/no-changelog

#3699 Default Runner Profile Plugin Configuration w/`runner install`
  .changelog/3699.txt
  .changelog/3701.txt
  builtin/aws/ecs/task.go
  internal/cli/install.go
  internal/cli/runner_install.go
  internal/cli/server_upgrade.go
  internal/installutil/odr.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/serverinstall/ecs.go
  internal/serverinstall/serverinstall.go
  website/content/partials/components/task-aws-ecs.mdx
Labels: core, website, plugin, plugin/aws, core/install, backport/0.9.x

#3705 internal/config: Detail that default use expected to not be ws scoped
  internal/config/validate.go
Labels: core, pr/no-changelog

#3702 bug: do not reset runner profile default if flag not specified
  .changelog/3702.txt
  internal/cli/runner_profile_set.go
  website/content/commands/runner-profile-set.mdx
Labels: core, website, backport/0.9.x

#3669 When auth'ing via oauth2, pass the waypoint token as well via grpc
  internal/ceb/server.go
  internal/cli/install.go
  internal/client/project.go
  internal/runner/accept.go
  internal/runner/runner.go
  pkg/server/auth.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_runner.go
  pkg/server/testing.go
  pkg/serverclient/client.go
  pkg/serverclient/client_test.go
  pkg/tokenutil/decode.go
  pkg/tokenutil/grpc.go
  pkg/tokenutil/oauth.go
Labels: core, pr/no-changelog

#3709 Not allowing user to set runner profile IDs
  internal/server/boltdbstate/ondemand_runner.go
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: core, pr/no-changelog, backport/0.9.x

#3676 feat(k8s-task): `ephemeral_storage`
  .changelog/3676.txt
  builtin/k8s/task.go
  website/content/partials/components/task-kubernetes.mdx
Labels: website, plugin, plugin/k8s

#3711 Docs - Custom plugins in remote ops
  website/content/docs/plugins.mdx
Labels: website, backport/website, pr/no-changelog

#3720 make gen/ts
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/tests/unit/services/api-test.ts
Labels: ui, pr/no-changelog

#3729 Bug/syncing install cli outputs
  .changelog/3729.txt
  internal/cli/install.go
  internal/serverinstall/k8s.go
Labels: core, backport/0.9.x

#3732 ui: add label to “follow logs” button
  .changelog/3732.txt
  ui/app/components/render-terminal/index.hbs
Labels: ui, backport/0.9.x

#3735 website: fix link from input vars to “literal expressions”
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website, backport/website, pr/no-changelog

#3599 Pipeline Tracking Database and Server Piece
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/pipeline_run.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core, pr/no-changelog

#3733 Runner backoff if server 404s
  internal/runner/accept.go
Labels: core, pr/no-changelog

#3736 properly nest subfields of plugin docs
  builtin/aws/ecs/platform.go
  builtin/azure/aci/platform.go
  builtin/exec/platform.go
  builtin/google/cloudrun/platform.go
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-azure-container-instance.mdx
  website/content/partials/components/platform-exec.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
Labels: website, plugin, plugin/google, plugin/azure, plugin/aws, backport/website, pr/no-changelog

#3739 ui: tidy page titles
  ui/app/templates/workspace/projects/project/app/builds.hbs
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/logs.hbs
  ui/app/templates/workspace/projects/project/app/releases.hbs
  ui/app/templates/workspace/projects/project/app/resources.hbs
Labels: bug, ui, pr/no-changelog, backport/0.9.x

#3746 Runner install - extra arguments
  .changelog/3746.txt
  internal/cli/runner_inspect.go
  internal/cli/runner_install.go
  internal/cli/runner_list.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
Labels: core, backport/0.9.x

#3757 docs/gen: Auto-generate platform docs for json
  docs/gen/platform-aws-ecs.json
  docs/gen/platform-azure-container-instance.json
  docs/gen/platform-exec.json
  docs/gen/platform-google-cloud-run.json
  docs/gen/task-aws-ecs.json
  docs/gen/task-kubernetes.json
Labels: pr/no-changelog

#3758 add docs for new -- on runner install
  internal/cli/runner_install.go
  website/content/commands/runner-install.mdx
Labels: core, website, pr/no-changelog, backport/0.9.x

#3755 `runner install` profile fixes & improvement
  .changelog/3755.txt
  internal/cli/runner_install.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  website/content/docs/runner/profiles.mdx
Labels: core, website, backport/0.9.x

#3765 include building the image in `make docker/gen/server`
  Makefile
  pkg/server/gen/mocks/is_token_transport__external_creds.go
Labels: pr/no-changelog

#3740 Making keepalive send errors quieter.
  pkg/inlinekeepalive/keepalive.go
Labels: pr/no-changelog

#3751 CLI: Auto ConfigSync Pipelines
  internal/cli/init.go
  internal/cli/pipeline_run.go
  pkg/server/singleprocess/service_pipeline.go
  website/content/commands/pipeline-run.mdx
Labels: core, website, pr/no-changelog

#3754 builtin/pack: Only show warning if on unsupported arch
  builtin/pack/builder.go
Labels: plugin, plugin/pack, pr/no-changelog

#3756 core/runner: Fix server panic when runner is forgotten
  .changelog/3756.txt
  internal/server/boltdbstate/runner.go
Labels: core

#3766 Fix `nomad-jobspec-canary` plugin status
  .changelog/3766.txt
  builtin/nomad/canary/releaser.go
  builtin/nomad/jobspec/plugin.pb.go
  builtin/nomad/jobspec/plugin.proto
Labels: plugin, plugin/nomad

#3730 Prune old releases
  .changelog/3730.txt
  internal/runner/operation_release.go
Labels: core

#3761 Fix error message for missing Nomad runner install persistence args
  .changelog/3761.txt
  internal/cli/install.go
  internal/installutil/adoption.go
  internal/runnerinstall/nomad.go
Labels: core, core/install, backport/0.9.x

#3771 website: remove section on `project apply -runner-profile=...`
  website/content/docs/runner/profiles.mdx
Labels: website, backport/website, pr/no-changelog
