Repository hashicorp/waypoint, pull requests merged in 2022-12, with the labels that each got.

#4253 Remove Percy
  .circleci/config.yml
  ui/README.md
  ui/app/components/app-footer/index.hbs
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/operation-status-indicator.hbs
  ui/app/styles/app.scss
  ui/package.json
  ui/tests/acceptance/percy-test.ts
  ui/yarn.lock
Labels: ui, pr/no-changelog

#4211 Use Case: Dynamic config w/Vault Dynamic secrets
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/data/docs-nav-data.json
Labels: documentation, website, pr/no-changelog, plugin/vault, backport/0.10.x

#4256 chore: Update Digital Team Files
  website/Makefile
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website, pr/no-changelog

#4257 Bug fix: Filter out empty names from context list
  .changelog/4257.txt
  internal/clicontext/storage.go
Labels: core/cli, backport/0.10.x

#3944 Runner uninstall enhancements
  .changelog/3944.txt
  internal/cli/runner_install.go
  internal/cli/runner_uninstall.go
  internal/installutil/aws/ecs.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/ecs.go
Labels: core, plugin/ecs, core/runner, core/install, backport/0.10.x

#4258 add slack notification for failed backports
  .github/workflows/failed-backport-check.yml
Labels: pr/no-changelog

#4251 HCP Packer Config Sourcer plugin
  .changelog/4251.txt
  builtin/packer/config_sourcer.go
  builtin/packer/packer.go
  builtin/tfc/config_sourcer.go
  embedJson/gen/builder-packer.json
  embedJson/gen/configsourcer-packer.json
  embedJson/gen/platform-packer.json
  embedJson/gen/registry-packer.json
  embedJson/gen/releasemanager-packer.json
  embedJson/gen/task-packer.json
  go.mod
  go.sum
  internal/plugin/plugin.go
  website/content/partials/components/builder-packer.mdx
  website/content/partials/components/configsourcer-packer.mdx
  website/content/partials/components/platform-packer.mdx
  website/content/partials/components/registry-packer.mdx
  website/content/partials/components/releasemanager-packer.mdx
  website/content/partials/components/task-packer.mdx
  website/content/plugins/packer.mdx
  website/data/plugins-nav-data.json
Labels: core, website, plugin, backport/0.10.x

#4269 Backport of HCP Packer Config Sourcer plugin into release/0.10.x
  .changelog/4251.txt
  builtin/packer/config_sourcer.go
  builtin/packer/packer.go
  builtin/tfc/config_sourcer.go
  builtin/vault/internal/auth/aws/aws.go
  embedJson/gen/builder-packer.json
  embedJson/gen/configsourcer-packer.json
  embedJson/gen/platform-packer.json
  embedJson/gen/registry-packer.json
  embedJson/gen/releasemanager-packer.json
  embedJson/gen/task-packer.json
  go.mod
  go.sum
  internal/plugin/plugin.go
  website/content/partials/components/builder-packer.mdx
  website/content/partials/components/configsourcer-packer.mdx
  website/content/partials/components/platform-packer.mdx
  website/content/partials/components/registry-packer.mdx
  website/content/partials/components/releasemanager-packer.mdx
  website/content/partials/components/task-packer.mdx
  website/content/plugins/packer.mdx
  website/data/plugins-nav-data.json
Labels: core, website, plugin

#4263 Use Case: Blue-Green Deployments
  website/content/docs/intro/use-cases/blue-green-deployment.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/blue-green-deployment/blue-deployment-nomad-ui.png
  website/public/img/use-cases/blue-green-deployment/blue-deployment-waypoint-ui.png
  website/public/img/use-cases/blue-green-deployment/final-deployment-consul-ui.png
  website/public/img/use-cases/blue-green-deployment/final-deployment-nomad-ui.png
  website/public/img/use-cases/blue-green-deployment/green-deployment-consul-ui.png
  website/public/img/use-cases/blue-green-deployment/green-deployment-nomad-ui.png
Labels: documentation, website, backport/website, pr/no-changelog

#4271 Add pagination to list job
  .changelog/4271.txt
  internal/cli/job_list.go
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/state_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/ptypes/job.go
  pkg/server/singleprocess/poll_test.go
  pkg/server/singleprocess/service_exec_test.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/serverhandler/handlertest/test_service_job.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_project.go
Labels: core

#4276 Fixup: `waypoint job list` Fixups
  .changelog/4271.txt
  internal/cli/job_list.go
Labels: core, pr/no-changelog

#4278 Add error cases to JobList state tests
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog

#4268 Pipeline run failures show run results
  .changelog/4268.txt
  internal/cli/pipeline_run.go
Labels: core, backport/0.10.x

#3993 Externalizing a few more errors in service_job
  pkg/server/singleprocess/service_job.go
Labels: pr/no-changelog, backport/0.10.x

#4291 Update CHANGELOG.md
  CHANGELOG.md
Labels: pr/no-changelog

#4280 Reduce dependabot frequency
  .github/dependabot.yml
Labels: pr/no-changelog

#4299 Add error check after destroying a deployment
  internal/core/app_deploy_destroy.go
Labels: core, pr/no-changelog, backport/0.10.x

#4292 fix: update website scripts to reflect the most recent versions
  website/Makefile
  website/package-lock.json
  website/package.json
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website

#3932 docs(plugin-interfaces): General improvements
  website/content/docs/extending-waypoint/plugin-interfaces/authenticator.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/builder.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable-notify.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configurable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/default-parameters.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/destroy.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/index.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/platform.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/registry.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/release-manager.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/status.mdx
Labels: website, backport/website, pr/no-changelog, backport/0.10.x

#4298 Upgrading to go 1.19
  .circleci/config.yml
  Dockerfile
  go.mod
  go.sum
  internal/assets/dev_assets.go
  internal/cli/base.go
  internal/cli/datagen/datagen.go
  internal/client/job.go
  internal/client/server.go
  internal/config/validate.go
  internal/core/app.go
  internal/pkg/ctystructure/object.go
  internal/pkg/gitdirty/gitdirty.go
  internal/pkg/httpfs/bindata_test.go
  internal/pkg/jsonpb/decode.go
  internal/pkg/jsonpb/encode.go
  internal/pkg/validationext/struct.go
  internal/plugin/discover.go
  internal/runner/runner.go
  internal/server/boltdbstate/db.go
  internal/serverinstall/k8s.go
  pkg/auth/oidc/claims.go
  pkg/protocolversion/current.go
  pkg/server/gen/server.pb.go
  pkg/server/logbuffer/logbuffer.go
  tools.Dockerfile
Labels: core, pr/no-changelog

#4302 website: Include docs on how to load reg creds from Vault
  website/content/docs/lifecycle/build.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#4307 ci: Install latest go version for 1.19
  .circleci/config.yml
Labels: pr/no-changelog

#4312 Fix Job Stream test flakiness
  pkg/serverhandler/handlertest/test_service_job.go
Labels: pr/no-changelog, tests, backport/0.10.x

#4272 use pull_request_target instead of pull_request
  .github/workflows/failed-backport-check.yml
Labels: pr/no-changelog

#4265 cli: remove multi-app deprecation warning
  .changelog/4265.txt
  internal/config/validate.go
Labels: core, backport/0.10.x

#4297 More detailed runner job stream logging
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#4319 cli: Respect DataSourceOverrides CLI flag
  .changelog/4319.txt
  internal/cli/pipeline_run.go
Labels: core, backport/0.10.x

#4321 server: Include event request on err
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog, backport/0.10.x

#4294 Enhance Waypoint Job Cancel Output
  .changelog/4294.txt
  internal/cli/job_cancel.go
Labels: core

#4324 server: Ensure a job is not stuck in Running and is Completed on err processing job events
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog, backport/0.10.x

#4329 server: add `DestroyProject` to `gateway.yml`
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog, core/server, core/api

#4328 aws/lambda: Inject deployment configs to Lambda functions
  .changelog/4328.txt
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws, plugin/lambda

#4326 Backport of server: Ensure a job is not stuck in Running and is Completed on err processing job events into release/0.10.x
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#4330 internal/core: Gracefully handle bad proto message from destroyments
  internal/core/app_deploy_destroy.go
Labels: core, pr/no-changelog, backport/0.10.x

#4332 test: Wait 1000 ms for job to fix flakey test
  pkg/serverhandler/handlertest/test_service_job.go
Labels: pr/no-changelog, tests

#4327 Adding mechanism for surfacing deep errors to users
  pkg/server/hcerr/doc.go
  pkg/server/hcerr/hcerr.go
  pkg/server/hcerr/hcerr_test.go
  pkg/server/hcerr/user_error.go
  pkg/server/singleprocess/service_job.go
Labels: pr/no-changelog

#4339 Add release notes for 0.10.5
  CHANGELOG.md
Labels: pr/no-changelog

#4340 state: add `JobLatestInit`
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
Labels: core, pr/no-changelog

#4341 [app_docs] add `hclFormat` func
  Makefile
  internal/cli/app_docs.go
Labels: core, pr/no-changelog

#4336 website: Add use-case for GitHub Actions and Waypoint
  website/content/docs/intro/use-cases/waypoint-gh-actions.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/gh-action/action-secrets.png
  website/public/img/use-cases/gh-action/action-workflows.png
  website/public/img/use-cases/gh-action/set-action-secret.png
Labels: website, backport/website, pr/no-changelog

#4334 Make projects pagination tests more specific
  pkg/serverstate/statetest/test_project.go
Labels: pr/no-changelog

#4349 Backport/stable website/use case gh actions
  website/content/docs/intro/use-cases/waypoint-gh-actions.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/gh-action/action-secrets.png
  website/public/img/use-cases/gh-action/action-workflows.png
  website/public/img/use-cases/gh-action/set-action-secret.png
Labels: website, pr/no-changelog, backport/0.10.x

#4350 Backport/010x/use case gh action
  website/content/docs/intro/use-cases/waypoint-gh-actions.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/gh-action/action-secrets.png
  website/public/img/use-cases/gh-action/action-workflows.png
  website/public/img/use-cases/gh-action/set-action-secret.png
Labels: website, pr/no-changelog

#4345 feat(plugins/k8s): add prune_whitelist support pt2
  .changelog/4345.txt
  builtin/k8s/apply/platform.go
  builtin/k8s/apply/plugin.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/apply/plugin.proto
  embedJson/gen/platform-kubernetes-apply.json
  website/content/partials/components/platform-kubernetes-apply.mdx
Labels: website, plugin, plugin/k8s, backport/0.10.x

#4346 feat(plugins/k8s): add security_context option for on-demand runners pt2
  .changelog/4346.txt
  builtin/k8s/platform.go
  builtin/k8s/task.go
  embedJson/gen/platform-kubernetes.json
  embedJson/gen/task-kubernetes.json
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/task-kubernetes.mdx
Labels: website, plugin, plugin/k8s, backport/0.10.x

#4353 Use case/bg deploy for website
  website/content/docs/intro/use-cases/blue-green-deployment.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/blue-green-deployment/blue-deployment-nomad-ui.png
  website/public/img/use-cases/blue-green-deployment/blue-deployment-waypoint-ui.png
  website/public/img/use-cases/blue-green-deployment/final-deployment-consul-ui.png
  website/public/img/use-cases/blue-green-deployment/final-deployment-nomad-ui.png
  website/public/img/use-cases/blue-green-deployment/green-deployment-consul-ui.png
  website/public/img/use-cases/blue-green-deployment/green-deployment-nomad-ui.png
Labels: website, backport/website, pr/no-changelog

#4351 Backport of feat(plugins/k8s): add prune_whitelist support pt2 into release/0.10.x
  .changelog/4345.txt
  builtin/k8s/apply/platform.go
  builtin/k8s/apply/plugin.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/apply/plugin.proto
  embedJson/gen/platform-kubernetes-apply.json
  website/content/partials/components/platform-kubernetes-apply.mdx
Labels: website, plugin, plugin/k8s, pr/no-changelog

#4354 Use case/bg deploy again final2 finalfinal3
  website/content/docs/intro/use-cases/blue-green-deployment.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/blue-green-deployment/blue-deployment-nomad-ui.png
  website/public/img/use-cases/blue-green-deployment/blue-deployment-waypoint-ui.png
  website/public/img/use-cases/blue-green-deployment/final-deployment-consul-ui.png
  website/public/img/use-cases/blue-green-deployment/final-deployment-nomad-ui.png
  website/public/img/use-cases/blue-green-deployment/green-deployment-consul-ui.png
  website/public/img/use-cases/blue-green-deployment/green-deployment-nomad-ui.png
Labels: pr/no-changelog
