Repository hashicorp/waypoint, pull requests merged in 2022-05, with the labels that each got.

#3300 runner: static runners accept multiple jobs in parallel
  .changelog/3300.txt
  internal/cli/runner_agent.go
  internal/runner/accept.go
  internal/runner/accept_test.go
  website/content/commands/runner-agent.mdx
Labels: core, website

#3305 contrib: Specify explicit Kind/K8s version in setup script
  contrib/serverinstall/kind-k8s/README.md
  contrib/serverinstall/kind-k8s/setup-k8s.sh
Labels: pr/no-changelog

#3306 Add "WatchTask" operation to watch ODR launch tasks and expose more debug info
  .changelog/3306.txt
  builtin/aws/ecs/task.go
  builtin/docker/task.go
  builtin/k8s/task.go
  builtin/nomad/task.go
  go.mod
  go.sum
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/runner/accept.go
  internal/runner/operation_task.go
  internal/server/httpapi/trigger.go
  internal/server/httpapi/trigger_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_trigger.go
Labels: core, plugin, plugin/docker, plugin/nomad, plugin/k8s, plugin/aws

#3303 Set up dependabot for HashiCorp addons in /ui
  .github/dependabot.yml
Labels: pr/no-changelog

#3297 docs: Document On-Demand Runners and Tasks
  builtin/k8s/platform.go
  website/content/docs/runner/index.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/plugins/nomad.mdx
  website/data/docs-nav-data.json
Labels: website, plugin, plugin/k8s, backport/website, pr/no-changelog

#3298 Add ability to embed and use OAuth creds in a waypoint token
  .changelog/3298.txt
  go.mod
  go.sum
  internal/server/httpapi/exec_test.go
  internal/server/httpapi/trigger_test.go
  internal/serverclient/client.go
  internal/serverclient/client_test.go
  internal/serverclient/token.go
  pkg/server/gen/mocks/is_token__external_creds.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

#3304 Begin to swap out custom WP IconTile for HDS IconTile
  ui/app/components/page-header.hbs
  ui/app/styles/_layout.scss
  ui/app/styles/app.scss
  ui/app/styles/components/card.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/navigation/panel-header.scss
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#3307 plugin/k8s: Add CPU/Memory resource limits to ODR
  .changelog/3307.txt
  builtin/k8s/task.go
  internal/serverinstall/k8s.go
  website/README.md
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/partials/components/task-kubernetes.mdx
Labels: core, website, plugin, plugin/k8s, backport/0.8.x

#3317 Hide dynamic year from Percy
  ui/app/components/app-footer/index.hbs
  ui/app/styles/app.scss
Labels: ui, pr/no-changelog

#3322 builtin/k8s/task: Explicitly set container env var for Kaniko
  .changelog/3322.txt
  builtin/k8s/task.go
Labels: plugin, plugin/k8s, backport/0.8.x

#3308 Update release metadata file names
  .release/waypoint-entrypoint-release-metadata.hcl
  .release/waypoint-release-metadata.hcl
Labels: pr/no-changelog, backport/0.7.x, backport/0.8.x

#3301 Extract most of the server handler test suite
  internal/cli/base_init.go
  internal/cli/context_verify.go
  internal/cli/install.go
  internal/cli/k8s_bootstrap.go
  internal/cli/login.go
  internal/cli/runner_agent.go
  internal/cli/server_upgrade.go
  internal/cli/version.go
  internal/client/project.go
  internal/client/server.go
  internal/runner/accept.go
  internal/runner/runner.go
  internal/server/httpapi/exec.go
  internal/server/httpapi/trigger.go
  pkg/server/singleprocess/handler_test.go
  pkg/server/singleprocess/service_deploy_test.go
  pkg/server/singleprocess/service_logs_test.go
  pkg/server/singleprocess/service_server_test.go
  pkg/server/testing.go
  pkg/serverclient/client.go
  pkg/serverclient/client_test.go
  pkg/serverclient/doc.go
  pkg/serverclient/token.go
  pkg/serverhandler/doc.go
  pkg/serverhandler/handlertest/doc.go
  pkg/serverhandler/handlertest/handlertest.go
  pkg/serverhandler/handlertest/test_service_artifact.go
  pkg/serverhandler/handlertest/test_service_auth_method.go
  pkg/serverhandler/handlertest/test_service_auth_oidc.go
  pkg/serverhandler/handlertest/test_service_build.go
  pkg/serverhandler/handlertest/test_service_config.go
  pkg/serverhandler/handlertest/test_service_deploy.go
  pkg/serverhandler/handlertest/test_service_instance.go
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
  pkg/serverhandler/handlertest/test_service_project.go
  pkg/serverhandler/handlertest/test_service_release.go
  pkg/serverhandler/handlertest/test_service_status_report.go
  pkg/serverhandler/handlertest/test_service_trigger.go
  pkg/serverhandler/handlertest/test_service_ui_deploy.go
  pkg/serverhandler/handlertest/test_service_ui_project.go
  pkg/serverhandler/handlertest/test_service_ui_release.go
  pkg/serverhandler/handlertest/test_service_user.go
  pkg/serverhandler/handlertest/test_service_waypointhcl.go
  pkg/serverhandler/handlertest/test_service_workspace.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/statetest.go
Labels: core, pr/no-changelog

#3279 Support CSI parameters & secrets with Nomad install
  .changelog/3279.txt
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website, core/install, backport/0.8.x

#3287 Support HCL1 Jobspec for Nomad
  .changelog/3287.txt
  builtin/nomad/jobspec/platform.go
  go.mod
  go.sum
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
  website/content/partials/components/platform-nomad-jobspec.mdx
Labels: website, plugin, plugin/nomad, backport/0.8.x, ecosystem

#3331 Add /ui PR template
  ui/.github/pull_request_template.md
Labels: pr/no-changelog

#3320 Pipeline Step Execution
  builtin/docker/task.go
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/client/job.go
  internal/jobstreamui/ui.go
  internal/runner/operation.go
  internal/runner/operation_pipeline_step.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
Labels: core, plugin, plugin/docker, pr/no-changelog

#3321 internal/core: Introduce `pipeline` and `step` parsing and validation for HCL config
  internal/config/config.go
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline.hcl
  internal/config/testdata/pipelines/pipeline_multi_step.hcl
  internal/config/testdata/pipelines/pipeline_no_step.hcl
  internal/config/testdata/pipelines/pipeline_step.hcl
  internal/config/validate.go
  internal/config/validate_test.go
Labels: core

#3338 serverhandler: tweak docs
  pkg/serverhandler/handlertest/doc.go
Labels: pr/no-changelog

#3339 Fix dependabot, was missing "updates:"
  .github/dependabot.yml
Labels: pr/no-changelog

#3344 server: Ensure primary ODR job gets added as dependency
  internal/server/boltdbstate/task.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
Labels: bug, core, pr/no-changelog

#3345 Nomad interpolation doc note
  builtin/nomad/jobspec/platform.go
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
  website/content/partials/components/platform-nomad-jobspec.mdx
Labels: documentation, website, plugin, plugin/nomad, backport/website, pr/no-changelog, ecosystem

#3346 RunPipeline API
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/job.go
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: pr/no-changelog

#3238 Interactive Input for server upgrade, uninstall, and destroy commands
  .changelog/3238.txt
  internal/cli/destroy.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
Labels: core

#3353 pipelines: Add `waypoint pipeline list`, `waypoint pipeline inspect`, `GetPipeline` and `ListPipelines`
  internal/cli/main.go
  internal/cli/pipeline_inspect.go
  internal/cli/pipeline_list.go
  internal/cli/pipeline_run.go
  internal/server/boltdbstate/pipeline.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
  pkg/serverstate/serverstate.go
Labels: core

#3357 ui/tests: add missing closing brackets from resource-list tests
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
Labels: ui, pr/no-changelog, backport/0.8.x

#3213 feat(aws-lambda): storage
  .changelog/3213.txt
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
  builtin/aws/lambda/plugin.proto
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website, plugin, plugin/aws, backport/0.8.x

#3364 Cherry pick/3213
  .changelog/3213.txt
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
  go.mod
  go.sum
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website, plugin, plugin/aws

#3282 feat(aws-lambda): `static_environment`
  .changelog/3282.txt
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/plugin.proto
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website, plugin, plugin/aws, backport/0.8.x

#3360 internal/cli: Upgrade go-getter library to latest
  go.mod
  go.sum
  internal/cli/init.go
Labels: core, pr/no-changelog, backport/0.8.x

#3370 Update changelog
  CHANGELOG.md
Labels: pr/no-changelog, backport/0.8.x

#3372 Update changelog
  CHANGELOG.md
Labels: pr/no-changelog

#3355 WAYP-190 Add jobs and ui endpoints to gateway and re-gen json.
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog

#3373 Extract `internal/jobstream` from `internal/client`
  internal/client/job.go
  internal/jobstream/doc.go
  internal/jobstream/option.go
  internal/jobstream/stream.go
  internal/jobstream/test/doc.go
  internal/jobstream/test/stream_test.go
  internal/jobstream/ui.go
  internal/runner/operation_pipeline_step.go
Labels: core, pr/no-changelog

#3375 Getting some checksum issues. Need latest release of go-getter.
  go.mod
  go.sum
Labels: pr/no-changelog, backport/0.8.x

#3386 website: fix tutorials links
  website/content/docs/getting-started/index.mdx
Labels: website

#3382 Automate frontend reviews for dependabot with CODEOWNERS
  .github/CODEOWNERS
Labels: pr/no-changelog
