Repository hashicorp/waypoint, pull requests merged in 2022-02, with the labels that each got.

#2968 replace nil value with non-nil value
  .changelog/2968.txt
  internal/cli/base.go
Labels: core, backport/0.7.x

#2967 statetest: Add missing tests and make timeouts more flexible
  pkg/server/ptypes/release.go
  pkg/server/ptypes/workspace.go
  pkg/server/sort/config.go
  pkg/server/sort/release.go
  pkg/serverstate/statetest/test_artifact.go
  pkg/serverstate/statetest/test_build.go
  pkg/serverstate/statetest/test_config.go
  pkg/serverstate/statetest/test_config_source.go
  pkg/serverstate/statetest/test_deployment.go
  pkg/serverstate/statetest/test_instance.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_release.go
  pkg/serverstate/statetest/test_runner.go
  pkg/serverstate/statetest/test_server_config.go
  pkg/serverstate/statetest/test_server_urltoken.go
  pkg/serverstate/statetest/test_snapshot.go
  pkg/serverstate/statetest/test_status_report.go
  pkg/serverstate/statetest/test_workspace.go
Labels: pr/no-changelog

#2977 ui: use alternative method to support icons in Percy
  ui/tests/acceptance/percy-test.ts
  ui/tests/index.html
Labels: ui, pr/no-changelog

#2861 ui: ember 3.28
  .github/workflows/ember-assets.yml
  ui/.eslintignore
  ui/.eslintrc.js
  ui/app/utils/create-terminal.ts
  ui/config/ember-cli-update.json
  ui/ember-cli-build.js
  ui/package.json
  ui/tests/index.html
  ui/tests/integration/components/operation-status-indicator-test.ts
  ui/tests/integration/components/render-terminal-test.ts
  ui/tests/unit/services/api-test.ts
  ui/yarn.lock
Labels: ui, pr/no-changelog, backport/0.7.x

#2943 Add `.vscode/launch_template.json`
  .vscode/launch_template.json
Labels: contrib, pr/no-changelog

#2927 ui: remove unused import
  ui/tests/integration/components/workspace-switcher-test.ts
Labels: ui, pr/no-changelog, backport/0.7.x

#2971 Handle auth error in workspaces route
  .changelog/2971.txt
  ui/app/routes/workspaces.ts
  ui/tests/acceptance/auth-test.ts
Labels: ui

#2963 Hash labels as part of runner tokens and adoption
  internal/cli/runner_token.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/runner.go
  pkg/server/ptypes/runner.go
  pkg/server/ptypes/runner_test.go
  pkg/serverstate/statetest/test_runner.go
  website/content/commands/runner-token.mdx
Labels: core, website, pr/no-changelog

#2989 internal/server: RunnerConfig: create runner after token validation
  internal/server/singleprocess/service_runner.go
Labels: core, pr/no-changelog

#2988 Generate swagger spec from the server protobuf schema
  go.mod
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/server.go
  tools/tools.go
Labels: pr/no-changelog

#2970 core: HTTP Trigger URLs
  .changelog/2970.txt
  internal/cli/trigger_apply.go
  internal/cli/trigger_list.go
  internal/cli/ui.go
  internal/server/http.go
  internal/server/httpapi/trigger.go
  internal/server/httpapi/trigger_test.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/service_trigger.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
  website/content/docs/triggers.mdx
Labels: core, website, backport/0.7.x

#2991 fix(docs): aws-lambda typo
  website/content/plugins/aws-lambda.mdx
Labels: website, backport/website, pr/no-changelog, backport/0.5.x, backport/0.6.x

#2994 Fix minor typo
  builtin/aws/lambda/platform.go
Labels: plugin, plugin/aws, pr/no-changelog, backport/0.7.x

#3003 Revert "Backport of ui: remove unused import into release/0.7.x"
  ui/tests/integration/components/workspace-switcher-test.ts
Labels: ui

#3007 Make runner profile optional in waypoint HCL
  internal/config/config.go
Labels: core, pr/no-changelog, backport/0.7.x

#3005 Add tooling to generate protos with docker
  Makefile
  tools.Dockerfile
Labels: pr/no-changelog

#2983 ui: rearrange deployment routes
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/deployment.hbs
  ui/app/components/app-item/release.hbs
  ui/app/components/resources-table-extended.hbs
  ui/app/components/timeline.ts
  ui/app/controllers/workspace/projects/project/app/deployments.ts
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/deployment-id.ts
  ui/app/routes/workspace/projects/project/app/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployments.ts
  ui/app/routes/workspace/projects/project/app/deployments/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployments/deployment/resource.ts
  ui/app/routes/workspace/projects/project/app/deployments/index.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/deployments.hbs
  ui/app/templates/workspace/projects/project/app/deployments/deployment.hbs
  ui/app/templates/workspace/projects/project/app/deployments/deployment/resource.hbs
  ui/tests/acceptance/deployment-detail-test.ts
  ui/tests/acceptance/deployment-resource-detail-test.ts
  ui/tests/acceptance/deployment-resource-list-test.ts
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/acceptance/release-resource-list-test.ts
  ui/tests/acceptance/workspaces-test.ts
Labels: ui, pr/no-changelog, backport/0.7.x

#3010 ci: remove ember-test parallelism
  .circleci/config.yml
Labels: pr/no-changelog, backport/0.7.x

#3012 ci: remove memory usage trace from ember-build-tests
  .circleci/config.yml
Labels: pr/no-changelog, backport/0.7.x

#2895 Feat/docker auth
  .changelog/2895.txt
  builtin/docker/builder.go
  builtin/docker/platform.go
  builtin/docker/pull/builder.go
  builtin/docker/registry.go
  builtin/docker/registry_docker.go
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/registry-docker.mdx
Labels: website, plugin, plugin/docker

#3015 Format Makefile
  Makefile
Labels: pr/no-changelog

#3019 ui: ember-a11y-refocus@^2.3.0
  .changelog/3019.txt
  ui/package.json
  ui/yarn.lock
Labels: ui, backport/0.7.x

#3021 Add `waypoint runner inspect` to website
  website/data/commands-nav-data.json
Labels: website, pr/no-changelog

#3027 Fix some broken links in website documentation
  website/content/docs/exec.mdx
  website/content/docs/kubernetes/container-build.mdx
  website/content/docs/triggers.mdx
Labels: website, backport/website, pr/no-changelog

#3040 cli: Requires `-app` flag if `config set -scope=app` is set.
  .changelog/3040.txt
  internal/cli/config_set.go
Labels: core, backport/0.7.x

#3045 Rename "cookie" metadata to "wpcookie"
  internal/runner/runner.go
  internal/server/singleprocess/auth.go
  pkg/server/testing.go
Labels: core, pr/no-changelog

#3044 Fix the -set-default flag for `context create`.
  .changelog/3044.txt
  internal/cli/context_create.go
  website/content/commands/context-create.mdx
Labels: core, website

#3048 fixup: Don't include default value
  internal/cli/context_create.go
  website/content/commands/context-create.mdx
Labels: core, website, pr/no-changelog
