Repository hashicorp/waypoint, pull requests merged in 2022-01, with the labels that each got.

#2860 Guard against a misconfigured project datasource
  internal/client/job.go
Labels: core, pr/no-changelog, core/cli

#2837 UI/ember a11y refocus
  .changelog/2837.txt
  ui/app/components/header/index.hbs
  ui/app/templates/application.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui, ui/a11y

#2874 Fix broken link to remote-runners
  website/content/docs/waypoint-hcl/registry.mdx
Labels: website, pr/no-changelog

#2877 lock ember-cli-flash to 2.1
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#2887 UI: OIDC tweaks
  ui/app/components/oidc-auth-buttons/index.ts
  ui/app/styles/pages/auth-page.scss
Labels: ui, pr/no-changelog

#2888 builtin/docker: fix crash during stop task with ODR
  builtin/docker/task.go
Labels: plugin, plugin/docker, pr/no-changelog

#2852 ui: build and release tabs tables view
  .changelog/2852.txt
  ui/app/components/app-item/build.hbs
  ui/app/components/app-item/release.hbs
  ui/app/routes/workspace/projects/project/app/builds.ts
  ui/app/routes/workspace/projects/project/app/releases.ts
  ui/app/styles/components/table.scss
  ui/app/templates/workspace/projects/project/app/builds.hbs
  ui/app/templates/workspace/projects/project/app/deployment/deployment-seq.hbs
  ui/app/templates/workspace/projects/project/app/releases.hbs
  ui/tests/acceptance/builds-list-test.ts
  ui/tests/acceptance/releases-list-test.ts
  ui/tests/integration/components/app-item/build-test.ts
  ui/tests/integration/components/app-item/release-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2892 internal/config/dynamic: rename configdynamic() to dynamic()
  .changelog/2892.txt
  internal/config/dynamic/func.go
Labels: core

#2891 website: document dynamic variable values
  builtin/aws/ssm/config_sourcer.go
  builtin/k8s/config_sourcer.go
  builtin/null/config_sourcer.go
  builtin/tfc/config_sourcer.go
  builtin/vault/config_sourcer.go
  internal/cli/app_docs.go
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/app-config/internal.mdx
  website/content/docs/kubernetes/config.mdx
  website/content/docs/waypoint-hcl/config.mdx
  website/content/docs/waypoint-hcl/functions/all.mdx
  website/content/docs/waypoint-hcl/variables/dynamic.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/content/partials/components/configsourcer-aws-ssm.mdx
  website/content/partials/components/configsourcer-kubernetes.mdx
  website/content/partials/components/configsourcer-terraform-cloud.mdx
  website/content/partials/components/configsourcer-vault.mdx
  website/data/docs-nav-data.json
Labels: core, website, plugin, plugin/k8s, plugin/aws, pr/no-changelog

#2890 Update terminal resize handler and use resize observer
  .changelog/2890.txt
  ui/app/components/render-terminal/index.hbs
  ui/app/components/render-terminal/index.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

#2878 Upsert Workspace with remote init operation is called
  internal/runner/operation_init.go
  internal/runner/operation_init_test.go
Labels: core, pr/no-changelog

#2893 ui: 0.7 cleanup (fix dark mode styling, spacing on timeline comp, etc.)
  .changelog/2893.txt
  ui/app/components/app-card.hbs
  ui/app/components/panel-header.hbs
  ui/app/components/timeline.hbs
  ui/app/routes/workspace/projects/project/app/builds.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/routes/workspace/projects/project/app/logs.ts
  ui/app/routes/workspace/projects/project/app/releases.ts
  ui/app/styles/_layout.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/navigation/panel-header.scss
  ui/app/styles/components/timeline.scss
  ui/app/styles/components/workspace-switcher.scss
  ui/app/templates/workspace/projects/project/app/logs.hbs
Labels: ui

#2777 Resources route
  .changelog/2777.txt
  ui/app/components/resources-table-extended.hbs
  ui/app/components/resources-table.hbs
  ui/app/router.js
  ui/app/routes/workspace/projects/project/app/resources.ts
  ui/app/templates/workspace/projects/project/app.hbs
  ui/app/templates/workspace/projects/project/app/resources.hbs
  ui/translations/en-us.yaml
Labels: ui

#2879 ui: updated the ui of list items on deployments tab
  .changelog/2879.txt
  ui/app/components/app-item/deployment.hbs
  ui/app/helpers/clean-up-url.ts
  ui/app/styles/_variables.scss
  ui/app/styles/components/app-item.scss
  ui/tests/acceptance/deployments-list-test.ts
  ui/tests/integration/helpers/clean-up-url-test.ts
  ui/translations/en-us.yaml
Labels: ui

#2897 ui: readded lost translations
  ui/translations/en-us.yaml
Labels: bug, ui, pr/no-changelog

#2840 feature: RunTrigger gRPC endpoint for Waypoint Server
  .changelog/2840.txt
  internal/cli/trigger_apply.go
  internal/cli/trigger_inspect.go
  internal/cli/trigger_list.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/trigger.go
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_trigger.go
  internal/server/singleprocess/service_trigger_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/job_test.go
  internal/server/singleprocess/state/trigger.go
  internal/serverstate/serverstate.go
  website/content/commands/trigger-create.mdx
  website/content/commands/trigger-inspect.mdx
  website/content/commands/trigger-list.mdx
  website/content/commands/trigger-update.mdx
  website/content/docs/triggers.mdx
  website/data/docs-nav-data.json
Labels: core, website

#2902 website: upgrade downloads page
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog

#2899 internal/serverinstall: fix dropped error
  internal/serverinstall/nomad.go
Labels: core, pr/no-changelog

#2898 ui: spacing adjustments
  .changelog/2898.txt
  ui/app/components/image-ref.hbs
  ui/app/components/operation-status-indicator/release.hbs
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/operation-status-indicator.scss
  ui/app/templates/workspace/projects/project/app/exec.hbs
  ui/app/templates/workspace/projects/project/app/logs.hbs
Labels: ui

#2901 ui: Ensure `<OperationLogs>` reacts correctly when `@jobId` updates
  .changelog/2901.txt
  ui/app/components/operation-logs/index.hbs
  ui/app/components/operation-logs/index.ts
  ui/tests/helpers/xterm.ts
  ui/tests/integration/components/operation-logs-test.ts
  ui/tests/test-helper.js
Labels: ui, backport/0.7.x

#2912 Fix broken link on upgrading page
  website/content/docs/upgrading/index.mdx
Labels: website, backport/website, pr/no-changelog

#2913 Docs: Minor update to upgrading with helm
  website/content/docs/upgrading/index.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#2920 ui: add percy test for populated projects view
  ui/tests/acceptance/percy-test.ts
Labels: ui, pr/no-changelog

#2921 ui: add percy test for applications list
  ui/tests/acceptance/percy-test.ts
Labels: ui, pr/no-changelog

#2896 Feat/nomad odr namespace fix
  .changelog/2896.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad

#2865 Pin the build version of the kaniko container
  Dockerfile
Labels: pr/no-changelog

#2922 ui: add ember-testing-sprite-embed
  ui/tests/helpers/a11y.ts
  ui/tests/index.html
  ui/tests/integration/components/workspace-switcher-test.ts
Labels: ui, pr/no-changelog

#2835 ui: automatic workspace selection
  .changelog/2835.txt
  ui/app/components/logout/index.hbs
  ui/app/instance-initializers/session-workspace-storage.ts
  ui/app/routes/workspace.ts
  ui/app/routes/workspaces.ts
  ui/mirage/helpers/login.ts
  ui/mirage/scenarios/default.ts
  ui/tests/acceptance/workspaces-test.ts
  ui/types/ember-simple-auth/services/session.d.ts
Labels: ui, backport/0.7.x

#2894 Feat/skip listener ext tg when alb disabled
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws

#2926 Allow more time for grpc connection
  internal/serverclient/client.go
Labels: core, pr/no-changelog, core/cli

#2925 ui: update empty logs message
  .changelog/2925.txt
  ui/app/components/log-stream/index.hbs
Labels: ui, backport/0.7.x

#2930 ui: limit number of deployments requested
  .changelog/2930.txt
  ui/app/services/api.ts
Labels: ui, backport/0.7.x

#2933 Add missing space in resources table
  ui/app/components/resources-table-extended.hbs
Labels: ui, pr/no-changelog

#2940 Add link to the entrypoint download page
  website/content/docs/entrypoint/index.mdx
Labels: website, backport/website, pr/no-changelog

#2935 Runner Adoption
  internal/cli/main.go
  internal/cli/runner_adopt.go
  internal/cli/runner_agent.go
  internal/cli/runner_forget.go
  internal/cli/runner_list.go
  internal/cli/runner_reject.go
  internal/cli/runner_token.go
  internal/cli/server_cookie.go
  internal/client/job.go
  internal/client/project.go
  internal/client/runner.go
  internal/runner/accept_test.go
  internal/runner/operation_init_test.go
  internal/runner/operation_task_test.go
  internal/runner/runner.go
  internal/runner/runner_test.go
  internal/runner/state.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/runner.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/runner.go
  internal/server/singleprocess/state/server_config.go
  internal/server/testing.go
  internal/serverclient/client.go
  internal/serverclient/token.go
  internal/serverstate/serverstate.go
  internal/serverstate/statetest/statetest.go
  internal/serverstate/statetest/test_job.go
  internal/serverstate/statetest/test_runner.go
  internal/serverstate/statetest/test_server_config.go
  website/content/commands/runner-adopt.mdx
  website/content/commands/runner-agent.mdx
  website/content/commands/runner-forget.mdx
  website/content/commands/runner-list.mdx
  website/content/commands/runner-reject.mdx
  website/content/commands/runner-token.mdx
  website/content/commands/server-cookie.mdx
  website/content/partials/commands/runner-adopt_desc.mdx
  website/content/partials/commands/runner-adopt_more.mdx
  website/content/partials/commands/runner-forget_desc.mdx
  website/content/partials/commands/runner-forget_more.mdx
  website/content/partials/commands/runner-reject_desc.mdx
  website/content/partials/commands/runner-reject_more.mdx
  website/content/partials/commands/runner-token_desc.mdx
  website/content/partials/commands/runner-token_more.mdx
  website/content/partials/commands/server-cookie_desc.mdx
  website/content/partials/commands/server-cookie_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, pr/no-changelog

#2950 internal/server: Cache Horizon URL Name and Host for Deploy Bundle
  .changelog/2950.txt
  internal/server/singleprocess/service_ui_deploy.go
Labels: bug, core, backport/0.7.x

#2954 internal: runners can have labels set
  .changelog/2954.txt
  internal/cli/runner_agent.go
  internal/runner/runner.go
  internal/server/gen/server.pb.go
  internal/server/proto/server.proto
  website/content/commands/runner-agent.mdx
Labels: core, website

#2862 Targetable Runners for Operations
  .changelog/2862.txt
  builtin/k8s/task.go
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/config_set.go
  internal/cli/project_apply.go
  internal/cli/project_inspect.go
  internal/cli/runner_profile_inspect.go
  internal/cli/runner_profile_list.go
  internal/cli/runner_profile_set.go
  internal/client/app.go
  internal/client/job.go
  internal/client/project.go
  internal/client/runner.go
  internal/client/runner_test.go
  internal/config/app.go
  internal/config/app_config.go
  internal/config/config.go
  internal/config/validate.go
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
  internal/runner/operation.go
  internal/runner/operation_init.go
  internal/runner/operation_init_test.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/application.go
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/service_ondemand_runner.go
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_project_test.go
  internal/server/singleprocess/state/ondemand_runner.go
  website/content/commands/runner-profile-set.mdx
  website/content/partials/components/task-kubernetes.mdx
Labels: core, website, plugin, plugin/k8s, backport/0.7.x

#2964 Revert "Backport of Runner Adoption into release/0.7.x"
  internal/cli/main.go
  internal/cli/runner_adopt.go
  internal/cli/runner_agent.go
  internal/cli/runner_forget.go
  internal/cli/runner_list.go
  internal/cli/runner_reject.go
  internal/cli/runner_token.go
  internal/cli/server_cookie.go
  internal/client/job.go
  internal/client/project.go
  internal/client/runner.go
  internal/runner/accept_test.go
  internal/runner/operation_init_test.go
  internal/runner/operation_task_test.go
  internal/runner/runner.go
  internal/runner/runner_test.go
  internal/runner/state.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/runner.go
  internal/server/singleprocess/auth.go
  internal/server/singleprocess/auth_test.go
  internal/server/singleprocess/service.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/state/job.go
  internal/server/singleprocess/state/runner.go
  internal/server/singleprocess/state/server_config.go
  internal/server/testing.go
  internal/serverclient/client.go
  internal/serverclient/token.go
  internal/serverstate/serverstate.go
  internal/serverstate/statetest/statetest.go
  internal/serverstate/statetest/test_job.go
  internal/serverstate/statetest/test_runner.go
  internal/serverstate/statetest/test_server_config.go
  website/content/commands/runner-adopt.mdx
  website/content/commands/runner-agent.mdx
  website/content/commands/runner-forget.mdx
  website/content/commands/runner-list.mdx
  website/content/commands/runner-reject.mdx
  website/content/commands/runner-token.mdx
  website/content/commands/server-cookie.mdx
  website/content/partials/commands/runner-adopt_desc.mdx
  website/content/partials/commands/runner-adopt_more.mdx
  website/content/partials/commands/runner-forget_desc.mdx
  website/content/partials/commands/runner-forget_more.mdx
  website/content/partials/commands/runner-reject_desc.mdx
  website/content/partials/commands/runner-reject_more.mdx
  website/content/partials/commands/runner-token_desc.mdx
  website/content/partials/commands/runner-token_more.mdx
  website/content/partials/commands/server-cookie_desc.mdx
  website/content/partials/commands/server-cookie_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

#2962 Targetable Runners for Operations (#2862)
  .changelog/2862.txt
  builtin/k8s/task.go
  internal/cli/base.go
  internal/cli/base_init.go
  internal/cli/config_set.go
  internal/cli/project_apply.go
  internal/cli/project_inspect.go
  internal/cli/runner_profile_inspect.go
  internal/cli/runner_profile_list.go
  internal/cli/runner_profile_set.go
  internal/client/app.go
  internal/client/job.go
  internal/client/project.go
  internal/client/runner.go
  internal/client/runner_test.go
  internal/config/app.go
  internal/config/app_config.go
  internal/config/config.go
  internal/config/validate.go
  internal/core/app_deploy_destroy.go
  internal/core/app_release_destroy.go
  internal/runner/operation.go
  internal/runner/operation_init.go
  internal/runner/operation_init_test.go
  internal/server/gen/mocks/waypoint_client.go
  internal/server/gen/mocks/waypoint_server.go
  internal/server/gen/server.pb.go
  internal/server/gen/server.pb.json.go
  internal/server/proto/server.proto
  internal/server/ptypes/application.go
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/service_ondemand_runner.go
  internal/server/singleprocess/service_project.go
  internal/server/singleprocess/service_project_test.go
  internal/server/singleprocess/state/ondemand_runner.go
  website/content/commands/runner-profile-set.mdx
  website/content/partials/components/task-kubernetes.mdx
Labels: core, website, plugin, plugin/k8s

#2953 plugin/docker: add no-cache option
  .changelog/2953.txt
  builtin/docker/builder.go
  website/content/partials/components/builder-docker.mdx
Labels: website, plugin, plugin/docker, backport/0.7.x

#2966 Adding whitespace to the bottom of the readme to trigger a UI change …
  ui/README.md
Labels: ui
