Repository hashicorp/waypoint, pull requests merged in 2022-03, with the labels that each got.

#3035 fix(aws-alb): DuplicateListener on 2nd `up`
  .changelog/3035.txt
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws, backport/0.7.x

#3052 Start runner liveness check _before_ starting the runner.
  internal/cli/runner_agent.go
Labels: bug, core, pr/no-changelog

#3055 cli: Enable context create to set the server platform
  .changelog/3055.txt
  internal/cli/context_create.go
  website/content/commands/context-create.mdx
Labels: core, website, backport/0.7.x

#3053 docs: Fix typo for config source-set
  internal/cli/app_docs.go
  website/content/partials/components/configsourcer-aws-ssm.mdx
  website/content/partials/components/configsourcer-null.mdx
  website/content/partials/components/configsourcer-terraform-cloud.mdx
  website/content/partials/components/configsourcer-vault.mdx
Labels: core, website, pr/no-changelog, backport/0.7.x

#3022 Add Swagger and gRPC Gateway definitions for the (majority of the) API
  go.mod
  go.sum
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/server.go
  tools/tools.go
Labels: pr/no-changelog

#3054 internal/server: Ensure on-demand runner config exists before start job
  .changelog/3054.txt
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
Labels: core, backport/0.7.x

#3059 Fixing two bugs in the adopt runner flow
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/operation_task.go
Labels: core, pr/no-changelog

#3046 feat: pass docker arch to ecr to lambda
  .changelog/3046.txt
  builtin/aws/ecr/plugin.pb.go
  builtin/aws/ecr/plugin.proto
  builtin/aws/ecr/registry.go
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/utils.go
  builtin/docker/builder.go
  builtin/docker/plugin.pb.go
  builtin/docker/plugin.proto
  builtin/docker/registry.go
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/registry-aws-ecr.mdx
  website/content/partials/components/registry-docker.mdx
Labels: website, plugin, plugin/docker, plugin/aws

#3061 change runner adoption protobuf
  internal/server/singleprocess/state/runner.go
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
  pkg/serverstate/statetest/test_runner.go
Labels: pr/no-changelog, core/cli, backport/0.7.x

#3062 Do not add ODR profile to job if profile is empty
  internal/client/job.go
Labels: core, pr/no-changelog

#3069 gRPC interceptor to nil any "any" fields for gRPC-gateway
  go.mod
  internal/server/grpc.go
  pkg/nullify/nullify.go
  pkg/nullify/nullify_test.go
  pkg/server/grpc_any.go
  pkg/server/grpc_any_test.go
Labels: core, pr/no-changelog

#3067 Feature: `waypoint job` CLI
  .changelog/3067.txt
  internal/cli/job_cancel.go
  internal/cli/job_get_stream.go
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/cli/main.go
  internal/client/job.go
  website/content/commands/job-cancel.mdx
  website/content/commands/job-get-stream.mdx
  website/content/commands/job-inspect.mdx
  website/content/commands/job-list.mdx
  website/content/partials/commands/job-cancel_desc.mdx
  website/content/partials/commands/job-cancel_more.mdx
  website/content/partials/commands/job-get-stream_desc.mdx
  website/content/partials/commands/job-get-stream_more.mdx
  website/content/partials/commands/job-inspect_desc.mdx
  website/content/partials/commands/job-inspect_more.mdx
  website/content/partials/commands/job-list_desc.mdx
  website/content/partials/commands/job-list_more.mdx
  website/data/commands-nav-data.json
Labels: core, website

#3079 cli: Sort jobs by timestamp completetime before format
  internal/cli/job_list.go
Labels: core, pr/no-changelog

#3070 K8s: Don't error build/deploy/release because a previous deployment isn't found
  .changelog/3070.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s, backport/0.7.x

#3081 CLI display improvements to operations
  .changelog/3081.txt
  internal/cli/artifact_build.go
  internal/core/app_build.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_status_report.go
  internal/core/operation.go
Labels: core

#3087 Runner resilience part 1/N: startup resilience to server being down or going down
  .changelog/3087.txt
  internal/runner/config.go
  internal/runner/runner.go
  internal/runner/runner_test.go
Labels: core

#3085 Add /ui README update
  ui/README.md
Labels: ui, pr/no-changelog

#3088 internal/cli: Fix typo in job states
  internal/cli/job_inspect.go
  internal/cli/job_list.go
Labels: core, pr/no-changelog

#3089 UI: Setup for design-system-components
  ui/app/styles/_layout.scss
  ui/app/styles/app.scss
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#3091 ui: removed Waypoint's custom IconTile component
  ui/app/components/icon-tile.hbs
  ui/app/components/item-list.hbs
  ui/app/components/page-header.hbs
  ui/app/components/panel-header.hbs
  ui/app/styles/components/_index.scss
  ui/app/styles/components/icon-tile.scss
  ui/app/styles/components/item-list.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/navigation/panel-header.scss
  ui/app/styles/pages/onboarding.scss
  ui/app/templates/onboarding/connect.hbs
  ui/app/templates/onboarding/install.hbs
  ui/app/templates/onboarding/install_release.hbs
  ui/app/templates/onboarding/start.hbs
  ui/app/templates/workspace/projects/index.hbs
  ui/app/templates/workspace/projects/project/apps.hbs
Labels: ui, pr/no-changelog

#3095 cli: Fix panic in `waypoint plugin` cli
  .changelog/3095.txt
  internal/cli/plugin.go
  website/content/commands/plugin.mdx
Labels: core, website, backport/0.7.x

#3098 Remove unused import in server proto def
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: pr/no-changelog

#3097 internal/runner: make Accept resilient to the server going down
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/config.go
  internal/runner/runner.go
Labels: core, pr/no-changelog

#3100 internal/server: RunnerJobStream verifies runner tokens
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  internal/server/singleprocess/testing.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core, pr/no-changelog

#3099 Server: Introduce Task for tracking on-demand runner spawned tasks
  internal/server/singleprocess/state/task.go
  pkg/server/gen/mocks/is_ref__task__ref.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_task.go
Labels: core, pr/no-changelog

#3102 internal/{server,cli}: Attempt to forcefully cancel a job
  .changelog/3102.txt
  internal/cli/job_cancel.go
  internal/server/singleprocess/service_job.go
  pkg/server/gen/server.pb.go
  pkg/server/proto/server.proto
  website/content/commands/job-cancel.mdx
Labels: core, website

#3103 chore: `make install` conditionally remove existing waypoint file
  Makefile
Labels: pr/no-changelog

#3076 fix(aws-alb): destroy r53 record
  .changelog/3076.txt
  builtin/aws/alb/releaser.go
Labels: plugin, plugin/aws

#3092 builtin/vault(docs) clarify `key` value format difference
  builtin/vault/config_sourcer.go
  website/content/partials/components/configsourcer-vault.mdx
Labels: website, plugin, pr/no-changelog

#3068 builtin/aws: add `cpu_architecture` aws-ecs parameter
  .changelog/3068.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website, plugin, plugin/aws

#3107 doc: deprecate `-remote` flag
  website/content/commands/index.mdx
  website/content/docs/kubernetes/container-build.mdx
  website/content/docs/projects/remote.mdx
Labels: website, pr/no-changelog

#3043 Record and display count of entrypoint config connections in deployment status report
  .changelog/3043.txt
  internal/cli/status.go
  internal/core/app_status_report.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core, core/cli

#3112 Updating waypoint-plugin-sdk version
  go.mod
  go.sum
Labels: pr/no-changelog

#3120 docs: use plain quotes for json
  website/content/docs/lifecycle/build.mdx
Labels: backport/website, pr/no-changelog, backport/0.5.x, backport/0.6.x

#3121 ui: Regenerate libs from protos
  Makefile
  ui/README.md
  ui/lib/opaqueany/any_pb.d.ts
  ui/lib/opaqueany/any_pb.js
  ui/lib/opaqueany/package.json
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#3122 [RelAPI Onboarding] Add release API metadata file
  .release/release-metadata.hcl
Labels: pr/no-changelog, backport/0.7.x

#3119 support runner job stream reattachment, make runners resilient to server outage mid-execution
  .changelog/3119.txt
  internal/runner/accept.go
  internal/runner/accept_test.go
  internal/runner/reattach.go
  internal/server/singleprocess/service_runner.go
  internal/server/singleprocess/service_runner_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

#3134 CLI respects server ordering
  internal/cli/artifact_list.go
  internal/cli/deployment_list.go
  internal/cli/release_list.go
Labels: pr/no-changelog

#3133 `runner list` shows runner labels
  .changelog/3133.txt
  internal/cli/runner_list.go
Labels: core/cli

#3132 feature: Framework for Jobs to Target Runners by Label
  go.mod
  go.sum
  internal/server/singleprocess/state/job.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/serverstate/statetest/test_job.go
Labels: core, pr/no-changelog

#3140 update actual version constraints
  ui/package.json
Labels: ui, pr/no-changelog

#3111 K8s: Don't error/hang if deleting a service that isn't found
  .changelog/3111.txt
  builtin/k8s/releaser.go
Labels: plugin, plugin/k8s, backport/0.7.x

#3141 pkg/server: fix some copy-pasta in `server.proto`
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
Labels: pr/no-changelog

#3148 ui: upgrade & dedupe caniuse-lite
  ui/yarn.lock
Labels: ui, pr/no-changelog

#3136 Deprecate `-env-vars` flag in `runner profile set`, replace with `-env-var`
  .changelog/3136.txt
  internal/cli/runner_profile_set.go
  website/content/commands/runner-profile-set.mdx
Labels: core, website, core/cli

#3142 ui: fix release URL button
  .changelog/3142.txt
  ui/app/controllers/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/templates/workspace/projects/project/app/release.hbs
  ui/mirage/factories/release.ts
  ui/tests/acceptance/release-detail-test.ts
Labels: ui

#3147 `make gen/ts`
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui, pr/no-changelog

#3152 website: commit reformatted `package-lock.json`
  website/package-lock.json
Labels: website, pr/no-changelog

#3145 feature: Enable runner targeting by labels specified in runner profile
  .changelog/3145.txt
  internal/cli/runner_profile_inspect.go
  internal/cli/runner_profile_list.go
  internal/cli/runner_profile_set.go
  internal/server/singleprocess/service_job.go
  internal/server/singleprocess/service_job_test.go
  internal/server/singleprocess/service_ondemand_runner.go
  internal/server/singleprocess/service_ondemand_runner_test.go
  internal/server/singleprocess/state/ondemand_runner.go
  website/content/commands/runner-profile-set.mdx
Labels: core, website, core/cli

#3151 ui: a handful of fixes for `<ArtifactOverview>`
  ui/app/components/container-image-tag/index.hbs
  ui/app/components/image-ref.hbs
  ui/app/styles/components/_index.scss
  ui/app/styles/components/container-image-tag.scss
  ui/app/styles/components/image-ref.scss
  ui/app/styles/components/navigation/artifact-overview.scss
  ui/app/styles/components/operation-status-indicator.scss
Labels: ui, pr/no-changelog

#3158 internal: More Descriptive SingletonIds for Poll Jobs
  .changelog/3158.txt
  internal/runner/operation_poll.go
  pkg/server/singleprocess/poll_application.go
  pkg/server/singleprocess/poll_test.go
Labels: core

#3159 Test getting and setting all odr config fields
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: pr/no-changelog

#3138 Output variable values used and obfuscate sensitive values
  .changelog/3138.txt
  internal/cli/artifact_build.go
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/cli/up.go
  internal/config/variables/formatter/formatter.go
  internal/config/variables/testdata/valid.hcl
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/core/project.go
  internal/runner/operation.go
  pkg/server/gen/mocks/is_variable__final_value__value.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_runner.go
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: enhancement, core, website, cli

#3163 Update CHANGELOG for 0.7.2 release
  CHANGELOG.md
Labels: pr/no-changelog, backport/0.7.x

#3150 cli: Filter job list on workspace, project, app, job state, or jobs target runners.
  internal/cli/job_list.go
  internal/server/boltdbstate/job.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/poll_test.go
  pkg/server/singleprocess/service_exec_test.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_logs_test.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
  website/content/commands/job-list.mdx
Labels: core, website, pr/no-changelog
