Repository hashicorp/waypoint, pull requests merged in 2022-04, with the labels that each got.

#3165 Fix panic when running `waypoint build` remotely outside of project directory
  internal/client/job.go
Labels: core, pr/no-changelog

#3170 website: fix package-lock formatting
  website/README.md
  website/package-lock.json
  website/package.json
Labels: website, pr/no-changelog

#3173 Fixing `make tools`
  tools/tools.go
Labels: pr/no-changelog

#3174 Updating to grpc-gateway v2
  go.mod
  go.sum
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server_grpc.pb.go
  tools/tools.go
Labels: pr/no-changelog

#3177 ui: enable `skipLibCheck` in `tsconfig.json`
  ui/tsconfig.json
Labels: ui, pr/no-changelog

#3169 Consumable authentication handlers
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/auth_test.go
  pkg/server/singleprocess/service.go
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#3171 internal/runner: Send down dynamic ConfigSourcers on JobAssign
  .changelog/3171.txt
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/runner/accept.go
  internal/runner/operation.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_runner.go
  pkg/server/singleprocess/service_runner_test.go
Labels: core

#3180 cli: Spelling fix on Message for job inspect
  internal/cli/job_inspect.go
Labels: core, pr/no-changelog

#3143 Delete job and pods in k8s StopTask if stuck in pending
  .changelog/3143.txt
  builtin/k8s/platform.go
  builtin/k8s/task.go
Labels: plugin, plugin/k8s

#3182 ci: Only notify PR check failures if `website/content` has changes
  .circleci/config.yml
Labels: pr/no-changelog

#3185 cli: Sort uncomplete jobs as "latest"
  internal/cli/job_list.go
Labels: core, pr/no-changelog

#3172 Update links in ResourcesTableExtended component
  .changelog/3172.txt
  ui/app/components/resources-table-extended.hbs
Labels: ui

#3189 Web docs/sensitive vars
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website, backport/website, pr/no-changelog

#3188 Consumable job service handlers
  internal/server/boltdbstate/job.go
  pkg/server/logstream/logstream.go
  pkg/server/singleprocess/logstream.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_runner.go
Labels: core, pr/no-changelog

#3200 internal/server: Set correct bucket var for runnerIndexInit
  .changelog/3200.txt
  internal/server/boltdbstate/runner.go
Labels: core, backport/0.8.x

#3198 Restructure tools/tools.go to prevent gofmt issue
  tools/tools.go
Labels: pr/no-changelog

#3195 builtin/k8s: Fix `use` example in docs
  builtin/k8s/platform.go
  website/content/partials/components/platform-kubernetes.mdx
Labels: website, plugin, plugin/k8s, backport/website, pr/no-changelog

#3202 Makefile: Add make targets for running full state and service tests
  Makefile
Labels: pr/no-changelog

#3186 ui/mirage: set version to `[Mirage]` in `VersionInfo` handler
  ui/mirage/services/version-info.ts
Labels: ui, pr/no-changelog

#3196 cli: Pass context to `Bootstrapped` in `server_run`
  .changelog/3196.txt
  internal/cli/server_run.go
Labels: core, core/cli, backport/0.8.x

#3197 builtin/k8s: Ensure `pod.container.static_environment` is applied
  .changelog/3197.txt
  builtin/k8s/platform.go
Labels: plugin, plugin/k8s, backport/0.8.x

#3181 ui: `make gen/ts`
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui, pr/no-changelog

#3207 Prevent the release of a running deployment
  .changelog/3207.txt
  internal/cli/release_create.go
Labels: core, backport/0.8.x

#3193 chore: add lambda platform config validation - add tests
  .changelog/3193.txt
  builtin/aws/lambda/platform.go
  builtin/aws/lambda/platform_test.go
Labels: plugin, plugin/aws, backport/0.8.x

#3216 Adds $TESTARGS option to test/boltdbstate step, with doc/example
  Makefile
  pkg/serverstate/statetest/doc.go
Labels: pr/no-changelog

#3220 builtin/nomad/jobspec: fix dropped error
  builtin/nomad/jobspec/releaser.go
Labels: plugin, plugin/nomad

#3212 Test reading/writing ODR target labels
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: pr/no-changelog

#3166 ui: updated breadcrumbs to include current page
  .changelog/3166.txt
  ui/app/routes/workspace/projects/project/app.ts
  ui/app/routes/workspace/projects/project/app/build.ts
  ui/app/routes/workspace/projects/project/app/builds.ts
  ui/app/routes/workspace/projects/project/app/deployments/deployment.ts
  ui/app/routes/workspace/projects/project/app/deployments/deployment/resource.ts
  ui/app/routes/workspace/projects/project/app/exec.ts
  ui/app/routes/workspace/projects/project/app/logs.ts
  ui/app/routes/workspace/projects/project/app/release.ts
  ui/app/routes/workspace/projects/project/app/release/resource.ts
  ui/app/routes/workspace/projects/project/app/releases.ts
  ui/app/routes/workspace/projects/project/app/resources.ts
  ui/app/routes/workspace/projects/project/apps.ts
  ui/app/routes/workspace/projects/project/settings/config-variables.ts
  ui/app/routes/workspace/projects/project/settings/input-variables.ts
  ui/app/routes/workspace/projects/project/settings/repository.ts
  ui/app/templates/workspace/projects/project/app/resources.hbs
Labels: ui

#3230 Test nil workspace in latest release state req
  pkg/serverstate/statetest/test_release.go
Labels: pr/no-changelog

#3226 `internal/cli`: Fix `waypoint exec` workspace selection
  .changelog/3226.txt
  internal/cli/exec.go
Labels: core, backport/0.8.x

#3222 Feat/nomad consul vault tokens
  .changelog/3222.txt
  builtin/nomad/auth.go
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
  website/content/partials/components/platform-nomad-jobspec.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: website, plugin, plugin/nomad, backport/0.8.x

#3235 Backport/nomad consul vault tokens
  .changelog/3222.txt
  builtin/nomad/auth.go
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
  website/content/partials/components/platform-nomad-jobspec.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: website, plugin, plugin/nomad, pr/no-changelog

#3231 UI: Fix Add variable icon is misaligned
  ui/app/components/project-input-variables/list.hbs
Labels: ui, pr/no-changelog

#3237 generate docs for main branch
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
Labels: website, pr/no-changelog

#3215 docs: Waypoint unification work (dev-portal)
  website/content/docs/getting-started/index.mdx
  website/content/docs/index.mdx
  website/content/docs/platforms/kubernetes/config.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/platforms/kubernetes/install.mdx
  website/content/docs/platforms/kubernetes/kubectl-deploy.mdx
  website/content/docs/platforms/kubernetes/resource-status.mdx
  website/content/docs/resources/glossary.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/docs/resources/internals/execution.mdx
  website/content/docs/resources/internals/index.mdx
  website/content/docs/resources/roadmap.mdx
  website/content/docs/resources/troubleshooting.mdx
  website/content/docs/waypoint-hcl/variables/input.mdx
  website/data/docs-nav-data.json
  website/public/img/getting-started/intro-files.png
Labels: website

#3239 Fix nil pointer dereference
  builtin/nomad/platform.go
Labels: plugin, plugin/nomad, pr/no-changelog, backport/0.8.x

#3244 docs: Include an additional note about reading a Secret vs ConfigMap
  builtin/k8s/config_sourcer.go
  website/content/partials/components/configsourcer-kubernetes.mdx
Labels: website, plugin, plugin/k8s, backport/website, pr/no-changelog

#3245 Avoid race condition reading job stream data before it's buffered.
  pkg/server/singleprocess/service_job_test.go
Labels: pr/no-changelog

#3251 Update containerd
  go.mod
  go.sum
Labels: pr/no-changelog, backport/0.8.x

#3242 Document conflict between Waypoint/Nomad entrypoint
  builtin/nomad/jobspec/platform.go
  website/content/partials/components/platform-nomad-jobspec-canary.mdx
  website/content/partials/components/platform-nomad-jobspec.mdx
Labels: documentation, website, plugin, plugin/nomad, pr/no-changelog

#3255 pkg/server: fix flaky test around buffered data
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#3254 upgrade platform-cli to resolve vuln in async version
  website/package-lock.json
  website/package.json
Labels: website, backport/website, pr/no-changelog

#3256 ui: guard against prototype pollution
  ui/app/components/app-form/project-repository-settings.ts
Labels: ui, pr/no-changelog, backport/0.8.x

#3262 cli: Show error message if no Waypoint contexts found
  .changelog/3262.txt
  internal/cli/ui.go
Labels: core, backport/0.8.x

#3266 add cli output if no runners found for 'list'
  .changelog/3266.txt
  internal/cli/runner_list.go
Labels: core, backport/0.8.x

#3272 Adds paragraph to 'deploy' command docs regarding '-release' flag
  internal/cli/deployment_create.go
  website/content/commands/deploy.mdx
  website/content/commands/deployment-deploy.mdx
Labels: core, website, backport/website, pr/no-changelog

#3179 UI: update ember-simple-auth
  ui/app/initializers/migrate-session.ts
  ui/app/instance-initializers/session-workspace-storage.ts
  ui/app/routes/application.ts
  ui/app/services/session.ts
  ui/ember-cli-build.js
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#3264 Upgrading argmapper to v0.2.4
  go.mod
  go.sum
Labels: pr/no-changelog

#3203 Feature: Introduce `Task` to Waypoint core to track On-Demand Runner operations
  .changelog/3203.txt
  internal/cli/main.go
  internal/cli/task_cancel.go
  internal/cli/task_inspect.go
  internal/cli/task_list.go
  internal/runner/operation_task.go
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/task.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/component.go
  pkg/server/ptypes/task.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_job_test.go
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_task_test.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_task.go
  website/README.md
  website/content/commands/task-cancel.mdx
  website/content/commands/task-inspect.mdx
  website/content/commands/task-list.mdx
  website/content/partials/commands/task-cancel_desc.mdx
  website/content/partials/commands/task-cancel_more.mdx
  website/content/partials/commands/task-inspect_desc.mdx
  website/content/partials/commands/task-inspect_more.mdx
  website/content/partials/commands/task-list_desc.mdx
  website/content/partials/commands/task-list_more.mdx
  website/data/commands-nav-data.json
  website/package-lock.json
Labels: core, website

#3285 Fix missing end quotes in configsourcer-vault.mdx
  builtin/vault/config_sourcer.go
  website/content/partials/components/configsourcer-vault.mdx
Labels: website, plugin, backport/website, pr/no-changelog

#3253 Support remote operations for docker-pull
  .changelog/3253.txt
  builtin/docker/pull/builder.go
  builtin/docker/pull/kaniko.go
Labels: plugin, plugin/docker, backport/0.8.x

#3289 Docs: add allowed-redirect-url section
  website/content/docs/server/auth/oidc.mdx
Labels: website, pr/no-changelog

#3265 Allow some state tests to be skipped
  internal/server/boltdbstate/state_test.go
  pkg/server/ptypes/ondemand_runner.go
  pkg/serverstate/statetest/statetest.go
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: core, pr/no-changelog

#3296 website: Add notes on how to use the Docker flow with `make`
  website/README.md
Labels: pr/no-changelog

#3299 Bug fix: Patch k8s stop task to only delete the job if it had pending pods
  .changelog/3299.txt
  builtin/k8s/task.go
Labels: plugin, plugin/k8s, backport/0.8.x
