Repository hashicorp/waypoint, pull requests merged in 2022-10, with the labels that each got.

#3972 Fixing panic when setting datasource to local on cli
  .changelog/3972.txt
  internal/cli/project_apply.go
Labels: core, backport/0.10.x

#3854 core/cli: Update profile set to use defaults on init only
  .changelog/3854.txt
  internal/cli/runner_profile_set.go
  internal/pkg/flag/flag_string_ptr.go
  internal/pkg/flag/flag_string_ptr_test.go
  website/content/commands/runner-profile-set.mdx
Labels: core, website, backport/0.10.x

#3967 Externalize multiple services
  pkg/server/singleprocess/service_deploy.go
  pkg/server/singleprocess/service_entrypoint.go
  pkg/server/singleprocess/service_hostname.go
  pkg/server/singleprocess/service_instance.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_logs.go
  pkg/server/singleprocess/service_ondemand_runner.go
  pkg/server/singleprocess/service_project.go
Labels: pr/no-changelog, core/server

#3962 WAYP-404 Log context canceled errors in trace level
  pkg/server/hcerr/hcerr.go
Labels: pr/no-changelog

#3961 Finish roadmap update
  website/content/docs/pipelines/index.mdx
  website/content/docs/resources/roadmap.mdx
Labels: website, backport/website, pr/no-changelog

#3963 `nomad-jobspec` plugin periodic and system job fixes
  .changelog/3963.txt
  builtin/nomad/jobspec/platform.go
Labels: plugin, plugin/nomad, plugin/nomad-jobspec, ecosystem, backport/0.10.x

#3918 `WatchTask` and `StopTask` for AWS ECS Task Launcher
  .changelog/3918.txt
  builtin/aws/ecs/task.go
  builtin/k8s/task.go
Labels: plugin, plugin/k8s, plugin/aws, plugin/ecs, backport/0.10.x

#3980 Backport/finish roadmap updates/onto release/0.10.x
  website/content/docs/pipelines/index.mdx
  website/content/docs/roadmap.mdx
Labels: website

#3969 Externalize service pipeline
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_run.go
Labels: pr/no-changelog

#3973 Typo in example code.
  website/content/docs/extending-waypoint/creating-plugins/build-interface.mdx
Labels: website

#3984 boltdb/pipeline_run: Properly look up latest runs by sequence number, fix pipeline run tests
  internal/server/boltdbstate/pipeline_run.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core, pr/no-changelog

#3986 Externalize multiple services
  pkg/server/singleprocess/service_release.go
  pkg/server/singleprocess/service_runner.go
  pkg/server/singleprocess/service_snapshot.go
  pkg/server/singleprocess/service_status_report.go
  pkg/server/singleprocess/service_trigger.go
Labels: pr/no-changelog

#3985 Null plugin
  builtin/null/builder.go
  builtin/null/null.go
  builtin/null/platform.go
  builtin/null/releaser.go
Labels: plugin, pr/no-changelog

#3990 Externalize multiple services
  pkg/server/singleprocess/service_ui_deploy.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/server/singleprocess/service_ui_release.go
  pkg/server/singleprocess/service_user.go
  pkg/server/singleprocess/service_waypointhcl.go
  pkg/server/singleprocess/service_workspace.go
Labels: pr/no-changelog, core/server

#4002 website: upgrade next version
  website/package-lock.json
  website/package.json
Labels: website, pr/no-changelog

#4004 docs: fix build_args summary (array vs map)
  builtin/docker/builder.go
  embedJson/gen/builder-docker.json
  website/content/partials/components/builder-docker.mdx
Labels: documentation, website, plugin, plugin/docker, backport/website, pr/no-changelog, backport/0.10.x

#4009 logstream: Respect workspace if requested on logs
  .changelog/4009.txt
  internal/cli/logs.go
  internal/client/operation.go
  pkg/server/singleprocess/service_logs.go
  website/content/commands/logs.mdx
Labels: core, website, backport/0.10.x

#4018 chore: Update Digital Team Files
  website/Makefile
  website/README.md
  website/redirects.js
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website, pr/no-changelog

#4021 jobstream: Fix log message with missing value
  internal/jobstream/stream.go
Labels: core, pr/no-changelog, backport/0.10.x

#4022 test: Add test for dupe on-demand runner profile Put
  pkg/serverstate/statetest/test_runner_ondemand.go
Labels: pr/no-changelog, backport/0.10.x

#4019 cli: Fix panic in task cancel when no task id given as arg
  .changelog/4019.txt
  internal/cli/task_cancel.go
Labels: core, backport/0.10.x

#4013 cli: Fix panic when no flag specified for `waypoint runner profile set`
  .changelog/4013.txt
  internal/cli/runner_profile_set.go
Labels: core, backport/0.10.x

#4029 Fix base image name in custom plugin docs for remote ops
  website/content/docs/plugins.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#3995 Fix panic when setting odr env vars
  .changelog/3995.txt
  internal/cli/runner_profile_set.go
Labels: core, backport/0.10.x

#3971 Tests for chaging datasource type
  pkg/serverstate/statetest/test_project.go
Labels: pr/no-changelog

#3988 Vault Config Sourcer Fixes
  .changelog/3988.txt
  Makefile
  builtin/vault/config_sourcer.go
  builtin/vault/internal/auth/aws/aws.go
  go.mod
  go.sum
Labels: plugin, plugin/vault, ecosystem, backport/0.10.x

#4041 Backport of Vault Config Sourcer Fixes into release/0.10.x
  builtin/vault/internal/auth/aws/aws.go
  go.mod
  go.sum
Labels: plugin

#3873 Install documentation updates
  website/content/docs/resources/troubleshooting.mdx
  website/content/docs/server/install.mdx
Labels: website, backport/website, pr/no-changelog

#4043 maint: Update waypoint-plugin-sdk to get terminal auto-wrap updates
  go.mod
  go.sum
Labels: pr/no-changelog, backport/0.10.x

#4046 Backport of Install documentation updates into stable-website
  website/content/docs/server/install.mdx
Labels: website

#4047 Backport of Install documentation updates into release/0.10.x
  website/content/docs/server/install.mdx
Labels: website

#4044 Adding SetConfig to the grpc gateway config
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog

#4050 this is the organizatin on main; matching
  builtin/k8s/helm/platform.go
  docs/gen/platform-helm.json
  embedJson/gen/platform-helm.json
  website/Makefile
  website/content/docs/getting-started.mdx
  website/content/docs/platforms/kubernetes/config.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/platforms/kubernetes/install.mdx
  website/content/docs/platforms/kubernetes/kubectl-deploy.mdx
  website/content/docs/platforms/kubernetes/resource-status.mdx
  website/content/docs/resources/glossary.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/docs/resources/internals/execution.mdx
  website/content/docs/resources/internals/index.mdx
  website/content/docs/resources/roadmap.mdx
  website/content/docs/resources/troubleshooting.mdx
  website/content/partials/components/platform-helm.mdx
  website/data/docs-nav-data.json
  website/package-lock.json
  website/package.json
  website/redirects.js
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website, plugin, plugin/k8s, backport/0.10.x

#4054 ui: removed fix for resolved safari bug with xterm/webgl
  .changelog/4054.txt
  ui/app/utils/browser.ts
  ui/app/utils/create-terminal.ts
  ui/tests/integration/components/render-terminal-test.ts
Labels: ui

#4042 Feature: Reattach to a pipeline run by latest or sequence id
  .changelog/4042.txt
  internal/cli/pipeline_run.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_pipeline_run_test.go
  pkg/serverstate/statetest/test_pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website

#4053 Bug: Fix pipeline run complete state machine
  .changelog/4053.txt
  internal/server/boltdbstate/job.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_pipeline.go
Labels: core, pr/no-changelog

#4062 update project serverState interface methods to add context
  internal/server/boltdbstate/application.go
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/job_test.go
  internal/server/boltdbstate/project.go
  internal/server/boltdbstate/project_test.go
  pkg/server/singleprocess/poll_application.go
  pkg/server/singleprocess/poll_project.go
  pkg/server/singleprocess/poll_test.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_project.go
  pkg/server/singleprocess/service_runner.go
  pkg/server/singleprocess/service_status_report.go
  pkg/server/singleprocess/service_trigger.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_application.go
  pkg/serverstate/statetest/test_artifact.go
  pkg/serverstate/statetest/test_build.go
  pkg/serverstate/statetest/test_deployment.go
  pkg/serverstate/statetest/test_instance.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
  pkg/serverstate/statetest/test_project.go
  pkg/serverstate/statetest/test_release.go
  pkg/serverstate/statetest/test_snapshot.go
  pkg/serverstate/statetest/test_status_report.go
Labels: core, pr/no-changelog

#4067 fix: Catch panic when null value defined in string variable
  .changelog/4067.txt
  internal/config/variables/testdata/invalid_number.hcl
  internal/config/variables/testdata/invalid_string.hcl
  internal/config/variables/testdata/null_bool.hcl
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
Labels: bug, core

#4045 Consul Config Sourcer Plugin
  .changelog/4045.txt
  builtin/consul/config_sourcer.go
  builtin/consul/consul.go
  go.mod
  go.sum
  internal/plugin/plugin.go
  website/content/partials/components/builder-consul.mdx
  website/content/partials/components/configsourcer-consul.mdx
  website/content/partials/components/platform-consul.mdx
  website/content/partials/components/registry-consul.mdx
  website/content/partials/components/releasemanager-consul.mdx
  website/content/partials/components/task-consul.mdx
  website/content/plugins/consul.mdx
  website/data/plugins-nav-data.json
Labels: core, website, plugin, backport/0.10.x, plugin/consul

#4071 docs: Add input variable example for vault config sourcer
  builtin/vault/config_sourcer.go
  embedJson/gen/configsourcer-vault.json
  website/content/partials/components/configsourcer-vault.mdx
Labels: website, plugin, backport/website, pr/no-changelog

#4074 maint: Show flags and help text for profile inspect CLI
  internal/cli/runner_profile_inspect.go
  website/content/commands/runner-profile-inspect.mdx
Labels: core, website, pr/no-changelog, backport/0.10.x

#4020 add `-check` flag to fmt
  .changelog/4020.txt
  internal/cli/fmt.go
  website/content/commands/fmt.mdx
Labels: core, website, backport/0.10.x

#4082 Increase coverage of `TestJobUpdateRef`
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog, tests, backport/0.10.x

#4088 Manual backport of [WAYP-491] website: Add runner diagram into release/0.10.x
  website/content/docs/runner/index.mdx
  website/public/img/oss_cli_and_remote_runners@2x.jpg
  website/public/img/oss_runner_no_control_plane@2x.jpg
Labels: website, pr/no-changelog

#4089 Update deployment section of website README
  website/README.md
Labels: website, pr/no-changelog

#4096 CLI: Show Deployment and Release URLs, Input Variables at end of Pipeline Run
  .changelog/4096.txt
  internal/cli/pipeline_run.go
Labels: core, backport/0.10.x

#4092 Manual backport of [WAYP-491] website: Add runner diagram into stable-website
  website/content/docs/runner/index.mdx
  website/public/img/oss_cli_and_remote_runners@2x.jpg
  website/public/img/oss_runner_no_control_plane@2x.jpg
Labels: website

#4078 CLI: Show default runner profile on `inspect` if no name argument supplied
  .changelog/4078.txt
  internal/cli/runner_profile_inspect.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_ondemand_runner.go
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
Labels: core, backport/0.10.x

#4102 Backport/cherry pick/4078
  .changelog/4078.txt
  internal/cli/runner_profile_inspect.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_ondemand_runner.go
  pkg/serverhandler/handlertest/test_service_ondemand_runner.go
Labels: core, pr/no-changelog

#4063 Remove automatic uppercasing of ids, so that future runner profiles will match
  .changelog/4063.txt
  internal/cli/runner_install.go
Labels: core, backport/0.10.x

#4105 Backport/cherry pick/4042
  .changelog/4042.txt
  internal/cli/pipeline_run.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_pipeline_run_test.go
  pkg/serverstate/statetest/test_pipeline_run.go
  website/content/commands/pipeline-run.mdx
Labels: core, website, pr/no-changelog

#4083 Add ctx to some serverstate app ops
  internal/server/boltdbstate/artifact.go
  internal/server/boltdbstate/build.go
  internal/server/boltdbstate/build_test.go
  internal/server/boltdbstate/job.go
  internal/server/boltdbstate/pipeline.go
  internal/server/boltdbstate/pipeline_run.go
  internal/server/boltdbstate/project.go
  internal/server/boltdbstate/project_test.go
  internal/server/boltdbstate/task.go
  pkg/server/singleprocess/service_artifact.go
  pkg/server/singleprocess/service_build.go
  pkg/server/singleprocess/service_deploy.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_release.go
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_task_test.go
  pkg/server/singleprocess/service_trigger.go
  pkg/server/singleprocess/service_ui_deploy.go
  pkg/serverhandler/handlertest/test_service_job.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_artifact.go
  pkg/serverstate/statetest/test_build.go
  pkg/serverstate/statetest/test_job.go
  pkg/serverstate/statetest/test_pipeline.go
  pkg/serverstate/statetest/test_pipeline_run.go
  pkg/serverstate/statetest/test_project.go
  pkg/serverstate/statetest/test_task.go
  pkg/serverstate/statetest/test_workspace.go
Labels: pr/no-changelog

#4100 Job list filtered by pipelines displays latest run if none supplied
  .changelog/4100.txt
  internal/cli/job_list.go
  internal/server/boltdbstate/job.go
Labels: core, backport/0.10.x

#4099 internal/runner: Run a status report on Deployments and Releases
  .changelog/4099.txt
  internal/cli/deployment_create.go
  internal/cli/release_create.go
  internal/runner/operation_deploy.go
  internal/runner/operation_release.go
Labels: enhancement, core, backport/0.10.x

#4115 UX: Combine git datasource ref information into single message
  .changelog/4115.txt
  internal/datasource/git.go
  internal/jobstream/stream.go
Labels: core, backport/0.10.x

#4112 internal/config: Fix panic if no scoped use stanza found
  .changelog/4112.txt
  internal/config/app.go
Labels: bug, core, backport/0.10.x

#4111 cli: Only echo conf file on fmt change
  .changelog/4111.txt
  internal/cli/fmt.go
Labels: core, backport/0.10.x

#4113 cli: Only show CompleteTime if set
  .changelog/4113.txt
  internal/cli/pipeline_list.go
Labels: core, backport/0.10.x

#4128 Backport/stable website/docs corrections
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/automating-execution/circle-ci.mdx
  website/content/docs/entrypoint/index.mdx
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/projects/git.mdx
  website/content/docs/projects/remote.mdx
Labels: website, pr/no-changelog, backport/0.10.x

#4132 Feature: Update pipelines parser to evaluate input variables
  .changelog/4132.txt
  internal/cli/init.go
  internal/config/pipeline.go
  internal/config/pipeline_test.go
  internal/config/stages.go
  internal/config/testdata/pipelines/pipeline_input_var.hcl
  internal/config/validate.go
  internal/core/project.go
Labels: core, backport/0.10.x

#4137 cli/pipeline_run: Include variables in job template for pipeline run
  .changelog/4137.txt
  internal/cli/pipeline_run.go
Labels: core, backport/0.10.x

#4144 datasource/git: Align git fields for UX
  internal/datasource/git.go
Labels: core, pr/no-changelog, backport/0.10.x

#4140 Slightly less generic server connection error.
  internal/ceb/server.go
  pkg/serverclient/client.go
Labels: core, pr/no-changelog, backport/0.10.x
