Repository hashicorp/waypoint, pull requests merged in 2022-06, with the labels that each got.

#3399 Update CODEOWNERS for Ecosystem
  .github/CODEOWNERS
Labels: pr/no-changelog

#3388 chore(docs): k8s troubleshooting improvements
  website/content/docs/troubleshooting.mdx
Labels: website, backport/website, pr/no-changelog, backport/0.6.x, backport/0.7.x, backport/0.8.x

#3398 Fix `docker-pull` remote operations build & push
  .changelog/3398.txt
  builtin/docker/pull/kaniko.go
Labels: plugin, plugin/docker, backport/0.8.x, ecosystem

#3378 Docs/upgrade guides
  website/content/docs/upgrading/version-guides/0.3.0.mdx
  website/content/docs/upgrading/version-guides/0.4.0.mdx
  website/content/docs/upgrading/version-guides/0.5.0.mdx
  website/content/docs/upgrading/version-guides/0.6.0.mdx
  website/content/docs/upgrading/version-guides/0.7.0.mdx
  website/content/docs/upgrading/version-guides/0.8.0.mdx
  website/content/docs/upgrading/version-guides/index.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, pr/no-changelog

#3420 internal/server: Include `WatchTask` in task state
  internal/cli/task_inspect.go
  internal/server/boltdbstate/task.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_task_test.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_task.go
Labels: core, pr/no-changelog

#3416 Decouple the server from the boltdb instanceExec functionality
  internal/server/boltdbstate/instance_exec.go
  internal/server/boltdbstate/instance_exec_test.go
  pkg/server/singleprocess/service_entrypoint.go
  pkg/server/singleprocess/service_entrypoint_test.go
  pkg/server/singleprocess/service_exec.go
  pkg/server/singleprocess/service_exec_test.go
  pkg/serverstate/instance.go
Labels: core, pr/no-changelog

#3380 Docs: Add ConfigSourcer plugin interface docs for extending Waypoint
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, pr/no-changelog

#3425 Fix panic in `waypoint status`
  .changelog/3425.txt
  internal/cli/status.go
Labels: core, cli, backport/0.8.x

#3423 internal/server: Ignore WatchTask on job ack and complete
  internal/server/boltdbstate/job.go
  pkg/serverstate/statetest/test_job.go
Labels: bug, core, pr/no-changelog

#3406 Feature/CLI: `waypoint pipeline run` CLI implementation
  internal/cli/pipeline_run.go
  internal/cli/task_list.go
  internal/jobstream/stream.go
  website/content/commands/pipeline-run.mdx
Labels: core, website, pr/no-changelog

#3424 Update Nomad plugin docs
  website/content/plugins/nomad.mdx
Labels: website, backport/website, pr/no-changelog, ecosystem

#3415 builtin/k8s: Implement `WatchTask` for k8s task plugin
  builtin/k8s/task.go
Labels: plugin, plugin/k8s, pr/no-changelog

#3438 kaniko: Include registry host when returning error in entrypoint
  builtin/docker/kaniko.go
  builtin/docker/pull/kaniko.go
  builtin/pack/builder.go
Labels: plugin, plugin/docker, plugin/pack, pr/no-changelog, backport/0.8.x

#3452 Make job handler tests consumable
  pkg/serverhandler/handlertest/test_service_job.go
  pkg/serverhandler/handlertest/testing.go
Labels: pr/no-changelog

#3457 include git commit msg to response
  .changelog/3457.txt
  internal/datasource/git.go
  internal/datasource/git_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core

#3358 sync lambda plugin versions and protoc cmd format
  builtin/aws/alb/plugin.pb.go
  builtin/aws/lambda/function_url/plugin.go
  builtin/aws/lambda/function_url/plugin.pb.go
  builtin/aws/lambda/lambda.go
  builtin/aws/lambda/plugin.pb.go
Labels: plugin, plugin/aws, pr/no-changelog, backport/0.8.x

#3465 Show errors interpreting plugin config
  .changelog/3465.txt
  internal/plugin/invoke.go
Labels: core

#3460 internal/server: Set expiry time on runner accept
  internal/server/boltdbstate/job.go
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_job.go
Labels: core, pr/no-changelog

#3456 update mockery version for make tools
  tools/tools.go
Labels: pr/no-changelog

#3455 Docs: Add Task introspection to docs
  website/content/docs/runner/on-demand-runner.mdx
Labels: website, pr/no-changelog

#3463 internal/cli: Add a `-json` flag for project list
  internal/cli/project_list.go
  website/content/commands/project-list.mdx
Labels: core, website, pr/no-changelog

#3472 Remove trailing whitespace to pacify the linter
  internal/plugin/invoke.go
Labels: core, pr/no-changelog

#3458 Helper for externalizing top-level server errors
  internal/clierrors/humanize.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/hcerr/doc.go
  pkg/server/hcerr/hcerr.go
  pkg/server/hcerr/hcerr_test.go
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_ondemand_runner.go
  pkg/server/singleprocess/service_task.go
  pkg/server/singleprocess/service_user.go
Labels: core, pr/no-changelog

#3474 Delete runner profiles
  .changelog/3474.txt
  internal/cli/main.go
  internal/cli/runner_profile_delete.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/ondemand_runner.go
  pkg/server/singleprocess/service_ondemand_runner.go
  website/content/commands/runner-profile-delete.mdx
  website/data/commands-nav-data.json
Labels: core, website

#3475 internal/server: Ensure task plugin is properly parsed when invoked
  .changelog/3475.txt
  builtin/k8s/platform.go
  builtin/k8s/task.go
  internal/plugin/invoke.go
  internal/serverinstall/k8s.go
Labels: core, plugin, plugin/k8s

#3469 WAYP-204 - Add project deprecation warning
  ui/app/styles/pages/_index.scss
  ui/app/templates/workspace/projects/index.hbs
  ui/translations/en-us.yaml
Labels: ui, pr/no-changelog

#3478 Test serverstate deploy filtering
  pkg/serverstate/statetest/test_deployment.go
Labels: pr/no-changelog

#3479 More error wrapping around ops
  internal/core/app_build.go
  internal/core/app_deploy.go
  internal/core/app_deploy_destroy.go
  internal/core/app_push.go
  internal/core/app_release.go
  internal/core/app_release_destroy.go
  internal/core/app_status_report.go
Labels: core, pr/no-changelog

#3480 update language for commands that have `auto-approve` flags
  internal/cli/destroy.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  website/content/commands/destroy.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/partials/commands/runner-profile-delete_desc.mdx
  website/content/partials/commands/runner-profile-delete_more.mdx
Labels: core, website, pr/no-changelog

#3482 update runner profile delete docs
  website/content/docs/runner/profiles.mdx
Labels: website, pr/no-changelog

#3487 bugfix: Pass region to lambda-function releaser
  builtin/aws/lambda/function_url/releaser.go
Labels: plugin, plugin/aws, pr/no-changelog

#3488 Task tracking documentation
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/troubleshooting.mdx
Labels: website, pr/no-changelog

#3489 Add ECR Pull Plugin docs to Lambda page
  website/content/plugins/aws-lambda.mdx
Labels: website, pr/no-changelog, plugin/lambda

#3490 Update runner profile during `server upgrade`
  .changelog/3490.txt
  internal/cli/install.go
  internal/cli/server_upgrade.go
Labels: core

#3466 Deprecate multiple app blocks in a waypoint.hcl
  .changelog/3466.txt
  internal/cli/base.go
  internal/config/validate.go
  internal/core/project.go
Labels: core

#3498 rm dup TestJobComplete
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog

#3497 CLI/Upgrades: Warn user post-upgrade if they have multiple runner profiles set as default
  .changelog/3497.txt
  internal/cli/runner_profile_set.go
  internal/cli/server_upgrade.go
  website/content/commands/runner-profile-set.mdx
Labels: core, website

#3508 k8s/task: Return an actual error if pod job exists but has no pods
  builtin/k8s/task.go
Labels: plugin, plugin/k8s, pr/no-changelog

#3510 Rae/working runner install branch
  internal/cli/install.go
  internal/cli/server_upgrade.go
  internal/installutil/adoption.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
Labels: core, pr/no-changelog

#3509 Docs/ecs install
  internal/cli/install.go
  website/content/docs/server/install.mdx
  website/content/docs/upgrading/index.mdx
Labels: core, website, backport/website, pr/no-changelog

#3335 New `runner install` command
  .changelog/3335.txt
  go.mod
  go.sum
  internal/cli/install.go
  internal/cli/main.go
  internal/cli/runner_install.go
  internal/cli/runner_uninstall.go
  internal/cli/server_upgrade.go
  internal/cli/uninstall.go
  internal/installutil/adoption.go
  internal/installutil/aws/ecs.go
  internal/installutil/helm/helm.go
  internal/installutil/k8s/k8s.go
  internal/installutil/nomad/nomad.go
  internal/installutil/odr.go
  internal/runnerinstall/docker.go
  internal/runnerinstall/ecs.go
  internal/runnerinstall/k8s.go
  internal/runnerinstall/nomad.go
  internal/runnerinstall/runnerinstall.go
  internal/serverinstall/docker.go
  internal/serverinstall/ecs.go
  internal/serverinstall/k8s.go
  internal/serverinstall/nomad.go
  internal/serverinstall/serverinstall.go
  internal/serverinstall/serverinstall_test.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/runner-uninstall.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-uninstall.mdx
  website/content/commands/server-upgrade.mdx
  website/content/docs/runner/index.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/waypoint-hcl/app.mdx
  website/content/docs/waypoint-hcl/runner.mdx
  website/content/partials/commands/runner-install_desc.mdx
  website/content/partials/commands/runner-install_more.mdx
  website/content/partials/commands/runner-uninstall_desc.mdx
  website/content/partials/commands/runner-uninstall_more.mdx
  website/data/commands-nav-data.json
Labels: core, website
