Repository hashicorp/waypoint, pull requests merged in 2022-11, with the labels that each got.

#4143 Add operation flags to `config sync` command
  .changelog/4143.txt
  internal/cli/config_sync.go
  website/content/commands/config-sync.mdx
Labels: core, website, cli, backport/0.10.x

#4139 UI/hide sensitive variables
  .changelog/4139.txt
  ui/app/components/project-input-variables/list-item.hbs
  ui/app/components/project-input-variables/list-item.ts
  ui/app/services/api.ts
  ui/mirage/factories/project.ts
  ui/mirage/factories/variable.ts
  ui/mirage/models/variable.ts
  ui/tests/integration/components/project-input-variables-list-test.ts
  ui/translations/en-us.yaml
Labels: ui

#4163 Manual tweak to "Cleanup docs about runners."
  website/content/docs/runner/index.mdx
Labels: website

#4162 Cleanup docs about runners.
  website/content/docs/lifecycle/hooks.mdx
  website/content/docs/lifecycle/index.mdx
  website/content/docs/resources/internals/architecture.mdx
  website/content/docs/resources/internals/execution.mdx
  website/content/docs/resources/troubleshooting.mdx
  website/content/docs/runner/adoption.mdx
  website/content/docs/runner/config.mdx
  website/content/docs/runner/index.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/runner/profiles.mdx
  website/content/docs/runner/run-manual.mdx
  website/content/docs/upgrading/index.mdx
  website/content/docs/waypoint-hcl/registry.mdx
  website/content/docs/waypoint-hcl/variables/dynamic.mdx
Labels: website, pr/no-changelog, backport/0.10.x

#4124 Fix typo
  website/content/docs/app-config/dynamic.mdx
Labels: website, backport/website, pr/no-changelog

#4165 Fix backport #4127
  website/content/docs/entrypoint/index.mdx
  website/content/docs/lifecycle/index.mdx
Labels: documentation, website, pr/no-changelog

#4164 [website] Fix casing typo
  website/content/docs/runner/index.mdx
Labels: website, backport/website, pr/no-changelog

#4121 Fix issue with docker-pull and authentication
  .changelog/4121.txt
  builtin/docker/pull/kaniko.go
  internal/pkg/epinject/ociregistry/server.go
Labels: core, plugin, plugin/docker, backport/0.10.x

#4157 Use CSI params on Nomad server install
  .changelog/4157.txt
  internal/installutil/nomad/nomad.go
  internal/runnerinstall/nomad.go
  internal/serverinstall/nomad.go
  website/content/commands/runner-install.mdx
Labels: core, website, plugin/nomad, core/install, backport/0.10.x

#4173 ui: bump `ember-source` to 3.28.10
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog, backport/0.10.x

#4174 Backport of ui: bump `ember-source` to 3.28.10 into release/0.10.x
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#4177 Add 0.10.3 changelog
  CHANGELOG.md
Labels: pr/no-changelog

#4183 Improve /ui dev instructions
  ui/README.md
Labels: ui, pr/no-changelog

#4185 Fix pipeline `exec` steps run in Nomad
  .changelog/4185.txt
  builtin/nomad/task.go
Labels: plugin, plugin/nomad, core/pipeline, backport/0.10.x

#4182 Fix backport #4041
  .changelog/3988.txt
  builtin/vault/config_sourcer.go
  builtin/vault/internal/auth/aws/aws.go
  go.mod
  go.sum
Labels: plugin, pr/no-changelog, plugin/vault, chore, ecosystem

#4198 ui: `make gen/ts`
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui, pr/no-changelog

#4208 cli: Remove extra https in final output for app urls
  .changelog/4208.txt
  internal/cli/deployment_create.go
  internal/cli/pipeline_run.go
  internal/cli/release_create.go
  internal/cli/up.go
Labels: core, backport/0.10.x

#4205 Improve display of remote data source
  internal/cli/project_inspect.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: core, pr/no-changelog

#4207 Fix tiny typo on app-config/dynamic docs
  website/content/docs/app-config/dynamic.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#4186 Add additional logging to find race condition
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#4147 Retire @hashicorp/structure-icons and ember-svg-jar
  ui/app/components/oidc-auth-buttons/index.hbs
  ui/app/components/project-init-running.hbs
  ui/app/components/spinner.hbs
  ui/app/styles/components/_index.scss
  ui/app/styles/components/empty-state.scss
  ui/app/styles/components/navigation/page-header.scss
  ui/app/styles/components/spinner.scss
  ui/app/styles/pages/auth-page.scss
  ui/app/templates/auth/oidc-callback-loading.hbs
  ui/app/templates/auth/oidc-callback.hbs
  ui/app/templates/workspace/projects/project/app.hbs
  ui/package.json
  ui/yarn.lock
Labels: ui, pr/no-changelog

#4215 Manual backport of `app-config/dynamic.mdx` onto `stable-website`
  website/content/docs/app-config/dynamic.mdx
Labels: website

#4216 Manual backport of `app-config/dynamic.mdx` onto `release/0.10.x`
  website/content/docs/app-config/dynamic.mdx
Labels: website

#4217 website: add Consul to app-config/dynamic docs
  website/content/docs/app-config/dynamic.mdx
Labels: website, backport/website, pr/no-changelog

#4220 Backport of build(deps): bump loader-utils from 1.4.1 to 1.4.2 in /ui into release/0.10.x
  ui/yarn.lock
Labels: ui, pr/no-changelog

#4224 Fix backport to release/0.10.x for scoped config sources
  internal/server/boltdbstate/config.go
  internal/server/boltdbstate/config_source.go
  internal/server/boltdbstate/config_source_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/sort/config_source.go
Labels: core

#4203 Add pagination
  .changelog/4203.txt
  internal/cli/project_list.go
  internal/cli/status.go
  internal/server/boltdbstate/project.go
  internal/server/boltdbstate/state_test.go
  pkg/pagination/pagination.go
  pkg/pagination/pagination_test.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/pagination.go
  pkg/server/ptypes/pagination_test.go
  pkg/server/ptypes/project.go
  pkg/server/singleprocess/service_project.go
  pkg/serverhandler/handlertest/test_service_project.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_project.go
Labels: core

#4228 Properly validate form of event types
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#4223 Upgrade backport-assistant to 0.3.1
  .github/workflows/backport.yml
Labels: pr/no-changelog

#4235 Fix backport #4234
  .changelog/4196.txt
  internal/cli/config_source_get.go
  internal/cli/config_source_set.go
  pkg/server/singleprocess/service_entrypoint.go
  pkg/server/singleprocess/service_runner.go
  website/content/commands/config-source-get.mdx
  website/content/commands/config-source-set.mdx
Labels: core, website

#4230 Feat/alb ext sg
  .changelog/4230.txt
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/releaser.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  embedJson/gen/platform-aws-ecs.json
  embedJson/gen/releasemanager-aws-alb.json
  website/README.md
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
  website/package-lock.json
Labels: website, plugin, plugin/aws

#4227 docs: add lambda-function-url to aws-lambda page
  website/content/plugins/aws-lambda.mdx
Labels: website, backport/website, pr/no-changelog

#4226 docs: fix microtypo in lambda memory default
  builtin/aws/lambda/platform.go
  embedJson/gen/platform-aws-lambda.json
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website, plugin, plugin/aws, backport/website, pr/no-changelog

#4239 Fix backport#4238
  .changelog/4230.txt
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/releaser.go
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  embedJson/gen/platform-aws-ecs.json
  embedJson/gen/releasemanager-aws-alb.json
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/releasemanager-aws-alb.mdx
  website/package-lock.json
Labels: website, plugin, plugin/aws

#4212 Modify `project destroy` to require `-p` flag and delete projects created in UI without data source
  .changelog/4212.txt
  internal/cli/project_destroy.go
  internal/runner/accept.go
  website/content/commands/project-destroy.mdx
Labels: core, website, backport/0.10.x

#4229 Initial addition of GH->Jira workflow
  .github/workflows/jira.yml
Labels: pr/no-changelog, chore
