Repository hashicorp/waypoint, pull requests merged in 2023-08, with the labels that each got.

#4867 Add guards against nil derefernce panics in job/task CLI commands
  .changelog/4867.txt
  internal/cli/job_get_stream.go
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  internal/cli/task_inspect.go
Labels: core, core/cli

#4815 RPC Validators for project templates
  pkg/server/ptypes/project_template.go
  pkg/server/ptypes/project_template_test.go
Labels: pr/no-changelog

#4835 Add Ons protobuf
  internal/server/boltdbstate/project_template.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
Labels: core, pr/no-changelog

#4873 Fix syntax error in ECS policy doc
  .changelog/4873.txt
  internal/runnerinstall/ecs.go
Labels: core, backport/0.11.x

#4877 Release v0.11.4 changelog
  CHANGELOG.md
Labels: pr/no-changelog

#4836 Server state: Add Ons & Add On definitions
  internal/server/boltdbstate/add_on.go
  internal/server/boltdbstate/state_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/serverstate/event.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_add_on.go
  pkg/serverstate/statetest/test_event.go
Labels: core, pr/no-changelog

#4882 Update linux package license to BUSL-1.1
  .github/workflows/build-waypoint-oss.yml
Labels: pr/no-changelog

#4879 Add-on updates
  internal/server/boltdbstate/add_on.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_add_on.go
  pkg/serverstate/statetest/test_event.go
Labels: core, pr/no-changelog
