Repository hashicorp/waypoint, pull requests merged in 2023-04, with the labels that each got.

#4608 Remove Plugin MDX content
  website/content/plugins/aws-ec2.mdx
  website/content/plugins/aws-ecs.mdx
  website/content/plugins/aws-lambda.mdx
  website/content/plugins/aws-ssm.mdx
  website/content/plugins/azure-container-instance.mdx
  website/content/plugins/consul.mdx
  website/content/plugins/docker.mdx
  website/content/plugins/exec.mdx
  website/content/plugins/google-cloud-run.mdx
  website/content/plugins/helm.mdx
  website/content/plugins/index.mdx
  website/content/plugins/kubernetes.mdx
  website/content/plugins/nomad.mdx
  website/content/plugins/pack.mdx
  website/content/plugins/packer.mdx
  website/content/plugins/terraform-cloud.mdx
  website/content/plugins/vault.mdx
  website/data/plugins-nav-data.json
Labels: website, pr/no-changelog

#4610 Remove plugin titles from top-level README
  builtin/aws/alb/README.md
  builtin/aws/ami/README.md
  builtin/aws/ec2/README.md
  builtin/aws/ecr/README.md
  builtin/aws/ecr/pull/README.md
  builtin/aws/ecs/README.md
  builtin/aws/lambda/README.md
  builtin/aws/lambda/function_url/README.md
  builtin/aws/ssm/README.md
  builtin/azure/aci/README.md
  builtin/consul/README.md
  builtin/docker/README.md
  builtin/docker/pull/README.md
  builtin/docker/ref/README.md
  builtin/exec/README.md
  builtin/files/README.md
  builtin/google/cloudrun/README.md
  builtin/k8s/README.md
  builtin/k8s/apply/README.md
  builtin/k8s/helm/README.md
  builtin/nomad/README.md
  builtin/nomad/canary/README.md
  builtin/nomad/jobspec/README.md
  builtin/pack/README.md
  builtin/packer/README.md
  builtin/tfc/README.md
  builtin/vault/README.md
Labels: plugin, plugin/google, plugin/docker, plugin/nomad, plugin/pack, plugin/k8s, plugin/azure, plugin/aws, pr/no-changelog

#4615 remove repo-specific codeql action, in favor of centralized job
  .github/workflows/codeql-analysis.yml
Labels: pr/no-changelog

#4606 core: Add Project Templates to protos
  internal/server/boltdbstate/project_template.go
  pkg/server/gen/mocks/is_ref__project_template__ref.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/serverstate/serverstate.go
Labels: core, pr/no-changelog

#4607 App overview
  go.mod
  go.sum
  internal/server/boltdbstate/event.go
  internal/server/boltdbstate/state_test.go
  pkg/server/gen/mocks/is_pagination_cursor__cursor__value.go
  pkg/server/gen/mocks/is_ui__event_bundle__event.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/ptypes/README.md
  pkg/server/ptypes/build.go
  pkg/server/ptypes/event.go
  pkg/server/singleprocess/handler_test.go
  pkg/server/singleprocess/service_ui_event.go
  pkg/serverhandler/handlertest/test_service_deploy.go
  pkg/serverhandler/handlertest/test_service_status_report.go
  pkg/serverhandler/handlertest/test_service_ui_event.go
  pkg/serverstate/event.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_event.go
Labels: core, pr/no-changelog

#4583 Releng/migrate to crt
  .github/scripts/verify_docker.sh
  .github/workflows/build-waypoint-oss.yml
  .github/workflows/build.yml
  .github/workflows/create-release-branch.yml
  .go-version
  .release/ci.hcl
  .release/release-metadata.hcl
  .release/security-scan.hcl
  Dockerfile
  Makefile
  version/VERSION
Labels: pr/no-changelog, backport/0.11.x

#4619 Additional install flags for Nomad service address and network mode
  .changelog/4619.txt
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
Labels: core, website, plugin/nomad, core/install

#4628 wait for events to roll in
  pkg/serverhandler/handlertest/test_service_ui_event.go
Labels: pr/no-changelog

#4617 Convert hashicorp/waypoint to GitHub Actions
  .github/dependabot.yml
  .github/scripts/split-tests.sh
  .github/services/go-tests/docker-compose.yml
  .github/workflows/actionlint.yml
  .github/workflows/backport.yml
  .github/workflows/build-waypoint-oss.yml
  .github/workflows/build.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/check-legacy-links-format.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/end-to-end.yml
  .github/workflows/failed-backport-check.yml
  .github/workflows/frontend.yml
  .github/workflows/gateway-yml-check.yml
  .github/workflows/go-tests.yml
  .github/workflows/integration-hcl.yml
  .github/workflows/integration.yml
  .github/workflows/jira.yml
  .github/workflows/json-docs.yml
  .github/workflows/labeler.yml
  .github/workflows/notify-integration-release-manual.yml
  .github/workflows/website-mdx.yml
  ci/integration.sh
  ci/sinatra/waypoint.hcl
  test-e2e/run-test.sh
Labels: pr/no-changelog, backport/0.11.x

#4636 Revert output path for bin make target
  .github/workflows/integration.yml
  Makefile
Labels: pr/no-changelog

#4633 Remove CircleCI
  .circleci/.gitattributes
  .circleci/.gitignore
  .circleci/bash_env.sh
  .circleci/config.yml
  .circleci/ssh_config
Labels: pr/no-changelog

#4638 Backport #4636 to release/0.11.x
  .github/workflows/integration.yml
  Makefile
Labels: pr/no-changelog

#4642 add new flags from #4619 to upgrade command
  internal/serverinstall/nomad.go
  website/content/commands/server-upgrade.mdx
Labels: website, pr/no-changelog, core/install, backport/0.11.x
