Repository hashicorp/waypoint, pull requests merged in 2023-03, with the labels that each got.

#4509 Wayp 751 UI list pipelines implementation
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_ui_pipeline.go
  pkg/serverhandler/handlertest/test_service_ui_pipeline.go
Labels: pr/no-changelog

#4559 Update gateway.yml
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog

#4560 Add `gateway.yml` check
  .github/workflows/gateway-yml-check.yml
  scripts/gateway-yml-check.sh
Labels: pr/no-changelog

#4561 Add `UI_GetDeployment` to `gateway.yml`
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
  scripts/gateway-yml-check.sh
Labels: pr/no-changelog, core/api

#4473 Enable custom health checks for ECS plugin
  .changelog/4473.txt
  builtin/aws/ecs/components/platform/parameters.hcl
  builtin/aws/ecs/platform.go
  embedJson/gen/platform-aws-ecs.json
  website/content/partials/components/platform-aws-ecs.mdx
Labels: enhancement, website, plugin, plugin/aws, backport/0.11.x

#4563 Delete test-link-rewrites.yml
  .github/workflows/test-link-rewrites.yml
Labels: pr/no-changelog

#4564 Remove v1 from `UI_ListProjects` grpc-gateway path
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog

#4566 Add default codeowner
  .github/CODEOWNERS
Labels: pr/no-changelog

#4568 internal/runnerinstall: fix dropped error
  internal/runnerinstall/ecs.go
Labels: core, pr/no-changelog

#4575 Jira sync fix
  .github/workflows/jira.yml
Labels: pr/no-changelog, backport/0.11.x

#4577 More Jira fixes
  .github/workflows/jira.yml
Labels: pr/no-changelog

#4584 Wayp 752 UI list pipeline runs
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline.go
  pkg/server/singleprocess/service_ui_pipeline_run.go
  pkg/serverhandler/handlertest/test_service_ui_pipeline_run.go
Labels: pr/no-changelog

#4581 Add missing fields to `UI_ListPipelines`
  pkg/server/singleprocess/service_ui_pipeline.go
  pkg/serverhandler/handlertest/test_service_ui_pipeline.go
Labels: pr/no-changelog

#4591 chore: add waypoint api-docs swagger to should-build
  website/scripts/should-build.sh
Labels: website, pr/no-changelog

#4598 Use a separate context when deleting an instance record
  pkg/server/singleprocess/service_entrypoint.go
Labels: pr/no-changelog

#4588 Core: Ensure Project and Workspace names are valid
  .changelog/4588.txt
  internal/client/runner_test.go
  pkg/server/ptypes/ref.go
  pkg/serverhandler/handlertest/test_service_project.go
Labels: bug, core, backport/0.11.x

#4601 More context fixes, better job logging
  pkg/server/singleprocess/service_job.go
  pkg/server/singleprocess/service_runner.go
Labels: pr/no-changelog

#4600 Wayp 1010 improve performance UI list pipelines
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_ui_pipeline.go
  pkg/serverhandler/handlertest/test_service_ui_pipeline.go
Labels: pr/no-changelog
