Repository hashicorp/waypoint, pull requests merged in 2023-02, with the labels that each got.

#4471 Fix backport runner profile
  website/content/docs/runner/profiles.mdx
Labels: website

#4457 Fix bring-your-own-alb for plugin/ecs
  .changelog/4457.txt
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/platform_test.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/ecs/plugin.proto
  builtin/aws/ecs/releaser.go
  embedJson/gen/platform-aws-ecs.json
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website, plugin, plugin/aws

#4472 Backport of Bump ua-parser-js from 0.7.24 to 1.0.33 in /ui into release/0.10.x
  ui/package.json
  ui/yarn.lock
Labels: ui

#4476 jira - remove `oss` as label
  .github/workflows/jira.yml
Labels: pr/no-changelog

#4387 core/install: Add configurable CSI mount flags to install
  .changelog/4387.txt
  internal/installutil/nomad/nomad.go
  internal/runnerinstall/nomad.go
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
Labels: core, website, core/install

#4474 website(README): add content-check command
  website/README.md
  website/package-lock.json
  website/package.json
Labels: website, pr/no-changelog

#4477 Jira - fix duplication bug
  .github/workflows/jira.yml
Labels: pr/no-changelog

#4480 chore: add integrations workflow file
  .github/workflows/notify-integration-release-manual.yml
Labels: pr/no-changelog

#4482 Update SSH key for publishing static assets
  .circleci/config.yml
Labels: pr/no-changelog

#4483 Include Packer in integration release notification
  .github/workflows/notify-integration-release-manual.yml
Labels: pr/no-changelog

#4484 Recontextualize README for HashiCorp Developer website
  README.md
Labels: pr/no-changelog

#4436 [check-legacy-links-format] Upgrading to latest workflow
  .github/workflows/check-legacy-links-format.yml
Labels: pr/no-changelog

#4447 Add `UI_ListProjects`
  internal/server/boltdbstate/project.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/ptypes/project.go
  pkg/server/singleprocess/service_ui_project.go
  pkg/serverhandler/handlertest/test_service_ui_project.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_project.go
Labels: core, pr/no-changelog, core/api

#4486 internal/cli: fix dropped errors
  internal/cli/install.go
  internal/cli/k8s_bootstrap.go
Labels: core, pr/no-changelog

#4490 Adds Function URL & Null descriptions
  builtin/aws/lambda/function_url/metadata.hcl
  builtin/null/metadata.hcl
Labels: plugin, plugin/aws, pr/no-changelog

#4343 ci: Add CI check for Integration HCL files being generated
  .circleci/config.yml
Labels: pr/no-changelog

#4492 gen make/website-mdx
  embedJson/gen/configsourcer-packer.json
  embedJson/gen/platform-nomad.json
  website/content/partials/components/configsourcer-packer.mdx
  website/content/partials/components/platform-nomad.mdx
Labels: website, pr/no-changelog

#4494 Docs Recontextualization & URL Adjustments for Plugins -> Integrations Library
  website/content/docs/app-config/dynamic.mdx
  website/content/docs/entrypoint/disable.mdx
  website/content/docs/extending-waypoint/plugin-interfaces/configsourcer.mdx
  website/content/docs/index.mdx
  website/content/docs/lifecycle/build.mdx
  website/content/docs/lifecycle/deploy.mdx
  website/content/docs/platforms/kubernetes/container-build.mdx
  website/content/docs/platforms/kubernetes/deploy.mdx
  website/content/docs/platforms/kubernetes/external-build.mdx
  website/content/docs/platforms/kubernetes/helm-deploy.mdx
  website/content/docs/plugins.mdx
  website/content/docs/runner/on-demand-runner.mdx
  website/content/docs/runner/profiles.mdx
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/waypoint-hcl/use.mdx
  website/content/docs/waypoint-hcl/variables/artifact.mdx
  website/content/docs/waypoint-hcl/variables/deploy.mdx
Labels: website

#4495 Fix crash created by passing a nil err
  pkg/server/hcerr/hcerr.go
  pkg/server/hcerr/user_error.go
  pkg/server/singleprocess/service_job.go
Labels: pr/no-changelog

#4489 ui: `make gen/ts`
  ui/lib/waypoint-client/ServerServiceClientPb.ts
  ui/lib/waypoint-pb/server_pb.d.ts
  ui/lib/waypoint-pb/server_pb.js
Labels: ui, pr/no-changelog

#4499 `PlatformReleaser` plugin interface docs
  website/content/docs/extending-waypoint/plugin-interfaces/platform-releaser.mdx
  website/data/docs-nav-data.json
Labels: documentation, website, backport/website, pr/no-changelog

#4487 HCP HashiStack Use Case
  website/content/docs/use-cases/hcp-hashistack-quickstart.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/hcp-hashistack-quickstart/consul.png
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp-2048.png
  website/public/img/use-cases/hcp-hashistack-quickstart/hcp.png
  website/public/img/use-cases/hcp-hashistack-quickstart/hvn.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ec2.png
  website/public/img/use-cases/hcp-hashistack-quickstart/nomad-ui.png
  website/public/img/use-cases/hcp-hashistack-quickstart/service-principal.png
  website/public/img/use-cases/hcp-hashistack-quickstart/vault.png
  website/public/img/use-cases/hcp-hashistack-quickstart/waypoint-runner-install.png
  website/public/img/use-cases/hcp-hashistack-quickstart/wp-runner-install.png
Labels: documentation, website, backport/website, pr/no-changelog

#4503 Resource Manager Framework docs updates
  website/content/docs/extending-waypoint/plugin-frameworks/index.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#4500 `TaskLauncher` plugin interface documentation
  website/content/docs/extending-waypoint/plugin-interfaces/task-launcher.mdx
  website/data/docs-nav-data.json
Labels: documentation, website, backport/website, pr/no-changelog

#4517 builtin/k8s: Update kubectl apply param to reflect new param
  .changelog/4517.txt
  builtin/k8s/apply/components/platform/README.md
  builtin/k8s/apply/components/platform/outputs.hcl
  builtin/k8s/apply/components/platform/parameters.hcl
  builtin/k8s/apply/platform.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/apply/plugin.proto
  embedJson/gen/platform-kubernetes-apply.json
  website/content/partials/components/platform-kubernetes-apply.mdx
Labels: website, plugin, plugin/k8s, pr/no-changelog

#4521 Fix a few links for the integrations library
  builtin/aws/ec2/README.md
  builtin/aws/ssm/README.md
  builtin/azure/aci/README.md
  builtin/docker/README.md
  builtin/docker/ref/README.md
Labels: plugin, plugin/docker, plugin/azure, plugin/aws, pr/no-changelog

#4522 Fix typo
  builtin/aws/ami/metadata.hcl
Labels: plugin, plugin/aws, pr/no-changelog

#4523 Fix key for config sources in BoltDB
  .changelog/4523.txt
  internal/server/boltdbstate/config_source.go
Labels: core

#4526 Add API docs to website
  website/content/docs/extending-waypoint/api/index.mdx
  website/data/docs-nav-data.json
Labels: website, pr/no-changelog

#4525 v0.11.0 Upgrade Documentation
  website/content/docs/upgrading/version-guides/0.11.0.mdx
  website/data/docs-nav-data.json
Labels: website, pr/no-changelog

#4529 Add changelog for v0.11.0
  CHANGELOG.md
Labels: pr/no-changelog

#4527 cli: Add positional arg to waypoint runner profile set
  .changelog/4527.txt
  internal/cli/runner_profile_set.go
  website/content/commands/runner-profile-set.mdx
Labels: core, website, backport/0.11.x

#4518 Makefile: Add top-level auto-gen command for our website docs
  Makefile
Labels: pr/no-changelog

#4533 chore: remove `null` from integrations release
  .github/workflows/notify-integration-release-manual.yml
Labels: pr/no-changelog

#4531 CLI: Enhance Job CLI UX for `waypoint job list` and `waypoint job inspect`
  .changelog/4531.txt
  internal/cli/job_inspect.go
  internal/cli/job_list.go
  website/content/commands/job-list.mdx
Labels: core, website, backport/0.11.x

#4542 remove comments
  .github/workflows/jira.yml
Labels: pr/no-changelog

#4544 Jira/include PRs
  .github/workflows/jira.yml
Labels: pr/no-changelog

#4545 internal/runner: fix dropped error
  internal/runner/operation_release.go
Labels: core, pr/no-changelog

#4510 Add jq install to tools.Dockerfile
  tools.Dockerfile
Labels: pr/no-changelog, backport/0.11.x

#4520 Check target health before releasing ECS deployment
  .changelog/4520.txt
  builtin/aws/ecs/releaser.go
Labels: plugin, plugin/aws, plugin/ecs, ecosystem, backport/0.11.x

#4497 Update target group destroyer to wait for listener
  .changelog/4497.txt
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws, plugin/ecs, backport/0.11.x

#4546 maint: Update nix environment
  flake.lock
  flake.nix
  nix/go-protobuf-grpc-gateway.nix
  nix/go-tools.nix
  nix/overlay.nix
  nix/waypoint.nix
Labels: pr/no-changelog, chore

#4553 ui: only show health-check “Re-run” button if project has a data source
  .changelog/4553.txt
  ui/app/components/status-report-meta-table/index.hbs
  ui/app/components/status-report-meta-table/index.ts
  ui/app/routes/workspace/projects/project.ts
  ui/app/services/project.ts
Labels: ui, backport/0.11.x

#4555 ui: clean-up `project.current` when leaving project route
  ui/app/routes/workspace/projects/project.ts
Labels: ui, pr/no-changelog, backport/0.11.x
