Repository hashicorp/waypoint, pull requests merged in 2023-05, with the labels that each got.

#4645 add event external_id
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: pr/no-changelog

#4646 Declare `UI_GetPipelineRun` and friends
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
Labels: pr/no-changelog, core/api, core/pipeline

#4648 Add `body: *` to CreateProjectFromTemplate grpc-gateway mapping
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog, core/api

#4651 Fix flakey ceb/ssh test
  internal/ceb/ssh/server_test.go
Labels: pr/no-changelog

#4655 Update ref markdown
  website/content/docs/lifecycle/build.mdx
Labels: backport/website, pr/no-changelog

#4660 server: Ensure trigger names are valid paths
  .changelog/4660.txt
  pkg/server/ptypes/trigger.go
  pkg/serverhandler/handlertest/test_service_trigger.go
Labels: backport/0.11.x

#4661 Move CRT things into their own dockerfile
  .github/workflows/build.yml
  CRT.Dockerfile
  Dockerfile
Labels: pr/no-changelog, backport/0.11.x

#4665 Standardizing templating routes
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog

#4670 builtin/consul: Properly set datacenter val on request logger
  .changelog/4670.txt
  builtin/consul/config_sourcer.go
Labels: backport/0.11.x

#4672 cli/runner_install: Do not use cli slice for runner platform
  .changelog/4672.txt
  internal/cli/runner_install.go
Labels: backport/0.11.x

#4673 server: Check that UserFromContext gets user before generating token
  pkg/server/singleprocess/auth.go
Labels: pr/no-changelog, backport/0.11.x

#4675 internal: Cleanup remote URL trimming for git
  .changelog/4675.txt
  internal/pkg/gitdirty/gitdirty.go
Labels: backport/0.11.x

#4676 cli: Ensure that img string passed is proper length
  internal/cli/deployment_list.go
  internal/cli/release_list.go
  internal/cli/status.go
Labels: pr/no-changelog, backport/0.11.x

#4677 builtin/ecr: Return err if token length is less than expected
  builtin/aws/ecr/registry.go
Labels: pr/no-changelog, backport/0.11.x

#4685 Adding the readme markdown to the project proto
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
Labels: pr/no-changelog

#4684 docs: Fix user-facing typos
  ARCHITECTURE.md
  builtin/aws/ecs/components/platform/aws-ecs-platform/parameters.hcl
  builtin/aws/ecs/platform.go
  docs/gen/platform-aws-ecs.json
  embedJson/gen/platform-aws-ecs.json
  internal/cli/config_set.go
  internal/runnerinstall/ecs.go
  pkg/server/singleprocess/auth.go
  website/content/commands/config-set.mdx
  website/content/commands/runner-install.mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: backport/website, pr/no-changelog, backport/0.11.x

#4691 Backport: docs: Fix user-facing documentation typos
  ARCHITECTURE.md
  builtin/aws/ecs/components/platform/parameters.hcl
  builtin/aws/ecs/platform.go
  docs/gen/platform-aws-ecs.json
  embedJson/gen/platform-aws-ecs.json
  internal/cli/config_set.go
  internal/runnerinstall/ecs.go
  pkg/server/singleprocess/auth.go
  website/content/commands/config-set.mdx
  website/content/commands/runner-install.mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: backport/website

#4692 Backport fixes for website: docs: Fix user-facing documentation typos
  ARCHITECTURE.md
  builtin/aws/ecs/components/platform/parameters.hcl
  builtin/aws/ecs/platform.go
  docs/gen/platform-aws-ecs.json
  embedJson/gen/platform-aws-ecs.json
  internal/cli/config_set.go
  internal/runnerinstall/ecs.go
  pkg/server/singleprocess/auth.go
  website/content/commands/config-set.mdx
  website/content/commands/runner-install.mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: core, website, plugin, plugin/aws

#4693 Correct hardcoded product version passed to e2e tests
  .github/workflows/build.yml
Labels: pr/no-changelog, backport/0.11.x

#4695 Update hardcoded version to 0.12.0
  internal/version/version.go
Labels: bug, release-eng, pr/no-changelog

#4699 fix(cli): honor runner install -platform arg
  .changelog/4699.txt
  internal/cli/runner_install.go
Labels: bug, core/cli, backport/0.11.x

#4697 Preload project template in `UI_GetProject`
  pkg/server/singleprocess/service_ui_project.go
Labels: pr/no-changelog

#4703 chore: make gateway-yml consistent with other checks
  .github/workflows/check-gateway-yml.yml
  scripts/check-gateway-yml.sh
Labels: pr/no-changelog

#4706 Fix in-loop defer
  builtin/tfc/config_sourcer.go
Labels: pr/no-changelog

#4701 fix(builtin): de-dupe various hcl annotation keys
  .changelog/4701.txt
  internal/installutil/k8s/k8s.go
  internal/runnerinstall/nomad.go
  internal/serverinstall/nomad.go
Labels: bug, backport/0.11.x

#4715 Add `pull-requests: write` permission to labeler workflow
  .github/workflows/labeler.yml
Labels: pr/no-changelog

#4714 Check symlink targets when performing copy
  .changelog/4714.txt
  internal/pkg/copy/copy.go
  internal/pkg/copy/copy_test.go
Labels: core

#4707 Runner token ID check
  .changelog/4707.txt
  pkg/server/singleprocess/auth.go
  pkg/server/singleprocess/auth_test.go
Labels: backport/0.11.x

#4696 Tests for template-related fields Projects
  internal/server/boltdbstate/state_test.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/serverstate/statetest/test_project.go
Labels: core, pr/no-changelog

#4723 Remove race condition in job test
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog

#4716 update error handling for unhandled errors
  internal/cli/server_upgrade.go
  internal/pkg/httpfs/copy.go
Labels: core, pr/no-changelog

#4724 Validating tokens
  pkg/server/ptypes/auth.go
  pkg/server/ptypes/deployment.go
  pkg/server/singleprocess/auth.go
Labels: pr/no-changelog

#4725 Remove more race conditions in job test
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog

#4567 Add `UI_GetPipelineRun`
  internal/pkg/graph/transitive.go
  internal/pkg/graph/transitive_test.go
  pkg/server/ptypes/pipeline.go
  pkg/server/ptypes/pipeline_ui.go
  pkg/server/ptypes/pipeline_ui_test.go
  pkg/server/singleprocess/service_ui_pipeline_run.go
  pkg/serverhandler/handlertest/test_service_ui_pipeline_run.go
Labels: core, pr/no-changelog, core/api, core/pipeline

#4727 Close the resp.Body in all exits of the loop body
  builtin/tfc/config_sourcer.go
Labels: plugin, pr/no-changelog

#4732 Ignore `{Start,Stop,Watch}Task` in `ptypes.UI_PipelineRunTreeFromJobs`
  pkg/server/ptypes/pipeline_ui.go
Labels: pr/no-changelog, core/api

#4712 Do not allow forwarded IP to overwrite request source IP in logs
  .changelog/4712.txt
  internal/server/http_log.go
Labels: core

#4739 Typo fixes in release_create.go and accept_test.go
  internal/cli/release_create.go
  internal/runner/accept_test.go
Labels: core, pr/no-changelog, backport/0.11.x

#4741 Fixed typo: task-inspect.go
  internal/cli/task_inspect.go
Labels: core, pr/no-changelog

#4748 Add `gateway.yml` mapping for `GetProjectTemplate` by name
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog, backport/0.11.x

#4742 ECS bug fixes and improvements
  .changelog/4742.txt
  builtin/aws/ecs/components/platform/aws-ecs-platform/parameters.hcl
  builtin/aws/ecs/platform.go
  builtin/aws/ecs/releaser.go
  go.mod
  go.sum
  internal/runnerinstall/ecs.go
Labels: core, plugin, plugin/aws, plugin/ecs, ecosystem, backport/0.11.x

#4756 gh: Be more explicit for resolving gateway yml checks
  scripts/check-gateway-yml.sh
Labels: pr/no-changelog
