Repository hashicorp/waypoint, pull requests merged in 2023-06, with the labels that each got.

#4747 Add “root pipeline” fields to jobs
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/ptypes/pipeline_ui.go
  pkg/server/ptypes/pipeline_ui_test.go
  pkg/server/singleprocess/service_pipeline.go
  pkg/server/singleprocess/service_pipeline_test.go
Labels: pr/no-changelog, core/api

#4754 server,cli: Add explicit `delete` RPC and CLI endpoints for `Config` and `ConfigSourcers` + tests
  .changelog/4754.txt
  internal/cli/config_delete.go
  internal/cli/config_source_delete.go
  internal/cli/main.go
  internal/server/boltdbstate/config.go
  internal/server/boltdbstate/config_source.go
  internal/server/boltdbstate/config_source_test.go
  internal/server/boltdbstate/project.go
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/ptypes/config.go
  pkg/server/singleprocess/service_config.go
  pkg/serverhandler/handlertest/test_service_config.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_config.go
  pkg/serverstate/statetest/test_config_source.go
  website/content/commands/config-delete.mdx
  website/content/commands/config-source-delete.mdx
  website/content/partials/commands/config-delete_desc.mdx
  website/content/partials/commands/config-delete_more.mdx
  website/content/partials/commands/config-source-delete_desc.mdx
  website/content/partials/commands/config-source-delete_more.mdx
  website/data/commands-nav-data.json
Labels: core, website, backport/0.11.x

#4761 api: fix duplicate gateway.yml paths
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog, core/api

#4763 Azure Plugin auth fix
  .changelog/4763.txt
  builtin/azure/aci/deployment.go
  builtin/azure/aci/platform.go
Labels: plugin, plugin/azure, backport/0.11.x

#4767 Set reasonable defaults for ECS plugin health check timeout
  .changelog/4767.txt
  builtin/aws/ecs/components/platform/aws-ecs-platform/parameters.hcl
  builtin/aws/ecs/platform.go
Labels: plugin, plugin/aws, plugin/ecs, ecosystem, backport/0.11.x

#4770 Remove `-workspace-scope` flag on `config set` and `config delete`
  .changelog/4770.txt
  embedJson/gen/platform-aws-ecs.json
  internal/cli/config_delete.go
  internal/cli/config_set.go
  internal/cli/config_source_set.go
  website/content/commands/config-delete.mdx
  website/content/commands/config-set.mdx
  website/content/commands/config-source-set.mdx
  website/content/docs/runner/config.mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: core, website, backport/0.11.x

#4729 Make ecs platform alb.load_balancer_arn optional
  .changelog/4729.txt
  builtin/aws/ecs/components/platform/aws-ecs-platform/parameters.hcl
  builtin/aws/ecs/platform.go
  embedJson/gen/platform-aws-ecs.json
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website, plugin, plugin/aws, waiting-reply, jira, backport/0.11.x

#4778 Fix backport #4776
  .changelog/4729.txt
  builtin/aws/ecs/components/platform/parameters.hcl
  builtin/aws/ecs/platform.go
  embedJson/gen/platform-aws-ecs.json
  website/content/partials/components/platform-aws-ecs.mdx
Labels: plugin/ecs

#4777 ECS plugin doc fix
  website/content/partials/components/platform-aws-ecs.mdx
Labels: website, pr/no-changelog, backport/0.11.x

#4785 Backport of plugin/helm: use proper namespaces into release/0.11.x
  builtin/k8s/helm/api.go
  builtin/k8s/helm/platform.go
  builtin/k8s/platform.go
  go.mod
  go.sum
  internal/installutil/helm/helm.go
  internal/runnerinstall/k8s.go
  internal/serverinstall/k8s.go
Labels: core, plugin, plugin/k8s

#4790 go fmt ./internal/installutil/helm/helm.go
  internal/installutil/helm/helm.go
Labels: core, pr/no-changelog

#4762 Return pipeline run bundle from `UI_GetPipelineRun`
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/singleprocess/service_ui_pipeline_run.go
  pkg/serverhandler/handlertest/test_service_ui_pipeline_run.go
Labels: pr/no-changelog, core/api

#4733 core/cli: Add project template crud commands to cli
  internal/cli/main.go
  internal/cli/template_create.go
  internal/cli/template_delete.go
  internal/cli/template_inspect.go
  internal/cli/template_list.go
  internal/cli/template_update.go
Labels: core, pr/no-changelog, core/cli

#4792 AWS ECS Runner Uninstall Fix
  .changelog/4792.txt
  internal/runnerinstall/ecs.go
Labels: core, plugin/ecs, ecosystem, backport/0.11.x

#4797 Add sorting to `serverstate.PipelineRunList`
  internal/server/boltdbstate/pipeline_run.go
  pkg/server/singleprocess/service_pipeline_run.go
  pkg/server/singleprocess/service_ui_pipeline_run.go
  pkg/serverstate/serverstate.go
  pkg/serverstate/statetest/test_pipeline_run.go
Labels: core, pr/no-changelog, backport/0.11.x

#4798 Nomad runner install CPU and memory flags
  .changelog/4798.txt
  internal/runnerinstall/nomad.go
  website/content/commands/runner-install.mdx
Labels: core, website, core/install, backport/0.11.x

#4804 install/nomad: Add host network config option.
  .changelog/4804.txt
  internal/serverinstall/nomad.go
  website/content/commands/install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, core/install, backport/0.11.x

#4806 More config sourcer state tests
  pkg/serverstate/statetest/test_config_source.go
Labels: pr/no-changelog, tests, backport/0.11.x

#4647 Add get latest deployment
  pkg/server/gen/mocks/waypoint_client.go
  pkg/server/gen/mocks/waypoint_server.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.pb.json.go
  pkg/server/gen/server.swagger.json
  pkg/server/gen/server_grpc.pb.go
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/ptypes/deployment.go
  pkg/server/singleprocess/service_deploy.go
  pkg/serverhandler/handlertest/test_service_deploy.go
Labels: pr/no-changelog

#4809 v0.11.2 changelog
  CHANGELOG.md
Labels: pr/no-changelog

#4816 jobstream: Add additional context for long runner ack times
  internal/jobstream/stream.go
Labels: core, pr/no-changelog, backport/0.11.x

#4822 Add CLI option to get all config sources with `config source-get`
  .changelog/4822.txt
  internal/cli/config_source_get.go
  internal/server/boltdbstate/config_source.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/server.proto
  pkg/server/server.go
  pkg/serverstate/statetest/test_config_source.go
  website/content/commands/config-source-get.mdx
  website/content/docs/app-config/dynamic.mdx
Labels: core, website, cli, backport/0.11.x
