Repository hashicorp/waypoint, pull requests merged in 2023-07, with the labels that each got.

#4826 Fix backport 4825 and 4830
  .changelog/4822.txt
  embedJson/gen/platform-aws-ecs.json
  internal/cli/config_source_get.go
  internal/server/boltdbstate/config_source.go
  pkg/server/gen/server.pb.go
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
  pkg/server/proto/server.proto
  pkg/server/server.go
  pkg/serverstate/statetest/test_config_source.go
  website/content/commands/config-source-get.mdx
  website/content/docs/app-config/dynamic.mdx
  website/content/partials/components/platform-aws-ecs.mdx
Labels: cli

#4818 runnerinstall/aws-ecs: Add AddTags permission to ODR IAM policy.
  .changelog/4818.txt
  internal/runnerinstall/ecs.go
Labels: core, plugin/ecs, backport/0.11.x

#4840 runnerinstall/aws-ecs: Add elasticloadbalancing:DescribeTags permission to ODR IAM policy
  .changelog/4840.txt
  internal/runnerinstall/ecs.go
Labels: core, backport/0.11.x

#4811 Respecting context when installing the ECS server
  .changelog/4811.txt
  internal/serverinstall/ecs.go
Labels: core

#4848 0.11.2 & 0.11.3 changelog entries
  CHANGELOG.md
Labels: pr/no-changelog

#4847 update ecr-pull to support doing entrypoint injection
  .changelog/4847.txt
  builtin/aws/alb/plugin.pb.go
  builtin/aws/ami/plugin.pb.go
  builtin/aws/ec2/plugin.pb.go
  builtin/aws/ecr/mapper.go
  builtin/aws/ecr/plugin.pb.go
  builtin/aws/ecr/pull/builder.go
  builtin/aws/ecr/pull/components/builder/aws-ecr-pull-builder/parameters.hcl
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/lambda/function_url/plugin.pb.go
  builtin/aws/lambda/plugin.pb.go
  builtin/azure/aci/plugin.pb.go
  builtin/docker/plugin.pb.go
  builtin/docker/pull/builder.go
  builtin/exec/plugin.pb.go
  builtin/files/plugin.pb.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/helm/plugin.pb.go
  builtin/k8s/plugin.pb.go
  builtin/nomad/canary/plugin.pb.go
  builtin/nomad/jobspec/plugin.pb.go
  builtin/nomad/plugin.pb.go
  builtin/pack/plugin.pb.go
  embedJson/gen/builder-aws-ecr-pull.json
  website/content/partials/components/builder-aws-ecr-pull.mdx
Labels: website, plugin, plugin/google, plugin/docker, plugin/nomad, plugin/pack, plugin/k8s, plugin/azure, plugin/aws, backport/0.11.x

#4859 internal/server/boltdbstate: fix dropped errors
  internal/server/boltdbstate/pipeline_run.go
Labels: core, pr/no-changelog

#4862 Update TSCCR
  .github/workflows/build.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
  .github/workflows/jira.yml
  .github/workflows/labeler.yml
Labels: pr/no-changelog
