Repository hashicorp/waypoint, pull requests merged in 2023-01, with the labels that each got.

#4359 docs: Updating legacy links
  website/content/docs/intro/use-cases/waypoint-gh-actions.mdx
Labels: documentation, website, pr/no-changelog

#4246 feat(cli): add socket-path flag to runner install
  .changelog/4246.txt
  internal/runnerinstall/docker.go
  website/content/commands/runner-install.mdx
Labels: core, website

#4362 Fixed Stanzas example
  website/content/docs/waypoint-hcl/syntax/index.mdx
Labels: website, backport/website

#4366 Docker server install - runner Docker socket binding fix
  internal/runnerinstall/docker.go
  internal/serverinstall/docker.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website, pr/no-changelog, backport/0.10.x

#4363 Fix order of HTTP and gRPC server addresses in Nomad server install
  .changelog/4363.txt
  internal/serverinstall/nomad.go
Labels: core, backport/0.10.x

#4356 core/server: only queue init ops for active projects
  pkg/server/singleprocess/service_project.go
Labels: pr/no-changelog, core/server

#4370 website: Move Use Cases to top level nav
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/use-cases/waypoint-gh-actions.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, pr/no-changelog

#4375 Backport use case nav
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/use-cases/waypoint-gh-actions.mdx
  website/data/docs-nav-data.json
Labels: website, pr/no-changelog, backport/0.10.x

#4376 [docs]: fix pipeline command
  website/content/docs/pipelines/index.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#4361 Scoped config sources documentation
  website/content/docs/app-config/dynamic.mdx
Labels: documentation, website, backport/website, pr/no-changelog, backport/0.10.x

#4381 Fixing job heartbeat test
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog

#4382 Scoped Config Sources Upgrade Fix
  .changelog/4382.txt
  internal/server/boltdbstate/config_source.go
Labels: bug, core, backport/0.10.x

#4322 Use case: migrate clouds
  website/content/docs/use-cases/migrate-clouds.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/migrate-clouds/display-app-in-project.png
  website/public/img/use-cases/migrate-clouds/display-deployed-app.png
Labels: documentation, website, backport/website, pr/no-changelog

#4380 Use Case: Service mesh microservice deployment
  website/content/docs/use-cases/service-mesh-microservice-deployment.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/service-mesh-microservice-deployment/countdash-ui-accessible.png
  website/public/img/use-cases/service-mesh-microservice-deployment/counter-api-nomad-status.png
  website/public/img/use-cases/service-mesh-microservice-deployment/counter-ui-inaccessible.png
Labels: documentation, website, backport/website, pr/no-changelog

#4396 Backport fix: Service mesh use case
  website/content/docs/use-cases/service-mesh-microservice-deployment.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/service-mesh-microservice-deployment/countdash-ui-accessible.png
  website/public/img/use-cases/service-mesh-microservice-deployment/counter-api-nomad-status.png
  website/public/img/use-cases/service-mesh-microservice-deployment/counter-ui-inaccessible.png
Labels: website

#4374 update changelog type for PR 4246
  .changelog/4246.txt
Labels: pr/no-changelog

#4406 Fix miniature typo in dynamic-config-vault use case
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website, backport/website, pr/no-changelog, backport/0.10.x

#4413 website: Fix typo in readme
  website/README.md
Labels: website, pr/no-changelog, backport/0.10.x

#4409 Backport of Fix miniature typo in dynamic-config-vault use case into release/0.10.x
  website/content/docs/intro/use-cases/dynamic-config-vault-dynamic-secrets.mdx
Labels: website

#4420 website: add missing page descriptions
  website/content/commands/index.mdx
  website/content/plugins/index.mdx
Labels: website, backport/website, pr/no-changelog

#4419 Add pipeline methods to gateway.yml
  pkg/server/gen/server.pb.gw.go
  pkg/server/gen/server.swagger.json
  pkg/server/proto/gateway.yml
Labels: pr/no-changelog, core/api, core/pipeline

#4424 CLI: Fix panics in `waypoint pipeline list` and `waypoint pipeline inspect`
  .changelog/4424.txt
  internal/cli/pipeline_inspect.go
  internal/cli/pipeline_list.go
Labels: bug, core, backport/0.10.x

#4357 Allow complex non-string types for dynamic default variables
  .changelog/4357.txt
  builtin/tfc/config_sourcer.go
  builtin/tfc/config_sourcer_test.go
  builtin/tfc/testdata/state-version-complex.json
  builtin/tfc/testdata/state-version.json
  embedJson/gen/builder-aws-ami.json
  embedJson/gen/builder-aws-ecr-pull.json
  embedJson/gen/builder-docker-pull.json
  embedJson/gen/builder-docker-ref.json
  embedJson/gen/builder-docker.json
  embedJson/gen/builder-files.json
  embedJson/gen/builder-pack.json
  embedJson/gen/configsourcer-aws-ssm.json
  embedJson/gen/configsourcer-consul.json
  embedJson/gen/configsourcer-kubernetes.json
  embedJson/gen/configsourcer-packer.json
  embedJson/gen/configsourcer-terraform-cloud.json
  embedJson/gen/configsourcer-vault.json
  embedJson/gen/platform-aws-ec2.json
  embedJson/gen/platform-aws-ecs.json
  embedJson/gen/platform-aws-lambda.json
  embedJson/gen/platform-azure-container-instance.json
  embedJson/gen/platform-docker.json
  embedJson/gen/platform-exec.json
  embedJson/gen/platform-google-cloud-run.json
  embedJson/gen/platform-helm.json
  embedJson/gen/platform-kubernetes-apply.json
  embedJson/gen/platform-kubernetes.json
  embedJson/gen/platform-nomad-jobspec.json
  embedJson/gen/platform-nomad.json
  embedJson/gen/registry-aws-ecr.json
  embedJson/gen/registry-docker.json
  embedJson/gen/registry-files.json
  embedJson/gen/releasemanager-aws-alb.json
  embedJson/gen/releasemanager-kubernetes.json
  embedJson/gen/releasemanager-lambda-function-url.json
  embedJson/gen/releasemanager-nomad-jobspec-canary.json
  embedJson/gen/task-aws-ecs.json
  embedJson/gen/task-docker.json
  embedJson/gen/task-kubernetes.json
  embedJson/gen/task-nomad.json
  go.mod
  go.sum
  internal/appconfig/doc.go
  internal/appconfig/testing.go
  internal/appconfig/watcher.go
  internal/appconfig/watcher_test.go
  internal/ceb/virtualceb/ceb.go
  internal/config/variables/testdata/dynamic_map.hcl
  internal/config/variables/variables.go
  internal/config/variables/variables_test.go
  internal/core/component_creator.go
  website/content/docs/app-config/internal.mdx
  website/content/partials/components/configsourcer-terraform-cloud.mdx
Labels: core, website, plugin

#4367 Backport of Docker server install - runner Docker socket binding fix into release/0.10.x
  internal/runnerinstall/docker.go
  internal/serverinstall/docker.go
  website/content/commands/install.mdx
  website/content/commands/runner-install.mdx
  website/content/commands/server-install.mdx
  website/content/commands/server-upgrade.mdx
Labels: core, website

#4426 Add to runner profile docs
  website/content/docs/runner/profiles.mdx
Labels: website, backport/website, pr/no-changelog

#4432 docs: convert link to be relative to developer
  website/content/docs/use-cases/waypoint-gh-actions.mdx
Labels: documentation, website, backport/website, pr/no-changelog

#4434 Backport of docs: convert link to be relative to developer into release/0.10.x
  website/content/docs/intro/use-cases/waypoint-gh-actions.mdx
Labels: website

#4435 cli: Include full help flags for `runner inspect` command
  .changelog/4435.txt
  internal/cli/runner_inspect.go
  website/content/commands/runner-inspect.mdx
Labels: core, website, backport/0.10.x

#4390 enhance the env vars documentation with some on demand runner specifics
  website/content/docs/waypoint-hcl/variables/input.mdx
Labels: website, backport/website, pr/no-changelog

#4418 Add CORS options to lambda-function-url releaser
  .changelog/4418.txt
  builtin/aws/lambda/function_url/releaser.go
  embedJson/gen/releasemanager-lambda-function-url.json
  website/content/partials/components/releasemanager-lambda-function-url.mdx
Labels: website, plugin, plugin/aws

#4448 Add temporary link to current community plugin list
  website/content/plugins/index.mdx
Labels: website, backport/website, pr/no-changelog

#4452 Update plugin-sdk. Fixes #4443
  embedJson/gen/builder-docker-pull.json
  embedJson/gen/builder-docker.json
  embedJson/gen/platform-aws-ec2.json
  embedJson/gen/platform-aws-ecs.json
  embedJson/gen/platform-docker.json
  embedJson/gen/platform-google-cloud-run.json
  embedJson/gen/platform-kubernetes.json
  embedJson/gen/platform-nomad.json
  embedJson/gen/registry-docker.json
  embedJson/gen/releasemanager-kubernetes.json
  embedJson/gen/releasemanager-lambda-function-url.json
  embedJson/gen/task-docker.json
  embedJson/gen/task-kubernetes.json
  go.mod
  go.sum
  website/content/partials/components/builder-docker-pull.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/platform-aws-ec2.mdx
  website/content/partials/components/platform-aws-ecs.mdx
  website/content/partials/components/platform-docker.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-docker.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/content/partials/components/releasemanager-lambda-function-url.mdx
  website/content/partials/components/task-docker.mdx
  website/content/partials/components/task-kubernetes.mdx
Labels: website, pr/no-changelog

#4451 chore: add missing inputs/outputs
  builtin/aws/ami/builder.go
  builtin/docker/builder.go
  builtin/files/builder.go
  builtin/files/registry.go
  builtin/google/cloudrun/platform.go
  builtin/google/cloudrun/releaser.go
  builtin/k8s/apply/platform.go
  builtin/k8s/helm/platform.go
  builtin/k8s/platform.go
  builtin/k8s/releaser.go
  builtin/nomad/canary/releaser.go
  builtin/nomad/jobspec/platform.go
  builtin/nomad/platform.go
  embedJson/gen/builder-aws-ami.json
  embedJson/gen/builder-docker.json
  embedJson/gen/builder-files.json
  embedJson/gen/platform-google-cloud-run.json
  embedJson/gen/platform-helm.json
  embedJson/gen/platform-kubernetes-apply.json
  embedJson/gen/platform-kubernetes.json
  embedJson/gen/platform-nomad-jobspec.json
  embedJson/gen/platform-nomad.json
  embedJson/gen/registry-files.json
  embedJson/gen/releasemanager-google-cloud-run.json
  embedJson/gen/releasemanager-kubernetes.json
  embedJson/gen/releasemanager-nomad-jobspec-canary.json
  website/content/partials/components/builder-aws-ami.mdx
  website/content/partials/components/builder-docker.mdx
  website/content/partials/components/builder-files.mdx
  website/content/partials/components/platform-google-cloud-run.mdx
  website/content/partials/components/platform-helm.mdx
  website/content/partials/components/platform-kubernetes-apply.mdx
  website/content/partials/components/platform-kubernetes.mdx
  website/content/partials/components/platform-nomad-jobspec.mdx
  website/content/partials/components/platform-nomad.mdx
  website/content/partials/components/registry-files.mdx
  website/content/partials/components/releasemanager-google-cloud-run.mdx
  website/content/partials/components/releasemanager-kubernetes.mdx
  website/content/partials/components/releasemanager-nomad-jobspec-canary.mdx
Labels: website, plugin, plugin/google, plugin/docker, plugin/nomad, plugin/k8s, plugin/aws, pr/no-changelog

#4444 New make command to generate plugin protos with docker
  Makefile
  builtin/aws/alb/main.go
  builtin/aws/alb/plugin.pb.go
  builtin/aws/alb/plugin.proto
  builtin/aws/ami/main.go
  builtin/aws/ami/plugin.pb.go
  builtin/aws/ec2/main.go
  builtin/aws/ec2/plugin.pb.go
  builtin/aws/ecr/ecr.go
  builtin/aws/ecr/plugin.pb.go
  builtin/aws/ecs/main.go
  builtin/aws/ecs/plugin.pb.go
  builtin/aws/lambda/function_url/plugin.go
  builtin/aws/lambda/function_url/plugin.pb.go
  builtin/aws/lambda/lambda.go
  builtin/aws/lambda/plugin.pb.go
  builtin/azure/aci/aci.go
  builtin/azure/aci/plugin.pb.go
  builtin/docker/main.go
  builtin/docker/plugin.pb.go
  builtin/exec/main.go
  builtin/exec/plugin.pb.go
  builtin/files/files.go
  builtin/files/plugin.pb.go
  builtin/google/cloudrun/cloudrun.go
  builtin/google/cloudrun/plugin.pb.go
  builtin/k8s/apply/plugin.go
  builtin/k8s/apply/plugin.pb.go
  builtin/k8s/helm/plugin.go
  builtin/k8s/helm/plugin.pb.go
  builtin/k8s/k8s.go
  builtin/k8s/plugin.pb.go
  builtin/nomad/canary/plugin.go
  builtin/nomad/canary/plugin.pb.go
  builtin/nomad/jobspec/plugin.go
  builtin/nomad/jobspec/plugin.pb.go
  builtin/nomad/nomad.go
  builtin/nomad/plugin.pb.go
  builtin/pack/main.go
  builtin/pack/plugin.pb.go
  embedJson/gen/platform-aws-lambda.json
  website/content/partials/components/platform-aws-lambda.mdx
Labels: website, plugin, plugin/google, plugin/docker, plugin/nomad, plugin/pack, plugin/k8s, plugin/azure, plugin/aws, pr/no-changelog

#4395 Backport of Use Case: Service mesh microservice deployment into release/0.10.x
  embedJson/gen/releasemanager-lambda-function-url.json
  website/content/docs/use-cases/blue-green-deployment.mdx
  website/content/docs/use-cases/dynamic-config-vault-dynamic-secrets.mdx
  website/content/docs/use-cases/migrate-clouds.mdx
  website/content/docs/use-cases/service-mesh-microservice-deployment.mdx
  website/content/docs/use-cases/waypoint-gh-actions.mdx
  website/data/docs-nav-data.json
  website/public/img/use-cases/service-mesh-microservice-deployment/countdash-ui-accessible.png
  website/public/img/use-cases/service-mesh-microservice-deployment/counter-api-nomad-status.png
  website/public/img/use-cases/service-mesh-microservice-deployment/counter-ui-inaccessible.png
Labels: website

#4467 Not ignoring errors in the job service
  pkg/server/singleprocess/service_job.go
Labels: pr/no-changelog

#4465 maint: Send useful error message on bad token magic string
  pkg/server/singleprocess/auth.go
Labels: pr/no-changelog

#4469 test: Ensure a project and pipeline run is upserted for test
  pkg/serverstate/statetest/test_job.go
Labels: pr/no-changelog
